@{
    ViewData["Title"] = "TechnoApp Media Library: Explore Crypto Content";
}
@section Header {
    <meta name="description" content="Dive into the TechnoApp Media Library for a wealth of crypto content. Stay informed, entertained, and connected with our diverse range of multimedia resources." />
      <meta property="og:title" content="An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token">
    <meta property="og:site_name" content="TechnoApp">
    <meta property="og:url" content="@this.Url.PageLink()">
    <meta property="og:description" content="An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token">
    <meta property="og:type" content="article">
    <meta property="og:image" content="@this.Url.PageLink()">
}


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6 col-12">
            <div class="css566-heading mb-3">
                <h2> Media Library </h2>
                <div class="divider"></div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="index-links">
                    <ul>
                        <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a></li>
                        <li>|</li>
                        <li>Media Library</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Media Page -->
    <section class="blog-section mt-5">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog-col-8 main-page-blog-col8">                
                    <h1>  An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token  </h1>
                    <!-- <h5 class="heading-5"> Metatile: Acquiring TechnoSavvy can make you rich shortly: Here is why? </h5> -->


                    <div class="row">
                        <div class="socialsharediv43">
                            <ul class="trg65">
                                <li><i class="fa fa-share"></i> Share </li>
                            </ul>

                            <div class="invite-social-icon">
                                <ul class="sharesocial">
                                    <li class="social-share-url4 facebook"><a href="javascript:void(0)" id="shareBtnface"><img src="../images/facebook-icon.png" alt="image"></a></li>
                                    <li class="social-share-url4 twitter"><a href="javascript:void(0)" id="shareOnTwitterButton"><img src="../images/twitter-icon.png" alt="image"></a></li>
                                    <li class="social-share-url4 telegram"><a href="javascript:void(0)" id="shareBtnTelegram"><img src="../images/telegram.png" alt="image"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  <img src="../images/AnIntroduction.jpg" alt="image">
                    <p>
                        You may have come across different cryptocurrency exchanges in the world. However, you should examine the trading costs, transaction volume, and operational transparency before opening an account with any cryptocurrency exchange.
                    </p>
                    <p> Higher transaction fees and complicated settlement issues are prevailing in the crypto trading industry. Have you ever encountered a trading system that provides positive cashbacks for participating in crypto? </p>
                    <p>Here we are with the zero-transaction fee and Next-Generation revenue-positive cryptocurrency trading ecosystem TechnoApp.  <a asp-controller="blog" asp-action="an-introduction-to-TechnoApp" class="url-1"> Read More &gt;&gt; </a> </p>
              
                </div>

                <div class="row three-col-blog">
                    <div class="col-lg-6 col-md-6">
                        <div class="row latest-blog-list bottom-blog-list">
                            <a asp-controller="blog" asp-action="what-is-TechnoSavvy">
                                <img src="/images/wht-TechnoSavvy3.jpg" alt="image">
                                <h4>What is TechnoSavvy: Why Is It a Good Investment? </h4>
                                <p>Trading in cryptocurrencies is like riding a giant roller coaster.<span class="url-1"> Read More &gt;&gt;</span> </p>
                            </a>
                          
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="row latest-blog-list bottom-blog-list">
                            <a asp-controller="blog" asp-action="what-is-value">
                                <img src="/images/what-value.jpg" alt="image">
                                <h4>What is Value Variance Inflationary Token? </h4>
                                <p>The term Inflation is associated with macroeconomics in determining..<span class="url-1"> Read More &gt;&gt;</span></p>
                            </a>
                             
                        </div>
                    </div>
                </div>

            </div>
              <div class="col-lg-4 col-md-4">
                @await Html.PartialAsync("../Blog/_blogSide")
            </div>
            </div>
        </div>
    </section>
    <!-- // blog section -->


    <!-- infographic section -->
    <section class="infographic-sec mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 infographic-head head-bg mb-3">
                    <h6> Infographic </h6>
                    <div class="border-line"></div>
                </div>
                <div class="css566-slide">
                    <div class="owl-slider">
                        <div id="carouselML" class="owl-carousel info-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"> 
                                  
                                <div class="owl-item">
                                    <div class="item">
                                        <div class="info-box22">
                                        <a href="/images/pdf/cashback-benefits.pdf" target="_blank">
                                            <img src="/images/cashback-benefits.jpg">
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="item">
                                        <div class="info-box22">
                                        <a href="/images/pdf/cashback-TechnoSavvy.pdf" target="_blank">
                                            <img src="/images/cashback-TechnoSavvy.jpg">
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="item">
                                        <div class="info-box22">
                                        <a href="/images/pdf/How-trade-Crypto-currency.pdf" target="_blank">
                                            <img src="/images/How-trade-Crypto-currency.jpg">
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="info-box22">
                                    <div class="item">
                                        <a href="/images/pdf/TechnoSavvy-ERC-20.pdf" target="_blank">
                                            <img src="/images/TechnoSavvy-ERC-20.jpg">
                                        </a>
                                    </div></div>
                                </div>
                                </div>
                            </div>
                            
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // infographic section -->

  <!-- video section -->
  <section class="video-sec mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 infographic-head head-bg video-head">
                <h6> Videos </h6>
                <div class="border-line"></div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 col-lg-3">
                <a href="https://www.youtube.com/embed/Ih4BpDY85uE?rel=0" target="_blank" class="video-col video-col-2">
                    <div class="videoimg54"><img src="images/video-1.jpg" /> </div>
                    <h4> TechnoApp World's First Revenue Positive Cryptocurrency Exchange </h4>
                    <p> TechnoApp is a Sidechain Linked Exchange on Ethereum Network for all cryptocurrency Exchange, which is exclusively driven by the TechnoSavvy.... </p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-lg-3">
                <a href="https://www.youtube.com/embed/DICpJlrM-tE?rel=0" target="_blank" class="video-col video-col-2">
                    <div class="videoimg54"><img src="images/video-2.jpg" /> </div>                   
                    <h4> TechnoSavvy Token Empowers Diversified Crypto Portfolio </h4>
                    <p>  Diversification helps to spread risk and reduce volatility, which can make the overall portfolio less risky and more stable.  </p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-lg-3">
                <a href="https://www.youtube.com/embed/f0vTvx5ZcxI?rel=0" target="_blank" class="video-col video-col-2">
                    <div class="videoimg54"><img src="images/video-3.jpg" /> </div>
                    <h4> TechnoSavvy Token price grows with each... </h4>
                    <p> The unique Automated Market Maker of TechnoApp ensures that all the transaction route through TechnoSavvy token, which in turn creates....  </p>
                </a>                
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 col-lg-3">
                <a href="https://www.youtube.com/embed/WWJYiycOSD8?rel=0" target="_blank" class="video-col video-col-2">
                    <div class="videoimg54"><img src="images/video-4.jpg" /> </div>
                    <h4> Why Invest in TechnoSavvy Token? </h4>
                    <p> TechnoSavvy is the native utility token of the Next-Generation cryptocurrency exchange, TechnoApp  </p>
                    <p> Why You Should Invest in TechnoSavvy Token?  </p>
                </a>    
            </div>
        </div>
    </div>
  </section>
  <!-- // video section -->

  <!-- // Start Media Page -->
@section Scripts{
     <script async src="~/js/shareblog.js" ></script>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
