@using TechnoApp.Ext.Web.UI.Static;
@model vmForgetPassword
@{
    ViewData["Title"] = "ForgetPassword";
    
    //if (ConfigEx.VersionType == versionType.PreBeta)
    //    Layout = "_LayoutPre";

}

<section class="section-login bg2">
    <div class="container">
        <div class="login-box" id="login-tab">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="login-img"> <img src="~/images/login-img.png"> </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="login-form">
                        <h1> Forgot Password</h1>
                         <div id="email" class="tab-pane  active show">
                                    <div class="acc-log-box">
                                <form asp-action="CheckUserAndSendOtp" asp-controller="SignUp" autocomplete="off"  id="forgetpwd" class="was-validated" novalidate>
                                    @*----------------------*@
                                    
                                    @Html.HiddenFor(x=>x._CookieConsent)
                                    @Html.HiddenFor(x=>x._Country)
                                    @Html.HiddenFor(x=>x._Theme)

                                    @*----------------------*@
                                            
                                            <div class="form-group" style="position:relative">
                                                <input type="email" asp-for="Email" class="form-control  " placeholder="Enter email" name="email" required>
                                                <div class=" text-danger">
                                                    <span asp-validation-for="Email"></span>
                                                </div>
                                                <div asp-validation-summary="All" class="text-left text-danger"></div>
                                            </div>
                                            <button class="btn  gent-btn" onclick="return CheckFormValid('loginform')" type="submit"> Continue </button>

                                        </form>

                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


