@model vmBase
@{
  
}
<section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="css566-heading mb-3">
                    <h1> Referral Program </h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="index-links">
                    <ul>
                        <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> </li>
                        <li> Referral Program </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="card-hero1 bg1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12  order-lg-0 order-md-2 order-sm-1 order-1">
                <div class="main-banner-content pt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-main aos-init new-text" data-aos="fade-up">
                        <h4>
                            <span>TechnoApp Referral Program</span><br>
                            Invite your Friends &amp; Earn Free TechnoSavvy for them &amp; yourself.
                        </h4>
                        <p>
                            TechnoApp’s Referral Program set forth basic Terms &amp; Conditions which is to be followed
                            to avail TechnoApp referral bonus. User can refer to <a asp-controller="policy" asp-action="referral-policy">TechnoApp Referral Policy</a> for detailed
                            information. Come and Join TechnoApp Referral Program as it benefits Referrer and
                            Referee both!!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 aos-init img1" data-aos="fade-up-right">
                <img src="images/reffrealprogram.png" alt="" class="aos-init" data-aos="fade-up-right">
            </div>
        </div>
    </div>
</section>

<section class="content card-hero1">
    <div class="container">
        <h6 class="aos-init aos-animate mt-2">Referral Bonus</h6>
        <p class="aos-init aos-animate">
            User may avail Bonus as follows on referring a Friend: In order to avail Referral Bonus, User is required to refer or share their referral code within his community/circle and once such referred person becomes an eligible referee by securing minimum TechnoSavvy token worth of 20 USDT then Referrer get TechnoSavvy Tokens worth of $1 (USD), and Referee will get TechnoSavvy Tokens worth of $3 (USD) in their wallets.
        </p>
        <h6 class="aos-init">Perpetual Commissions</h6>
        <p class="aos-init">
            A registered user is eligible to earn more bonus in the form of Commissions which will be paid on monthly basis on fulfillment of certain conditions as;
        </p>
        <table id="customers" class="aos-init" data-aos="flip-up">
            <thead>
                <tr>
                    <th width="7%" class="text-left">S.No.</th>
                    <th width="43%" class="text-left">Condition</th>
                    <th width="50%" class="text-left">Commission</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left"><b>1.</b></td>
                    <td class="text-left">On referring 5,000-9999 Active Users<span class="commcss4">*</span></td>
                    <td class="text-left">Up to +20% of the “Referee’s Cashback” as commission</td>
                </tr>
                <tr>
                    <td class="text-left"><b>2.</b></td>
                    <td class="text-left"> On referring 10,000-19,999 Active Users<span class="commcss4">*</span></td>
                    <td class="text-left">Up to +30% of the “Referee’s Cashback” as commission</td>
                </tr>
                <tr>
                    <td class="text-left"><b>3.</b></td>
                    <td class="text-left">On referring 20,000-99,999 Active Users<span class="commcss4">*</span> </td>
                    <td class="text-left">Up to +40% of the “Referee’s Cashback” as commission </td>
                </tr>
                <tr>
                    <td class="text-left"><b>4.</b></td>
                    <td class="text-left">On referring 100,000 or more Active Users<span class="commcss4">*</span></td>
                    <td class="text-left">Up to +50% of the “Referee’s Cashback” as commission</td>
                </tr>
            </tbody>
        </table>
        <p class="aos-init">
            <i> <span class="commcss4">*</span>Active user: A user who executes a minimum of $10 (USD) in trades on TechnoApp in a given month.</i><br><br>
            Any registered user who is referring less than 5000 Active Users, will not be eligible to earn any Perpetual Commission but the Referrer will earn TechnoSavvy Tokens as a referral bonus equivalent to $1 (USD) for each eligible referee. Additionally, the same Referrer will also be eligible to earn TechnoSavvy Tokens worth $10 (USD) for every 100 eligible referees.
                    </p>
    </div>
</section>
<section class="content aos-init aos-animate " data-aos="zoom-out-up">
    <div class="bg-refer ">
        <div class="container">
            <h5>How to refer and earn TechnoSavvy?</h5>
            <h4>
                In order to refer and earn on TechnoApp within your community, please<br>
                follow below mentioned steps.
            </h4>
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 col-12 aos-init" data-aos="fade-down-left">
                    <div class="bg-colume">
                        <div class="number_4">1</div>
                        <p>
                            Register on TechnoApp &amp;  <br>
                            Generate Your unique<br>
                            Referral Link
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                    <div class="bg-colume">
                        <div class="number_4">2</div>
                        <p>
                            Share and Invite friends <br>
                            to sign up with your<br>
                            referral link&nbsp;
                        </p>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                    <div class="bg-colume">
                        <div class="number_4">3</div>
                        <p>
                            On successful securing of minimum TechnoSavvy token worth of 20 USDT by your friend you will get $1 TechnoSavvy and Your Friend will get $3 TechnoSavvy
                        </p>
                    </div>
                </div>
                @if (Model._SessionHash.IsNullOrEmpty())
                {
                    <div class="col-12">
                        <div class="reff-login654">
                            <a asp-action="Login" asp-controller="Login"> Login </a> to Get Referral code
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group second-input newsletter-form">
                        @* ToDo:Place Valid Referral Code *@
                        <input type="text" value="This is Demo Referral Code Text" class="js-copytextarea input-newsletter">
                        <button type="submit" class="js-textareacopybtn">Copy <i class="fa fa-files-o"></i></button>
                        <!-- <p class="js-textareacopybtn"><i class="fa fa-copy"></i></p> -->
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@if (Model._SessionHash.IsNOT_NullorEmpty())
{
    @* ToDo:Place Valid values Here..*@
    <section class=" width100">
        <div class="container">
            <div class="row">

                <!--============================-->
                <div class="col-lg-4 col-md-4 ">
                    <div class="refsecr-box ">
                        <p>Total No. of Referred</p>
                        <h3>50</h3>
                    </div>
                </div>

                <!--============================-->
                <!------------------>
                <div class="col-lg-4 col-md-4 ">
                    <div class="refsecr-box ">
                        <p>
                            Total No. of Eligible Referee <span class="d-inline-block opencss11" tabindex="0"
                                                                data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Eligible Referee : Referee who secure minimum TechnoSavvy Tokens worth of 20 USDT ">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </span>
                        </p>
                        <h3>45</h3>
                    </div>
                </div>

                <!--============================-->

                <div class="col-lg-4 col-md-4">
                    <div class="refsecr-box ">
                        <p>Total Reward</p>
                        <div class="css33-token  ">
                            <span><img src="images/nav-icon.png"> </span>
                            <span class="css33-icon-name">
                                500 TechnoSavvy <br> <small> $2345.2300 </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section class="width100 mb-5 content mt-3 ">
    <div class="container">
        <div class="row">
            <div class="col-12 aos-init aos-animate" data-aos="fade-up-right">
                <p>
                    Referrers can refer individuals from their community without any limitation in order to maximize bonuses for both themselves and their community members.
                </p>
                <h6>When will the Bonus be paid</h6>
                <p>The bonus will be added to the user's Earn wallet in the first cashback payout cycle of the following month for the eligible cashback period.</p>
            </div>
        </div>
    </div>
</section>

@section Scripts{
     @if (ConfigEx.ShouldMini)
    {        
        <script src="~/minjs/clipboard.min.js"></script>
    }
    else
    {
        <script src="~/js/clipboard.js"></script>
    }

}