
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->

    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> TechnoApp Disclaimer </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                            <li> Disclaimer </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Disclaimer Page -->
    <section class="bg1">
        <div class="container">
            <div class="row cookies-div">

              <div class="col-lg-4 col-md-8 col-12">
                <img src="~/images/disclimer.png" alt="images" width="100%" height="auto">
              </div>
              <div class="col-lg-8 col-md-8 col-12 mt-4 mb-3">        
                <div class="topic-points">
                  <h3> Topics </h3>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="topic-scroll-box-1">
                        <ul>
                          <li><a href="#NoticeDisclaimer"> Notice & Disclaimer </a></li>
                          <li><a href="#Restrictions"> Restrictions </a></li>
                          <li><a href="#ProjectPurpose"> Project Purpose </a></li>
                          <li><a href="#InformationPublishedOnTheWebsite"> Information Published On The Website </a></li>
                          <li><a href="#DeemedRepresentationsAndWarranties"> Deemed Representations And Warranties </a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="topic-scroll-box-1">
                        <ul>
                          <li><a href="#InformationalPurposesOnly"> Informational Purposes Only </a></li>
                          <li><a href="#RegulatoryApproval"> Regulatory Approval </a></li>
                          <li><a href="#ReferencesToCompanies"> References To Companies </a></li>
                          <li><a href="#EnglishLanguage"> English Language </a></li>
                          <li><a href="#NoDistribution"> No Distribution </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <!-- ============ -->

                <div class="disclimer-div">
                <h5 id="NoticeDisclaimer">Notice &amp; Disclaimer</h5>
                <p> This communication has been prepared solely for informational purposes and is subject to change and users of TechnoApp are required to read this 'Notice and Disclaimer' carefully to avoid ambiguity that may arise in future. </p>
                <p> Neither the websites (i.e., <a href="https://TechnoApp.com/"  class="url-1"> www.TechnoApp.com</a> &amp;  <a href="https://www.TechnoSavvytoken.com/"  class="url-1">www.TechnoSavvytoken.com)</a>, the companies, the Project team members nor its affiliates, subsidiaries who have worked on the project to develop TechnoApp Exchange and its linked TechnoSavvy Token shall be liable for any kind of direct or indirect damage or loss whatsoever which you may suffer in connection with accessing TechnoApp. </p>
                <p>Nothing herein constitutes legal, financial, business, compliance or tax advice or solicitation for investment. You should consult your own legal, financial, tax, or another professional advisor(s) before engaging in any activity in connection herewith. </p>
                <p>You are solely responsible for determining whether any investment, investment strategy or related transaction made on TechnoApp is appropriate for you according to your personal investment objectives, financial circumstances, and risk tolerance. The decision to use products or services is made by you. Information provided on our websites is done in good faith and its use or reliance is solely at your own risk. </p>
           <p>Please read the entirety of this <span>"Notice and Disclaimer"</span> section carefully.  </p>
            </div>
    
            <div class="disclimer-div">
                <h5 id="Restrictions"> Restrictions </h5>
                <p>Restrictions due to compliance regulations for different jurisdictions applies and such jurisdictions are blocked geographically from accessing TechnoApp Portal and take advantage of its services. 
    
                    Many regions of the world restrict the earning of tokens or trading thereof. Neither the companies, the Project team members nor its affiliates, subsidiaries bear legal responsibility in the event that individuals refuse to comply with international laws applicable to their respective jurisdiction. Kindly consider the law governing your region for the most accurate information.</p>
                </div>
    
                <div class="disclimer-div">
                    <h5 id="ProjectPurpose">Project purpose </h5>
                    <p>You agree that you are using this Platform to trade in Cryptocurrencies and majorly invest in TechnoSavvy Tokens. Websites and respective affiliates would develop and contribute to the underlying source code for the TechnoApp. The Website is acting solely to provide trading platform to its users, and not in the capacity as a financial advisor or fiduciary of any person regarding the distribution of TechnoSavvy Token. 
                    </p>
                    </div>
    
                    <div class="disclimer-div head-url">
                        <h5 id="InformationPublishedOnTheWebsite">Information Published on the website <a href="https://TechnoApp.com/" target="blank" class="url-1"> (www.TechnoApp.com)</a> </h5>
                        <p> The information published on the Website is intended for general informational purposes only. We make no representation, warranty or undertaking on the accuracy, adequacy, reliability, or completeness of such information. Further, you acknowledge that circumstances may change and that the Whitepaper, Policies or the Website may become outdated as a result; and neither the Website nor its affiliates are under any obligation to update or correct this document in connection therewith. Statements made herein are as of the publication date and not relied upon as of any subsequent date. Further, the data on-site may be updated from time to time, the company or its affiliates are under no obligation to update these changes to investors. Investors/Traders are advised to visit Policy section from time to time to go through updated Terms. </p>
                        </div>
    
                        <div class="disclimer-div">
                            <h5 id="DeemedRepresentationsAndWarranties">Deemed Representations and Warranties</h5>
                            <p>By accessing the Website and its products, you shall be deemed to represent and warrant to the Website or its respective affiliates, and the team as follows: </p>
                            <div class="collect-disc">
                                <p> as an individual, you are at least 18 or are of legal age to form a binding contract under applicable laws.  </p>
                                <p>being an individual, artificial juridical person, or other legal entity / organization, you have full legal capacity and sufficient authorizations to transact in the product offered by Website.  </p>
                           <p> you or your affiliates have not been previously suspended or removed from using any Financial Services.  </p>
                           <p> in any decision to acquire any TechnoSavvy Token, you have shall not rely on any statement set out on the Website and its policies. </p>
                           <p> You will and shall at your own expense ensure compliance with all laws, regulatory requirements, and restrictions applicable to you (as the case may be). </p>
                            </div>                  
                        <p> The Website, or its respective affiliates and the TechnoApp team do not purport to make, and hereby disclaims, all representations, warranties, or undertaking to any entity or person (including without limitation warranties as to the accuracy, completeness, timeliness, or reliability of the contents of the Whitepaper or the Website, or any other materials published by the Company or its respective affiliates). To the maximum extent permitted by law, the Website  or its respective affiliates and service providers shall not be liable for any indirect, special, incidental, consequential or other losses of any kind, in tort, contract or otherwise (including, without limitation, any liability arising from default or negligence on the part of any of them, or any loss of revenue, income or profits, and loss of use or data) arising from the use of the Whitepaper or the Website, or any other materials published, or its contents (including without limitation any errors or omissions) or otherwise arising in connection with the same. Prospective acquirers of TechnoSavvy Token should carefully consider and evaluate all risks and uncertainties (including financial and legal risks and uncertainties) associated with the distribution of TechnoSavvy Token, the Website, or its respective affiliates and the team. </p>
                        </div>
    
                        <div class="disclimer-div">
                        <h5 id="InformationalPurposesOnly">Informational purposes only</h5>
                        <p>The information set out herein is only conceptual and describes the future development goals for the TechnoApp platform. In particular, the project roadmap in the Whitepaper is being shared in order to outline some of the plans of the team and is provided solely for INFORMATIONAL PURPOSES and does not constitute any binding commitment. Please do not rely on this information in deciding whether to register on TechnoApp, Invest and trade on the platform because ultimately, the development, release, and timing of any products, features or functionality remains at the sole discretion of the Website or its respective affiliates and is subject to change.  </p>
                        
                        </div>
                        <div class="disclimer-div">
                            <h5 id="RegulatoryApproval"> Regulatory approval </h5>
                            <p>No regulatory authority has examined or approved, whether formally or informally, any of the information set out in the Whitepaper or the Website. No such action or assurance has been or will be taken under the laws, regulatory requirements, or rules of any jurisdiction. The publication, distribution or dissemination of the Whitepaper or the Website does not imply that the applicable laws, regulatory requirements, or rules have been complied with. </p>
    
                        </div>
                        <div class="disclimer-div">
                            <h5 id="ReferencesToCompanies"> References to companies</h5>
                            <p> The use of any company and/or names or Trademarks herein (save for those which relate to the Company or its respective affiliates) does not imply any affiliation with, or endorsement by, any third party. References in the Whitepaper or the Website to specific companies are for illustrative purposes only. 
                            </p>
                            </div>
                            <div class="disclimer-div">
                                <h5 id="EnglishLanguage"> English language</h5>
                                <p>The Whitepaper and the Website may be translated into a language other than English for reference purpose only and in the event of conflict or ambiguity between the English language version and translated versions of the Whitepaper or the Website, the English language versions shall prevail. You acknowledge that you have read and understood the English language version of the Whitepaper and the Website. </p>
    
                            </div> 
                            <div class="disclimer-div">
                                <h5 id="NoDistribution">No Distribution</h5>
                                <p>No part of the Whitepaper or the Website is to be copied, reproduced, distributed, or disseminated in any way without the prior written consent of the Company or its respective affiliates. By attending any presentation on this Whitepaper or by accepting any hard or soft copy of the Whitepaper, you agree to be bound by the foregoing limitations. </p>
                                </div>
            </div>
            </div></section>
    <!-- // Disclaimer page -->





  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>

