
<!-------------Outer-section---------------------->



<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->

<!---------------------------------------------------------------------->
<section class="section-login  bg2"> 
      <div class="container">
        <div class="row">
      
            <!----------------------------------------------->
            <div class="wallet-right33"> 
              <div class="wallet-sectdiv33">
                <div id="wallet-tabdiv" class="wallet-tabdiv">
                <div class="heading">Fees & Charges  </div>
                <div class="css99-hisbtn">              
                  <span class="sell-btn-22">  <div class="css77tran-search ">  <form>
                    <input type="text" class="trans-search" placeholder="Search" name="search">
                    <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                  </form></div>
              </span>
                </div>
              </div>
              </div>

<!----------------------------------------------->
              <div class="wallet-sectdiv33">
      
                <div id="wallet-tabdiv" class="wallet-tabdiv">
                <div class="css33wallettab"> 
                  <ul class="nav nav-tabs">
                    <li class="nav-item">    
                      <a class="nav-link mx-0 active" data-bs-toggle="tab" href="#deposit-withdrawalfee">Deposit & Withdrawal Fees</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#trading-fees">Trading Fees</a>
                    </li> 
              
                   
                  </ul>
              
                </div>
</div>
              </div>
<!----------------------------------------------->

    <!----------------------------------------------------->             
    
              
              <div class="wallet-sectdiv33">
              
                  
                  <div id="wallet-tabdiv" class="tab-content tab-wall77">                       
              
       
                    <div class="tab-pane show active" id="deposit-withdrawalfee">
                 
                      <div class="wallet-sectdiv33">
                       <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                          <div class="table-xscroll44">
                                       <table class="table  cssearn-table">
                                         <thead class="trasaction-table-title">
                                             <tr>
                                                 <th nowrap="nowrap" class="css566-table-text">Coin/Token </th>
                                 
                                                 <th nowrap="nowrap" class="css566-table-text">Full Name </th>
                                 
                                                 <th nowrap="nowrap" class="css566-table-text">Network  </th>
                                 
                                                 <th nowrap="nowrap" class="css566-table-text">Minimum Withdrawal</th>
                                 
                                                 <th nowrap="nowrap" class="css566-table-text">Max. Withdraw Amount </th>
                                 
                                                 <th nowrap="nowrap" class="css566-table-text">Deposit Fee </th>
                                                 <th nowrap="nowrap" class="css566-table-text"> Prevailing Gas Fees
                                                  <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Network gas fees as per today to
                                                  execute the transaction" data-bs-original-title="" title=""><i class="fa fa-info-circle css-1circle" aria-hidden="true"></i> </span></th>
                                                 <th nowrap="nowrap" class="css566-table-text">Deposit</th>
                                                 <th nowrap="nowrap" nowrap="nowrap" class="css566-table-text">Withdraw </th>
                                                 
                                                 
                            
                                             </tr>
                                         </thead>
                                         <tbody class="trasaction-table">
                                 
                                             <tr>
                                   
                                                 <td> BNB </td>
                                                <td>BNB</td> 
                                                 <td>Ethereum (ERC20) </td>
                                                 <td> 0.002 BNB </td>
                                                 <td>10 BNB </td>
                                                 <td>Free</td>
                                                 <td>10 BNB</td>
                                                 <td>Enabaled</td>
                                                 <td>Enabaled</td>
                                             </tr>
                               
                                             <tr>
                                   
                                              <td> BNB </td>
                                             <td>BUSD</td> 
                                              <td>Ethereum (ERC20) </td>
                                              <td>16 BUSD</td>
                                              <td>1000 BUSD </td>
                                              <td>Free</td>
                                              <td>8 BUSD</td>
                                              <td>Enabaled</td>
                                              <td>Enabaled</td>
                                          </tr>
                                          <tr>
                                   
                                            <td> BTC </td>
                                           <td>Bitcoin</td> 
                                            <td>Ethereum (ERC20) </td>
                                            <td> 0.00036 BTC </small></td>
                                            <td>3 BTC </td>
                                            <td>Free</td>
                                            <td>0.00018 BTC</td>
                                            <td>Enabaled</td>
                                            <td>Enabaled</td>
                                        </tr>
                                        <tr>
                                   
                                          <td>CHZ </td>
                                         <td>Chiliz</td> 
                                          <td>Ethereum (ERC20) </td>
                                          <td> 44 CHZ </small></td>
                                          <td> 50000 CHZ </td>
                                          <td>Free</td>
                                          <td>22 CHZ</td>
                                          <td>Enabaled</td>
                                          <td>Enabaled</td>
                                      </tr>

                                      <tr>
                                   
                                        <td> DAI </td>
                                       <td>Dai</td> 
                                        <td>Ethereum (ERC20) </td>
                                        <td> 16 DAI </small></td>
                                        <td>10000 DAI </td>
                                        <td>Free</td>
                                        <td>8 DAI</td>
                                        <td>Enabaled</td>
                                        <td>Enabaled</td>
                                    </tr>

                                    <tr>
                                   
                                      <td> ETH </td>
                                     <td>Ethereum</td> 
                                      <td>Ethereum (ERC20) </td>
                                      <td> 0.004 ETH </small></td>
                                      <td>15 ETH </td>
                                      <td>Free</td>
                                      <td>0.002 ETH</td>
                                      <td>Enabaled</td>
                                      <td>Enabaled</td>
                                  </tr>

                                  <tr>
                                   
                                    <td> LUNC </td>
                                   <td>Terra Classic</td> 
                                    <td>Ethereum (ERC20) </td>
                                    <td> 30000 LUNC </small></td>
                                    <td>100000000 LUNC </td>
                                    <td>Free</td>
                                    <td>4.532 LUNC</td>
                                    <td>Enabaled</td>
                                    <td>Enabaled</td>
                                </tr>

                                <tr>                             
                                  <td>LINK </td>
                                 <td>ChainLink</td> 
                                  <td>Ethereum (ERC20) </td>
                                  <td> 8.30 LINK </small></td>
                                  <td>800 LINK </td>
                                  <td>Free</td>
                                  <td>.19 LINK</td>
                                  <td>Enabaled</td>
                                  <td>Enabaled</td>
                              </tr>

                              <tr>
                                <td>  MATIC </td>
                               <td>Polygon</td> 
                                <td>Ethereum (ERC20) </td>
                                <td> 19.44 MATIC </small></td>
                                <td>3200 MATIC</td>
                                <td>Free</td>
                                <td>9.72 MATIC</td>
                                <td>Enabaled</td>
                                <td>Enabaled</td>
                            </tr>

                            <tr>
                              <td>  USDT </td>
                             <td>	TetherUS</td> 
                              <td>Ethereum (ERC20) </td>
                              <td> 16 USDT </small></td>
                              <td>10000 USDT </td>
                              <td>Free</td>
                              <td>8.00 USDT</td>
                              <td>Enabaled</td>
                              <td>Enabaled</td>
                          </tr>

                          <tr>
                            <td>  USDC </td>
                           <td>	USD Coin</td> 
                            <td>Ethereum (ERC20) </td>
                            <td> 16 USDC </small></td>
                            <td>10000 USDC </td>
                            <td>Free</td>
                            <td>10 BNB</td>
                            <td>Enabaled</td>
                            <td>Enabaled</td>
                        </tr>
			

                        <tr>
                          <td>  WBTC </td>
                         <td>Wrapped Bitcoin</td> 
                          <td>Ethereum (ERC20) </td>
                          <td> 0.00036 WBTC </small></td>
                          <td>3 WBTC </td>
                          <td>Free</td>
                          <td>0.00018 WBTC</td>
                          <td>Enabaled</td>
                          <td>Enabaled</td>
                      </tr>
                               
                                         </tbody>
                                     </table>
                      
                      </div>
 
                                 
                                 </div> 
                    </div>
                    </div>
                    <div class="tab-pane fade" id="trading-fees">
                      <div id="wallet-tabdiv" class="wallet-feediv ">   
                        <ul class="nav nav-tabs">
                            <li class="nav-item">    
                              <a class="nav-link active" data-bs-toggle="tab" href="#spot44">Spot</a>
                            </li>                                       
                    
                          </ul>
                    
                          </div>

                          <div class="tab-content css77earn-estimate">
       
                            <div class="tab-pane active" id="spot44">
                      <div class="wallet-sectdiv33">
                          <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">

                              <div id="feesdivcs34" class="table-xscroll44">
                                           <table class="table  cssearn-table">
                                             <thead class="trasaction-table-title">
                                              <tr>
                                                <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text">Market </th>
                                                <th nowrap="nowrap"  rowspan="3" scope="rowgroup" class="css566-table-text">MINIMUM ORDER SIZE </th>                                     
                                                <th nowrap="nowrap"  colspan="2"  class="css566-table-text text-center">Buy </th>
                                                <th nowrap="nowrap"  colspan="2" class="css566-table-text text-center">Sell</th>                                              
                                                <th nowrap="nowrap"  rowspan="3" scope="rowgroup" class="css566-table-text">Cashback<sup>*</sup> </th>
                                                <th nowrap="nowrap"  rowspan="3" scope="rowgroup" class="css566-table-text">Status</th>
                                            </tr>
                                                 <tr>                        
                                                     <th nowrap="nowrap"  class="css566-table-text text-center">Maker Free </th>
                                                     <th nowrap="nowrap"  class="css566-table-text text-center">Taker Free</th>
                                                     <th nowrap="nowrap"  class="css566-table-text text-center">Maker Free </th>
                                                     <th nowrap="nowrap"  class="css566-table-text text-center">Taker Free</th>
                                                     
                                                 </tr>
                                             </thead>
                                             <tbody class="trasaction-table">
                                     
                                                 <tr> 
                                                  <td> BTC/TechnoSavvy </td>
                                                  <td> 0.0001 BTC </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>
                                                 
                                                  <tr> 
                                                    <td> Eth/TechnoSavvy </td>
                                                    <td> 2 TechnoSavvy </td> 
                                                    <td> 0% </td>
                                                    <td> 0%  </td>     
                                                    <td>0%  </td>
                                                    <td> 0%  </td> 
                                                    <td>0%  </td>
                                                    <td> Active</td>   
                                                    </tr>
                                             
                                                    <tr> 
                                                      <td> TechnoSavvy/USDT </td>
                                                      <td> 2 USDT </td> 
                                                      <td> 0% </td>
                                                      <td> 0%  </td>     
                                                      <td>0%  </td>
                                                      <td> 0%  </td> 
                                                      <td>0%  </td>
                                                      <td> Active</td>   
                                                      </tr>
                                   
                                                      <tr> 
                                                        <td> BTC/USDT </td>
                                                        <td> 0.0001 BTC </td> 
                                                        <td> 0% </td>
                                                        <td> 0%  </td>     
                                                        <td>0%  </td>
                                                        <td> 0%  </td> 
                                                        <td>0.1%  </td>
                                                        <td> Active</td>   
                                                        </tr>
                                                      
                                                 <tr> 
                                                  <td> ETC/USDT </td>
                                                  <td> 2 USDT </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0.1%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> BUSD/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> USDC/TechnoSavvy </td>
                                                  <td> 2 USDC</td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> BNB/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> CHZ/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td>MATIC/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> LINK/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td> DAI/TechnoSavvy </td>
                                                  <td> 2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>

                                                  
                                                 <tr> 
                                                  <td>WBTC/TechnoSavvy </td>
                                                  <td> 0.0001 WBTC </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>
                                                   
                                                 <tr> 
                                                  <td>LUNC/TechnoSavvy </td>
                                                  <td>2 TechnoSavvy </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td>0%  </td>
                                                  <td> Active</td>   
                                                  </tr>
                                                   
                                                 <tr> 
                                                  <td>LUNC/ETH </td>
                                                  <td> 0.002 ETH </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td> 0.1%  </td>
                                                  <td> Active</td>   
                                                  </tr>
                                                   
                                                 <tr> 
                                                  <td>BUSD/USDT </td>
                                                  <td> 2 USDT </td> 
                                                  <td> 0% </td>
                                                  <td> 0%  </td>     
                                                  <td>0%  </td>
                                                  <td> 0%  </td> 
                                                  <td> 0.1%  </td>
                                                  <td> Active</td>   
                                                  </tr>
                                                  <tr> 
                                                    <td>USDC/USDT </td>
                                                    <td> 2 USDT </td> 
                                                    <td> 0% </td>
                                                    <td> 0%  </td>     
                                                    <td>0%  </td>
                                                    <td> 0%  </td> 
                                                    <td> 0.1% </td>
                                                    <td> Active</td>   
                                                    </tr>
                                                    <tr> 
                                                      <td>BNB/USDT </td>
                                                      <td> 02 USDT </td> 
                                                      <td> 0% </td>
                                                      <td> 0%  </td>     
                                                      <td>0%  </td>
                                                      <td> 0%  </td> 
                                                      <td> 0.1% </td>
                                                      <td> Active</td>   
                                                      </tr>
                                                      <tr> 
                                                        <td>CHZ/USDT </td>
                                                        <td> 2 USDT </td> 
                                                        <td> 0% </td>
                                                        <td> 0%  </td>     
                                                        <td>0%  </td>
                                                        <td> 0%  </td> 
                                                        <td> 0.1%  </td>
                                                        <td> Active</td>   
                                                        </tr>
                                                        <tr> 
                                                          <td>MATIC/USDT </td>
                                                          <td> 2 USDT </td> 
                                                          <td> 0% </td>
                                                          <td> 0%  </td>     
                                                          <td>0%  </td>
                                                          <td> 0%  </td> 
                                                          <td> 0.1%  </td>
                                                          <td> Active</td>   
                                                          </tr>
                                                          <tr> 
                                                            <td>LINK/USDT </td>
                                                            <td> 2 USDT</td> 
                                                            <td> 0% </td>
                                                            <td> 0%  </td>     
                                                            <td>0%  </td>
                                                            <td> 0%  </td> 
                                                            <td> 0.1%  </td>
                                                            <td> Active</td>   
                                                            </tr>
                                                            <tr> 
                                                              <td>DAI/USDT </td>
                                                              <td> 2 USDT </td> 
                                                              <td> 0% </td>
                                                              <td> 0%  </td>     
                                                              <td>0%  </td>
                                                              <td> 0%  </td> 
                                                              <td> 0.1%  </td>
                                                              <td> Active</td>   
                                                              </tr>
                                                              <tr> 
                                                                <td>WBTC/USDT </td>
                                                                <td> 0.0001 BTC </td> 
                                                                <td> 0% </td>
                                                                <td> 0%  </td>     
                                                                <td>0%  </td>
                                                                <td> 0%  </td> 
                                                                <td> 0.1% </td>
                                                                <td> Active</td>   
                                                                </tr>
                                                                <tr> 
                                                                  <td>LUNC/USDT </td>
                                                                  <td> 2 USDT</td> 
                                                                  <td> 0% </td>
                                                                  <td> 0%  </td>     
                                                                  <td>0%  </td>
                                                                  <td> 0%  </td> 
                                                                  <td> 0.1%  </td>
                                                                  <td> Active</td>   
                                                                  </tr>
                                                                  <tr> 
                                                                    <td>ETH/BTC </td>
                                                                    <td> 0.0001 BTC </td> 
                                                                    <td> 0% </td>
                                                                    <td> 0%  </td>     
                                                                    <td>0%  </td>
                                                                    <td> 0%  </td> 
                                                                    <td> 0.1% </td>
                                                                    <td> Active</td>   
                                                                    </tr>
                                                                    <tr> 
                                                                      <td>BUSD/BTC </td>
                                                                      <td> 0.0001 BTC </td> 
                                                                      <td> 0% </td>
                                                                      <td> 0%  </td>     
                                                                      <td>0%  </td>
                                                                      <td> 0%  </td> 
                                                                      <td> 0.1% </td>
                                                                      <td> Active</td>   
                                                                      </tr>
                                                                      <tr> 
                                                                        <td>USDT/BTC </td>
                                                                        <td> 0.0001 BTC </td> 
                                                                        <td> 0% </td>
                                                                        <td> 0%  </td>     
                                                                        <td>0%  </td>
                                                                        <td> 0%  </td> 
                                                                        <td> 0.1%  </td>
                                                                        <td> Active</td>   
                                                                        </tr>
                                                                        <tr> 
                                                                          <td>BNB/BTC </td>
                                                                          <td> 0.0001 BTC </td> 
                                                                          <td> 0% </td>
                                                                          <td> 0%  </td>     
                                                                          <td>0%  </td>
                                                                          <td> 0%  </td> 
                                                                          <td> 0.1%</td>
                                                                          <td> Active</td>   
                                                                          </tr>
                                                                          <tr> 
                                                                            <td>CHZ/BTC </td>
                                                                            <td> 0.0001 BTC </td> 
                                                                            <td> 0% </td>
                                                                            <td> 0%  </td>     
                                                                            <td>0%  </td>
                                                                            <td> 0%  </td> 
                                                                            <td> 0.1% </td>
                                                                            <td> Active</td>   
                                                                            </tr>
                                                                            <tr> 
                                                                              <td>MATIC/BTC </td>
                                                                              <td> 0.0001 BTC </td> 
                                                                              <td> 0% </td>
                                                                              <td> 0%  </td>     
                                                                              <td>0%  </td>
                                                                              <td> 0%  </td> 
                                                                              <td> 0.1% </td>
                                                                              <td> Active</td>   
                                                                              </tr>
                                                                              <tr> 
                                                                                <td>LINK/BTC </td>
                                                                                <td> 0.0001 BTC </td> 
                                                                                <td> 0% </td>
                                                                                <td> 0%  </td>     
                                                                                <td>0%  </td>
                                                                                <td> 0%  </td> 
                                                                                <td> 0.1% </td>
                                                                                <td> Active</td>   
                                                                                </tr>
                                                                                <tr> 
                                                                                  <td>DAI/BTC </td>
                                                                                  <td> 0.0001 BTC </td> 
                                                                                  <td> 0% </td>
                                                                                  <td> 0%  </td>     
                                                                                  <td>0%  </td>
                                                                                  <td> 0%  </td> 
                                                                                  <td> 0.1% </td>
                                                                                  <td> Active</td>   
                                                                                  </tr>
                                                                                  <tr> 
                                                                                    <td>WBTC/BTC </td>
                                                                                    <td> 0.0001 BTC </td> 
                                                                                    <td> 0% </td>
                                                                                    <td> 0%  </td>     
                                                                                    <td>0%  </td>
                                                                                    <td> 0%  </td> 
                                                                                    <td> 0.1% </td>
                                                                                    <td> Active</td>   
                                                                                    </tr>
                                                                                    <tr> 
                                                                                      <td>LUNC/BTC </td>
                                                                                      <td> 0.0001 BTC </td> 
                                                                                      <td> 0% </td>
                                                                                      <td> 0%  </td>     
                                                                                      <td>0%  </td>
                                                                                      <td> 0%  </td> 
                                                                                      <td> 0.1%  </td>
                                                                                      <td> Active</td>   
                                                                                      </tr>
                                                                                      <tr> 
                                                                                        <td>BUSD/ETH </td>
                                                                                        <td> 0.002 ETH </td> 
                                                                                        <td> 0% </td>
                                                                                        <td> 0%  </td>     
                                                                                        <td>0%  </td>
                                                                                        <td> 0%  </td> 
                                                                                        <td> 0.1%  </td>
                                                                                        <td> Active</td>   
                                                                                        </tr>
                                                                                        <tr> 
                                                                                          <td>USDT/ETH </td>
                                                                                          <td> 2 USDC </td> 
                                                                                          <td> 0% </td>
                                                                                          <td> 0%  </td>     
                                                                                          <td>0%  </td>
                                                                                          <td> 0%  </td> 
                                                                                          <td> 0.1%</td>
                                                                                          <td> Active</td>   
                                                                                          </tr>
                                                                                          <tr> 
                                                                                            <td>BNB/ETH </td>
                                                                                            <td> 0.002 ETH </td> 
                                                                                            <td> 0% </td>
                                                                                            <td> 0%  </td>     
                                                                                            <td>0%  </td>
                                                                                            <td> 0%  </td> 
                                                                                            <td> 0.1%  </td>
                                                                                            <td> Active</td>   
                                                                                            </tr>
                                                                                            <tr> 
                                                                                              <td>CHZ/ETH </td>
                                                                                              <td> 0.002 ETH </td> 
                                                                                              <td> 0% </td>
                                                                                              <td> 0%  </td>     
                                                                                              <td>0%  </td>
                                                                                              <td> 0%  </td> 
                                                                                              <td> 0.1%  </td>
                                                                                              <td> Active</td>   
                                                                                              </tr>
                                                                                              <tr> 
                                                                                                <td>MATIC/ETH </td>
                                                                                                <td> 0.002 ETH </td> 
                                                                                                <td> 0% </td>
                                                                                                <td> 0%  </td>     
                                                                                                <td>0%  </td>
                                                                                                <td> 0%  </td> 
                                                                                                <td> 0.1%  </td>
                                                                                                <td> Active</td>   
                                                                                                </tr>
                                                                                                <tr> 
                                                                                                  <td>LINK/ETH </td>
                                                                                                  <td> 0.002 ETH </td> 
                                                                                                  <td> 0% </td>
                                                                                                  <td> 0%  </td>     
                                                                                                  <td>0%  </td>
                                                                                                  <td> 0%  </td> 
                                                                                                  <td> 0.1% </td>
                                                                                                  <td> Active</td>   
                                                                                                  </tr>
                                                                                                  <tr> 
                                                                                                    <td>DAI/ETH </td>
                                                                                                    <td>0.002 ETH </td> 
                                                                                                    <td> 0% </td>
                                                                                                    <td> 0%  </td>     
                                                                                                    <td>0%  </td>
                                                                                                    <td> 0%  </td> 
                                                                                                    <td> 0.1%  </td>
                                                                                                    <td> Active</td>   
                                                                                                    </tr>
                                                                                                    <tr> 
                                                                                                      <td>WBTC/ETH </td>
                                                                                                      <td> 0.002 WBTC </td> 
                                                                                                      <td> 0% </td>
                                                                                                      <td> 0%  </td>     
                                                                                                      <td>0%  </td>
                                                                                                      <td> 0%  </td> 
                                                                                                      <td> 0.1%  </td>
                                                                                                      <td> Active</td>   
                                                                                                      </tr>
                                                                                                      <tr> 
                                                                                                        <td>LUNC/ETH </td>
                                                                                                        <td> 0.002 ETH </td> 
                                                                                                        <td> 0% </td>
                                                                                                        <td> 0%  </td>     
                                                                                                        <td>0%  </td>
                                                                                                        <td> 0%  </td> 
                                                                                                        <td> 0.1%  </td>
                                                                                                        <td> Active</td>   
                                                                                                        </tr>
                                             </tbody>
                                         </table>
                          
                          </div>
           
                                     
                                     </div> 
                     </div></div>
                     </div>
             
                
              </div>
                </div>

              </div>
<!---------------------------------------->

        </div>   
          </div>
</section>


<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="csssdilog33" class="modal-dialog">
    <div class="modal-content mod-sec221">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body combox55">
        <img src="~/images/logo1.png" alt="" class="mb-3">
        <p b-cd26ewwikh=""> COMING SOON!</p>

        <p class="text33">We are almost here! Get ready to be amazed.<br>
          <span class="boldtexr34"> We follow Agile!</span>
          <br>We are committed to bring you an incredible Crypto Trading experience.
        </p>
      </div>

    </div>
  </div>
</div>

<!---------------------------------------------------------------------->



<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/dropdown-menu.js"></script>
    <script src="js/header-fixed.js"></script>
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
      </script>
  