
<!-------------Outer-section---------------------->


<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
    <div class="container">
      <div class="login-box" id="login-tab">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="login-img"> <img src="~/images/login-img.png"> </div>
          </div>
     <div class="col-md-6 col-xs-12">
        <div class="login-form">
            <h1> Forget Password</h1>
    
            <div id="login-tab" class="login_area">
               
              <!-- Tab panes -->
       
    
                  <div id="email" class="tab-pane  active show">
    
                  <div class="acc-log-box">
    <form class="was-validated" novalidate>
      <div class="form-group" style="position:relative">     
        <input type="text" class="form-control  " placeholder="Enter email" name="email"  id="id_password" required>
        <span class="eye112"><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i></a></span>
        <span class="invalid-feedback">
          Please enter your registered Email.
        </span>
        
      </div>


        <a href="new-password.html" class="btn  gent-btn" type="button"> Continue </a>
     
        </form>
    
                  </div>
                  </div>
    

    
            </div> 
    
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!---------------------------------------------------------------------->


  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh="">  COMING SOON!</p>
        
  <p class="text33">We are almost here! Get ready to be amazed.<br>
    <span class="boldtexr34"> We follow Agile!</span>
    <br>We are committed to bring you an incredible Crypto Trading experience.</p>
        </div>
  
      </div>
    </div>
  </div>

<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->


<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->






<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/intlTelInput.js"></script> 
    <script src="js/eyeopenclose.js"></script> 
    <script>
          $("#mobile-number").intlTelInput();
    </script>
   
  