
  <!-------------Outer-section---------------------->



  <!-- Accept All Cookie Html -->
  <div class="modal bottom token fade show" id="TechnoSavvy" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body cookie-text">
          <p> "TechnoApp and selected third parties use cookies or similar technologies for technical purposes, to enhance
            site navigation, analyze site usage, assist in all marketing efforts, and for other purposes as specified in
            the <a href="http://dev.TechnoApp.nsch.com/static-pages/in-privacy-policy.html" > Privacy
              Policy" </a>
            <a class="default-btn_all-cookies forward-btn" asp-controller="home" asp-action="index"  data-bs-dismiss="modal"
              aria-label="Close"> Accept all cookies <i class="fa fa-arrow-circle-right"></i><span></span> </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- // Accept All Cookie Html -->


  <!-----------------top section start ----------->
  <section class="top-section">
    <div class="container-fluid">
      <div class="row">
        <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
            Rewards</a><span class="css44-cross"> <i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </section>
  <!----------------------menu section---------------------------->
  <section id="myHeader" class="menu-section">
    <div class="container-fluid">
      <div class="row">
        <div class="top-meu-box">
          <div class="top-menu-left">

            <div class="logo-top "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="~/images/b-logo.png"></a></div>

            <div class="menu-top">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="menu">

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="https://TechnoApp.com/" > Demo</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="https://www.TechnoSavvytoken.com/" > About TechnoSavvy </a>
                      </li>

                      <li class="nav-item wallet-top  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false"> Buy </a>
                        <ul class="dropdown-menu dropdown-menu-css44 top-navbar css-inline"
                          data-popper-placement="bottom-start">
                          <li><a class="dropdown-item   dropdown-item-css44" href="https://buy.TechnoSavvytoken.com/"
                              ><i class="fa fa-credit-card" aria-hidden="true"></i> Buy TechnoSavvy</a></li>
                          <li><a class="dropdown-item" asp-controller="login" asp-action="login" ><i class="fa fa-credit-card"
                                aria-hidden="true"></i> Buy Crypto</a></li>
                          <li><a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-search"
                                aria-hidden="true"></i> Deposit Crypto</a></li>
                          <li><a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-money" aria-hidden="true"></i>
                              Withdraw</a></li>
                        </ul>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">Academy</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " asp-controller="login" asp-action="login">Trade</a>
                      </li>

                    </ul>

                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="top-menu-right">
            <form>
              <div id="top-navbar" class="top-navbar">
                <div class="top-navbar">
                  <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                    </a></span>
                  <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                      Signup </a></span>

                  <span>
                    <div class="dropdown">
                      <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ENG
                      </button>


                    </div>
                  </span>

                  <span>
                    <div class="dropdown">
                      <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        USD
                      </button>
                      <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                        <div id="sub-menu23 " class="sub-menu23">

                          <ul id="dropusadiv35" class="dropusadiv35">

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/AUD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckaud">AUD - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckaud" />
                                  </div>
                                </div>
                              </a></li>


                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/BGN.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckbgn">BGN - BGN</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckbgn" />
                                  </div>
                                </div>
                              </a></li>


                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/CAD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckcad">CAD - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckcad" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/CHF.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckchf">CHF - FR</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckchf" />
                                  </div>
                                </div>

                              </a></li>


                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/CNY.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckcny">CNY - ¥</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckcny" />
                                  </div>
                                </div>

                              </a></li>



                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/CZK.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckczk">CZK - KČ</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckczk" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/DKK.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckdkk">DKK - KR</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckdkk" />
                                  </div>
                                </div>

                              </a></li>



                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/EUR.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckeur">EUR - €</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckeur" />
                                  </div>
                                </div>

                              </a></li>


                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/GBP.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckgbp">GBP - £</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckgbp" />
                                  </div>
                                </div>

                              </a></li>




                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/HKD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckhkd">HKD - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckhkd" />
                                  </div>
                                </div>
                              </a></li>



                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/HUF.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckhuf">HUF - FT</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckhuf" />
                                  </div>
                                </div>
                              </a></li>


                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/ILS.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckils">ILS - ₪</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckils" />
                                  </div>
                                </div>

                              </a></li>

                            <li><a class="dropdown-item" href="#">

                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/INR.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckinr">INR - ₹</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckinr" />
                                  </div>
                                </div>

                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/JPY.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckjpy">JPY - ¥</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckjpy" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/MXN.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckmxn">MXN - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckmxn" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/NOK.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecknok">NOK - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecknok" />
                                  </div>
                                </div>
                              </a></li>
                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/NZD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecknzd">NZD - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecknzd" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/PLN.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckpln">PLN - zł</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckpln" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/RON.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckron">RON - RON</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckron" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/RUB.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckrub">RUB - ₽</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckrub" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/SAR.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecksar">SAR - SAR</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecksar" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/SEK.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecksek">SEK - KR</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecksek" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/SGD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecksgd">SGD - S$</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecksgd" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/THB.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckthb">THB - ฿</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckthb" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/TRY.svg"></div>
                                    <label class="form-check-label" for="flexSwitchChecktry">TRY - ₺</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchChecktry" />
                                  </div>
                                </div>
                              </a></li>

                            <li><a class="dropdown-item" href="#">
                                <div class="css222-usd active">
                                  <div class="form-check form-switch">
                                    <div class="css222-usd-img"><img src="~/images/currency/USD.svg"></div>
                                    <label class="form-check-label" for="flexSwitchCheckusd">USD - $</label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                      id="flexSwitchCheckusd" />
                                  </div>
                                </div>
                              </a></li>






























                          </ul>

                        </div>
                      </ul>
                    </div>
                  </span>

                  <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                </div>

              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!---------------------------------------------------------------------->
  <section class="banner-section bg1">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12">
          <div class="css566-banner-box banner-text">
            <h1>World's Most Rewarding <br>
              <span> Crypto Exchange Platform</span>
            </h1>
            <h4 class="">TechnoApp - World's first revenue generating crypto currency exchange.<br>
              It rewards you every time you trade.</h4>
            <h3 class=""><span>Upto 0.10% <span class="d-inline-block css22protext proper" tabindex="0"
                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus"
                  data-bs-content="*only for community members." data-bs-original-title="" title="">Cashback*</span>
                <p> Of transaction value. </p>
              </span> <span class="linecss22"> </span> <span><span class="css22protext">Zero</span> Transaction Fees
              </span> </h3>
            <a asp-controller="login" asp-action="login" class="css566-btn "> Start Trading </a>
            <div class="css566-user-no">
              <span> <strong> 11k+ </strong> Trusted Users </span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12 p0">
          <div class="css566-banner-img">
            <img src="~/images/banner-hand.png">
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!---------------------------------------------------------------------->
  <!---------------------------------------------------------------------->

  <section class="what-TechnoSavvy-section bg2">
    <div class="container">

      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">TechnoApp, The Next-Generation<br>Crypto Exchange</h2>
          <span class="text-center ">
            <div class="divider"></div>
          </span>
          <p class="text-center  wow fadeInUp" data-wow-delay="0.2s">Pay No More Charges to Trade Your Favorite
            Cryptocurrencies </p>
        </div>
      </div>
      <div class="row">


        <div class="css566-slide">
          <div class="owl-slider">
            <div id="carousel" class="owl-carousel">
              <div class="item">
                <div class="css566-slide-box ">
                  <div class="css566-slide-img"> <img src="~/images/uniqe-icon.png"> </div>
                  <div class="css566-slide-text"> Seamless Trading Experience </div>
                </div>
              </div>

              <div class="item">
                <div class="css566-slide-box ">
                  <div class="css566-slide-img"> <img src="~/images/demand-icon.png"> </div>
                  <div class="css566-slide-text">Cashback Rewards on Every Transaction</div>
                </div>
              </div>

              <div class="item">
                <div class="css566-slide-box">
                  <div class="css566-slide-img22"> <img src="~/images/lowest.png"> </div>
                  <div class="css566-slide-text">No Transaction Fees </div>
                </div>
              </div>



              <!-- <div class="item">
        <div class="css566-slide-box e">
      <div class="css566-slide-img">  <img src="~/images/uniqe-icon.png"> </div>
      <div class="css566-slide-text"> Seamless Trading Experience </div>
        </div>
      </div> -->
              <div class="item">
                <div class="css566-slide-box">
                  <div class="css566-slide-img"> <img src="~/images/value-icon.png"> </div>
                  <div class="css566-slide-text"> Augmented Liquidity Pool </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div id="demo2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
          <button data-bs-target="#demo2" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo2" data-bs-slide-to="3"></button>
        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img src="~/images/banner-1.png" alt="banner1" class="d-block w-100">
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="~/images/banner-2.png" alt="banner2" class="d-block w-100">
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="~/images/banner-3.png" alt="banner3" class="d-block w-100">
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="~/images/banner-4.png" alt="banner4" class="d-block w-100">
            </a>
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------->
  <section class="get-tade-section bg1">
    <div class="container">
      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">You Get More Than You Pay, <br>
            Each Time You Trade </h2>
          <span class="text-center ">
            <div class="divider"></div>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-img"> <img src="~/images/cashback.png"> </div>
              <div class="css566-trade-text">Cashback on every trade </div>
            </div>
          </a>
          <a href="#">
            <div class="css566-trade-box zoom-out ">
              <div class="css566-trade-img"> <img src="~/images/demand-icon.png"> </div>
              <div class="css566-trade-text"> TechnoSavvy Appreciates Your Capital </div>
            </div>
          </a>


          <a href="#">
            <div class="css566-trade-box zoom-out ">
              <div class="css566-trade-img"> <img src="~/images/uniqe-icon.png"> </div>
              <div class="css566-trade-text"> Trade with Zero Transaction Fees </div>
            </div>
          </a>

        </div>

        <div class="col-md-4 col-12">
          <div class="portfolio-img "> <img src="~/images/portfolio-section.png"></div>
        </div>

        <div class="col-md-4 col-12">
          <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">Generate Profit from Arbitrage Trading </div>
              <div class="css566-trade-img-right"> <img src="~/images/genrate-profile.png"> </div>

            </div>
          </a>

          <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">TechnoApp reduces the impact cost for the trade </div>
              <div class="css566-trade-img-right"> <img src="~/images/reduce.png"> </div>

            </div>
          </a>
          <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">TechnoApp turns your losses into profit. </div>
              <div class="css566-trade-img-right"> <img src="~/images/profit.png"> </div>

            </div>
          </a>

        </div>


      </div>

    </div>
  </section>




  <!------------------------------->
  <section class="market-cart-section bg2">
    <div class="container">
      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">Market </h2>
          <span class="text-center ">
            <div class="divider"></div>
          </span>
          <p class="text-center ">Track your favourite cryptocurrency and its worth at one place. </p>
        </div>
      </div>
      <div class="row">
        <div class=" ">
          <div id="comunity-css566-box" class="comunity-css566-box">

            <table class="table table-responsive">
              <thead class="trasaction-table-title">
                <tr>
                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="name-css46"> <span>Currency</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span>
                    </div>
                  </th>



                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="price-css46"><span>24h Change(%)</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span>
                    </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="change24-css46"><span>Last Price</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span>
                    </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="change24-css46"><span>Market Cap</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span>
                    </div>
                  </th>


                </tr>
              </thead>
              <tbody class="trasaction-table">

                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/eth.png"></span> <span class="ethcss44"> ETH
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>



                </tr>


                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/bit.png"></span> <span class="ethcss44">BTC
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"><i
                            class="fa fa-clock-o" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 ">$0.000000 </div>
                  </td>



                </tr>


                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/3.png"></span> <span class="ethcss44"> USDT
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 ">$0.000000 </div>
                  </td>



                </tr>


                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/4.png"></span> <span class="ethcss44">USDC
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46 ">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 ">$0.000000 </div>
                  </td>



                </tr>

                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/busd.png"></span> <span class="ethcss44"> BUSD
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46 ">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 ">$0.000000 </div>
                  </td>



                </tr>

                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/matic.png"></span> <span class="ethcss44"> MATIC
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 ">$0.000000 </div>
                  </td>



                </tr>

                <tr>

                  <td>
                    <div class="coin-name-css88"><span><img src="~/images/lite.png"></span> <span class="ethcss44"> LTC
                      </span>
                      <span class="arrow-css444">
                        <a href="#"> <i class="fa fa-star-o" aria-hidden="true"></i> </a> <a href="#"> <i
                            class="fa fa-money" aria-hidden="true"></i> </a>
                      </span>


                    </div>
                  </td>



                  <td>
                    <div class="coin-24change-css46">$0.000000</div>
                  </td>

                  <td>
                    <div class="coin-24change-css46 ">$0.000000</div>
                  </td>
                  <td>
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>



                </tr>
              </tbody>
            </table>



          </div>
          <!-- <a asp-controller="market" asp-action="index" class="see-more-m33 mt-3"><i class="fa fa-caret-right" aria-hidden="true"></i> See more</a> -->
        </div>


      </div>

    </div>
    </div>
  </section>

  <!------------------------------->


  <!------------------------------->



  <!------------------------------->
  <section class="comunity-section bg1">
    <div class="container">
      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">TechnoApp Community </h2>
          <span class="text-center ">
            <div class="divider"></div>
          </span>
          <p class="text-center">Seamless trading with high returns on investment</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-12">
          <div class="css566-cashback">
            <h4>Get Cashback on Each Spend! </h4>
            <h2>Stake TechnoSavvy & Shoot-Up<br>
              Your Daily profit </h2>
          </div>
          <div class="css566-staking">
            <span>
              <h3> 0.10% <br><span>of transaction value as cashback </span></h3>
              <p>on staking 50,000 TechnoSavvy </p>
            </span>

            <span>
              <h3>0.05%<br><span>of transaction value as cashback </span></h3>
              <p>on staking 5,000 TechnoSavvy </p>
            </span>
          </div>
        </div>

        <div class="col-md-5 col-12">
          <div class="css-566-staking-img"> <img src="~/images/staking-graph.png"> </div>
        </div>
      </div>

    </div>
  </section>


  <!------------------------------->
  <section class="register-section bg1">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12">
          <div class="css566-register-left">
            <div class="css566-heading">
              <h2>Register With TechnoApp</h2>
              <p> Get Started in 3 Simple Steps</p>
            </div>
            <div class="css566-register-img"> <img src="~/images/register-img.png"> </div>
          </div>
        </div>
        <div class="col-md-5 col-12">
          <div class="css566-register-left">
            <div class="css566-regiter-step">
              <span> <img src="~/images/account-1.png"> </span>
              <span>
                <h2> Create your account</h2>
                <p>Register on TechnoApp with your details </p>
              </span>
            </div>


            <div class="css566-regiter-step">
              <span> <img src="~/images/strat-trading.png"> </span>
              <span>
                <h2> Start trading</h2>
                <p>Buy and sell Bitcoin, Ether, USDT <br>
                  & many other cryptocurrencies on TechnoApp </p>
              </span>
            </div>


            <div class="css566-regiter-step">
              <span> <img src="~/images/verify.png"> </span>
              <span>
                <h2>Verify your identity</h2>
                <p>Complete your KYC </p>
              </span>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>



  <!------------------------------->
  <!------------------------------->
  <section class="investment-section bg2">
    <div class="container">
      <div class="css566-invest-box">
        <div class="row">
          <div class="col-md-6">
            <div class="css566-invest-div">
              <h2>Let's Start Your Crypto <br> <span> Invest</span> Now </h2>
              <p>Choose from 150+ cryptocurrencies</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="css566-invest-btn"> <a asp-controller="login" asp-action="login" class="css566-btn" type="button"> Start Trading </a>
            </div>
          </div>
        </div>
      </div>


      <div class="css566-invest-box">
        <div class="css566-invest-div">
          <h2>We are here to <span>help You !</span></h2>

        </div>

        <div class="css566-help-div">
          <div class="css566-help-box"> <span> <img src="~/images/support.png"> </span>

            <span>
              <h3>24/7 Chat Support </h3>
              <p>Get 24/7 chat support with our <br>
                friendly customer service agents </p>
              <a onclick="openForm()" class="btn-chat-now"> Chat now</a>
            </span>
          </div>

          <!---------------------------->
          <div class="css566-help-box"> <span> <img src="~/images/faq.png"> </span>

            <span>
              <h3>FAQs </h3>
              <p>View FAQs for detailed instructions<br> on specific features. </p>
              <a href="#" class="btn-chat-now" data-bs-toggle="modal" data-bs-target="#commingsoon"> Learn More</a>
            </span>
          </div>

          <!---------------------------->
          <div class="css566-help-box"> <span> <img src="~/images/blog.png"> </span>

            <span>
              <h3>Blogs </h3>
              <p>Stay up to date with the latest <br>
                stories and commentary. </p>
              <a asp-controller="library" asp-action="index" class="btn-chat-now"> Learn More</a>
            </span>
          </div>

          <!--------------------------------------------->

        </div>
      </div>




    </div>
  </section>


  <!------------------------------->

  <!--------------------------------------------------------------------->
  <section class="section-footer bg1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 co-xs-12">
          <div class="footer-box">
            <div class="footer-list">
              <div class="footer-title"> TechnoApp Community</div>
              <ul>
                <li><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfsBL0LVLrXrRfaKudsddnxfIHYk2ZHm8CP8CotnVGcokeGuw/viewform"
                    > TechnoApp Webinars</a></li>
                <li><a asp-controller="library" asp-action="index">Media Library </a></li>
                <li><a href="airdrop-program.html"> Airdrop</a></li>
                <li><a asp-controller="referral" asp-action="Index">Referral</a></li>
                <li><a href="press-release.html">Press Release</a></li>
              </ul>
            </div>

          </div>
        </div>


        <div class="col-md-3 co-xs-12">
          <div class="footer-box">
            <div class="footer-list">
              <div class="footer-title">Products & Services</div>
              <ul>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon"> Institutional Services </a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon"> TechnoApp Academy</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">TechnoApp Labs</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">TechnoApp API</a></li>

              </ul>
            </div>


          </div>
        </div>

        <div class="col-md-2 co-xs-12">
          <div class="footer-box">
            <div class="footer-list">
              <div class="footer-title">Policies</div>
              <ul>
                <li><a asp-controller="policy" asp-action="terms-of-use"> Terms of Use </a></li>
                <li><a asp-controller="policy" asp-action="privacy-policy">Privacy Policy</a></li>
                <li><a asp-controller="policy" asp-action="aml-policy"> AML/KYC Policy </a></li>
                <li><a asp-controller="policy" asp-action="referral-policy">Referral Policy</a></li>
                <li><a asp-controller="policy" asp-action="Licences">Licences</a></li>
                <li><a asp-controller="policy" asp-action="disclaimer">Disclaimer</a></li>


              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-2 co-xs-12">
          <div class="footer-box">
            <div class="footer-list">
              <div class="footer-title"> Support</div>
              <ul>

                <li><a asp-controller="policy" asp-action="Trading-rules"> Trading Rules </a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">Fees & Charges</a></li>

                <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">FAQs</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-2 co-xs-12">
          <div class="footer-box mb-3">
            <div class="footer-list">
              <div class="footer-title"> Follow Us</div>
              <div class="social-link">
                <span><a href="https://www.facebook.com/TechnoApp " target="blank"> <i class="fa fa-facebook"
                      aria-hidden="true"></i></a></span>
                <span><a href="https://www.twitter.com/TechnoApp" target="blank"><i class="fa fa-twitter"
                      aria-hidden="true"></i> </a> </span>
                <span><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><i class="fa fa-linkedin"
                      aria-hidden="true"></i> </a></span>
                <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><i
                      class="fa fa-youtube-play" aria-hidden="true"></i>  </a></span>

                <span><a href="https://t.me/TechnoApp" target="blank">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>  </a></span>

                <span><a href="https://www.medium.com/@@TechnoApp" target="blank">
                    <i class="fa fa-medium" aria-hidden="true"></i> </a></span>


                <span><a href="https://www.reddit.com/user/TechnoApp" target="blank">
                    <i class="fa fa-reddit-alien" aria-hidden="true"></i>  </a></span>


                <span><a href="https://www.quora.com/profile/TechnoApp" target="blank">
                    <i class="fa fa-quora" aria-hidden="true"></i> </a></span>


                <span><a href="https://instagram.com/TechnoApp" target="blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i> </a></span>

                <span><a href="https://discord.gg/KqCBRBqQ2F" target="blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor"
                      class="bi bi-discord" viewBox="0 0 16 16">
                      <path
                        d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
                    </svg>  </a></span>

              </div>
            </div>

          </div>
        </div>

      </div>
      <!-------------------------------------------------->

      <!-------------------------------------------------->
    </div>
    <div class="container">
      <div class="x__footer__content-center row">
        <div class="col col-md-12 col-12">
          <div class="x__copyright">
            <!--        <div class="x__copyright__logo"> <img src="~/images/logo.png" alt="Exodus Logo"> </div>-->
            <div class="x__copyright__copy">Copyright ©2022 <a asp-controller="home" asp-action="index"> TechnoApp</a>. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh=""> COMING SOON!</p>

          <p class="text33">We are almost here! Get ready to be amazed.<br>
            <span class="boldtexr34"> We follow Agile!</span>
            <br>We are committed to bring you an incredible Crypto Trading experience.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!--lanuageModal  Modal -->

  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->




  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/cookie.js"></script>
  <script src="js/popper.min.js"></script>

  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
