
<!-------------Outer-section---------------------->


<!---------------------------------------------------------------------->
<section class="section-login bg2">
  <div class="container">
    <div class="login-box" id="login-tab">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="login-img"> <img src="~/images/login-img.png"> </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="beta-release-div">
            <div class="heading-beta"> TechnoApp <strong>BETA</strong> Release </div>
            <div class="text"> <span>As you are not a Beta Participant, 
              The system has logged you out. </span>
              <a asp-controller="home" asp-action="index" class="brtsbtncss22">  "Click here to Continue" </a>
          
            <span>Please be pateint till the next Public Release<br>
            Experience the Next Generation Features of TechnoApp on the<br>
            <a href="https://TechnoApp.com" > TechnoApp Simulation Site <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
            </div>
             </div>
        </div>
 
      </div>
    </div>
  </div>
</section>

<!---------------------------------------------------------------------->


  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh="">  COMING SOON!</p>
        
  <p class="text33">We are almost here! Get ready to be amazed.<br>
    <span class="boldtexr34"> We follow Agile!</span>
    <br>We are committed to bring you an incredible Crypto Trading experience.</p>
        </div>
  
      </div>
    </div>
  </div>

<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->


<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/header-fixed.js"></script>
<script src="js/intlTelInput.js"></script> 
<script>
      $("#mobile-number").intlTelInput();
</script>
   
  