
  <!-------------Outer-section---------------------->

  <!---------------------------------------------------------------------->


  <!--------------------------------------------------------------------->

  <section class="market-section bg2">
    <div class="container">
      <div class="row">

        <div class="market-title-div">
          <span class="market-title-h2">
            <a asp-controller="market" asp-action="index"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> </a> Markets : Highlight Coins
          </span>
          <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i> Market
            Overview </span>
        </div>
      </div>

      <div class="row">

        <!---------------------------------------------------------------------->


        <div class="market-tabs-content  mt-3">
          <div id="comunity-css566-box" class="comunity-css566-box">




            <table class="table table-responsive">
              <thead class="trasaction-table-title">
                <tr>
                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="name-css46"> <span>Name</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="price-css46"><span>Price</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="change24-css46"><span>7h Change</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="volume-css46"><span>24h Volume</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="volume-css46"><span>Market Cap</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                  <th nowrap="nowrap" class="css566-table-text">
                    <div class="volume-css46"><span> Cashback</span> <span class="arrow-css44"><a href="#"> <i
                            class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                        <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> </span> </div>
                  </th>

                </tr>
              </thead>
              <tbody class="trasaction-table">

                <tr>

                  <td nowrap="nowrap">
                    <div class="coin-name-css46"><span><img src="~/images/eth.png"> ETH <small> Ethereum</small></span>
                      <span class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                         00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
                         260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
                       "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-up">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-up"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/bit.png"> BTC <small> Bitcoin</small></span>
                      <span class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                       00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
                       260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
                     "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-down">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-up"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/3.png"> USDT <small> Tether</small></span> <span
                        class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                     00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
                     260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
                   "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-up">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-down"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/4.png"> USDC <small> USD Coin</small></span>
                      <span class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
                   260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
                 "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-up">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-down"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/busd.png"> BUSD <small> Binance
                          USD</small></span> <span class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                 00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
                 260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
               "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-down">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-up"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/matic.png"> MATIC<small> MATIC</small></span>
                      <span class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
               00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
               260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
             "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-down">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44-up"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>
                <tr>

                  <td>
                    <div class="coin-name-css46"><span><img src="~/images/lite.png"> LTC <small> Lite</small></span> <span
                        class="graph-css444">
                        <svg viewBox="0 0 500 100" class="chart">

                          <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
             00,120  20,60  40,80  60,20  80,80  100,80  120,60   140,100  160,90  180,80  200, 110    220, 10   240, 70
             260, 100     280, 100    300, 40    320, 0    340, 100    360, 100     380, 120     400, 60   420, 70    440, 80
           "></polyline>

                        </svg>
                      </span>
                    </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24change-css46">$0.000000 </div>
                  </td>
                  <td>
                    <div class="coin-24change-css46 css44-up">$0.000000 </div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-24volume-css46">$0.000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="coin-cap-css46 css44down"> $0,000000</div>
                  </td>
                  <td nowrap="nowrap">
                    <div class="market-trade-css46">00.00M </div>
                  </td>
                </tr>


              </tbody>
            </table>



          </div>




        </div>
      </div>
      <!---------------------------------------------------------------------->

    </div>


  </section>
  <!------------------------------->

  <section class="market-section bg1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="market-line-graph">            
            <div id="volumemarket-graph" style="height: 500px"></div>
          </div>


        </div>

        <div class="col-md-6 col-xs-12">
          <div class="market-line-graph">            
            <div id="volume-piechart" style="height: 500px"></div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh=""> COMING SOON!</p>

          <p class="text33">We are almost here! Get ready to be amazed.<br>
            <span class="boldtexr34"> We follow Agile!</span>
            <br>We are committed to bring you an incredible Crypto Trading experience.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/jquery"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@@5.4.1/dist/echarts.min.js"></script>

  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="graph/volume-grafhm.js"></script>
  <script src="graph/volume-paechart.js"></script>
  <script src="js/header-fixed.js"></script>


