
  <!-------------Outer-section---------------------->

  <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6 col-12">
            <div class="css566-heading mb-3">
                <h2> Media Library </h2>
                <div class="divider"></div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="index-links">
                <ul>
                  <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                  <li>Media Library</li>
                </ul>
              </div>
            </div>
        </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Media Page -->
    <section class="blog-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="blog-col-8 main-page-blog-col8">
                        <a href="top-10-reasons-blog.html" ><img src="~/images/media-img.png" alt="~/image"></a>
                        <h1><a href="top-10-reasons-blog.html" > Top 10 Reasons Why you Should Invest in TechnoSavvy token in 2022 </a></h1>
                        <!-- <h5 class="heading-5"> Metatile: Acquiring TechnoSavvy can make you rich shortly: Here is why? </h5> -->
                        
                        <div class="row">
                          <div class="col-lg-3 col-md-3">
                            <ul>
                              <!-- <li><a href="#"><i class="fa fa-thumbs-up"></i> Like </a></li> -->
                              <!-- <li><a href="#"><i class="fa fa-comment"></i> Comment </a></li> -->
                              <li><a href="#" data-bs-toggle="collapse" data-bs-target="#demo"><i class="fa fa-share"></i> Share </a></li>
                            </ul>
                          </div>
                          <div class="col-lg-9 col-md-9">
                            <div id="demo" class="invite-social-icon collapse">   
                              <ul>
                                  <li class="social-share-url facebook"><a href="#"><img src="~/images/facebook-icon.png" alt="~/image"></a></li>
                                  <li class="social-share-url twitter"><a href="#"><img src="~/images/twitter-icon.png" alt="~/image"></a></li>
                                  <!-- <li class="social-share-url linkedin"><a href="#"><img src="~/images/linkedin-icon.png" alt="~/image"></a></li> -->
                                  <li class="social-share-url telegram"><a href="#"><img src="~/images/telegram.png" alt="~/image"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <p> The cryptocurrency market has surpassed extreme volatile periods in its history. Bear markets and bull markets are part of the crypto investor's journey. &nbsp; <a href="top-10-reasons-blog.html" class="url-1" > Read More >> </a> </p>
                    </div>
                    
                    <div class="row three-col-blog">
                      <div class="col-lg-6 col-md-6">
                        <div class="row latest-blog-list bottom-blog-list">
                          <a asp-controller="blog" asp-action="Crypto-Trading-is-Now-Rewarding" >
                            <img src="~/images/crypto-trading-blog.png" alt="~/image">
                            <h4> Crypto Trading is Now Rewarding </h4>
                            <p> Indeed, with the rising adoption of crypto, many people have made their fortune out of it. &nbsp; <a asp-controller="blog" asp-action="Crypto-Trading-is-Now-Rewarding" class="url-1" > Read More >> </a> </p>
                            <!-- <span class="url-1">January 20, 2023 </span> -->
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="row latest-blog-list bottom-blog-list">
                          <a href="howtoearncryptoblog.html" >
                            <img src="~/images/how-to-earn-crypto-blog.png" alt="~/image">
                            <h4> How to Earn Crypto for Free? </h4>
                            <p> Free cryptocurrency! When you hear it for the very first time, it may sound surreal, but does it? &nbsp; <a href="howtoearncryptoblog.html" class="url-1" > Read More >> </a> </p>
                            <!-- <span class="url-1">January 20, 2023 </span> -->
                          </a>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-col-4">
                        <div class="stay-connected head-bg">
                            <h6> Stay Connected </h6>
                            <div class="border-line"></div>
                            <ul>
                                <li><a href="https://www.facebook.com/TechnoApp" ><img src="~/images/facebook-icon.png" alt="~/image"></a></li>
                                <li><a href="https://www.twitter.com/TechnoApp" ><img src="~/images/twitter-icon.png" alt="~/image"></a></li>
                                <li><a href="https://www.linkedin.com/company/TechnoApp/" ><img src="~/images/linkedin-icon.png" alt="~/image"></a></li>
                                <li><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><img src="~/images/youtube-icon.png" alt="~/image"></a></li>
                                <li><a href="https://t.me/nav_exm" ><img src="~/images/telegram.png" alt="~/image"></a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="head-bg">
                            <h6> Latest Blog </h6>
                            <div class="border-line"></div>
                        </div>
                        <div class="latest-blog head-bg">
                          <div class="row latest-blog-list top-blog">
                              <a href="top-10-reasons-blog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-19.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Top 10 Reasons Why you Should Invest in TechnoSavvy token in 2022 </p>
                                      <span class="url-1">January 20, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list top-blog">
                              <a href="best-altcoin-blog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-1.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> 2022 Best Altcoin: Ground-Breaking Utility Makes TechnoSavvy an Inflationary Token  </p>
                                      <span class="url-1">January 19, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="reasons-to-invest" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-2.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> 3 Reasons to Invest in Early Crypto Projects  </p>
                                      <span class="url-1">January 18, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="an-introduction-to-TechnoApp" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-3.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token </p>
                                      <span class="url-1">January 17, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="why-should-you-invest" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-4.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Why Should You Invest in Crypto Winter? </p>
                                      <span class="url-1">January 16, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <!-- <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="earn-high-returns" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-5.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Earn High Returns by Staking Crypto: TechnoSavvy Staking Benefit</p>
                                      <span class="url-1">January 20, 2023 </span>
                                  </div>
                              </a>
                          </div> -->
                          <div class="row latest-blog-list">
                              <a href="the-new-trends-blog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-6.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> The new trends in crypto and blockchain technology  </p>
                                      <span class="url-1">January 15, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="things-to-consider" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-7.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Things to Consider Before Investing in Crypto  </p>
                                      <span class="url-1">January 14, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="what-is-value" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-8.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> What is Value Variance Inflationary Token?  </p>
                                      <span class="url-1">January 13, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="what-makes-TechnoSavvy-gold" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-9.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> What Makes TechnoSavvy A Gold Standard Coin?  </p>
                                      <span class="url-1">January 12, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <!-- -------------- -->
                          <!-- <div class="row latest-blog-list">
                              <a href="TechnoSavvyannouncesitsicolaunchblog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-10.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> TechnoSavvy announces its ICO launch: Token to fuel the TechnoApp next generation CEX </p>
                                      <span class="url-1">January 20, 2023 </span>
                                  </div>
                              </a>
                          </div> -->
                          <div class="row latest-blog-list">
                              <a href="encouraginggenzinvestorsblog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-11.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Encouraging Gen Z Investors to Trade More & Earn More </p>
                                      <span class="url-1">January 11, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a href="isitsafetotrade.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-12.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Is it Safe to Trade Cryptocurrency? </p>
                                      <span class="url-1">January 10, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <!-- <div class="row latest-blog-list">
                              <a href="nextgencryptoblog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-13.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Next-Gen Crypto Trading Experience </p>
                                      <span class="url-1">January 20, 2023 </span>
                                  </div>
                              </a>
                          </div> -->
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="Most-Rewarding-Crypto-Trading-Experience" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-14.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Most Rewarding Crypto Trading Experience </p>
                                      <span class="url-1">January 09, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a href="goodtimetoinvest.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-15.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Good Time to Invest in Crypto is Now! </p>
                                      <span class="url-1">January 08, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a asp-controller="blog" asp-action="Crypto-Trading-is-Now-Rewarding" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-16.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> Crypto Trading is Now Rewarding </p>
                                      <span class="url-1">January 07, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a href="whatisTechnoSavvyblog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-17.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> What is TechnoSavvy and Why Is It a Good Investment? </p>
                                      <span class="url-1">January 06, 2023 </span>
                                  </div>
                              </a>
                          </div>
                          <div class="row latest-blog-list">
                              <a href="howtoearncryptoblog.html" >
                                  <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                      <img src="~/images/blog-18.png" alt="~/image">
                                  </div>
                                  <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                      <p> How to Earn Crypto for Free? </p>
                                      <span class="url-1">January 05, 2023 </span>
                                  </div>
                              </a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // blog section -->


    <!-- infographic section -->
    <section class="infographic-sec mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 infographic-head head-bg mb-3">
                    <h6> Infographic </h6>
                    <div class="border-line"></div>
                </div>
                <div class="css566-slide">
                    <div class="owl-slider">
                        <div id="carousel" class="owl-carousel info-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    <div class="owl-item active">
                                        <div class="item">
                                            <div class="css566-slide-box ">
                                                <a href="images/infographic-1.pdf" >
                                                    <img src="~/images/infographic-1-1.png">
                                                </a>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active">
                                        <div class="item">
                                            <a href="images/infographic-2.pdf" >
                                                <img src="~/images/infographic-2-2.jpg">
                                            </a>   
                                        </div>
                                    </div>
                                    <div class="owl-item active">
                                        <div class="item">
                                            <a href="images/infographic-3.pdf" >
                                                <img src="~/images/infographic-3-3.jpg">
                                            </a> 
                                        </div>
                                    </div>
                                    <div class="owl-item active">
                                        <div class="item">
                                            <a href="images/infographic-4.pdf" >
                                                <img src="~/images/infographic-4-4.jpg">
                                            </a>  
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="images/infographic-5.pdf" >
                                                <img src="~/images/infographic-5-5.jpg">
                                            </a>  
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="item">
                                            <a href="images/infographic-6.pdf" >
                                                <img src="~/images/infographic-6-6.jpg">
                                            </a>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav">
                                <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
                                <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                            </div>
                            <div class="owl-dots">
                                <button role="button" class="owl-dot active"></button>
                                <button role="button" class="owl-dot"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // infographic section -->

  <!-- video section -->
  <section class="video-sec mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 infographic-head head-bg video-head">
                <h6> Videos </h6>
                <div class="border-line"></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="video-col">
                    <iframe width="100%" height="265" src="https://www.youtube.com/embed/Ih4BpDY85uE?rel=0" title="TechnoApp World's First Revenue Positive Cryptocurrency Exchange" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4> TechnoApp World's First Revenue Positive Cryptocurrency Exchange </h4>
                    <p> TechnoApp is a Sidechain Linked Exchange on Ethereum Network for all cryptocurrency Exchange, which is exclusively driven by the TechnoSavvy.... </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="video-col">
                    <iframe width="100%" height="265" src="https://www.youtube.com/embed/DICpJlrM-tE?rel=0" title="TechnoSavvy Token Empowers Diversified Crypto Portfolio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4> TechnoSavvy Token Empowers Diversified Crypto Portfolio </h4>
                    <p>  Diversification helps to spread risk and reduce volatility, which can make the overall portfolio less risky and more stable.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-col video-col-2">
                    <iframe width="100%" height="175" src="https://www.youtube.com/embed/f0vTvx5ZcxI?rel=0" title="TechnoSavvy Token price grows with each trade on TechnoApp" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4> TechnoSavvy Token price grows with each... </h4>
                    <p> The unique Automated Market Maker of TechnoApp ensures that all the transaction route through TechnoSavvy token, which in turn creates....  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-col video-col-2">
                    <iframe width="100%" height="175" src="https://www.youtube.com/embed/woRfTy8Ykq4?rel=0" title="How to Buy TechnoSavvy Token?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4> How to Buy TechnoSavvy Token? </h4>
                    <p> $TechnoSavvy Utility Token is a Value Variance Inflationary Token. The value of TechnoSavvy Utility Token grows with each trade on TechnoApp Exchange. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-col video-col-2">
                    <iframe width="100%" height="175" src="https://www.youtube.com/embed/WWJYiycOSD8?rel=0" title="Why Invest in TechnoSavvy Token?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4> Why Invest in TechnoSavvy Token? </h4>
                    <p> TechnoSavvy is the native utility token of the Next-Generation cryptocurrency exchange, TechnoApp  </p>
                    <p> Why You Should Invest in TechnoSavvy Token?  </p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- // video section -->

  <!-- // Start Media Page -->



  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh="">  COMING SOON!</p>
        
  <p class="text33">We are almost here! Get ready to be amazed.<br>
    <span class="boldtexr34"> We follow Agile!</span>
    <br>We are committed to bring you an incredible Crypto Trading experience.</p>
        </div>
  
      </div>
    </div>
  </div>

    
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/blogs.js"></script>

