


    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Terms Of Use </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                            <li> Terms Of Use </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-4">
        <img src="~/images/terms-condition.png" alt="~/image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-8">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#acceptance-of-terms"> Acceptance Of Terms </a></li>
        <li><a href="#amendment-of-terms"> Amendment Of Terms </a></li>
        <li><a href="#registration-and-onboarding"> Registration And Onboarding </a></li>
        <li><a href="#risks"> Risks </a></li>
        <li><a href="#identity-verification"> Identity Verification </a></li>
        <li><a href="#the-nvExM-wallet"> The TechnoApp Wallet </a></li>
        <li><a href="#withdrawals"> Withdrawals </a></li>
        <li><a href="#peer-to-peer"> Peer To Peer Exchange Service </a></li>
        <li><a href="#fees"> Fees </a></li>
        <li><a href="#account-security"> Account Security </a></li>
        <li><a href="#service-availability"> Service Availability </a></li>
        <li><a href="#transactions-on-digital-currency-networks"> Transactions On Digital Currency Networks </a></li>
        <li><a href="#default-and-default-remedies"> Default And Default Remedies </a></li>
        <li><a href="#indemnity-and-limitation-of-liability"> Indemnity And Limitation Of Liability </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#representation-warranties"> Representation Warranties </a></li>
        <li><a href="#market-abuse-prohibited-trading-techniques"> Market Abuse Prohibited Trading Techniques </a></li>
        <li><a href="#personal-data-and-privacy"> Personal Data And Privacy </a></li>
        <li><a href="#closure-of-your-account"> Closure Of Your Account </a></li>
        <li><a href="#restriction-suspension-and-termination"> Restriction Suspension And Termination </a></li>
        <li><a href="#financial-advice"> Financial Advice </a></li>
        <li><a href="#taxes"> Taxes </a></li>
        <li><a href="#prohibited-activities"> Prohibited Activities </a></li>
        <li><a href="#disclaimer-of-warranties"> Disclaimer Of Warranties </a></li>
        <li><a href="#limitation-of-liability"> Limitation Of Liability </a></li>
        <li><a href="#force-majeure">Force Majeure </a></li>
        <li><a href="#Queries, Complaints And Disputes"> Queries, Complaints And Disputes </a></li>
        <li><a href="#contact-us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-12 policy-h3-heading">
        <h2>Terms of Use</h2>
        <p class="heading_polocy"><strong><i>(Applicable to Non-regulated countries of Africa, Asia, Europe, North America, South America &amp; Oceanica)</i></strong></p>
        <h2 id="acceptance-of-terms"> Acceptance Of Terms </h2>
        <p>Thank you for choosing TechnoApp. The following Terms of Use (the “Terms”) apply to any person that
        registers for and/or opens a TechnoApp Account through <a asp-controller="home" asp-action="index" class="url-1" > www.TechnoApp.com </a> or any associated mobile or web
        applications, website, or APIs.</p>
        <p>The Terms constitute a legally binding agreement between you and TechnoApp and govern your access to and use
        of the TechnoApp cryptocurrency exchange platform (the ‘‘Platform’’). For the purposes of these Terms,
        any reference to <code class="pera-color"> “we” “us” “our” “TechnoApp” </code>and/or any similar term shall be construed as reference to
        TechnoApp. </p>
        <p>By registering for and opening a TechnoApp Account, you unconditionally accept these Terms and agree to be
        bound by and act in accordance with them. You also accept and agree that you are solely responsible for
        understanding and complying with all laws, rules, regulations, and requirements of the jurisdiction in
        which you live that may be applicable to your use of the TechnoApp website and/or your TechnoApp Account,
        including but not limited to, those related to, taxes or foreign currency transactions.</p>
        <h5 class="h5-text">Please read these Terms carefully before using the Platform because they affect your legal rights and
        obligations.</h5>
        <h2 id="amendment-of-terms">Amendment of Terms</h2>
        <p>TechnoApp may amend the Terms from time to time. You should visit the Terms of Use page on the Platform
        regularly to check when the Terms were last updated (as displayed at the top of this document) and to
        review the current Terms. We will do our best to notify you of any amendments to the Terms that we
        consider likely to materially affect your rights and obligations. Any such notice will be posted on the
        Platform or sent to the email address associated with your TechnoApp Account.</p>
        <p>The continued use of your TechnoApp Account, after any amendment to these Terms, constitutes your acceptance
        of the Terms, as modified by such amendment. If you do not accept the Terms, or any amendment to them, you
        must immediately stop using the Platform and your TechnoApp Account.</p>
        <h2 id="registration-and-onboarding">Registration And Onboarding</h2>
        <p>Where any part of the Platform requires you to register in order to use it, you are obliged to provide
        accurate and complete registration information. It is your responsibility to update and maintain any
        changes to that information by altering your details as appropriate.</p>
        <p>The Platform shall allow you access to use registration areas of the Platform on the basis that:</p>
        <ul>
        <li><strong> 1. </strong>You satisfy all the eligibility criteria stipulated below,</li>
        <li><strong> 2. </strong>Your personal details including your email address and password are personal to you and may not be used by anyone else,</li>
        <li><strong> 3. </strong>You shall not do anything to assist anyone who is not a registered user to gain unathorized access to any area of the Platform or use your account to carry out transactions on behalf of a third party, </li>
        <li><strong> 4. </strong>You submit and consent to all verification of all KYC documentation, including but not limited to Anti Money laundering checks that may be conducted by TechnoApp in compliance with applicable laws,</li>
        <li><strong> 5. </strong>You will not use your TechnoApp Account for or in relation to any illegal or prohibited activity in violation of any laws, statutes, ordinances, or regulations,</li>
        <li><strong> 6. </strong>You shall not maliciously create accounts for the purpose of abusing the functionality of the Platform, or other users, nor do you seek to pass yourself off as another user,</li>
        <li><strong> 7. </strong>You are responsible for all activities that occur under your account, regardless of whether the activities are undertaken by you, your employees or a third party (including a spouse, children, and other relatives) and, except to the extent caused by our breach of this Terms,</li>
        <li><strong> 8. </strong>We and our affiliates shall not be responsible for unauthorized access to your account, and you will contact us immediately you notice an unauthorized third party may be using your account or if your account information is lost or stolen, and</li>
        <li><strong> 9. </strong>You shall comply at all times with the terms herein (as may be amended from time to time).</li>
        </ul>
        <h5 class="simple-text">By opening a TechnoApp Account you expressly warrant and represent that:</h5>
        <ul>
        <li><strong> 1. </strong>You are 18 years of age or over and have full capacity to accept the Terms and enter any transaction available through the Platform,</li>
        <li><strong> 2. </strong>You will not open, or attempt to open, a TechnoApp Account under any name except your own; or use your TechnoApp Account to carry out transactions on behalf of a third party,</li>
        <li><strong> 3. </strong>You will follow the TechnoApp business account application process if you seek to open and use a TechnoApp Account for a non-individual legal entity (e.g., a company, trust, or partnership),</li>
        <li><strong> 4. </strong>You will not have more than one TechnoApp Account; use or access any TechnoApp Account other than your own; or assist any other person in obtaining unauthorized access to any TechnoApp Account,</li>
        <li><strong> 5. </strong>You will provide security for transactions carried out through your TechnoApp Account by ensuring there is sufficient digital currency in your TechnoApp Account in advance of any transaction,</li>
        <li><strong> 6. </strong>You will not allow or facilitate the withdrawal of Local Currency from your TechnoApp Wallet to a bank account held in the name of a third party (see Withdrawals),</li>
        <li><strong> 7. </strong>You will not use your TechnoApp Account for or in relation to any illegal activity, any Prohibited Activity, in violation of any laws, statutes, ordinances or regulations, or in breach of TechnoApp's Export Controls and Sanctions requirements.</li>
        </ul>
        <p>We retain the absolute right to prevent you from accessing the Platform, without prejudice to any of our
        accrued rights, where the Platform, at our sole discretion, consider that you have, or are contravening
        the Terms.</p>
        <p>By opening a TechnoApp Account you accept and agree that TechnoApp may, without further notice and in its sole
        discretion, terminate, suspend, or restrict the account of any customer who uses, or who we reasonably
        suspect may be using, the Platform or any TechnoApp Account in a manner that is inconsistent with the letter
        or spirit of these Terms.</p>
        <h2 id="risks">Risks</h2>
        <p>Before using the Platform, you should ensure that you understand the risks involved in buying, selling,
        or trading digital currencies. Digital currency markets are volatile, and prices can fluctuate
        significantly which could result in sudden and significant increases or decreases in the value of your
        assets. This market volatility and other risks involved in buying, selling, or trading digital currencies
        are explained on the risk warning page of the TechnoApp website. There may be additional risks not identified
        in these Terms or in the risk warning page.</p>
        <p>You should carefully assess whether your financial situation and risk tolerance is suitable for buying,
        selling, or trading digital currency. You accept and agree that you are solely responsible for any
        decision to buy, sell, trade, or otherwise hold or deal with digital currency.</p>
        <h2 id="identity-verification">Identity Verification</h2>
        <p>TechnoApp implements and maintains the highest standards of Know Your Customer (“KYC”) processes and
        controls as part of our commitment to combating fraud and assisting in the prevention of money laundering
        and terrorist financing. While our industry is largely unregulated, TechnoApp voluntarily adheres to local
        and international compliance standards in relation to customer due diligence, as explained on the
        Compliance page of the TechnoApp website.</p>
        <p>To ensure we meet these standards, our customers are required to provide certain personal details and
        documents when opening a TechnoApp Account (“Identity Verification”). The nature and extent of the Identity
        Verification required will depend upon which of our supported countries you are resident in, and the
        deposit and withdrawal limits that you wish to apply to your TechnoApp Account. In certain circumstances,
        TechnoApp may also perform enhanced due diligence (“EDD”) procedures in relation to your TechnoApp Account. You
        accept and agree that you will remain subject to such procedures at all times.</p>
        <div class="border-sec">
        <p>TechnoApp reserves the right to, at any time to:</p>
        <ul>
        <li><strong>1. </strong>restrict or suspend your TechnoApp Account when we, in our sole discretion, consider it necessary to carry out further Identity Verification and/or EDD; or</li>
        <li><strong>2. </strong>terminate your TechnoApp Account if you provide, or we suspect you have provided, false information or
        refuse to provide information we require for Identity Verification and/or EDD.</li>
        </ul>
        </div>
        <p>You accept and agree that there may be delays in accessing your TechnoApp Account, or in carrying out
        transactions through your TechnoApp Account, while we undertake any Identity Verification and/or EDD
        procedures.</p>
        <p>Retention of information: TechnoApp is required to retain certain information and documentation obtained as
        part of the Identity Verification and EDD procedures. These requirements apply even when you have
        terminated your relationship with TechnoApp. We reserve the right to keep such information and documentation
        for the required period and you accept and agree that information and documentation you provide to TechnoApp
        may be retained by us, including following the closure of your TechnoApp Account.</p>
        <h2 id="the-nvExM-wallet">The TechnoApp Wallet</h2>
        <p>The TechnoApp Wallet allows you to send, receive and store digital currency (together, “TechnoApp Wallet
        Transactions”).</p>
        <h3><strong> Own Digital Currency: </strong>The TechnoApp Wallet has launched its own ERC-20 based digital token named TechnoSavvy which
        is available on TechnoApp to all traders along with other supported digital currencies (“Token”).</h3>
        <h3><strong> Supported Digital Currencies: </strong>The TechnoApp Wallet is only available in relation to the digital currencies
        that TechnoApp, in its sole discretion, decides to support (“Supported Digital Currency” or “Supported
        Digital Currencies”). The Supported Digital Currencies may change from time to time. Under no
        circumstances should you attempt to carry out a TechnoApp Wallet Transaction in relation to a digital
        currency other than Token and Supported Digital Currency.</h3>
        <h2 id="withdrawals">Withdrawals</h2>
        <p>Where you have added your local bank account details to your TechnoApp Account, you may withdraw funds from
        your TechnoApp Wallet to your bank account (a “Withdrawal”). TechnoApp will process Withdrawals in accordance
        with your instructions. You are solely responsible for ensuring that any Withdrawal instructions provided
        to TechnoApp, including the relevant bank account number, are complete and correct and you accept and agree
        that under no circumstances will TechnoApp be under any obligation to reverse or amend any Withdrawal.</p>
        <p>TechnoApp will make all reasonable efforts to process Withdrawals each business day, in accordance with the
        Deposit and Withdrawal Schedule on the TechnoApp website, but you accept and agree that TechnoApp provides no
        guarantee in relation to the Withdrawal processing period.</p>
        <p> Withdrawals to the bank account of any third party are expressly prohibited. You agree not to make, or
        attempt to make, any Withdrawal of funds from your TechnoApp Wallet to the bank account of a third party and
        accept that any such Withdrawal may be refused and/or result in the restriction, suspension or termination
        of your TechnoApp Account.</p>
        <h2 id="peer-to-peer">Peer to Peer Exchange Service</h2>
        <p>TechnoApp allows users to solicit offers to buy or sell Digital Currencies on its peer to peer (P2P Classic)
        marketplace. Payment methods are negotiated and exchanged on a peer-to-peer basis between the buyers in
        the Marketplace and sellers in the Marketplace. Our users agree upon which payment methods to use to
        complete a transaction and are fully responsible and liable for using such payment methods in a lawful
        manner. </p>
        <p>Our users are able to post offers to either buy or sell Digital Currencies in a variety of convenient
        methods. The creator of the offer is responsible for listing terms of the transaction, including the
        payment methods the Seller will accept. Once an offer is selected by another TechnoApp user, the Seller’s
        Digital Currencies are locked as part of our transaction procedures (which we refer to as “TechnoApp Escrow”)
        until all conditions necessary to consummate the transaction have occurred. TechnoApp shall deploy its
        systems to match buying offers to selling offers to provide the users with the best available matching
        offers on the TechnoApp Peer to Peer Exchange. The sale is complete and Digital Currencies are unlocked and
        released to the Buyer by the Seller once the Buyer has completed the terms of the transaction and payment
        has been confirmed valid and received by the Seller. TechnoApp DOES NOT ACT AS A PAYMENT PROCESSOR. ALL
        LIABILITY FOR SENDING AND RECEIVING PAYMENT AND CONFIRMING THE VALIDITY OF THE TRANSACTIONS LIE BETWEEN
        THE BUYER AND SELLER. The Digital Currencies we lock are released back to the Seller if the Buyer chooses
        to cancel the transaction. The Seller may not cancel the transaction at any point. The Seller only has the
        option to unlock the Digital Currencies and release it to the Buyer. This is for the security protection for the Buyer. Should a Seller need to cancel the transaction due to a Buyer not following the terms of the transaction, they must start a dispute and provide a reason for doing so as further described in this Agreement. The following general terms apply to each transaction described below:
        </p>

        <h2> Buying Digital Currencies via soliciting an offer on the Peer-to-Peer Exchange. </h2>
        <p> When purchasing Digital
        Currencies on the TechnoApp Peer to Peer Marketplace: There are no fees for TechnoApp Escrow as part of a
        transaction that are payable by Buyers on our Marketplace. Offers from TechnoApp counterparties have their
        own terms and conditions and each offer will vary in exchange rate, speed of exchange, and other terms and
        conditions imposed by a Seller. TechnoApp shall deploy its systems to match buying offers to selling offers
        to provide the buyer with the best available matching selling offers on the TechnoApp Peer to Peer Exchange
        and this matching service shall not be considered as an offer to sell, an agency service, a brokerage
        service or a guarantee by TechnoApp and the Buyer has the rights to decline the match and to choose any other
        selling offers available on the Peer to Peer Exchange. By accepting a Seller’s offer, you agree to be
        bound by the terms and conditions of that offer. The terms and conditions specified by the Seller are
        valid in all cases except when they contradict or violate this Agreement, are illegal, are unreasonable or
        otherwise difficult to comply with (as determined in TechnoApp's sole and absolute discretion), or if both
        users of the transaction consent to alter the terms and conditions of such offer. IT IS YOUR
        RESPONSIBILITY TO CAREFULLY READ THE SELLER’S OFFER TERMS AND CONDITIONS AND FOLLOW THEM EXACTLY. IF YOU
        DO NOT FOLLOW THE OFFER TERMS AND CONDITIONS, YOUR PAYMENT WILL NOT BE ACCEPTED. NEVER SUBMIT PAYMENT
        UNLESS YOU HAVE FOLLOWED ALL TERMS AND CONDITIONS LISTED IN THE OFFER. IF YOU SUBMIT PAYMENT WITHOUT
        FOLLOWING THE TERMS AND CONDITIONS, TechnoApp CANNOT ASSIST YOU IN A DISPUTE PROCESS TO RECOVER YOUR PAYMENT.
        </p>
        <p>Payment verification and providing instruction to unlock Digital Currencies from TechnoApp Escrow are the
        sole obligations of the Seller and not that of TechnoApp. If the Seller does not release the Digital
        Currencies to you upon proper completion of the Seller’s terms and conditions, promptly report the issue
        via the designated dispute button within the particular transaction chat. TechnoApp support will review and
        settle the dispute via TechnoApp's Dispute Resolution Process. If you do not follow this dispute resolution
        process, TechnoApp will be unable to assist you with this matter.</p>

        <h2> Selling Digital Currencies on the Peer to Peer Exchange: </h2>
        <p> When selling Digital Currencies on the TechnoApp
        Peer to Peer Exchange: Sellers must verify and process the payment in a reasonable amount of time, and
        within a certain amount of time as specified in the offer terms. Once the Buyer has submitted payment to
        you in accordance with the offer terms, it is your sole duty and responsibility to promptly verify and
        process the payment and then unlock the Digital Currencies from TechnoApp Escrow and release it to the Buyer.
        If you do not follow the instructions on the offer, you may not be entitled to a return of your locked
        Digital Currencies.</p>
        <p>As a Seller you accept all risks and liabilities for any violation of this Agreement incurred through the
        sale of Digital Currencies. You also accept that TechnoApp shall deploy its systems to match your selling
        offers to the best available matching buying offers on the TechnoApp Peer to Peer Exchange and that this
        matching service shall not be considered as an offer to buy, an agency service, a brokerage service, or a
        guarantee by TechnoApp and the Seller has the rights to decline the match and to choose any other buying
        offers available on the Peer to Peer Exchange. All taxes to be paid are your responsibility. TechnoApp
        charges a fee to you as the Seller of Digital Currencies for locking Digital Currencies in TechnoApp Escrow
        subject to a sale. Unless determined otherwise in TechnoApp's sole and absolute discretion, TechnoApp shall not
        reimburse any losses to the Seller whether due to a violation of this Agreement, fraud or otherwise and our fee will
        not be refunded under any circumstances. </p>
        <p>Any payment received should be fully processed and confirmed as received by you before unlocking the
        Digital Currencies from TechnoApp Escrow. TechnoApp is not responsible for your loss if you prematurely unlock
        Digital Currencies before payment has been properly verified and received by you. You must be attentive
        and responsive to your Buyer. You should deactivate any inactive offers.</p>
        <p>Any advertisement of your own website in any section of TechnoApp's Peer to Peer Marketplace (such as your
        bio, offer terms or transaction chat) that would facilitate buying or selling Digital Currencies outside
        of TechnoApp's Services is strictly prohibited. In limited instances, it is permissible to share your
        website that is created solely for the Seller to receive payment in order to complete the transaction
        (i.e., trusted third party debit/credit card processing) in the transaction instructions; provided that
        the use of such external websites are made clear in the offer terms and such websites may not contain any
        other advertisements or your contact information.</p>
        <p>TechnoApp reserves the right to refuse to process, or to cancel or reverse, any purchases or sales of
        Digital Currency in its sole discretion, even after funds have been debited from your account, if TechnoApp
        suspects the transaction involves (or has a high risk of involvement in) money laundering, terrorist
        financing, fraud, or any other type of financial crime; in response to a court order, or other government
        order; if TechnoApp reasonably suspects that the transaction is erroneous; or if TechnoApp suspects the
        transaction relates to Prohibited Use or a Prohibited Business as set forth below. In such instances,
        TechnoApp will reverse the transaction and we are under no obligation to allow you to reinstate a purchase or
        sale order at the same price or on the same terms as the cancelled transaction.</p>
        <h2> Payment Services Partners: </h2>
        <p> TechnoApp uses third party payment processors to process any payment between you
        and TechnoApp, including but not limited to payments in relation to your use of the Peer to Peer Exchange
        Service.</p>
        <h2> Disputing Transactions on the Peer to Peer Exchange: </h2>
        <p> In most cases, the easiest way to settle a dispute
        is for Buyers and Sellers to communicate, work together to figure out what happened, and come to an
        agreeable solution. When a Buyer and a Seller cannot come to an agreeable solution, TechnoApp's support team
        (“TechnoApp Support”) can help. Either party can initiate the dispute resolution process (“disputed
        transaction” or “dispute”) with respect to a transaction. Disputes can only be initiated on transactions
        that are marked as fully paid by the Buyer. Transactions that are not marked as fully paid by the Buyer,
        cancelled by the Buyer, automatically cancelled due to expiration of the timeframe set forth in the offer,
        already disputed and resolved or where the Seller has released the Digital Currencies to the Buyer
        generally cannot be disputed, reversed, or altered.</p>
        <p>Once a dispute has been submitted, TechnoApp Support will provide the other party with notification by email
        and by sending a message through the Telegram chat feature available to Buyers and Sellers in the
        Marketplace alerting such party that a dispute has been initiated. If one of your transactions is being
        disputed, TechnoApp Support will tell you which transaction is being disputed and why the transaction is
        being disputed.</p>
        <p>Disputed transactions will be investigated by TechnoApp Support and a decision will be made based upon
        evidence provided by both parties.</p>
        <h2> Unresponsiveness: </h2>
        <p> When you are involved in a transaction, it is important that you remain active and
        available from the time the transaction is started to the time that the transaction is completed,
        canceled, or resolved. This means that you must be able to provide a response to a request by TechnoApp
        Support in a disputed transaction within the time specified by TechnoApp Support or you may be deemed as
        unresponsive, and the dispute may be resolved against you.</p>
        <h2> Chargebacks. </h2>
        <p> A party may face additional risks depending on the payment method used for the transaction
        even if TechnoApp's dispute resolution process finds in favor of such party. The dispute resolution process
        set forth in this Agreement is separate from any remedies a Buyer or Seller may have through the payment
        method used in connection with a transaction. TechnoApp is not obligated to initiate or handle chargebacks
        and is not liable if a party reverses, charges back, or otherwise dispute a transaction via an avenue made
        available to the party through the payment method used in the transaction, including after a dispute is
        closed.</p>
        <h2> Finality: </h2>
        <p> You acknowledge and agree that TechnoApp's decision regarding a Peer-to-Peer transaction dispute
        is conclusive, final and binding as described in this Agreement. TechnoApp will have no liability to either a
        Buyer or a Seller in connection with its decisions.</p>
        <h2 id="fees">Fees</h2>
        <p> The fees applicable to transactions undertaken on the Platform can be viewed on the Fees Page of the TechnoApp website. TechnoApp reserves the right to change our fees at any time and will update the same on site accordingly. In certain circumstances, and at our sole discretion, TechnoApp may notify selected customers of a specific fee change, where we consider a change to be of particular relevance to such customers. </h3>
        <h3><strong> Send and Receive fees: </strong>You may be charged a fee to send Supported Digital Currency from your TechnoApp
        Wallet and/or to receive Supported Digital Currency into your TechnoApp Wallet. Fees will apply where
        Supported Digital Currency is sent to or received from a Supported Digital Currency address (e.g., a
        Bitcoin address); no fees will apply where Supported Digital Currency is sent to or received from a mobile
        telephone number or email address.</h3>
        <h3><strong> Withdrawal fees: </strong>All Withdrawals from your TechnoApp Wallet will incur a fee. Such fees differ by country
        and are set out on the Fees page of the TechnoApp website.</h3>
        <h3><strong> Trade fees. </strong>TechnoApp applies a [Maker / Taker fee structure] for customers using the Platform, which is
        explained in the TechnoApp Fees page. Please consult the Fees page of the TechnoApp website for further
        information on applicable Maker and Taker fees. TechnoApp will, at the time of any transaction on the
        Platform, notify you of any fees that will apply to the transaction. By proceeding with any transaction,
        you accept and agree to the applicable fees. Such fees will also be displayed in your transaction history
        upon completion of the transaction.</h3>
        <h2 id="account-security">Account Security</h2>
        <p>TechnoApp takes security very seriously. You are solely responsible for:</p>
        <ul class="li-bullet li-bullet-2">
        <li> maintaining adequate security and control over your TechnoApp Account sign-in details, including but not
        limited to any passwords, personal identification numbers (PINs), API keys, or any other codes associated
        with your TechnoApp Account,</li>
        <li> enabling any additional security features available to you, including the activation of two factor
        authentication on your TechnoApp Account,</li>
        <li> keeping your contact details up to date so that you can receive any notices or alerts we may send to
        you in relation to security (see Electronic Communications),</li>
        <li> maintaining security and control over the email mailbox, phone number and two factor authentication
        applications or devices associated with your TechnoApp Account.</li>
        </ul>
        <p>Failure to take the above measures, and any other security measures available to you, may result in
        unauthorized access to your TechnoApp Account and the loss or theft of any digital currency held in your
        TechnoApp Wallet or any linked bank account. TechnoApp shall have no liability to you for or in connection with
        any unauthorized access to your TechnoApp Account, where such unauthorized access was due to no fault of
        TechnoApp, and/or any failure by you to act upon any notice or alert that we send to you. </p>
        <p>The security of your TechnoApp Account may be compromised, or interruption caused to it, by phishing,
        spoofing or other attack, computer viruses, spyware, scareware, Trojan horses, worms, or other malware
        that may affect your computer or other equipment. TechnoApp strongly recommends that you regularly use
        reputable virus screening and prevention software and remain alert to the fact that SMS, email services
        and search engines are vulnerable to spoofing and phishing attacks. </p>
        <p>Care should be taken in reviewing messages purporting to originate from TechnoApp and, should you have any
        uncertainty regarding the authenticity of any communication, you should log in to your TechnoApp Account
        through the TechnoApp website (specifically, <a asp-controller="home" asp-action="index" class="url-1">www.TechnoApp.com</a>, and not any other domain name or
        website purporting to be, or to be related to, TechnoApp) to review any transactions or required actions.
        </p>
        <p>To the maximum extent permitted by applicable law, you accept and agree that you have full responsibility
        for all activity that occurs in or through your TechnoApp Account and accept all risks of any unauthorized or
        authorized access to your TechnoApp Account.</p>
        <h3><strong> Private keys. </strong>TechnoApp securely stores all Supported Digital Currency private keys (“Private Keys”)
        associated with any TechnoApp Account. You accept and agree that TechnoApp shall retain full ownership and
        control of the Private Keys associated with your TechnoApp Account and that you shall have no control of,
        access to, or the ability to use, such Private Keys. For example, but without limiting the generality of
        the foregoing, TechnoApp will not:</h3>
        <ul class="li-bullet li-bullet-2">
        <li>accept or adhere to any instruction to sign any data with a Private Key,</li>
        <li>give access to any funds associated with your private keys, other than those of the Supported
        Digital Currency associated with your digital currency wallet,</li>
        <li>allow the creation of any receive addresses associated with a Private Key other than receive
        addresses created through your TechnoApp Wallet. TechnoApp will not credit to your TechnoApp Wallet any digital
        currency associated with a Private Key other than where such funds have been received via a receive
        address generated through your TechnoApp Wallet.</li>
        </ul>
        <h2 id="service-availability">Service Availability</h2>
        <p>While we will do everything we can to provide continuous operations, TechnoApp does not provide any warranty
        in relation to the availability of the Platform or your TechnoApp Account. Without limiting the generality of
        the foregoing, we do not guarantee continuous access to the Platform or your TechnoApp.</p>
        <p>Account and make no representation that the Platform, TechnoApp API, your TechnoApp Account and/or any products
        or services offered therein will be available without interruption; or that there will be no delays,
        failures, errors, omissions, or loss of transmitted information.</p>
        <h2 id="transactions-on-digital-currency-networks">Transactions On Digital Currency Networks</h2>
        <p>When you use your TechnoApp Account to send or receive digital currency, the transaction must be confirmed
        and recorded in the public ledger associated with the relevant digital currency network. That digital
        currency network is solely responsible for verifying and confirming any such transactions. TechnoApp cannot
        confirm, cancel, or reverse transactions on a digital currency network, other than those related to TechnoSavvy
        or confirming to you that the network has completed the transaction. You accept and agree that:</p>
        <ul class="li-bullet li-bullet-2">
        <li>Once submitted to a digital currency network, a transaction will be unconfirmed for a period of
        time pending sufficient confirmation of the transaction by the network. A transaction is not complete
        while it is in a pending state. Funds associated with transactions that are in a pending state will be
        designated accordingly, and will not be included in your TechnoApp Wallet balance or be available to you to
        conduct transactions.</li>
        <li>When you send digital currency from your TechnoApp Account, you are authorizing us to submit your
        transaction request to the relevant digital currency network. Once a transaction request has been
        submitted to the relevant digital currency network, the network will automatically complete or reject
        the request and neither you or TechnoApp will be able to cancel or otherwise modify your transaction.</li>
        <li>Digital currency networks are operated by decentralized networks of independent third parties. They
        are not owned, controlled, or operated by TechnoApp so we cannot ensure that any transaction details you
        submit will be confirmed by the relevant digital currency network. You agree that any transaction
        details you submit may not be completed, or may be substantially delayed, by the digital currency
        network used to process the transaction.</li>
        </ul>
        <h3><strong> Network protocols and operating rules: </strong>The underlying software protocols that govern the operation of the
        Supported Digital Currencies are open source. Accordingly, anyone can use, copy, modify, and distribute
        them and TechnoApp has no ownership of or control over these protocols.</h3>
        <h2 id="default-and-default-remedies">Default And Default Remedies</h2>
        <h3>Each of the following constitutes an <strong> "Event of Default": </strong></h3>
        <ul class="li-bullet li-bullet-2">
        <li> your failure to make any payment to us or to any Associated Company of ours in accordance with the
        conditions set out this Terms,</li>
        <li> your failure to perform any obligation due to us,</li>
        <li> where any Transaction or combination of Transactions or any realised or unrealised losses on any
        Transactions or combination of Transactions opened by you results in your exceeding any credit or other
        limit placed on your dealings,</li>
        <li> where any representation or warranty made by you in these Terms is or becomes untrue,</li>
        <li> if TechnoApp suspects that you are engaged in money laundering activities or terrorist financing or
        other criminal activities,</li>
        <li> TechnoApp reasonably suspects that you opened the account fraudulently,</li>
        <li> you are or become unable to pay your debts as and when they fall due, or</li>
        <li> any other circumstance where we reasonably believe that it is necessary or desirable to take any
        action to protect ourselves or all or any of our other clients.</li>
        </ul>
        <div class="border-sec">
        <p>If an Event of Default occurs in relation to your TechnoApp Account with us or in relation to any account
        held by you with an Associated Company of ours, we may, at our absolute discretion, at any time and
        without prior notice:</p>
        <ul>
        <li><strong> 1. </strong> close or part-close all or any of your transactions based on the then prevailing quotations or
        prices in the relevant markets or, if none, at such levels as we consider fair and reasonable and/or
        delete,</li>
        <li><strong> 2. </strong> restrict your activities until TechnoApp can reasonably determine that an Event of Default occurred,
        </li>
        <li><strong> 3. </strong> cancel or revoke any benefits awarded to you, and/or</li>
        <li><strong> 4. </strong> take legal action for any losses suffered by TechnoApp.</li>
        </ul>
        </div>
        <h2 id="indemnity-and-limitation-of-liability">Indemnity And Limitation of Liability</h2>
        <p>Neither we nor our directors, officers, employees, or agents shall be liable for any losses, damages,
        costs, or expenses incurred or suffered by you under these Terms unless arising directly from our or their
        respective gross negligence, willful default, or fraud. In no circumstances shall we have any liability
        for consequential loss or special damage.</p>
        <p>We shall not be liable for any partial or total non-performance of our obligations hereunder cause beyond
        our reasonable control, including without limitation any breakdown, theft, destruction, malfunction or
        failure of transmission, communication or computer facilities, industrial action, acts and regulations of
        any governmental authority or the failure of any relevant third party, intermediate broker, agent or
        principal of ourselves, custodian, sub-custodian, dealer, exchange, clearing house or regulatory or
        self-regulatory organisation, for any reason, to perform its obligations. </p>
        <p>You will make all your own decision to access and/or use our Platform or to enter into or execute any
        Transaction and/or Contract. You acknowledge and agree that our Platform does not and will not serve as
        the primary basis for any of your investment decisions concerning your TechnoApp Account. You are solely
        responsible for any investment or trading decisions you make with respect to products identified on our
        Platform and neither we, nor our directors, officers, shareholders, partners, members employees, agents,
        service providers, legal representatives and/or Affiliates (together our ‘Associates’) shall be
        responsible for determining whether any Transaction you enter into is suitable, appropriate, or advisable.
        Neither we, nor our Associates are and will be, by virtue of providing the Platform, an advisor or
        fiduciary for you or any Authorized Person. </p>
        <p>We shall have no obligation to contact you to advise upon appropriate action in light of changes in
        market conditions (including, without limitation, Market Disruptions) or otherwise. You acknowledge that
        the Market in fixed income securities is highly speculative and volatile and that, following execution of
        any transaction, you are solely responsible for making and maintaining contact with us and for monitoring
        open positions and ensuring that any further instructions are given on a timely basis. In the event of any
        failure to do so, we can give no assurance that it will be possible for us to contact you and we accept no
        liability for loss alleged to be suffered as a result of any failure by you to do so. Without limitation,
        neither we, nor our Associates accept any liability by reason of any delay or change in market conditions
        before any particular Transaction is affected.</p>
        <p>In no event will any liability of TechnoApp, its operating entities or any other affiliates (including their
        respective directors, members, employees or agents) arising in relation to your use of the Platform or
        your TechnoApp Account, exceed (in aggregate) the fees earned by TechnoApp in connection with your use of your
        TechnoApp Account in the one-month period immediately preceding the event giving rise to the claim for
        liability.</p>
        <p>Without limitation, neither we nor any of our Associates shall be liable for any loss arising from any
        act or omission of any Agent, Broker, Authorized Person or other third party who performs services for
        you.</p>
        <h2 id="representation-warranties">Representation Warranties</h2>
        <p>You represent and warrant to us, and agree that each such representation and warranty is deemed repeated
        each time you open or close a Transaction by reference to the circumstances prevailing at such time, that:
        </p>
        <ul>
         <li><strong> 1. </strong>the information provided to us in your application form and at any time thereafter is true and accurate in all respects,</li>
        <li><strong> 2. </strong>you are duly authorized to execute these Terms, to open each Transaction and to perform your obligations hereunder and have taken all necessary action to authorize such execution, delivery and performance,</li>
        <li><strong> 3. </strong>you will enter into these Terms of Use and open each Transaction as principal,</li>
        <li><strong> 4. </strong>any person representing you in opening or closing a Transaction will have been, and (if you are a legal entity) the person entering into these Terms on your behalf is duly authorized to do so on your behalf,</li>
        <li><strong> 5. </strong>where applicable, you have obtained all governmental or other authorisations and consents required by you in connection with these Terms and in connection with opening or closing Transactions and such authorisations and consents are in full force and effect and all of their conditions have been and will be complied with,</li>
        <li><strong> 6. </strong>execution, delivery and performance of these Terms and each Transaction will not violate any law, ordinance, charter, by-law or rule applicable to you, the jurisdiction in which you are resident, or any agreement by which you are bound or by which any of your assets are affected,</li>
        <li><strong> 7. </strong>if you are an employee or contractor of a financial service firm or any other firm that has control over the financial transactions in which its employees and contractors deal, you will give us proper notice of this and of any restrictions that apply to your dealing,</li>
        <li><strong> 8. </strong>you will not use our prices for any purpose other than for your own trading purposes, and you agree not to redistribute our prices to any other person whether such redistribution be for commercial or other purposes,</li>
        <li><strong> 9. </strong>you will use the services offered by us pursuant to these Terms in good faith and, to this end, you will not use any electronic device, software, algorithm, or any trading strategy (‘Device’) that aims to manipulate or take unfair advantage of the way in which we construct, provide, or convey our prices. You agree that using a Device whereby in your dealings with us you are not subject to any downside market risk will be evidence that you are taking unfair advantage of us,</li>
        <li><strong> 10.</strong> you have considered your own financial circumstances, needs and objectives and concluded that dealing in trading activities is appropriate for you. You warrant that you understand the risks, terms and conditions of Transactions entered into by trading on the Platform, (regardless of information supplied by TechnoApp) and are willing to take on those risks,</li>
        <li><strong> 11.</strong> TechnoApp does not, nor do any of its directors, officers, agents or employees, guarantee repayment of capital or payment of Income in relation to any funds deposited or any Transactions undertaken,</li>
        <li><strong> 12.</strong> no part of any funds remitted by you have been the proceeds of any illegal activity or used for any terrorist financing or money laundering activities. You agree to provide such information related to your business and financial affairs as may be reasonably requested by TechnoApp in order to comply with the Anti-Money Laundering Act or other legislative requirements. </li>
        </ul>
        <h2 id="market-abuse-prohibited-trading-techniques">Market Abuse Prohibited Trading Techniques</h2>
        <p>You agree that you shall not take any action or enter into any course of conduct which would breach
        Applicable Regulations and/or will or may alter, distort, or manipulate the relevant Underlying Market in
        relation to any Transaction contemplated by these Terms.</p>
        <p>You shall not unlawfully access or attempt to gain access, or otherwise circumvent any security measures
        that we have applied to our Platform and/or computer system(s). If, at our sole discretion, we were to
        determine that you are in breach of this clause, we reserve the right to take all action as we see fit,
        including, without limitation, completely blocking your access to our Platform, blocking and/or revoking
        your Access Codes and/or terminating your TechnoApp Account. Under these circumstances, we reserve the right
        to seize any profits and/or revenues generated directly or indirectly by exercising any such prohibit
        trading activity and we shall be entitled to inform any interested third parties of your breach of this
        clause; we have and will continue to develop any tools necessary to identify fraudulent and/or unlawful
        access and use of our Platform. </p>
        <p>We shall have no obligation to contact you to advise upon appropriate action in light of changes in
        market conditions (including, without limitation, Market Disruptions) or otherwise. You acknowledge that
        the trades on the over-the-counter market in leveraged financial instruments is highly speculative and
        volatile and that, following execution of any Transaction, you are solely responsible for making and
        maintaining contact with us and for monitoring your open positions and ensuring that any further
        instructions are given on a timely basis. In the event of any failure to do so, we can give no assurance
        that it will be possible for us to contact you and we accept no liability for loss alleged to be suffered
        as a result of any failure by you to do so.</p>
        <p>Without prejudice to any other provisions of these Terms, you agree to indemnify us and hold us, our
        Affiliates and any of our Associates, harmless from and against any and all liabilities, losses, damages,
        costs and expenses, including, without limitation, legal fees and expenses incurred in connection with
        and/or directly or indirectly related with, any fraudulent and/or unlawful access and use by you of our
        Platform and/or the prevention and/or remediation thereof, provided that any such liabilities, losses,
        damages, costs and expenses would not have not arisen, but for our gross negligence, fraud or willful
        default.</p>
        <h2 id="personal-data-and-privacy">Personal Data and Privacy</h2>
        <p>You acknowledge that by opening an account with us and opening or closing Transactions, you will be
        providing us with personal information. You give consent to us for processing all such information for the
        purposes of performing the contract and administering the relationship between you and us. You consent to
        our disclosing such information:</p>
        <ul class="li-bullet li-bullet-2">
        <li> where we are required to by law,</li>
        <li> to Associated Companies,</li>
        <li> to service providers and business partners with whom we have a mutual relationship,</li>
        <li> to such third parties as we deem reasonable,</li>
        <li> where it is necessary in order to prevent crime, and</li>
        <li> to such third parties as we see fit to assist us in enforcing our legal or contractual rights
        against you including but not limited to debt collection agencies and legal advisors.</li>
        </ul>
        <p>You authorise us, or our agents acting on our behalf, to carry out such credit and identity checks as we
        may deem necessary or desirable, including requesting a reference from your bank from time to time and you
        agree to assist us, where necessary, in obtaining such a reference. </p>
        <p>You authorise us or our Associated Companies or any Trading Partner to telephone or otherwise contact you
        at any reasonable time in order to discuss any aspect of our business or of our Associated Companies’
        business or of our Trading Partner’s business. If you do not wish us or our Associated Companies or our Trading Partners to so contact you for any direct marketing activities, you must inform
        us in writing.</p>
       
        <h2 id="closure-of-your-account">Closure of Your Account</h2>
        <p>You may close your TechnoApp Account by submitting a closure request via the Help Centre. TechnoApp will action
        such requests once (i) the sum of all Local Currency and digital currency balances in your TechnoApp Wallet
        is below the Minimum Closure Amount; and (ii) no transactions have taken place in your TechnoApp Account for
        a period of at least 30 days. Such requirements are designed to protect you from loss and TechnoApp will not
        action a closure request until they are satisfied. You accept and acknowledge that, once your TechnoApp
        Account is closed:</p>
        <ul class="li-bullet li-bullet-2">
        <li>you will have no further access to it, </li>
        <li>TechnoApp will be under no obligation to notify you of, or provide to you, any digital currency sent to any receive address associated with your TechnoApp Account,</li>
        <li>TechnoApp reserves the right (but has no obligation) to delete all of your information and account data stored on our servers, and also reserves the right to retain any information that is required for legal or operational reasons,</li>
        <li>If at the date of closure of your account any Local Currency or digital currency remains in your TechnoApp Wallet(s) (i.e. funds amounting to less than the Minimum Closure Amount), you accept and agree that TechnoApp shall retain such funds and that you shall have no further claim to them. The minimum withdrawal limit is US $10.00 / INR 500.00. Hence you cannot withdraw below US $10.00 / INR 500.00 at the same time of closing of your account. You can deposit the remaining amount and withdraw the whole sum altogether, </li>
        <li>You accept and agree that TechnoApp shall not be liable to you or any third party in relation to the closure of your TechnoApp Account, the termination of access to your TechnoApp Account, or for the deletion of your information or TechnoApp Account data.</li>
        </ul>
        <h2 id="restriction-suspension-and-termination">Restriction Suspension and Termination</h2>
        <p>TechnoApp reserves the right to restrict, suspend or terminate your TechnoApp Account where:</p>
        <ul class="li-bullet li-bullet-2">
        <li> We reasonably suspect your TechnoApp Account to be the subject of an operational or other error, in
        which case we may be required to suspend access to your account until such time as the error is
        rectified,</li>
        <li> We reasonably suspect your TechnoApp Account has been or is being used in relation to any unlawful,
        fraudulent or Prohibited Activity, or in breach of these Terms,</li>
        <li> We reasonably suspect you or your TechnoApp Account is or has been associated with, or poses a high
        risk of, money laundering, financing of terrorism, fraud, or any other financial crime,</li>
        <li> We reasonably suspect you of taking any action that TechnoApp considers to be a circumvention of TechnoApp
        ’s controls, including but not limited to opening multiple TechnoApp Accounts,</li>
        <li> We reasonably suspect your involvement in any attempt to gain unauthorized access to any TechnoApp
        Account,</li>
        <li> your TechnoApp Account is or appears to be the subject of any legal, regulatory or government process
        and/or we, in our sole discretion, consider there to be a heightened risk of legal or regulatory
        non-compliance associated with your TechnoApp Account,</li>
        <li> we are compelled to do so by a prima facie valid court order, or other binding order of a government
        or regulatory authority, or</li>
        <li> your name appears on a government or international body sanctions list.</li>
        </ul>
        <p>TechnoApp will make all reasonable efforts to provide you with notice of any decision to restrict, suspend
        or terminate your TechnoApp Account, unless we are prevented from doing so by any legal or regulatory process
        or requirement, or where doing so may compromise TechnoApp's security and/or risk management procedures. You
        accept and agree that TechnoApp is under no obligation to disclose to you the fact of or reason for any
         decision to restrict, suspend or terminate your TechnoApp Account, and shall have no liability to you in
        connection with the restriction, suspension, or termination of your TechnoApp Account.</p>
        <h2 id="financial-advice">Financial Advice</h2>
        <p>Under no circumstances does any information contained on the Platform or provided to you through your
        TechnoApp Account or by any employee, agent or affiliate of TechnoApp, constitute financial, investment or other
        professional advice.</p>
        <p>You are solely responsible for any decision to store, buy or sell digital currency, and such decision
        should take into account your risk tolerance and financial circumstances. You should consult your legal or
        tax professional in relation to your specific situation.</p>
        <h2 id="taxes">Taxes</h2>
        <p>You are solely responsible for determining whether, and to what extent, any taxes apply to any
        transactions you carry out through your TechnoApp Account, and for withholding, collecting, reporting and
        remitting the correct amounts of tax to the appropriate tax authorities.</p>
        <h2 id="prohibited-activities">Prohibited Activities</h2>
        <p>You must not use your TechnoApp Account to undertake any of the activities or categories of activity set out
        in this section (each a “Prohibited Activity”):</p>
        <ul>
        <li><strong> 1. </strong>violation of any laws, statutes, ordinance or regulations,</li>
        <li><strong> 2. </strong>undertaking, facilitating or supporting criminal activity of any kind, including but not limited to, money laundering, terrorist financing, illegal gambling operations or malicious hacking,</li>
        <li><strong> 3. </strong>imposing an unreasonable or disproportionately large load on TechnoApp's infrastructure, or otherwise taking any action that may negatively affect the performance of the Platform or TechnoApp's reputation, </li>
        <li><strong> 4. </strong>attempting to gain unauthorised access to the Platform or any TechnoApp Account,</li>
        <li><strong> 5. </strong>transmitting or uploading any material to the Platform that contains viruses, Trojan horses, worms, or any other harmful programmes,</li>
        <li><strong> 6. </strong>transferring your TechnoApp Account access or rights to a third party, unless as required by law or with TechnoApp's prior consent,</li>
        <li><strong> 7. </strong>paying in to or otherwise supporting pyramid schemes, “get rich quick” schemes, multi-level marketing programmes or high-yield investment programmes,</li>
        <li><strong> 8. </strong>fraudulent activity, including but not limited to taking any actions that defraud TechnoApp or a TechnoApp user, or the provision of any false, inaccurate, or misleading information to TechnoApp,</li>
        <li><strong> 9. </strong>transactions involving items that may help facilitate or enable illegal activity; promote or facilitate hate, violence or racial intolerance; are considered obscene; or may be stolen goods or the proceeds of crime,</li>
        <li><strong> 10.</strong> transactions involving online gambling sites or mixers,</li>
        <li><strong> 11.</strong> sale or purchase of narcotics or controlled substances, and</li>
        <li><strong> 12.</strong> intellectual property infringement.</li>
        </ul>
        <p>By opening a TechnoApp Account, you confirm that you will not use your account to undertake any of the
        above-listed Prohibited Activities or any similar or related activity.</p>
        <p>We reserve the right to restrict, suspend or terminate your TechnoApp Account if we suspect, in our sole
        discretion, that you are using, or have used, your TechnoApp Account in association with any of the
        activities listed above, or any similar or related activity.</p>
        <h2 id="disclaimer-of-warranties">Disclaimer Of Warranties</h2>
        <p>The Platform, your TechnoApp Account and any related products or services are offered on a strictly “as-is”
        and “where-available” basis and TechnoApp expressly disclaims, and you waive, all warranties of any kind,
        whether express or implied. Without limiting the generality of the foregoing, the Platform, your TechnoApp
        Account, and any related products or services are offered without any warranty as to merchantability or
        fitness for any particular purpose.</p>
        <h2 id="limitation-of-liability">Limitation Of Liability</h2>
        <p>In no event shall TechnoApp, its operating entities or any other affiliates (including their respective
        directors, members, employees or agents) be liable to you for any direct, indirect, special,
        consequential, exemplary or punitive damages or any other damages of any kind, including but not limited
        to loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data, whether in
        contract, tort or otherwise, arising out of or in any way connected with your use of, inability to use, or
        unavailability of the Platform and/ or your TechnoApp Account, including without limitation any damages
        caused by or resulting from any reliance upon any information received from TechnoApp, or that result from
        mistakes, omissions, interruptions, deletion of files or email, errors, defects, viruses, delays in
        operation or transmission or any failure of performance, whether or not resulting from a force majeure
        event, communications failure, theft, destruction or unauthorised access to TechnoApp's records, programmes
        or services.</p>
        <p>In no event will any liability of TechnoApp, its operating entities or any other affiliates (including their
        respective directors, members, employees or agents) arising in relation to your use of the Platform or
        your TechnoApp Account, exceed (in aggregate) the fees earned by TechnoApp in connection with your use of your
        TechnoApp Account in the six-month period immediately preceding the event giving rise to the claim for
        liability.</p>
        <p>The above limitations of liability shall apply to the fullest extent permitted by law in the applicable
        jurisdiction. Because some jurisdictions do not allow the exclusion of certain warranties or the
        limitation or exclusion of liability for incidental or consequential damages, some of the limitations in
        this section may not apply to you.</p>
        <h2 id="force-majeure">Force Majeure</h2>
        <p>TechnoApp will not be liable for any loss resulting from your use of the Platform, including, but not
        limited to, failure of electronic or mechanical equipment or communication lines, telephone or other
        interconnect problems, unauthorized access, the malfunction of electronic or mechanical equipment,
        personal computer and any lines thereto, theft, operator errors, or due to any "force majeure" (e.g.,
        severe weather, pandemic, Lockdown, earthquake, flood, fire or other acts of God), and strikes or other
        labour problems, or to any other cause beyond the reasonable control of TechnoApp.</p>
        <h2 id="Queries, Complaints And Disputes">Queries, Complaints and Disputes</h2>
        <p>All queries and complaints should be raised with our customer support department through the support page
        on the platform.</p>
        <p>Without prejudice to any of our other rights to close a Transaction under these Terms, in any case where
        we are in dispute with you in respect of a Transaction or alleged Transaction or any communication
        relating to a Transaction, we may, at our absolute discretion and without notice, close any such
        Transaction or alleged Transaction, where we reasonably believe such action to be desirable for the
        purpose of limiting the maximum amount involved in the dispute, and we will not be under any obligation to
        you in connection with any subsequent movement in the level of the Transaction concerned.</p>
        <p>These Terms and each Transaction entered into with you is in all respects governed by Laws prevailing in
        your jurisdiction to settle any disputes that may arise in relation thereto.</p>
        <h2 id="contact-us">Contact Us</h2>
        <p>If You have any questions relating to these <a asp-controller="policy" asp-action="terms-condition" class="url-1" > Terms of Use</a>, your rights and obligations arising from these Terms of Use and/or Your use of the Website and the Service, or any other matter, please contact our Support Team from secure area of TechnoApp Exchange.</p>
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->




  <!--usdModal  Modal -->

  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>

