
  <!-------------Outer-section---------------------->

  <!-- ===== // Menu section ===== -->


  <!-- ==== Page Name section ==== -->
  <section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="css566-heading mb-3">
            <h1> Press Release </h1>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="index-links">
            <ul>
              <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
              <li>Press Release</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // Page name section -->


  <!-- tab and content section -->
  <section class="tab-content-sec faq-sec bg1 pt-5 pb-5 press-release-page">
    <div class="container-fluid">
      <div class="row">
        <!-- col 4 -->
        <div class="col-lg-4 col-md-4 col-xxl-3" id="sidebar">
          <div class="tab faq-tab press-release-tab">
            <button class="tablinks" onclick="openCity(event, 'one')" id="defaultOpen">Big News: TechnoSavvy Is Now Listed On
              11 Listing Platforms <p> January 27, 2023 <span> 04:23:20 GMT </span></p>
            </button>
            <!-- <button class="tablinks" onclick="openCity(event, 'two')"> Listing Platforms </button> -->
          </div>
        </div>
        <!-- // col 4 -->

        <!-- col 8 -->
        <div class="col-lg-8 col-md-8 col-xxl-9">
          <div class="col-8-faq-tabs p-release-text" id="content">
            <div id="one" class="tabcontent">
              <h6> Big News: TechnoSavvy is Now Listed on 11 Listing Platforms </h6>
              <p> As we are coming close to the release, the excitement in our community has been increasing. We have
                already got the support of more than 30,000 enthusiasts across social media platforms. Despite the
                current bear market, such a response is commendable, and we want to thank all our community members for
                their support. </p>
              <p> Now moving on to the next milestone in the journey, TechnoSavvy Token is listed on 11 coin tracking platforms
                that provide new community members with an extra source of information. </p>

              <h5> About TechnoSavvy and TechnoApp </h5>
              <p> TechnoSavvy is the native utility token of TechnoApp, the next-generation crypto exchange which aims to provide
                the most rewarding crypto experience. TechnoSavvy act as the underlying currency on the exchange, and all the
                transactions route through the TechnoSavvy token. </p>
              <p> The native utility token of TechnoApp is a <strong> fixed supply value variance inflationary token.
                </strong> The token supply is limited to 112.50 billion, and only a minuscule percentage of the entire
                supply will be available in the open market to trade. Further, the unique Automated Market Maker of
                TechnoApp ensures that all the trades on the exchange passes through TechnoSavvy token creating a consistent
                demand for the token. </p>
              <p> Limited supply and consistent demand ensure the value appreciation of the token with each trade,
                making it a fixed supply value variance inflationary token. </p>
              <p> Further, Limited supply in the open market ensures that the price of TechnoSavvy rises with the increasing
                trade volume on the exchange. The price-inflationary nature of TechnoSavvy token makes it an excellent option
                for investment. </p>

              <h5> Listing Platforms </h5>
              <p class="mb-0"> You can find the list below for the website where TechnoSavvy token has been listed. </p>
              <ul class="li-bullet li-bullet-2 prelease-li">
                <li> Crypto Compare </li>
                <li> Coin Checkup </li>
                <li> Coin Codex </li>
                <li> Coin Discovery </li>
                <li> Coin Alpha </li>
                <li> Coin Scope </li>
                <li> Coin Sniper </li>
                <li> Coin Mooner </li>
                <li> Top100Token </li>
                <li> Nomics </li>
              </ul>

              <h5> Ending Note </h5>
              <p> TechnoApp is making its place in the crypto community. We are consistently growing. It is all becoming
                possible because of your love and support. The exchange is expected to come live by the first quarter of
                2023 and just after the launch, the price of TechnoSavvy is expected to rise. Thus, it is the best time to
                <strong> invest </strong> in TechnoSavvy Token and ride the growth wave. </p>
            </div>

            <!-- <div id="two" class="tabcontent">                       
                       <p>You can find the list below for the website where TechnoSavvy token has been listed.</p> 
                    </div> -->
          </div>
        </div>
        <!-- // col 8 -->
      </div>
    </div>
  </section>
  <!-- // tab and content section -->

  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh=""> COMING SOON!</p>

          <p class="text33">We are almost here! Get ready to be amazed.<br>
            <span class="boldtexr34"> We follow Agile!</span>
            <br>We are committed to bring you an incredible Crypto Trading experience.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->



  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/vertical-tab.js"></script>
  <script src="js/sticky-sidebar.js"></script>



