<section class="section-login  bg2">
    <div class="container">
        <div class="row">

            <!----------------------------------------------->
            <div class="wallet-right33">
                <div class="wallet-sectdiv33">
                    <div id="wallet-tabdiv" class="kyc-alphatabdiv">
                        <div class="headingappen">Session Logs </div>
                        <div class="css99-hisbtn">
                            <span class="sell-btn-22">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active sec-t1">                                        
                                        <form  class="positionrelative" autocomplete="off">
                                            <input type="search" class="market-search" placeholder="Search.." name="search" data-tab="myMktTaball-566">
                                            <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                                        </form>                                        
                                    </div>
                                    <div class="tab-pane fade sec-t2">                                        
                                        <form  class="positionrelative">
                                            <input type="search" class="market-search" placeholder="Search.." name="search" data-tab="SessionHistory">
                                            <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                                        </form>                                        
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <!----------------------------------------------->
                <div class="wallet-sectdiv33">

                    <div id="wallet-tabdiv" class="wallet-tabdiv px-0">
                        <div class="css33wallettab">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link mx-0 active" data-bs-toggle="tab" data-bs-target=".sec-t1, .his-s1" href="#activesession">Active Sessions</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" data-bs-target=".sec-t2, .his-s2" href="#history">History</a>
                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <!----------------------------------------------->
              
                <div class="wallet-sectdiv33">
                    <div id="wallet-tabdiv" class="tab-content tab-wall77">
                        <div class="tab-pane fade show active his-s1" >
                            <div class="wallet-sectdiv33">
                                <div class="css33-rightpan  mb-2">
                                    <span class="sell-btn-22">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <label class="form-check-label" >
                                                Logout from all sessions.
                                            </label>
                                        </div>
                                    </span>
                                    <span class="sell-btn-22">
                                        <a href="#" class="csss77-histbtn"> Go </a>
                                    </span>
                                </div>

                                <div id="comunity-css566-box" class="comunity-css566-box">
                                    <div id="ActiveSessions-Table">
                                        <div class="table-xscroll44 table-responsive acc-act-table logsheight">
                                            <table class="table  cssearn-table device-table">
                                            <thead class="trasaction-table-title">
                                                <tr>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center">  </th>
                                                    <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Date </th>
                                                    <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Timestamp </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Country </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> City </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Source </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> IP Address </th>
                                                    <th nowrap="nowrap" rowspan="3" colspan="2" class="css566-table-text text-center"> Status </th>
                                                </tr>
                                                <tr class=" text-center">
                                                    <th nowrap="nowrap" class="css566-table-text text-center">From </th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">To</th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">In </th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">Out</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myMktTaball-566" class="trasaction-table">
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">LoggedIn</span> </td>
                                                    <td class="text-center"><span class="orange btnLogout" type="button" > Logout <span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">LoggedIn</span> </td>
                                                    <td class="text-center"><span class="orange btnLogout" type="button" data-bs-toggle="modal" data-bs-target="#arelog"> Logout <span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">LoggedIn</span> </td>
                                                    <td class="text-center"><span class="orange btnLogout" type="button" data-bs-toggle="modal" data-bs-target="#arelog"> Logout <span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>  
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">LoggedIn</span> </td>
                                                    <td class="text-center"><span class="orange btnLogout" type="button" data-bs-toggle="modal" data-bs-target="#arelog"> Logout <span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> <span class="loggedIn">Logout</span> </td>
                                                </tr>
                                            </tbody>
                                       
                                            <tfoot>
                                                    <tr>
                                                        <td colspan="11">
                                                            <div class="noheight54">
                                                                <div class="norecord-div44">
                                                                    <span><img src="../images/no-data.png"></span>
                                                                    <span> No records found</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                        </table>
                                    </div>
                                     <div class="row">
                                        <div class="col-12">
                                            <div class="my-navigation">
                                                <div class="simple-pagination-first"></div>
                                                <div class="simple-pagination-previous"></div>
                                                <div class="simple-pagination-page-numbers"></div>
                                                <div class="simple-pagination-next"></div>
                                                <div class="simple-pagination-last"></div>
                                            </div>
                                        </div>
                                    </div> 
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade his-s2" >
                            <div class="wallet-sectdiv33">
                                <div id="comunity-css566-box" class="comunity-css566-box">
                                    <div class="table-xscroll44 table-responsive acc-act-table logsheight">                                      
                                        <table class="table  cssearn-table device-table">
                                            <thead class="trasaction-table-title">
                                                <tr>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center">  </th>
                                                    <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Date </th>
                                                    <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Timestamp </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Country </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> City </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Source </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> IP Address </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Status </th>
                                                </tr>
                                                <tr class=" text-center">
                                                    <th nowrap="nowrap" class="css566-table-text text-center">From </th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">To</th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">In </th>
                                                    <th nowrap="nowrap" class="css566-table-text text-center">Out</th>
                                                </tr>
                                            </thead>
                                            <tbody id="SessionHistory" class="trasaction-table">
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center">  LoggedOut</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center">  LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> Web </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center">  LoggedOut </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 2023-01-17 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> 10:25:30 </td>
                                                    <td class="text-center"> India </td>
                                                    <td class="text-center"> Noida </td>
                                                    <td class="text-center"> iOS </td>
                                                    <td class="text-center"> 14.99.237.206 </td>
                                                    <td class="text-center"> LoggedOut </td>
                                                </tr>
                                            </tbody>
                                             <tfoot>
                                                    <tr>
                                                        <td colspan="10">
                                                            <div class="noheight54">
                                                                <div class="norecord-div44">
                                                                    <span><img src="../images/no-data.png"></span>
                                                                    <span> No records found</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                        </table>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!---------------------------------------->

            </div>
        </div>
        </div>
</section>
<div class="modal right fade" id="detail-model4device" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detail-model" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mod-sec221">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> </h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="detail-model544">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 text-center device-management-popup">
                            <img src="images/delete-img.png" alt="image">
                            <h5> Are you sure you want to delete the <span> selected trusted device: </span></h5>
                            <p> Device: Chrome V92.0.4515.159 (Windows) </p>


                            <div class="css7-kyc-btn">

                                <button class="btn model-dark-btn mt-3" type="button" onclick="location.href='security.html'">Cancel </button>
                                <button class="btn model-save-btn mt-3" type="button" onclick="location.href='device-management.html'"> Delete </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        
        $(".btnLogout").on('click', function() {
            //disable button
            $(this).prop("disabled", true);
             var changeTxt = $(this).closest('tr').find('span.loggedIn');
            //ad spinner to button           
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Processing...');
            setTimeout(() => {
                $(this).prop("disabled", false);
                $(this).html('');               
                changeTxt.text('Logout');
            }, 4000);
        });

        
       

        function ApplySearchWithNoRecord() {
    $('table tfoot').hide();
    $('.market-search').each(function () {
        var tn = $(this).attr('data-tab');
        $(this).on("keyup", function () {
            var value = $(this).val().replace(/\s/g, '').toLowerCase();
            //var value = $(this).val().toLowerCase();
            var fn = '#' + tn + ' tr';
            var fntb = $('#' + tn);
            var matchingRows = $(fn).filter(function () {
                return $(this).text().toLowerCase().indexOf(value) > -1;
            });
            if (matchingRows.length > 0) {
                $(fntb).nextAll('tfoot').hide();
                $('.my-navigation').show();
            } else {
                $(fntb).nextAll('tfoot').show();
                $('.my-navigation').hide();
            }
            $(fn).hide();
            matchingRows.show();
        });
        $('.market-search').on('search', function () {
            $('.market-search').val('');
            $('.market-search').trigger('keyup');
        });
    });
}
ApplySearchWithNoRecord()


function sportMarketUl() {
$('#wallet-tabdiv a[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
    let target = $(e.target).data('bs-target');
    console.log('target', target);
    $(target)
        .addClass('active show')
        .siblings('.tab-pane.active')
        .removeClass('active show')
});

}
sportMarketUl()
    </script>        
}