<section class="section-login bg2">
    <div class="container">
        <div class="row flex-nowrap">

            <!-- ========== Device and Activities ========== -->
            <div class="col-md-12 col-lg-12 col-xxl-12 py-3">
                <div class="wallet-right33">

                    <div class="wallet-userdiv33">
                        <span class="market-title-h2 headcss33">
                            <span> <a asp-controller="settings" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                            <span>Address Management</span>
                        </span>
                        <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
                    </div>

                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="tab-content css77earn-estimate">
                            <div class="addban4354 px-2 py-2">
                                <a type="button" class="btn csss77-histbtn  float-right" asp-controller="settings" asp-action="addressmanagementform">
                                    + Add New
                                </a>
                            </div>
                            <div class="tab-pane active" id="flexible44">
                                <div class="css77-tranbox placeholder-glow">
                                    <div id="comunity-css566-box" class="comunity-css566-box">
                                        <div class="table-xscroll44 table-responsive de-ma-table">
                                            <table class="table cssearn-table device-table">
                                                <thead class="trasaction-table-title">
                                                    <tr>
                                                        <th nowrap="nowrap" class="css566-table-text"> Address Label </th>
                                                        <th nowrap="nowrap" class="css566-table-text"> Address </th>
                                                        <th nowrap="nowrap" class="css566-table-text"> Network </th>
                                                        <th nowrap="nowrap" class="css566-table-text">Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="trasaction-table">
                                                    <tr>
                                                        <td><div class="placeholder w-50 placeholder-sm"></div></td>
                                                        <td><div class="placeholder w-50 placeholder-sm"></div></td>
                                                        <td><div class="placeholder w-50 placeholder-sm"></div></td>
                                                        <td><div class="placeholder w-50 placeholder-sm"></div></td>
                                                    </tr>

                                                   @* <tr>
                                                        <td> Prachi Trivedi</td>
                                                        <td>
                                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                                                  data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67"
                                                                  data-bs-original-title="" title=""
                                                                  aria-describedby="popover531066"><a href="#"> 4fe73...</a></span>
                                                        </td>
                                                        <td> ERC-20  </td>
                                                        <td><a href="#" class="delbrn33"> Delete</a>  </td>
                                                    </tr>*@
                                                   

                                                </tbody>
                                                 <tfoot class="d-none">
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="noheight54">
                                                                <div class="norecord-div44">
                                                                    <span><img src="../images/no-data.png"></span>
                                                                    <span> No records found</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div></div>
</section>
