@{
    ViewData["Title"] = "Step-by-Step Guide to Changing Password on TechnoApp ";
}
@section Header {
    <meta name="description" content="Follow our simple guide to change your password securely. Strengthen your account and stay in control of your online presence." />
}
<section class="section-login bg2">
    <div class="container">
        <div class="login-box  d-flex aligns-items-center justify-content-center" id="login-tab">
            <div class="row ">
                <div class="col-md-6 col-xs-12">
                    <div class="login-img"> <img src="/images/login-img.png"> </div>
                </div>
                <div class="col-md-6 col-xs-12 pt-3">
                    <div class="login-form">
                        <h1 class="heading "> Change Password</h1>

                        <form class="was-validated" novalidate>

                            <div class="form-group" style="position:relative">
                                <input type="text" class="form-control changePwd" placeholder="Old Password" id="validationTooltipPassword"
                                       required>
                                <span class="eye112 convertPwd"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                <span class="invalid-feedback">
                                    Please enter old password.
                                </span>
                              
                            </div>

                            <div class="form-group" style="position:relative">
                                <input type="text" class="form-control changePwd" placeholder="New Password" id="validationTooltipPassword"
                                       required>
                                <span class="eye112 convertPwd"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                <span class="invalid-feedback">
                                    Please enter New password.
                                </span>
                               
                            </div>


                            <div class="form-group" style="position:relative">
                                <input type="text" class="form-control changePwd" placeholder="Confirm Password" id="validationTooltipPassword"
                                       required>
                                <span class="eye112 convertPwd"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                <span class="invalid-feedback">
                                    Please enter Confirm password.
                                </span>
                               
                            </div>

                            <div class="sign-two-btn22">
                                <a class="gent-btn  mt-3" type="button" href="">
                                 Confirm
                                </a>
                              
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts{
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/CustomScript.min.js"></script>
    }
    else
    {
        <script src="~/js/CustomScript.js"></script>
    }

}