<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span> <a asp-controller="settings" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                <span>Security verification </span>
            </span>
            <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
        </div>
        <div class="row">
            <div class="csscenterscreen mt-4">        
                    <div class="css77buy-box">                  
                            <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                                <div class="verificationwithdraw-form">
                                    <div class="css33withformdiv">
                                        <form autocomplete="off">
                                            <div class="form-group mt-4 clear">
                                                <label class="lable-name22" for="pwd">Google verification code</label>
                                                <input type="text" class="form-control" placeholder=" " name="pswd">
                                                <div class="enter56"> Enter the 6-digit code from Google Authenticator.</div>
                                                <span class="resend112 gettimer"> Resend OTP in <span id="countdowntimer">25</span> Seconds</span>
                                            </div>
                                    <button class="btn gent-btn mt-3 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#submitbtn">Submit</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                  
                    </div>         
                    </div>           
        </div>
    </div>
</section>

<div class="modal fade" id="submitbtn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mod-sec221">           
            <div class="modal-body">             
                        <div class="row">
                            <div id="deposit-tabdiv" class="  mt-4 mb-4">
                                <div class="confpenddiv">
                            <div class="modegred34">
                                <div class="vericond432"> <i class="fa fa-check d-green" aria-hidden="true"></i></div>
                            </div>
                                    <h2>Account Added!</h2>
                                </div>
                            </div>       
    </div>
</div></div></div></div>