@model List<vmSpotWalletTokenDetail>


<div id="comunity-css566-box" class="comunity-css566-box">
    <div class="table-xscroll44  table-responsive">
        <table class="table  cssearn-table">
            <thead class="trasaction-table-title">
                <tr>
                    <th class="css566-table-text">
                        <div class=" tabl-css44">
                            <span>Coin</span>  <span class="arrow-css44">
                                <a href="#"> <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </th>

                    <th class="css566-table-text">
                        <div class=" tabl-css44">
                            <span>Total Balance</span> <span class="arrow-css44">
                                <a href="#"> <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </th>

                    <th class="css566-table-text">
                        <div class=" tabl-css44">
                            <span>Available Balance</span> <span class="arrow-css44">
                                <a href="#"> <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </th>

                    <th class="css566-table-text">
                        <div class=" tabl-css44">
                            <span>In Order</span> <span class="arrow-css44">
                                <a href="#"> <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </th>

                    <th class="css566-table-text">
                        <div class=" tabl-css44">
                            <span>BTC Value</span> <span class="arrow-css44">
                                <a href="#"> <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </a>
                                <a href="#"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="trasaction-table">
                <tr>
                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                </tr>

                <tr>
                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                </tr>

                <tr>
                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                </tr>
            </tbody>
        </table>

    </div>


</div>