@model vmMarketTrade_OrderHistory
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="wallet-tabdiv33">
    <div id="wallet-tabdiv" class="wallet-tabdiv">
        <div class="sell-right-but ">
            <div class="css33-leftpan">
                <span class="sell-coin22">
                    <lable class="label857"> Time</lable>
                    <select class="form-select" aria-label="Default select example">
                        <option selected="">Past 30 days</option>
                        <option value="1">Past 20 days</option>
                        <option value="2">Past5 days</option>
                    </select>
                </span>
                <span class="sell-btn-22">
                    <lable class="label857">To</lable>
                    <input type="date" class="form-select  form-control2 cssform454" aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                </span>
                <span class="sell-btn-22">
                    <lable class="label857"> From</lable>
                    <input type="date" class="form-select  form-control2 cssform454" aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                </span>
                <span class="sell-btn-22">
                    <div class="css77tran-search ">
                        <form>
                            <input type="text" class="trans-search" placeholder="Search" name="search">
                            <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </span>

                <span class="sell-btn-22">
                    <a href="#" class="csss77-histbtn"> Reset </a>
                </span>
            </div>

        </div>
    </div>
</div>
                        @*-----------------Search Result table for Presentation------------------*@
<div id="comunity-css566-box" class="comunity-css566-box">
    <div class="table-xscroll44  table-responsive">
        <table class="table  cssearn-table">
            <thead class="trasaction-table-title">
                <tr>
                    <th class="css566-table-text">Date </th>
                    <th class="css566-table-text">Pair</th>
                    <th class="css566-table-text">Type </th>
                    <th class="css566-table-text">
                        <div id="market-more" class="market-more-css45">
                            <div class="dropdown">
                                <button type="button" class="btn btn-more-css44 dropdown-toggle" data-bs-toggle="dropdown">
                                    Side
                                </button>
                                <ul class="dropdown-menu dropdown-menu-css44">
                                    <li><a class="dropdown-item dropdown-item-css44" href="#">All</a></li>
                                    <li><a class="dropdown-item" href="#">Buy </a></li>
                                    <li><a class="dropdown-item" href="#">Sell</a></li>
                                </ul>
                            </div>
                        </div>
                    </th>
                    <th class="css566-table-text">Average</th>
                    <th class="css566-table-text">Price </th>
                    <th class="css566-table-text"> Executed </th>
                    <th class="css566-table-text"> Amount</th>
                    <th class="css566-table-text"> Total</th>
                    <th class="css566-table-text">Tigger Conditions</th>
                    <th class="css566-table-text">
                        <div id="market-more" class="market-more-css45">
                            <div class="dropdown">
                                <button type="button" class="btn btn-more-css44 dropdown-toggle" data-bs-toggle="dropdown">
                                    All
                                </button>
                                <ul class="dropdown-menu dropdown-menu-css44">
                                    <li><a class="dropdown-item dropdown-item-css44" href="#">All</a></li>
                                    <li><a class="dropdown-item" href="#">Filled</a></li>
                                    <li><a class="dropdown-item" href="#">Partially Filled</a></li>
                                    <li><a class="dropdown-item" href="#">Cancelled</a></li>
                                    <li><a class="dropdown-item" href="#">Expired</a></li>
                                </ul>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="trasaction-table">

                <tr>

                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                    <td> 2542542</td>
                    <td>2542542 </td>
                    <td>254242 </td>
                    <td> 52542</td>
                    <td> 245245 </td>
                    <td> 245245 </td>
                </tr>

                <tr>
                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                    <td> 2542542</td>
                    <td>2542542 </td>
                    <td>254242 </td>
                    <td> 52542</td>
                    <td> 245245 </td>
                    <td> 245245 </td>
                </tr>

                <tr>
                    <td>565653 </td>
                    <td> 4254</td>
                    <td>52542 </td>
                    <td> 5252452</td>
                    <td>254254  </td>
                    <td> 2542542</td>
                    <td>2542542 </td>
                    <td>254242 </td>
                    <td> 52542</td>
                    <td> 245245 </td>
                    <td> 245245 </td>

                </tr>
            </tbody>
        </table>

    </div>


</div>