@{
    ViewData["Title"] = "TechnoApp Licensing Policy: Powering Your Crypto Journey with Trust and Compliance";
}

@section Header {
    <meta name="description" content="Explore TechnoApp Licensing Policy, the cornerstone of our commitment to trust and compliance in the crypto realm" />
}

    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Licenses </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> <a class="url-1" href="/">Home</a> </li>
                            <li>|</li>
                            <li> License </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


   
  
     <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-12 col-md-12 col-12 mt-4 aos-init" data-aos="fade-up-fade">
        <h6 id="risks" style="font-size: 25px; font-weight: bold;">The Australia </h6>
        <p>NS Capital Holdings Pty Ltd (ABN 73 633 699 699), operates a digital asset exchange which is under application, to be regulated 
            by AUSTRAC in Australia. The AUSTRAC registration number will be provided once the process is completed. 
            TechnoApp Australia (www.TechnoApp.com.au) only offers spot conversion between fiat and digital currency.</p>

@*        <p>The Registered Office of TechnoApp LLC is situated at:</p>
        <div class="border-sec">
SUITE 407<br/>

5 CELEBRATION DR<br/>

BELLA VISTA, NSW, 2153,<br/>

AUSTRALIA
        </div>*@
       
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->