@{
    ViewData["Title"] = "TechnoApp Licensing Policy: Powering Your Crypto Journey with Trust and Compliance";
}

@section Header {
    <meta name="description" content="Explore TechnoApp Licensing Policy, the cornerstone of our commitment to trust and compliance in the crypto realm" />
}

    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Licenses </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> <a class="url-1" href="/">Home</a> </li>
                            <li>|</li>
                            <li> License (@Model._Country)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


     <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-12 col-md-12 col-12 mt-4 aos-init" data-aos="fade-up-fade">
       <p>TechnoApp operates a digital currency exchange. TechnoApp provides crypto-to-crypto transactions on its platform. For more details, please review our <a asp-controller="Policy" asp-action="terms-of-use" class="url-1">'Terms of Use'</a> and <a asp-controller="Policy" asp-action="Privacy-Policy" class="url-1">'Privacy Policy'</a>.</p>

        <p>As a global cryptocurrency exchange, TechnoApp is subject to various regulatory requirements in the countries where it operates. While the exchange is regulated in some jurisdictions, the extent of its regulatory oversight varies depending on the country. </p>

            <p>  TechnoApp recognizes the importance of compliance and regulatory oversight and is currently in the process of seeking regulatory approval in a number of jurisdictions worldwide. This process is designed to ensure that the exchange is fully compliant with all relevant laws and regulations, including AML/KYC compliance, and that it operates in a transparent and secure manner. </p>
            
                <p> The increasing regulatory requirements in the cryptocurrency industry have prompted TechnoApp to take a proactive approach to compliance. By seeking regulatory approval in multiple jurisdictions, the exchange is demonstrating its commitment to operating in a responsible and compliant manner. </p>
            
                    <p> It is important to note that regulatory oversight can vary significantly depending on the country. Some countries have established comprehensive regulatory frameworks for cryptocurrency exchanges, while others are still developing their regulatory approaches.  </p>
            
                        <p> TechnoApp is committed to working with regulators in each jurisdiction where it operates to ensure that it meets all applicable regulatory requirements. This approach ensures that TechnoApp is well-positioned to continue providing its customers with a secure and compliant cryptocurrency trading experience </p>
            
                            <p><span class="text-danger">Warning:</span> Digital asset prices can be volatile. The value of your investment can go down or up, and you may not get back the amount invested. You are solely responsible for your investment decisions, and TechnoApp is not liable for any losses you may incur. Any APR shown is an estimate of rewards you will earn in cryptocurrency over the selected timeframe. It does not display the actual or predicted returns/yield in any fiat currency. APR is adjusted daily, and the estimated rewards may differ from the actual rewards generated. This is not financial advice.
            </p>

      
        </section>
    <!-- // policy page -->
