@{
    ViewData["Title"] = "TechnoApp Privacy Policy: Your Trust, Our Commitment in Crypto Transactions";
}

@section Header {
    <meta name="description" content="Explore TechnoApp Privacy Policy, outlining our dedication to safeguarding your information in the world of crypto transactions." />
}

    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Privacy Policy </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                             <li> <a class="url-1" href="/">Home</a></li>
                            <li>|</li>
                        <li> Privacy Policy (@Model._Country)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="~/images/in-privacy-policy.png" alt="image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3">
        <div class="topic-points">
        <h3 class="text-center"> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#privacy-policy-is-part-of-our-terms"> Privacy Policy Is Part Of Our Terms </a></li>
        <li><a href="#privacy-policy-changes"> Privacy Policy Changes </a></li>
        <li><a href="#voluntary-disclosure-to-third-parties"> Voluntary Disclosure To Third Parties </a>
        </li>
        <li><a href="#when-do-we-collect-this-information"> When Do We Collect This Information </a></li>
        <li><a href="#what-in-information-do-we-collect"> What In Information Do We Collect </a></li>
        <li><a href="#what-purpose-do-we-use-your-information-for"> What Purpose Do We Use Your
        Information For? </a></li>
        <li><a href="#how-do-we-protect-your-information"> How Do We Protect Your Information </a></li>
        <li><a href="#your-consent"> Your Consent </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#use-of-cookies"> Use Of Cookies </a></li>
        <li><a href="#information-disclosure-to-outside-parties"> Information Disclosure To Outside
        Parties </a></li>
        <li><a href="#applicability"> Applicability </a></li>
        <li><a href="#governing-law"> Governing Law </a></li>
        
        <li><a href="#retention-of-personal-information"> Retention Of Personal Information </a></li>
        <li><a href="#incomplete-personal-information"> Incomplete Personal Information </a></li>
        <li><a href="#your-right-to-access-and-update-your-personal-information"> Your Right To Access And
        Update Your Personal Information </a></li>
        <li><a href="#contact-us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12  col-12 2 aos-init" data-aos="fade-up-fade">
        <h6 class="heading_polocy">Privacy Policy</h6>
        <p class="policy-had1"><strong><i>(Applicable to Non-regulated countries of Africa, Asia, Europe, North America, South America &amp;
        Oceanica)</i></strong></p>
        <p class="pt-0">We TechnoApp own and operate the TechnoApp platform. We respect your
        privacy and know that you care about how your personal information is used and shared, and we take your
        privacy seriously. This Privacy Policy (“Policy”) describes the Company's policies and procedures on the
        collection, use and disclosure of your information pursuant to your use of the Company’s website
        (available at <a href="/" class="url-1" > www.TechnoApp.com</a>) and related mobile and software applications, whether existing now or in
        future (collectively, the “Online Platforms”). The Company is committed to ensuring that any use or sharing of your information with anyone shall be- only in accordance with the
        procedures described in this Privacy Policy. </p>
        <p>The terms <code class="pera-color"> “We”, “Our”, “TechnoApp”, “Company”, “Platform” and “Us” </code> refers
        to the Company, its subsidiaries, affiliated entities, permitted assigns (as and when applicable) and the
        terms “User”, “You” and “Your” refer to a User of our Online Platforms. The capitalized terms used in this
        Privacy Policy, but not defined in this Privacy Policy, shall have the meaning given to such terms in the
        <a asp-controller="policy" asp-action="terms-of-use" class="url-1" > Terms of use.</a></p>
        <p>Please read this Privacy Policy before using the site or submitting any personal data. By using the
        Online Platforms, it shall be deemed that you are expressly consenting to be bound by the terms of use
        described in this Privacy Policy.</p>
        <h6 id="privacy-policy-is-part-of-our-terms">Privacy Policy Is Part Of Our terms</h6>
        <p>This Privacy Policy is a part of and incorporated within and is to be read along with the Terms of use of
        our platform (the “Terms”). You may view these Terms on any of our Online Platforms.</p>
        <h6 id="privacy-policy-changes">privacy policy changes</h6>
        <p>The Company may change and update this Privacy Policy from time to time. We will use commercially
        reasonable efforts to generally notify all users of any material changes to this Privacy Policy, however,
        you should look at this Privacy Policy regularly to check for such changes. We will also update the “Last
        Updated” and “Effective date“ at the top of this Privacy Policy, which reflects the effective date of such
        policy. Your continued access to or use of the Services after the date of the updated Privacy Policy
        constitutes your acknowledgment and agreement that you have read, understood and accepted the terms of the
        updated Privacy Policy. If you do not agree to the updated Privacy Policy, you must stop accessing or
        using the Platform and/or the Services. All the changes will have an ex post facto effect. You are
        encouraged to review this Privacy Policy whenever you access our Online Platforms to make sure that you
        understand how any personal data you provide will be used.</p>
        <h6 id="voluntary-disclosure-to-third-parties">voluntary disclosure to third parties</h6>
        <p>This Privacy Policy shall not apply to any information voluntarily disclosed by you to other Users of our
        Online Platforms or third parties other than Selected Third Parties.</p>
        <h6 id="when-do-we-collect-this-information">when do we collect this information</h6>
        <p>We may ask you to provide us with your Personal Information on Website and the App if and when: </p>
        <ul>
        <ul class="li-bullet li-bullet-2">
        <li>you register and make an account on the Website or on the App, </li>
        <li> transfer any funds from/to your linked Bank account </li>
        <li> correspond with us by phone, e-mail chat or otherwise </li>
        <li> place an order on the Website or on the App, as the case may be,</li>
        <li> subscribe to TechnoApp's newsletter, if applicable,</li>
        <li> we troubleshoot problems reported by you </li>
        <li> respond to a survey or fill out a form on the Website or on the App, for the limited purposes of
        identifying you personally, communicating with you, in the context of provision of TechnoApp’s Services,
        in compliance with the requirements of law.</li>
        </ul>
        </ul>
        <h6 id="what-in-information-do-we-collect">what information do we collect</h6>
        <ul class="li-bullet li-bullet-2">
        <li><strong> What information you provide to us: </strong> You may be asked to provide your Personal Information including
        (without limitation) your name, photograph, sex, e-mail address, mailing address, phone number,
        identification documents including government issued identity cards and tax identification details,
        financial information for processing payment transactions, details of your linked bank accounts, your
        location details, or information required by us to detect and protect against frauds and similar
        criminal activity, among other details as may be permitted by applicable law, from time to time.
        You must ensure that all your data and/or information shared with us is accurate, correct and complete,
        at all times. You understand that you must promptly inform us of any changes to your data and/or
        information which may impact your use of our Services. We shall not be liable or responsible for any
        loss or damage that may occur to you or other third parties on account of provision of incorrect data
        and/or information provided by a User</li>
        <li><strong> What information we gather: </strong> Upon your use of the Website and/or the App, for provision of our TechnoApp
        Services we may gather the following information: Your technical information including your login
        details, the internet protocol (IP) address, browser type and version, International Mobile Equipment
        Identity (IMEI), browser plug-in types and versions, operating system and platform, the full Uniform
        Resource Locators (URL) clickstream to, through and from the Website or the App with date and time;
        information about the transactions that take place on your registered Account by you. Information
        relating to fund transfer requests executed by you while accessing Services through our Online
        Platforms, in such transactions, we may collect information relating to such transactions provided by
        you or by a Selected Third Party.</li>
        </ul>
        <h6 id="what-purpose-do-we-use-your-information-for">what purpose do we use your information for?</h6>
        <p>Any of the information the Website collects from you may be used for one of the following purposes:</p>
        <ul class="li-bullet li-bullet-2">
        <li> To provide TechnoApp Services on the Website and the App;</li>
        <li> To personalize your experience on the Website and the App (your information helps us to better
        respond to your individual requirements);</li>
        <li> To improve the Website and the App (we continually strive to improve the offerings based on the
        information and feedback we receive from you);</li>
        <li> To improve customer service (your information helps us to more effectively respond to your customer
        service requests and support needs);</li>
        <li> To verify and process transactions on the Website and/or the App, as applicable;</li>
        <li> To facilitate sale of digital tokens or virtual assets;</li>
        <li> To provide, manage or access digital wallets for holding digital assets;</li>
        <li> To provide services for purchasing, trading and/or holding of digital assets;</li>
        <li> To facilitate various products and/or services related to digital assets;</li>
        <li> To update and back-up our records; </li>
        <li> To enhance the security of our Website and the App and keep the same safe and secure;</li>
        <li> To prevent and identify suspicious /other illegal transactions in order to mitigate risks relating to
        money laundering and other illegal activities;</li>
        <li> To notify you about changes in our Services;</li>
        <li> To run our Website and App and for other internal operations, including troubleshooting, data
        analysis, testing, research, statistical and survey purposes;</li>
        <li> To improve our Website and App features to provide you the best Service;</li>
        <li> To understand the effectiveness of advertising we provide and carry out;</li>
        <li> To comply with any statutory or regulatory requirement;</li>
        <li> To troubleshoot problems; detect and protect against error, fraud and other criminal or illegal
         activity; collect fees owed; enforce our terms and conditions; prevent abuse of our services; prevent
        violation of the rights of third parties, other users or the general public.</li>
        </ul>
        <div class="border-sec">
        <p>Your Personal Information, whether public or private, will not be sold, exchanged, transferred, or
        given to any other entity for any reason whatsoever, without your consent, other than for:</p>
        <ul>
        <li>1. The express purpose of delivering the purchased product or service requested by you from the
        Website or App, as applicable;</li>
        <li>2. administering a contest, promotion, survey or other feature; </li>
        <li>3. sending periodic emails and other communications; and</li>
        <li>4. Performing analysis on the data related to transactions, behaviors etc.</li>
        </ul>
        </div>
        <p>The email address you provide for order processing may be used to send you information and updates
        pertaining to your order, in addition to sending you occasional news, updates, and related product or
        service information of TechnoApp, as applicable.</p>
        <h6 id="how-do-we-protect-your-information">how do we protect your information</h6>
        <p>TechnoApp places great importance on ensuring the security of your personal information. We regularly review and implement up-to-date technical and organisational security measures when processing your personal information. Employees of TechnoApp are trained to handle the personal information securely and with utmost respect, failing which they may be subject to disciplinary action.</p>
        <p> Where applicable, all supplied sensitive/credit information is transmitted securely and then encrypted into our service providers database only to be accessible by those authorized with special access rights to such systems and are required to keep the information confidential. You are solely responsible for the authenticity of the Personal Information supplied by you, and we are not liable for the said authenticity under any circumstances whatsoever. </p>

        <h6 id="your-consent">your consent</h6>
        <p>By accessing and using any of our services, you signify acceptance to the terms of this Privacy Policy.
        Where we require your consent to process your personal information in a manner other than as contained in
        this Privacy Policy, we will ask for your consent to the collection, use, and disclosure of your personal
        information. TechnoApp may provide additional "just-in-time" disclosures or additional information about the
        data collection, use and sharing practices of specific products and services. These notices may supplement
        or clarify TechnoApp's privacy practices or may provide you with additional choices about how TechnoApp
        processes your data. If you do not agree with or you are not comfortable with any aspect of this Privacy
        Policy, you should immediately discontinue access or use of our services and products</p>
        <h6 id="use-of-cookies">use of cookies</h6>
        <p>Cookies are small files that a site or its service provider transfers to your computer’s hard drive
        through your web browser that enables the site or service provider’s systems to recognize your browser and
        capture and remember certain information. We may use cookies to help us to understand, remember and save
        your preferences for future visits.
        Cookie and tracking information collected by us may be shared with third-parties which directly support
        our advertising/promotional activities and are involved in development/updation of our Online Platforms.
        </p>
        <p>Commonly used browsers are set up to automatically accept cookies however you can modify your device’s
        settings to either alert you when you receive cookies or block cookies. If you disable/block cookies, it
        may affect the performance and functionality of our Online Platforms and may also restrict your
        experience. If you use different devices to access our Online Platforms, you would be required to modify
        each device’s settings individually to suit your cookie preferences.</p>
        <h6 id="information-disclosure-to-outside-parties">information disclosure to outside parties</h6>
        <p>
        We do not sell, trade, or otherwise transfer your Personal Information to outside parties. This does not
        include trusted third parties and subcontractors who assist us in operating the Website and the App,
        conducting our business, or servicing you, so long as those parties agree to keep this information
        confidential and ensure the same level of data protection that is adhered to by TechnoApp. We may also
        release your information to:</p>
        <ul class="li-bullet li-bullet-2">
        <li> Comply with applicable law or to respond to a court order,</li>
        <li> Enforce our site policies, or protect our rights, property</li>
        <li> Take actions to detect and prevent an actual or potential occurrence of identity theft, fraud, money
        laundering or other illegal acts,</li>
        <li> To disclose or share your Personal Information in accordance with our Terms of Use; or to protect the
        rights of the platform,</li>
        <li> Share some or all of your information as governed in the case of transfer of assets, acquisitions by
        or mergers with other business entities, </li>
        <li> Share your personal data with Selected Third Party; which means and includes selected partners and
        third parties including our service providers who authenticate KYC and other details as provided by you,
        commercial banks which provide banking facilities to TechnoApp; payment processing companies and other
        Digital Asset exchanges as TechnoApp may work with for providing the TechnoApp platform Services etc.</li>
        </ul>
        <p>However, non-personally identifiable visitor information may be provided to other parties for gaining
        insights and/or other uses. We use certain information in an aggregated form across users to compile
        statistical and demographic profiles for our business and marketing activities.</p>
        <h6 id="applicability">applicability</h6>
        <p>This Privacy Policy applies to information collected through TechnoApp's platform including the Website as
        well as the App, if any.
        </p>
        <h6 id="governing-law">governing law</h6>
        <p>This Privacy Policy shall be governed by laws prevailing in the resident country and rules framed
        thereunder and any amendment, modification, statutory enactment thereto from time to time. Any dispute
        that may arise from this Privacy Policy shall be subject to the exclusive jurisdiction to the courts of
        resident country.</p>
        <h5 class="h5-text">Additional matters relating to personal information</h5>
        <h6 id="retention-of-personal-information">Retention Of Personal Information</h6>
        <p>TechnoApp will retain your personal information in compliance with this <a asp-controller="policy" asp-action="privacy-policy"  class="url-1"> Privacy Policy </a> and the <a asp-controller="policy" asp-action="terms-of-use"  class="url-1"> Terms &amp; Conditions </a> of your agreements with TechnoApp for the duration of your relationship with us, and afterwards
        for such period as may be necessary to protect the interests of TechnoApp and its customers, and as required
        by TechnoApp's relevant policies, and as required by the law.</p>
        <h6 id="incomplete-personal-information">Incomplete Personal Information</h6>
        <p>Where indicated (for example in application forms or account opening forms), it is obligatory to provide
        your personal information to us to enable us to process your application for our products or services.
        Should you decline to provide such obligatory personal information, we may not be able to process your
        application/ request or provide you with our products or services.</p>
        <h6 id="your-right-to-access-and-update-your-personal-information">Your Right to Access and Update Your
        Personal Information</h6>
        <p>You have a right to access your personal information. Please contact customer support if you wish to have
        access to your personal information by writing us to <a href="mailto:support@@TechnoApp.com" class="url-1"> support@@TechnoApp.com. </a> TechnoApp will take steps to verify
        your identity before fulfilling your request.</p>
        <p>If there are any changes to your personal data or if you believe that the personal data we have about you
        is inaccurate, incomplete, misleading or not up-to-date, please contact us so that we may take steps to
        update your personal data. TechnoApp may use its discretion in allowing the corrections requested and/or may
        require further documentary evidence of the new information to avoid fraud and inaccuracy.</p>
        <h6 id="contact-us">contact us</h6>
        <p>The information described in this Privacy Policy is collected and retained by TechnoApp, which owns the
        Website and the App. If you have any concerns pertaining to this Privacy Policy and/or the information
        shared hereunder, You can connect with our Compliance Team at <a href="mailto:compliance.finance@@TechnoApp.com" class="url-1">compliance.finance@@TechnoApp.com</a>.</p>
        <p>Our Compliance Officer shall endeavor to respond to you within 30 days of your submission. Please note
        that if you withdraw your consent to any or all use or disclosure of your personal data, depending on the
        nature of your request, we may not be in a position to continue to provide our services or products to you
        or administer any contractual relationship in place. Such withdrawal may also result in the termination of
        any agreement you may have with us. Our legal rights and remedies are expressly reserved in such an event.
        </p>
        <p class="appex-txt"> This Policy is applicable on List of Countries as per <span class="d-inline-block css22protext proper" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="*This link is the part of our TechnoApp Beta Program &amp; this will be available in the Beta version only." data-bs-original-title="" title=""> Appendix-I </span></p>
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->


  