@{
    ViewData["Title"] = "TechnoApp Referral Policy: Guidelines for Building a Thriving Crypto Community";
}

@section Header {
    <meta name="description" content="Discover the ins and outs of TechnoApp's Referral Policy, your roadmap to fostering a vibrant crypto community. " />
}

    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Referral Policy </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                             <li> <a class="url-1" href="/">Home</a></li>
                            <li>|</li>
                            <li> Referral Policy </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="~/images/referral-policy.png" alt="image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-12 col-md-12">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#how-does-it-work"> How does it work? </a></li>
        <li><a href="#eligibility"> Eligibility </a></li>
        <li><a href="#how-to-refer"> How to refer? </a></li>
        <li><a href="#Perpetual Commissions"> Perpetual Commissions </a></li>
        <li><a href="#restrictions"> Restrictions </a></li>
        <li><a href="#when-will-the-bonus-be-paid"> When will the Bonus be paid? </a></li>
        <li><a href="#contact-us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-12 col-12 2 aos-init" data-aos="fade-up-fade">
        <h6 class="introduction_div">TechnoApp Referral Policy</h6>
        <p>By participating in the TechnoApp Referral Program you agree to accept and comply with TechnoApp Referral
        Program Terms &amp; Conditions and any other applicable conditions communicated to you as applicable from time
        to time (the <strong> “Referral Terms”). </strong> You should read the entire Referral terms before
        participating in the Referral Program. When you share the Referral Link it is considered you agree to the
        Referral Terms. If you do not agree with the Referral Terms or any part of it, you may not use the
        Referral Link.
        </p>
        <h6 id="how-does-it-work"> How does it work? </h6>
        <p> TechnoApp provides you with a Referral Link in your TechnoApp account. You may invite others to participate or
        get associated with TechnoApp. </p>
        <p>
         When a referred user registers via your Referral Link and becomes an active trader by making a transaction of at least $10 (USD) within a period of 30 days from the date of registration then Referrer get TechnoSavvy Tokens worth of $1 (USD), and Referee will get TechnoSavvy Tokens worth of $3 (USD) in their wallets.
         </p>
        <p> This will make referee a part of community of TechnoApp and will become eligible for more awards or
        benefits in future. </p>
        <p> A User may send Referral Link as many times as they like. You can share your Referral Link via Email,
        WhatsApp, SMS, or any other relevant social media platform. It is important that the link on TechnoApp is
        used and that the Referred User clicks on the Referral Link. The Referral Links have a special code in the
        end enabling us to link your account with the Referred User. When someone clicks your Referral Link, a
        link between your account and the Referred User shall be stored with the help of cookies. The cookie will
        store the data for 30 days during which the Referred User can either use the provided registration form in
        the Referral Link or can register directly on the TechnoApp website. For more information regarding data
     privacy please see our <a asp-controller="Policy" asp-action="Privacy-Policy" class="url-1" target="_blank"> Privacy Policy. </a>
                </p>
        <p class="pera-color"><i>In case the Referred User receives several Referral Links, the Referral Link to
        which the Referred User first clicked is activated.</i></p>
        <h6 id="eligibility"> Eligibility </h6>
        <p><strong> How can you be Referrer? </strong> Only TechnoApp Users may participate in the TechnoApp Referral
        Program. </p>
        <p> TechnoApp employees are restricted from participating in the referral program in order to maintain
        transparency in the activities done by TechnoApp. </p>
        <div class="border-sec border-sec-3">
         <h6 id="how-can-you-become-a-referee"> How can you be Referrer? </h6>
        <p> In order to become a referee, User needs to fulfill following conditions: </p>
        <ul>
        <li><strong> 1. </strong>He should not be a registered user on TechnoApp Platform and has a valid referral
        ID, and </li>
        <li><strong> 2. </strong>He needs to make a transaction of minimum $10 (USD) within 30 days of
        registration. </li>
        </ul>
        <p> A Referee may use a Referral link only once; combining multiple Referral Link is not possible. </p>
        </div>
        <h6 id="how-to-refer"> How to refer? </h6>
        <p> In order to refer TechnoApp with your friends, User is required to follow below mentioned steps: </p>
        <ul>
                    <li><strong> 1. </strong>Visit <a href="TechnoApp.com" class="url-1" target="_blank"> TechnoApp.com </a> </li>
        <li><strong> 2. </strong>Register with TechnoApp using email id and password </li>
      @*   <li><strong> 3. </strong>Scroll Down to referral section. Generate and copy your <strong> unique Referral
                  Link. </strong></li> *@
                    <li><strong> 3. </strong> Visit <a asp-controller="referral-program" asp-action="index"> Referral Program </a> section and copy your unique Referral Link.</li>
        <li><strong> 4. </strong>Share the link within your community so that they can register on TechnoApp. </li>
        <li><strong> 5. </strong>Once they register and make the needful transaction using their existing wallet,
        referrer will receive aforementioned bonus in his earned wallet. </li>
        </ul>
        <div class="border-sec">
         <p>User can use the Referral Link in any of the following medium to avail the Bonus:
                    </p>Affiliates can now earn perpetual
                    <ul>
        <li><strong> 1. </strong>Email or DM to friends, </li>
        <li><strong> 2. </strong>Share across social media, </li>
        <li><strong> 3. </strong>Share on personal website or blog. </li>
        </ul>
        </div>
        <div class="example-class-1">
         <p><h2><strong> Example 1: </strong></h2></p>
        <ul>
        <li>User A invited User B via the Referral link. </li>
        <li> User B completed a transaction of more than $10 within 30 days.</li>
        <li>User A will receive TechnoSavvy Tokens worth $1 (USD) and User B will receive TechnoSavvy Tokens worth $3 (USD) in their wallets.
        </li>
        </ul>
        </div>
        <div class="example-class-1">
        <p><h2><strong> Example 2: </strong></h2></p>
        <ul>
        <li>User A invited User C and User D.</li>
        <li>Both User C and User D completed a transaction of more than $10 within 30 days.</li>
         <li>User A will receive TechnoSavvy Tokens worth $2 (USD) and both User B and User C will receive TechnoSavvy Tokens worth $3 (USD) in their wallets.
         </li>
        </ul>
        </div>
        <h6 id="Perpetual Commissions"> Perpetual Commissions </h6>
        <p> <span class="simple-text"> It’s for life. Yes, lifetime commissions- </span> no caps, no time limits,
        just a stream of immediate payouts after each trade completed which only grows with more users you invite.
        </p>
        <p> A registered user is eligible to earn more bonus in the form of Commissions which will be paid on
        monthly basis on fulfillment of certain conditions as below: </p>
        </div>
        
        <div class="container mt-4">
        <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
         <div class="tbale-class table-responsive">       
        <table id="customers" class="aos-init" data-aos="flip-up">
        <thead>
        <tr>
        <th class="text-left"> S. No. </th>
         <th class="text-left"> Condition </th>
        <th class="text-left"> Commission </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="text-left"> 1. </td>
         <td class="text-left"> On referring 5,000-9999 Active Users </td>
         <td class="text-left"> Up to +20% of the "Referee's Cashback"  as Commission </td>
        </tr>
       <tr class="tbody-tr">
        <td class="text-left"> 2. </td>
        <td class="text-left"> On referring 10,000-19,999 Active Users</td>
    <td class="text-left"> Up to +30% of the "Referee's Cashback"  as Commission </td>
        </tr>
         <tr>
         <td class="text-left"> 3. </td>
         <td class="text-left">On referring 20,000-99,999 Active Users</td>
         <td class="text-left">Up to +40% of the "Referee's Cashback"  as Commission </td>
        </tr>
         <tr class="tbody-tr">
        <td class="text-left"> 4. </td>
     <td class="text-left">On referring 100,00 or more Active Users</td>
      <td class="text-left">Up to +50% of the "Referee's Cashback"  as Commission </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
 
        </div>
        </div>
        
        <div class="col-lg-12 col-md-12">
        <p> For the payment of Perpetual Commissions, Active User must be a user who is executing a trade minimum of
        $10(USD) in a month on TechnoApp. </p>
        <p> Any registered user who is referring less than 5000 Active Users, will not be eligible to earn any
        Perpetual Commission but will certainly earn TechnoSavvy Tokens referral bonus equivalent to $1(USD) on each
        active referee. Further, the same user will also be eligible to earn TechnoSavvy Tokens worth $10 (USD) on each
        100 Active Referees. </p>
        <p> Affiliates can now earn perpetual commissions of up to $1,00,000 equivalent TechnoSavvy Tokens based on the
         fees paid by their referees over a period of 1 calendar month. </p>
        <p> The perpetual commissions is actually very simple and all TechnoApp Affiliates are eligible for the
        perpetual commissions program by default! </p>
                <p><strong> For example, </strong> if you refer 5000 Active users and your referrals earned  the equivalent of 150,000 USDT as cash back on trading between 2022-11-01 and 2022-11-30, then you will receive a perpetual commission of 30,000 USDT (150,000 USDT * 20%) value Tokens. </p>
                <p> If in above example Active users are more then 5000 (say, 10,000), than you will receive a perpetual commission of 45,000 USDT (150,000 USDT * 30%) value Tokens.</p>
                <p> If in above example Active users are more then 100,000 (say, 101,000), than you will receive a perpetual commission of 75,000 USDT (150,000 USDT * 50%) value Token. </p>
                <p>Perpetual Commission will be directly transferred in account before the 10th day of every respective month. </p>
        <h6 id="restrictions"> Restrictions </h6>
        <p> In case, Referral Link is used solely for the purpose of exploiting the reward system, we will
        restrict your participation in the Referral Program. </p>
        <p> The following actions when using the Referral Link are prohibited: </p>
        <div class="border-sec border-sec-2">
        <ul>
        <li> 1. Promoting your referral code through the use of paid advertising “TechnoApp” or TechnoApp related
        keywords. </li>
        <li> 2. Using the Referral system solely as a source of revenue. TechnoApp reserves the right to make a
        decision in its sole discretion whether the Referrer is exploiting the Referral Program lacking the
        basic intention of being a user of TechnoApp. </li>
        <li> 3. Using the TechnoApp brand, the Referral Program, our services, TechnoApp platform in connection with
        any offensive, abusive, harassing, or defamatory content, or in any such manner contrary to the
        principles of fairness and integrity. </li>
        </ul>
        </div>
        <p> In case, we detect any such inappropriate use (not limited to) of the Referral Program TechnoApp reserves
        the right to: </p>
        <div class="border-sec border-sec-2">
        <ul>
        <li> 1. Deactivate your Referral Link at any time and at its own discretion. </li>
        <li> 2. Disable the registered Email Id of the user which results in deactivation of Referral Payments.
        </li>
        <li> 3. Limit the use of the Referral Link (e.g., defining the maximum number of link shares). </li>
        <li> 4. Disqualify any actions performed by the Referrer or Referee. </li>
        </ul>
        </div>
        <h6 id="when-will-the-bonus-be-paid"> When will the Bonus be paid? </h6>
        <p> Bonus will be added to the user’s respective wallets within a specific time period. </p>
        <p> In case of termination of the Referral Program all referrals successfully made before the termination
        will receive the rewards. </p>
                <p> For any further information on Terms of Use of TechnoApp and its other services, please refer to our <a asp-controller="policy" asp-action="terms-of-use"> Terms of Use. </a></p>
        <h6 id="contact-us"> Contact Us </h6>
        <p> In case of any query with respect to this Program, User may connect with us through our Telegram support
        handle available at <a href="https://t.me/nav_exm" class="url-1" target="_blank"> https://t.me/nav_exm </a></p>
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->


  