
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->

    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Risk Disclosure </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                             <li> <a class="url-1" href="/">Home</a></li>
                            <li>|</li>
                            <li> Risk Disclosure </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="~/images/risk-disclosure.png" alt="image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#Risk-Disclosure"> Risk Disclosure </a></li>
        <li><a href="#Risks"> A. Risks </a></li>
        <li><a href="#No-Personal-Advice"> B. No Personal Advice </a></li>
        <li><a href="#No-Monitoring"> C. No Monitoring </a></li>
        <li><a href="#No-Tax-Regulatory-or-Legal-Advice"> D. No Tax, Regulatory or Legal Advice </a></li>
        <li><a href="#Fees-Charges"> E. Fees & Charges </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        
        <div class="col-lg-12 col-md-12 col-12 2 aos-init" data-aos="fade-up-fade">
        <h6 class="Risk-Disclosure">Risk Disclosure</h6>
        <p>Before trading or transacting using our Services, it is important to understand the risks. We have included below, in more detail, the potential risks in trading or transacting using our Services. You should note that the risks described below are not intended to be exhaustive and are not intended to be presented in any assumed order of priority. We ask you to take time to carefully read them through and to consider whether such trading and transacting on TechnoApp is appropriate in your particular circumstances. </p>
        <p>You should seek independent professional advice if you do not fully understand the risks of using our Services.</p>

        
        <h6 id="Risks">A. Risks</h6>
        <ul class="li-bullet li-bullet-2">
        <p> <strong> 1.	Trading risks: </strong> </p>
        <li>You acknowledge and agree that you shall access and use the Services at your own risk. The risk of loss in trading Digital Token pairs can be substantial. You should, therefore, carefully consider whether such trading is suitable for you in light of your circumstances, objectives and financial resources. You should be aware of the following points:</li>
        <li>You may sustain a total loss of the Funds transferred to, and of all Funds in, your TechnoApp Account. The traded price of Digital Tokens can fluctuate greatly within a short period of time. The traded price of a Digital Token also may decrease due to various factors including discovery of wrongful conduct, market manipulation, changes to properties of the Digital Token, Attacks, suspension or cessation of support for a Digital Token by TechnoApp or External Account providers or other service providers, and other factors outside the control of TechnoApp.</li>
        <li> Under certain market conditions, you may find it difficult or impossible to buy or sell a Digital Token. This can occur, for example, if there is insufficient liquidity in the market. We are not and shall not be responsible or liable for the transferability, liquidity and/or availability of any Digital Tokens except of TechnoSavvy.  </li>
        <li> TechnoApp may suspend trading in or cease to offer services in respect of any of the Digital Tokens at any time at its sole discretion. You may be unable to withdraw Digital Tokens prior to TechnoApp’ s ceasing to offer Services in respect of any such Digital Tokens, resulting in the loss of any such Digital Tokens remaining in your TechnoApp Account. <br> This brief statement cannot, of course, disclose all the risks and other aspects associated with these trades. You are solely responsible for ensuring that you understand and accept all risks connected with transacting and trading in Digital Tokens and are able and willing to accept and bear for your own account all possible losses that may arise from such transactions and trading in Digital Tokens. </li>
        
        <p> <strong>2. Internet transmission risks and error correction: </strong> </p>
        <li> You acknowledge that there are risks associated with utilizing an Internet-based trading system including, but not limited to, the failure of hardware, software, and Internet connections. You acknowledge that TechnoApp shall not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when trading via the Services, howsoever caused. <br> If an order, trade or transfer is based on a Manifest Error (regardless of whether you or we or any other user gains from the error) and/or executed and/or settled on the basis of Manifest Error, TechnoApp may (but is not obliged to), at its option and sole discretion, act reasonably and in good faith to: (a) correct, reverse or cancel any order, trade or transfer; (b) void a trade as if it had never taken place; and/or (b) amend a trade so that its terms are the same as the trade which would have been executed if there had been no Manifest Error. There is a risk that you may be prejudiced by any action or omission of TechnoApp in this regard, and you accept that you have no recourse whatsoever against TechnoApp. </li>

        <p> <strong>3. Risks associated with attacks on the Services or the TechnoApp Accounts: </strong> </p>
        <li> The Services and/or the TechnoApp Accounts and the Funds held therein may be subject to attacks on their security, integrity, or operation and you acknowledge and agree that TechnoApp shall not be responsible or liable for any losses resulting therefrom. </li>

        <p> <strong>4. Risks arising from properties of Digital Tokens:</strong> </p>
        <li> Any Digital Token and the software, networks, protocols, systems and other technology used to administer, create, issue, transfer, cancel, use or transact in any Digital Token may be vulnerable to attacks on its security, integrity or operation (“Attacks”), including attacks using computational power sufficient to overwhelm the normal operation of a blockchain or other Underlying Technology. </li>
        <li> Any Digital Token or Underlying Technology may change or otherwise cease to operate as expected due to a change made to the Underlying Technology, a change made using features or functions built into the Underlying Technology or a change resulting from an Attack. These changes may include, without limitation, a “fork” or “rollback” of a Digital Token or blockchain. </li>
        <li> Any Digital Token may be cancelled, lost or double spent, or have its traded price otherwise diminished, due to forks, rollbacks, Attacks, changes to the functions, characteristics, operation, use and other properties of the Digital Token or failure of the Digital Token to operate as intended. </li>
        <li> TechnoApp may not support related side chains or other Underlying Technology of Digital Tokens that are based on a fork, enhancement, or derivative of a different Digital Token or Underlying Technology, even if such is based on a Digital Token that is supported by TechnoApp. Any Digital Token may be lost if sent to the wrong address (for example but without limitation, if the address is improperly formatted, contains errors, or is intended to be used for a different type of digital token). </li>

        <p><strong> 5. Regulatory risks: </strong></p>
        <li> The regulatory status of Digital Tokens is unclear or unsettled in many jurisdictions. It is difficult to predict how or whether governmental authorities will regulate the Digital Tokens. It is likewise difficult to predict how or whether any governmental authority may make changes to existing laws, regulations and/or rules that will affect any of the Digital Tokens. The Digital Tokens hence may be securities or be otherwise regulated under the laws of certain jurisdictions. TechnoApp may cease offering Services in respect of any of the Digital Tokens or prohibit use of the Services in or from certain jurisdictions in the event that governmental actions make it unlawful or commercially undesirable to continue to offer such Services in respect of any Digital Token. You also represent and warrant that you will not use our Services if any applicable laws in your country prohibit you from doing so in accordance with the Terms of Use.  </li>

        <p><strong>6. Counterparty risk:</strong> </p>
        <li> We have no control over, or liability for, the delivery, quality, safety, legality, or any other aspect of any Digital Tokens that you may purchase or sell to or from a user of the Services. We are not responsible for ensuring that a third-party buyer or a seller you transact with will complete a trade or transaction or is authorised to do so. There is also no guarantee fund established or other arrangement in place to cover or compensate you for any pecuniary loss suffered by you as a result of any defaults by or the insolvency of any other users of the Services. </li>

        </ul>


        <h6 id="No-Personal-Advice">B. No Personal Advice</h6>
        <p>We do not provide personal advice in relation to our products or services. We sometimes provide factual information, information about transaction procedures and information about the potential risks. However, any decision to use our products or services is made by you. No communication or information provided to you by TechnoApp is intended as, or shall be considered or construed as, investment advice, financial advice, trading advice, or any other sort of advice. You are solely responsible for determining whether any investment, investment strategy or related transaction is appropriate for you according to your personal investment objectives, financial circumstances, and risk tolerance. </p>

        <h6 id="No-Monitoring"> C. No Monitoring </h6>
        <p> TechnoApp is not your broker, intermediary, agent, or advisor and has no fiduciary relationship or obligation to you in connection with any trades or other decisions or activities undertaken by you using TechnoApp Services. We do not monitor whether your use of TechnoApp Services is consistent with your financial goals and objectives. It is up to you to assess whether your financial resources are adequate for your financial activity with us, and to your risk appetite in the products and services you use. </p>

        <h6 id="No-Tax-Regulatory-or-Legal-Advice"> D. No Tax, Regulatory or Legal Advice </h6>
        <p>The taxation of Digital Assets is uncertain, and you are responsible for determining what taxes you might be liable to, and how they apply, when transacting through the TechnoApp Services. It is your responsibility to report and pay any taxes that may arise from transacting on the TechnoApp Services, and you acknowledge that TechnoApp does not provide legal or tax advice relative to these transactions. If you have any doubts about your tax status or obligations when using TechnoApp Services, or with respect to the Digital Assets held to the credit of your TechnoApp account, you may wish to seek independent advice. <br> You acknowledge that, when, where and as required by applicable legislation, TechnoApp shall report information regarding your transactions, transfers, distributions or payments to tax or other public authorities. Similarly, when, where and as required by applicable law, TechnoApp shall withhold taxes related to your transactions, transfers, distributions, or payments. Applicable legislation could also prompt TechnoApp to request you for additional tax information, status, certificates, or documentation. You acknowledge that failure to answer these requests within the timeframe defined, may result in withholding taxes by TechnoApp, to be remitted to tax authorities as defined by relevant law. You are encouraged to seek professional and personal tax advice regarding the above and before making any digital asset transaction. </p>

        <h6 id="Fees-Charges"> E. Fees & Charges </h6>
        <p>Our fees and charges are set out here. TechnoApp may, in its discretion, update the fees & charges from time to time. Please be aware of all costs and charges that apply to you because such costs and charges will affect the gains you generate from using TechnoApp Services.  </p>
        <p> The risks described in this Risk Disclosure Statement may result in loss of Digital Tokens, decrease in or loss of all value for Digital Tokens, inability to access or transfer Digital Tokens, inability to trade Digital Tokens, inability to receive any specific utility, access or benefits available to other Digital Token holders, and other financial losses to you. You hereby accept and agree that TechnoApp will, at all times, have no responsibility or liability for, such risks. You hereby irrevocably waive, release and discharge any and all claims, whether known or unknown to you, against TechnoApp and their respective directors, members, officers, employees, agents, and contractors related to any of the risks set forth herein. </p>
        <p> You represent and warrant that you have: (a) the necessary technical expertise and ability to review and evaluate the security, integrity, and operation of any Digital Tokens that you decide to acquire or trade; and (b) the knowledge, experience, understanding, professional advice and information to make your own evaluation of the merits and risks of any Digital Token or trade. You accept the risk of trading Digital Tokens by using the Services and are responsible for conducting your own independent analysis of the risks specific to the Digital Tokens and the Services. You should not acquire or trade any Tokens unless you have sufficient financial resources and can afford to lose all value of the Digital Tokens or suffer substantial losses. </p>
        <p> TechnoApp’ s decision to support transfer, storage or trading of any particular Digital Token through the Services does not indicate TechnoApp ’s approval or disapproval of the Digital Token or the integrity, security or operation of the Digital Token or its Underlying Technology and TechnoApp does not in any way make any representation or warranty as to any Digital Token supported or not supported by the Services. The risks associated with Digital Tokens and trading Digital Tokens apply notwithstanding TechnoApp ’s decision to provide Services in respect of a particular Digital Token, and risks of all such trading will be wholly yours and yours alone to bear. </p>
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->

