@{
    ViewData["Title"] = "TechnoApp  Guide to Secure and Rewarding Staking Practices";
}
@section Header {
    <meta name="description" content="Understand the principles of secure and rewarding staking with our Staking Policy. Explore our guidelines to ensure a transparent and fulfilling staking experience." />

}
<section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="css566-heading mb-3">
                    <h1>Staking Terms & Conditions </h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="index-links">
                    <ul>
                        <li><a href="index.html" class="url-1"> Home </a>  </li>
                        <li> |</li>
                        <li>Staking Terms & Conditions </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Page name section -->
<!-- Start Policy Page -->
<section class="bg1">
    <div class="container">
        <div class="row cookies-div">
            <div class="col-lg-4 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-right">
                <img src="/images/in-privacy-policy.png" alt="image" class="mt-3" width="100%" height="auto">
            </div>
            <div class="col-lg-8 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-left">

                <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
                    <h3> Topics </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="topic-scroll-box-1">
                                <ul class="li-bullet-2">
                                    <li><a href="#staking"> Staking </a></li>
                                    <li><a href="#how-participate-staking"> How to participate in Staking </a></li>
                                    <li><a href="#flexible-staking"> Flexible Staking </a> </li>
                                    <li><a href="#flexible-auto-subscribe"> Flexible Auto-Subscribe</a></li>
                                    <li><a href="#locked-staking">Locked Staking </a></li>
                                    <li><a href="#locked-staking-auto-subscribe"> Locked Staking Auto-Subscribe </a></li>
                                    <li><a href="#changes-staking-interest-rate"> Changes to Staking Interest Rate  </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="topic-scroll-box-1">
                                <ul class="li-bullet-2">
                                    <li><a href="#Placing-stop-suspension"> Placing a stop or suspension on, or canceling, your Staking Account and Earn Wallet  </a></li>
                                    <li><a href="#account-information-and-transaction-records"> Account information and transaction records </a></li>
                                    <li>
                                        <a href="#technology-disclaimers ">
                                            Technology disclaimers
                                        </a>
                                    </li>
                                    <li><a href="#general-terms"> General Terms  </a></li>
                                    <li><a href="#definitions"> Definitions </a></li>
                                    <li><a href="#disclaimer"> Disclaimer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-9 col-12 2 aos-init policy-h3-heading">
                <h2 id="staking">Staking</h2>

                <p><strong>1. </strong> By engaging in Staking with TechnoApp, you confirm that you have comprehensively read, understood, and accepted all the terms and conditions stated in these Staking Terms. Furthermore, you acknowledge and consent to being obligated by and complying with these Staking Terms. If you fail to fully grasp and accept these Staking Terms, it is recommended that you refrain from participating.</p>

                <p><strong>2. </strong> By subscribing to a Staking Offer, you have the opportunity to earn Staking Interest by providing TechnoApp with your Staking Assets. </p>

                <!-------------------------------------------------->
                <h2 id="how-participate-staking">How to participate in Staking</h2>
                <p><strong>3. </strong> When you provide TechnoApp with Digital Assets for Staking purposes, you will be presented with the following terms on the Platform, and you will be required to agree to some or all of them: </p>
                <ul class="li-bullet li-bullet-2">
                    <li>The Staking Interest Rate. </li>
                    <li>The amount of Staking Assets you intend to use for Subscription.  </li>
                    <li>The digital currency you will use for Subscription. </li>
                    <li>Whether the Staking Offer is Flexible Staking or Locked Staking. </li>
                    <li>If you opt for Locked Staking, the Locked Staking Term and the Locked Distribution Frequency.  </li>
                </ul>

                <p> <strong>4. </strong> TechnoApp may stipulate a minimum amount of Staking Assets necessary for Subscription to a Staking Offer, as well as any applicable Subscription Limits. </p>

                <p> <strong>5. </strong> Subscription will not be available between 23:50 UTC and 00:10 UTC each day.  </p>

                <h2 id="flexible-staking">Flexible Staking </h2>
                <p><strong>6. </strong> For Flexible Staking: </p>
                <p><strong> a. Staking Interest:</strong> </p>
                <ul class="li-bullet li-bullet-2">
                    <li>Staking Interest will begin accumulating at the Staking Interest Rate from the day following your Subscription. It will accrue on a daily basis, calculated based on the number of days elapsed in a 365-day year. However, no Staking Interest will be earned on the first day of your Subscription.  </li>
                    <li>The accrued Staking Interest will be distributed to your Earn Wallet on the day after it is accrued, between 00:00 UTC and 08:00 UTC. Consequently, the distribution of Staking Interest to your Earn Wallet will occur on the third day after your Subscription.  </li>
                    <li>Staking Interest is applied daily exclusively to Staking Assets and does not affect the accrued Staking Interest. </li>
                    <li>The calculation of Staking Interest will be based on the Staking Interest Rate applicable on the day when the Staking Interest is accrued. </li>
                    <li>Staking Interest will be provided in the same digital currency as your Staking Assets, unless specified otherwise.   </li>
                    <li> Staking Interest will be rounded down to 6 decimal places. </li>
                </ul>
                <p> <strong>b. The Staking Interest Rate: </strong></p>
                <ul class="li-bullet li-bullet-2">
                    <li>may vary from time to time; and   </li>
                    <li>if it is changed, the new Staking Interest Rate will apply from the time and date specified by TechnoApp. If no time is specified, it will be 00:00 UTC on the day that TechnoApp announces the change will take effect, on the Website. </li>
                </ul>

                <p> <strong>c. Redemption: </strong></p>
                <ul class="li-bullet li-bullet-2">
                    <li> can be by Fast Redemption or Standard Redemption. </li>
                    <li>
                        if you elect to Redeem using Fast Redemption:
                        <ul>
                            <li> Staking Interest will not be accrued or distributed to your Earn Wallet for the day that you elect to Redeem; and </li>
                            <li>your Staking Assets will be returned to your Earn Wallet immediately; and </li>
                        </ul>
                    </li>

                    <li>
                        if you elect to Redeem using Standard Redemption:
                        <ul>
                            <li> Staking Interest will be accrued and distributed to your Earn Wallet for the day that you elect to Redeem; and  </li>
                            <li>your Staking Assets will be returned to your Earn Wallet within 24 hours of your request; and </li>
                        </ul>
                    </li>

                    <li> in some circumstances, including but not limited to events of extreme market volatility, network delays or a significant number of simultaneous instructions to Redeem from other TechnoApp users, your Redemption may be delayed; and </li>
                    <li> you will not be able to Redeem your Staking Assets between 23:50 UTC and 00:10 UTC each day. </li>
                </ul>

                <div class="border-sec">
                    <p>
                        Flexible Staking: Example <br>

                        You Subscribe to a Staking Offer for XYZ Asset. The Staking Interest Rate is 10%. You Subscribe using 10,000 XYZ Assets to Flexible Staking. <br>

                        You Subscribe on a Monday at 12:00 UTC. You do not earn Staking Interest for the first day (Monday). Staking Interest begins to accrue on Tuesday and is paid to your Earn Wallet on Wednesday. <br>

                        The amount paid to your Earn Wallet on Wednesday is as follows: <br>

                        10,000 × 10% × 1 ÷ 365 = 2.73972602 XYZ
                    </p>

                </div>

                <p> <strong>7. </strong> The purpose of this example is to demonstrate the calculation of Staking Interest. It does not aim to provide any representation regarding the performance of specific Digital Assets, the volatility of particular Digital Assets, or the general Digital Asset markets. The Digital Assets used in this example are entirely fictitious. </p>


                <h2 id="flexible-auto-subscribe">Flexible Auto-Subscribe  </h2>
                <p><strong>8. </strong> You have the option to authorize TechnoApp to automatically transfer one or more Eligible Staking Currencies from your Earn Wallet to your Staking Accounts using Flexible Auto-Subscribe. </p>

                <p> <strong>9. </strong> By selecting Flexible Auto-Subscribe, TechnoApp will transfer all Digital Assets in your Earn Wallet, denominated in the Eligible Staking Currency, to your Staking Account at 02:00 UTC and 16:00 UTC every day. </p>

                <p><strong>10. </strong> These transferred Digital Assets will be utilized for Subscription to Staking Offers provided by TechnoApp and will be considered part of your Staking Assets. Staking Interest will be calculated and distributed to your Earn Wallet according to the terms outlined in these Staking Terms.  </p>

                <p> <strong>11. </strong>  TechnoApp reserves the right to decline your instructions for Flexible Auto-Subscribe. There may be various reasons for TechnoApp refusing to act on these instructions, including reaching the Subscription Limit for a specific Staking Offer. </p>

                <div class="border-sec">
                    <p>Auto-Subscribe: Example </p>

                    <p>
                        You activate Auto-Subscribe for ZAQ, an Eligible Digital Currency, at 21:00 UTC on Wednesday. You currently possess 10,000 ZAQ.
                    </p>

                    <p> Digital Assets will be transferred from your Earn Wallet to your Staking Account at 02:00 UTC and 16:00 UTC every day. Since you enabled Flexible Auto-Subscribe at 21:00 UTC, the automatic transfer of ZAQ Digital Assets from your Earn Wallet will take place at 02:00 UTC on Thursday. </p>

                    <p> No Staking Interest is earned on the first day (Thursday). Staking Interest starts accumulating on Friday and will be credited to your Earn Wallet on Saturday  </p>
                </div>

                <p><strong>12. </strong>  The purpose of this example is to demonstrate the functionality of Flexible Auto-Subscribe. It does not aim to provide any representation regarding the performance of specific Digital Assets. Furthermore, it does not aim to provide any representation regarding the volatility of particular Digital Assets or the general Digital Asset markets. The Digital Assets utilized in this example are entirely fictitious. </p>

                <h2 id="locked-staking">Locked Staking</h2>
                <p> <strong>13. </strong> For Locked Staking: </p>
                <p> <strong>a. Staking Interest: </strong></p>
                <ul class="li-bullet li-bullet-2">
                    <li> starts accruing at the Staking Interest Rate from the day after you Subscribe. Staking Interest will accrue from day to day and will be calculated on the basis of the number of days elapsed and a 365-day year. You do not earn any Staking Interest for the first day you Subscribe. </li>
                    <li> is provided in the same digital currency as your Staking Assets, unless otherwise stated. </li>
                    <li> will be calculated by reference to the Staking Interest Rate on the day the Staking Interest accrues. </li>
                    <li> will be distributed to your Earn Wallet, at the agreed Locked Distribution Frequency; and </li>
                    <li> is rounded down to 6 decimal places. </li>
                </ul>


                <p> <strong>b. the Staking Interest Rate:  </strong></p>
                <ul class="li-bullet li-bullet-2">
                    <li>may vary from time to time; and </li>
                    <li>if it is changed, it will apply from the time and date specified by TechnoApp. If no time is specified, it will be 00:00 UTC on the day that TechnoApp announces the change will take effect, on the TechnoApp website. </li>
                </ul>

                <p> <strong>c. Redemption:   </strong></p>
                <ul class="li-bullet li-bullet-2">
                    <li>TechnoApp may, in its sole discretion, permit you to Early Redeem. Your right to Early Redeem may be withdrawn at any time.  </li>
                    <li>
                        If you Early Redeem your Staking Assets before the Settlement Date, you:
                        <ul>
                            <li> are not entitled to any Staking Interest; and </li>
                            <li> authorize TechnoApp to deduct any Staking Interest arising from your Subscription that has been distributed to your Earn Wallet from the Staking Assets you used to Subscribe. </li>
                        </ul>
                    </li>

                    <li>
                        TechnoApp may, in its sole discretion, subscribe to a Staking Offer with 5% of the Staking Interest that would have been earned had you not Early Redeemed, on your behalf, on the following terms:
                        <ul>
                            <li> the Locked Staking Term is ninety (90) days.  </li>
                            <li>Staking Assets cannot be Early Redeemed; and </li>
                            <li> Staking Interest will be in the same digital currency that would have been earned had you not Early Redeemed. </li>
                        </ul>
                    </li>

                    <li> Should you Early Redeem; it may take up to 72 hours before Staking Assets will be returned to your Earn Wallet. </li>

                </ul>
                <h2 id="locked-staking-auto-subscribe">Locked Staking Auto-Subscribe </h2>
                <p><strong>14. </strong> When you choose to Subscribe to Locked Staking, TechnoApp may allow you to automatically Subscribe to a new Locked Staking Offer at the Settlement Date using the Staking Assets from the previous Locked Staking Offer through Locked Auto-Subscribe. Staking Interest generated from the previous Staking Offer will not be utilized when you opt for Locked Auto-Subscribe. </p>

                <p> <strong>15. </strong> The new Locked Staking Offer will have the same Locked Staking Term as the preceding Staking Offer, although the Staking Interest Rate may vary. </p>

                <p> <strong>16. </strong> Staking Interest will begin to accrue from the day you opt for Locked Auto-Subscribe. </p>

                <p> <strong>17. </strong> You have the flexibility to modify your Locked Auto-Subscribe Instructions until 00:00 UTC on the Settlement Date of the previous Settlement Offer. </p>

                <p> <strong>18. </strong> TechnoApp retains the right to decline your Instructions for Locked Auto-Subscribe. There may be various reasons for TechnoApp refusing to act on these Instructions, including reaching the Subscription Limit for a specific Staking Offer. </p>

                <h2 id="changes-staking-interest-rate ">Changes to Staking Interest Rate  </h2>

                <p><strong>19. </strong> TechnoApp does not guarantee that you will continue to receive the Staking Interest at the Staking Interest Rate shown at the time you Subscribe during your Locked Staking Term. Any representation concerning possible return at the time you Subscribe  </p>
                <ul class="li-bullet li-bullet-2">
                    <li> is an estimate only and not guaranteed, and   </li>
                    <li>is based on the Staking Interest Rate, which may change.  </li>
                </ul>

                <p> <strong>20. </strong> Changes to the Staking Interest Rate will be published on the TechnoApp Website from time to time. You must refer to the TechnoApp website regularly. TechnoApp will not be liable for any losses arising, or connected with, changes to the staking interest rate, whether or not you were aware of those changes. </p>

                <h2 id="Placing-stop-suspension">Placing a stop or suspension on, or canceling, your Staking Account and Earn Wallet  </h2>

                <p><strong>21. </strong> TechnoApp may stop, suspend, or cancel your access to the Platform, impose limits to any TechnoApp accounts, or suspend or cancel your ability to participate in Staking, or delay certain transactions where: </p>
                <ul class="li-bullet li-bullet-2">
                    <li> You do not provide additional information to verify your identity or source of funds as requested by TechnoApp. </li>
                    <li> TechnoApp is required to do so by court order, to comply with any Applicable Laws (including anti-money laundering or sanctions laws); </li>
                    <li>TechnoApp is required to do so to comply with any direction or instruction from a government body or agency. </li>
                    <li> TechnoApp reasonably determines that any information you have provided to TechnoApp is wrong, untruthful, outdated, or incomplete; or </li>
                    <li> you do not provide additional information that we request to our reasonable satisfaction or in a timely manner. </li>
                </ul>


                <h2 id="account-information-and-transaction-records">Account information and transaction records </h2>
                <p> <strong>22. </strong> You will be able to view your account history on the Platform. You must review your account history carefully and let TechnoApp know if you see any entries or transactions that you do not recognize or you think are incorrect as soon as possible, and within 7 days after the date that your account history is provided or made available to you. </p>

                <p><strong>23. </strong> We may rectify any error in your account history at any time, and reserve the right to void or reverse any transaction: </p>

                <ul class="li-bullet li-bullet-2">
                    <li> involving or deriving from a manifest error (that is, any error, omission or misquote (whether an error of TechnoApp or any third party) which is manifest or palpable, including a misquote by any representative of TechnoApp taking into account the current market and currently advertised quotes, or any error of any information, source, official, official result or pronunciation); or </li>

                    <li>to reflect what we reasonably consider to be the correct or fair details of the transaction. </li>
                </ul>

                <p> <strong>24. </strong> We may be required under Applicable Law to share information about your accounts and use of the Platform with third parties. You acknowledge and agree that we are entitled to disclose such information. </p>

                <h2 id="technology-disclaimers">Technology disclaimers  </h2>
                <p><strong>25. </strong> TechnoApp may periodically suspend access to your Staking Account, TechnoApp Account, and/or the TechnoApp services, or the Platform, for both scheduled and emergency maintenance. While TechnoApp will strive to process transactions on the Platform promptly, the duration of processing time cannot be guaranteed, as it depends on various factors beyond our control. </p>

                <p><strong>26. </strong> Despite TechnoApp's efforts to keep the information on the Platform up to date, we do not make any express or implied representations, warranties, or guarantees regarding the accuracy, completeness, or timeliness of the content on the Platform, including information related to the TechnoApp services. </p>

                <p><strong>27. </strong> It is your responsibility to ensure that you have the necessary data network access to use the TechnoApp services. You are also responsible for obtaining and updating compatible hardware or devices required to access and utilize the TechnoApp services, the Platform, and any updates. TechnoApp does not guarantee that the TechnoApp services, or any part thereof, will function on specific hardware or devices. The use of the internet and electronic communications may entail malfunctions and delays inherent to these systems. </p>

                <h2 id="general-terms">General Terms </h2>
                <p>
                    <strong>28. </strong> Any terms and references used in these Staking Terms, which are defined and interpreted in the TechnoApp Terms of Use (the "Terms of Use"), but not defined or interpreted in these Staking Terms, shall carry the same meaning and interpretation as in the Terms of Use.
                </p>

                <p><strong>29. </strong> The Staking Terms should be read in conjunction with the Terms of Use. In case of any conflict or inconsistency between the Staking Terms and the Terms of Use, the order of precedence in reading the documents shall be as follows: first, the Staking Terms, and then the Terms of Use. </p>

                <p><strong>30. </strong> TechnoApp will communicate with you using the contact information you provide. This may include communication via email, SMS, or telephone. It is crucial to ensure that your contact details are accurate and up to date. If your contact information changes, you must promptly inform us. Failure to do so may result in not receiving important information, notices, or other communications from TechnoApp, for which TechnoApp will not be held responsible. </p>

                <p><strong>31. </strong> TechnoApp may send notices to your email address. It is your responsibility to keep your email address updated and accurate. Notices will be considered delivered if sent to your email address, regardless of whether a delivery failure notice is received. </p>

                <p><strong>32. </strong>  You may provide notices to TechnoApp as directed by TechnoApp, which may be subject to change from time to time. </p>

                <p><strong>33. </strong> Any notices, consent, or other communication given under these Staking Terms must be in written form, in English, and signed or authorized by the party issuing it. </p>

                <p>
                    <strong>34. </strong> For further information about TechnoApp, you can refer to the company and licensing details available on TechnoApp's websites. If you have any inquiries or require clarification regarding these Staking Terms, please contact TechnoApp's Customer Support team.
                </p>

                <h2 id="definitions">Definitions  </h2>
                <p><strong>"Applicable Law" </strong> refers to all relevant statutes, laws (including common law principles), equity principles, rules, regulations, regulatory requirements, notices, orders, writs, injunctions, judgments, bye-laws, rulings, directives, proclamations, circulars, mandatory codes of conduct, guidelines, practice notes, and interpretations. These may originate from governmental bodies, regulatory authorities, self-regulatory organizations of which TechnoApp is a member, and are applicable to the provision, receipt, or use of the TechnoApp services, as well as any other products or deliverables received or used in connection with these terms. </p>

                <p><strong> Early Redeem</strong> means ending your participation in a Staking Offer before the Settlement Date. </p>

                <p><strong>Eligible Staking Currencies</strong> means digital currencies selected by TechnoApp, for which TechnoApp may permit you to Auto-Subscribe. </p>

                <p><strong> Fast Redemption</strong> means a Redemption described in clause 6(c)(ii). </p>

                <p><strong>  Flexible Auto-Subscribe</strong> has the meaning given in clause 8. </p>

                <p><strong> Flexible Staking</strong> means a Staking Offer with the features described in clause 6. </p>

                <p><strong> Locked Auto-Subscribe</strong> has the meaning given to it in clause 14. </p>

                <p><strong> Locked Distribution Frequency</strong> means the time or frequency at which Staking Interest will be distributed to your Earn Wallet. </p>

                <p><strong>  Staking </strong> means a Staking Offer with the features described in clause 13. </p>

                <p><strong> Locked Staking Term</strong> means the agreed period that Staking Assets must be provided to TechnoApp, and not Redeemed, in order for you to be entitled to Staking Interest. </p>

                <p><strong> Platform </strong> means the digital platform that we or any of the TechnoApp Operators may make accessible to you via a website, mobile app, a TechnoApp API, or by such other means as TechnoApp Operators may prescribe from time to time for the use of TechnoApp services. </p>

                <p><strong>Settlement Date</strong> means the last day of the Locked Staking Term. </p>

                <p><strong> Redeem</strong> means ending your participation in a Staking Offer.</p>

                <p><strong> Staking Account</strong> means a TechnoApp Account that records Staking Assets held to your credit. </p>

                <p><strong> Staking Assets</strong> means the Digital Assets used by you to Subscribe. </p>

                <p> <strong> Staking Interest</strong> means the Digital Assets that are paid to you as consideration for providing your Staking Assets to TechnoApp. </p>

                <p><strong> Staking Interest Rate</strong> means the annual percentage rate at which Staking Interest is paid to you.</p>

                <p><strong>  Staking Offer</strong> means an offer by TechnoApp to pay you Staking Interest in return for you providing TechnoApp with Staking Assets, in accordance with these Staking Terms. </p>

                <p><strong> Staking Terms</strong> means these terms & conditions. </p>

                <p><strong>Earn Wallet</strong> means the TechnoApp Account that you use for spot transactions. </p>

                <p><strong>Standard Redemption</strong> means a Redemption described in clause 6(c)(iii). </p>

                <p><strong>Subscribe</strong> means subscribing to a Staking Offer.</p>

                <p><strong> Subscriptions Limits</strong> means the maximum amount of Staking Assets, users, or the quantity of any other matter that TechnoApp may determine at its sole discretion from time to time, that may be used to Subscribe to a Staking Offer. </p>

                <h2 id="disclaimer">Disclaimer: </h2>
                <p>This document may have been translated and published in different languages. In the event of any inconsistency, misstatements, omissions, or errors appearing in any translated version, the English version shall prevail. </p>

            </div>
        </div>
    </div>
</section>