@{
    ViewData["Title"] = "TechnoApp Trading Rules: Your Blueprint for Success in Crypto Markets";
}

@section Header {
    <meta name="description" content="Navigate the crypto markets confidently with TechnoApp Trading Rules. Explore guidelines, strategies, and best practices that empower your trading journey. " />
}
  <!-- ==== Page Name section ==== -->
  <section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="css566-heading mb-3">
            <h1> Trading Rules US </h1>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="index-links">
            <ul>
               <li> <a class="url-1" href="/">Home</a></li>
                            <li>|</li>
              <li> Trading Rules (US) </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // Page name section -->


  <!-- Start Policy Page -->
  <section class="bg1">
    <div class="container">
      <div class="row cookies-div cookies-div1">
        <div class="col-lg-4 col-md-12 col-12 aos-init aos-animate" data-aos="fade-down-right"> <img
            src="~/images/trading-rules-2.jpg" alt="~/image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <div class="col-lg-12 col-md-12 mt-4 mb-3">
            <div class="topic-points">
              <h3> Topics </h3>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="topic-scroll-box-1">
                    <ul>
                      <li><a href="#Definitions"> Definitions </a></li>
                      <li><a href="#trading-on-the-central-Order"> Trading On The Central Order Book Trading Platform
                        </a></li>
                      <li><a href="#TechnoApp-transaction-steps"> TechnoApp Transaction Steps </a></li>
                      <li><a href="#Cashback"> Cashback </a></li>
                      <li><a href="#trading-terms"> Trading Terms </a></li>
                      <li><a href="#order-cancellation"> Order Cancellation </a></li>
                      <li><a href="#market-integrity"> Market Integrity </a></li>
                      <li><a href="#access-to-information"> Access To Information </a></li>
                      <li><a href="#scheduled-downtime"> Scheduled Downtime </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <!-- <h6>Know Your Customer, Anti-Money Laundering and Transaction Monitoring Policy</h6> -->
          <p class="pt-0">TechnoApp LLC, a Delaware corporation ("TechnoApp," doing business as "TechnoApp US"), operates the
                    "TechnoApp Platform", a Digital Assets trading platform, at <a asp-controller="home" asp-action="index"
              class="url-1" > www.TechnoApp.com</a>.</p>
          <p> The following set of Trading Rules governs all Orders and Transactions on the TechnoApp Platform and will
            apply to a Trader immediately upon the opening of an Account and/or immediately upon the Trader's first
            request to TechnoApp to utilize the TechnoApp Platform. The Trading Rules operate as a binding contract between
            TechnoApp and each Trader, and between a Trader and any other Trader. </p>
          <p>The terms in these Trading Rules may be amended, supplemented and/or replaced from time to time.</p>
          <p> In the event that there is any conflict between these Trading Rules and any other statement whether
            written or verbally made by TechnoApp at any time, the terms of these Trading Rules shall prevail. In the event
            there is any conflict between the terms of these Trading Rules and any of the Trading Agreements, the terms
            of such Trading Agreement shall prevail. </p>
          <p> Except where these Trading Rules express to the contrary, the Trading Rules shall be construed in
            accordance with, and governed by, the laws of the State of Delaware applicable to contracts executed and to
            be wholly performed within such state. Any dispute or controversy arising out of or relating to this
            Agreement shall be settled by arbitration in accordance with the rules of the American Arbitration
            Association and judgment upon the award may be entered in any court having jurisdiction thereover. The
            arbitration shall be held in Delaware County or in such other place as the parties hereto may agree. </p>
          <p> TechnoApp shall not be liable for anything done or omitted in accordance with these Trading Rules. </p>

          <h6 id="Definitions">Definitions</h6>
          <p> In these Trading Rules, unless the context otherwise requires, the following words and expressions shall
            bear the following meanings: </p>
          <p><strong> "Account" </strong> means an account of a User opened and maintained with TechnoApp for purposes of
            procuring any Services or an account of a Market Maker opened and maintained with TechnoApp for the purposes of
            carrying out market making activities on the TechnoApp Platform, as the case may be. </p>
          <p><strong> "API" </strong> means Application Programming Interface. </p>
          <p><strong> "Asset" </strong> means a Digital Asset or Fiat Currency. </p>
          <p><strong> "Available Balance" </strong> means a Trader’s Total Asset Value less any amounts held for Open
            Orders, Orders with unknown status, Locked Asset Value, Withdrawing Asset Value. </p>
          <p><strong> "Base Asset" </strong> means the Asset being traded on the Order Book; the first Asset in the
            Trading Pair. For example, on the BTC/USD Order Book, BTC is the Base Asset and USD is the Quote Asset. </p>

          <p><strong> "Cancel-only Mode/Square-off Mode" </strong> means an operation mode of the TechnoApp Platform during
            which Traders are not able to place new Orders but are able to cancel Open Orders. Further, no Orders will
            be Filled during the Cancel-only Mode. </p>
          <p><strong> "Clearly Erroneous Transaction" </strong> has the meaning given to it in Clause 6.2.1(d) below.
          </p>
          <p><strong> "Digital Asset" </strong> means any digital asset (also known as a "cryptocurrency" or "virtual
            currency") including but not limited to bitcoin and ether, which is issued, stored and/or transferred based
            on the protocol of a computer network known as a blockchain or a public transaction ledger. </p>
          <!-- <p><strong> "Fee" </strong> has the meaning given to it in Clause 2.1.1 below. </p> -->
          <p><strong> "Fiat Currency" </strong> means a lawful currency of a nation's government. </p>
          <p><strong> "Fill" </strong> means a match of two Orders. </p>
          <p><strong> "Full Trading Mode" </strong> means the normal operation of the TechnoApp Platform, during which
            Traders can place Market Orders and Limit Orders and can cancel Open Orders. </p>
          <p><strong> "Hold" </strong> means the setting aside of Assets allocated to an Order. </p>
          <p><strong> "Indemnified Persons" </strong> has the meaning given to it in Clause 1.17.1 below. </p>
          <p><strong> "Instruction" </strong> means any instruction, request or Order given to TechnoApp (whether through
            the TechnoApp APIs or otherwise) in relation to the operation of any Account or to execute any Transaction,
            through such medium and in such form and manner as TechnoApp may require, and includes any instruction, request
            or Order to revoke, ignore or vary any previous instruction, request or Order in respect of any Account or
            Transaction. </p>
          <p><strong> "Limits" </strong> means the limits on the value of Transactions, or deposits into or withdrawals
            out of Linked Wallet(s), which are set out on the Website. </p>
          <p><strong> "Limit Order" </strong> means an Order to buy or sell a specified quantity of an Asset at a
            specified price or better than market price. </p>
          <p><strong> "Linked Crypto Wallet" </strong> means any Linked Wallet used to store Digital Assets for the
            purposes of trading on the TechnoApp Platform. </p>
          <p><strong> "Locked Asset Value" </strong> means the value of a Trader's Assets subject to a Hold. </p>
          <p><strong> "Maker Order" </strong> has the meaning given to it in Clause 1.4 below. </p>
          <p><strong> "Market Data" </strong> has the meaning given to it in Clauses 7.1.1 and 7.1.2 below. </p>
          <p><strong> "Market Maker" </strong> means a person who on an organized, continuous, and systematic basis
            enters into Transactions in Digital Assets on the TechnoApp Platform and thereby create a market for such
            Digital Assets. This may result in incentives or commission from TechnoApp. </p>
          <p><strong> "Market Maker Agreement" </strong> means the agreement, written or verbal, entered into between
            TechnoApp and the Market Maker in respect of the Market Makers' market making activities on the TechnoApp
            Platform, as amended, supplemented or replaced from time to time. </p>
          <p><strong> "Market Manipulation" </strong> has the meaning given to it in Clause 6.6.2 below. </p>
          <p><strong> "Market Order" </strong> means an Order to buy or sell a specified quantity of an Asset at the
            best available price of existing Orders on the Order Book. </p>
          <p><strong> “TechnoApp APIs” </strong> means the APIs made available by TechnoApp to Traders as a service, including
            without limitation such APIs that facilitate Traders' access to the Services and/or the TechnoApp Platform, and
            any services, functions and features made available through such APIs by or on behalf of TechnoApp. </p>
          <p><strong> "Order" </strong> means an instruction to buy or sell a specified quantity of the Base Asset at a
            specified price in the Quote Asset. </p>
          <p><strong> "Order Book" </strong> means each Order book on which Orders are placed for trading in a Trading
            Pair. </p>
          <p><strong> "Open Order" </strong> means a Maker Order which has been posted but not Filled, cancelled, or
            expired, or a Stop Order which is currently active.</p>
          <p><strong> "Price-Time Priority" </strong> has the meaning given to it in Clause 1.15.2 below. </p>
          <p><strong> “Pool Refund” </strong> is the amount contributed by the TechnoApp traders. </p>
          <p><strong> "Quote Asset" </strong> means the Asset in which trading is denominated on the Order Book; the
            second Asset in the Trading Pair. For example, on the BTC/USD Order Book, BTC is the Base Asset and USD is
            the Quote Asset. </p>
          <p><strong> "Scheduled Downtime" </strong> means a planned temporary outage for maintenance or upgrades. See
            Clause 8. </p>
          <p><strong> "Services" </strong> refers to the Digital Asset trading services on the TechnoApp Platform provided
            by TechnoApp. </p>
          <p><strong> "Stop Limit Order" </strong> has the meaning given to it in Clause 1.5.4 below. </p>
          <p><strong> "Stop Market Order" </strong> has the meaning given to it in Clause 1.5.4 below. </p>
          <p><strong> "Stop Order" </strong> means an instruction to post an Order to buy or sell a specified quantity
            of an Asset but only if and when the last trade price on the Order Book is equal to, (in the case of a sell
            Stop Order) lower than or (in the case of a buy Stop Order) higher than the Stop Price. </p>
          <p><strong> "Stop Price" </strong> means the price specified in a Stop Order. </p>
          <p><strong> “Swap Trade Value” </strong> is the total value of the assets after adjusting Cashback and Pool
            Refund with Total Value. </p>
          <p><strong> "Taker Order" </strong> has the meaning given to it in Clause 1.14.1 below. </p>
          <p><strong> "Time in Force Instruction" </strong> refers to the Instructions described in Clause 1.3.5 below.
          </p>
          <p><strong> "Total Asset Value" </strong> means the gross value of all of a Trader's Assets for the relevant
            Order Book, expressed in the Quote Asset based on the last trade price. This includes all Assets allocated
            to Open Orders. </p>
          <p><strong> "Trader" </strong> means a User or a Market Maker trading on the TechnoApp Platform. </p>
          <p><strong> "Trading Pair" </strong> means each pair of a Base Asset and a Quote Asset offered on the TechnoApp
            Platform. </p>
          <p><strong> "Transaction" </strong> means any sale, purchase or other transaction in such Digital Asset(s) or
            such other asset(s) or product(s) as TechnoApp may from time-to-time permit to be carried out on the TechnoApp
            Platform. </p>
          <p><strong> "User" </strong> means any individual, corporation, legal person, entity or other organization who
            is using the Services. </p>
          <p><strong> "Web Interface" </strong> means the user interface that is implemented in the form of a web page
            and accessed through the Website. </p>
                <p>
                    <strong> "Website" </strong> means TechnoApp's website at <a asp-controller="home" asp-action="index" class="url-1"> www.TechnoApp.com</a>. </p>
          <p><strong> "Withdrawing Asset Value" </strong> means the value of a Trader's Assets in a Linked Wallet which
            is subject to a withdrawal Instruction. </p>
        </div>


        <h6 id="trading-on-the-central-Order">1. Trading on the central Order book trading platform </h6>
        <p> <strong> 1.1 </strong>TechnoApp operates a central Order book trading platform and settles trades in a number
          of Digital Asset Trading Pairs. Each Trader’s Account will list which Order Books are available to the Trader
          to trade in.</li>
        <p><strong> 1.2 Orders</strong></p>
        <ul>
          <li><strong> 1.2.1 </strong> To place an Order on an Order Book, a Trader must have an Available Balance of
            the relevant Asset in the Linked Wallet which is sufficient to cover the total value of the Order. </li>
          <li><strong> 1.2.2 </strong> When a Trader places an Order, that quantity of the relevant Asset becomes
            subject to a Hold.</li>
          <li><strong> 1.2.3 </strong> A Trader can place an Order as either a Limit Order, a Market Order, a Loop
            Order, a Spot Order, a IOC (Immediate or Cancel) Order, a Iceberg Order, a AON (All or None) Order, a
            FOK(Fill or kill) Order or a Stop Order.</li>
          <li><strong> 1.2.4 </strong> A Trader may cancel an open Maker Order or Stop Order at any time before it is
            Filled. No Fees are charged for such cancelled Orders which are not Filled.</li>
        </ul>

        <p><strong> 1.3 Limit Orders</strong></p>
        <ul>
          <li><strong> 1.3.1 </strong> An Order where price limit is defined is a <strong> Limit Order</strong>.</li>
          <li><strong> 1.3.2 </strong> A Limit Order is an Order to buy or sell a specified quantity of an Asset at a
            specified price or better. </li>
          <li><strong> 1.3.3 </strong> A Limit Order will only ever Fill at the specified price or a better price i.e.,
            if Limit Buy Order is placed @@ $100.00, it can get executed only at <=$100.00. In case of Sell Order, it can
              get executed only at>=$100.00. </li>
          <li><strong> 1.3.4 </strong> A Limit Order with <strong> "post-only" </strong> selected will only be posted to
            the Order Book if it would not be posted at the same price as an existing Order on the Order Book. </li>
          <li><strong> 1.3.5 </strong> A Limit Order with <strong> “post-only” </strong> will exist as a maker Order in
            the Order book, but never match with Orders that are already on the book. Maker Orders add liquidity to the
            market. </li>
          <li><strong> 1.3.6 </strong> <strong> “Post Only” </strong>Buy/Sell Orders above/below market price
            respectively will not execute and will get cancelled. </li>
          <li><strong> 1.3.7 </strong> A Limit Order without <strong> "post-only" </strong> selected will be immediately
            posted to the Order Book (subject to any Time in Force Instructions) and can result in a Maker Order or a
            Taker Order, or an Order that is partially a Maker Order and partially a Taker Order. </li>
          <li><strong> 1.3.8 </strong> A Stop <strong> Limit Order </strong> is an instruction to post an Order to buy
            or sell a specified quantity of an Asset but only when the last trade price on the Order Book equals or
            surpasses the Stop Price. A Stop Order is not posted to the Order Book and is not visible to other Traders,
            but any resulting Order is posted and visible. All Stop Orders are placed without 'post-only' enabled. A
            Stop Order must be placed as a Stop Limit Order, which posts a Limit Order when the Stop Price is triggered.
            A Stop Limit Order is not guaranteed to Fill. The Web Interface will display a warning each time a Trader
            attempts to place a Stop Order. </li>
          <li><strong> 1.3.9 </strong> Limit Orders may be placed with one of the following Time in Force Instructions.
            <ul class="li-bullet li-bullet-2">
              <li><strong> Good till cancelled: </strong> If posted, the Order will remain on the Order Book until
                cancelled by the Trader. This is the default Time in Force Instruction. </li>
              <li><strong> Immediate or cancel: </strong>The Order will only be posted to the Order Book to the extent
                that it would be immediately Filled; any remaining quantity is cancelled. This results in a Taker Order.
              </li>
              <li><strong> Fill or kill: </strong> The Order will only be posted to the Order Book if it would be
                immediately and completely Filled. This results in a Taker Order. </li>
            </ul>
          </li>
        </ul>

        <p><strong> 1.4 Market Orders </strong></p>
        <ul>
          <li><strong> 1.4.1 </strong> A Market Order is an Order to buy or sell a specified quantity of an Asset at the
            best available price of existing Orders on the Order Book. There is no guarantee that a Market Order will
            Fill at the price specified. </li>
          <li><strong> 1.4.2 </strong> A Market Order may Fill at a number of different prices, based on the quantity of
            the Market Order and the quantities of the existing Orders on the Order Book at the time. </li>
          <li><strong> 1.4.3 </strong> Depending on the volume and prices of Orders on the Order Book at the time when a
            Market Order is posted, the Market Order may Fill at a price less favorable than the most recent trade
            price, in some cases significantly so. This is commonly referred to as <strong> "slippage"</strong>.</li>
          <li><strong> 1.4.4 </strong> A valid Market Order will be immediately posted to the Order Book. A Market Order
            is always a Taker Order. </li>
        </ul>

        <p><strong> 1.5 Stop Orders </strong></p>
        <ul>
          <li><strong> 1.5.1 </strong> A Stop Order is an instruction to post an Order to buy or sell a specified
            quantity of an Asset but only if and when the last trade price on the Order Book is equal to, (in the case
            of a sell Stop Order) lower than or (in the case of a buy Stop Order) higher than the Stop Price. </li>
          <li><strong> 1.5.2 </strong> Once a Stop Order has been placed, it is considered ‘active’ until it executes by
            posting the relevant Order when the Stop Price is reached. </li>
          <li><strong> 1.5.3 </strong> A Stop Order is not posted to the regular Order Book and is not visible to other
            Traders, but any resulting Order is posted and visible to the user who have placed the Order. </li>
          <li><strong> 1.5.4 </strong> A Stop Market Order is a stoploss Order where on reaching the trigger price, a
            market Order will be placed to ensure execution. </li>
          <li><strong> 1.5.5 </strong> A Stop Market Order is subject to slippage in the same way as ordinary Market
            Orders. A Stop Limit Order is not guaranteed to Fill. The Web Interface will display a warning each time a
            Trader attempts to place a Stop Order. </li>
        </ul>

        <p><strong> 1.6 GTC Order (Good Till Cancelled) </strong> will remain open until it is executed or cancelled
          manually by the user. </p>
        <p><strong> 1.7 IOC Order (Immediate or Cancel) </strong> wwill either execute fully or partially at the limit
          price on immediate basis or will get cancelled. </p>
        <p><strong> 1.8 AON Order (All Or None) </strong> will either execute fully at the limit price or will remain
          open, it is a maker Order, immediate execution not required. </p>
        <p><strong> 1.9 FOK Order (Fill Or Kill) </strong> will either execute fully at the limit price on immediate
          basis or will get cancelled. It is a combination of IOC and FOK Orders. </p>
        <p><strong> 1.10 OCO Order (One Cancels the Other) </strong> is a combination of Stop Limit Order and Limit
          Order. If the market price reached to the limit price, it will execute, and the Stop Limit Order will get
          cancelled. If the stop price triggered, it will execute, and limit price will get cancelled. </p>
        <p><strong> 1.11 </strong> With an <strong> Iceberg Order </strong> user can disclose a portion of the total
          Order size and can hide the rest. Minimum amount which can be disclosed is 1/10th of the actual Order amount.
        </p>
        <p><strong> 1.12 Loop Order </strong> is a special kind of Order introduced by TechnoApp. To enhance cashback
          benefit user can place such Order. Users need to specify the cycle of the Loop Order. TechnoApp will ensure the
          settlement of that transaction and will credit the cashback based on the total traded volume. </p>

        <p><strong> 1.13 Confirmations </strong></p>
        <ul>
          <li><strong> 1.13.1 </strong> TechnoApp will require Traders to provide a confirmation when Traders attempt to
            place an Order which would completely or partially fill at a price which is more than 5% away from the last
            trade price (slippage warning). </li>
        </ul>

        <p><strong> 1.14 Posting of Orders to the Order Book </strong></p>
        <ul>
          <li><strong> 1.14.1 </strong> (Taker Order) If an Order is posted to the Order Book at the same price as one
            or more existing Orders, it is a Taker Order which will result in an immediate Fill at that price, to the
            extent of the total quantity of those existing Orders. </li>
          <li><strong> 1.14.2 </strong> (Maker Order) To the extent that an Order is posted to the Order Book at a
            different price to all existing Orders, it is a Maker Order which will remain open at that price on the
            Order Book until:
            <ul class="li-bullet li-bullet-2">
              <li> it is cancelled by the Trader; or </li>
              <li> it is completely Filled by one or more Taker Orders placed by another Trader at the same price. </li>
            </ul>
          </li>
          <li><strong> 1.14.3 </strong> Trader must have an Available Balance of the relevant Asset in their Account
            which is sufficient to cover the total value of the Order. </li>
          <li><strong> 1.14.4 </strong> When a Trader places an Order, that quantity of the relevant Asset becomes
            subject to a Hold which will be released on the cancellation of the open Order. </li>
          <li><strong> 1.14.5 </strong> In case of cancellation of partial executed Order, the executed portion will be
            adjusted with the wallet balance and the cancelled portion will be added back to the balance. </li>
          <li><strong> 1.14.6 </strong> A Trader can place an Order in a variety of manners, including a Limit Order, a
            Market Order, Stop Limit Order, Stop Market Order, IOC Order, Iceberg Order, GTC Order, OCO Order, AON
            Order, FOK Order and Loop Order. </li>
          <li><strong> 1.14.7 </strong> A Trader can cancel an open Order at any time before it is Filled. No fees are
            charged for successfully canceled Orders. </li>
        </ul>

        <p><strong> 1.15 Matching Engine and Order Priority </strong></p>
        <ul>
          <li><strong> 1.15.1 </strong> The TechnoApp Platform matches Taker Orders with open Maker Orders on each Order
            Book based on Price-Time Priority. </li>
          <li><strong> 1.15.2 </strong> Price-Time Priority means that each time a Order is posted, the Order will be
            matched based on best Bid and Best Ask prices available in the market subject to in case of same price,
            Order entered earlier will execute first. All Traders accessing the TechnoApp Platform are subject to the same
            Price-Time Priority. </li>
          <li><strong> 1.15.3 </strong> An Order may be matched with a number of corresponding Orders at the same price.
          </li>
        </ul>

        <p><strong> 1.16 Fills and Settlement </strong></p>
        <ul>
          <li><strong> 1.16.1 </strong> When a Maker Order is matched with a Taker Order, those Orders are Filled. An
            Order may be matched with and Filled by one or more Orders at the same price. </li>
          <li><strong> 1.16.2 </strong> As and when Orders are Filled, the TechnoApp Platform will promptly proceed to
            effect the settlement of such Filled Orders, by debiting and crediting the relevant Digital Asset balances
            in the Linked Crypto Wallet(s). </li>
          <li><strong> 1.16.3 </strong> The Trader acknowledges and agrees that there is no assurance or guarantee that
            an Order will be Filled and/or settled. </li>
        </ul>

        <p> <strong> 1.17 Exclusion of Liability </strong> </p>
        <ul>
          <li><strong> 1.17.1 </strong> Under no circumstances shall any of (a) TechnoApp, (b) TechnoApp ’s shareholders,
            joint venture parties, affiliates and related corporations and entities, and (c) the officers, directors,
            employees, representatives, agents, suppliers and service providers of all of the persons and entities
            described in (a) and (b) ((a), (b) and (c) collectively, the "Indemnified Persons") be responsible or liable
            for any direct or indirect losses (including loss of profits, business or opportunities), damages or costs
            suffered by any Trader or any other person or entity, arising from or in connection with (a) any act,
            omission, negligence, breach, offence or default committed by or attributable to any other Trader(s) and/or
            (b) any Order and/or Transaction failing to be Filled, completed and/or settled, whether this failure is
            attributable to TechnoApp or otherwise. </li>
        </ul>

        <p><strong> 1.18 Exchange Modes </strong></p>
        <p> In case of certain situations exchange can change its operational mode where traders will be able to place
          defined type of Orders in the market. </p>
        <ul class="li-bullet li-bullet-2">
          <li><strong> Full Trading: </strong> All kind of Orders can be placed. </li>
          <li><strong> Limit Only: </strong> Only limit Orders will be allowed to place. Market Orders will
            automatically get cancelled by the exchange. </li>
          <li><strong> Auction Only: </strong> While in this mode, limit Orders are collected for certain timeframe for
            price discovery. Using this indicative price as a signal of the eventual open price, users can cancel and
            resubmit Orders while the auction takes place. Upon completion of the auction, Orders crossing the final
            opening price will be matched and the book will move to full trading or limit only. </li>
          <li><strong> Cancel Only: </strong> Only open Orders can be cancelled. Fresh Orders are not allowed to enter.
          </li>
        </ul>


        <h6 id="TechnoApp-transaction-steps">2. TechnoApp Transaction Steps</h6>
        <ul>
          <li><strong> Step 1: </strong> Order placed by trader on TechnoApp (receivable crypto vs paying crypto). </li>
          <li><strong> Step 2: </strong> TechnoApp first swaps between paying crypto into TechnoSavvy token and then auto-place
            swap against TechnoSavvy with receivable crypto. </li>
          <li><strong> Step 3: </strong> Value of receivable crypto will be dependent on the category of the user. If
            the user is a community member, he/she would receive Receivable crypto and TechnoSavvy. If he/she is a
            non-community member, he/she will not be eligible to receive TechnoSavvy Cashback. </li>
        </ul>

        <h6 id="Cashback">3. Cashback </h6>
        <ul class="li-bullet li-bullet-2">
          <li> TechnoApp offering cashback to its community members in TechnoSavvy tokens for each swap transactions. </li>
          <li> Cashback amount will be based on transaction value of the user and appreciation of price of TechnoSavvy tokens.
          </li>
          <li> Cashback value will vary from 0.05% - 0.5% of total value and to be distributed between Makers and
            Takers. </li>
          <li> Maker and Taker for each swap will get the cashback in a ratio of 40:60 (when both are community
            members). </li>
          <li> Cashback value for each swap will be visible to the traders after each transaction. </li>
          <li> Cashback value of last 24 hours and from the beginning will be visible to the traders. </li>
          <li> TechnoSavvy Cashback will be credited after each 150 hours cycle. Any trades within the cycle will be eligible
            to get the cashback after completion of the cycle. </li>
        </ul>

        <h6 id="trading-terms"> 4. Trading Terms </h6>
        <p><strong> 4.1 Pool Refund</strong></p>
        <ul>
          <li><strong> 4.1.1 </strong> Traders who are not eligible for community membership will contribute to TechnoApp
            as “Pool Refund”.</li>
          <li><strong> 4.1.2 </strong> Value of Pool Refund will be 0.02% for Non-Stakers and for 5000 & 50000 TechnoSavvy
            Stakers, it will be 0.01% of the total value. </li>
          <li><strong> 4.1.3 </strong> Traders will be able to see the detail breakup of the cashback and pool refund
            after placing Orders. </li>
        </ul>

        <p><strong> 4.2 Trading Hours </strong></p>
        <ul>
          <li><strong> 4.2.1 </strong> Subject to Scheduled Downtime, or the disabling, termination or suspension of any
            Service in accordance with these Trading Rules and/or the Terms of Use, the Services will be made available
            24 hours a day, 7 days a week. </li>
        </ul>

        <p><strong> 4.3 Withdrawal of Assets </strong></p>
        <ul>
          <li><strong> 4.3.1 </strong> Subject to any Limits imposed by TechnoApp, a Trader may withdraw some or all of its
            Digital Assets from the Linked Crypto Wallet(s). </li>
        </ul>

        <h6 id="order-cancellation"> 5. Order Cancellation </h6>
        <p><strong> 5.1 </strong> If in any condition open Orders are there in the market and trader has been converted
          from community member to non-community member for the failing of TechnoApp conditions, all open Orders will be
          cancelled, and trader have to place them further. </p>
        <p><strong> 5.2 </strong> If any account has been identified for suspicious transaction, TechnoApp reserves the
          right to cancel all open Orders. </p>
        <p><strong> 5.3 </strong> Any account identified as disputed, TechnoApp reserves the right to cancel all open
          Orders. </p>

        <h6 id="market-integrity">6. Market Integrity </h6>
        <p><strong>6.1</strong> All trades are final </p>
        <ul>
          <li><strong> 6.1.1 </strong> Subject to Clause 6.2 below, all Fills are final, and no Trader shall have the
            right to reverse or cancel any Transaction or Fill. </li>
        </ul>

        <p><strong>6.2</strong> Reversal, cancellation, modification and/or disregard of trades </p>
        <ul>
          <li><strong> 6.2.1 </strong> TechnoApp may, in its sole and absolute discretion, reverse, cancel, modify and/or
            disregard any Transaction, Fill, Order or Instruction under any circumstance and for whatever reason or no
            reason whatsoever, including but not limited to where: </li>
          <ul class="li-bullet li-bullet-2">
            <li> TechnoApp is compelled to do so by any applicable law or regulation, including but not limited to where
              TechnoApp is required to suspend or terminate a Trader’s Account; </li>
            <li> due to a technical error, Transactions, Orders, or Fills do not occur as specified in these Trading
              Rules; </li>
            <li> Orders placed by Traders who, in our sole discretion, have engaged in abusive use of the platform, for
              example, Market Manipulation, or using the TechnoApp APIs in a manner which unreasonably burdens the TechnoApp
              Platform; and/or </li>
            <li> for technical reasons or to maintain the proper functioning of the TechnoApp Platform, it would be
              necessary or desirable to do so. </li>
          </ul>
          <li><strong> 6.2.2 </strong> Under no circumstances shall any of the Indemnified Persons be responsible or
            liable for any direct or indirect losses (including loss of profits, business or opportunities), damages or
            costs suffered by any Trader or any other person or entity, arising from or in connection with TechnoApp's
            decision to reverse, cancel, modify and/or disregard any Transaction, Fill, Order, or Instruction. </li>
        </ul>

        <p><strong>6.3</strong> Access to the TechnoApp Platform </p>
        <ul>
          <li><strong> 6.3.1 </strong> Subject to the Terms of Use of TechnoApp, all Traders have equal access to the
            TechnoApp APIs and Web Interfaces. TechnoApp does not provide prioritized access to any Trader. </li>
          <li><strong> 6.3.2 </strong> TechnoApp has the authority to take any action that it deems appropriate in its sole
            and absolute discretion to preserve market integrity. Such actions include, but are not limited to, the
            halting of trading, modifying risk-mitigating parameters, restricting Trader access to the TechnoApp Platform,
            restricting Order types to Limit Orders only, cancelling Orders resting in the Order Book, or any other
            action that TechnoApp deems to be in its best interest. </li>
        </ul>

        <p><strong> 6.4 Interruptions </strong></p>
        <ul>
          <li><strong>6.4.1</strong> If technical reasons prevent or degrade Traders’ ability to place or cancel Orders,
            or prevent or degrade access to the TechnoApp APIs or the Web Interfaces or affect the operation of the TechnoApp
            Platform's Order Books, matching engines or any other systems or processes, then TechnoApp may, in its
            discretion, take one or more of the following actions (where applicable) in respect of one or more Order
            Books pursuant to the Multilateral Trading Service or in respect of the purchase or sale of Digital Assets
            pursuant to the One Click Buy/Sell Service: </li>
          <ul class="li-bullet li-bullet-2">
            <li> disable or suspend the depositing or withdrawing of Assets; </li>
            <li> reverse, cancel, modify and/or disregard Open Orders; </li>
            <li> disable or suspend the ability to place new Orders; </li>
            <li> disable or suspend any entry into, completion and/or settlement of any Filled Orders, and/or
              Transactions; </li>
            <li> disable or suspend sign-in; </li>
            <li> disable or suspend the TechnoApp APIs; and/or </li>
            <li> disable or suspend access to the Web Interface. </li>
          </ul>
          <li><strong>6.4.2</strong> In the case of the Multilateral Trading Service: </li>
          <ul class="li-bullet li-bullet-2">
            <li> If access to the TechnoApp Platform through the Web Interface is unavailable for 5 minutes or longer,
              TechnoApp may choose to move the TechnoApp Platform to Cancel-Only Mode as soon as possible. </li>
            <li> If the TechnoApp Platform is in Cancel-Only Mode, it will be restored to Full Trading Mode only after
              access through the Web Interface becomes available for at least 5 minutes and TechnoApp deems is it safe to
              restore the TechnoApp Platform to Full Trading Mode. </li>
            <li> TechnoApp will notify Traders of the move to or from Cancel-Only Mode via our website. </li>
          </ul>
        </ul>

        <p><strong> 6.5 Flash Crashes and Circuit Breakers </strong></p>
        <ul>
          <li><strong> 6.5.1 </strong> The TechnoApp Platform does not use circuit breakers or automated trading halts
            based on predetermined price bands. However, as provided in Clauses 6.3.2 and 6.4.1, TechnoApp may, in its
            discretion, halt trading. </li>
        </ul>

        <p><strong> 6.6 False Trading and Market Manipulation Prohibited </strong></p>
        <ul>
          <li><strong> 6.6.1 </strong> Traders are prohibited from engaging in Market Manipulation. </li>
          <li><strong> 6.6.2 </strong> Market Manipulation of any kind is strictly prohibited. Market Manipulation is
            defined as any action taken or procured to be taken, or any course of conduct, by any person (whether acting
            alone or in concert with other person(s)) which is intended to, or does, or is likely to: </li>
          <ul class="li-bullet li-bullet-2">
            <li> create a false or misleading appearance; </li>
            <li> of active trading in any Digital Asset on the TechnoApp Platform; or </li>
            <li> with respect to the market for, or the price of, any Digital Asset traded on the TechnoApp Platform; or
            </li>
            <li> artificially control or manipulate the price or trading volume of a Digital Asset, including but not
              limited to maintaining, inflating, depressing or causing fluctuations in the market price of a Digital
              Asset; or </li>
            <li> aid, abet, enable, finance, support, or endorse any of the above.
              For the avoidance of doubt, Market Manipulation may include, without limitation, any action or course of
              conduct carried out or undertaken on the TechnoApp Platform and/or outside of the TechnoApp Platform. </li>
          </ul>
          <li><strong> 6.6.3 </strong> A Trader must also not effect, take part in, be concerned in or carry out,
            directly or indirectly, two or more Transactions in Digital Assets being Transactions that have, or are
            likely to have, the effect of raising, lowering, maintaining or stabilizing the price of the Digital Asset,
            with the intent to induce other persons to purchase or sell such Digital Assets. </li>
        </ul>

        <p><strong> 6.7 False or Misleading Statements </strong></p>
        <ul>
          <li><strong> 6.7.1 </strong> Traders are prohibited from making false or misleading statements or
            disseminating information that is false or misleading in a material particular and is likely: </li>
          <ul class="li-bullet li-bullet-2">
            <li> to induce other persons to purchase or sell Digital Assets; or </li>
            <li> to have the effect (whether significant or otherwise) or raising, lowering, maintaining or stabilizing
              the market price of Digital Assets. </li>
          </ul>
        </ul>

        <p><strong> 6.8 </strong> Employment of Manipulative and Deceptive Devices </p>
        <ul>
          <li><strong> 6.8.1 </strong> Traders are prohibited from engaging in manipulative or deceptive conduct in
            connection with the purchase or sale of any Digital Asset. Examples of manipulative or deceptive conduct
            include: </li>
          <ul class="li-bullet li-bullet-2">
            <li> employing any device, scheme or artifice to defraud; </li>
            <li> engaging in any act, practice or course of business which operates as a fraud or deception, or is
              likely to operate as a fraud or deception, upon any person; </li>
            <li> making any statement the Trader knows to be false in a material particular; or </li>
            <li> omitting to state a material fact necessary in Order to make the statements made, in the light of the
              circumstances under which they were made, not misleading. </li>
          </ul>
        </ul>

        <h6 id="access-to-information"> 7. Access To Information </h6>
        <p><strong> 7.1 </strong> All Traders have full and equal real-time access to Market Data. Market Data is made
          available through the Web Interface or through other avenues which TechnoApp may make available from time to time
          in its sole discretion, including the TechnoApp APIs. </p>
        <ul>
          <li><strong> 7.1.1 </strong> Market Data comprises the following: all Limit Orders placed on the Order Book
            (price, quantity, volume and time), and all Fills (price, quantity, volume and time). </li>
          <li><strong> 7.1.2 </strong> Market Data does not include the following: </li>
          <ul class="li-bullet li-bullet-2">
            <li> resting Stop Orders (Stop Orders that have been placed but where the Stop Price has not been reached);
              and </li>
            <li> any information about the Trader that placed any Order. </li>
          </ul>
        </ul>

        <p><strong> 7.2 TechnoApp Corporate Operations </strong></p>
        <ul>
          <li><strong>7.2.1</strong> TechnoApp which owns and operates the TechnoApp Platform, or any of its affiliates, may
            also trade on the TechnoApp Platform. </li>
          <li><strong> 7.2.2 </strong> TechnoApp and its affiliates is subject to the same Price-Time Priority as all other
            Traders. </li>
          <li><strong> 7.2.3 </strong> TechnoApp and any of its affiliates that trades on the TechnoApp Platform only trades
            based on Market Data and does not have access to any inside information. It does not engage in any front
            running. </li>
          <li><strong> 7.2.4 </strong> All trades of Assets by TechnoApp or its affiliate for its proprietary account will
            be made under a separate Account and Linked Wallet. </li>
        </ul>

        <p><strong> 7.3 TechnoApp Employee Access </strong></p>
        <ul>
          <li><strong>7.3.1</strong> TechnoApp’s policies prohibit all TechnoApp’s employees from using inside, corporate or
            proprietary information to trade Digital Assets. </li>
        </ul>

        <h6 id="scheduled-downtime"> 8. Scheduled Downtime </h6>
        <p><strong> 8.1 </strong> From time to time, TechnoApp may suspend trading temporarily for maintenance or upgrades.
          Absent extenuating circumstances, the TechnoApp Platform will use reasonable endeavors to follow the following
          process for closing and re-opening trading: </p>
        <ul class="li-bullet li-bullet-2">
          <li> Step 1: Announce Scheduled Downtime. </li>
          <li> Step 2: Scheduled Downtime Begins. </li>
          <li> Step 3: Immediately after Scheduled Downtime is completed, all Order Books to enter into Cancel-only
            Mode. </li>
        </ul>
        <p><strong> 8.2 Approval of Market Makers </strong></p>
        <p> A corporation may be approved by TechnoApp as a Market Maker, in which case the corporation shall execute a
          Market Maker Agreement in such form and content prescribed by TechnoApp. </p>

        <p><strong> 8.3 Obligations of a Market Maker </strong></p>
        <ul>
          <li><strong> 8.3.1 </strong> The Market Maker shall comply with this set of Trading Rules. </li>
          <li><strong> 8.3.2 </strong> The Market Maker shall continually, or upon demand, place two-way quotes in all
            Digital Assets covered by its Market Maker obligations: </li>
          <ul class="li-bullet li-bullet-2">
            <li> on a continuous basis or in such manner as TechnoApp specifies in the relevant Market Maker Agreement to
              provide for an adequately liquid market; </li>
            <li> within the maximum spread that TechnoApp specifies in the relevant Market Maker Agreement; </li>
            <li> for not less than the minimum quantity that TechnoApp specifies in the relevant Market Maker Agreement;
              and </li>
            <li> in accordance with such other requirements or specifications as TechnoApp may from time to time impose in
              the relevant Market Maker Agreement. </li>
          </ul>
          <li><strong> 8.3.3 </strong> TechnoApp may grant exemptions from the Market Maker obligations for a limited
            period of time in exceptional circumstances for a specific or all Market Makers in one or several Digital
            Assets. TechnoApp will use reasonable endeavors to make public the occurrence of exceptional circumstances as
            soon as reasonably possible when it has become aware of such occurrence. It shall also make public the
            resumption of normal trading after such exceptional circumstances have ceased to exist. </li>
          <li><strong> 8.3.4 </strong> The obligation to continually and upon request place two-way quotes shall apply
            within the TechnoApp Platform opening hours at the times stated in the relevant Market Maker Agreement. After
            the Filling of Orders or after the re-opening of the TechnoApp Platform after extraordinary closure or
            scheduled downtime, the Market Maker shall, promptly or within a certain grace period (if any) stated in the
            relevant Market Maker Agreement, place new two-way quotes. </li>
          <li><strong> 8.3.5 </strong> The Market Maker shall appoint and notify TechnoApp one or more natural persons who
            shall be continuously responsible for the market making function during the TechnoApp Platform opening hours.
          </li>
        </ul>

        <p><strong> 8.4 Suspension and Restriction of Activities </strong></p>
        <ul>
          <li><strong> 8.4.1 </strong> TechnoApp may suspend or restrict the activities of a Market Maker for such period
            as TechnoApp specifies if the Market Maker: </li>
          <ul class="li-bullet li-bullet-2">
            <li> fails to comply with any of the provisions in these Trading Rules or in the relevant Terms of Use;
            </li>
            <li> defaults on any trade in Digital Assets; </li>
            <li> in TechnoApp 's opinion, is in financial or operating difficulty; </li>
            <li> is suspected of manipulating or distorting the market for a Digital Asset or attempting to do so; </li>
            <li> is the subject of a written complaint involving an allegation of fraud or dishonesty, whether in or out
              of the jurisdiction; </li>
            <li> is the subject of an investigation involving an allegation of fraud or dishonesty, whether in or out of
              the jurisdiction; </li>
            <li> engages in conduct detrimental to the financial integrity, reputation or interests of TechnoApp, or the
              TechnoApp Platform; or </li>
            <li> refuses to provide TechnoApp with information to aid TechnoApp in its investigation of the Market Maker for
              suspected manipulation or other breach of these Trading Rules. </li>
          </ul>
          <li><strong> 8.4.2 </strong> TechnoApp may modify, suspend or terminate the activities of the Market Maker where
            extreme market conditions arise. In such an event, TechnoApp would issue a general notice to all Traders. </li>
        </ul>

        <p><strong> 8.5 Revocation of Approval of Market Maker </strong></p>
        <ul>
          <li><strong> 8.5.1 </strong> TechnoApp may revoke the approval of a Market Maker by terminating the Market Making
            Agreement in accordance with the terms of the Market Making Agreement. </li>
        </ul>

        <p><strong> 8.6 Resignation of Market Maker </strong></p>
        <ul>
          <li><strong> 8.6.1 </strong> A Market Maker who intends to resign from making a market for a specified Digital
            Asset must give at least 30 days written notice to TechnoApp, stating the proposed date of resignation. </li>
          <li><strong> 8.6.2 </strong> A Market Maker who intends to resign from making a market for all Digital Assets
            must terminate its Market Maker Agreement in accordance with the terms of the relevant Market Maker
            Agreement. </li>
          <li><strong> 8.6.3 </strong> A Market Maker must continue to comply with the Trading Rules and the relevant
            Market Making Agreement until the date of resignation. </li>
        </ul>
          <p><strong> 9. No Self-Trade Prevention </strong></p>
          <p>If two Orders of the same counter price would result in self-execution, it will execute.</p>
        
    </div>
    </div>
  </section>
  <!-- // policy page -->



  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="~/images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh=""> COMING SOON!</p>

          <p class="text33">We are almost here! Get ready to be amazed.<br>
            <span class="boldtexr34"> We follow Agile!</span>
            <br>We are committed to bring you an incredible Crypto Trading experience.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->



  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!--usdModal  Modal -->


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>

