@{
    ViewData["Title"] = "TechnoApp Privacy Policy: Your Trust, Our Commitment in Crypto Transactions";
}

@section Header {
    <meta name="description" content="Explore TechnoApp Privacy Policy, outlining our dedication to safeguarding your information in the world of crypto transactions." />
}

    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2>Privacy Policy </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> <a class="url-1" href="/">Home</a></li>
                            <li>|</li>
                        <li> Privacy Policy (US)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-12 col-12">
        <img src="~/images/privacy-policy.jpg" alt="image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-12 col-12">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#privacy-policy-is-part-of-our-terms"> Privacy Policy Is Part Of Our Terms </a></li>
        <li><a href="#what-we-collect"> What We Collect </a></li>
        <li><a href="#information-from-cookies-and-other-tracking-technologies"> Information From Cookies and Other Tracking Technologies </a></li>
        <li><a href="#what-purpose-do-We-use-your-information-for"> What Purpose Do We Use Your Information For? </a></li>
        <li><a href="#when-do-we-collect-this-information"> When Do We Collect This Information? </a></li>
        <li><a href="#voluntary-disclosure-to-third-parties"> Voluntary Disclosure To Third Parties </a></li>
        <li><a href="#security"> Security </a></li>
        <li><a href="#age-limitations"> Age Limitations </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#privacy-policy-changes"> Privacy Policy Changes </a></li>
        <li><a href="#biometric-data"> Biometric Data </a></li>
        <li><a href="#retention-of-biometric-data"> Retention of Biometric Data </a></li>
        <li><a href="#your-consent"> Your Consent </a></li>
        <li><a href="#information-disclosure-to-outside-parties"> Information Disclosure To Outside Parties </a></li>
        <li><a href="#applicability"> Applicability </a></li>
        <li><a href="#governing-law"> Governing Law </a></li>
        <li><a href="#contact-us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-12 col-12 mt-4">
        <h6 class="introduction_div">Privacy Policy</h6>
                <p>
                    We, TechnoApp LLC, own and operate the TechnoApp platform. We respect your privacy and know that you care about how your personal information is used and shared, and we take your privacy seriously. This Privacy Policy (“Policy”) describes the Company's policies and procedures on the collection, use and disclosure of your information pursuant to your use of the Company’s website (available at <a asp-controller="home" asp-action="index" class="url-1"> TechnoApp.com/en-us</a>) and related mobile and software applications, whether existing now or in future (collectively, the “Online Platforms”). The Company is committed to ensuring that any use or sharing of your information with anyone shall be- only in accordance with the procedures described in this <a asp-controller="policy" asp-action="privacy-policy" class="url-1"> Privacy Policy</a>.
        </p>
        <p> The terms <code class="pera-color"> “We”, “Our”, “TechnoApp”, “Company”, “Platform” and “Us” </code> refers to the Company, its subsidiaries, affiliated entities, permitted assigns (as and when applicable) and the terms “User”, “You” and “Your” refer to a User of our Online Platforms. The capitalized terms used in this Privacy Policy, but not defined in this Privacy Policy, shall have the meaning given to such terms in the <a asp-controller="policy" asp-action="terms-of-use"  class="url-1"> Terms of use. </a></p>
        <p> Please read this Privacy Policy before using the site or submitting any personal data. By using the Online Platforms, it shall be deemed that you are expressly consenting to be bound by the terms of use described in this Privacy Policy. </p>
        </div>
        <div id="privacy-policy-is-part-of-our-terms"></div>
        <div class="col-lg-12 col-md-12">
        <h6> Privacy Policy Is Part Of Our Terms </h6>
        <p> This Privacy Policy is a part of and incorporated within and is to be read along with the Terms of use of our platform (the “Terms”). You may view these Terms <br> on any of our Online Platforms. </p>
        
        <div id="what-we-collect"></div>
        <div class="collect-sec">
        <h6> What We Collect </h6>
        <h5> When you interact with our Services, we may collect: </h5>
        <p><strong> Contact And Demographic Information, </strong> such as your date of birth, gender, email address, full name, home and business address, employer, nationality, phone number, photographs, and Social Security number. </p>
        <p><strong> Identification Information, </strong> such as your driver’s license, federal/state ID card, Tax ID number, or other government-issued ID. </p>
        <p><strong> Biometric Data, </strong> such as facial recognition and facial geometry data derived from photographs or videos you submit to us during the onboarding process. See the Biometric Data and Retention of Biometric Data sections below for more information specifically as to how we collect and use Biometric Data. </p>
        <p><strong> Proof Of Address Documents, </strong> including your bank, brokerage, and/or credit card statements, utility bills, mortgage statements, and/or property tax statements. </p>
        <p><strong> Institutional Information, </strong> such as Employer Identification Number’s (EIN), proof of legal formation (e.g. articles of incorporation/ bylaws), and/or personal identification information for beneficial owners. </p>
        <p><strong> Financial Information, </strong> such as your bank account number, payment card information, transaction history, trading data, and/or tax identification. </p>
        <p><strong> Transaction Information, </strong> including information about the transactions you make using our Services, such as the name of the recipient, transaction amount, and timestamp. </p>
        <p><strong> Correspondence, </strong> such as your feedback, quiz, questionnaire and other survey responses, and information you provide to our support teams, including via chat bot. </p>
        <p><strong> Phone Contacts, </strong> If you wish to refer others to TechnoApp, then you may grant permission in your device settings to give TechnoApp access to your phone contacts.</p>
        <p><strong> Information We Get From Others, </strong> including information about you from other sources as required or permitted by applicable law, including third parties such as credit bureaus, identity verification services, and public databases. We may combine the information collected from these sources with the information we get from this Site in order to verify your identity, comply with our legal obligations, and ensure our Services are not used fraudulently or for other illicit activities. order to verify your identity, comply with our legal obligations, and ensure our Services are not used fraudulently or for other illicit activities. </p>
        </div>
        
        <div id="information-from-cookies-and-other-tracking-technologies"></div>
        <h6> Information From Cookies and Other Tracking Technologies </h6>
        <p> We and third parties we authorize may use cookies, web beacons, and similar technologies to record your preferences, track the use of our Sites and mobile apps, and collect information about the use of the Services, as well as about our interactions with you. This information may include Internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data, and information about your interactions with the communications we send to you. We may combine this automatically collected log information with other information we collect about you. You may choose to set your web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of our Services may not function properly. </p>
        
        <div class="row purpose-row">
        <div class="col-lg-12 col-md-12 text-center" id="what-purpose-do-We-use-your-information-for">
        <h6>What Purpose Do We Use Your Information For? </h6>
        <p> Any of the information the Website collects from you may be used for one of the following purposes: </p>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="purpose-col-1">
        <ul>
        <li><strong> 1.	</strong>to provide TechnoApp Services on the Website and the App; </li>
        <li><strong> 2.	</strong>to personalize your experience on the Website and the App (your information helps us to better respond to your individual requirements); </li>
        <li><strong> 3.	</strong>to improve the Website and the App (we continually strive to improve the offerings based on the information and feedback we receive from you); </li>
        <li><strong> 4.	</strong>to improve customer service (your information helps us to more effectively respond to your customer service requests and support needs); </li>
        <li><strong> 5.	</strong>to verify and process transactions on the Website and/or the App, as applicable; </li>
        <li><strong> 6.	</strong>to facilitate sale of digital tokens or virtual assets; </li>
        <li><strong> 7.	</strong>to provide, manage or access digital wallets for holding digital assets; </li>
        <li><strong> 8.	</strong>to provide services for purchasing, trading and/or holding of digital assets; </li>
        <li><strong> 9.	</strong>to facilitate various products and/or services related to digital assets; </li>
        <li><strong> 10.</strong> to update and back-up our records; </li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="purpose-col-1">
        <ul>
        <li><strong> 11. </strong>to enhance the security of our Website and the App and keep the same safe and secure; </li>
        <li><strong> 12. </strong>to prevent and identify suspicious /other illegal transactions in order to mitigate risks relating to money laundering and other illegal activities; </li>
        <li><strong> 13. </strong>to notify you about changes in our Services; </li>
        <li><strong> 14. </strong>to run our Website and App and for other internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes; </li>
        <li><strong> 15. </strong>to improve our Website and App features to provide you the best Service; </li>
        <li><strong> 16. </strong>to understand the effectiveness of advertising we provide and carry out; </li>
        <li><strong> 17. </strong>to comply with any statutory or regulatory requirement; </li>
        <li><strong> 18. </strong>to troubleshoot problems; detect and protect against error, fraud and other criminal or illegal activity; collect fees owed; enforce our terms and conditions; prevent abuse of our services; prevent violation of the rights of third parties, other users or the general public. </li>
        </ul>
        </div>
        </div>
        </div>
        
        <div class="border-sec border-sec-3">
        <p> Your Personal Information, whether public or private, will not be sold, exchanged, transferred, or given to any other entity for any reason whatsoever, without your consent, other than for: </p>
        <ul>
        <li><strong> 1.	</strong>The express purpose of delivering the purchased product or service requested by you from the Website or App, as applicable; </li>
        <li><strong> 2.	</strong>administering a contest, promotion, survey or other feature; </li>
        <li><strong> 3.	</strong>sending periodic emails and other communications; and </li>
        <li><strong> 4.	</strong>Performing analysis on the data related to transactions, behaviors etc. </li>
        </ul>
        </div>
        <p> The email address you provide for order processing may be used to send you information and updates pertaining to your order, in addition to sending you occasional news, updates, and related product or service information of TechnoApp, as applicable. </p>
        <h6 id="when-do-we-collect-this-information"> When Do We Collect This Information? </h6>
        <p> We may ask you to provide us with your Personal Information on Website and the App if and when: </p>
        <ul class="li-bullet">
        <li> you register and make an account on the Website or on the App, </li>
        <li> Transfer any funds from/to your linked Bank account </li>
        <li> Correspond with us by phone, e-mail chat or otherwise </li>
        <li> Place an order on the Website or on the App, as the case may be, </li>
        <li> Subscribe to TechnoApp’ newsletter, if applicable, </li>
        <li> We troubleshoot problems reported by you </li>
        <li> Respond to a survey or fill out a form on the Website or on the App, for the limited purposes of identifying you personally, communicating with you, in the context of provision of TechnoApp’s Services, in compliance with the requirements of law. </li>
        </ul>
        <h6 id="voluntary-disclosure-to-third-parties"> Voluntary Disclosure To Third Parties </h6>
        <p> This Privacy Policy shall not apply to any information voluntarily disclosed by you to other Users of our Online Platforms or third parties other than Selected Third Parties. </p>
        <h6 id="security"> Security </h6>
        <p> We maintain administrative, technical, and physical safeguards designed to protect the personal information we maintain against unauthorized access or disclosure. No system can be completely secure. Therefore, although we take steps to secure your information, we cannot guarantee that your information, searches, or other communication will always remain secure. When registering for our services, choose a complex password and turn on advance security features, such as two-factor authentication. Never share your account credentials with third-parties and submit a customer service ticket on
        <a href="mailto:support@@TechnoApp.com" class="url-1">support@@TechnoApp.com </a>if you become aware of unauthorised access to or use of your account. You are responsible for all activity on the account that is associated with your login credentials. </p>
        <h6 id="age-limitations"> Age Limitations </h6>
         <p> We do not allow use of our Services and Sites by anyone younger than 18 years old. If you learn that anyone younger than 18 has unlawfully provided us with personal data, please contact us at our official <a href="mailto:support@@TechnoApp.com" class="url-1"> support@@TechnoApp.com </a> and we will take steps to delete such information, close any such accounts, and prevent the user from continuing to use our Services. </p>
        <h6 id="privacy-policy-changes"> Privacy Policy Changes </h6>
        <p> The Company may change and update this Privacy Policy from time to time. We will use commercially reasonable efforts to generally notify all users of any material changes to this Privacy Policy, however, you should look at this Privacy Policy regularly to check for such changes. We will also update the “Last Updated” and “Effective date“ at the top of this Privacy Policy, which reflects the effective date of such policy. Your continued access to or use of the Services after the date of the updated Privacy Policy constitutes your acknowledgment and agreement that you have read, understood and accepted the terms of the updated Privacy Policy. If you do not agree to the updated Privacy Policy, you must stop accessing or using the Platform and/or the Services. All the changes will have an ex post facto effect. You are encouraged to review this Privacy Policy whenever you access our Online Platforms to make sure that you understand how any personal data you provide will be used. </p>
        <h6 id="biometric-data"> Biometric Data </h6>
        <p> We may collect Biometric Data during the onboarding or account reactivation process. Specifically, we collect Biometric Data from you when you create an account with us and submit photographs and/or videos of your face. These identifiers include facial recognition data, as well as mathematical representations of your facial geometry. We use and share Biometric Data only as described in this section. </p>
        <p> We use Biometric Data to identify and authenticate you, for security purposes. We may share Biometric Data with third-party service providers who assist with our IT, security, and fraud programs, our professional advisors, in a business transfer such as a merger or acquisition, and as required by law or regulation. We do not sell your Biometric Data. </p>
        <div class="border-sec" id="retention-of-biometric-data">
        <h6> Retention of Biometric Data </h6>
        <p> TechnoApp will retain biometric data until the earliest of the following events occurs: </p>
        <ul>
        <li><strong> 1.	</strong>to identity verification purposes for the collection have been satisfied; or </li>
        <li><strong> 2.	</strong>three years from the time at which you delete or deactivate your TechnoApp account. </li>
        </ul>
        </div>
        <h6 id="your-consent"> Your Consent </h6>
        <p> By using Online Platforms, you agree and consent to the collection and use of information collected in the manner described above and in accordance with this Privacy Policy. You also agree and consent to any changes made to this Privacy Policy in due course and without notice. If you do not agree with the terms and conditions of this Privacy Policy, please do not provide any information to us. If you refuse or withdraw your consent, or if you choose not to provide us with any information as required by us, we may not be able to provide you with the Services that are being offered through the Online Platform. </p>
        <h6 id="information-disclosure-to-outside-parties"> Information Disclosure To Outside Parties </h6>
        <p> We do not sell, trade, or otherwise transfer your Personal Information to outside parties. This does not include trusted third parties and subcontractors who assist us in operating the Website and the App, conducting our business, or servicing you, so long as those parties agree to keep this information confidential and ensure the same level of data protection that is adhered to by TechnoApp. We may also release your information to: </p>
        <ul class="li-bullet">
        <li> Comply with applicable law or to respond to a court order, </li>
        <li> Enforce our site policies, or protect our rights, property </li>
        <li> Take actions to detect and prevent an actual or potential occurrence of identity theft, fraud, money laundering or other illegal acts, </li>
        <li> To disclose or share your Personal Information in accordance with our Terms of Use; or to protect the rights of the platform, </li>
        <li> Share some or all of your information as governed in the case of transfer of assets, acquisitions by or mergers with other business entities, </li>
        <li> Share your personal data with Selected Third Party; which means and includes selected partners and third parties including our service providers who authenticate KYC and other details as provided by you, commercial banks which provide banking facilities to TechnoApp; payment processing companies and other Digital Asset exchanges as TechnoApp may work with for providing the TechnoApp platform Services etc. </li>
        </ul>
        <p> However, non-personally identifiable visitor information may be provided to other parties for gaining insights and/or other uses. We use certain information in an aggregated form across users to compile statistical and demographic profiles for our business and marketing activities. </p>
        <h6 id="applicability"> Applicability </h6>
        <p> This Privacy Policy applies to information collected through TechnoApp's platform including the Website as well as the App, if any. </p>
        <h6 id="governing-law"> Governing Law </h6>
        <p> This Privacy Policy shall be governed by US laws and rules framed thereunder and any amendment, modification, statutory enactment thereto from time to time. Any dispute that may arise from this Privacy Policy shall be subject to the exclusive jurisdiction to the courts of Delaware </p>
        <h6 id="contact-us"> Contact Us </h6>
        <p> The information described in this Privacy Policy is collected and retained by TechnoApp, which owns the Website and the App. If you have any concerns pertaining to this Privacy Policy and/or the information shared hereunder, please contact us at: <a href="mailto:compliance.finance@@TechnoApp.com" class="url-1"> compliance.finance@@TechnoApp.com. </a></p>
        <p> Our Compliance Officer shall endeavor to respond to you within 30 days of your submission. Please note that if you withdraw your consent to any or all use or disclosure of your personal data, depending on the nature of your request, we may not be in a position to continue to provide our services or products to you or administer any contractual relationship in place. Such withdrawal may also result in the termination of any agreement you may have with us. Our legal rights and remedies are expressly reserved in such an event. </p>
        <!-- <div class="border-sec border-sec-3">
        <p><strong class="col_color"> Compliance Officer </strong></p>
        </div> -->
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->


  