@model vmBase
@{
    ViewData["Title"] = "TechnoApp Institutional Services: Redefining Finance Solutions";
}

@section Header {
    <meta name="description" content="Explore cutting-edge financial solutions with TechnoApp Institutional Services." />
}
<section class="about-TechnoSavvy institutional-services-page market-section bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="TechnoApp-sec-text">
                    <h3>
                        <span>TechnoApp</span> Institutional Services!
                    </h3>
                    <h1>
                        <span>
                            Empowering Institutional Investors
                            in the Crypto Space
                        </span>
                    </h1>
                    <p>
                        Tailored Institutional Services for institutional investors and businesses.
                    </p>
                </div>
            </div><!-- // col-lg-8 -->

            <div class="col-lg-5 col-md-5">
                <img src="images/institutional-services-banner.png" alt="image">
            </div><!-- // col-lg-5 -->
        </div><!-- // Row -->



    </div>
</section>
<!-- // End institutional-services Page -->
<!-- Labs About Us -->
<section id="labs-about-us">
    <div class="container">

        <!-- About Us Content -->
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="labs-about text-center">
                    <h3 class="labs-inner-heading">About TechnoApp Institutional Services </h3>
                    <p>
                        At TechnoApp, we understand the unique needs and requirements of institutional investors
                        operating in a fast-paced and ever-evolving cryptocurrency landscape.
                        Our Institutional Services are designed to provide comprehensive solutions, enabling
                        institutions to capitalize on the vast opportunities presented by
                        blockchain technology and digital assets. With our tailored offerings, we aim to facilitate
                        seamless and secure participation in the crypto market while
                        optimizing risk management and ensuring regulatory compliance.
                    </p>
                </div>
            </div>

        </div>
        <!-- ./ About Us Content -->
    </div>
</section>
<!-- .// Labs About Us -->

<section class="inst-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5" data-aos="fade-down" data-aos-duration="1500">
                <img src="images/Institutional-services.png" alt="image">
            </div>
            <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-duration="1500">
                <div class="banner-sec-textarea">
                    <div class="css566-invest-div">
                        <h2>
                            Empowering Institutions with Personalized Services for Success
                        </h2>
                        <ul class="inst-items-main ps-0">
                            <li>
                                <div class="inst-items">
                                    <div class="icon-inst">
                                        <span>
                                            <img src="images/token-listing.png" alt="" width="60">
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h3>Token Listing</h3>
                                        <p>
                                            Exchanges can assist institutional clients in listing new tokens or facilitating token sales for projects seeking fundraising.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inst-items">
                                    <div class="icon-inst">
                                        <span>
                                            <img src="images/entity-services.png" alt="" width="60">
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h3>
                                            Entity Services
                                        </h3>
                                        <p>
                                            Experience the future of cryptocurrency trading with TechnoApp, Next-Gen Crypto Exchange. Start trading, buying, and selling cryptocurrencies while earning up to 0.10% cashback on every trade. Enjoy the added benefit of zero-cost trading on TechnoApp. Join us today!

                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inst-items">
                                    <div class="icon-inst">
                                        <span>
                                            <img src="images/liquidity-pool.png" alt="" width="60">
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h3>Maintain Liquidity</h3>
                                        <p>
                                            Institutional investors require access to deep liquidity pools to facilitate large trades without significantly affecting the market price.

                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg2 pt-5">
    <div class="container">
        <div class="banner-sec">
            <div class="row">
                <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-duration="1500">
                    <div class="banner-sec-textarea">
                        <div class="css566-invest-div">
                            <h2>
                                List your Token  on TechnoApp
                            </h2>
                            <p>
                                Boost your project's reach with our token listing and fundraising help. We offer a complete solution to connect with a larger investor network and succeed in the cryptocurrency world.
                            </p>
                        </div>
                        <a asp-controller="Institutional" asp-action="tokenlist"  class="btn get-started-btn">
                        List Token
                        </a>

                    </div>
                </div>
                <div class="col-lg-5 col-md-5" data-aos="fade-down" data-aos-duration="1500">
                    <img src="images/token-list.png" class="tokenimg54" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="beginner-lesson bg2">
    <div class="container">
        <div class="row">
            <div class="css566-heading mb-3">

                <h2 class="text-center "> Why Choose Us? </h2>
                <span class="text-center ">
                    <div class="divider"></div>
                </span>
            </div>
            <div class="css566-slide">
                <div class="row">
                    <div class="col-md-4">
                        <div class="navec-inst-choose">
                            <!-- <img src="images/liquidity-pool.png" alt="" width="60"> -->

                            <h5 class="mb-3">Experience and Expertise </h5>
                            <p>
                                Our team is comprised of seasoned professionals with
                                extensive experience in both traditional finance and the
                                crypto industry. We understand the nuances of
                                institutional investment and the unique challenges of
                                the crypto market.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="navec-inst-choose">

                            <h5 class="mb-3">Tailored Solutions </h5>
                            <p>
                                We customize our services to align with your specifc
                                needs and objectives. Our flexible approach ensures
                                that you receive solutions tailored to your institution's
                                requirements.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="navec-inst-choose">

                            <h5 class="mb-3"> Global Reach</h5>
                            <p>
                                Our Institutional Services cater to institutions
                                worldwide. Whether you are a hedge fund, asset
                                management firm, family office or any other
                                institutional entity, our services are accessible to you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Labs Contact us -->
<div id="labs-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-0">
                    <h2 class="labs-inner-heading">
                        Get in Touch!

                    </h2>
                    <p>
                        Contact us today to schedule a consultation with our team. Together, let's unlock the
                        potential of cryptocurrency market and drive
                        your institution's growth and success in the digital era.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="labs-form">
                    <form autocomplete="off">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <div class="mb-0">
                                    <label for="txtName">Name <span class="commcss4">*</span></label>
                                    <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                                    <small class="invalid-feedback">* This feld is mandatory! </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-0">
                                    <label for="txtEmail">Email <span class="commcss4">*</span></label>
                                    <input type="email" class="form-control " id="txtEmail"
                                           placeholder="Enter E-mail">
                                    <small class="invalid-feedback">* This feld is mandatory! </small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-0">
                                    <label for="dropEnquiryType">Enquiry Type <span class="commcss4">*</span></label>
                                    <div class="sect435">
                                        <select class="form-select my-select" id="dropEnquiryType"
                                                aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Entity Services</option>
                                            <option value="2"> Liquidity Management</option>
                                            <option value="3">Token Listing</option>
                                            <option value="4">Others</option>
                                        </select>
                                    </div>
                                    <small class="invalid-feedback">* This feld is mandatory! </small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label for="txtMessage">Message</label>
                                    <textarea class="form-control" id="txtMessage" rows="2"
                                              placeholder="Additional Message........"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <button>Submit</button>
                            </div>
                        </div>
                                            </form>
                </div>
            </div>
        </div>
    </div>
</div>