@model vmBase
@{
    ViewData["Title"] = "TechnoApp Institutional Tokens: Explore the Diversity";
}

@section Header {
    <meta name="description" content="Unlock opportunities! Participate in token listing fundraising on TechnoApp. Boost your project's visibility and liquidity." />
}

<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">                
                <span>List Your Token on TechnoApp Exchange</span>
            </span>
         
        </div>

        <div class="row">
            <div id="login-tab" class="token-listdiv5 mt-4">
                <div class="row">
                    <!-------------------------------------------------------->
                    <div class="listtoken4-div">
                        <!-------------------------------------------------------->
                        <form class="was-validated" autocomplete="off">
                            <div class="row">
                                <!-------------------------------------------------------->
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Your Name <span class="commcss4">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Name"  required>
                                        <span class="invalid-feedback">  This field is mandatory  </span>
                                    </div>
                                </div>
                                <!-------------------------------------------------------->
                                <!-------------------------------------------------------->
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Relationship with the Project</label>
                                        <input type="text" class="form-control" placeholder=" "    required>
                                        <span class="sleft432 ">Please describe your relationship with the project (e.g. CEO, founder, employee, community member and exchange)</span>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Project Name</label>
                                        <input type="text" class="form-control" placeholder=" " required>
                                        <span class="sleft432 ">Please provide the full name of the project (e.g. Bitcoin, Ethereum, Ripple, Holochain, Binance, Bittrex).  </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Country of Origin (where majority of team is located)</label>
                                        <div class="form-control foconselect2">
                                            <select class="my-select" >
                                                <option Selected="selected"> Select Country </option>
                                                <option data-img-src="/images/coun-flags/af.png"> Afghanistan </option>
                                                <option data-img-src="/images/coun-flags/ax.png"> Aland Islands </option>
                                                <option data-img-src="/images/coun-flags/al.png"> Albania </option>
                                                <option data-img-src="/images/coun-flags/dz.png"> Algeria </option>
                                                <option data-img-src="/images/coun-flags/as.png"> American Samoa </option>
                                                <option data-img-src="/images/coun-flags/ad.png"> Andorra </option>
                                                <option data-img-src="/images/coun-flags/ao.png"> Angola </option>
                                                <option data-img-src="/images/coun-flags/ai.png"> Anguilla </option>
                                                <option data-img-src="/images/coun-flags/aq.png"> Antarctica </option>
                                                <option data-img-src="/images/coun-flags/ag.png"> Antigua and Barbuda </option>
                                                <option data-img-src="/images/coun-flags/ar.png"> Argentina </option>
                                                <option data-img-src="/images/coun-flags/am.png"> Armenia </option>
                                                <option data-img-src="/images/coun-flags/aw.png"> Aruba </option>
                                                <option data-img-src="/images/coun-flags/au.png"> Australia </option>
                                                <option data-img-src="/images/coun-flags/at.png"> Austria </option>
                                                <option data-img-src="/images/coun-flags/az.png"> Azerbaijan </option>
                                                <option data-img-src="/images/coun-flags/bs.png"> Bahamas </option>
                                                <option data-img-src="/images/coun-flags/bh.png"> Bahrain </option>
                                                <option data-img-src="/images/coun-flags/bd.png"> Bangladesh </option>
                                                <option data-img-src="/images/coun-flags/bb.png"> Barbados </option>
                                                <option data-img-src="/images/coun-flags/by.png"> Belarus </option>
                                                <option data-img-src="/images/coun-flags/be.png"> Belgium </option>
                                                <option data-img-src="/images/coun-flags/bz.png"> Belize </option>
                                                <option data-img-src="/images/coun-flags/bj.png"> Benin </option>
                                                <option data-img-src="/images/coun-flags/bm.png"> Bermuda </option>
                                                <option data-img-src="/images/coun-flags/bt.png">  Bhutan </option>
                                                <option data-img-src="/images/coun-flags/bo.png"> Bolivia </option>
                                                <option data-img-src="/images/coun-flags/bq.png"> Bonaire, Sint Eustatius and Saba </option>
                                                <option data-img-src="/images/coun-flags/ba.png"> Bosnia and Herzegovina </option>
                                                <option data-img-src="/images/coun-flags/bw.png"> Botswana </option>
                                                <option data-img-src="/images/coun-flags/bv.png"> Bouvet Island </option>
                                                <option data-img-src="/images/coun-flags/br.png"> Brazil </option>
                                                <option data-img-src="/images/coun-flags/io.png"> British Indian Ocean Territory </option>
                                                <option data-img-src="/images/coun-flags/bn.png">  Brunei Darussalam </option>
                                                <option data-img-src="/images/coun-flags/bg.png"> Bulgaria </option>
                                                <option data-img-src="/images/coun-flags/bf.png"> Burkina Faso </option>
                                                <option data-img-src="/images/coun-flags/bi.png"> Burundi </option>
                                                <option data-img-src="/images/coun-flags/cv.png"> Cabo Verde </option>
                                                <option data-img-src="/images/coun-flags/kh.png"> Cambodia </option>
                                                <option data-img-src="/images/coun-flags/cm.png"> Cameroon </option>
                                                <option data-img-src="/images/coun-flags/ca.png"> Canada </option>
                                                <option data-img-src="/images/coun-flags/ky.png"> Cayman Islands </option>
                                                <option data-img-src="/images/coun-flags/cf.png">  Central African Republic </option>
                                                <option data-img-src="/images/coun-flags/td.png"> Chad </option>
                                                <option data-img-src="/images/coun-flags/cl.png"> Chile </option>
                                                <option data-img-src="/images/coun-flags/cn.png"> China </option>
                                                <option data-img-src="/images/coun-flags/cx.png"> Christmas Island </option>
                                                <option data-img-src="/images/coun-flags/cc.png"> Cocos (Keeling) Islands </option>
                                                <option data-img-src="/images/coun-flags/co.png">  Colombia </option>
                                                <option data-img-src="/images/coun-flags/km.png">  Comoros </option>
                                                <option data-img-src="/images/coun-flags/ck.png"> Cook Islands </option>
                                                <option data-img-src="/images/coun-flags/cr.png"> Costa Rica </option>
                                                <option data-img-src="/images/coun-flags/hr.png"> Croatia </option>
                                                <option data-img-src="/images/coun-flags/cu.png"> Cuba </option>
                                                <option data-img-src="/images/coun-flags/cw.png"> Curaçao </option>
                                                <option data-img-src="/images/coun-flags/cy.png"> Cyprus </option>
                                                <option data-img-src="/images/coun-flags/cz.png"> Czech Republic </option>
                                                <option data-img-src="/images/coun-flags/ci.png"> Côte d'Ivoire </option>
                                                <option data-img-src="/images/coun-flags/cd.png"> Democratic Republic of the Congo </option>
                                                <option data-img-src="/images/coun-flags/dk.png"> Denmark </option>
                                                <option data-img-src="/images/coun-flags/dj.png"> Djibouti </option>
                                                <option data-img-src="/images/coun-flags/dm.png"> Dominica </option>
                                                <option data-img-src="/images/coun-flags/do.png"> Dominican Republic </option>
                                                <option data-img-src="/images/coun-flags/ec.png"> Ecuador </option>
                                                <option data-img-src="/images/coun-flags/eg.png"> Egypt </option>
                                                <option data-img-src="/images/coun-flags/sv.png"> El Salvador </option>
                                                <option data-img-src="/images/coun-flags/gq.png"> Equatorial Guinea </option>
                                                <option data-img-src="/images/coun-flags/er.png"> Eritrea </option>
                                                <option data-img-src="/images/coun-flags/ee.png"> Estonia </option>
                                                <option data-img-src="/images/coun-flags/sz.png"> Eswatini </option>
                                                <option data-img-src="/images/coun-flags/et.png"> Ethiopia </option>
                                                <option data-img-src="/images/coun-flags/fk.png"> Falkland Islands </option>
                                                <option data-img-src="/images/coun-flags/fo.png"> Faroe Islands </option>
                                                <option data-img-src="/images/coun-flags/fm.png"> Federated States of Micronesia </option>
                                                <option data-img-src="/images/coun-flags/fj.png"> Fiji </option>
                                                <option data-img-src="/images/coun-flags/fi.png"> Finland </option>
                                                <option data-img-src="/images/coun-flags/fr.png"> France </option>
                                                <option data-img-src="/images/coun-flags/gf.png"> French Guiana </option>
                                                <option data-img-src="/images/coun-flags/pf.png"> French Polynesia </option>
                                                <option data-img-src="/images/coun-flags/tf.png"> French Southern Territories </option>
                                                <option data-img-src="/images/coun-flags/ga.png"> Gabon </option>
                                                <option data-img-src="/images/coun-flags/gm.png"> Gambia </option>
                                                <option data-img-src="/images/coun-flags/ge.png"> Georgia </option>
                                                <option data-img-src="/images/coun-flags/de.png"> Germany </option>
                                                <option data-img-src="/images/coun-flags/gh.png"> Ghana </option>
                                                <option data-img-src="/images/coun-flags/gi.png"> Gibraltar </option>
                                                <option data-img-src="/images/coun-flags/gr.png"> Greece </option>
                                                <option data-img-src="/images/coun-flags/gl.png"> Greenland </option>
                                                <option data-img-src="/images/coun-flags/gd.png"> Grenada </option>
                                                <option data-img-src="/images/coun-flags/gp.png"> Guadeloupe </option>
                                                <option data-img-src="/images/coun-flags/gu.png"> Guam </option>
                                                <option data-img-src="/images/coun-flags/gt.png"> Guatemala </option>
                                                <option data-img-src="/images/coun-flags/gg.png"> Guernsey </option>
                                                <option data-img-src="/images/coun-flags/gn.png"> Guinea </option>
                                                <option data-img-src="/images/coun-flags/gw.png"> Guinea-Bissau </option>
                                                <option data-img-src="/images/coun-flags/gy.png"> Guyana </option>
                                                <option data-img-src="/images/coun-flags/ht.png"> Haiti </option>
                                                <option data-img-src="/images/coun-flags/hm.png"> Heard Island and McDonald Islands </option>
                                                <option data-img-src="/images/coun-flags/va.png"> Holy See </option>
                                                <option data-img-src="/images/coun-flags/hn.png"> Honduras </option>
                                                <option data-img-src="/images/coun-flags/hk.png"> Hong Kong </option>
                                                <option data-img-src="/images/coun-flags/hu.png">  Hungary </option>
                                                <option data-img-src="/images/coun-flags/is.png">  Iceland </option>
                                                <option data-img-src="/images/coun-flags/in.png">  India </option>
                                                <option data-img-src="/images/coun-flags/id.png"> Indonesia </option>
                                                <option data-img-src="/images/coun-flags/ir.png"> Iran </option>
                                                <option data-img-src="/images/coun-flags/iq.png"> Iraq </option>
                                                <option data-img-src="/images/coun-flags/ie.png"> Ireland </option>
                                                <option data-img-src="/images/coun-flags/im.png"> Isle of Man </option>
                                                <option data-img-src="/images/coun-flags/il.png"> Israel </option>
                                                <option data-img-src="/images/coun-flags/it.png"> Italy </option>
                                                <option data-img-src="/images/coun-flags/jm.png">  Jamaica </option>
                                                <option data-img-src="/images/coun-flags/jp.png">  Japan </option>
                                                <option data-img-src="/images/coun-flags/je.png">  Jersey </option>
                                                <option data-img-src="/images/coun-flags/jo.png"> Jordan </option>
                                                <option data-img-src="/images/coun-flags/kz.png"> Kazakhstan </option>
                                                <option data-img-src="/images/coun-flags/ke.png"> Kenya </option>
                                                <option data-img-src="/images/coun-flags/ki.png"> Kiribati </option>
                                                <option data-img-src="/images/coun-flags/kw.png"> Kuwait </option>
                                                <option data-img-src="/images/coun-flags/kg.png"> Kyrgyzstan </option>
                                                <option data-img-src="/images/coun-flags/la.png"> Laos </option>
                                                <option data-img-src="/images/coun-flags/lv.png"> Latvia </option>
                                                <option data-img-src="/images/coun-flags/lb.png"> Lebanon </option>
                                                <option data-img-src="/images/coun-flags/ls.png">  Lesotho </option>
                                                <option data-img-src="/images/coun-flags/lr.png">  Liberia </option>
                                                <option data-img-src="/images/coun-flags/ly.png">  Libya </option>
                                                <option data-img-src="/images/coun-flags/li.png"> Liechtenstein </option>
                                                <option data-img-src="/images/coun-flags/lt.png"> Lithuania </option>
                                                <option data-img-src="/images/coun-flags/lu.png"> Luxembourg </option>
                                                <option data-img-src="/images/coun-flags/mo.png"> Macau </option>
                                                <option data-img-src="/images/coun-flags/mg.png"> Madagascar </option>
                                                <option data-img-src="/images/coun-flags/mw.png"> Malawi </option>
                                                <option data-img-src="/images/coun-flags/my.png"> Malaysia </option>
                                                <option data-img-src="/images/coun-flags/mv.png"> Maldives </option>
                                                <option data-img-src="/images/coun-flags/ml.png"> Mali </option>
                                                <option data-img-src="/images/coun-flags/mt.png"> Malta </option>
                                                <option data-img-src="/images/coun-flags/mh.png"> Marshall Islands </option>
                                                <option data-img-src="/images/coun-flags/mq.png"> Martinique </option>
                                                <option data-img-src="/images/coun-flags/mr.png"> Mauritania </option>
                                                <option data-img-src="/images/coun-flags/mu.png"> Mauritius </option>
                                                <option data-img-src="/images/coun-flags/yt.png"> Mayotte </option>
                                                <option data-img-src="/images/coun-flags/mx.png"> Mexico </option>
                                                <option data-img-src="/images/coun-flags/md.png"> Moldova </option>
                                                <option data-img-src="/images/coun-flags/mc.png"> Monaco </option>
                                                <option data-img-src="/images/coun-flags/mn.png"> Mongolia </option>
                                                <option data-img-src="/images/coun-flags/me.png"> Montenegro </option>
                                                <option data-img-src="/images/coun-flags/ms.png"> Montserrat </option>
                                                <option data-img-src="/images/coun-flags/ma.png"> Morocco </option>
                                                <option data-img-src="/images/coun-flags/mz.png"> Mozambique </option>
                                                <option data-img-src="/images/coun-flags/mm.png"> Myanmar </option>
                                                <option data-img-src="/images/coun-flags/na.png"> Namibia </option>
                                                <option data-img-src="/images/coun-flags/nr.png"> Nauru </option>
                                                <option data-img-src="/images/coun-flags/np.png"> Nepal </option>
                                                <option data-img-src="/images/coun-flags/nl.png"> Netherlands </option>
                                                <option data-img-src="/images/coun-flags/nc.png"> New Caledonia </option>
                                                <option data-img-src="/images/coun-flags/nz.png"> New Zealand </option>
                                                <option data-img-src="/images/coun-flags/ni.png"> Nicaragua </option>
                                                <option data-img-src="/images/coun-flags/ne.png"> Niger </option>
                                                <option data-img-src="/images/coun-flags/ng.png"> Nigeria </option>
                                                <option data-img-src="/images/coun-flags/nu.png"> Niue </option>
                                                <option data-img-src="/images/coun-flags/nf.png"> Norfolk Island </option>
                                                <option data-img-src="/images/coun-flags/kp.png"> North Korea </option>
                                                <option data-img-src="/images/coun-flags/mk.png"> North Macedonia </option>
                                                <option data-img-src="/images/coun-flags/mp.png"> Northern Mariana Islands </option>
                                                <option data-img-src="/images/coun-flags/no.png"> Norway </option>
                                                <option data-img-src="/images/coun-flags/om.png"> Oman </option>
                                                <option data-img-src="/images/coun-flags/pk.png"> Pakistan </option>
                                                <option data-img-src="/images/coun-flags/pw.png"> Palau </option>
                                                <option data-img-src="/images/coun-flags/pa.png"> Panama </option>
                                                <option data-img-src="/images/coun-flags/pg.png"> Papua New Guinea </option>
                                                <option data-img-src="/images/coun-flags/py.png"> Paraguay </option>
                                                <option data-img-src="/images/coun-flags/pe.png">  Peru </option>
                                                <option data-img-src="/images/coun-flags/ph.png"> Philippines </option>
                                                <option data-img-src="/images/coun-flags/pn.png"> Pitcairn </option>
                                                <option data-img-src="/images/coun-flags/pl.png"> Poland </option>
                                                <option data-img-src="/images/coun-flags/pt.png"> Portugal </option>
                                                <option data-img-src="/images/coun-flags/pr.png">  Puerto Rico </option>
                                                <option data-img-src="/images/coun-flags/qa.png"> Qatar </option>
                                                <option data-img-src="/images/coun-flags/cg.png"> Republic of the Congo </option>
                                                <option data-img-src="/images/coun-flags/ro.png"> Romania </option>
                                                <option data-img-src="/images/coun-flags/ru.png"> Russia </option>
                                                <option data-img-src="/images/coun-flags/rw.png"> Rwanda </option>
                                                <option data-img-src="/images/coun-flags/re.png"> Réunion </option>
                                                <option data-img-src="/images/coun-flags/bl.png"> Saint Barthélemy </option>
                                                <option data-img-src="/images/coun-flags/sh.png"> Saint Helena, Ascension and Tristan da Cunha </option>
                                                <option data-img-src="/images/coun-flags/kn.png"> Saint Kitts and Nevis </option>
                                                <option data-img-src="/images/coun-flags/lc.png"> Saint Lucia </option>
                                                <option data-img-src="/images/coun-flags/mf.png"> Saint Martin </option>
                                                <option data-img-src="/images/coun-flags/pm.png"> Saint Pierre and Miquelon </option>
                                                <option data-img-src="/images/coun-flags/vc.png"> Saint Vincent and the Grenadines </option>
                                                <option data-img-src="/images/coun-flags/ws.png"> Samoa </option>
                                                <option data-img-src="/images/coun-flags/sm.png"> San Marino </option>
                                                <option data-img-src="/images/coun-flags/st.png"> Sao Tome and Principe </option>
                                                <option data-img-src="/images/coun-flags/sa.png"> Saudi Arabia </option>
                                                <option data-img-src="/images/coun-flags/sn.png"> Senegal </option>
                                                <option data-img-src="/images/coun-flags/rs.png">  Serbia </option>
                                                <option data-img-src="/images/coun-flags/sc.png"> Seychelles </option>
                                                <option data-img-src="/images/coun-flags/sl.png"> Sierra Leone </option>
                                                <option data-img-src="/images/coun-flags/sg.png"> Singapore </option>
                                                <option data-img-src="/images/coun-flags/sx.png"> Sint Maarten </option>
                                                <option data-img-src="/images/coun-flags/sk.png"> Slovakia </option>
                                                <option data-img-src="/images/coun-flags/si.png"> Slovenia </option>
                                                <option data-img-src="/images/coun-flags/sb.png"> Solomon Islands </option>
                                                <option data-img-src="/images/coun-flags/so.png"> Somalia </option>
                                                <option data-img-src="/images/coun-flags/za.png"> South Africa </option>
                                                <option data-img-src="/images/coun-flags/gs.png"> South Georgia and the South Sandwich Islands </option>
                                                <option data-img-src="/images/coun-flags/kr.png"> South Korea </option>
                                                <option data-img-src="/images/coun-flags/ss.png">  South Sudan </option>
                                                <option data-img-src="/images/coun-flags/es.png"> Spain </option>
                                                <option data-img-src="/images/coun-flags/lk.png"> Sri Lanka </option>
                                                <option data-img-src="/images/coun-flags/ps.png"> State of Palestine </option>
                                                <option data-img-src="/images/coun-flags/sd.png"> Sudan </option>
                                                <option data-img-src="/images/coun-flags/sr.png">  Suriname </option>
                                                <option data-img-src="/images/coun-flags/sj.png"> Svalbard and Jan Mayen </option>
                                                <option data-img-src="/images/coun-flags/se.png"> Sweden </option>
                                                <option data-img-src="/images/coun-flags/ch.png"> Switzerland </option>
                                                <option data-img-src="/images/coun-flags/sy.png"> Syria </option>
                                                <option data-img-src="/images/coun-flags/tw.png"> Taiwan </option>
                                                <option data-img-src="/images/coun-flags/tj.png"> Tajikistan </option>
                                                <option data-img-src="/images/coun-flags/tz.png"> Tanzania </option>
                                                <option data-img-src="/images/coun-flags/th.png"> Thailand </option>
                                                <option data-img-src="/images/coun-flags/tl.png"> Timor-Leste </option>
                                                <option data-img-src="/images/coun-flags/tg.png"> Togo </option>
                                                <option data-img-src="/images/coun-flags/tk.png"> Tokelau </option>
                                                <option data-img-src="/images/coun-flags/to.png"> Tonga </option>
                                                <option data-img-src="/images/coun-flags/tt.png"> Trinidad and Tobago </option>
                                                <option data-img-src="/images/coun-flags/tn.png"> Tunisia </option>
                                                <option data-img-src="/images/coun-flags/tr.png">  Turkey </option>
                                                <option data-img-src="/images/coun-flags/tm.png"> Turkmenistan </option>
                                                <option data-img-src="/images/coun-flags/tc.png"> Turks and Caicos Islands </option>
                                                <option data-img-src="/images/coun-flags/tv.png">  Tuvalu </option>
                                                <option data-img-src="/images/coun-flags/ug.png"> Uganda </option>
                                                <option data-img-src="/images/coun-flags/ua.png"> Ukraine </option>
                                                <option data-img-src="/images/coun-flags/ae.png"> United Arab Emirates </option>
                                                <option data-img-src="/images/coun-flags/gb.png">  United Kingdom </option>
                                                <option data-img-src="/images/coun-flags/um.png"> United States Minor Outlying Islands </option>
                                                <option data-img-src="/images/coun-flags/us.png"> United States of America </option>
                                                <option data-img-src="/images/coun-flags/uy.png"> Uruguay </option>
                                                <option data-img-src="/images/coun-flags/uz.png"> Uzbekistan </option>
                                                <option data-img-src="/images/coun-flags/vu.png"> Vanuatu </option>
                                                <option data-img-src="/images/coun-flags/ve.png"> Venezuela </option>
                                                <option data-img-src="/images/coun-flags/vn.png">  Vietnam </option>
                                                <option data-img-src="/images/coun-flags/vg.png"> Virgin Islands (British) </option>
                                                <option data-img-src="/images/coun-flags/vi.png"> Virgin Islands (U.S.) </option>
                                                <option data-img-src="/images/coun-flags/wf.png"> Wallis and Futuna </option>
                                                <option data-img-src="/images/coun-flags/eh.png"> Western Sahara </option>
                                                <option data-img-src="/images/coun-flags/ye.png"> Yemen </option>
                                                <option data-img-src="/images/coun-flags/zm.png"> Zambia </option>
                                                <option data-img-src="/images/coun-flags/zw.png"> Zimbabwe </option>
                                                <option data-img-src="/images/coun-flags/gb-eng.png"> England </option>
                                                <option data-img-src="/images/coun-flags/un.png"> United Nations</option>
                                            </select>

                                        </div>
                                        <span class="invalid-feedback">  This field is mandatory  </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Your Email Address <span class="commcss4">*</span></label>
                                        <input type="text" class="form-control" placeholder=" "  required>
                                        <span class="invalid-feedback">  This field is mandatory  </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Phone Number</label>
                                        <div class="form-group">
                                            <input type="tel" id="mobile-number" class="form-control input_flag-l" placeholder="e.g. +1 702 123 4567">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">LinkedIn ID <span class="commcss4">*</span></label>
                                        <input type="text" class="form-control" placeholder=" " required>
                                        <span class="invalid-feedback">  This field is mandatory  </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Telegram ID  <span class="commcss4">*</span></label>
                                        <input type="text" class="form-control" placeholder=" " required>
                                        <span class="invalid-feedback">  This field is mandatory  </span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12">
                                    <div class="form-group mt-2">
                                        <label class="form-label">Detailed Project Description (Cryptoasset)</label>
                                        <textarea class="form-control" rows="4" cols="50">    </textarea>
                                    </div>
                                </div>
                            </div>
                            <!-------------------------------------------------------->
                            <div class="dflexdiv">
                                <a class="btn withsumm-btn  d-dark  mt-2 " type="button"
                                   asp-controller="home" asp-action="index">
                                    Cancel
                                </a>
                                <a class="btn withsumm-btn  mt-2 " type="button"
                                        asp-controller="Institutional" asp-action="tokensubmit">
                                    Submit
                                </a>
                            </div>
                            <!-------------------------------------------------------->
                            <!-------------------------------------------------------->
                        </form>
                        <!-------------------------------------------------------->

                    </div>
                    <!-------------------------------------------------------->
                </div>
            </div>

            <!----------------------------------------------->
        </div>
        <!-------------------------------------------------------->
    </div>
</section>
@section Scripts{
    
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/select.min.js"></script>
        <script src="~/minjs/images-select.min.js"></script>
    }
    else
    {          
        <script src="~/js/select.js"></script>
        <script src="~/js/images-select.js"></script>
    }
    
   
    <script >
        $(".my-select").chosen({ width: "100%" });
    </script>
    <script src="js/intlTelInput.js"></script>
    <script>
        $("#mobile-number").intlTelInput();
    </script>
}