
<section class="about-TechnoSavvy market-section bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-4">
                <h1><img src="../images/coin/btc.png" width="30" /> BTC Token </h1>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="about-TechnoSavvy-col7">
                    <!-- <span class="rank-text"> Rank #2 </span> -->
                    <span> Utility Token </span>
                    <span> On 3,029,035 watchlists </span>
                </div><!-- // about-TechnoSavvy-col7 -->
                <div class="icon-tabs mt-4">
                    <ul>
                        <li class="droplink44"><a href="https://www.TechnoSavvytoken.com/" target="_blank">TechnoSavvytoken.com</a></li>
                        <li class="droplink44"><a href="~/images/WhitePaper-TechnoSavvy-Version-3.pdf" target="blank"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Whitepaper <i class="fa fa-external-link" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

            </div><!-- // col-lg-7 -->
            <div class="col-lg-5 col-md-5">
                <div class="row">
                    <div class="col5-an-box1">
                        <div class="an-d-class">
                            <!-- <img src="../images/1.png"> -->
                            <h4> BTC Price </h4>
                            <h5> $1.600000 </h5>
                        </div>

                    </div>

                    <div class="css566-marpro col5-sec2 mt-3">
                        <span class="css566-marchfl">Low: 19,135.20 </span>
                        <span class="css-mar7yxy"> <div class="css-mar7rit"></div> </span>
                        <span class="css566-marhi">High: 19,645.92 </span>
                        <form>
                            <select class="form-select h-select">
                                <option value="1">24h Low/High</option>
                                <option value="2">1m Low/High</option>
                                <option value="2">1y Low/High</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div><!-- // col-lg-5 -->
        </div><!-- // Row -->



        <div class="row market-cap-sec mt-5">
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Market Cap</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The total market value of a cryptocurrency's circulating supply. It is analogous to the free-float capitalization in the stock market." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa">
                        <span> $453,911,947,323 </span><br>
                        <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Fully Diluted Market Cap</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Fully-diluted market cap (FDMC) = price x max supply. If max supply is null, FDMC = price x total supply. if max supply and total supply are infinite or not available, fully-diluted market cap shows." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa">
                        <span> $453,911,947,323 </span><br>
                        <span class="css44-down">-0.26% <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Volume 24h</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="A measure of how much of a cryptocurrency was traded in the last 24 hours." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa">
                        <span> $453,911,947,323 </span><br>
                        <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div w-100">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Circulating Supply</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The amount of coins that are circulating in the market and are in public hands. It is analogous to the flowing shares in the stock market." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa d-flex flex-wrap justify-content-between">
                        <span> 50,000,000 TechnoSavvy (0.0444%) </span>
                        <span class="nineright">90%</span>
                        <div class="progress about-TechnoSavvy-progress">
                            <div class="progress-bar" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row market-cap-sec2 mt-3">
                <div class="col-lg-12 col-md-12 about-pera-text">
                    <p> TechnoSavvy is the native utility token of the TechnoApp exchange built on ERC- 20 standard. All the transactions on the exchange route through TechnoSavvy token itself. Which means it acts as the underlying currency of the exchange. Further, by staking the required amount of TechnoSavvy tokens, you become eligible for a cashback of up to 0.1% of the transaction value on the platform. </p>
                    <p> The exciting utility of TechnoSavvy on TechnoApp ensures that it gets consistent demand. The equation of continuous demand and limited supply will create an exponential capital appreciation for the TechnoSavvy token after each settled trade. It makes TechnoSavvy an excellent crypto asset. </p>
                    <p> TechnoApp’s vision is to provide the world’s most rewarding crypto trading experience. By becoming a community member, you can join hands with TechnoApp and enjoy the maximum benefits of the next-generation crypto exchange. </p>
                           </div>

        </div><!-- // row -->

        <div class="row justify-content-center market-cap-sec2   anlinegraph mt-3">
            <div class="col-lg-8 offset-md-2">
                <div id="lineGraph"></div>
                <p> For further information - please visit <a href="https://TechnoSavvytoken.com/" class="url-1"> TechnoSavvytoken.com  </a></p>
            </div>
        </div>

    </div>
</section>


@section Scripts{
   
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/clipboard.min.js"></script>
        <script src="~/minjs/echarts.min.js"></script>
        <script src="~/minjs/Graph/an-linegraph.min.js"></script>
        <script src="~/minjs/GeneralConfig.min.js"></script>
    }
    else
    {          
        <script src="~/js/clipboard.js"></script>
        <script src="~/js/echarts.min.js"></script>
        <script src="~/js/Graph/an-linegraph.js"></script>
        <script src="~/js/GeneralConfig.js"></script>
    }
   
    
  }


