<div class="css77-buyc-div mt-4 mb-4">
    <div class="row">
        <div class="css77buydivh">
            <h2 class="heading">Related FAQs </h2>
        </div>

    </div>

    <div class="css77-topcoin">
        <div class="faqrigtdiv443">

            <div class="faqdivqs11">
                <div class="titlefw2aq">Buy Crypto </div>
                <div class="subtiy544">
                    <ul>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                    </ul>
                </div>
            </div>
            <!-------------------------------->
            <div class="faqdivqs11">
                <div class="titlefw2aq">Buy Crypto </div>
                <div class="subtiy544">
                    <ul>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                    </ul>
                </div>
            </div>
            <!-------------------------------->
            <div class="faqdivqs11">
                <div class="titlefw2aq">Buy Crypto </div>
                <div class="subtiy544">
                    <ul>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                    </ul>
                </div>
            </div>


            <!-------------------------------->
            <div class="faqdivqs11">
                <div class="titlefw2aq">Buy Crypto </div>
                <div class="subtiy544">
                    <ul>
                        <li><a href="#">How to buy in TechnoApp?</a>  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>