@model string
<div class="wallet-sectdiv33">
    <div id="wallet-tabdiv" class="wallet-tabdiv flex-wrap">
        <div class="heading"> @Model</div>
        <div class="css33wallettab mt-3 mt-lg-0">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="buy" asp-action="index">Buy Crypto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link wallDeposit" asp-controller="Deposit" asp-action="index">Deposit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="wallet" asp-action="inter-wallet-transfer">Transfer </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="withdraw" asp-action="index"> Withdraw</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="convert" asp-action="index"> Convert </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="convert" asp-action="convertwithdraw" > Convert &amp; Withdraw</a>
                </li>
            </ul>
        </div>
    </div>
</div>