
@model vmBase
@{
    ViewData["Title"] = "TechnoApp Fees and Charges: Transparent Pricing for Your Crypto Transactions";
}
@section Header {
    <meta name="description" content="Discover the transparent fee structure at TechnoApp, ensuring clarity and predictability in your crypto transactions"  />
}
<!---------------------------------------------------------------------->
<section class="section-login  bg2">
    <div class="container">
        <div class="row">

            <!----------------------------------------------->
            <div class="wallet-right33">
                <div class="wallet-sectdiv33">
                    <div id="wallet-tabdiv" class="kyc-alphatabdiv">
                        <div class="headingappen">Fees & Charges </div>                        
                    </div>
                </div>

                <!----------------------------------------------->
                <div class="wallet-sectdiv33">

                    <div id="wallet-tabdiv" class="wallet-tabdiv px-2">
                        <div class="css33wallettab px-0">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link mx-0 active" data-bs-toggle="tab" href="#deposit-withdrawalfee">Deposit & Withdrawal Fees</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#trading-fees">Swap Fees</a>
                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <!----------------------------------------------->
                <!----------------------------------------------------->


                <div class="wallet-sectdiv33 placeholder-glow">


                    <div id="wallet-tabdiv" class="tab-content tab-wall77">


                        <div class="tab-pane show active" id="deposit-withdrawalfee">

                            
                            <div class="wallet-sectdiv33">
                                <div class="row">
                             <div class="col-sm-7 col-md-9"></div>
                             <div class="col-sm-5 col-md-3">
                                 <span class="css33-rightpan mb-3">
                                    <form action="" class="positionrelative" autocomplete="off">
                                        <input type="search" class="market-search" placeholder="Search.." name="search" data-tab="depoWithdrawfee-tbody">
                                        <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </form>
                                </span>
                             </div>
                         </div>
                                <div id="comunity-css566-box" class="comunity-css566-box mb-3">
                                    <div id="depoWithdrawfee">
                                    <div class="table-xscroll44">
                                        <table class="table  cssearn-table mainfeescss323">
                                            <thead class="trasaction-table-title ">
                                                <tr>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Coin/Token </th>

                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Full Name </th>

                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Network  </th>

                                                    <th nowrap="nowrap" colspan="2" class="css566-table-text text-center">Withdrawal</th>
                                                    


                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Deposit Fee </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">
                                                        Prevailing Gas Fees
                                                        <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Network gas fees as per today to
                                                  execute the transaction" data-bs-original-title="" title=""><i class="fa fa-info-circle css-1circle" aria-hidden="true"></i> </span>
                                                    </th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Deposit</th>
                                                    <th nowrap="nowrap" rowspan="3" class="css566-table-text">Withdraw </th>
                                                </tr>
                                                <tr>
                                                    
                                                    <th nowrap="nowrap" class="css566-table-text text-center">Minimum </th>

                                                    <th nowrap="nowrap" class="css566-table-text text-center">Maximum </th>
                                                </tr>
                                            </thead>
                                            <tbody id="depoWithdrawfee-tbody" class="trasaction-table">

                                                <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px; width:50px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center  justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px; width:50px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center  justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px; width:50px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="row g-0 align-items-center  justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-100" style="height: 15px;"></div>
                                                    </td>
                                                </tr>





                                               
                                               @* <tr>
                                                    <td><div class="coin-name-css46 "><span><img src="../images/coin/BNB.png"></span> <span>BNB </span></div></td>
                                                    <td>BNB</td>
                                                    <td><div class="dflex22">  <span>Ethereum </span> <small> (ERC20)</small></div> </td>
                                                    <td><div class="dflex22">  <span> 0.002 </span> <span><img src="../images/coin/BNB.png" width="16"></span> <small> BNB</small></div> </td>
                                                    <td><div class="dflex22"> <span>10 </span>  <span><img src="../images/coin/BNB.png" width="16"></span> <small>BNB </small> </div> </td>
                                                    <td>Free</td>
                                                    <td><div class="dflex22"> <span>10 </span> <span><img src="../images/coin/BNB.png" width="16"></span> <small>BNB </small></div> </td>
                                                    <td>Enabaled</td>
                                                    <td>Enabaled</td>
                                                </tr>

                                               
*@
                                            </tbody>
                                       
                                             <tfoot>
                                                    <tr>
                                                        <td colspan="9">
                                                            <div class="noheight54">
                                                                <div class="norecord-div44">
                                                                    <span><img src="../images/no-data.png"></span>
                                                                    <span> No records found</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                        </table>

                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                                <div class="my-navigation">
                                                    <div class="simple-pagination-first"></div>
                                                    <div class="simple-pagination-previous"></div>
                                                    <div class="simple-pagination-page-numbers"></div>
                                                    <div class="simple-pagination-next"></div>
                                                    <div class="simple-pagination-last"></div>
                                                </div>
                                            </div>
                                    </div> 

                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="trading-fees">
                            <div id="wallet-tabdiv" class="wallet-feediv px-2">
                                 <div class="row w-100">
                             <div class="col-sm-7 col-md-9">
                                  <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#spot44">Spot</a>
                                    </li>
                                </ul>
                             </div>
                             <div class="col-sm-5 col-md-3">
                                 <span class="css33-rightpan">
                                    <form action="" class="positionrelative" autocomplete="off">
                                        <input type="search" class="market-search" placeholder="Search.." name="search" data-tab="tradingFees-tbody">
                                        <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </form>
                                </span>
                             </div>
                         </div>
                               
                            </div>

                            <div class="tab-content css77earn-estimate">
                                <div class="tab-pane active" id="spot44">
                                    <div class="wallet-sectdiv33">
                                        <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                                            <div id="feesdivcs34">
                                            <div class="table-xscroll44">
                                                <table  class="table  cssearn-table">
                                                    <thead class="trasaction-table-title">
                                                        <tr>
                                                            <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text ">Market </th>
                                                            <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text text-center">Minimum Order Size</th>
                                                            <th nowrap="nowrap" colspan="2" class="css566-table-text text-center">Buy Swap Rate </th>
                                                            <th nowrap="nowrap" colspan="2" class="css566-table-text text-center">Sell Swap Rate</th>
                                                            <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text ">Cashback<sup>*</sup> </th>
                                                            <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text ">Status</th>
                                                        </tr>
                                                        <tr class=" text-center">
                                                            <th nowrap="nowrap" class="css566-table-text text-center">Maker</th>
                                                            <th nowrap="nowrap" class="css566-table-text text-center">Taker</th>
                                                            <th nowrap="nowrap" class="css566-table-text text-center">Maker</th>
                                                            <th nowrap="nowrap" class="css566-table-text text-center">Taker</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="tradingFees-tbody" class="trasaction-table">

                                                         <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                   
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                   
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-sticky-left" style="min-width: 100px;">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="row g-0 align-items-center justify-content-end">
                                                            <div class="placeholder col-3" style=" height: 15px;"> </div>
                                                            <div class="placeholder col-2 ms-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                                            <div class="placeholder col-3 ms-2" style=" height: 15px;"> </div>
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                   
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    
                                                        <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                    <td>
                                                        <div class="placeholder w-50" style="height: 15px;"></div>
                                                    </td>
                                                </tr>
                                                

                                                       
@*
                                                        <tr class=" text-center">
                                                            <td><div class="coin-name-css46 "><span><img src="../images/coin/eth.png"></span> <span class="paircoin-img"><img src="../images/coin/TechnoSavvy.png"> </span> <span>ETH/TechnoSavvy</span></div></td>
                                                            <td><div class="dflex22">  <span>2 </span> <span><img src="../images/coin/TechnoSavvy.png" width="16"></span> <small> TechnoSavvy</small></div> </td>
                                                            <td> 0% </td>
                                                            <td> 0%  </td>
                                                            <td>0%  </td>
                                                            <td> 0%  </td>
                                                            <td>0%  </td>
                                                            <td> Active</td>
                                                        </tr>

*@
                                                    </tbody>
                                               
                                                     <tfoot>
                                                        <tr>
                                                            <td colspan="8">
                                                                <div class="noheight54">
                                                                    <div class="norecord-div44">
                                                                        <span><img src="../images/no-data.png"></span>
                                                                        <span> No records found</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                             <div class="row">
                                        <div class="col-12">
                                                <div class="my-navigation">
                                                    <div class="simple-pagination-first"></div>
                                                    <div class="simple-pagination-previous"></div>
                                                    <div class="simple-pagination-page-numbers"></div>
                                                    <div class="simple-pagination-next"></div>
                                                    <div class="simple-pagination-last"></div>
                                                </div>
                                            </div>
                                    </div> 
                                            </div>

                                            <div class="text"> <i>* Only for Community Members</i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!---------------------------------------->
            </div>
        </div>
</div>
</section>
@section Scripts{
    @if (ConfigEx.ShouldMini){   
        
       <script src="~/minjs/feecharges.min.js"></script>
    }else{    
        <script src="~/js/feecharges.js"></script>        
    }
   <script>
      
   
    </script>
}


