
<section class="section-wallet bg2">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            @await Html.PartialAsync("Partial/_WalletLeftMenu","accountstatement")

            <!----------------------------------------------->
            <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
                <div class="wallet-right33">

                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="wallet-tabdiv">
                            <div class="heading">Account Statement</div>
                            <div class="css33wallettab">
                                <span class="sell-btn-22">
                                    <a href="#" class="csss77-histbtn"> Export <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="wallet-sectdiv33">


                        <div id="wallet-tabdiv" class="wallet-tabdiv">


                            <div class="css77-tranbox">
                                <div class="sell-right-but">
                                    <div class="css33-leftpan">
                                        <span class="sell-btn-22 ms-0">

                                            <input type="date" class="form-select  form-control2 cssform454" aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                                        </span>
                                        <span class="sell-btn-22">
                                            <span class="csss77-walinp">
                                                <span class="css77-baldiv css77-trans mt-0">Account Id: kjuiy25754245  </span>
                                                <span><i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                                            </span>
                                        </span>
                                        <span class="sell-btn-22">
                                            <div class="funding-form">
                                                <input type="text" class="form-control" placeholder="Wallet " id="exampleInputSpend" aria-describedby="spendHelp">
                                                <span class="sell-coin12">
                                                    <select class="form-select3 form-select" aria-label="Default select example">
                                                        <option selected="">All </option>
                                                        <option value="1">Spot</option>
                                                        <option value="2">Funding</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </span>
                                        <span class="sell-btn-22">
                                            <div class="funding-form">
                                                <input type="text" class="form-control" placeholder="Wallet " id="exampleInputSpend" aria-describedby="spendHelp">
                                                <span class="sell-coin12">
                                                    <select class="form-select3 form-select" aria-label="Default select example">
                                                        <option selected="">USDT</option>
                                                        <option value="1">TechnoSavvy</option>
                                                        <option value="2">BTC</option>
                                                        <option value="3">ETH</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="css33-rightpan">
                                        <span class="sell-btn-22">
                                            <div class="css77tran-search ">
                                                <form>
                                                    <input type="text" class="trans-search" placeholder="Search" name="search">
                                                    <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </span>

                                        <span class="sell-btn-22">
                                            <a href="#" class="csss77-histbtn"> Reset </a>
                                        </span>
                                    </div>
                                </div>


                            </div>






                        </div>
                    </div>

                    <!------------------------------------------->

                    <div class="wallet-sectdiv33">
                        <div class="fund-tabdiv">
                            <div class="css7fundwal-div">
                                <div class="heading">Overview </div>

                            </div>

                            <div class="accOverview-div">
                                <div class="css88ovview-box">
                                    <span class="css88text">Date  </span>
                                    <span class="css88date"> 2022-10-15 </span>

                                </div>

                                <div class="css88ovview-box">
                                    <span class="css88text">User ID </span>
                                    <span class="css88date"> 255865855 </span>

                                </div>

                                <div class="css88ovview-box">
                                    <span class="css88text"> Account Type </span>
                                    <span class="css88date"> Normal Account </span>

                                </div>

                                <div class="css88ovview-box">
                                    <span class="css88text">Wallet </span>
                                    <span class="css88date"> All </span>

                                </div>

                                <div class="css88ovview-box">
                                    <span class="css88text">Rate</span>
                                    <span class="css88date"> 1 BTC </span>
                                    <span> <small> = 19.222 BUSD</small></span>
                                </div>
                            </div>

                            <div class="css88ovview-box">
                                <span class="css88text">Total Value  </span>
                                <span class="css88btc">- - BTC ~ - - BUSD </span>
                            </div>

                            <div class="css88data">
                                <div class="css88ovview-box">
                                    <span class="css88text">Spot</span>
                                    <span class="css88date"> 1 BTC </span>
                                    <span> <small> = 19.222 BUSD</small></span>
                                </div>

                                <div class="css88ovview-box">
                                    <span class="css88text">Funding</span>
                                    <span class="css88date"> 1 BTC </span>
                                    <span> <small> = 19.222 BUSD</small></span>
                                </div>
                            </div>

                        </div>


                        <div class="fund-tabdiv">
                            <div class="css7fundwal-div">
                                <div class="heading">Spot </div>

                            </div>


                            <div class="css88ovview-box">
                                <span class="css88text">Total Value  </span>
                                <span class="css88btc">- - BTC ~ - - BUSD </span>
                            </div>

                            <div class="css88table">
                                <div id="comunity-css566-box" class="comunity-css566-box">
                                    <table class="table table-responsive">
                                        <thead class="trasaction-table-title">
                                            <tr>
                                                <th class="css566-table-text">Coin</th>

                                                <th class="css566-table-text text-right">Total <i class="fa fa-eye-slash" aria-hidden="true"></i></th>


                                            </tr>
                                        </thead>
                                        <tbody class="trasaction-table">

                                            <tr>

                                                <td>   <div class="coin-name-css46">ETH </div></td>
                                                <td><div class="coin-24change-css46  ">5222	 </div></td>

                                            </tr>

                                            <tr>

                                                <td>   <div class="coin-name-css46">BTC </div></td>
                                                <td><div class="coin-24change-css46">555	 </div></td>

                                            </tr>

                                            <tr>

                                                <td>   <div class="coin-name-css46">TechnoSavvy </div></td>
                                                <td><div class="coin-24change-css46 ">25654	 </div></td>

                                            </tr>
                                            <tr>

                                                <td>   <div class="coin-name-css46">BTC </div></td>
                                                <td><div class="coin-24change-css46 ">25654	 </div></td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>



                        <div class="fund-tabdiv">
                            <div class="css7fundwal-div">
                                <div class="heading">Funding</div>

                            </div>


                            <div class="css88ovview-box">
                                <span class="css88text">Total Value  </span>
                                <span class="css88btc">--BTC ~ --BUSD </span>
                            </div>

                            <div class="css88table">
                                <div id="comunity-css566-box" class="comunity-css566-box">
                                    <table class="table table-responsive">
                                        <thead class="trasaction-table-title">
                                            <tr>
                                                <th class="css566-table-text">Coin</th>

                                                <th class="css566-table-text text-right">Total <i class="fa fa-eye-slash" aria-hidden="true"></i></th>


                                            </tr>
                                        </thead>
                                        <tbody class="trasaction-table">

                                            <tr>

                                                <td>   <div class="coin-name-css46">ETH </div></td>
                                                <td><div class="coin-24change-css46  ">5222	 </div></td>

                                            </tr>

                                            <tr>

                                                <td>   <div class="coin-name-css46">BTC </div></td>
                                                <td><div class="coin-24change-css46">555	 </div></td>

                                            </tr>

                                            <tr>

                                                <td>   <div class="coin-name-css46">TechnoSavvy </div></td>
                                                <td><div class="coin-24change-css46 ">25654	 </div></td>

                                            </tr>
                                            <tr>

                                                <td>   <div class="coin-name-css46">BTC </div></td>
                                                <td><div class="coin-24change-css46 ">25654	 </div></td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!------------------------------------------>
                </div>
            </div>
        </div>

        <!----------------------------------------------->
    </div>




</section>
   