@{
    ViewData["Title"] = "TechnoApp Order Details: Dive into Your Crypto Transactions with Precision";
}
@section Header {
    <meta name="description" content="From trade history to real-time updates, stay on top of your digital assets. Manage your crypto journey with clarity and confidence. " />
}
<section class="section-upload bg2">
    <div class="container">

        <div class="row">
            <div class="csscenterscreen">
                <div id="deposit-tabdiv" class="css77-buyc-div mb-4">
                    <div class="css77withdrawl-box">
                        <!--==============================================-->
                        <div class="confpenddiv">
                            <!-------------------------->
                            <h5 class="orange">Order Details</h5>
                        </div> 

                        <!--==============================================-->
                        <div class="css77-withdrawlS tTbo44">
                            <div class="csssum-title55">ETH/USDT</div>
                            <div class="csssum-detail55"><span class="basered">Sell</span> </div>
                        </div>
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Type</div>
                            <div class="csssum-detail55"><span>Limit</span> </div>
                        </div>

                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Placed on</div>
                            <div class="csssum-detail55"><span> December 14, 2023</span>, <span>2:22:46 PM </span> </div>
                        </div>
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Filled/Amount</div>
                            <div class="csssum-detail55"><span>0.0160 ETH </span> / <span>0.0160 ETH </span></div>
                        </div>
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Average/Price</div>
                            <div class="csssum-detail55"><span> 1,07,999.0 ETH </span> / <span> 1,07,999 USDT</span></div>
                        </div>
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Total</div>
                            <div class="csssum-detail55"><span class="orange">1,727.9 USDT </span> </div>
                        </div>
                        <div class="css77-ordersucc">
                            <div class="title orange">Trade Details:- </div>
                            <div class="traDe44">
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Asset Amount</div>
                                <div class="csssum-detail66"><span> 1,07,999.0 ETH </span></div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Swap Trade Value</div>
                                <div class="csssum-detail66"><span>1,07,999.0  USDT</span></div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Cashback</div>
                                <div class="csssum-detail66"><span>1,07,999.0 USDT</span></div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Pool Refund</div>
                                <div class="csssum-detail66"><span>1,07,999.0 USDT</span></div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Date & Time</div>
                                    <div class="csssum-detail66"><span> December 14, 2023</span>, <span>2:22:46 PM </span> </div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Filled</div>
                                <div class="csssum-detail66"><span> 0.0160 ETH</span></div>
                            </div>
                            <div class="css77-ver66drawl">
                                <div class="csssum-title66">Price</div>
                                <div class="csssum-detail66"><span>  1,07,999.0 USDT</span></div>
                            </div>
                            </div>
                        </div>
                        <!--==============================================-->

                        <div class="dflexcenter2">
                            <a class="btn withsumm-btn  mt-4 " type="button" asp-controller="wallet" asp-action="index">Acknowledge</a>
                        </div>
                        <!--==============================================-->

                    </div>
                </div>

            </div>

            <!----------------------------------------------->
        </div>
        <!--==============================================-->
    </div>
</section>