@{
    ViewData["Title"] = "Initiate KYC Verification with TechnoApp";
}
@section Header {
    <meta name="description" content=" Click to start KYC verification and embark on a streamlined user onboarding process." />
}
<section class="section-upload bg2">
    <div class="container">
        <div class="row">
            <div class="csscenterscreen mt-4">
                <div id="deposit-tabdiv" class="css77-buyc-div mod-sec221 mt-4 mb-4">
                    <div class="kyc-notify d-orange"> <i class="fa fa-exclamation" aria-hidden="true"></i></div>
                    <h4>Your KYC in Under Review.</h4>
                    <div class="list_rec">
                        Thanks for submitting your KYC. It may take upto 14 Days for
                        the review.You will be notified by email after the verification process.  In case you have
                        any queries please reach out to our <a href="https://t.me/TechnoApp" class="url-1" target="_blank">
                            Support
                            Team
                        </a>
                    </div>
                    <div class="dflexcenter2">
                        <a class=" withsumm-btn  mt-4 " type="button" href="/wallet">
                            Acknowledge
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



@* <div  id="selfiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mod-sec221">
            <div class="modal-body">
                <div class="kyc-notify d-orange"> <i class="fa fa-exclamation" aria-hidden="true"></i></div>
                <h4>Your KYC in Under Review.</h4>
                <div class="list_rec">
                    Thanks for submitting your KYC. It may take upto 14 Days for
                    the review.You will be notified by email after the verification process.  In case you have
                    any queries please reach out to our <a href="https://t.me/TechnoApp" class="url-1" target="_blank">
                        Support
                        Team
                    </a>
                </div>
                <div class="dflexcenter2">
                    <a class=" withsumm-btn  mt-4 " type="button" href="/wallet">
                        Acknowledge
                    </a>
                </div>

            </div>
        </div>
    </div>
</div> *@
