
@{
    ViewData["Title"] = "PersonalIdentity";
}

<section class="section-login bg2">
    <div class="container">
        <div class="login-box" id="login-tab">
            <div class="row">
                <div class="person-ver">
                    <div class="row">
                        <h1 class="heading kycde3 text-center">
                            <span>
                                Personal Identity Verification
                            </span>
                        </h1>
                    </div>
                    <div class="row ">
                        <div class="css7-per87ver">
                            <!----------------------------------------->
                            <div class="css7-kycver-divfirst">
                                <span class="css7-kyctitle text-left">Benefits  </span>
                                <span class="css7-kyclist">
                                    <ul class="verkyclist32">
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are allowed to deposit their crypto currency in TechnoApp Exchange Wallet., Non-KYC users are also allowed to deposit their crypto currency in TechnoApp Exchange Wallet. " data-bs-original-title="" title="">Deposit Cryptocurrency </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are allowed to deposit  fiats in TechnoApp Exchange., Non-KYC users are not allowed to deposit  fiats in TechnoApp Exchange. " data-bs-original-title="" title=""> Deposit Fiat</span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are allowed to withdraw their cryptocurrency and fiat from TechnoApp Exchange., Non-KYC users are not allowed to withdraw their cryptocurrency and fiat from TechnoApp Exchange. " data-bs-original-title="" title="">Withdraw Cryptocurrency & Fiat</span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are allowed to buy and sell cryptocurrencies that are heavily traded on the TechnoApp. " data-bs-original-title="" title="">High Trade  Volume </span>
                                        </li>

                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Non-KYC users are allowed to buy and sell cryptocurrencies with limited trade volume only.  " data-bs-original-title="" title="">Limited Trade Volume  </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users can place limit orders to buy or sell cryptocurrencies at a specific price or stop-loss orders to minimize losses if the price of a cryptocurrency falls below a certain level., Non-KYC users cannot place limit orders or stop-loss orders without KYC.  " data-bs-original-title="" title="">Placing limit & stop-loss orders  </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users may have access to more advanced trading tools and features, such as margin trading or futures trading., Non-KYC users cannot have access to more advanced trading tools and features, such as margin trading or futures trading. " data-bs-original-title="" title="">Access advanced tools & features </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are eligible to participate in various promotional events and airdrops, which can provide them with additional rewards or incentives for using the TechnoApp., Non-KYC users can participate in limited promotional events and airdrops only. " data-bs-original-title="" title="">Participating in airdrops & referrals </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC users are allowed to buy crypto via crypto assets & fiats on TechnoApp Exchange., Non-KYC users are not allowed to buy crypto via crypto assets & fiats on TechnoApp Exchange." data-bs-original-title="" title="">Buy Crypto via  Crypto & Fiat </span>
                                        </li>
                                        <li>
                                            <span class=" proper" tabindex="0"
                                                  data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="KYC-verified users can access customer support and assistance from the TechnoApp if they encounter any issues or have questions., Non-KYC users can access basic customer support and assistance from the TechnoApp." data-bs-original-title="" title="">Accessing customer support and assistance </span>
                                        </li>
                                    </ul>

                                </span>
                            </div>

                            <!----------------------------------------->
                            <div class="css7-kycver-div">
                                <span class="css7-kyctitle">KYC  User </span>
                                <span class="css7-kyclist">
                                    <ul class="verkyclist32 text-center">
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i>  </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i>  </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i>  </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i>    </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i>    </li>
                                    </ul>

                                </span>
                            </div>
                            <!----------------------------------------->
                            <!----------------------------------------->
                            <div class="css7-kycver-div">
                                <span class="css7-kyctitle">Non-KYC User </span>
                                <span class="css7-kyclist">
                                    <ul class="verkyclist32  text-center">
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i>  </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i> </li>
                                        <li><i class="fa fa-times basered" aria-hidden="true"></i>   </li>
                                        <li><i class="fa fa-check basegreen" aria-hidden="true"></i>    </li>
                                    </ul>

                                </span>
                            </div>
                            <!----------------------------------------->
                        </div>
                    </div>



                </div>
                <!----------------------------------------->
                <div class="css7-kycdi5443">
                    <a class="btn gent-btn mt-3" type="button" asp-controller="KYCUser" asp-action="KycVerification">Start KYC Now</a>
                    <a class="btn  gent-btn mt-3" type="button" asp-controller="Wallet" asp-action="index">Later, Go to Dashboard</a>
                </div>
                <!----------------------------------------->
            </div>


        </div>
    </div>
</section>
<!---------------------------------------------------------------------->
@* <section class="section-login bg2">
    <div class="container">
      <div class="login-box" id="login-tab">
        <div class="row">
    
          <div class="col-md-6 col-xs-12 pt-3">
            <div class="person-ver">
          <h1 class="heading "> Personal Identity Verifcation</h1>
<div class="css7-kycver">
    <!----------------------------------------->
    <div class="css7-kycver-div">
        <span class="css7-kyctitle"> Without KYC</span>
        <span class="css7-kyclist"> 
<ul>
    <li><i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i>  Deposit Crypto </li>
    <li><i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i>  Trade </li>
    <li><i class="fa fa-check-circle-o basered" aria-hidden="true"></i>  Deposir INR </li>
    <li> <i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i> P@P </li>
    <li><i class="fa fa-check-circle-o basered" aria-hidden="true"></i>  Withdraw </li>
</ul>

        </span>
    </div>

<!----------------------------------------->
    <div class="css7-kycver-div">
        <span class="css7-kyctitle"> Without KYC</span>
        <span class="css7-kyclist"> 
            <ul>
                <li><i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i>  Deposit Crypto </li>
                <li><i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i>  Trade </li>
                <li><i class="fa fa-check-circle-o basered" aria-hidden="true"></i>  Deposir INR </li>
                <li> <i class="fa fa-check-circle-o basegreen" aria-hidden="true"></i> P@P </li>
                <li><i class="fa fa-check-circle-o basered" aria-hidden="true"></i>  Withdraw </li>
            </ul>

        </span>
    </div>
    <!----------------------------------------->
</div>
<div class="css7-kyc-btn">
<button class="btn gent-btn mt-3" type="button" onclick="location.href='personal-verification.html'">Complete Your KYC </button>
<button class="btn gent-btn mt-3" type="button" onclick="location.href='Index.html'">Skip For Now </button>
</div>    
    
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="login-img"> <img src="~/images/login-img.png"> </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 *@
<!---------------------------------------------------------------------->


