:root {
    --bg-main: #1f1d1d;
    --bg-one: rgb(20,19,19);
    --bg-two: rgba(20,19,19,1);
    --bg-three: rgba(11,10,10,1);
    --bg-four: rgb(25, 24, 27);
    --bg-five: rgb(20, 18, 19);
    --bg-form: #27232614;
    --bs-icon: #0f0f0f;
    --bs-shadow: #110f0f;
    --blackgrey: #0a0b11;
    --bg-login: #cc9a06;
    --bs-darkblue: #1c1c21;
    --bs-lightgrey: #cccccc;
    --bs-darkblak: #19181d;
    --bs-orange: #d5960f;
    --bs-yellow: #ff9416;
    --bs-darkgrey: #272326;
    --bg-transgrey: #27232661;
    --bs-teal: #5effdb;
    --bs-black: #000;
    --bs-white: #fff;
    --bg-purple: #0c0309;
    --bs-grey: #5d5a64;
    --bs-greytext: #666;
    --bs-bordergrey: #ffffff26;
    --bg-red: #bf4e42;
    --bs-darkgreen: #004e16;
    --bs-darkred: #a01809;
    --bs-green: #328774;
    --bg-lightpurpul: #0c03094a;
    --bs-bothtext-w: #fff;
    --bg-backred: #ff190012;
    --bg-bacyellow: #40300e;
    --bg-transparant: transparent;
    --bg-tabgray: #d5d5d5;
    --bg-lghtorange: #ffd6b8;
    --table-line: #44444426;
    --bs-red: #b81127;
    --lightred: #f6465d;
    --buy-bg: #ff00000a;
    --sell-bg: #00130d;
    --orange: #ff4500;
    --form-green: #0a3325;
    --form-red: #4D1219;
    --black-red: #180206;
    --black-topred: #5d0a17;
    --light-green: #CCFFC4;
    --greydark: #474d57;
    --red: #f6213d;
    --yellow-grey: #958673;
    --trade-border: #363c4e;
    --transparent-bg: #000000b0;
    --dashbg: #f8887612;
    --purple: #ae26e0;
    --blue: #63c4f1;
}
