:root {
    --bg-main: #fff;
    --bg-one: #fff;
    --bg-two: #fff;
    --bg-three: #fff;
    --bg-four: #fff;
    --bg-five: #fff;
    --bg-form: #f7f3f3;
    --bs-icon: #000;
    --bs-shadow: #f5eeee;
    --bg-login: #cc9a06;
    --bs-darkblue: #f3f0f0;
    --bs-lightgrey: #000;
    --bs-darkblak: #e6e5e9;
    --bs-orange: #d5960f;
    --bs-yellow: #ff9416;
    --bs-darkgrey: #e9e9e9;
    --bg-transgrey: #2723260f;
    --bs-teal: #228972;
    --bs-black: #fff;
    --bs-white: #000;
    --bg-purple: #e6e6e6;
    --bs-grey: #dddddd;
    --bs-greytext: #666;
    --bs-bordergrey: #56505026;
    --bg-red: #bf4e42;
    --bs-darkgreen: #004e16;
    --bs-darkred: #f96b5b;
    --bs-green: #328774;
    --bg-lightpurpul: #0c030908;
    --bs-bothtext-w: #fff;
    --bg-backred: #ff190012;
    --bg-bacyellow: #d5960f40;
    --bg-transparant: transparent;
    --bg-tabgray: #d5d5d5;
    --bg-lghtorange: #ffd6b8;
    --table-line: #44444426;
    --bs-red: #b81127;
    --lightred: #f6465d;
    --buy-bg: #ff00000a;
    --sell-bg: #edfff9;
    --orange: #ff4500;
    --form-green: #cef2e6;
    --form-red: #ffeef0;
    --black-red: #fdcaca;
    --black-topred: #ff9cab;
    --light-green: #CCFFC4;
    --greydark: #474d57;
    --red: #f6213d;
    --yellow-grey: #958673;
    --trade-border: #363c4e;
    --transparent-bg: #000000c2;
    --dashbg: #f8887612;
}