@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="section-footer">
    <div class="container">
        <div class="row">
            <div class="footer-box">
                <div class="footer-list">
                    <ol>
                        <li><a asp-action="academy" asp-controller="t">academy</a> </li>
                        <li><a asp-action="accountstatement" asp-controller="t">accountstatement" </a> </ li >
                        <li><a asp-action="buyconfirmation" asp-controller="t">buyconfirmation" </a> </ li >
                        <li><a asp-action="buycryptohistory" asp-controller="t">buycryptohistory" </a> </ li >
                        <li><a asp-action="buycrypto" asp-controller="t">buycrypto" </a> </ li >
                        <li><a asp-action="buymatchprocess" asp-controller="t">buymatchprocess" </a> </ li >
                        <li><a asp-action="buyorderplaced" asp-controller="t">buyorderplaced" </a> </ li >
                        <li><a asp-action="buyorderprocess" asp-controller="t">buyorderprocess" </a> </ li >
                        <li><a asp-action="buyorderprogress" asp-controller="t">buyorderprogress" </a> </ li >
                        <li><a asp-action="buypayment" asp-controller="t">buypayment" </a> </ li >
                        <li><a asp-action="buyproofsubmit" asp-controller="t">buyproofsubmit" </a> </ li >
                        <li><a asp-action="buytransactioncancell" asp-controller="t">buytransactioncancell" </a> </ li >
                        <li><a asp-action="coverthistory" asp-controller="t">coverthistory" </a> </ li >
                        <li><a asp-action="dashboard" asp-controller="t">dashboard" </a> </ li >
                        <li><a asp-action="earnhistory" asp-controller="t">earnhistory" </a> </ li >
                        <li><a asp-action="earnwallet" asp-controller="t">earnwallet" </a> </ li >
                        <li><a asp-action="forgetpassword" asp-controller="t">forgetpassword" </a> </ li >
                        <li><a asp-action="fundingwallet" asp-controller="t">fundingwallet" </a> </ li >
                        <li><a asp-action="Index" asp-controller="t">Index" </a> </ li >
                        <li><a asp-action="kycpersonalverificationupload" asp-controller="t">kycpersonalverificationupload" </a> </ li >
                        <li><a asp-action="kycpersonalverification" asp-controller="t">kycpersonalverification" </a> </ li >
                        <li><a asp-action="kycuploadsefie" asp-controller="t">kycuploadsefie" </a> </ li >
                        <li><a asp-action="loginbetarelease" asp-controller="t">loginbetarelease" </a> </ li >
                        <li><a asp-action="loginotp" asp-controller="t">loginotp" </a> </ li >
                        <li><a asp-action="login" asp-controller="t">login" </a> </ li >
                        <li><a asp-action="marketdetail" asp-controller="t">marketdetail" </a> </ li >
                        <li><a asp-action="marketnewlisting" asp-controller="t">marketnewlisting" </a> </ li >
                        <li><a asp-action="market" asp-controller="t">market" </a> </ li >
                        <li><a asp-action="newpassword" asp-controller="t">newpassword" </a> </ li >
                        <li><a asp-action="openorders" asp-controller="t">openorders" </a> </ li >
                        <li><a asp-action="personalidentity" asp-controller="t">personalidentity" </a> </ li >
                        <li><a asp-action="securityverificationemailgoogle" asp-controller="t">securityverificationemailgoogle" </a> </ li >
                        <li><a asp-action="securityverification" asp-controller="t">securityverification" </a> </ li >
                        <li><a asp-action="securityverificationgoogle" asp-controller="t">securityverificationgoogle" </a> </ li >
                        <li><a asp-action="security" asp-controller="t">security" </a> </ li >
                        <li><a asp-action="sellbankstatement" asp-controller="t">sellbankstatement" </a> </ li >
                        <li><a asp-action="sellchooseaccount" asp-controller="t">sellchooseaccount" </a> </ li >
                        <li><a asp-action="sellconfirmation" asp-controller="t">sellconfirmation" </a> </ li >
                        <li><a asp-action="sellcrypto" asp-controller="t">sellcrypto" </a> </ li >
                        <li><a asp-action="sellmatchprocess" asp-controller="t">sellmatchprocess" </a> </ li >
                        <li><a asp-action="sellorderprocess" asp-controller="t">sellorderprocess" </a> </ li >
                        <li><a asp-action="sellorderprogressrecevied" asp-controller="t">sellorderprogressrecevied" </a> </ li >
                        <li><a asp-action="sellorderprogress" asp-controller="t">sellorderprogress" </a> </ li >
                        <li><a asp-action="sellproofsubmit" asp-controller="t">sellproofsubmit" </a> </ li >
                        <li><a asp-action="selltrasctionproof" asp-controller="t">selltrasctionproof" </a> </ li >
                        <li><a asp-action="signup" asp-controller="t">signup" </a> </ li >
                        <li><a asp-action="signupotp" asp-controller="t">signupotp" </a> </ li >
                        <li><a asp-action="signuppassword" asp-controller="t">signuppassword" </a> </ li >
                        <li><a asp-action="spotwallet" asp-controller="t">spotwallet" </a> </ li >
                        <li><a asp-action="staking" asp-controller="t">staking" </a> </ li >
                        <li><a asp-action="transaction" asp-controller="t">transaction" </a> </ li >
                        <li><a asp-action="userprofile" asp-controller="t">userprofile" </a> </ li >
                        <li><a asp-action="verificationqrcode" asp-controller="t">verificationqrcode" </a> </ li >
                        <li><a asp-action="wallet" asp-controller="t">wallet" </a> </ li >

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>