<body>
<!-------------Outer-section---------------------->

<!-----------------top section start ----------->
<!-----------------top section start ----------->
<section class="top-section">
  <div class="container-fluid"> 
    <div class="row"> <div class="reward-div"> <a href="#" >  <i class="fa fa-gift" aria-hidden="true"></i>  Register now - Enjoy Welcome Rewards</a><span class="css44-cross"> <i class="fa fa-times" aria-hidden="true"></i></span>
    </div> </div>

  </div>
</section>
<!----------------------menu section---------------------------->
<section class="menu-section"> 
  <div class="container-fluid">
    <div class="row">
<div class="top-meu-box">
<div class="top-menu-left">

    <div class="logo-top ">  <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>
  
    <div class="menu-top">
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="menu">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">
       
  
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            <li class="nav-item wallet-top  dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Buy Crypto
              </a>
              <ul class="dropdown-menu dropdown-menu-css44 top-navbar css-inline" data-popper-placement="bottom-start">
                <li><a class="dropdown-item   dropdown-item-css44" href="#"><i class="fa fa-search" aria-hidden="true"></i>Deposit Crypto</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa fa-inr" aria-hidden="true"></i>Deposit INR</a></li>
                <li><a class="dropdown-item" href="#"> <i class="fa fa-money" aria-hidden="true"></i>Withdraw</a></li>
                          </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Academy</a>
            </li>
     
            <li class="nav-item">
              <a class="nav-link " asp-controller="market" asp-action="index" >Market</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#"  >Trade</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="buy-crypto.html" > P2P</a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-indent" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu  megamenu drop55" aria-labelledby="navbarDropdown">
                <div id="sub-menu23" class=" sub-menu23">
                  <div class="col-md-4 col-12"> <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png"> </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br> solutions for our Institutional clients </p></span></a></li>
                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.</p></span></a></li>
                
                  </div>
  
                 <div class="col-md-4 col-12"> <li><a class="dropdown-item" href="#"><spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit Trading Strategies and <br>Trade Like a Pro. </p></span></a></li>
                  <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
    </div>
    <div class="col-md-4 col-12">  <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>TechnoApp Labs Empowering the Web 3.0 </p></span></a></li> </div>
  </div>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav></div>
</div>

  <div class="top-menu-right">
    <form >
      <div id="top-navbar" class="top-navbar">
        <div class="top-navbar">
          <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a></span>
          <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> Signup </a></span>
          
          <span><div class="dropdown">
            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            ENG
            </button>
            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
              <div id="sub-menu23 " class=" sub-menu23">
                <div class="col-md-4 col-sm-4 col-12">
                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd active">
                      <div class="form-check form-switch">  
                               <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>

                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>
                  <li><a class="dropdown-item" href="#">
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Español (International)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>
                  </a></li>
                
                </div>

                <div class="col-md-4 col-sm-4 col-12">
                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                               <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>

                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>
                  <li><a class="dropdown-item" href="#">
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Español (International)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>
                  </a></li>
                
                </div>


                <div class="col-md-4 col-sm-4 col-12">
                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                               <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>

                  <li><a class="dropdown-item" href="#">
                    
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>

                  </a></li>
                  <li><a class="dropdown-item" href="#">
                    <div class="css222-usd">
                      <div class="form-check form-switch">  
                         <label class="form-check-label" for="flexSwitchCheckDefault">Español (International)</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                      </div></div>
                  </a></li>
                
                </div>
</div>
            </ul>

          </div> </span>
      
        <span><div class="dropdown">
          <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         USD
          </button>
          <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
            <div id="sub-menu23 " class=" sub-menu23">  


           

              <div class="col-md-3 col-sm-3 col-12">
                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/CHF.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/BRL.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>
                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd active">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/USD.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>


                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/AUD.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>


                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/CAD.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>
              
              </div>
              
           

              <div class="col-md-3 col-sm-3 col-12">
                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/CLP.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/CNY.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>
                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/CZK.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>


                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/DKK.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/EUR.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>
              
              </div>


              <div class="col-md-3 col-sm-3 col-12">
                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/GBP.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/MYR.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
  

                </a></li>
                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/HKD.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>

                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/HUF.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>

                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/IDR.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>
              
              </div>

              

              <div class="col-md-3 col-sm-3 col-12">
                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/ILS.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                  
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/INR.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>

                </a></li>

                <li><a class="dropdown-item" href="#">
                       <div class="css222-usd">
                  <div class="form-check form-switch">  
                    <div class="css222-usd-img"><img src="/images/usd/JPY.svg"></div>
                    <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                  </div></div>
                </a></li>

                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/KRW.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>

                <li><a class="dropdown-item" href="#">
                  <div class="css222-usd">
                    <div class="form-check form-switch">  
                      <div class="css222-usd-img"><img src="/images/usd/MXN.svg"></div>
                      <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div></div>
                </a></li>
              
              </div>
</div>
          </ul>

        </div> </span>
        
        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>
        
        </div>   

        </div>
    </form>
  </div>

</div>

  </div>
  </div>
  </section>
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
  <div class="container">
    <div class="login-box" id="login-tab">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="beta-release-div">
            <div class="heading-beta"> TechnoApp <strong>BETA</strong> Release </div>
            <div class="text"> <span>If you are a Registered Participant for the  BETA release, <br><a href="#"> Login Now </a></span>
            <span class="css-or44"> OR </span>
            <span> Experience the Next Generation Features of TechnoApp on the <br><a href="#"> TechnoApp Simulation Site <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
            </div>
             </div>
        </div>
   <div class="col-md-6 col-xs-12">
          <div class="login-form">
            <h1> Account Log In</h1>
            <div id="login-tab" class="login_area">
              <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item"> <a class="nav-link  active" data-bs-toggle="tab" href="#email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a> </li>
                <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#mobile"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile</a> </li>
              </ul>
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div id="email" class="tab-pane  active">
                  <div class="acc-log-box">
                    <form class="was-validated">
          
                      <div class="form-group position-css">
                        <input type="password" class="form-control" placeholder="Email" id="validationTooltipPassword"  required>
                        <span class="invalid-tooltip">
                          Please choose a unique and valid email.
                          <div class="invalid"> <img src="/images/icon.png"></div>
                        </span>
                      </div>

                      
                      <div class="form-group " style="position:relative">
                        <input type="password" class="form-control" placeholder="Password" id="validationTooltipPassword"  required>
                        <div class="invalid-tooltip">
                          Please choose a unique and valid password.
                          <div class="invalid"> <img src="/images/icon.png"></div>
                        </div>
                      </div>
                      <span class="eye112"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                     <button class="btn gent-btn" type="button" onclick="location.href='login-otp.html'">Login </button>
                    <p class="text-center"> or </p>
                      <button class="btn google-btn" type="button"  onclick="location.href='security-verificationgoogle.html'"><img class="" src="/images/google-logo.png"> Continue With Google </button>
                        <div class="acc-forget"><span> <a asp-controller="signup" asp-action="ForgetPassword">Forget Password</a></span><span><a href="sign-up.html"> Register Now</a></span> </div>
                    </form>
                  </div>
                </div>
                <div id="mobile" class="tab-pane">
                  <div class="acc-log-box">
                    <form class="was-validated" novalidate >


                      
                      <div class="form-group" style="position:relative">
                        <input type="tel" id="mobile-number" class="form-control input_flag-l" placeholder="e.g. +1 702 123 4567">
                                                               </div> 

                      <div class="form-group" style="position:relative">
                        <input type="password" class="form-control" placeholder="Password" id="validationTooltipEmail"  required>
                        <div class="invalid-tooltip">
                          Please choose a unique and valid username.
                          <div class="invalid"> <img src="/images/icon.png"></div>
                        </div>
                       
                      </div>


                      <span class="eye112"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                     <button class="btn gent-btn" type="button" onclick="location.href='login-otp.html'">Login </button>
                      <p class="text-center"> or </p>
                      <button class="btn google-btn" type="button"  onclick="location.href='security-verificationgoogle.html'"><img  src="/images/google-logo.png"> Continue With Google </button>
                        
                            <div class="row">
<div class="acc-forget "><span> <a asp-controller="signup" asp-action="ForgetPassword">Forget Password?</a></span><span>| <a href="sign-up.html"> Register Now</a></span> </div>
                     </div>
                    </form>
                  </div>





                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------------------------------------------------------->


<!--------------------------------------------------------------------->
<section class="section-footer bg1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> TechnoApp Community</div>
            <ul>
              <li><a href="#"> TechnoApp Webinars</a></li>
              <li><a href="#">Media Library </a></li>
              <li><a href="#"> Airdrop Programe </a></li>
             <li><a href="#">Referral Programe</a></li>
              <li><a href="#">Press Release</a></li>
                 </ul>
          </div>

        </div>
      </div>


      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Products & Services</div>
            <ul>
             <li><a href="#"> Institutional Services </a></li>
                      <li><a href="#"> TechnoApp Academy</a></li>
              <li><a href="#">TechnoApp Labs</a></li>
              <li><a href="#">TechnoApp API</a></li>
       
                          </ul>
          </div>
          
   
        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Policies</div>
            <ul>
              <li><a href="#"> Terms of Use </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#"> AML/KYC Policy </a></li>
              <li><a href="#">Referral Policy</a></li>
              <li><a href="#">Licences</a></li>
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Support</div>
            <ul>
              
              <li><a href="#"> Trading Rules </a></li>
              <li><a href="#">Fees & Charges</a></li>
   
              <li><a href="#">FAQs</a></li>
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Follow Us</div>
         <div class="social-link"> 
          <span><a href="https://www.facebook.com/TechnoApp " target="blank"> <i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a></span>
          <span><a href="https://www.twitter.com/TechnoApp"  target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
          <span><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn </a></span>
          <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube </a></span>
         </div>
          </div>

        </div>
      </div>

    </div>
    <!-------------------------------------------------->
    <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i> Support</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
<div class="chat-box">
  <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button" class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle" aria-hidden="true"></i></button> </span></div>

</div>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    
  </form>
</div>
    <!-------------------------------------------------->
  </div>
  <div class="container">
    <div class="x__footer__content-center row">
      <div class="col col-md-12 col-12">
        <div class="x__copyright"> 
          <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
          <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>.  All rights reserved. </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/owl-carosol.js"></script>
<script src="js/chat.js"></script>
<script src="js/intlTelInput.js"></script> 
<script>
      $("#mobile-number").intlTelInput();
</script>
   
  </body>