@{
    ViewData["Title"] = "MinimumProfile Page";
}

<div class="text-center">
    <h1 class="display-4">Minimum Profile</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Home</a>
</div>