@model vmBase
<section class="noservice-section bg1">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="no-servicediv3  align-items-center">
                    <h2 class="text-center">Service not available! </h2>
                    <p class="text-center">TechnoApp Services are not available in  <br> your country.</p>
                    <div class="notediv  text-center">
                        Note:<ul>
                            <li>You may change your country to access services of TechnoApp</li>
                            <li>You will have to complete  your  KYC (Know Your Customer) process of the nominated country to withdraw funds from the exchange.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>