@model vmBase
<section class="main-section area">
    <div class="container">
        <div class="row">
            <div class="error-centerdiv">
                <div class="error-text4"><i class="fa fa-frown-o" aria-hidden="true"></i> </div>
                <div class="error-404">404</div>
                <div class="error-title">PAGE NOT FOUND!</div>
                <p>
                    The page you are looking for doesn't exist or an other error occurred.<br>
                    Go back, or head over to <a href="https://TechnoApp.com/" class="orange">TechnoApp.com </a> to choose a new direction.
                </p>
            </div>
        </div>
    </div>
</section>