
        <!-------------Outer-section---------------------->

        <!-----------------top section start ----------->
        <section id="myHeader" class="menu-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="top-meu-box">
                        <div class="top-menu-left">
                            <div class="logo-top">
                                <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="../images/b-logo.png" /></a>
                            </div>

                            <div class="menu-top">
                                <nav class="navbar navbar-expand-lg navbar-light">
                                    <div class="menu">
                                        <button
                                            class="navbar-toggler"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation"
                                        >
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="https://TechnoApp.com/" > Demo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="about-TechnoSavvy.html">About TechnoSavvy</a>
                                                </li>
                                                <li class="nav-item wallet-top dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Buy </a>
                                                    <ul class="dropdown-menu dropdown-menu-css44 top-navbar css-inline" data-popper-placement="bottom-start">
                                                        <li>
                                                            <a class="dropdown-item dropdown-item-css44" href="https://buy.TechnoSavvytoken.com/" ><i class="fa fa-credit-card" aria-hidden="true"></i> Buy TechnoSavvy</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-controller="login" asp-action="login" ><i class="fa fa-credit-card" aria-hidden="true"></i> Buy Crypto</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-search" aria-hidden="true"></i> Deposit Crypto</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-money" aria-hidden="true"></i> Withdraw</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link" href="academy.html">Academy</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link" asp-controller="market" asp-action="index">Market</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-controller="login" asp-action="login">Trade</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link bg2" asp-controller="cashback" asp-action="Index">Cashback</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>

                        <div class="top-menu-right">
                            <form>
                                <div id="top-navbar" class="top-navbar">
                                    <div class="top-navbar">
                                        <span class="login-top">
                                            <a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
                                        </span>
                                        <span class="login-top">
                                            <a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> Signup </a>
                                        </span>

                                        <span>
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    ENG
                                                </button>
                                            </div>
                                        </span>

                                        <span>
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    USD
                                                </button>
                                                <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                                                    <div id="sub-menu23 " class="sub-menu23">
                                                        <ul id="dropusadiv35" class="dropusadiv35">
                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd active">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/AUD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckaud">AUD - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/BGN.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckbgn">BGN - BGN</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/CAD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckcad">CAD - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/CHF.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckchf">CHF - FR</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/CNY.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckcny">CNY - ¥</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/CZK.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckczk">CZK - KČ</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/DKK.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckdkk">DKK - KR</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/EUR.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckeur">EUR - €</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/GBP.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckgbp">GBP - £</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/HKD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckhkd">HKD - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/HUF.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckhuf">HUF - FT</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/ILS.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckils">ILS - ₪</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/INR.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckinr">INR - ₹</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/JPY.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckjpy">JPY - ¥</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/MXN.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckmxn">MXN - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/NOK.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecknok">NOK - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/NZD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecknzd">NZD - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/PLN.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckpln">PLN - zł</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/RON.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckron">RON - RON</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/RUB.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckrub">RUB - ₽</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/SAR.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecksar">SAR - SAR</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/SEK.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecksek">SEK - KR</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/SGD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecksgd">SGD - S$</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/THB.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckthb">THB - ฿</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/TRY.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchChecktry">TRY - ₺</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <div class="css222-usd">
                                                                        <div class="form-check form-switch">
                                                                            <div class="css222-usd-img"><img src="../images/currency/USD.svg" /></div>
                                                                            <label class="form-check-label" for="flexSwitchCheckusd">USD - $</label>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </ul>
                                            </div>
                                        </span>

                                        <span>
                                            <a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---------------------------------------------------------------------->

        <!-- Start About TechnoSavvy Page -->
        <section class="about-TechnoSavvy market-section bg2">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 mb-4">
                <h1>BTC Token </h1>
              </div>
              <div class="col-lg-7 col-md-7">
                <div class="about-TechnoSavvy-col7">
                  <!-- <span class="rank-text"> Rank #2 </span> -->
                  <span> Utility Token </span>
                  <span> On 3,029,035 watchlists </span>
                </div><!-- // about-TechnoSavvy-col7 -->
                <div class="icon-tabs mt-4">
                  <ul>
                    <li class="select-li select-li2">
                        <div class="dropdowndiv">
                            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Website </button>
                            <ul class="dropdown-menu dropdown-menu-css44 dropdown-widt878">                      
                                <li><a href="https://www.TechnoSavvytoken.com/" >TechnoSavvytoken.com</a></li> 
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="select-li select-li2">
                        <div class="dropdowndiv">
                            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Community </button>
                            <ul class="dropdown-menu dropdown-menu-css44 dropdown-widt878">
                                <li><a href="https://www.reddit.com/user/TechnoApp_Exchange"  >Reddit</a></li>
                                <li><a href="https://www.facebook.com/TechnoApp" >Facebook</a></li>
                                <li><a href="https://twitter.com/TechnoApp" >Twitter</a></li> 
                                <li><a href="https://t.me/TechnoApp" >Telegram</a></li> 
                            </ul>
                        </div>
                    </li> -->
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> Explorers</a></li>
                    <!-- <li><a href="#"><i class="fa fa-code" aria-hidden="true"></i> Source Code <i class="fa fa-external-link" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.TechnoSavvytoken.com/Files/WhitePaper%20TechnoSavvy%20Version%202.0.pdf" ><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Whitepaper <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                
                  </ul>
                </div>
                <div class="form-group aboutTechnoSavvy-clipboard">
                    <p> ERC 20:- </p>
                    <input type="text" value="0x4a47Eb576463f02A6E...." class="js-copytextarea">
                    <button type="submit" class="js-textareacopybtn"><i class="fa fa-files-o"></i></button>
                </div>
              </div><!-- // col-lg-7 -->
              <div class="col-lg-5 col-md-5">
                <div class="row">
                    <div class="col5-an-box1">
                        <div class="an-d-class">
                            <!-- <img src="../images/1.png"> -->
                            <h4> BTC Price </h4>
                            <h5> $1.600000 </h5>
                        </div>
                     
                      </div>

                  <div class="css566-marpro col5-sec2 mt-3">
                    <span class="css566-marchfl">Low: 19,135.20 </span>
                    <span class="css-mar7yxy"> <div class="css-mar7rit"></div> </span>
                    <span class="css566-marhi">High: 19,645.92 </span>
                    <form>
                      <select class="form-select h-select">
                        <option value="1">24h Low/High</option>
                        <option value="2">1m Low/High</option>
                        <option value="2">1y Low/High</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div><!-- // col-lg-5 -->
            </div><!-- // Row -->
       

            <div class="row market-cap-sec css566-martime mt-5">
                <div class="col-lg-3 col-md-3">
                    <div class="css566-martime-div">
                        <div class="css566-marPIt">
                            <span class="css566-marlah">Market Cap</span>
                            <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The total market value of a cryptocurrency's circulating supply. It is analogous to the free-float capitalization in the stock market."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                        <div class="css566-marchfa">
                            <span> $453,911,947,323 </span><br>
                            <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="css566-martime-div">
                        <div class="css566-marPIt">
                            <span class="css566-marlah">Fully Diluted Market Cap</span>
                            <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Fully-diluted market cap (FDMC) = price x max supply. If max supply is null, FDMC = price x total supply. if max supply and total supply are infinite or not available, fully-diluted market cap shows."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                        <div class="css566-marchfa">
                            <span> $453,911,947,323 </span><br>
                            <span class="css44-down">-0.26% <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="css566-martime-div">
                        <div class="css566-marPIt">
                            <span class="css566-marlah">Volume 24h</span>
                            <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="A measure of how much of a cryptocurrency was traded in the last 24 hours."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                        <div class="css566-marchfa">
                            <span> $453,911,947,323 </span><br>
                            <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="css566-martime-div">
                        <div class="css566-marPIt">
                            <span class="css566-marlah">Circulating Supply</span>
                            <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The amount of coins that are circulating in the market and are in public hands. It is analogous to the flowing shares in the stock market."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                        <div class="css566-marchfa">
                            <span> 50,000,000 0.0444%  </span>
                            <span class="nineright">90%</span>
                            <div class="progress about-TechnoSavvy-progress">
                                <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // row -->

            <div class="row market-cap-sec2 mt-3">
     

                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 about-pera-text">
                        <p> TechnoSavvy is the native utility token of the TechnoApp exchange built on ERC- 20 standard. All the transactions on the exchange route through TechnoSavvy token itself. Which means it acts as the underlying currency of the exchange. Further, by staking the required amount of TechnoSavvy tokens, you become eligible for a cashback of up to 0.1% of the transaction value on the platform. </p>
                        <p> The exciting utility of TechnoSavvy on TechnoApp ensures that it gets consistent demand. The equation of continuous demand and limited supply will create an exponential capital appreciation for the TechnoSavvy token after each settled trade. It makes TechnoSavvy an excellent crypto asset. </p>
                        <p> TechnoApp’s vision is to provide the world’s most rewarding crypto trading experience. By becoming a community member, you can join hands with TechnoApp and enjoy the maximum benefits of the next-generation crypto exchange. </p>
                    </div>
                </div>

            </div><!-- // row -->

            <div class="row anlinegraph mt-4">
                <div class="col-lg-8 offset-md-2">
                    <div id="lineGraph"></div>
                    <p> For further information - please visit <a href="https://TechnoSavvytoken.com/" class="url-1" > TechnoSavvytoken.com  </a></p>
                </div>                
            </div>
            
          </div>
        </section>

        

        <!-- ========= Footer Section ========= -->
        <section class="section-footer bg1">
            <div class="container">
              <div class="row">
                <div class="col-md-3 co-xs-12">
                  <div class="footer-box">
                    <div class="footer-list">
                      <div class="footer-title"> TechnoApp Community</div>
                      <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfsBL0LVLrXrRfaKudsddnxfIHYk2ZHm8CP8CotnVGcokeGuw/viewform" > TechnoApp Webinars</a></li>
                        <li><a asp-controller="library" asp-action="index">Media Library </a></li>
                        <li><a href="airdrop-program.html"> Airdrop</a></li>
                        <li><a asp-controller="referral" asp-action="Index">Referral</a></li>
                        <li><a href="press-release.html">Press Release</a></li>
                      </ul>
                    </div>
        
                  </div>
                </div>
        
        
                <div class="col-md-3 co-xs-12">
                  <div class="footer-box">
                    <div class="footer-list">
                      <div class="footer-title">Products &amp; Services</div>
                      <ul>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon"> Institutional Services </a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon"> TechnoApp Academy</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">TechnoApp Labs</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">TechnoApp API</a></li>
        
                      </ul>
                    </div>
        
        
                  </div>
                </div>
        
                <div class="col-md-2 co-xs-12">
                  <div class="footer-box">
                    <div class="footer-list">
                      <div class="footer-title">Policies</div>
                      <ul>
                        <li><a asp-controller="policy" asp-action="terms-of-use"> Terms of Use </a></li>
                        <li><a asp-controller="policy" asp-action="privacy-policy">Privacy Policy</a></li>
                        <li><a asp-controller="policy" asp-action="aml-policy"> AML/KYC Policy </a></li>
                        <li><a asp-controller="policy" asp-action="referral-policy">Referral Policy</a></li>
                        <li><a asp-controller="policy" asp-action="Licences">Licences</a></li>
                        <li><a asp-controller="policy" asp-action="disclaimer">Disclaimer</a></li>
        
        
                      </ul>
                    </div>
        
                  </div>
                </div>
        
                <div class="col-md-2 co-xs-12">
                  <div class="footer-box">
                    <div class="footer-list">
                      <div class="footer-title"> Support</div>
                      <ul>
        
                        <li><a asp-controller="policy" asp-action="Trading-rules"> Trading Rules </a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">Fees &amp; Charges</a></li>
        
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#commingsoon">FAQs</a></li>
                      </ul>
                    </div>
        
                  </div>
                </div>
        
                <div class="col-md-2 co-xs-12">
                  <div class="footer-box mb-3">
                    <div class="footer-list">
                      <div class="footer-title"> Follow Us</div>
                      <div class="social-link">
                        <span><a href="https://www.facebook.com/TechnoApp " target="blank"> <i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                        <span><a href="https://www.twitter.com/TechnoApp" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a> </span>
                        <span><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></span>
                        <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i>  </a></span>
        
                        <span><a href="https://t.me/TechnoApp" target="blank">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>  </a></span>
        
                        <span><a href="https://www.medium.com/@@TechnoApp" target="blank">
                            <i class="fa fa-medium" aria-hidden="true"></i> </a></span>
        
        
                        <span><a href="https://www.reddit.com/user/TechnoApp_Exchange" target="blank">
                            <i class="fa fa-reddit-alien" aria-hidden="true"></i>  </a></span>
        
        
                        <span><a href="https://www.quora.com/profile/TechnoApp" target="blank">
                            <i class="fa fa-quora" aria-hidden="true"></i> </a></span>
        
        
                        <span><a href="https://instagram.com/TechnoApp" target="blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i> </a></span>
        
                        <span><a href="https://discord.gg/KqCBRBqQ2F" target="blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                              <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"></path>
                            </svg>  </a></span>
        
                      </div>
                    </div>
        
                  </div>
                </div>
        
              </div>
              <!-------------------------------------------------->
        
              <!-------------------------------------------------->
            </div>
            <div class="container">
              <div class="x__footer__content-center row">
                <div class="col col-md-12 col-12">
                  <div class="x__copyright">
                    <!--        <div class="x__copyright__logo"> <img src="../images/logo.png" alt="Exodus Logo"> </div>-->
                    <div class="x__copyright__copy">Copyright ©2022 <a asp-controller="home" asp-action="index"> TechnoApp</a>. All rights reserved.
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- === // End Footer === -->
        <!--------------------------------------------------------------------->
        <!-- Button trigger modal -->

        <!-- Modal -->

        <!------------------------------->
        <!-- Modal -->
       
        <!--------------------------------------------------------------------->
        <!--------------------------------------------------------------------->
  @section Scripts{

    <script src="js/clipboard.js"></script>
    <script type="text/javascript" src="~/js/echarts.min.js"></script>
    <script src="~/js/Graph/an-linegraph.js"></script>
    <script src="~/js/GeneralConfig.js"></script>
    <script src="~/js/clipboard.js"></script>
  }

    
   
    