
    <!-------------Outer-section---------------------->




    <!---------------------------------------------------------------------->

    <!---------------------------------------------------------------------->
    <section class="section-login  bg2">
        <div class="container">
            <div class="row">

                <!----------------------------------------------->
                <div class="appen-div5">
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="kyc-alphatabdiv">
                            <div class="headingappen">List of TechnoApp Serving Countries </div>
                            <div class="css99-hisbtn">
                                <span class="sell-btn-22">
                                    <div class="css77tran-search ">
                                        <form>
                                            <input type="text" class="trans-search" id="myInput" placeholder="Search" name="search">
                                            <button type="submit" class="mar-sea-btn"><i
                                                    class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
<!----------------alphbets shoting------------------------------------->
<div class="wallet-sectdiv33">
<ul class="list-unstyledalpha">
    <li><a href="#">A</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D</a></li>
    <li><a href="#">E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G</a></li>
    <li><a href="#">H</a></li>
    <li><a href="#">I</a></li>
    <li><a href="#">J</a></li>
    <li><a href="#">K</a></li>
    <li><a href="#">L</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">M</a></li>
    <li><a href="#">O</a></li>
    <li><a href="#">P</a></li>
    <li><a href="#">Q</a></li>
    <li><a href="#">R</a></li>
    <li><a href="#">S</a></li>
    <li><a href="#">T</a></li>
    <li><a href="#">U</a></li>
    <li><a href="#">V</a></li>
    <li><a href="#">W</a></li>
    <li><a href="#">X</a></li>
    <li><a href="#">Y</a></li>
    <li><a href="#">Z</a></li>
</ul>
</div>               <!----------------------------------------------->


                    <div class="wallet-sectdiv33">
                        <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">

                            <div id="feesdivcs34" class="table-xscroll44">
                                <table class="table  cssearn-table">
                                    <thead class="trasaction-table-title">
                                        <tr class="text-center">
                                            <th nowrap="nowrap" rowspan="2" scope="rowgroup"
                                                class="css566-table-text text-left">Country</th>
                                          
                                            <th nowrap="nowrap" colspan="3" class="css566-table-text text-center">KYC
                                                Requirement  </th>

                                        </tr>
                                        <tr class="text-center">
                                            <th nowrap="nowrap" class="css566-table-text text-center">Trade </th>
                                            <th nowrap="nowrap" class="css566-table-text text-center">Deposit</th>
                                            <th nowrap="nowrap" class="css566-table-text text-center">Withdrawal </th>


                                        </tr>
                                    </thead>

    <!--------------------------------->
    <tbody id="myTable" class="trasaction-table">
  
        <tr class="text-center">
            <td> Afghanistan</td>          
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


        <tr class="text-center">
            <td>Angola</td>
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

    <!--------------------------------->


        <tr class="text-center">
            <td >Andorra</td>
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


    <!--------------------------------->

         <!------------------------------------>



            <tr class="text-center">
                <td>Argentina</td>
                <td> KYC Not Required </td>
                <td> KYC Not Required </td>
                <td> After KYC</td>
            </tr>     

        <!---------------------------------->

                 <!------------------------------------>



                    <tr class="text-center">
                        <td>Armenia</td>
                        <td> KYC Not Required </td>
                        <td> KYC Not Required </td>
                        <td> After KYC</td>
                    </tr>     
        
     
                <!---------------------------------->
  <!------------------------------------------------------------------------------------------>



        <tr class="text-center">
        <td>Austria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Azerbaijan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Bangladesh</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Barbados</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Benin</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Bhutan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Bolivia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Bosnia and Herzegovina</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Botswana</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Brazil</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td >Brunei</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Bulgaria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Burkina Faso</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Cameroon</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Central African Republic</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Chad</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Chile</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Comoros</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td >Congo (Congo-Brazzaville)</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Costa Rica</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Côte d'Ivoire</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td >Democratic Republic of the Congo</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Djibouti</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Dominica</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Dominican Republic</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td >Equatorial Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Eritrea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td > Eswatini (fmr. "Swaziland")</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td> Ethiopia </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td > Fiji </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td> Gabon </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td > Gambia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Ghana</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Greece</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Grenada</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->


        <tr class="text-center">
        <td>Guatemala</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Guinea-Bissau</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Guyana</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Haiti</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Honduras</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Hungary</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>India</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Jordan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Kiribati</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Kuwait</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Latvia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Lebanon</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Lesotho</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Liberia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Libya</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Libya</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Madagascar</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>	Malawi</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>	Maldives</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Mali</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Marshall Islands</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Mauritania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Micronesia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Moldova</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Mongolia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Morocco</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Mozambique</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Myanmar (formerly Burma)</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Namibia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Nauru</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Nepal</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Niger</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >North Korea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >North Macedonia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Norway</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Oman</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Palau</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Palestine State</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
   

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Papua New Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Paraguay</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Peru</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Portugal</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Qatar</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Romania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Rwanda</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Saint Lucia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Saint Vincent and the Grenadines</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Samoa</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>São Tomé and Principe</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Saudi Arabia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Senegal</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Seychelles</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Sierra Leone</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Slovenia</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Solomon Islands</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Somalia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>South Africa</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>South Sudan</td>      
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Sri Lanka</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Sudan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Suriname</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Syria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Tajikistan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Tanzania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Timor-Leste</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Togo</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Tonga</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Trinidad and Tobago</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Tunisia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Turkmenistan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Tuvalu</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Uganda</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Ukraine</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Uruguay</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Vietnam</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td >Yemen</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     


<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Zambia</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>


        <tr class="text-center">
        <td>Zimbabwe</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     </tbody>

<!------------------------------------------------------------------------------------------>

                                </table>

                            </div>


                        </div>
                    </div>


                    <!---------------------------------------->
                </div>
            </div>
    </section>

       <!-- ========= Footer Section ========= -->
    <!--------------------------------------------------------------------->

    <!--------------------------------------------------------------------->
    <!-- Button trigger modal -->


    <!---------------------------------------------------------------------->
    

    <!---------------------------------------------------------------------->


    <!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/header-fixed.js"></script>
    
    <script src="js/tooltip.js"></script>
    
