



    <!---------------------------------------------------------------------->


    <!-- ==== Page Name section ==== -->
    <section class="page-section  bg1">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Cashback </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12">
                    <div class="index-links">
                      <ul>
                        <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; &gt;</li>
                        <li><a asp-controller="cashback" asp-action="Index" class="url-1">Cashback</a></li>
                      </ul>
                    </div>
                  </div>
                  </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Disclaimer Page -->
    <section class="bg1 page-section">
        <div class="container">

                <!-- ============ -->
                <div class="row">
                <div class="disclimer-div">   
                    
              
                        <div class="index-linkcounts">
                            <div class="cashdetai234"> 
                                <div class="col-detnavtop"> 
                                  <div  class="col-detnav">
                                    <span><img src="../images/nav-icon.png"> </span> 
                                  <div class="cssnavpr44"><span class="pricecss33-text">$1.600000</span> 
                                    <div class="colfloor77">Floor Price: $1.60000000 </div>
                                  </div>
                                </div>
                
                                 
                                </div>
                
                                <div class="col-cashnav">
                                  <span class="colcash77"> Cashback</span>
                                  <span  class="colamoun77">24h:  $2.0000000</span>
                                  <span  class="colamoun77">YTD:  $4.0000000</span>
                                </div>
                            </div>
                
                             
                        </div>
                
                        
                    
                </div>


                <div class="col-lg-6 col-md-6 padding-right55">
                  <p>TechnoApp is the world's most rewarding crypto exchange offering Cashback on each trade to all its Community Members. Cashback rewards on the platform enable TechnoApp Community Members to gain more asset value on every trade. TechnoSavvy is the backbone of the TechnoApp trading engine, making all the benefits possible.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="selcasdiv44"><form>
                    <select class="form-select">
                      <option value="1">Per cycle</option>
                      <option value="2">Per day</option>                     
                    </select>
                  </form>
                  <div id="cashback" style="height: 250px"></div>
                </div></div>

                <div class="disclimer-div">
                   <h2 id=" "><span><img src="../images/cashbackcommunity.png"></span> <span class="ps-3">TechnoSavvy Token </span> </h2>
                    <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12 padding-right55"><p>TechnoSavvy is the native utility token of TechnoApp, which. It encapsulates the traded asset value on TechnoApp.
                </p>
                     <p>  The innovative trading engine of TechnoApp facilitates every trade (ETC/BTC or BTC/SOL or any other) on the exchange utilizing the TechnoSavvy token that generates huge demand for the token to settle every trade.</p>   
                        </div>
                <div class="col-md-6 col-xs-12 col-sm-12 padding-left55"><p> The high demand of TechnoSavvy and its limited supply leads to continuous capital appreciation. In return, TechnoApp rewards its Community Members for participating in the trading ecosystem.
                </p>

                <div class="examplediv34">
                  <p><i> The more the trade, the higher the demand for TechnoSavvy and the more value appreciation of the token.</i></p>
                </div>
                   </div>
                    </div></div>
                   
         

      <!--==============================-->
      <div class="disclimer-div">
        <h2 id=" "><span><img src="../images/cashbacktoken.png"></span> <span class="ps-3">How TechnoSavvy  Appreciation Outcome</span></h2>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12  padding-right55"><p>As per <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="AMM is the acronym for the Automated Market Maker Algorithm. It will be used on TechnoApp to determine the working mechanism and the price of TechnoSavvy. 
                " data-bs-original-title="" title=""> AMM*   </span> (Automated Market Maker) Equation, that relies on a mathematical formula to price assets. </p>
                <p class="formuladiv33">X<sub>1</sub>*Y<sub>1</sub> = k</p>
                <p> Where, X<sub>1</sub> & Y<sub>1</sub> are the quantities of tokens (Token ‘A’ & Token ‘B’ respectively) in the liquidity pool.<br>
                Where, k is a fixed constant, meaning the pool’s total liquidity (always must remain the same) And,</p>
                <p class="formuladiv33" >X<sub>2</sub> = Token A * X<sub>1</sub><br>
                    Y<sub>2</sub> = Token B * Y1<sub>1</sub><br>
                    
                    X<sub>2</sub> = Y<sub>2</sub>
                     </p>
                     <p>Where X<sub>2</sub> & Y<sub>2</sub> are the equally weighted prices of two cryptocurrencies (Token ‘A’ & Token ‘B’ respectively) with different proportionate quantities (X<sub>1</sub>, Y<sub>1</sub>) in the pool that agreed to trade.</p>
                     <p>Z is %age of change in liquidity of TechnoSavvy due to the value demand created by A (X<sub>2</sub>).
                       Therefore, the value of TechnoSavvy will increase by twice the Z after settlement. </p>
                    <div class="formuladiv33"> <p> So, the equation is {TechnoSavvy +(2Z * TechnoSavvy)}</p>
                        <div class="smallfont33"> (TechnoSavvy’s price is considered before trade) </div>
                       
               
             </div></div>
            <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
                <p>Let us understand with the example</p>
             <div class="examplediv34">
              <p>There is 10 ETH that agreed to be traded for 1 BTC and this trade results in a demand of 30,000 TechnoSavvy to settle. This demand of TechnoSavvy is 0.02% change in the liquidity pool for TechnoSavvy so the price of TechnoSavvy will increase and become 100.04% (after this trade.)
                <div class="smallfont33">([{100+(2*0.02%*100)} =100.04%] = 100.04%) </div></p>
              <p class="small "><i>(Remarks: 5 second time-period is considered for calculation of Price appreciation (i.e., block size is 5 second)</i></p></div>
              <p>The equation shows the value of TechnoSavvy appreciates with every trade happening on the exchange. All the traders trading on TechnoApp contribute to the continuous price appreciation of TechnoSavvy.</p>
              <p>Capital appreciation of TechnoSavvy is based on the total turnover of TechnoSavvy on TechnoApp and the value of the token is expected to grow rapidly. </p>
              <p>The longer you will hold the TechnoSavvy token, the more yield you’ll earn. Cashback rewards are also offered in TechnoSavvy tokens, which means traders will get an excellent asset without spending more money.</p>
              <p>Due to its ground-breaking utility on the TechnoApp exchange, the TechnoSavvy token is expected to join the league of the top 20 cryptocurrencies.
              
              </p>
            </div>


</div></div>
      <!--==============================-->
      <div class="disclimer-div"> 
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-xs-12 col-sm-12 padding-right55">
                <h2 id=" "><span><img src="../images/cashbackcrown.png"></span> <span class="ps-3">Why Community Members Only </span></h2>              
                <p>TechnoApp Community Members strengthen the TechnoApp Ecosystem and liquidity on the exchange. Thus, the cashback rewards are reserved for its Community Members only. Rewards earned by Non-Community Members are transferred to “Pool Refund”.</p>
                <div class="examplediv34">
                  <p>“User must have TechnoSavvy tokens to gain TechnoSavvy token as cashback.”</p> 
                </div>
                
           </div>
            <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
                <h2 id=" "><span><img src="../images/cashbackpool.png"></span> <span class="ps-3">Pool Refund </span></h2>  
           
                <p>Cashback earned by Non-Community Members is moved to the  Pool Refund. The pool refund is utilized for the benefit of Community Members. It ensures the consistent growth of TechnoApp ecosystem and encourages more people to join the community.</p>
                </div>
            <div class="col-md-12 specmuladiv33">  <p>To earn cashback, a user<sup>2</sup> need to be a TechnoApp Community Member by purchasing and holding at least 500 TechnoSavvy tokens in their TechnoApp earn wallets.</p> </div>
            </div>
    
</div>
     <!--==============================-->


             <!--==============================-->
     <div class="disclimer-div">
        <h2 id=" "><span><img src="../images/cashbackcalculator.png"></span> <span class="ps-3">Cashback Calculation </span></h2>     
        <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12  padding-right55">
            <p>TechnoApp rewards its Community Members with Cashback of up to 0.05% of the transaction value, which is distributed between the Takers and Makers, @@ 60% and 40%, respectively. Yes, Takers are given more. </p>
                    </div>
        <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
            <p>Let’s understand it through an example:</p>
                <div class="examplediv34">
              <p>  If a transaction of $100,000 happens on TechnoApp, Takers can get a cashback of $30 TechnoSavvy ($100,000 * 0.05% * 60%).<br>
        Cashback for Makers on the exchange will be $20 worth of TechnoSavvy ($100,000 * 0.05% * 40%).         </p> </div>
          
        </div>
       
</div>
    </div>

          <!--==============================-->
          <div class="disclimer-div">            
            <h2 id=" "><span><img src="../images/cashbackstaking.png"></span> <span class="ps-3">Staking Benefits</span></h2>
            <div class="row">      
                         <div class="col-md-6 col-xs-12 col-sm-12  padding-right55"><p>TechnoApp is offering the early bird opportunity to the people believing in its vision. Traders can stake TechnoSavvy Tokens and get increased cashback rewards apart from the capital appreciation. 
                                               </p>
                     </div>

                     <div class="col-md-6 col-xs-12 col-sm-12  padding-left55"><p> On <strong> <a href="https://buy.TechnoSavvytoken.com/#staking" >Staking </a></strong> 5,000 TechnoSavvy Tokens, traders can get an assured cashback of 0.05% of the trading volume for the first 5 transactions of the day. The cashback is increased to 0.1% on Staking 50,000 TechnoSavvy Tokens on unlimited trades.</p></div>
                    </div>
                </div>
        
    </div>

              <!--==============================-->
              <div class="disclimer-div">
               <h2 class="mb-2">Cashback Limit & Condition</h2>
                <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                    <div class="table-xscroll44">
                                 <table class="table  cssearn-table">
                                   <thead class="trasaction-table-title">
                                       <tr>
                                           <th nowrap="nowrap" class="css566-table-text">Condition </th>
                           
                                           <th nowrap="nowrap" class="css566-table-text">Category </th>
                           
                                           <th nowrap="nowrap" class="css566-table-text">Cashback Benefit  </th>
                                                                   
                                       </tr>
                                   </thead>
                                   <tbody class="trasaction-table">
                           
                                       <tr>                             
                                           <td>Users holding < 500 TechnoSavvy </td>
                                          <td><span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Users holding less than 500 TechnoSavvy are the Non-Community Members.
                                            " data-bs-original-title="" title="">Non-Community Members*</span></td> 
                                           <td>No Cashback, Cashback rewarded will be returned to the Pool Refund. </td>                                         
                                       </tr>
                         
                                       <tr>                             
                                        <td>Users holding ≥ 500 TechnoSavvy in Earn wallet </td>
                                       <td><span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="All the users who hold at least 500 TechnoSavvy in their fund wallet are called Community Members.
                                        " data-bs-original-title="" title="">Community Members*</span></td> 
                                        <td>Cashback up to 0.05% of the trading value to be divided between Taker and Maker.</td>                                     
                                    </tr>   
                                    <tr>                             
                                        <td>Staking ≥ 5,000 TechnoSavvy </td>
                                       <td><span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Community Members holding at least 5,000 TechnoSavvy Tokens in their fund wallet are Standard Stakers on TechnoApp.
                                        " data-bs-original-title="" title="">Standard Stakers*</span></td> 
                                        <td>Assured Cashback of 0.05% of the trading value for first 5 transactions each day</td>                                     
                                    </tr>   
                                    <tr>                             
                                        <td>Staking ≥ 50,000 TechnoSavvy </td>
                                       <td><span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Community Members who hold at least 50,000 TechnoSavvy Tokens in their fund wallet are Premium Stakers on TechnoApp.
                                        " data-bs-original-title="" title="">Premium Stakers*</span></td> 
                                        <td>Assured unlimited Cashback of 0.10% of the trading value for unlimited transactions</td>                                     
                                    </tr>
                                   </tbody>
                               </table>
                
                </div>
<p><i>* Limited Offer</i></p>
                           
                           </div>
                           </div>

                           <div class="disclimer-div">
                           <h2 class="mb-2"> Cashback Summary</h2>
                           <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                            <div class="table-xscroll44 cashtableh44">
                                         <table class="table  cssearn-table">
                                           <thead class="trasaction-table-title">
                                               <tr>
                                                <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text">Market</th>                                   
                                                   <th nowrap="nowrap" colspan="2" class="css566-table-text text-center">Cashback </th>
                                                                                                                                                                
                                               </tr>
                                               <tr>
                                                <th nowrap="nowrap" class="css566-table-text text-center">Current<sup>1</sup> </th>
                                                <th nowrap="nowrap" class="css566-table-text text-center">YTD</th>
                                               </tr>
                                           </thead>
                                           <tbody class="trasaction-table">                                   
                                               <tr>                             
                                                   <td>BTC/USDT </td>
                                                  <td>  </td> 
                                                   <td> </td>                                         
                                               </tr>

                                               <tr>                             
                                                <td>ETH/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>

                                            <tr>                             
                                                <td>LUNC/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BUSD/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>

                                            <tr>                             
                                                <td>USDC/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BNB/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>CHZ/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>MATIC/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LINK/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>DAI/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>WBTC/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LUNC/USDT </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>ETH/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BUSD/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>USDT/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BNB/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>CHZ/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>MATIC/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LINK/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>DAI/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>WBTC/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LUNC/BTC </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BUSD/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>USDC/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>BNB/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>CHZ/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>MATIC/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LINK/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>DAI/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>WBTC/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                            <tr>                             
                                                <td>LUNC/ETH </td>
                                               <td>  </td> 
                                                <td> </td>                                         
                                            </tr>
                                           </tbody>
                                       </table>
                        
                        </div>
   
                                   
                                   </div>     
                                   <p class="small-text44">
                                    
                                   <sup>1</sup>Due at end of current cycle<br>
                                    
                                  <sup>2</sup>User registered with full KYC (Know Your Customer)
                                    </p>   
                </div>
            <!--==============================-->

            </div>
        </div>
    </section>
    <!-- // Disclaimer page -->


<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->

    <!--------------------------------------------------------------------->



    <!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script> 
    <script src="js/header-fixed.js"></script>
    <script src="graph/echartsecond-graphjava.js"></script>
    <script src="graph/cashback.js"></script>
    <script  src="js/tooltip.js"></script>
    <!-- <script  src="graph/cashbackmain-linechart.js"></script> -->
    

    <script>
    
    </script>

   
