
  <!-------------Outer-section---------------------->


  <!-----------------top section start ----------->
  <!-----------------top section start ----------->

  <!----------------------menu section---------------------------->

  <!---------------------------------------------------------------------->
  <section class="section-login bg2">
    <div class="container">
      <div class="login-box  d-flex aligns-items-center justify-content-center" id="login-tab">
        <div class="row ">
          <div class="col-md-6 col-xs-12">
            <div class="login-img"> <img src="../images/login-img.png"> </div>
          </div>
          <div class="col-md-6 col-xs-12 pt-3">
            <div class="sign_up">
              <h1 class="heading "> Change Password</h1>

              <form class="was-validated" novalidate>
                <div class="form-group ">
                    <input type="password" class="form-control" placeholder="Old Password" id="id_password" required="">
                    <span class="eye112"><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i></a></span>
                  
                  </div>

                  <div class="form-group ">
                    <input type="password" class="form-control" placeholder="New Password" id="id_password" required="">
                    <span class="eye112"><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i></a></span>
                 
                  </div>


                  <div class="form-group ">
                    <input type="password" class="form-control" placeholder="Confirm New Password" id="id_password" required="">
                    <span class="eye112"><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i></a></span>
            
                  </div>


                <button class="btn gent-btn" type="button" onclick="location.href='login.html'">Submit </button>



              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!---------------------------------------------------------------------->



   <!--------------------------------------------------------------------->
 <!--------------------------------------------------------------------->
 <!-- Button trigger modal -->
 
 <!-- Modal -->
 
 <!------------------------------->
       <!-- Modal -->

  <!--------------------------------------------------------------------->

  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/eyeopenclose.js"></script>

