
  <!-------------Outer-section---------------------->
  <!-- Back to top button -->

  <!-- // back to top button -->

  <!-----------------top section start ----------->
  
  <!----------------------menu section---------------------------->



  <!-- ==== Page Name section ==== -->
  <section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="css566-heading mb-3">
            <h1> FAQ </h1>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="index-links">
            <ul>
              <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
              <li>FAQ</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // Page name section -->


  <!-- FAQ page section -->
  <section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <form>
            <input type="text" class="market-search" placeholder="Search" name="search">
            <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="col-lg-9 col-md-9"></div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12 col-md-12">
          <div class="faq-cat-list">
            <div class="scroller scroller-left faq-scroll"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
            <div class="scroller scroller-right faq-scroll"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            <div class="wrapper">
              <ul class="list faq-list" id="navMenus">
                <li class="active"><a href="#About-TechnoApp">A. About TechnoApp</a></li>
                <li><a href="#About-TechnoSavvy-Token">B. About TechnoSavvy Token</a></li>
                <li><a href="#Account-Management">C. Account Management</a></li>
                <li><a href="#TechnoApp-Referral-Program">D. TechnoApp Referral Program</a></li>
                <li><a href="#TechnoApp-Airdrop-Program">E. TechnoApp Airdrop Program</a></li>
                <li><a href="#About-Crypto-Space">F. About Crypto Space</a></li>
                <li><a href="#Webinar">G. Webinar</a></li>
                <li><a href="#kyc">KYC</a></li>
                <li><a href="fees-charges.html" >Fees & Charges</a></li>
                <li><a href="#Trading">Trading</a></li>
                <li><a href="#Deposit-Withdrawal">Deposit & Withdrawal</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 mt-5">

          <!-- All Questions -->
          <div class="faq-q-list all-q-list">
            <!-- A. About TechnoApp  -->
            <h3><a href="#What-is-TechnoApp"> What is TechnoApp? </a></h3>
            <h3><a href="#What-is-TechnoSavvy"> What is TechnoSavvy? </a></h3>
            <h3><a href="#Does-TechnoApp-have-a-referral"> Does TechnoApp have a referral program? </a></h3>
            <h3><a href="#What-are-trading-Fees-on-TechnoApp"> What are trading Fees on TechnoApp? </a></h3>
            <h3><a href="#What-is-Cashback-Bonus-in-TechnoApp"> What is Cashback Bonus in TechnoApp? </a></h3>
            <h3><a href="#Who-can-be-a-Community-Member-in-TechnoApp"> Who can be a Community Member in TechnoApp? </a></h3>
            <h3><a href="#What-is-TechnoApp-Simulation"> What is TechnoApp Simulation? </a></h3>
            <!-- // A. About TechnoApp  -->  

            <!-- B. About TechnoSavvy Token  -->
            <h3><a href="#What-is-TechnoSavvy-Token"> What is TechnoSavvy Token? </a></h3>
            <h3><a href="#In-which-wallets-can-I"> In which wallets can I store my TechnoSavvy tokens? </a></h3>
            <h3><a href="#Where-can-I-trade-with"> Where can I trade with TechnoSavvy tokens? </a></h3>
            <h3><a href="#What-are-additional"> What are additional benefits of buying TechnoSavvy now? </a></h3>
            <h3><a href="#How-can-I-view-the-TechnoSavvy"> How can I view the TechnoSavvy tokens in my wallet? </a></h3>
            <h3><a href="#How-long-can-I-hold-token"> How long can I hold token? </a></h3>
            <h3><a href="#Which-fiat-or-crypto-is-accepted"> Which fiat or crypto is accepted to buy TechnoSavvy Tokens? </a></h3>
            <h3><a href="#What-is-the-minimum-amount-of"> What is the minimum amount of TechnoSavvy I can purchase? </a></h3>
            <h3><a href="#Can-I-buy-TechnoSavvy-token-using-a">  Can I buy TechnoSavvy token using a debit or credit card or bank transfer? </a></h3>
            <h3><a href="#What-is-the-processing-time"> What is the processing time for a TechnoSavvy purchase? </a></h3>
            <h3><a href="#What-are-the-fees-associated"> What are the fees associated with purchasing TechnoSavvy? </a></h3>
            <h3><a href="#What-is-the-process-for"> What is the process for buying TechnoSavvy for the first time? </a></h3>
            <!-- // B. About TechnoSavvy Token  -->

            <!-- C. Account Management -->
            <h3><a href="#How-do-I-sign-up-on-TechnoApp?"> How do I sign up on TechnoApp? </a></h3>
            <h3><a href="#Why-I-didn't-receive-any"> Why I didn't receive any email for activation? </a></h3>
            <h3><a href="#Can-I-have-multiple-Account-on-TechnoApp?"> Can I have multiple Account on TechnoApp? </a></h3>
            <h3><a href="#How-to-whitelist-TechnoApp-e-mails?"> How to whitelist TechnoApp e-mails? </a></h3>
            <h3><a href="#How-do-I-change-my-details-such"> How do I change my details such as Name, DOB, e-mail ID, Phone Number on TechnoApp? </a></h3>
            <h3><a href="#What-information-is-required-for"> What information is required for registration on the TechnoApp? </a></h3>
            <h3><a href="#How-long-does-it-take-to-complete-registration?"> How long does it take to complete registration? </a></h3>
            <h3><a href="#Is-there-any-age-restrictions-for-registration?"> Is there any age restrictions for registration? </a></h3>
            <h3><a href="#Is-it-possible-to-change-my-personal"> Is it possible to change my personal information after registration? </a></h3>
            <h3><a href="#Can-I-register/login-on-TechnoApp-using"> Can I register/login on TechnoApp using my mobile device? </a></h3>
            <h3><a href="#Is-it-possible-to-trade-anonymously"> Is it possible to trade anonymously on the exchange? </a></h3>
            <h3><a href="#Are-there-any-fees-associated-with"> Are there any fees associated with exchange registration? </a></h3>
            <h3><a href="#What-should-I-do-if-I-forgot-my-password?"> What should I do if I forgot my password? </a></h3>
            <h3><a href="#What-should-I-do-if-I-suspect-unauthorized"> What should I do if I suspect unauthorized access to my TechnoApp account? </a></h3>
            <h3><a href="#Can-I-log-in-to-my-TechnoApp-account-from"> Can I log in to my TechnoApp account from different locations? </a></h3>
            <h3><a href="#Can-I-log-in-to-my-TechnoApp-account-using"> Can I log in to my TechnoApp account using a public computer? </a></h3>
            <h3><a href="#What-should I-do-if-I-receive-an-error-message"> What should I do if I receive an error message when trying to log in to my exchange account? </a></h3>
            <h3><a href="#What-happens-if-I-log-out-of-my-TechnoApp"> What happens if I log out of my TechnoApp account while in the middle of a trade? </a></h3>
            <h3><a href="#Can-I-log-in-to-my-TechnoApp-account-from"> Can I log in to my TechnoApp account from a country not supported by the exchange? </a></h3>
            <h3><a href="#Is-it-safe-to-save-my-login-information"> Is it safe to save my login information on my device? </a></h3>
            <h3><a href="#Two-Factor-Authentication-Setup-Change-Recovery"> Two-Factor Authentication (2FA) - Setup, Change & Recovery  </a></h3>
            <h3><a href="#Why-am-I-getting-an-incorrect-or-expired-OTP-error"> Why am I getting an 'incorrect or expired OTP' error?  </a></h3>
            <h3><a href="#I’ve-lost-my-Authenticator-app"> I’ve lost my Authenticator app. How do I recover/reset my TechnoApp 2FA?  </a></h3>
            <!-- // C. Account Management -->

            <!-- D. TechnoApp Referral Program -->
            <h3><a href="#What-is-TechnoApp-Referral-Program"> What is TechnoApp Referral Program? </a></h3>
            <h3><a href="#How-can-create-my-referral-link"> How can I create my referral link? </a></h3>
            <h3><a href="#How-to-invite-more-friends-to"> How to invite more friends to register via my referral link? </a></h3>
            <h3><a href="#How-much-referral-bonus-will-I-earn"> How much referral bonus will I earn under TechnoApp referral program? </a></h3>
            <h3><a href="#What-benefit-will-referee-get"> What benefit will referee get under this Program? </a></h3>
            <h3><a href="#How-do-I-participate-in-the-TechnoApp"> How do I participate in the TechnoApp referral program? </a></h3>
            <h3><a href="#Can-I-refer-more-than-one-person"> Can I refer more than one person to the TechnoApp? </a></h3>
            <h3><a href="#How-long-does-it-take-to-receive"> How long does it take to receive a referral reward? </a></h3>
            <h3><a href="#Is-there-a-limit-to-the-number"> Is there a limit to the number of referral rewards I can receive? </a></h3>
            <h3><a href="#What-happens-if-the-person-I-referred"> What happens if the person I referred does not complete their account verification? </a></h3>
            <h3><a href="#What-is-the-process-for-referring"> What is the process for referring someone to the exchange? </a></h3>
            <h3><a href="#How-do-I-track-the-status-of"> How do I track the status of my referral on the exchange? </a></h3>
            <h3><a href="#Is-it-possible-to-use-referral"> Is it possible to use referral rewards to purchase cryptocurrency on the exchange? </a></h3>
            <h3><a href="#How-do-I-know-if-a-referral-is"> How do I know if a referral is successful on the exchange? </a></h3>
            <h3><a href="#What-happens-if-the-person-I"> What happens if the person I referred cancels their exchange account? </a></h3>
            <h3><a href="#CanI-receive-a-referral-reward"> Can I receive a referral reward if the person I referred already has an exchange account? </a></h3>
            <h3><a href="#Is-there-a-deadline-for-referring"> Is there a deadline for referring someone to the exchange to receive a referral reward? </a></h3>
            <h3><a href="#How-will-I-become-eligible"> How will I become eligible to earn Perpetual Commission under TechnoApp referral program? </a></h3>
            <h3><a href="#What-do-you-mean-by-Active"> What do you mean by Active Users here? </a></h3>
            <h3><a href="#Is-there-any-extra-benefit-to"> Is there any extra benefit to referrer who is not eligible to Perpetual Commission? </a></h3>
            <h3><a href="#When-will-I-receivethe-perpetual"> When will I receive the perpetual commission? </a></h3>
            <h3><a href="#Can-I-delete-my-current"> Can I delete my current TechnoApp Account and register for a new account with a new referral code? </a></h3>
            <!-- // D. TechnoApp Referral Program -->

            <!-- E. TechnoApp Airdrop Program -->
            <h3><a href="#What-is-TechnoApp-Airdrop-Program"> What is TechnoApp Airdrop Program? </a></h3>
            <h3><a href="#How-do-I-participate-in-the-airdrop"> How do I participate in the airdrop program on the TechnoApp? </a></h3>
            <h3><a href="#What-are-the-steps"> What are the steps to perform to earn the airdrop? </a></h3>
            <h3><a href="#Which-network-wallet"> Which network wallet shall I provide? </a></h3>
            <h3><a href="#When-will-I-receive-my-Airdrop-Reward"> When will I receive my Airdrop Reward? </a></h3>
            <h3><a href="#What-is-the-reward-for-participating"> What is the reward for participating in the airdrop program? </a></h3>
            <h3><a href="#How-long-does-it-take-to-receive"> How long does it take to receive an airdrop reward? </a></h3>
            <h3><a href="#Can-I-receive-multiple"> Can I receive multiple airdrop rewards? </a></h3>
            <h3><a href="#What-is-the-process"> What is the process for participating in the airdrop program? </a></h3>
            <h3><a href="#Is-it-possible-to-use"> Is it possible to use airdrop rewards to purchase cryptocurrency on the exchange? </a></h3>
            <h3><a href="#What-happens-if-I-don’t"> What happens if I don’t have an exchange account when the airdrop program is announced </a></h3>
            <h3><a href="#Can-I-refer-others"> Can I refer others to the exchange to participate in the airdrop program? </a></h3>
            <!-- // E. TechnoApp Airdrop Program -->

            <!-- F. About Crypto Space -->
            <h3><a href="#What-is-cryptocurrency"> What is Cryptocurrency? </a></h3>
            <h3><a href="#What-is-a-utility-token"> What is a Utility Token? </a></h3>
            <h3><a href="#What-is-staking"> What is Staking? </a></h3>
            <h3><a href="#What-is-a-Funding-Wallet"> What is a Funding Wallet? </a></h3>
            <h3><a href="#What-is-a-Spot-Wallet"> What is a Spot Wallet? </a></h3>
            <h3><a href="#What-is-a-Margin-Wallet"> What is a Margin Wallet? </a></h3>
            <h3><a href="#What-is-an-Earn-Wallet"> What is an Earn Wallet? </a></h3>
            <h3><a href="#What-is-Maker"> What is Maker? </a></h3>
            <h3><a href="#What-is-Taker"> What is Taker? </a></h3>
            <h3><a href="#What-is-Limit-Order"> What is Limit Order? </a></h3>
            <h3><a href="#What-is-Market-Order"> What is Market Order? </a></h3>
            <h3><a href="#What-is-Stop-Limit-Order"> What is Stop Limit Order? </a></h3>
            <h3><a href="#What-is-Stop-Market-Order"> What is Stop Market Order? </a></h3>
            <h3><a href="#What-is-IOC-Order"> What is IOC Order? </a></h3>
            <h3><a href="#What-is-OCO-Order"> What is OCO Order? </a></h3>
            <h3><a href="#What-is-Iceberg-Order"> What is Iceberg Order? </a></h3>
            <h3><a href="#What-is-AON-Order"> What is AON Order? </a></h3>
            <h3><a href="#What-is-FOK-Order"> What is FOK Order? </a></h3>
            <h3><a href="#What-is-Day-Trading"> What is Day Trading? </a></h3>
            <h3><a href="#What-is-Swing-Trading"> What is Swing Trading? </a></h3>
            <!-- // F. About Crypto Space -->

            <!--  G. Webinar -->
            <h3><a href="#What-this-webinar"> What this webinar is about? </a></h3>
            <h3><a href="#How-do-I-register"> How do I register for a webinar on the exchange? </a></h3>
            <h3><a href="#Can-I-select-my-preferred-day"> Can I select my preferred day & time for the webinar? </a></h3>
            <h3><a href="#Is-there-a-cost-to-attend"> Is there a cost to attend a webinar on the exchange? </a></h3>
            <h3><a href="#What-topics-will-be-covered"> What topics will be covered in the webinar? </a></h3>
            <h3><a href="#Can-I-ask-questions-during"> Can I ask questions during the webinar? </a></h3>
            <h3><a href="#How-do-I-access-the-webinar"> How do I access the webinar once I have registered? </a></h3>
            <h3><a href="#Can-I-attend-the-webinar"> Can I attend the webinar from a different country? </a></h3>
            <h3><a href="#How-will-I-get-update"> How will I get update about the Next Webinar </a></h3>
            <h3><a href="#Will-the-webinar-be"> Will the webinar be conducted in a specific language? </a></h3>
            <!-- // G. Webinar -->

            <!-- KYC -->
            <h3><a href="#Know-Your-Customer"> Know Your Customer (KYC)  </a></h3>
            <h3><a href="#What-does-KYC-compliance-look-like-for-VASPs"> What does KYC compliance look like for VASPs?  </a></h3>
            <h3><a href="#What-is-cryptocurrency-transaction-monitoring"> What is cryptocurrency transaction monitoring? </a></h3>
            <!-- // KYC -->

            <!-- Trading -->
            <h3><a href="#How-to-sell-Bitcoin-or-other-cryptos"> How to sell Bitcoin (BTC) or other cryptos?  </a></h3>
            <h3><a href="#How-to-buy-Bitcoin-or-other-cryptos"> How to buy Bitcoin (BTC) or other cryptos?  </a></h3>
            <h3><a href="#Where-can-I-see-my-order-details"> Where can I see my order details?  </a></h3>
            <h3><a href="#My-order-is-not-matching-executed"> My order is not matching/executed. Order is in pending/open </a></h3>
            <h3><a href="#My-funds-are-locked-or-in-orders"> My funds are locked or in-orders </a></h3>
            <h3><a href="#What-is-the-minimum-trading-limit-on-TechnoApp"> What is the minimum trading limit on TechnoApp?  </a></h3>
            <h3><a href="#How-do-I-cancel-my-buy-or-sell-order?"> How do I cancel my buy or sell order?  </a></h3>
            <h3><a href="#Can-I-cancel-a-partially-filledexecuted-order"> Can I cancel a partially filled/executed order?  </a></h3>
            <h3><a href="#Can-I-cancel-all-my-Open-orders-together"> Can I cancel all my Open orders together? </a></h3>
            <h3><a href="#When-will-the-funds"> When will the funds for a canceled order be credited to my wallet?  </a></h3>
            <!-- // Trading -->

            <!-- Diposit and withdrawal -->
            <h3><a href="#Deposit-Receive-Cryptocurrency-to-your-TechnoApp"> Deposit/Receive Cryptocurrency to your TechnoApp account - Process & Time Taken </a></h3>
            <h3><a href="#How-much-time-will-the-deposit-take"> How much time will the deposit take? </a></h3>
            <h3><a href="#How-many-confirmations-are-required"> How many confirmations are required for the deposit to be successful? </a></h3>
            <h3><a href="#Is-there-a-Deposit-fee"> Is there a Deposit fee?  </a></h3>
            <h3><a href="#Is-there-a-minimum-deposit-limit-for-any-coins"> Is there a minimum deposit limit for any coins?  </a></h3>
            <h3><a href="#Withdraw-Send-Cryptocurrency-from-your"> Withdraw/Send Cryptocurrency from your TechnoApp account - Process & Time Taken  </a></h3>
            <h3><a href="#How-much-time-will-the-Withdrawal-take"> How much time will the Withdrawal take?  </a></h3>
            <h3><a href="#Why-do-you-charge-a-withdrawal-fee-"> Why do you charge a withdrawal fee? </a></h3>
            <h3><a href="#What-is-the-minimum-maximum-withdrawal-limit"> What is the minimum & maximum withdrawal limit?  </a></h3>
            <h3><a href="#Are-Ether-withdrawals-deposits"> Are Ether (ETH) withdrawals/deposits to Smart Contract Addresses / ICOs supported?  </a></h3>
            <h3><a href="#I-have-not-received-my-crypto-deposit-on-TechnoApp"> I have not received my crypto deposit on TechnoApp </a></h3>
            <h3><a href="#Recovering-incorrect-Crypto-deposits-Fees-Process"> Recovering incorrect Crypto deposits - Fees & Process  </a></h3>
            <!-- // Diposit and withdrawal -->

          </div>
          <!-- // All Questions -->

          <!-- A. About TechnoApp  -->
          <div class="faq-q-list mt-5" id="About-TechnoApp">
            <h2> A. About TechnoApp </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoApp">
              <h4>What is TechnoApp?</h4>
              <p> TechnoApp, The Next Generation Crypto Currency Exchange. This future cryptocurrency exchange offers zero transaction fees and rewards to all its community members in the form of cashback benefits for participating in the market. TechnoApp provides a seamless trading experience to the traders trading on the exchange with a smooth interface and next-generation features. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoSavvy">
              <h4>What is TechnoSavvy?</h4>
              <p> TechnoSavvy is the native utility token of TechnoApp. It acts as the underlying currency of the exchange. All the trades on the exchange will route through the TechnoSavvy token itself, creating the demand for the token leading to consistent capital appreciation. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Does-TechnoApp-have-a-referral">
              <h4>Does TechnoApp have a referral program?</h4>
              <p> Yes, TechnoApp has a referral program. Once you signup, you will get a referral link, you can share it in your community members to get the referral rewards. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-are-trading-Fees-on-TechnoApp">
              <h4>What are trading Fees on TechnoApp?</h4>
              <p>There is zero trading charges on TechnoApp Exchange.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Cashback-Bonus-in-TechnoApp">
              <h4>What is Cashback Bonus in TechnoApp?</h4>
              <p>All the community members on the exchange are elgible to get cashback rewards. The cashback rewards will be increased depending on the number of TechnoSavvy Token you hold in the Earn Wallet.</p>
              <div class="step-text">
                <p><strong> 500 TechnoSavvy : </strong> Cashback of up to 0.05% of the total trading volume, which will be distributed in Makers and Takers </p>
                <p><strong> 5,000 TechnoSavvy: </strong> Assured Cashback of 0.05% of the total trading volume. </p>
                <p><strong> 50,000 TechnoSavvy: </strong> Assured Cashback of 0.1% of the total trading volume. </p>
              </div>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Who-can-be-a-Community-Member-in-TechnoApp">
              <h4>Who can be a Community Member in TechnoApp?</h4>
              <p>You need to have a minimum of 500 TechnoSavvy in your Earn Wallet to become a community memeber in TechnoApp.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoApp-Simulation">
              <h4>What is TechnoApp Simulation?</h4>
              <p>TechnoApp simulation is the place where you can get a live demonstration of how much cashback you can earn by trading on TechnoApp. You can execute your dummy orders and check your profits and cashback as per real-time market prices. </p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // A. About TechnoApp  -->

          <!-- B. About TechnoSavvy Token  -->
          <div class="faq-q-list mt-5" id="About-TechnoSavvy-Token">
            <h2> B. About TechnoSavvy Token </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoSavvy-Token">
              <h4>What is TechnoSavvy Token?</h4>
              <p>TechnoSavvy is the native utility token of TechnoApp Crypto Exchange. All the transactions on TechnoApp will route through the TechnoSavvy token, making it an underlying currency on the exchange. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoSavvy-Token">
              <h4>What is TechnoSavvy Token?</h4>
              <p>TechnoSavvy is the native utility token of TechnoApp Crypto Exchange. All the transactions on TechnoApp will route through the TechnoSavvy token, making it an underlying currency on the exchange. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="In-which-wallets-can-I">
              <h4>In which wallets can I store my TechnoSavvy tokens?</h4>
              <p> All Ethereum wallets are supported. It should be an "ERC-20 supported wallet on TechnoApp platform. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Where-can-I-trade-with">
              <h4>Where can I trade with TechnoSavvy tokens?</h4>
              <p>You will be able to trade with TechnoSavvy tokens on TechnoApp.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-are-additional">
              <h4>What are additional benefits of buying TechnoSavvy now?</h4>
              <p>TechnoSavvy is a value variance inflationary token, which means the price of the token is expected to increase with every trade happening on the exchange. By acquiring TechnoSavvy tokens right now, you can ensure capital appreciation benefits. Also by acquiring TechnoSavvy tokens, you will be able to get increased cashback rewards on TechnoApp. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-can-I-view-the-TechnoSavvy">
              <h4>How can I view the TechnoSavvy tokens in my wallet?</h4>
              <p>You first need to import TechnoSavvy Tokens and submit the required details, such as Token Contract Address, Token Symbol and Token Decimal. You can find the details on TechnoSavvy token official website.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-long-can-I-hold-token">
              <h4>How long can I hold token?</h4>
              <p>You can hold TechnoSavvy as long as you want, the longer you will hold the more benefit you will get in terms of capital appreciation.</p>
            </div>
            <!-- ====== -->
            <div class="faq-q-row1" id="Which-fiat-or-crypto-is-accepted">
              <h4>Which fiat or crypto is accepted to buy TechnoSavvy Tokens?</h4>
              <p> Initially ETH, USDT are acceptable tokens on Ethereum Network, no Fiat is acceptable as of now. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-minimum-amount-of">
              <h4>What is the minimum amount of TechnoSavvy I can purchase?</h4>
              <p> Right now, you can purchase a minimum of 0.5 ETH worth of TechnoSavvy. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-buy-TechnoSavvy-token-using-a">
              <h4>Can I buy TechnoSavvy token using a debit or credit card or bank transfer?</h4>
              <p>As of now, you can only buy TechnoSavvy using ETH or USDT.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-processing-time">
              <h4>What is the processing time for a TechnoSavvy purchase?</h4>
              <p> It depends on the network congestion in Ethereum blockchain. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-are-the-fees-associated">
              <h4>What are the fees associated with purchasing TechnoSavvy ?</h4>
              <p> There is only nominal gas fees for executing a buy order on the Ethereum Blockchain. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-process-for">
              <h4>What is the process for buying TechnoSavvy for the first time?</h4>
              <p>"To buy TechnoSavvy Token</p>
              <ul class="tab-ul">
                  <li>Visit <a hfef="https://www.TechnoSavvytoken.com/" class="url-1" >TechnoSavvytoken.com</a></li>
                  <li>Click on Buy TechnoSavvy</li>
                  <li>Connect your metamask wallet</li>
                  <li> After submitting the required details you can buy TechnoSavvy" </li>
              </ul>
            </div>
            <!-- ====== -->
          </div>
          <!-- // B. About TechnoSavvy Token  -->

          <!-- C. Account Management -->
          <div class="faq-q-list mt-5" id="Account-Management">
            <h2> C. Account Management </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-sign-up-on-TechnoApp?">
              <h4>How do I sign up on TechnoApp?</h4>
              <p>You need an active Email Id to sign up on TechnoApp. Please follow the below steps to sign up on TechnoApp: </p>
              <p>Enter your Email Id on the login page and click on ‘Next’ You will get a code on the given Email Id.</p>
              <ul class="tab-ul">
                <li> Enter the OTP received on entered e-mail ID to complete the activation process. </li>
                <li> Create a Password to successfully sign up on TechnoApp. </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Why-I-didn't-receive-any">
              <h4>Why I didn't receive any email for activation?</h4>
              <p>If you haven’t received the email yet, please follow the steps below: </p>
              <ul class="tab-ul">
                <li> Make sure the Email Id you have provided is correct.  </li>
                <li> Check your spam/junk folder. </li>
                <li> Add TechnoApp to your mailbox whitelist  </li>
                <li> If none of the above step's work, please wait for sometime or use an alternate email address." </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-have-multiple-Account-on-TechnoApp?">
              <h4>Can I have multiple Account on TechnoApp?</h4>
              <p> You can create only one account with the registered Email Id and mobile number. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-to-whitelist-TechnoApp-e-mails?">
              <h4>How to whitelist TechnoApp e-mails?</h3>
              <p>You can go through below steps to whitelist TechnoApp e-mails: </p>
              <h5 class="heading-5"> For Outlook </h5>
              <div class="step-text">
                <p><strong> Step 1: </strong> Sign into Outlook (make sure you use the web browser.)  </p>
                <p><strong> Step 2: </strong> Make sure Beta is turned off. </p>
                <p><strong> Step 3: </strong> Go to the setting wheel and click on options. </p>
                <p><strong> Step 4: </strong> Go to safe mailing lists. </p>
                <p><strong> Step 5: </strong> Add these emails 1 by 1 and make sure you click save after. </p>
                <p> do_not_reply@@mailerur.TechnoApp.com </p>
              </div>
              <h5 class="heading-5"> For Gmail </h5>
              <div class="step-text">
                <p><strong> Step 1: </strong> Login to your Gmail account. </p>
                <p><strong> Step 2: </strong> Go to settings and click settings on the top right. </p>
                <p><strong> Step 3: </strong> Go to filters and Blocked addresses. </p>
                <p><strong> Step 4: </strong> Click create a new filter. </p>
                <p><strong> Step 5: </strong> Add the email in the “From” box and press create a filter with this search. </p>
                <p> Do this for every email:  </p>
                <p> do_not_reply@@mailerur.TechnoApp.com </p>
                <p><strong> Step 6: </strong> Check the box “Never send it to spam” and then create the filter. </p>
              </div>
              <h5 class="heading-5"> For Yahoo </h5>
              <div class="step-text">
                <p><strong> Step 1: </strong> Log in to Yahoo. </p>
                <p><strong> Step 2: </strong> Click the cog to open up the settings menu. </p>
                <p><strong> Step 3: </strong> Click on more settings. </p>
                <p><strong> Step 4: </strong> Go to “Filters”  </p>
                <p><strong> Step 5: </strong> Click “add new filter” </p>
                <p><strong> Step 6: </strong> Enter a name for your filter.  </p>
                <p> Under the “From” drop-down menu, select “Contain” and add:  </p>
                <p> do_not_reply@@mailerur.TechnoApp.com </p>
                <p><strong> Step 7: </strong> Then, choose the folder to move it to as “Inbox” " </p>
              </div>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-change-my-details-such">
              <h4>How do I change my details such as Name, DOB, e-mail ID, Phone Number on TechnoApp?</h4>
              <p>You can Change details on TechnoApp as follows: </p>
              <div class="step-text">
                <p><strong> a. </strong> To change Name on TechnoApp: </p>
                <p> In order to change the name on TechnoApp, please contact our Support Team from secure area of TechnoApp Exchange, and follow the guidelines.  </p>
              </div>
              <div class="step-text">
                <p><strong> b. </strong> To change DOB on TechnoApp:</p>
                <p> In order to change DOB on TechnoApp, please contact our Support Team from secure area of TechnoApp Exchange, and follow the guidelines. </p>
              </div>
              <div class="step-text">
                <p><strong> c. </strong> To Change Email Id on TechnoApp: </p>
                <p> In order to change e-mail ID on TechnoApp, you need to follow below steps:  </p>
                <ul class="tab-ul">
                  <li> Click on ‘My Profile’ and further click on ‘Update Details.’  </li>
                  <li> Enter your new e-mail ID in the space provided and click on ‘Verify e-mail.’  </li>
                  <li> Enter 6-digit code sent on new Email Id to verify it.  </li>
                  <li> Your details will be updated on TechnoApp.  </li>
                </ul>
              </div>
              <div class="step-text">
                <p><strong> d. </strong> To change Phone Number on TechnoApp: </p>
                <p> In order to change Phone Number on TechnoApp, you need to follow below steps:  </p>
                <ul class="tab-ul">
                  <li> Click on ‘My Profile’ and further click on ‘Update Details.’  </li>
                  <li> Enter new Phone Number in the space provided and click on ‘Verify Phone Number.’ </li>
                  <li> Enter 6-digit code sent on new Email Id to verify it. </li>
                  <li> Your details will be updated on TechnoApp. " </li>
                </ul>
              </div>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-information-is-required-for">
              <h4>What information is required for registration on the TechnoApp?</h4>
              <p>To register in TechnoApp user must enter their valid Email address and Password. </p>
            </div>
            <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="How-long-does-it-take-to-complete-registration?">
                <h4>How long does it take to complete registration?</h4>
                <p>As soon as you signup, registration will be completed.</p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Is-there-any-age-restrictions-for-registration?">
                <h4>Is there any age restrictions for registration?</h4>
                <p>Yes, age limits is 18 years. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Is-it-possible-to-change-my-personal">
                <h4>Is it possible to change my personal information after registration?</h4>
                <p>Once the registration is completed, User cannot change the personal details. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Can-I-register/login-on-TechnoApp-using">
                <h4>Can I register/login on TechnoApp using my mobile device?</h4>
                <p>Yes, internet compatible mobile device can be used to register on TechnoApp using any serach engine. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Is-it-possible-to-trade-anonymously">
                <h4>Is it possible to trade anonymously on the exchange?</h4>
                <p>TechnoApp allows KYC verified users to trade in its platform. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Are-there-any-fees-associated-with">
                <h4>Are there any fees associated with exchange registration?</h4>
                <p>There is no charges applicable to register on TechnoApp. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="What-should-I-do-if-I-forgot-my-password?">
                <h4>What should I do if I forgot my password?</h4>
                <p>You can follow the following steps to reset your password:-  </p>
                <ul class="tab-ul">
                  <li> Go to TechnoApp login page </li>
                  <li> Click on forget password. </li>
                  <li> Enter your registered Email Id and click on continue. </li>
                  <li> A reset link will be sent to your registered Email Id. </li>
                  <li> Click on the link to reset your password. </li>
                </ul>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="What-should-I-do-if-I-suspect-unauthorized">
                <h4>What should I do if I suspect unauthorized access to my TechnoApp account?</h4>
                <p>Firstly you can change your password and on noticing further suspicious or unauthorized activity you can contact our Support Team from secure area of TechnoApp Exchange, and follow the guidelines.</p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Can-I-log-in-to-my-TechnoApp-account-from">
                <h4>Can I log in to my TechnoApp account from different locations?</h4>
                <p>Yes, you can log in to your TechnoApp from different locations. However, make sure it is not logged into multiple devices to ensure the safety of your funds. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Can-I-log-in-to-my-TechnoApp-account-using">
                <h4>Can I log in to my TechnoApp account using a public computer?</h4>
                <p>You can log in. It is advisable not to use public computer as it may be vulnerable to cyber attacks.</p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="What-should I-do-if-I-receive-an-error-message">
                <h4>What should I do if I receive an error message when trying to log in to my exchange account?</h4>
                <p>You can follow the following troubleshooting steps </p>
                <ul class="tab-ul">
                  <li> Check if you are submitting the correct Email Id. </li>
                  <li> Recheck your password. </li>
                  <li> If you have forget your password try to reset it and login again. </li>
                  <li> If the error continues, you can contact our Support Team from secure area of TechnoApp Exchange, and follow the guidelines. </li>
                </ul>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="What-happens-if-I-log-out-of-my-TechnoApp">
                <h4>What happens if I log out of my TechnoApp account while in the middle of a trade?</h4>
                <p>If your order was not completed, it won't get executed and you will need to place the order again.</p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Can-I-log-in-to-my-TechnoApp-account-from">
                <h4>Can I log in to my TechnoApp account from a country not supported by the exchange?</h4>
                <p>You may not be able to log in from a country that doesn't support crypto exchange. However, It will depend on the jurisdiction of the country.</p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Is-it-safe-to-save-my-login-information">
                <h4> Is it safe to save my login information on my device? </h4>
                <p> It is recommended not to save your login information on your device as it may get hacked or stolen. </p>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Two-Factor-Authentication-Setup-Change-Recovery">
                <h4> Two-Factor Authentication (2FA) - Setup, Change & Recovery </h4>
                <p> Two-Factor Authentication (2FA) provides an extra layer of security for your account by requiring a second step of verification when you log in or perform some specific actions. In addition to your password, you'll also need an OTP received via SMS/Email or an OTP generated by apps like Google Authenticator, Authy, etc.  </p>
                <p> The default mode of 2FA on TechnoApp is via SMS/Email. But if you would like to perform app-based 2FA, you will need to install authenticator apps like Google Authenticator, Authy which display a 6-digit passcode on the opening screen & you typically get 30 seconds to use it before it expires & then displays a new passcode.  </p>
                <p><strong> Enabling app based 2-Factor Authentication  </strong></p>
                <p> If you would like to switch from SMS/Email OTP based 2FA to an App based 2FA, follow the below steps –  </p>
                <ul class="tab-ul">
                  <li> Click on Profile button at the top right of your screen & click on Account Settings.  </li>
                  <li> Tap on Two Factor Authentication and select Authenticator App.  </li>
                  <li> Enter the OTP you receive on SMS/Email & tap on Next.  </li>
                  <li> Open your Authenticator app & follow the steps to add a new account. You can scan your TechnoApp Barcode or manually enter the Recovery code into your authenticator app.  </li>
                  <li> Enter the OTP you see in your Authenticator app.  </li>
                  <li> Save the Recovery Code in a secured place (you will need this in the future in case you lose or change your mobile device).  </li>
                  <li> Open the email & click on Approve 2FA request in the confirmation email you receive.  </li>
                </ul>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="Why-am-I-getting-an-incorrect-or-expired-OTP-error">
                <h4> Why am I getting an 'incorrect or expired OTP' error? </h4>
                <p> Very rarely, you may see an "incorrect or expired OTP" error when you enter the OTP from your authenticator app into TechnoApp. This happens when the time on your authenticator app is not in sync with TechnoApp. Here's how you can ensure you have the correct time on your authenticator app –  </p>
                <ul class="tab-ul">
                  <li> Open the Authenticator app & tap on Menu.  </li>
                  <li> Tap on Settings.  </li>
                  <li> Tap on Time correction for codes.  </li>
                  <li> Tap on Sync now.  </li>
                </ul>
              </div>
              <!-- ====== -->
              <!-- ====== -->
              <div class="faq-q-row1" id="I’ve-lost-my-Authenticator-app">
                <h4> I’ve lost my Authenticator app. How do I recover/reset my TechnoApp 2FA? </h4>
                <p><strong> If you have the Recovery Code - </strong> You simply have to go to <a href="#" class="url-1"> https://TechnoApp.com/login</a>,  enter your login credentials, and click on Login. Next, click on the Recover Authentication Code button below & then follow the on-screen instructions.  </p>
                <p><strong> If you have lost the Recovery Code - </strong> Contact us via chat through this link - Submit a Request & we will help you out.  </p>
                <h6 class="heading-6"> Note: Due to security reasons manual 2FA reset requests will be processed within 48 hours. </h6>
              </div>
              <!-- ====== -->
          </div>
          <!-- // C. Account Management -->

          <!-- D. TechnoApp Referral Program -->
          <div class="faq-q-list mt-5" id="TechnoApp-Referral-Program">
            <h2> D. TechnoApp Referral Program </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoApp-Referral-Program">
              <h4> What is TechnoApp Referral Program? </h4>
              <p> The TechnoApp Referral program is a way to earn more TechnoSavvy Tokens by inviting your friends to sign up on the TechnoApp platform. TechnoApp allows you to share or promote your referral link and earn 1 TechnoSavvy (equivalent to $1) for each referral. Your referral will also earn 3 TechnoSavvy for joining the platform. </p>
              <p> There is a perpetual commission for trading activities performed by your referral on TechnoApp. You will get a certain commission on the cashback earned by your referrals. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-can-create-my-referral-link">
              <h4> How can create my referral link? </h4>
              <p> Visit TechnoApp.com and register yourself, after joining the platform your referral link will be automatically generated. You can copy your referral code from your account profile. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-to-invite-more-friends-to">
              <h4>How to invite more friends to register via my referral link?</h4>
              <p>You can copy and share your referral link within your community through WhatsApp, Telegram, Facebook Feed, Instagram Feed. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-much-referral-bonus-will-I-earn">
              <h4>How much referral bonus will I earn under TechnoApp referral program?</h4>
              <p>You will earn TechnoSavvy Tokens equivalent to $1 (USD) on each active referral. However, there is no upper cap.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-benefit-will-referee-get">
              <h4>What benefit will referee get under this Program?</h4>
              <p>Yes! The referee will also earn 3 TechnoSavvy Tokens for registering on the platform. For More details, please look into our Referral Program. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-participate-in-the-TechnoApp">
              <h4>How do I participate in the TechnoApp referral program?</h4>
              <p>Once you signup on your TechnoApp account, your referral link will be generated. You can copy that link by navigating to "My Profile" section and share in your community.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-refer-more-than-one-person">
              <h4>Can I refer more than one person to the TechnoApp?</h4>
              <p>Yes! There is no upper cap on the number of referrals you make. Also, if you refer more than 5000 referrals, you will become eligible for perpetual commission as well.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-long-does-it-take-to-receive">
              <h4>How long does it take to receive a referral reward?</h4>
              <p>Once the user register on the platform using your referral link, you will get a referral reward.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-a-limit-to-the-number">
              <h4>Is there a limit to the number of referral rewards I can receive?</h4>
              <p>No, there is no limit on the number of referral rewards. The more you will refer, the more rewards you will get.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-happens-if-the-person-I-referred">
              <h4> What happens if the person I referred does not complete their account verification? </h4>
              <p> To become eligible for the referral reward, referee needs to successfully register on TechnoApp. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-process-for-referring">
              <h4>What is the process for referring someone to the exchange?</h4>
              <p>Once you create your referral link, you can share it with your friends, family or in your community. Once they signup on to TechnoApp using your referral link, you will become eligible for the referral rewards.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-track-the-status-of">
              <h4>How do I track the status of my referral on the exchange?</h4>
              <p>You can check the amount of referral rewards and the total registered users using your referral link on the dashboard.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-it-possible-to-use-referral">
              <h4>Is it possible to use referral rewards to purchase cryptocurrency on the exchange?</h4>
              <p>Yes, you can buy cryptocurrencies on the platform using the referral rewards subject to the conditions mentioned in the trade policy.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-know-if-a-referral-is">
              <h4>How do I know if a referral is successful on the exchange?</h4>
              <p>You will be notified once the user register on TechnoApp using your referral link.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-happens-if-the-person-I">
              <h4>What happens if the person I referred cancels their exchange account?</h4>
              <p>On a successful registration, you will become eligible for the rewards. However, if he cancels after successfully registering, you will be getting your referral rewards.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="CanI-receive-a-referral-reward">
              <h4>Can I receive a referral reward if the person I referred already has an exchange account?</h4>
              <p>No, the user should register for the first time using your referral link.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-a-deadline-for-referring">
              <h4>Is there a deadline for referring someone to the exchange to receive a referral reward?</h4>
              <p>No deadline has been specified to avail of the referral bonuses as of now. That means you can refer as long as you wish.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-will-I-become-eligible">
              <h4> How will I become eligible to earn Perpetual Commission under TechnoApp referral program? </h4>
              <p> In order to become eligible to earn Perpetual Commission, you need to invite minimum 5000 active users to TechnoApp. <a asp-controller="policy" asp-action="referral-policy" class="url-1"> Find out more here!  </a></p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-do-you-mean-by-Active">
              <h4> What do you mean by Active Users here? </h4>
              <p>Active User is the registered member of TechnoApp who has made a transaction of minimum amount of $10 (USD) within one (1) month. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-any-extra-benefit-to">
              <h4> Is there any extra benefit to referrer who is not eligible to Perpetual Commission? </h4>
              <p> Yes! If a referrer is not able to invite 5000 Active Users to TechnoApp, he is eligible to earn TechnoSavvy Tokens worth $10 (USD) on each 100 Active users he brings to TechnoApp along with regular referral Bonus.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="When-will-I-receivethe-perpetual">
              <h4> When will I receive the perpetual commission? </h4>
              <p> Perpetual Commission is paid on 15th day of every month to the eligible users.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-delete-my-current">
              <h4>Can I delete my current TechnoApp Account and register for a new account with a new referral code?</h4>
              <p>If the system detected a user deleted his account in order to create a new account to benefit from the referral program, TechnoApp reserves the right to terminate all referral commissions from the account.</p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // D. TechnoApp Referral Program -->

          <!-- E. TechnoApp Airdrop Program -->
          <div class="faq-q-list mt-5" id="TechnoApp-Airdrop-Program">
            <h2> E. TechnoApp Airdrop Program </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-TechnoApp-Airdrop-Program">
              <h4>What is TechnoApp Airdrop Program?</h4>
              <p>TechnoApp launched its airdrop program with the TechnoApp Simulation website. You can participate in the Airdrop by performing certain activities and earn 3 TechnoSavvy Tokens. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-participate-in-the-airdrop">
              <h4>How do I participate in the airdrop program on the TechnoApp?</h4>
              <p>Register on TechnoApp.com, and navigate to the Airdrop page where all the tasks are listed. Complete the tasks, then submit your wallet address on the TechnoApp Airdrop page to receive your rewards.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-are-the-steps">
              <h4>What are the steps to perform to earn the airdrop?</h4>
              <p>A few simple activities will reward you 3 TechnoSavvy Tokens such as Follow us on Twitter & Retweet, Like, Comment & Share the TechnoApp Facebook post, Join our official Telegram channel.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Which-network-wallet">
              <h4>Which network wallet shall I provide?</h4>
              <p>You can submit any Ethereum network wallet such as Metamask or Trust Wallet.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="When-will-I-receive-my-Airdrop-Reward">
              <h4>When will I receive my Airdrop Reward?</h4>
              <p>All Airdrop rewards will be distributed to the repective wallets after the launch of TechnoApp Exchange.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-reward-for-participating">
              <h4> What is the reward for participating in the airdrop program? </h4>
              <p> Airdrop rewards will be provided in TechnoSavvy which is the native utility token of TechnoApp. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-long-does-it-take-to-receive">
              <h4> How long does it take to receive an airdrop reward? </h4>
              <p> The signup reward will be credited instantly, and the Airdrop reward will be credited once the exchange is live subject to the present airdrop policies.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-receive-multiple">
              <h4>Can I receive multiple airdrop rewards?</h4>
              <p>Yes, depending on the running Airdrop Program and their activites you can receive multiple airdrop rewards.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-process">
              <h4>What is the process for participating in the airdrop program?</h4>
              <div class="step-text">
                <p> Visit <a asp-controller="home" asp-action="index"> TechnoApp.com </a></p>
                <p> Register with TechnoApp using Email Id and password. </p>
                <p> Provide your crypto wallet ID : </p>
                <p> Enter Your ETH Address </p>
                <p> Reward will be credited into your wallet within specific time period. </p>
              </div>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-it-possible-to-use">
              <h4>Is it possible to use airdrop rewards to purchase cryptocurrency on the exchange?</h4>
              <p>Yes, you can purchase the cryptocurrencies using the Airdrop rewards subject to the condition mentioned in the <a asp-controller="policy" asp-action="Trading-rules" class="url-1"> Trade policies. </a></p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-happens-if-I-don’t">
              <h4>What happens if I don’t have an exchange account when the airdrop program is announced</h4>
              <p>You can signup on the exchange and participate to get the Airdrop rewards.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-refer-others">
              <h4>Can I refer others to the exchange to participate in the airdrop program?</h4>
              <p>Yes, you can refer your friends to the Crypto Exchange, in this case you will get the referral reward.</p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // E. TechnoApp Airdrop Program -->

          <!-- F. About Crypto Space -->
          <div class="faq-q-list mt-5" id="About-Crypto-Space">
            <h2> F. About Crypto Space </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-cryptocurrency">
              <h4>What is cryptocurrency?</h4>
              <p>Cryptocurrency is a type of digital currency that uses cryptography for security and operates independently of a central bank. Transactions with cryptocurrencies are recorded on a public ledger called a blockchain, allowing for secure and transparent transfers without the need for intermediaries. Examples of cryptocurrencies include Bitcoin, Ethereum, and Litecoin.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-a-utility-token">
              <h4>What is a utility token?</h4>
              <p>A utility token in cryptocurrency is a type of digital asset that represents access to a specific product or service within a blockchain-based platform or ecosystem The value of a utility token is derived from the demand for the product or service it provides access to. TechnoSavvy is the utility token of TechnoApp Cryptocurrency Exchange.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-staking">
              <h4>What is staking?</h4>
              <p>Staking means locking up your crypto tokens for a certain period to get desired ROV and lucrative rewards, such as cashback and discounts on certain goods and services.
                You can Stake TechnoSavvy and get increased cashback rewards on TechnoApp on each trade.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-a-Funding-Wallet">
              <h4>What is a Funding Wallet?</h4>
              <p>Funding Wallet is your wallet for securely storing fiat and crypto funds, which you can use for transfer into other wallet and withdrawal of cryptocurrency. It supports several crypto and fiat currencies.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-a-Spot-Wallet">
              <h4>What is a Spot Wallet?</h4>
              <p>Spot wallets are basically those wallets where you save or store your currencies before executing any form of trade.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-a-Margin-Wallet">
              <h4>What is a Margin Wallet?</h4>
              <p>It allows you to buy or sell cryptocurrency more than what is in the wallet. To get this leverage benefit on trading, Trader can transfer assets from Funding wallet to Margin wallet and borrow funds with borrowing fees and start trading. Once the leverage trading is done, trader can move back his fund to Funding wallet.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-an-Earn-Wallet">
              <h4>What is an Earn Wallet?</h4>
              <p>Earn wallet is your wallet where all crypto rewards are deposited directly by the exchange. Its include, Cashback, giveaway & airdrop benefits, Interest on staking, etc.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Maker">
              <h4>What is Maker?</h4>
              <p>A Maker on a cryptocurrency exchange is a trader who places a limit order on the order book, instead of a market order. Limit orders allow the trader to specify the price at which they are willing to buy or sell a cryptocurrency rather than accepting the current market price. When a limit order is executed, it adds liquidity to the exchange by providing an opportunity for other traders to trade with the maker at a specific price. As a result, makers typically receive a small rebate or reduced trading fees as an incentive for providing liquidity to the exchange. In contrast, traders who place market orders, which are executed immediately at the best available price, are referred to as Takers and they take liquidity from the order book.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Taker">
              <h4>What is Taker?</h4>
              <p>A Taker on a cryptocurrency exchange is a trader who places a market order, rather than a limit order. Market orders are executed immediately at the best available price, rather than at a specific price set by the trader. When a market order is executed, it removes liquidity from the exchange by taking the best available bid or ask price.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Limit-Order">
              <h4>What is Limit Order?</h4>
              <p> Limit Orders are placed so that execution can happen as per user defined price only. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Market-Order">
              <h4>What is Market Order?</h4>
              <p>A market order is used when an investor is prioritizing speed over cost. It indicates that the investor wants their order to be filled immediately at the next available price.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Stop-Limit-Order">
              <h4>What is Stop Limit Order?</h4>
              <p>These orders are placed to execute trade before further unfavorable movement.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Stop-Market-Order">
              <h4>What is Stop Market Order?</h4>
              <p>All are same as Stop loss limit order, except that instead of limit order it will place market order after hitting the trigger price. Therefore, chances of execution are almost 100%.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-IOC-Order">
              <h4>What is IOC Order? </h4>
              <p>IOC stands for ""Immediate or Cancel"" order. It is a type of order in cryptocurrency trading that requires the entire order to be executed immediately, or any unfilled portion of the order is cancelled. IOC orders are often used by traders who want to ensure that their trades are executed as quickly as possible, and they do not want to leave any open orders on the order book. An IOC order ensures that a trader's entire order will either be filled at the best available price or will be cancelled if there is not enough liquidity to fill the entire order. This type of order is different from a limit order, which allows the order to remain on the order book until it is either filled or cancelled by the trader.
                </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-OCO-Order">
              <h4>What is OCO Order?</h4>
              <p>A “one cancels the other” (OCO) order is a sophisticated tool that allows you to combine two conditional orders. As soon as one is triggered, the other is canceled. It is a pair of conditional orders that if one order executes, then the other order is automatically canceled. An OCO order often combines a stop order with a limit order on an automated trading platform. If trader have already a buy position in BTC and wants to either book profit on its upward movement or will book loss with a stop loss order, but both should not execute, then he can place OCO order.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Iceberg-Order">
              <h4>What is Iceberg Order?</h4>
              <p> It is a conditional order where trader doesn't want partial trade. Either it will execute fully, or will get cancelled. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-AON-Order">
              <h4>What is AON Order?</h4>
              <p>It is a conditional order where trader doesn't want partial trade. Either it will execute fully, or will get cancelled.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-FOK-Order">
              <h4>What is FOK Order?</h4>
              <p> FOK stands for ""Fill or Kill"" order. It is a type of order in cryptocurrency trading that requires the entire order to be executed immediately at a specific price, or the entire order is cancelled. FOK orders are used by traders who want to ensure that their trades are executed as quickly as possible and only at the specified price. This type of order ensures that a trader's entire order will either be filled at the specified price or will be cancelled if there is not enough liquidity available to fill the entire order at the specified price. FOK orders are different from limit orders and IOC orders, which allow for partial fills and do not require the entire order to be filled immediately.
                " </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Day-Trading">
              <h4>What is Day Trading?</h4>
              <p>Day trading in cryptocurrency refers to the practice of buying and selling cryptocurrencies within the same trading day, with the goal of making short-term profits.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-Swing-Trading">
              <h4>What is Swing Trading?</h4>
              <p> Swing trading in cryptocurrency refers to the practice of holding onto a cryptocurrency position for several days to several weeks, with the goal of capturing larger price movements and trends. </p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // F. About Crypto Space -->

          <!--  G. Webinar -->
          <div class="faq-q-list mt-5" id="Webinar">
            <h2> G. Webinar </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="What-this-webinar">
              <h4>What this webinar is about?</h4>
              <p> TechnoApp webinars are exclusive AMA sessions to establish effective communication between TechnoApp Team and TechnoApp Community Members. In these webinars, community members can learn about current news & future updates about TechnoApp and ask their questions to get answers in live sessions. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-register">
              <h4>How do I register for a webinar on the exchange?</h4>
              <p>You have to navigate to TechnoApp webinar page and register yourself by filling up a simple form.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-select-my-preferred-day">
              <h4>Can I select my preferred day & time for the webinar?</h4>
              <p>Yes! You can select your preferred day & time for the webinar in the form on the webinar page.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-a-cost-to-attend">
              <h4>Is there a cost to attend a webinar on the exchange?</h4>
              <p> No, all the webinar will be free of cost for you. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-topics-will-be-covered">
              <h4>What topics will be covered in the webinar?</h4>
              <p>You will understand all the details about TechnoApp and TechnoSavvy and how you can earn maximum profit using the platform.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-ask-questions-during">
              <h4>Can I ask questions during the webinar?</h4>
              <p>You will be given a chance to ask questions in the end of the Webinar.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-access-the-webinar">
              <h4>How do I access the webinar once I have registered?</h4>
              <p>You can click on the link that will be sent on your registered email to join the Webinar.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-attend-the-webinar">
              <h4>Can I attend the webinar from a different country?</h4>
              <p>Yes, anyone can attend the webinar across globe.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-will-I-get-update">
              <h4>How will I get update about the Next Webinar</h4>
              <p>It will be notified on TechnoApp social media handles.</p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Will-the-webinar-be">
              <h4>Will the webinar be conducted in a specific language?</h4>
              <p>It will be in the English Language so that majority of the audience can understand.</p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // G. Webinar -->

          <!-- KYC -->
          <div class="faq-q-list mt-5" id="kyc">
            <h2> Know Your Customer (KYC) </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="Know-Your-Customer">
              <h4> Know Your Customer (KYC)  </h4>
              <p> KYC stands for Know Your Customer or Know Your Client. It is a standardized process by which financial institutions establish the authenticity of their potential customers and clients. It aims to perform background screening procedures and prevent financial institutions from using intentionally or unintentionally for fraudulent activities. KYC also helps assess the customer’s financial health. </p>
              <p> Know your customer (KYC) is the first stage of anti-money laundering (AML) due diligence. When a financial institution (FI) onboards a new customer, KYC procedures are immediately followed to identify and verify the customer’s identity. These processes allow FIs to assess the customer’s risk profile based on their propensity for financial crime </p>
              <p> KYC is usually done by verifying the identity and address of potential customers or clients.  </p>
              <p> Two types of KYC used are eKYC and In-Person-Verified KYC. In-Person-Verified KYC of offline KYC is done by personally verifying the required unique identity documents and address proofs. eKYC can be carried out online by uploading the necessary documents. eKYC is a very convenient and time-saving process and is being widely adopted. With the changing financial landscape UPIs, eWallets, and Crypto exchanges also need mandatory KYC for their customers. </p>
              <p> Some standard documents accepted in the KYC process are Govt ID Card, Passport, Voter ID, Driving license, recent bank passbooks, and recent utility bills. </p>
              <p><strong> KYC is a process that cryptocurrency exchanges must use to:  </strong></p>
              <ul class="tab-ul">
                <li> Confirm their end users’ and customers’ personal information. </li>
                <li> Acquire a better understanding of the activities of their potential customers and verify their legality.  </li>
                <li> Determine the probability their customers pose money laundering risks. </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-does-KYC-compliance-look-like-for-VASPs">
              <h4> What does KYC compliance look like for VASPs?  </h4>
              <p> VASPs undertake a multi-step KYC process to prevent fraudulent activity. The steps are as follows: </p>
              <ul class="tab-ul">
                <li><strong> Step 1: </strong> Collect their customers’ personally identifiable information (PII), including their full name, place, date of birth, and address.‍  </li>
                <li><strong> Step 2: </strong> Compare this information to their official government-issued identification, such as a passport or state-issued driver’s license, and proof of residence, such as a utility bill.  </li>
                <li><strong> Step 3: </strong> Verify the customer’s identity against official databases that contain information on Politically Exposed Persons (PEP) and sanctioned individuals.  </li>
              </ul>
              <p> These steps help FIs determine each client's virtual currency money laundering and financial crime risk. If everything checks out, the customer is permitted to engage in certain activities on the cryptocurrency exchange.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-cryptocurrency-transaction-monitoring">
              <h4> What is cryptocurrency transaction monitoring?  </h4>
              <p> A cryptocurrency transaction monitoring system aids crypto exchanges and FIs in identifying unusual or suspicious activity that they must report to regulatory authorities and assists law enforcement in tracking criminals. Transaction monitoring observes the risk associated with a cryptocurrency wallet.   </p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // KYC -->

          <!-- Fees & Charges -->
          <!-- <div class="faq-q-list mt-5" id="fees-charges">
            <h2> Fees & Charges </h2>
           
            <div class="faq-q-row1" id="#">
              <h4> fgj;lfjg  </h4>
              <p> fjgfjg </p>
            </div>
           
          </div> -->
          <!-- // Fees & Charges -->

          <!-- Trading -->
          <div class="faq-q-list mt-5" id="Trading">
            <h2> Trading </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="How-to-sell-Bitcoin-or-other-cryptos">
              <h4> How to sell Bitcoin (BTC) or other cryptos? </h4>
              <p> Once you have BTC or other cryptos in your TechnoApp Funds, you can visit the different TechnoSavvy markets like BTC/TechnoSavvy, ETH/TechnoSavvy etc. and place the Sell order.  </p>
              <p><strong> For eg: to Sell Bitcoin (BTC), kindly follow the below steps  </strong></p>
              <ul class="tab-ul">
                <li> Visit BTC/TechnoSavvy market - <a href="#" class="url-1"> https://TechnoApp.com/exchange/BTC-TechnoSavvy </a> Click on the Sell option </li>
                <li> Enter the amount and rate at which you want to Sell BTC. For instant execution of your order, you can select the Highest Price option and place the order  </li>
                <li> Your Order will get executed as per the order matching process and you will receive TechnoSavvy in your funds Similarly, you can Sell other cryptos from their respective markets like ETH/TechnoSavvy, XRP/TechnoSavvy etc.  </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-to-buy-Bitcoin-or-other-cryptos">
              <h4> How to buy Bitcoin (BTC) or other cryptos? </h4>
              <p> To buy Bitcoin or any cryptos, you need to deposit crypto into your TechnoApp account. Once you have any one cryptos in your TechnoApp Funds, you can visit the different BTC markets like TechnoSavvy/BTC, ETH/BTC etc. and place the buy order.  </p>
              <p><strong>  </strong></p>
              <ul class="tab-ul">
                <li> Visit BTC/TechnoSavvy market - <a href="#" class="url-1"> https://TechnoApp.com/exchange/BTC-TechnoSavvy </a> Click on the buy option </li>
                <li> Enter the amount and rate at which you want to Buy BTC. For instant execution of your order, you can select the lowest Price option and place the order </li>
                <li> Your Order will get executed as per the order matching process and you will receive BTC in your funds Similarly, you can buy other cryptos from their respective markets like ETH/BTC, BTC/USDT etc.  </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Where-can-I-see-my-order-details">
              <h4> Where can I see my order details? </h4>
              <p> Please visit the 'Order>Transaction History' section towards the top-right of the page. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="My-order-is-not-matching-executed">
              <h4> My order is not matching/executed. Order is in pending/open </h4>
              <p> When an order does not execute at the price that you place an order, it could be for the following reasons -  </p>
              <ul class="tab-ul">
                <li> The price you placed the order at is <strong> Higher </strong> than the current price (for sell orders) or <strong> Lower </strong> than the current price (for buy orders) </li>
                <li> The quantity you need is not available at that price </li>
              </ul>
              <p> Orders execute on a <strong> first come first serve basis </strong> when there is a <strong> matching </strong> price and quantity available in the Order book. If you are placing a buy order at the current market price, there should be a sell order in the order book at the same or lower price and the sell quantity should be equal to or greater than your buy quantity. This will fully execute your order. If the quantity available is lower, it will partially execute your order.  </p>
              <p> Similarly, if you are placing a sell order at the current market price, there should be a buy order in the order book at the same or higher price and the buy quantity should be equal to or greater than your sell quantity. This will fully execute your order. If the quantity available is lower, it will partially execute your order.  </p>
              <p> If you would like your order to be fully executed, check the volume column in the order book to see at which price and what quantity others are willing to buy/sell. All orders in the order book are arranged in a cumulative manner if you select the Market Depth option. So the quantity available in the upper row is added as you move towards the lower rows. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="My-funds-are-locked-or-in-orders">
              <h4> My funds are locked or in-orders </h4>
              <p> Your funds are usually Locked or In Orders when you have placed a buy/sell order in the exchange or P2P market. Whenever you place a buy or sell order, the respective funds get locked unless the trade is either executed or canceled.  </p>
              <p> You can visit your Orders section and cancel the open order to make the funds available to you again  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-minimum-trading-limit-on-TechnoApp">
              <h4> What is the minimum trading limit on TechnoApp? </h4>
              <p> To know the minimum trading limit for each coin/token on TechnoApp, please visit - <a href="#" class="url-1"> Trading, Deposit & Withdrawal Fees </a></p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-do-I-cancel-my-buy-or-sell-order?">
              <h4> How do I cancel my buy or sell order? </h4>
              <p> Sometimes, you may want to cancel an order that you have placed. Any Open order can be canceled. An open order is an order that has not been filled/executed or has only been partially filled/executed. Follow these steps to cancel your Open order – </p>
              <ul class="tab-ul">
                <li> On the <strong> Exchange </strong> screen, in the box at the top right, there is the <strong> Open Orders </strong> tab </li>
                <li> You will see a list of all your <strong> Open Orders </strong> with a <strong> Cancel </strong> button (<i class="fa fa-times-circle" aria-hidden="true"></i>) next to it  </li>
                <li> Click on the <strong> Cancel </strong> button (<i class="fa fa-times-circle" aria-hidden="true"></i>) and your order will be canceled instantly </li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-cancel-a-partially-filledexecuted-order">
              <h4> Can I cancel a partially filled/executed order? </h4>
              <p> Yes! If your order has been partially executed/filled, you may cancel your order. The part of the order which has not been executed/filled will be immediately canceled. For eg - Let's say you have placed a Buy Order for 10 LTC. Now, 6 LTC have been bought and 4 LTC remain to be bought. If you cancel this order, the remaining order for 4 LTC will cancel immediately and the remaining amount for the 4 LTC will be credited back to your wallet.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Can-I-cancel-all-my-Open-orders-together">
              <h4> Can I cancel all my Open orders together? </h4>
              <p> Yes! Click on the Cancel All button on the Orders screen to cancel all your open orders together.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="When-will-the-funds">
              <h4> When will the funds for a canceled order be credited to my wallet? </h4>
              <p> After you cancel an open order, the funds will be credited to your wallet immediately. If your fund does not reflect in the wallet, please refresh the screen. </p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // Trading -->

          <!-- Deposit & Withdrawal -->
          <div class="faq-q-list mt-5" id="Deposit-Withdrawal">
            <h2> Deposit & Withdrawal </h2>
            <!-- ====== -->
            <div class="faq-q-row1" id="Deposit-Receive-Cryptocurrency-to-your-TechnoApp">
              <h4> Deposit/Receive Cryptocurrency to your TechnoApp account - Process & Time Taken </h4>
              <p> When you need to move your Cryptocurrency from another wallet/exchange to your TechnoApp wallet, you need to go through the process of Depositing cryptocurrency to your TechnoApp account.  </p>
              <p> The first step here is to get the Deposit address from your TechnoApp wallet so you can add it to the withdrawal process in the wallet/exchange you are sending the coins from.  </p>
              <ul class="tab-ul">
                <li> Click on Buy >Deposit Crypto at the top of your screen   </li>
                <li> Select the coin you want to Deposit </li>
                <li> Click on the Deposit button  </li>
                <li> Here you will see your Destination Address. Click on the copy button to copy the address and paste it into the withdrawal section of wallet/exchange from where you are sending the coins.  </li>
              </ul>
              <p><strong>Important:</strong> Always check the destination address carefully. If you enter the wrong destination address or enter the destination address of the wrong coin, it will be lost forever and there is nothing we can do. </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-much-time-will-the-deposit-take">
              <h4> How much time will the deposit take? </h4>
              <p> Depending on the network speeds/congestion of the coins/tokens you are depositing, most deposits will happen super-fast. Please avoid contacting the support team unless your deposit has not been reflected for more than 24 hours.   </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-many-confirmations-are-required">
              <h4> How many confirmations are required for the deposit to be successful? </h4>
              <p> Please refer to the confirmation’s column on this page - Trading, Deposit & Withdrawal Fees  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-a-Deposit-fee">
              <h4> Is there a Deposit fee? </h4>
              <p> No! Cryptocurrency deposits to TechnoApp are Free!  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Is-there-a-minimum-deposit-limit-for-any-coins">
              <h4> Is there a minimum deposit limit for any coins? </h4>
              <p> No, there isn't any minimum limit for crypto deposits.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Withdraw-Send-Cryptocurrency-from-your">
              <h4> Withdraw/Send Cryptocurrency from your TechnoApp account - Process & Time Taken </h4>
              <p> When you need to move Cryptocurrency from your <strong> TechnoApp wallet </strong> to <strong> another wallet/exchange</strong>, you need to go through the process of <strong> Withdrawing </strong> cryptocurrency from your TechnoApp account. </p>
              <p> The first step here is to get the <strong> Deposit address </strong> from the receiving wallet/exchange that you want to deposit the cryptocurrency to. The steps involved to get your Deposit address depend on the wallet/exchange you want to deposit to. Once you have your deposit address <strong> ready </strong> with you, follow the below steps in your TechnoApp account –  </p>
              <ul class="tab-ul">
                <li> Click on Buy >Withdraw Crypto at the top right of your screen   </li>
                <li> <strong> Select </strong> the coin you want to Withdraw  </li>
                <li> Type or paste the <strong> Destination Address. </strong> Cross check the destination address <strong> carefully. </strong></li>
                <li> <strong> Select </strong> the Network </li>
                <li> Enter <strong> Coin amount </strong> you want to move.   </li>
                <li> Add any <strong> Remarks </strong> for your own reference. (The remark will only be seen in your TechnoApp account and not your receiving account) </li>
                <li> Click on <strong> Withdraw Now/ Standard Withdraw. </strong></li>
                <li> Enter your Email OTP and Authenticator App code & Click on <strong> Submit. </strong></li>
              </ul>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="How-much-time-will-the-Withdrawal-take">
              <h4> How much time will the Withdrawal take? </h4>
              <p> We try to process the withdrawals as soon as possible. Withdrawals are processed within 30-60 minutes. However, sometimes withdrawals could take up to 24 hours to process. Most withdrawals are processed in much lesser time than we estimate :) </p>
              <p> For security reasons, we store most funds in a cold wallet. Sometimes, if the withdrawal requests are high and funds in the hot wallet are not enough to meet demand, we move funds from the cold wallet. This process usually takes longer but is a much safer and secure way.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Why-do-you-charge-a-withdrawal-fee-">
              <h4> Why do you charge a withdrawal fee? </h4>
              <p> When sending cryptocurrencies to the blockchain, a small fee must be paid along with the order so the mining network prioritizes your transaction and confirms it faster. If a low fee is paid, your transaction may remain unconfirmed indefinitely. For details about the withdrawal fees and how it is applied, check <strong> Trading, Deposit & Withdrawal Fees </strong></p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="What-is-the-minimum-maximum-withdrawal-limit">
              <h4> What is the minimum & maximum withdrawal limit? </h4>
              <p> Please refer to this article - <strong> Trading, Deposit & Withdrawal Fees </strong></p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Are-Ether-withdrawals-deposits">
              <h4> Are Ether (ETH) withdrawals/deposits to Smart Contract Addresses / ICOs supported? </h4>
              <p> Yes. TechnoApp currently supports Ether (ETH) withdrawals to Smart Contract Addresses. However, please do not invest in ICOs using your TechnoApp wallet as we will not be able to support any tokens that you receive back from the ICO.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="I-have-not-received-my-crypto-deposit-on-TechnoApp">
              <h4> I have not received my crypto deposit on TechnoApp </h4>
              <p> Depending on the coin/token you are depositing, your deposit will require a certain amount of blockchain confirmations for it to reflect in your TechnoApp wallet. Please refer to the confirmation’s column on this page - Trading, Deposit & Withdrawal Fees </p>
              <p> You can also track the status of your deposit from the <strong> Funds </strong> section. Please contact us if your deposit has not been reflected for more than 12 hours.  </p>
            </div>
            <!-- ====== -->
            <!-- ====== -->
            <div class="faq-q-row1" id="Recovering-incorrect-Crypto-deposits-Fees-Process">
              <h4> Recovering incorrect Crypto deposits - Fees & Process </h4>
              <p> When depositing your coins/tokens, it is very important that you enter all the right details and cross-check the deposit/withdrawal address multiple times before proceeding.  </p>
              <p> If you make a mistake, your coins/tokens could be lost forever and, sadly, even though we may want to help, we will not be able to do so. In some instances, though, it may be possible to attempt a recovery.  </p>
              <p><strong> Some mistakes where we can try and attempt to recover your cryptos are -  </strong></p>
              <ul class="tab-ul">
                <li> Incorrect Destination Tag or Memo entered when depositing WRX, BNB, XRP, XLM, AVA & EOS (Note: Tag should not belong to another user)  </li>
                <li> No Destination Tag or Memo entered when depositing WRX, BNB, XRP, XLM, AVA & EOS.  </li>
                <li> Depositing ETH or ERC-20 tokens from a Smart Contract address.  </li>
              </ul>
              <p><strong> Some mistakes where no recovery is possible -    </strong></p>
              <ul class="tab-ul">
                <li> Withdrawing to a wrong address (Please contact the receiving exchange/wallet owner). </li>
              </ul>
              <p> The above list is only indicative and in no way a guarantee or commitment that TechnoApp will attempt to recover your lost coins/tokens. The decision to attempt recovery is at the discretion of TechnoApp. The process of recovery is extremely complicated, time-consuming, expensive and can only be carried out by an authorized security team. A minimum of 3-4 weeks is needed to attempt a recovery.  </p>
              <p><strong> Fees  </strong></p>
              <p> Please note that not all incorrect deposits can be recovered by us. We waive off the recovery fee in the majority of the recoveries. In very rare scenarios, a recovery fee is levied and the same is informed over chat/email before we initiate the recovery.  </p>
              <p><strong> Process </strong></p>
              <p> To request recovery of your coins/tokens, please contact us via chat through this link - <a href="#" class="url-1"> Submit a Request </a></p>
            </div>
            <!-- ====== -->
          </div>
          <!-- // Deposit & Withdrawal -->
        </div>

      </div>
    </div>
  </section>
  <!-- // FAQ page section -->


  <!-- ========= Footer Section ========= -->
  <!-- ========= Footer Section ========= -->

        <!-- === // End Footer === -->
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


 
  
  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/scroll.js"></script>

