  <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-12">

           <ol>
                        <li><a asp-action="academy-detail" asp-controller="t6">academy-detail" </a> </ li >
                        <li><a asp-action="account-activity" asp-controller="t6">account-activity" </a> </ li >
                        <li><a asp-action="account-statement" asp-controller="t6">account-statement" </a> </ li >
                        <li><a asp-action="account-verify" asp-controller="t6">account-verify" </a> </ li >
                        <li><a asp-action="addbankaccount" asp-controller="t6">addbankaccount" </a> </ li >
                        <li><a asp-action="address-management-detail" asp-controller="t6">address-management-detail" </a> </ li >
                        <li><a asp-action="address-management" asp-controller="t6">address-management" </a> </ li >
                        <li><a asp-action="am-securityverification" asp-controller="t6">am-securityverification" </a> </ li >
                        <li><a asp-action="bankaccount" asp-controller="t6">bankaccount" </a> </ li >
                        <li><a asp-action="bankaccountdetail" asp-controller="t6">bankaccountdetail" </a> </ li >
                        <li><a asp-action="bankaccountdetailconfirmed" asp-controller="t6">bankaccountdetailconfirmed" </a> </ li >
                        <li><a asp-action="bankaccountedit" asp-controller="t6">bankaccountedit" </a> </ li >
                        <li><a asp-action="bankconfirmation" asp-controller="t6">bankconfirmation" </a> </ li >
                        <li><a asp-action="bankpending" asp-controller="t6">bankpending" </a> </ li >
                        <li><a asp-action="basic-information" asp-controller="t6">basic-information" </a> </ li >
                        <li><a asp-action="buy-confirmation" asp-controller="t6">buy-confirmation" </a> </ li >
                        <li><a asp-action="buy-crypto" asp-controller="t6">buy-crypto" </a> </ li >
                        <li><a asp-action="buy-cryptosummary" asp-controller="t6">buy-cryptosummary" </a> </ li >
                        <li><a asp-action="buy-cryptotimerscreen" asp-controller="t6">buy-cryptotimerscreen" </a> </ li >
                        <li><a asp-action="cashback-main" asp-controller="t6">cashback-main" </a> </ li >
                        <li><a asp-action="cashback" asp-controller="t6">cashback" </a> </ li >
                        <li><a asp-action="change-password" asp-controller="t6">change-password" </a> </ li >
                        <li><a asp-action="convert" asp-controller="t6">convert" </a> </ li >
                        <li><a asp-action="converttimerscreen" asp-controller="t6">converttimerscreen" </a> </ li >
                        <li><a asp-action="convertwithdraw" asp-controller="t6">convertwithdraw" </a> </ li >
                        <li><a asp-action="convertwithdrawfiat" asp-controller="t6">convertwithdrawfiat" </a> </ li >
                        <li><a asp-action="convertwithdrawfiattimerscreen" asp-controller="t6">convertwithdrawfiattimerscreen" </a> </ li >
                        <li><a asp-action="convertwithdrawtimerscreen" asp-controller="t6">convertwithdrawtimerscreen" </a> </ li >
                        <li><a asp-action="convertwithdrawupi" asp-controller="t6">convertwithdrawupi" </a> </ li >
                        <li><a asp-action="country-residence" asp-controller="t6">country-residence" </a> </ li >
                        <li><a asp-action="create-personal-account" asp-controller="t6">create-personal-account" </a> </ li >
                        <li><a asp-action="deposit-fiat-upi" asp-controller="t6">deposit-fiat-upi" </a> </ li >
                        <li><a asp-action="deposit-fiat" asp-controller="t6">deposit-fiat" </a> </ li >
                        <li><a asp-action="deposit" asp-controller="t6">deposit" </a> </ li >
                        <li><a asp-action="device-management" asp-controller="t6">device-management" </a> </ li >
                        <li><a asp-action="earn-wallet" asp-controller="t6">earn-wallet" </a> </ li >
                        <li><a asp-action="entity-account" asp-controller="t6">entity-account" </a> </ li >
                        <li><a asp-action="entity-summary" asp-controller="t6">entity-summary" </a> </ li >
                        <li><a asp-action="fees-charges" asp-controller="t6">fees-charges" </a> </ li >
                        <li><a asp-action="funding-wallet" asp-controller="t6">funding-wallet" </a> </ li >
                        <li><a asp-action="Index-au" asp-controller="t6">Index-au" </a> </ li >
                        <li><a asp-action="Index-india" asp-controller="t6">Index-india" </a> </ li >
                        <li><a asp-action="Index-svg" asp-controller="t6">Index-svg" </a> </ li >
                        <li><a asp-action="Index-us" asp-controller="t6">Index-us" </a> </ li >
                        <li><a asp-action="Index" asp-controller="t6">Index" </a> </ li >
                        <li><a asp-action="index1complete-profile" asp-controller="t6">index1complete-profile" </a> </ li >
                        <li><a asp-action="internaltransfer-2Fa" asp-controller="t6">internaltransfer-2Fa" </a> </ li >
                        <li><a asp-action="internaltransfer-confirmation" asp-controller="t6">internaltransfer-confirmation" </a> </ li >
                        <li><a asp-action="internaltransfer-summary" asp-controller="t6">internaltransfer-summary" </a> </ li >
                        <li><a asp-action="internaltransfer" asp-controller="t6">internaltransfer" </a> </ li >
                        <li><a asp-action="kyc-appendic" asp-controller="t6">kyc-appendic" </a> </ li >
                        <li><a asp-action="kyc-personal-verification-upload" asp-controller="t6">kyc-personal-verification-upload" </a> </ li >
                        <li><a asp-action="kyc-personal-verification" asp-controller="t6">kyc-personal-verification" </a> </ li >
                        <li><a asp-action="kyc-upload-sefie" asp-controller="t6">kyc-upload-sefie" </a> </ li >
                        <li><a asp-action="license-nc" asp-controller="t6">license-nc" </a> </ li >
                        <li><a asp-action="list-aggrement" asp-controller="t6">list-aggrement" </a> </ li >
                        <li><a asp-action="market-complete-profile" asp-controller="t6">market-complete-profile" </a> </ li >
                        <li><a asp-action="order-history" asp-controller="t6">order-history" </a> </ li >
                        <li><a asp-action="p2p-order" asp-controller="t6">p2p-order" </a> </ li >
                        <li><a asp-action="personal-identity" asp-controller="t6">personal-identity" </a> </ li >
                        <li><a asp-action="redeemconfirm-eth" asp-controller="t6">redeemconfirm-eth" </a> </ li >
                        <li><a asp-action="redeemconfirm" asp-controller="t6">redeemconfirm" </a> </ li >
                        <li><a asp-action="register-business" asp-controller="t6">register-business" </a> </ li >
                        <li><a asp-action="related-parties" asp-controller="t6">related-parties" </a> </ li >
                        <li><a asp-action="reward-center" asp-controller="t6">reward-center" </a> </ li >
                        <li><a asp-action="security-verificationgoogle" asp-controller="t6">security-verificationgoogle" </a> </ li >
                        <li><a asp-action="security" asp-controller="t6">security" </a> </ li >
                        <li><a asp-action="spot-wallet" asp-controller="t6">spot-wallet" </a> </ li >
                        <li><a asp-action="spotopen-orders" asp-controller="t6">spotopen-orders" </a> </ li >
                        <li><a asp-action="staking" asp-controller="t6">staking" </a> </ li >
                        <li><a asp-action="stakingconfirmation" asp-controller="t6">stakingconfirmation" </a> </ li >
                        <li><a asp-action="stakingconfirmationTechnoSavvy" asp-controller="t6">stakingconfirmationTechnoSavvy" </a> </ li >
                        <li><a asp-action="stakingstart" asp-controller="t6">stakingstart" </a> </ li >
                        <li><a asp-action="stakingsummary" asp-controller="t6">stakingsummary" </a> </ li >
                        <li><a asp-action="stakingsummaryTechnoSavvy" asp-controller="t6">stakingsummaryTechnoSavvy" </a> </ li >
                        <li><a asp-action="token-compliance" asp-controller="t6">token-compliance" </a> </ li >
                        <li><a asp-action="token-infomation" asp-controller="t6">token-infomation" </a> </ li >
                        <li><a asp-action="token-legal" asp-controller="t6">token-legal" </a> </ li >
                        <li><a asp-action="token-security" asp-controller="t6">token-security" </a> </ li >
                        <li><a asp-action="token-submit" asp-controller="t6">token-submit" </a> </ li >
                        <li><a asp-action="tokeninfo" asp-controller="t6">tokeninfo" </a> </ li >
                        <li><a asp-action="trade-history" asp-controller="t6">trade-history" </a> </ li >
                        <li><a asp-action="trading-rules-au" asp-controller="t6">trading-rules-au" </a> </ li >
                        <li><a asp-action="trading-rules-us" asp-controller="t6">trading-rules-us" </a> </ li >
                        <li><a asp-action="transaction" asp-controller="t6">transaction" </a> </ li >
                        <li><a asp-action="twofactor-verification-withdraw" asp-controller="t6">twofactor-verification-withdraw" </a> </ li >
                        <li><a asp-action="twofactor-verification" asp-controller="t6">twofactor-verification" </a> </ li >
                        <li><a asp-action="twofactor-verificationbank" asp-controller="t6">twofactor-verificationbank" </a> </ li >
                        <li><a asp-action="twofactorauthenication" asp-controller="t6">twofactorauthenication" </a> </ li >
                        <li><a asp-action="unstak-eth" asp-controller="t6">unstak-eth" </a> </ li >
                        <li><a asp-action="unstak-TechnoSavvy" asp-controller="t6">unstak-TechnoSavvy" </a> </ li >
                        <li><a asp-action="upiadddetail-confirmed" asp-controller="t6">upiadddetail-confirmed" </a> </ li >
                        <li><a asp-action="upiadddetail-pending" asp-controller="t6">upiadddetail-pending" </a> </ li >
                        <li><a asp-action="upiadddetail" asp-controller="t6">upiadddetail" </a> </ li >
                        <li><a asp-action="UPIchange" asp-controller="t6">UPIchange" </a> </ li >
                        <li><a asp-action="uploaded-document" asp-controller="t6">uploaded-document" </a> </ li >
                        <li><a asp-action="user-profile-2" asp-controller="t6">user-profile-2" </a> </ li >
                        <li><a asp-action="user-profile" asp-controller="t6">user-profile" </a> </ li >
                        <li><a asp-action="wallet-2" asp-controller="t6">wallet-2" </a> </ li >
                        <li><a asp-action="wallet-3" asp-controller="t6">wallet-3" </a> </ li >
                        <li><a asp-action="wallet" asp-controller="t6">wallet" </a> </ li >
                        <li><a asp-action="withdraw-fiat" asp-controller="t6">withdraw-fiat" </a> </ li >
                        <li><a asp-action="withdraw-upi" asp-controller="t6">withdraw-upi" </a> </ li >
                        <li><a asp-action="withdraw" asp-controller="t6">withdraw" </a> </ li >


                    </ol>
        </div>
        </div>
    </div>
    </div>

 </section>