
  <!-------------Outer-section---------------------->
  <!-- Back to top button -->
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fa fa-arrow-up"></i>
  </button>
  <!-- // back to top button -->

  <!-------------------------------------------->
  <!-----------------top section start ----------->
  <section class="top-section">
    <div class="container-fluid">
      <div class="row">
        <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
            Rewards</a>
        </div>
      </div>

    </div>
  </section>
  <!----------------------menu section---------------------------->
    <section class="menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>

                <div class="col-md-7">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="menu">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Buy Crypto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Academy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> Trading Fees</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23" class=" sub-menu23">
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png">
                                    </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br>
                                        solutions for our Institutional clients </p></span></a></li>
                                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp
                                        APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.
                                        </p></span></a></li>

                                </div>

                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit
                                        Trading Strategies and <br>Trade Like a Pro. </p></span>
                                    </a></li>
                                <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
                                </div>
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>
                                        TechnoApp Labs Empowering the Web 3.0 </p></span></a></li>
                                </div>
                            </div>
                            </ul>
                        </li>
                        </ul>

                    </div>
                    </div>
                </nav>
                </div>
                <div class="col-md-4">
                <form>
                    <div id="top-navbar" class="top-navbar">
                    <div class="top-navbar">
                        <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a></span>
                        <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Signup </a></span>

                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ENG
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">
                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>

                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>


                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>
                        <span>|</span>
                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            USD
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">




                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CHF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/BRL.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/USD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/AUD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CAD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CLP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CNY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CZK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/DKK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/EUR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                </div>


                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/GBP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MYR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>


                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HKD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HUF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/IDR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/ILS.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/INR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/JPY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/KRW.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MXN.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>

                        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                    </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
    </section>
  <!-- ===== // Menu section ===== -->


  <!-- ==== Page Name section ==== -->
  <!-- <section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="css566-heading mb-3">
            <h2> Media Library </h2>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- // Page name section -->


  <!-- Start Media Page -->
  <section class="blog-section inner-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 content-section">
                <div class="blog-col-8 inner-blog-col">
                    <h2> 2022 Best Altcoin: Ground-Breaking Utility Makes TechnoSavvy an Inflationary Token </h2>
                    <!-- <h5 class="heading-5"> Metatile: Acquiring TechnoSavvy can make you rich shortly: Here is why? </h5> -->
                    <ul>
                        <li><a href="#"><i class="fa fa-thumbs-up"></i> Like </a></li>
                        <li><a href="#"><i class="fa fa-comment"></i> Comment </a></li>
                        <li><a href="#"><i class="fa fa-share"></i> Share </a></li>
                    </ul>
                    <br>
                    <img src="/images/best-altcoin-blog.gif" alt="image">
                    <p> After the 2008 recession, an anonymous individual or group of individuals named Satoshi Nakamoto proposed Bitcoin (BTC). A cryptographically secured decentralized currency. All the cryptocurrencies launched after Bitcoin are known as Altcoins or Alternative Coins. </p>
                    <p> Gradually people started realizing its potential and requirement, changing the landscape of the modern generation's definition of money. Bitcoin enabled people to transact without any central authority approval and made it easy to execute cross-border payments.   </p>
                    <p> As soon as the early community realized its potential and the technology behind it, they started exploring its other use cases. Since the inception of Bitcoin till now, there have been thousands of Altcoins came into existence. Some have done a marvellous job, such as Ethereum, and some have fallen terribly.  </p>

                    <h3> What is an Altcoin? </h3>
                    <p> The term Altcoins generally refers to all crypto coins except for Bitcoin. They’re also known as Alternative Coins. These are bifurcated into multiple categories such as Utility tokens, Security tokens, Stablecoins, Payment coins, Governance tokens, etc. On the other hand, Bitcoin is only known as a payment token.   </p>
                    <p> Ethereum (Ether) is the only cryptocurrency that has achieved mass adoption, similar to BTC. Thus, many experts define Altcoins as all the tokens other than Bitcoin and Ethereum. Battle Infinity (IBAT), Cardano (ADA), Ripple (XRP), and Bitcoin Cash (BCH) are some examples. </p>

                    <h3> TechnoSavvy, an Altcoin with an Excellent Utility </h3>
                    <p> TechnoSavvy is the native utility token, and its price appreciates with every trade on TechnoApp. With a seamless trading experience and incredible features, TechnoApp is expected to acquire considerable market shares. With the rise in trading volume on TechnoApp, TechnoSavvy is also expected to generate phenomenal returns.  </p>
                    <p> Unlike other Altcoins, TechnoSavvy price movement largely depends on the trading volume on TechnoApp. Because of Next-Generation features and rewards, the platform is expected to acquire a large market share resulting in higher demand for its base token.  </p>
                    <p> The tokenomics conveys the limited supply for TechnoSavvy and only a minuscule percentage of 0.04% is available in the open market. The general law of demand and supply will contribute to the continuous price appreciation of the token.  </p>

                    <h3> How TechnoApp is different from contemporary crypto exchanges?  </h3>
                    <p> Have you ever wondered to get an assured cashback on crypto trading? </p>
                    <p> TechnoApp makes it possible for you!  </p>
                    <p> Trade on TechnoApp and get a cashback of up to 5 times the transaction fees. Not only that, TechnoApp also offers up to 10 times lower transaction fees than any other contemporary exchanges. </p>
                    <p> Because of the lowest trading fees and Cashback benefits on every trade, Traders get an Augmented Liquidity Pool to trade on TechnoApp, which establishes the exchange as the Next-Generation Crypto Exchange.  </p>
                    <p> Further TechnoApp offers unimaginable benefits on staking TechnoSavvy Token.  </p>

                    <h3> TechnoSavvy Staking Privileges  </h3>
                    <p> TechnoApp offers startling benefits to investors Staking the TechnoSavvy token. Traders get an assured cashback of 5 times on the first five daily transactions by staking 5,000 TechnoSavvy Tokens and an assured cashback of 10 times on unlimited transactions by Staking 50,000 TechnoSavvy. </p>
                    <p> Further, TechnoApp Exchange offers a 50% discounted transaction fee to encourage TechnoApp community members to participate in the market.  </p>
                    <p> The capital that you invest in TechnoSavvy to enjoy staking benefits will not only bring the premium privileges on TechnoApp but also, you will enjoy the token price increment with every trade.  </p>

                    <h3> Epilogue  </h3>
                    <p> Some of the amazing minds on the planet have adopted Blockchain Technology to create solutions for real-time problems in different industries. To name a few, Finance, Health Care, Supply Chain, Real Estate and Travel are some of them. These projects have come up with their own tokens also known as Altcoins to facilitate the functionality.  </p>
                    <p> TechnoApp provides the platform to trade with the lowest transaction fees and rewards them to trade. The next generation trading engine, TechnoApp is empowered by its native utility token, TechnoSavvy which is expected to grow exponentially.  </p>

                    <p> Visit <a href="https://buy.TechnoSavvytoken.com/" class="url-1" > https://buy.TechnoSavvytoken.com/ </a> to buy TechnoSavvy. </p>
                </div>
                <br>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-4-sidebar">
                    <div class="stay-connected head-bg">
                        <h6> Stay Connected </h6>
                        <div class="border-line"></div>
                        <ul>
                            <li><a href="https://www.facebook.com/TechnoApp" ><img src="/images/facebook-icon.png" alt="image"></a></li>
                            <li><a href="https://www.twitter.com/TechnoApp" ><img src="/images/twitter-icon.png" alt="image"></a></li>
                            <li><a href="https://www.linkedin.com/company/TechnoApp/" ><img src="/images/linkedin-icon.png" alt="image"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><img src="/images/youtube-icon.png" alt="image"></a></li>
                            <li><a href="https://t.me/nav_exm" ><img src="/images/telegram.png" alt="image"></a></li>
                        </ul>
                        <br>
                    </div>
                    <div class="latest-blog head-bg">
                        <h6> Latest Blog </h6>
                        <div class="border-line"></div>
                        <div class="row latest-blog-list top-blog">
                            <a href="best-altcoin-blog.html" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-1.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> 2022 Best Altcoin: Ground-Breaking Utility Makes TechnoSavvy an Inflationary Token  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="reasons-to-invest" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-2.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> 3 Reasons to Invest in Early Crypto Projects  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="an-introduction-to-TechnoApp" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-3.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="why-should-you-invest" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-4.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Why Should You Invest in Crypto Winter? </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="earn-high-returns" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-5.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Earn High Returns by Staking Crypto: TechnoSavvy Staking Benefit</p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a href="the-new-trends-blog.html" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-6.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> The new trends in crypto and blockchain technology  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="things-to-consider" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-7.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Things to Consider Before Investing in Crypto  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="what-is-value" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-8.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> What is Value Variance Inflationary Token?  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="what-makes-TechnoSavvy-gold" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-9.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> What Makes TechnoSavvy A Gold Standard Coin?  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- // blog section -->

  <!-- // Start Media Page -->


  <!-- ========= Footer Section ========= -->
    <section class="section-footer bg1">
        <div class="container">
        <div class="row">
            <div class="col-md-3 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> TechnoApp Community</div>
                <ul>
                    <li><a href="#"> TechnoApp Webinars</a></li>
                    <li><a href="#">Media Library </a></li>
                    <li><a href="#"> Airdrop Programe </a></li>
                    <li><a href="#">Referral Programe</a></li>
                    <li><a href="#">Press Release</a></li>
                </ul>
                </div>

            </div>
            </div>


            <div class="col-md-3 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title">Products & Services</div>
                <ul>
                    <li><a href="#"> Institutional Services </a></li>
                    <li><a href="#"> TechnoApp Academy</a></li>
                    <li><a href="#">TechnoApp Labs</a></li>
                    <li><a href="#">TechnoApp API</a></li>

                </ul>
                </div>


            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title">Policies</div>
                <ul>
                    <li><a href="#"> Terms of use </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#"> AML/KYC Policy </a></li>
                    <li><a href="#">Referral Policy</a></li>
                    <li><a href="#">Licences</a></li>
                </ul>
                </div>

            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> Support</div>
                <ul>

                    <li><a href="#"> Trading Rules </a></li>
                    <li><a href="#">Fees & Charges</a></li>

                    <li><a href="#">FAQs</a></li>
                </ul>
                </div>

            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> Follow Us</div>
                <div class="social-link">
                    <span><a href="https://www.facebook.com/TechnoApp" > <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
                    <span><a href="https://www.twitter.com/TechnoApp" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
                    <span><a href="https://www.linkedin.com/company/TechnoApp/" ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a></span>
                    <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube </a></span>
                </div>
                </div>

            </div>
            </div>

        </div>
        <!-------------------------------------------------->
        <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Support</button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <div class="chat-box">
                <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button"
                    class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle"
                        aria-hidden="true"></i></button> </span></div>

            </div>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>

            </form>
        </div>
        <!-------------------------------------------------->
        </div>
        <div class="container">
        <div class="x__footer__content-center row">
            <div class="col col-md-12 col-12">
            <div class="x__copyright">
                <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
                <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>. All rights reserved. </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/vertical-tab.js"></script>

