@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="section-footer">
    <div class="container">
        <div class="row">
            <div class="footer-box">
                <div class="footer-list">
                    <ol>
                        <li><a asp-action="academytrade" asp-controller="t1">academytrade" </a> </ li >
                        <li><a asp-action="academy" asp-controller="t1">academy" </a> </ li >
                        <li><a asp-action="anintroductiontoTechnoAppblog" asp-controller="t1">anintroductiontoTechnoAppblog" </a> </ li >
                        <li><a asp-action="bestaltcoinblog" asp-controller="t1">bestaltcoinblog" </a> </ li >
                        <li><a asp-action="earnhighreturnsblog" asp-controller="t1">earnhighreturnsblog" </a> </ li >
                        <li><a asp-action="faq" asp-controller="t1">faq" </a> </ li >
                        <li><a asp-action="inamlpolicy" asp-controller="t1">inamlpolicy" </a> </ li >
                        <li><a asp-action="inprivacypolicy" asp-controller="t1">inprivacypolicy" </a> </ li >
                        <li><a asp-action="intermsofuse" asp-controller="t1">intermsofuse" </a> </ li >
                        <li><a asp-action="Index" asp-controller="t1">Index" </a> </ li >
                        <li><a asp-action="license" asp-controller="t1">license" </a> </ li >
                        <li><a asp-action="medialibrary" asp-controller="t1">medialibrary" </a> </ li >
                        <li><a asp-action="ncamlpolicy" asp-controller="t1">ncamlpolicy" </a> </ li >
                        <li><a asp-action="ncprivacypolicy" asp-controller="t1">ncprivacypolicy" </a> </ li >
                        <li><a asp-action="nctermscondition" asp-controller="t1">nctermscondition" </a> </ li >
                        <li><a asp-action="reasonstoinvestblog" asp-controller="t1">reasonstoinvestblog" </a> </ li >
                        <li><a asp-action="referralpolicy" asp-controller="t1">referralpolicy" </a> </ li >
                        <li><a asp-action="referralprogram" asp-controller="t1">referralprogram" </a> </ li >
                        <li><a asp-action="thenewtrendsblog" asp-controller="t1">thenewtrendsblog" </a> </ li >
                        <li><a asp-action="thingstoconsiderblog" asp-controller="t1">thingstoconsiderblog" </a> </ li >
                        <li><a asp-action="top10reasonsblog" asp-controller="t1">top10reasonsblog" </a> </ li >
                        <li><a asp-action="usamlpolicy" asp-controller="t1">usamlpolicy" </a> </ li >
                        <li><a asp-action="usprivacypolicy" asp-controller="t1">usprivacypolicy" </a> </ li >
                        <li><a asp-action="ustermsconditions" asp-controller="t1">ustermsconditions" </a> </ li >
                        <li><a asp-action="whatisvalueblog" asp-controller="t1">whatisvalueblog" </a> </ li >
                        <li><a asp-action="whatmakesTechnoSavvygoldblog" asp-controller="t1">whatmakesTechnoSavvygoldblog" </a> </ li >
                        <li><a asp-action="whyshouldyouinvestblog" asp-controller="t1">whyshouldyouinvestblog" </a> </ li >
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>