
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->
    <section class="top-section">
        <div class="container-fluid">
        <div class="row">
            <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
                Rewards</a>
            </div>
        </div>

        </div>
    </section>
  <!----------------------menu section---------------------------->
    <section class="menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>

                <div class="col-md-7">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="menu">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Buy Crypto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Academy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> Trading Fees</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23" class=" sub-menu23">
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png">
                                    </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br>
                                        solutions for our Institutional clients </p></span></a></li>
                                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp
                                        APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.
                                        </p></span></a></li>

                                </div>

                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit
                                        Trading Strategies and <br>Trade Like a Pro. </p></span>
                                    </a></li>
                                <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
                                </div>
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>
                                        TechnoApp Labs Empowering the Web 3.0 </p></span></a></li>
                                </div>
                            </div>
                            </ul>
                        </li>
                        </ul>

                    </div>
                    </div>
                </nav>
                </div>
                <div class="col-md-4">
                <form>
                    <div id="top-navbar" class="top-navbar">
                    <div class="top-navbar">
                        <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a></span>
                        <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Signup </a></span>

                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ENG
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">
                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>

                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>


                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>
                        <span>|</span>
                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            USD
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">




                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CHF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/BRL.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/USD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/AUD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CAD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CLP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CNY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CZK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/DKK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/EUR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                </div>


                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/GBP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MYR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>


                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HKD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HUF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/IDR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/ILS.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/INR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/JPY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/KRW.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MXN.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>

                        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                    </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Privacy Policy </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> Home &nbsp; ></li>
                            <li> Privacy Policy </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="/images/in-privacy-policy.png" alt="image" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#privacy-policy-is-part-of-our-terms"> Privacy Policy Is Part Of Our Terms </a></li>
        <li><a href="#privacy-policy-changes"> Privacy Policy Changes </a></li>
        <li><a href="#voluntary-disclosure-to-third-parties"> Voluntary Disclosure To Third Parties </a>
        </li>
        <li><a href="#when-do-we-collect-this-information"> When Do We Collect This Information </a></li>
        <li><a href="#what-in-information-do-we-collect"> What In Information Do We Collect </a></li>
        <li><a href="#what-purpose-do-we-use-your-information-for"> What Purpose Do We Use Your
        Information For? </a></li>
        <li><a href="#how-do-we-protect-your-information"> How Do We Protect Your Information </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#your-consent"> Your Consent </a></li>
        <li><a href="#use-of-cookies"> Use Of Cookies </a></li>
        <li><a href="#information-disclosure-to-outside-parties"> Information Disclosure To Outside
        Parties </a></li>
        <li><a href="#applicability"> Applicability </a></li>
        <li><a href="#governing-law"> Governing Law </a></li>
        <li><a href="#contact-us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-9 col-12 2 aos-init" data-aos="fade-up-fade">
        <h6 class="introduction_div">Privacy Policy</h6>
        <p>We, NS Capital Holdings LLC., own and operate the TechnoApp platform. We respect your privacy and know that you care about how your personal information is used and shared, and we take your privacy seriously. This Privacy Policy (“Policy”) describes the Company's policies and procedures on the collection, use and disclosure of your information pursuant to your use of the Company’s website (available at <a href="https://TechnoApp.com/" class="url-1" > www.TechnoApp.com</a>) and related mobile and software applications, whether existing now or in future (collectively, the “Online Platforms”). The Company is committed to ensuring that any use or sharing of your information with anyone shall be- only in accordance with the procedures described in this Privacy Policy. </p>
        <p>The terms <code class="pera-color"> “We”, “Our”, “TechnoApp”, “Company”, “Platform” and “Us” </code> refers
        to the Company, its subsidiaries, affiliated entities, permitted assigns (as and when applicable) and the
        terms “User”, “You” and “Your” refer to a User of our Online Platforms. The capitalized terms used in this
        Privacy Policy, but not defined in this Privacy Policy, shall have the meaning given to such terms in the <a asp-controller="policy" asp-action="terms-of-use" class="url-1" > Terms of use.</a></p>
        <p>Please read this Privacy Policy before using the site or submitting any personal data. By using the
        Online Platforms, it shall be deemed that you are expressly consenting to be bound by the terms of use
        described in this Privacy Policy.</p>
        <h6 id="privacy-policy-is-part-of-our-terms">Privacy Policy Is Part Of Our terms</h6>
        <p>This Privacy Policy is a part of and incorporated within and is to be read along with the Terms of use of
        our platform (the “Terms”). You may view these Terms on any of our Online Platforms.</p>
        <h6 id="privacy-policy-changes">privacy policy changes</h6>
        <p>The Company may change and update this Privacy Policy from time to time. We will use commercially
        reasonable efforts to generally notify all users of any material changes to this Privacy Policy, however,
        you should look at this Privacy Policy regularly to check for such changes. We will also update the “Last
        Updated” and “Effective date“ at the top of this Privacy Policy, which reflects the effective date of such
        policy. Your continued access to or use of the Services after the date of the updated Privacy Policy
        constitutes your acknowledgment and agreement that you have read, understood and accepted the terms of the
        updated Privacy Policy. If you do not agree to the updated Privacy Policy, you must stop accessing or
        using the Platform and/or the Services. All the changes will have an ex post facto effect. You are
        encouraged to review this Privacy Policy whenever you access our Online Platforms to make sure that you
        understand how any personal data you provide will be used.</p>
        <h6 id="voluntary-disclosure-to-third-parties">voluntary disclosure to third parties</h6>
        <p>This Privacy Policy shall not apply to any information voluntarily disclosed by you to other Users of our
        Online Platforms or third parties other than Selected Third Parties.</p>
        <h6 id="when-do-we-collect-this-information">when do we collect this information</h6>
        <p>We may ask you to provide us with your Personal Information on Website and the App if and when: </p>
        <ul>
        <ul class="li-bullet li-bullet-2">
        <li>you register and make an account on the Website or on the App, </li>
        <li> transfer any funds from/to your linked Bank account </li>
        <li> correspond with us by phone, e-mail chat or otherwise </li>
        <li> place an order on the Website or on the App, as the case may be,</li>
        <li> subscribe to TechnoApp's newsletter, if applicable,</li>
        <li> we troubleshoot problems reported by you </li>
        <li> respond to a survey or fill out a form on the Website or on the App, for the limited purposes of
        identifying you personally, communicating with you, in the context of provision of TechnoApp's Services,
        in compliance with the requirements of law.</li>
        </ul>
        </ul>
        <h6 id="what-in-information-do-we-collect">what in information do we collect</h6>
        <ul class="li-bullet li-bullet-2">
        <li><strong> What information you provide to us: </strong>You may be asked to provide your Personal Information including
        (without limitation) your name, photograph, sex, e-mail address, mailing address, phone number,
        identification documents including government issued identity cards and tax identification details,
        financial information for processing payment transactions, details of your linked bank accounts, your
        location details, or information required by us to detect and protect against frauds and similar
        criminal activity, among other details as may be permitted by applicable law, from time to time.
        You must ensure that all your data and/or information shared with us is accurate, correct and complete,
        at all times. You understand that you must promptly inform us of any changes to your data and/or
        information which may impact your use of our Services. We shall not be liable or responsible for any
        loss or damage that may occur to you or other third parties on account of provision of incorrect data
        and/or information provided by a User</li>
        <li><strong> What information we gather: </strong>Upon your use of the Website and/or the App, for provision of our TechnoApp
        Services we may gather the following information: Your technical information including your login
        details, the internet protocol (IP) address, browser type and version, International Mobile Equipment
        Identity (IMEI), browser plug-in types and versions, operating system and platform, the full Uniform
        Resource Locators (URL) clickstream to, through and from the Website or the App with date and time;
        information about the transactions that take place on your registered Account by you. Information
        relating to fund transfer requests executed by you while accessing Services through our Online
        Platforms, in such transactions, we may collect information relating to such transactions provided by
        you or by a Selected Third Party.</li>
        </ul>
        <h6 id="what-purpose-do-we-use-your-information-for">what purpose do we use your information for?</h6>
        <p>Any of the information the Website collects from you may be used for one of the following purposes:</p>
        <ul class="li-bullet li-bullet-2">
        <li> To provide TechnoApp Services on the Website and the App;</li>
        <li> To personalize your experience on the Website and the App (your information helps us to better
        respond to your individual requirements);</li>
        <li> To improve the Website and the App (we continually strive to improve the offerings based on the
        information and feedback we receive from you);</li>
        <li> To improve customer service (your information helps us to more effectively respond to your customer
        service requests and support needs);</li>
        <li> To verify and process transactions on the Website and/or the App, as applicable;</li>
        <li> To facilitate sale of digital tokens or virtual assets;</li>
        <li> To provide, manage or access digital wallets for holding digital assets;</li>
        <li> To provide services for purchasing, trading and/or holding of digital assets;</li>
        <li> To facilitate various products and/or services related to digital assets;</li>
        <li> To update and back-up our records; </li>
        <li> To enhance the security of our Website and the App and keep the same safe and secure;</li>
        <li> To prevent and identify suspicious /other illegal transactions in order to mitigate risks relating to
        money laundering and other illegal activities;</li>
        <li> To notify you about changes in our Services;</li>
        <li> To run our Website and App and for other internal operations, including troubleshooting, data
        analysis, testing, research, statistical and survey purposes;</li>
        <li> To improve our Website and App features to provide you the best Service;</li>
        <li> To understand the effectiveness of advertising we provide and carry out;</li>
        <li> To comply with any statutory or regulatory requirement;</li>
        <li> To troubleshoot problems; detect and protect against error, fraud and other criminal or illegal
        activity; collect fees owed; enforce our terms and conditions; prevent abuse of our services; prevent
        violation of the rights of third parties, other users or the general public.</li>
        </ul>
        <div class="border-sec">
        <p>Your Personal Information, whether public or private, will not be sold, exchanged, transferred, or
        given to any other entity for any reason whatsoever, without your consent, other than for:</p>
        <ul>
         <li>1. The express purpose of delivering the purchased product or service requested by you from the
        Website or App, as applicable;</li>
        <li>2. administering a contest, promotion, survey or other feature; </li>
        <li>3. sending periodic emails and other communications; and</li>
        <li>4. Performing analysis on the data related to transactions, behaviors etc.</li>
        </ul>
        </div>
        <p>The email address you provide for order processing may be used to send you information and updates
        pertaining to your order, in addition to sending you occasional news, updates, and related product or
        service information of TechnoApp, as applicable.</p>
        <h6 id="how-do-we-protect-your-information">how do we protect your information</h6>
        <p>We implement a variety of security measures to maintain the safety of your Personal Information obtained by us from you. </p>
        <p> Where applicable, all supplied sensitive/credit information is transmitted securely and then encrypted into our service providers database only to be accessible by those authorized with special access rights to such systems and are required to keep the information confidential. You are solely responsible for the authenticity of the Personal Information supplied by you, and we are not liable for the said authenticity under any circumstances whatsoever. </p>
        <h6 id="your-consent">your consent</h6>
        <p> By using Online Platforms, you agree and consent to the collection and use of information collected in the manner described above and in accordance with this Privacy Policy. You also agree and consent to any changes made to this Privacy Policy in due course and without notice. If you do not agree with the terms and conditions of this Privacy Policy, please do not provide any information to us. If you refuse or withdraw your consent, or if you choose not to provide us with any information as required by us, we may not be able to provide you with the Services that are being offered through the Online Platform.
        </p>
        <h6 id="use-of-cookies">use of cookies</h6>
        <p>Cookies are small files that a site or its service provider transfers to your computer’s hard drive
        through your web browser that enables the site or service provider’s systems to recognize your browser and
        capture and remember certain information. We may use cookies to help us to understand, remember and save
        your preferences for future visits.
        Cookie and tracking information collected by us may be shared with third-parties which directly support
        our advertising/promotional activities and are involved in development/updation of our Online Platforms.
        </p>
        <p>Commonly used browsers are set up to automatically accept cookies however you can modify your device’s
        settings to either alert you when you receive cookies or block cookies. If you disable/block cookies, it
        may affect the performance and functionality of our Online Platforms and may also restrict your
        experience. If you use different devices to access our Online Platforms, you would be required to modify
        each device’s settings individually to suit your cookie preferences.</p>
        <h6 id="information-disclosure-to-outside-parties">information disclosure to outside parties</h6>
        <p>
        We do not sell, trade, or otherwise transfer your Personal Information to outside parties. This does not
        include trusted third parties and subcontractors who assist us in operating the Website and the App,
        conducting our business, or servicing you, so long as those parties agree to keep this information
        confidential and ensure the same level of data protection that is adhered to by TechnoApp. We may also
        release your information to:</p>
        <ul class="li-bullet li-bullet-2">
        <li> Comply with applicable law or to respond to a court order,</li>
        <li> Enforce our site policies, or protect our rights, property</li>
        <li> Take actions to detect and prevent an actual or potential occurrence of identity theft, fraud, money
        laundering or other illegal acts,</li>
        <li> To disclose or share your Personal Information in accordance with our Terms of Use; or to protect the
        rights of the platform,</li>
        <li> Share some or all of your information as governed in the case of transfer of assets, acquisitions by
        or mergers with other business entities, </li>
        <li> Share your personal data with Selected Third Party; which means and includes selected partners and
        third parties including our service providers who authenticate KYC and other details as provided by you,
        commercial banks which provide banking facilities to TechnoApp; payment processing companies and other
        Digital Asset exchanges as TechnoApp may work with for providing the TechnoApp platform Services etc.</li>
        </ul>
        <p>However, non-personally identifiable visitor information may be provided to other parties for gaining
        insights and/or other uses. We use certain information in an aggregated form across users to compile
        statistical and demographic profiles for our business and marketing activities.</p>
        <h6 id="applicability">applicability</h6>
        <p>This Privacy Policy applies to information collected through TechnoApp's platform including the Website as
        well as the App, if any.
        </p>
        <h6 id="governing-law">governing law</h6>
        <p>This Privacy Policy shall be governed by SVG laws and rules framed thereunder and any amendment, modification, statutory enactment thereto from time to time. Any dispute that may arise from this Privacy Policy shall be subject to the exclusive jurisdiction to the courts of NSW, SVG.
        </p>
        <h6 id="contact-us">contact us</h6>
        <p>The information described in this Privacy Policy is collected and retained by TechnoApp, which owns the
        Website and the App. If you have any concerns pertaining to this Privacy Policy and/or the information
        shared hereunder, You can connect with our Compliance Team at <a href="mailto:compliance.finance@@TechnoApp.com" class="url-1">compliance.finance@@TechnoApp.com</a>.</p>
        <p>Our Compliance Officer shall endeavor to respond to you within 30 days of your submission. Please note
        that if you withdraw your consent to any or all use or disclosure of your personal data, depending on the
        nature of your request, we may not be in a position to continue to provide our services or products to you
        or administer any contractual relationship in place. Such withdrawal may also result in the termination of
        any agreement you may have with us. Our legal rights and remedies are expressly reserved in such an event.
        </p>
        </div>
        </div>
        </div>
        </section>
    <!-- // policy page -->


  <!-- ========= Footer Section ========= -->
    <section class="section-footer bg1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> TechnoApp Community</div>
                    <ul>
                        <li><a href="#"> TechnoApp Webinars</a></li>
                        <li><a href="#">Media Library </a></li>
                        <li><a href="#"> Airdrop Programe </a></li>
                        <li><a href="#">Referral Programe</a></li>
                        <li><a href="#">Press Release</a></li>
                    </ul>
                    </div>

                </div>
                </div>


                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Products & Services</div>
                    <ul>
                        <li><a href="#"> Institutional Services </a></li>
                        <li><a href="#"> TechnoApp Academy</a></li>
                        <li><a href="#">TechnoApp Labs</a></li>
                        <li><a href="#">TechnoApp API</a></li>

                    </ul>
                    </div>


                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Policies</div>
                    <ul>
                        <li><a href="#"> Terms of use </a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#"> AML/KYC Policy </a></li>
                        <li><a href="#">Referral Policy</a></li>
                        <li><a href="#">Licences</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Support</div>
                    <ul>

                        <li><a href="#"> Trading Rules </a></li>
                        <li><a href="#">Fees & Charges</a></li>

                        <li><a href="#">FAQs</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Follow Us</div>
                    <div class="social-link">
                    <span><a href="https://www.facebook.com/TechnoApp" > <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
                    <span><a href="https://www.twitter.com/TechnoApp" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
                    <span><a href="https://www.linkedin.com/company/TechnoApp/" ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a></span>
                    <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube </a></span>
                </div>
                    </div>

                </div>
                </div>

            </div>
        <!-------------------------------------------------->
        <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Support</button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <div class="chat-box">
                <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button"
                    class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle"
                        aria-hidden="true"></i></button> </span></div>

            </div>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>

            </form>
        </div>
        <!-------------------------------------------------->
        </div>
        <div class="container">
        <div class="x__footer__content-center row">
            <div class="col col-md-12 col-12">
            <div class="x__copyright">
                <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
                <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>. All rights reserved. </div>
            </div>
            </div>
        </div>
        </div>
    </section>
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!--usdModal  Modal -->


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>

