
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->
    <section class="top-section">
        <div class="container-fluid">
        <div class="row">
            <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
                Rewards</a>
            </div>
        </div>

        </div>
    </section>
  <!----------------------menu section---------------------------->
    <section class="menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>

                <div class="col-md-7">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="menu">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Buy Crypto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Academy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> Trading Fees</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23" class=" sub-menu23">
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png">
                                    </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br>
                                        solutions for our Institutional clients </p></span></a></li>
                                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp
                                        APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.
                                        </p></span></a></li>

                                </div>

                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit
                                        Trading Strategies and <br>Trade Like a Pro. </p></span>
                                    </a></li>
                                <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
                                </div>
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>
                                        TechnoApp Labs Empowering the Web 3.0 </p></span></a></li>
                                </div>
                            </div>
                            </ul>
                        </li>
                        </ul>

                    </div>
                    </div>
                </nav>
                </div>
                <div class="col-md-4">
                <form>
                    <div id="top-navbar" class="top-navbar">
                    <div class="top-navbar">
                        <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a></span>
                        <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Signup </a></span>

                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ENG
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">
                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>

                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>


                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>
                        <span>|</span>
                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            USD
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">




                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CHF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/BRL.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/USD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/AUD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CAD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CLP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CNY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CZK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/DKK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/EUR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                </div>


                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/GBP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MYR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>


                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HKD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HUF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/IDR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/ILS.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/INR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/JPY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/KRW.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MXN.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>

                        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                    </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> AML / KYC Policy </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> Home &nbsp; ></li>
                            <li> AML / KYC Policy </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div cookies-div1">
        <div class="col-lg-4 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="/images/aml-policy.png" alt"/images" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3">
        <div class="topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#Definitions"> Definitions </a></li>
        <li><a href="#KYC Norms"> KYC Norms </a></li>
        <li><a href="#Declarations And Obligations"> Declarations And Obligations </a></li>
        <!-- <li><a href="#Your Obligations"> Your Obligations </a></li> -->
        <li><a href="#Purpose Of This Policy"> Purpose Of This Policy </a></li>
        <li><a href="#Customer Acceptance Policy"> Customer Acceptance Policy (CAP) </a></li>
        <li><a href="#Customer Identification Procedure (CIP)"> Customer Identification Procedure (CIP) </a></li>
        <li><a href="#Anti-Money Laundering Standards"> Anti-Money Laundering Standards </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul>
        <li><a href="#Monitoring Of Transactions - On-Going Due Diligence"> Monitoring Of Transactions - On-Going Due Diligence </a></li>
        <li><a href="#Contact &amp; Compliance Officer"> Contact &amp; Compliance Officer </a></li>
        <li><a href="#Risk Management By Periodic Review"> Risk Management By Periodic Review </a></li>
        <li><a href="#Internal Controls"> Internal Controls </a></li>
        <li><a href="#Modifications"> Modifications </a></li>
        <li><a href="#Schedule-I"> Schedule-I </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-12">
        <h6 class="heading_polocy">Know Your Customer, Anti-Money Laundering and Transaction Monitoring Policy</h6>
        <p class="policy-had1"><strong><i>(Applicable to Non-regulated countries of Africa, Asia, Europe, North America, South America &amp; Oceanica)</i></strong></p>
        <p class="pt-0">
        This Know Your Customer (“KYC”) and Anti-Money Laundering (“AML”) Policy details the KYC and AML requirements to access and use our website <a href="https://TechnoApp.com/" class="url-1" > www.TechnoApp.com</a>, operated under the brand name of “TechnoApp”, which provides services of online trading of Crypto.
        </p>
        <p>TechnoApp reserves the right, at its sole discretion, to change, modify, add or remove portions of this KYC/AML Policy, at any time without any prior written notice. It is Your responsibility to review the KYC/AML Policy periodically for any updates/changes. Your continued use of the Platform following the modification of the KYC/AML Policy will imply the acceptance of this Policy or any changes made to it. You hereby acknowledge and agree that this KYC/AML Policy is also subject to the <a asp-controller="policy" asp-action="terms-condition" class="url-1" > Terms of Use </a> and <a asp-controller="policy" asp-action="aml-policy" class="url-1" > Privacy Policy. </a></p>
        <p>You hereby expressly consent to TechnoApp’s continuous monitoring and collecting of information and data of Your activities on our Platform for the purpose of this KYC/AML Policy.</p>
        <h6 id="Definitions">Definitions</h6>
        <ul>
        <li><strong>1.1	“Applicable Law”</strong> shall mean any applicable statute, law, regulation, ordinance, rule, judgment, order, decree, by-law, approval from the concerned authority, government resolution, order, directive, guideline, policy, requirement, or other governmental restriction in force, including without limitation the Prevention of Money Laundering Act 2002 (“PMLA”), the Prevention of Money Laundering (Maintenance of Records) Rules 2005 (“PML Rules”), and various applicable guidelines, rules and regulations of the Computer Emergency Response Team, Central Bank or its constituents/payment system providers as applicable, replaced and updated from time to time.</li>
        <li><strong>1.2	“Crypto(s)”</strong> are virtual digital assets and refer to a cryptographically secured digital representation of value or contractual rights that uses distributed ledger technology and can be transferred, stored or traded electronically using the Platform, including but not limited to TechnoSavvy or bitcoin (BTC) and Ether (ETH).</li>
        <li><strong>1.3	“Customer”/ “User”/ “You”</strong> shall mean any Person using/accessing the Platform, for trading in Cryptos.</li>
        <li><strong>1.4	“Customer Due Diligence (CDD)”</strong> means identifying the customer and verifying their identity by using a reliable, independent source of documents, data, or information.</li>
        <li><strong>1.5 “Officially Valid Document/OVD” </strong> means the passport, the driving license, citizenship card, or other address proof as valid in respective county.</li>
        <li><strong>1.6	“Person”</strong> includes (i) an individual who is above eighteen (18) years of age, (ii) a Hindu undivided family, (iii) a company, (iv) a firm, (v) an association of person or a body of individuals, whether incorporated or not, (vi) a local authority, and (vii) every artificial juridical person, not falling with any of the preceding sub-clauses.</li>
        <li><strong>1.7	“Politically Exposed Person” </strong>(PEP) is a person who is authorized to perform prominent public functions in a country and includes governors of the state, members of Parliament, military officers, senior government and judicial executives, and heads of local bodies such as municipal corporations, among others. You could also qualify as a PEP if You are a family member or a close relative of such an individual.</li>
        </ul>
        <ul>
        <div class="">
        <li>
        <strong>1.8	“Suspicious Transaction”</strong> means a transaction, including an attempted transaction on the Platform, which under TechnoApp's sole discretion:
        <ul class="li-bullet li-bullet-2">
        <li> give rise to a reasonable ground of suspicion that it may involve proceeds of a crime/an offense, regardless of the value involved; or</li>
        <li> appears to be made in circumstances of unusual or unjustified complexity or in contravention to any Applicable Law; or</li>
        <li> appears to have no economic rationale or bona fide purpose; or</li>
        <li> gives rise to a reasonable ground of suspicion that it may involve financing of the activities relating to terrorism. Terrorism includes transactions involving funds suspected to be linked or related to or to be used for terrorism, terrorist acts, or by a terrorist, terrorist organization, or those who finance or are attempting to finance terrorism.</li>
        </ul>
        </li>
        </div>
        <li><strong>1.9	“User Account”</strong> shall mean the account created on the Platform through which the User gives instructions for Crypto trading to TechnoApp.</li>
        </ul>
        </div>
        <h6 id="KYC Norms">2.	KYC Norms</h6>
        <ul>
        <li><strong> 2.1	</strong>KYC is the key principle for the identification of any individual opening and operating a User Account. KYC means to ‘Know Your Customer' which is an effective way for an institution to confirm and thereby verify the authenticity of a customer.</li>
        <li>
        <strong> 2.2	</strong>The customer identification should entail verification on the basis of documents and information provided by the customer. The objectives of KYC are as under:
        <ul class="li-bullet li-bullet-2">
        <li> To ensure appropriate customer identification,</li>
        <li> Monitor the transactions of a suspicious nature,</li>
        <li> Satisfy that the proposed customer is not an undischarged insolvent,</li>
        <li> Minimize frauds,</li>
        <li> Avoid opening Benami accounts with fictitious names and addresses, and</li>
        <li> Weed out undesirable customers.</li>
        </ul>
        </li>
        <h6 id="Declarations And Obligations">3.	Declarations and Obligations</h6>
        <h5 class="simple-text">3.1	Declarations and Disclosure of Information by TechnoApp</h5>
        <ul>
        <li><strong> 3.1.1 </strong> At the time You open an Account and opt to trade using the Platform, TechnoApp shall endeavor to identify and verify Your identity. To this effect, TechnoApp shall collect, and You, as the User shall provide, such documents and data, as requested by TechnoApp from time to time, to establish and verify the identity of the User / for KYC purposes / to establish and verify the nature of any Suspicious Transaction undertaken on the Platform. All data provided by You for KYC, and customer identification purposes or information on the Suspicious Transaction, shall be true, correct, and up-to-date. TechnoApp may also use/deploy various software and/or technology or other means, either directly or through its service providers/vendors to establish and verify Your identity and/or the documents/information provided by You. You hereby consent to any such identity verification and KYC checks.</li>
        <li><strong> 3.1.2 </strong> The documents and data for KYC and customer identification purposes shall be requested from the User and shall be accessed and used by TechnoApp as per this Policy, the Applicable Laws, and the <a href="#" class="url-1"> Privacy Policy </a>.</li>
        <li>
        <strong> 3.1.3 </strong> TechnoApp shall endeavor to verify, either itself or through third-party vendors/service providers, the identity and address of the Users along with the other details and documents submitted by You as may be legally/operationally tenable, including but not limited to using the following methods:
        <ul class="li-bullet li-bullet-2">
        <li> Tax Identity Document of the country; or</li>
        <li> Passport; or</li>
        <li> Citizenship Card; or</li>
        <li> Driving License; or</li>
        <li> Proof of Address valid in the respective country; or</li>
        <li>
        Any other document may be required by TechnoApp from time to time.
        </li>
        </ul>
        </li>
        </ul>
        <p class="mt-0">You as the User, hereby agree to provide the required documents and information for KYC checks in a timely manner, to create and to continue using the User Account through which the You may give instructions on the Platform.</p>
        <ul>
        <li><strong> 3.1.4 </strong> You acknowledge and agree that the foregoing list of documentation, verification, and information may be amended by TechnoApp by way of a notification/intimation, in its sole discretion from time to time, without prior notice.</li>
        <li><strong> 3.1.5 </strong> TechnoApp reserves the right to examine or request additional information and documents to establish your identity, and financial position, including sources of your funds and/or details of the Crypto Wallet to which you transferred / from where you received any Crypto, and you shall provide all assistance and cooperation in this regard. If you fail/refuse to comply with the requirements herein, TechnoApp shall not allow you to create or operate the user Account or carry out Crypto transactions through the platform.</li>
        <li><strong> 3.1.6 </strong> You agree to provide such additional documents as may be required by TechnoApp, to ensure compliance with any applicable laws or TechnoApp’ s policies or a request from any law enforcement authorities immediately, upon receipt of a written request from TechnoApp.</li>
        <li><strong> 3.1.7 </strong> You further represent, warrant, and agree to provide true, correct, and complete KYC documents, information, and data to TechnoApp / its delegates/agents/representatives.</li>
        <li><strong> 3.1.8 </strong> Where any transaction or series of transactions undertaken by you are considered as Suspicious Transaction(s) at the sole discretion of TechnoApp or TechnoApp reasonably perceives that it is likely to involve proceeds of crime or be used towards any illegal activity, or in an event, if TechnoApp receives requests/requisitions from any banking partner/ payment system provider or participant/ statutory/ regulatory/ supervisory/ law enforcement authority/ enforcement authority (“Authorities”), TechnoApp shall report all such Suspicious Transaction(s) to the Authorities, as well as use, retain and share your personal data, documents, and information available with TechnoApp with the Authorities, and block and freeze your access to the platform and your Account, and may also increase the future monitoring of such user account. You as the user, hereby undertake and warrant to provide all assistance, support, and cooperation in this regard including additional documents to verify the identity or the details of the transaction.</li>
        <li><strong> 3.1.9 </strong> TechnoApp does not allow the opening of or keeping any anonymous user accounts or creating any accounts under fictitious names or on behalf of other persons whose identity has not been disclosed, or cannot be verified, or more than one (1) account for a person.</li>
        </ul>
        <h5 class="simple-text" id="Your Obligations">3.2	Your Obligations</h5>
        <ul>
        <li><strong> 3.2.1 </strong> You agree to use the platform only for lawful and legal purposes as per this KYC/AML Policy, as amended from time to time, and the Applicable Laws.</li>
        <li><strong> 3.2.2 </strong> You shall not use the platform for any illegal or unlawful or criminal or anti-national purposes or for financing any such activity under any circumstance whatsoever</li>
        <li><strong> 3.2.3 </strong> You shall not impersonate another person or misrepresent yourself on the platform under any circumstance whatsoever.</li>
        <li><strong> 3.2.4 </strong> You undertake and warrant not to indulge in any benami transactions or any transactions that are in violation of any applicable laws, this policy or any other policy or instruction as issued by TechnoApp from time to time.</li>
        </ul>
        <h6 id="Purpose Of This Policy">4.	Purpose Of this Policy </h6>
        <p>In order to mitigate its risks relating to money laundering and other illegal activities, the Company intends to put in place this policy which has the following elements: </p>
        <ul>
        <ul class="li-bullet li-bullet-2">
        <li> Customer Acceptance Terms; and </li>
        <li> Risk Management Procedure; and </li>
        <li> Customer Verification Procedure; and</li>
        <li> Transaction Monitoring Terms.</li>
        </ul>
        </ul>
        <h6 id="Customer Acceptance Policy">5.	Customer Acceptance Policy (CAP)</h6>
        <h5 class="simple-text">5.1	Account Opening Procedures</h5>
        <ul>
        <li><strong> 5.1.1 </strong>National resident of the respective country can open an account with TechnoApp in that country and such account can only be accessed within the geographical territory and jurisdiction of such Country.</li>
        <li><strong> 5.1.2 </strong>The User has to provide the following before his/ her Account can be made operational:</li>
        <ul class="li-bullet li-bullet-2">
        <li> Tax Identification Document given by Income Tax Authorities of the home country,</li>
        <li> Documents for identification and proof of residence (Driving License/Passport/Citizenship card/other valid document),</li>
        <li> Live selfie from the camera.</li>
        </ul>
        <h5 class="h5-text">Please note that post account opening process, the User would be required to add and verify their bank account/UPI ID for making deposits/withdrawals</h5>
        <li><strong> 5.1.3 </strong>The above documents/data would help to establish the identity of the person opening the account but would not be sufficient to prepare a profile of expected activities in the account. Towards this, the following additional details may need to be collected while opening the Account:</li>
        <ul class="li-bullet li-bullet-2">
        <li> Annual income,</li>
        <li> Occupation,</li>
        <li> If Politically Exposed Person (PEP),</li>
        <li> Trading experience, and</li>
        <li> Marital status.</li>
        </ul>
        </ul>
        <ul>
        <li><strong> 5.1.4 </strong>The User's Account will only be made operational for the User to avail our services when such documents, information as mentioned above, or any other additional information as requested by TechnoApp has been verified as per the satisfaction of TechnoApp.</li>
        <li><strong> 5.2</strong> TechnoApp shall maintain an audit trail of any upload/modification/download.</li>
        <li><strong> 5.3	</strong>Safeguard measures taken by TechnoApp</li>
        <li><strong> 5.3.1	</strong>Before registering an account, we on a reasonable efforts basis ensure that:</li>
        <ul class="li-bullet li-bullet-2">
        <li> Such account is not under an anonymous or fictitious/benami name.</li>
        <li> No account is made operational, and the User is not allowed to avail our services in an event if we are unable to apply appropriate CDD measures, i.e. verify the User identity and/or obtain documents required or non-reliability of the documents/information furnished to TechnoApp, either due to non-cooperation of the User or non-reliability of the documents/information furnished by the customer.</li>
        <li> No account is opened, or trades are executed without following CDD procedure.</li>
        <li> The user's identity does not match with any person with a known criminal background or having any association/ relationship with banned entities/ persons such as individual terrorists or terrorist organizations etc.</li>
        </ul>
        </ul>
        <ul>
        <li><strong> 5.3.2 </strong> Users are not permitted to act on behalf of another user and can only transact on TechnoApp's platform on their own account, with their own funds, and for their own benefit. Users are not permitted to open any of the following:</li>
        <ul class="li-bullet li-bullet-2">
        <li> an anonymous account;</li>
        <li> an account under a fictitious name; or</li>
        <li> an account on behalf of other persons whose identity is undisclosed or unverifiable.</li>
        </ul>
        </ul>
        <ul>
        <li><strong> 5.3.3	</strong>TechnoApp at its sole discretion may review the user's Account and transactions for any Suspicious Transactions or in an event if TechnoApp receives a request for the same from authorities and based on TechnoApp's judgment or instruction from Authorities such Account may be suspended, frozen, blocked, disabled, or terminated.</li>
        <li><strong> 5.3.4	</strong>TechnoApp may, in its sole discretion, refuse to open any new accounts, suspend or terminate existing User Accounts after giving due notice, or refuse to process any transactions on the Platform if it is unable to ensure compliance with any of the aforementioned conditions, either due to non-cooperation by the user or due to the details provided by the user being found enlisted on any sanctions lists or unreliable or unverifiable to TechnoApp's satisfaction</li>
        <li><strong> 5.3.5	</strong>Requirements/obligations under international agreements &amp; Communication from international agencies: TechnoApp shall reasonably ensure that it does not have any account in the name of individuals appearing in the lists of individuals and entities, suspected of having terrorist links, which are approved by and periodically circulated by the United Nations Security Council (UNSC), other watchlists and sanctions lists.</li>
        </ul>
        <h6 id="Customer Identification Procedure (CIP)">6.	Customer Identification Procedure (CIP)</h6>
        <p>One of the objectives of the “KYC” and data/information collection norms being carried out by TechnoApp is to ensure appropriate Customer Identification. Customer Identification means undertaking the process of CDD. TechnoApp may need to obtain sufficient information necessary to establish, to its satisfaction, the identity of each User, whether regular or occasional and the purpose of the intended nature of the transaction being executed on/ through the Platform.</p>
        <p>Customer Identification Procedure is carried out at different stages while the Platform is accessed by the User and is not limited to instances when:</p>
        <ul>
        <ul class="li-bullet li-bullet-2">
        <li> Registering an Account,</li>
        <li> Periodic review of an Account,</li>
        <li> Any transaction is being executed by the user on the platform, and/or</li>
        <li> TechnoApp has a doubt about the authenticity/veracity or the adequacy of the earlier obtained user identification data.</li>
        </ul>
        </ul>
        <h6>6.1	User identification</h6>
        <p class="mt-0 pt-0">Identification of a User is an important prerequisite for registering and opening an Account. No account is allowed on the platform unless verification and due diligence of said user is successfully completed by TechnoApp.</p>
        <h5 class="simple-text"><strong> 6.1.1	What is Identity? </strong></h5>
        <p>Identity generally means a set of attributes that together uniquely identify a ‘natural’ or a ‘legal’ person. The attributes which help in the unique identity of a ‘natural’ or ‘legal’ person are called identifiers. Identifiers are of two types: a.) Primary and b.) Secondary.</p>
        <ul>
            <ul>
                <li><strong> a.	</strong>Primary Identifiers: Means and includes the name (in full), Date of Birth, Tax Identity Number, and Passport number/Voter Identity Card/Driving License as they help in uniquely establishing the identity of the person.</li>
                <li><strong> b.	</strong>Secondary Identifiers: Includes address, location, Nationality, and other such identification, as they help further refine the identity. User identification does not start and end at the point of application, but it is always an ongoing exercise. </li>
            </ul>
        </ul>
        <h5 class="simple-text"><strong> 6.1.2	What is Identification? </strong></h5>
        <p>Identification is the act of establishing who a person is:</p>
        <ul>
        <ul>
        <li><strong> a.	</strong>In the context of KYC, identification means establishing who a person purport to be.</li>
        <li><strong> b.	</strong>This is done by recording the information provided by the User covering the elements of his identity (i.e., name, and the address at which they can be located).</li>
        <li><strong> c. </strong>For undertaking CDD, the following shall be obtained from an individual while establishing a relationship. The features to be verified and the documents to be obtained for establishing the identity of a person are as under:</li>
        <ul class="li-bullet li-bullet-2">
        <li> Tax Identification Document, and</li>
        <li> Certified copy of an Officially Valid Document (OVD) or the equivalent e-document thereof containing the details of identity and address.</li>
        </ul>
        </ul>
        </ul>
        <h5 class="simple-text"><strong> 6.1.3	What is Verification?</strong></h5>
        <p>Verification of identity is the process of proving whether a person actually is who they claim to be. In the context of KYC, verification is the process of seeking satisfactory evidence of the identity of those with whom TechnoApp does business. This is done by carrying out checks on the correctness of the information provided by the customer.</p>
        <h5 class="simple-text"><strong> 6.1.4	Process of video-KYC </strong></h5>
        <p>In scenarios where the document provided by a User has some issues and cannot be validated using the automated solutions TechnoApp has in place, a video-KYC might be required from the User to validate the identity and authenticity of the document/ information submitted by them. We would also use the video-KYC process while performing enhanced due diligence wherever required.</p>
        <h5 class="simple-text"><strong> 6.1.5 Periodic updation of KYC </strong></h5>
        <p>Periodic updation of KYC of Users is performed at such intervals of time and using such processes/documents as decided by TechnoApp at its sole discretion. A risk-based approach for periodic updation of KYC is to be adopted:</p>
        <ul>
        <ul class="li-bullet li-bullet-2">
        <li> No change in KYC information: In case of no change in the KYC information, a self-declaration from the User in this regard shall be obtained through user's email id and mobile number registered with TechnoApp.</li>
        <li> Change in address: In case of a change only in the address details of the user, a self-declaration of the new address may be obtained from the user through the user's email id and mobile number registered with TechnoApp along with valid proof to be submitted by the user for the change in such address.</li>
        <li> Change in contact information like a phone number or email address: In case of a change in the contact details of the user, the user can reach out to TechnoApp to get the details updated, along with valid proof of change and demonstrating ownership of the Account for which the details are to be updated.</li>
        </ul>
        </ul>
        <h6>6.2	Types of CDD</h6>
        <p>There are 2 types of Customer Due Diligence (CDD) that can be used in accordance with the risk category of the customer.</p>
        <ul>
        <li><strong> 6.2.1 Basic Due Diligence </strong> means the collection and verification of identity proof, address proof, and a photograph to establish the identity of the User. This is done on the basis of the documents and information submitted by the user.</li>
        <li><strong> 6.2.2 Enhanced Due Diligence (EDD) </strong> means additional diligence measures undertaken over and above the Basic Due Diligence. Steps under EDD shall include but will not be limited to checking if a User falls under the category of Politically Exposed Persons (PEPs), or is associated with any terrorist activities/groups, monitoring the account activity of such users, etc.</li>
        </ul>
        <p>TechnoApp shall conduct Basic Due Diligence, EDD, or any other due diligence activity or measures which under its sole discretion and/ or under Applicable Laws is required for a User registering or using the Platform.</p>
        <h6 id="Anti-Money Laundering Standards">7.	Anti-Money Laundering Standards</h6>
        <p>TechnoApp is vigilant in the fight against money laundering and under its best judgment implements processes not allowing any person to use the Platform for money laundering and terrorist financing activities.</p>
        <h5 class="simple-text">7.1	Steps taken to prevent Money-Laundering activities and Terrorist Financing</h5>
        <p>TechnoApp has implemented steps as described below with an objective to prevent any money laundering activity and/or terrorist financing on the Platform. Such processes being implemented are exhaustive in nature and are subject to change as required under any Applicable Law and/or as per TechnoApp's sole discretion.</p>
        <div class="border-sec border-sec-2">
        <h5 class="simple-text">TechnoApp may perform ongoing monitoring for the below sample scenarios:</h5>
        <ul>
        <li><strong> a.	</strong>Deposits from multiple bank accounts or UPI IDs</li>
        <li><strong> b.	</strong>Withdrawals to multiple bank accounts</li>
        <li><strong> c.	</strong>Very frequent deposits or withdrawals</li>
        <li><strong> d.	</strong>Deposits and withdrawals without performing any trades</li>
        </ul>
        </div>
        <h6 id="Monitoring Of Transactions - On-Going Due Diligence">8.	Monitoring of Transactions - On-going Due Diligence</h6>
        <ul class="padd_0">
        <li><strong> 8.1 </strong>Monitoring and supervision of the Account in the event of any suspicious activity is detected is essential. </li>
        <li><strong> 8.2 </strong> As part of the ongoing due diligence process, TechnoApp may monitor account activities undertaken by a user through the platform to reasonably ensure that they are consistent with their knowledge of the user, its risk profile, and where necessary, the source of funds. </li>
        <li><strong> 8.3 </strong>When there are suspicions of money laundering or financing of activities relating to terrorism or where there are doubts about the adequacy or veracity of previously obtained user identification data, TechnoApp may review the due diligence measures including reverifying your identity and may request additional information. You, the user hereby confirm that you shall provide all such information, as and when requested by TechnoApp.</li>
        <li><strong> 8.4 </strong>Monitoring customer activity and transactions throughout the relationship helps us to know their customers, assess risk, and provide assurance that TechnoApp is not being used for the purposes of financial crime. However, the extent of monitoring shall be aligned with the risk category of the customer. High-risk accounts have to be subjected to more intensified monitoring.</li>
        <li><strong> 8.5 </strong>Without prejudice to the generality of factors that call for close monitoring following types of transactions shall necessarily be monitored, whereas on basis of monitoring activities conducted by TechnoApp as described under this Policy, any Account may be frozen or suspended / user access might be blocked or terminated as decided by TechnoApp under its sole discretion: </li>
        <ul class="li-bullet">
        <li> Very high account turnover inconsistent with the size of the balance maintained.</li>
        <li> Special attention should be paid to the complex, unusually large transaction and all unusual patterns, inconsistent with the normal and expected activity of the User, which have no apparent economic rationale or lawful purpose.</li>
        </ul>
        </ul>
        <ul>
        <li><strong> 8.6 </strong>TechnoApp may enable alerts when the transactions are inconsistent with risk categorization and the updated profile of the customers shall be put into use as a part of effective identification and reporting of suspicious transactions.</li>
        </ul>
        <h6 id="Contact &amp; Compliance Officer">9.	Contact &amp; Compliance Officer</h6>
        <ul class="padd_0">
        <li>
        <strong> 9.1 </strong>TechnoApp has appointed a ‘Principal / Compliance Officer’ to ensure overall compliance with the obligations imposed herein and under any Applicable Laws. Our Compliance Officer is available at <a href="mailto:compliance.finance@@TechnoApp.com"  class="url-1"> compliance.finance@@TechnoApp.com</a>.
        </li>
        <li><strong> 9.2 </strong>In case of any complaint or queries with respect to this Policy or to report any suspicious or illegal activity of a user within your knowledge, you may write to us at <a href="mailto:support@@TechnoApp.com" class="url-1"> support@@TechnoApp.com </a>.</li>
        </ul>
        <h6 id="Risk Management By Periodic Review">10.	Risk Management by Periodic Review</h6>
        <ul class="padd_0">
        <li><strong> 10.1	</strong>Identification of a customer is an important prerequisite for opening an account. Non-adherence to this may lead to risks e.g., frauds, money laundering, inadvertent overdrafts, and Benami/fictitious accounts.</li>
        <li><strong> 10.2	</strong>Non-compliance of monitoring of the transactions exceeding the threshold limit and non-recording of the transactions may result in intentional splitting/structuring of transactions to evade taxes, money laundering, and financing of terrorist activities.</li>
        <li><strong> 10.3	</strong>TechnoApp may carry out ‘Money Laundering (ML) and Terrorist Financing (‘TF') Risk Assessment' periodically to identify, assess and take effective measures to mitigate money laundering and terrorist financing risk for Users, countries or geographic areas, and products, services, transactions, or delivery channels that is consistent with any national risk assessment conducted by a body or authority duly notified by the Central Government.</li>
        <li><strong> 10.4	</strong>TechnoApp, as a best industry practice and under its sole discretion categorizes the users under low, medium, and high-risk categories, based on the assessment and risk perception. TechnoApp should prepare the profile of the customer which should contain information relating to the customer's identity, social/financial status, nature of the business activity, and risk categorization shall be undertaken based on these parameters.</li>
        <li><strong> 10.5	</strong>All user accounts should be periodically updated based on their risk category. Unless otherwise required under this policy or under applicable law or for complying with any request of authorities, at present, the periodicity of such updation should not be less than once in five (5) years in the case of low-risk category customers, and not less than once in two (2) years in case of high and medium risk categories. TechnoApp reserves the right to change the above periodicity at any time and from time to time in its sole discretion.</li>
        <li><strong> 10.6	</strong>While considering the customer's identity, the ability to confirm identity documents through online or other services offered by the issuing authorities may also be factored in. The customer profile will be a confidential document and details contained therein shall not be divulged for cross-selling or any purposes other than those specified in this KYC/AML Policy, Terms of Service, Privacy Policy, or any other policies of TechnoApp made available on the Platform or otherwise informed to the user from time to time.</li>
        <li><strong> 10.7	</strong>TechnoApp may take a view on risk categorization of each customer into low, medium, and high-risk categories depending on their experience, expertise in profiling of the customer based on their understanding, judgment, assessment, and risk perception of the customer and not merely based on any group or class they belong to.</li>
        <li><strong> 10.8	</strong>The risk assessment carried out by TechnoApp shall:</li>
        <ul class="li-bullet li-bullet-2">
        <li> be reasonably documented;</li>
        <li> consider all the relevant risk factors before determining the level of overall risk and the appropriate level and type of mitigation to be applied;</li>
        <li> be kept up to date; and</li>
        <li> be available to competent authorities and self-regulating bodies/Authorities, if and as required under Applicable Laws.</li>
        </ul>
        </ul>
        <h6 id="Internal Controls">11.	Internal Controls</h6>
        <h5 class="simple-text">11.1	Preservation of Record / Record Management</h5>
        <ul>
        <li><strong> 11.1.1 </strong> TechnoApp shall reasonably ensure that all information received for the purpose of identification or due diligence is used by it in accordance with TechnoApp's terms and conditions applicable. TechnoApp shall also take necessary reasonable steps for maintenance, preservation, and reporting of user information per the internal policies and standard operating procedures of TechnoApp.</li>
        <li><strong> 11.1.2 </strong> In addition, the confidentiality, security, and protection against access, use, and disclosure (including publication or display) of all information of a user, collected or created by TechnoApp shall be kept in accordance with applicable law.</li>
        <li><strong> 11.1.3 </strong> TechnoApp shall collect and maintain records, in the form of books or stored in a computer, of Your identity proof along with all documents and information provided by You and of all the transactions undertaken by You on the Platform, as required under the Applicable Laws/good industry practices.</li>
        <li><strong> 11.1.4 </strong>TechnoApp shall maintain and report to Authorities the records of:</li>
        <ul class="li-bullet li-bullet-2">
        <li> the KYC details, documents, and data of all users who open a user account on the platform;</li>
        <li> the KYC details, documents, and data of all users who undertake a transaction on the platform; or</li>
        <li> Your transactions on the platform.</li>
        </ul>
        </ul>
        <ul>
        <li><strong> 11.1.5	</strong>Notwithstanding anything to the contrary contained in the Terms of Use or Privacy Policy, any information obtained while undertaking the due diligence measures under this Policy or during registration/creation/ongoing due diligence of your account shall be maintained for the duration of the account is operational, and for a period of 5 (five) years from the date the account ceases to exist or such longer period as may be specified under any applicable law/authority.</li>
        </ul>
        <h5 class="simple-text">11.2	TechnoApp shall make available the identification records and transaction data to the authorities upon request.</h5>
        <h5 class="simple-text">11.3	If TechnoApp:</h5>
        <ul class="li-bullet li-bullet-2">
        <li> suspects transactions of being involved in ML or TF, or</li>
        <li> doubts the adequacy or veracity of previously obtained identification data</li>
        </ul>
        <p>necessary steps will be taken to review the due diligence measures undertaken by TechnoApp or the information obtained (on the purpose and intended nature of the business relationship) from the User.</p>
        <h5 class="simple-text">11.4	Hiring of Employees</h5>
        <p>Adequate screening mechanisms as an integral part of their personnel recruitment/hiring process shall be put in place to ensure high standards and equal and fair opportunity when hiring employees.</p>
        <h5 class="simple-text">11.5 Employee training</h5>
        <ul>
        <li><strong> 11.5.1	</strong>Employee training programs are put in place so that the members of concerned staff are adequately trained in KYC/AML/CFT policy. The focus of the training could be different for frontline staff, compliance staff, risk management staff, Audit staff, and staff dealing with new customers. The front desk staff is trained to handle issues arising from a lack of customer education. Proper staffing of the audit function with persons adequately trained and well-versed in KYC/AML/CFT policies, regulations, and related issues also ensure its proper implementation. e-Learning modules have been introduced for increased awareness.</li>
        <li><strong> 11.5.2	</strong>We have taken every effort to ensure that this policy adheres to the applicable laws. The invalidity or unenforceability of any part of this policy shall not prejudice or affect the validity or enforceability of the remainder of this policy. This policy does not apply to any information other than the information collected by TechnoApp through the platform.</li>
        </ul>
        <br>
        <h6 id="Modifications">12.	Modifications</h6>
        <ul class="padd_0">
        <li><strong> 12.1	</strong>These terms may be periodically reviewed and revised. The revised draft will be uploaded on the TechnoApp website and will reflect the modified date of the terms. The user is required to periodically visit the website and review terms and any changes thereto.</li>
        <li><strong> 12.2	</strong>Continued use of the Services constitutes the agreement of User to the terms contained herein and any amendments thereto.</li>
        <li><strong> 12.3	</strong>This agreement or the responsibilities or benefits arising therefrom cannot be assigned by User save and except with the prior written consent of TechnoApp.</li>
        </ul>
        <h6 id="Schedule-I">Schedule-I</h6>
        <h5 class="simple-text">Documents required for KYC </h5>
        <p class="mt-0">User is required to submit following documents to verify its identity on TechnoApp portal:</p>
        <div class="border-sec">
        <h5 class="simple-text"><strong> A. For Individual User: </strong></h5>
        <ul class="li-bullet-2">
        <li><strong> 1. </strong>For Identity Proof: Tax Identification Document</li>
        <li><strong> 2. </strong>For Address Proof: Any one of the following:</li>
        <ul>
        <li><strong> a. </strong>Passport; or</li>
        <li><strong> b. </strong>Other Valid Address Proof valid in respective country.</li>
        </ul>
        <li><strong> 3. </strong>Any other document that may be required by TechnoApp from time to time</li>
        <li><strong> 4. </strong>Clear Selfie of the user for face recognition</li>
        </ul>
        </div>
        <div class="border-sec border-sec-2">
        <h5 class="simple-text"><strong> B. For other than Individual i.e a Firm, Limited Liability Corporation, Inc. </strong></h5>
        <ul class="li-bullet-2">
        <li><strong> 1.	</strong>Certificate of Formation/registration</li>
        <li><strong> 2.	</strong>Tax Document in name of entity</li>
        <li><strong> 3.	</strong>Address Proof: Latest Electricity Bill, Tax Document of Corporation</li>
        <li><strong> 4.	</strong>Copy of Articles or By-laws of the entity</li>
        <li><strong> 5.	</strong>List of Director/partner/trustee/members of the entity</li>
        <li><strong> 6.	</strong>Written Resolution/Letter of Authority to authorize official to represent the entity</li>
        <li><strong> 7.	</strong>Authorized person documents as per point ‘A’ above</li>
        <li><strong> 8.	</strong>Copy of Bank Statement of cancelled cheque in name of entity</li>
        <li><strong> 9.	</strong>Any other document that may be required by TechnoApp from time to time</li>
        <li><strong> 10.</strong> Clear Selfie of the Authorized signatory for face recognition.</li>
        </ul>
        </div>
        <h5 class="h5-text">Note: All documents must be self-attested by the user. </h5>
        <h5 class="simple-text appex-txt">This Policy is applicable on List of Countries as per <a href="#">Appendix-I</a></h5>
        </ul></div>
        </div></section>
    <!-- // policy page -->


  <!-- ========= Footer Section ========= -->
    <section class="section-footer bg1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> TechnoApp Community</div>
                    <ul>
                        <li><a href="#"> TechnoApp Webinars</a></li>
                        <li><a href="#">Media Library </a></li>
                        <li><a href="#"> Airdrop Programe </a></li>
                        <li><a href="#">Referral Programe</a></li>
                        <li><a href="#">Press Release</a></li>
                    </ul>
                    </div>

                </div>
                </div>


                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Products & Services</div>
                    <ul>
                        <li><a href="#"> Institutional Services </a></li>
                        <li><a href="#"> TechnoApp Academy</a></li>
                        <li><a href="#">TechnoApp Labs</a></li>
                        <li><a href="#">TechnoApp API</a></li>

                    </ul>
                    </div>


                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Policies</div>
                    <ul>
                        <li><a href="#"> Terms of use </a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#"> AML/KYC Policy </a></li>
                        <li><a href="#">Referral Policy</a></li>
                        <li><a href="#">Licences</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Support</div>
                    <ul>

                        <li><a href="#"> Trading Rules </a></li>
                        <li><a href="#">Fees & Charges</a></li>

                        <li><a href="#">FAQs</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Follow Us</div>
                    <div class="social-link">
                    <span><a href="https://www.facebook.com/TechnoApp" > <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
                    <span><a href="https://www.twitter.com/TechnoApp" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
                    <span><a href="https://www.linkedin.com/company/TechnoApp/" ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a></span>
                    <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube </a></span>
                </div>
                    </div>

                </div>
                </div>

            </div>
        <!-------------------------------------------------->
        <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Support</button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <div class="chat-box">
                <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button"
                    class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle"
                        aria-hidden="true"></i></button> </span></div>

            </div>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>

            </form>
        </div>
        <!-------------------------------------------------->
        </div>
        <div class="container">
        <div class="x__footer__content-center row">
            <div class="col col-md-12 col-12">
            <div class="x__copyright">
                <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
                <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>. All rights reserved. </div>
            </div>
            </div>
        </div>
        </div>
    </section>
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->



  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>

