
  <!-------------Outer-section---------------------->
  <!-- Back to top button -->
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fa fa-arrow-up"></i>
  </button>
  <!-- // back to top button -->

  <!-------------------------------------------->
  <!-----------------top section start ----------->
  <section class="top-section">
    <div class="container-fluid">
      <div class="row">
        <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
            Rewards</a>
        </div>
      </div>

    </div>
  </section>
  <!----------------------menu section---------------------------->
    <section class="menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>

                <div class="col-md-7">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="menu">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Buy Crypto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Academy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> Trading Fees</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23" class=" sub-menu23">
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png">
                                    </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br>
                                        solutions for our Institutional clients </p></span></a></li>
                                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp
                                        APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.
                                        </p></span></a></li>

                                </div>

                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit
                                        Trading Strategies and <br>Trade Like a Pro. </p></span>
                                    </a></li>
                                <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
                                </div>
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>
                                        TechnoApp Labs Empowering the Web 3.0 </p></span></a></li>
                                </div>
                            </div>
                            </ul>
                        </li>
                        </ul>

                    </div>
                    </div>
                </nav>
                </div>
                <div class="col-md-4">
                <form>
                    <div id="top-navbar" class="top-navbar">
                    <div class="top-navbar">
                        <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a></span>
                        <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Signup </a></span>

                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ENG
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">
                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>

                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>


                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>
                        <span>|</span>
                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            USD
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">




                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CHF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/BRL.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/USD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/AUD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CAD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CLP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CNY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CZK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/DKK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/EUR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                </div>


                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/GBP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MYR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>


                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HKD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HUF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/IDR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/ILS.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/INR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/JPY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/KRW.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MXN.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>

                        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                    </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
    </section>
  <!-- ===== // Menu section ===== -->


  <!-- ==== Page Name section ==== -->
  <!-- <section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="css566-heading mb-3">
            <h2> Media Library </h2>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- // Page name section -->


  <!-- Start Media Page -->
  <section class="blog-section inner-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 content-section">
                <div class="blog-col-8 inner-blog-col">
                    <h2> 3 Reasons to Invest in Early Crypto Projects </h2>
                    <!-- <h5 class="heading-5"> Metatile: Acquiring TechnoSavvy can make you rich shortly: Here is why? </h5> -->
                    <ul>
                        <li><a href="#"><i class="fa fa-thumbs-up"></i> Like </a></li>
                        <li><a href="#"><i class="fa fa-comment"></i> Comment </a></li>
                        <li><a href="#"><i class="fa fa-share"></i> Share </a></li>
                    </ul>
                    <br>
                    <img src="/images/top-3-reasons-blog.gif" alt="image">
                    <p> Crypto Market is not a get-rich-quick scheme. However, the right investment strategy and entering the market at the right time can make you filthy rich. The most important thing that matters in this volatile market is your timing.  </p>
                    <p> Though investing in a new crypto token is a high-risk game, it can yield enormous wealth too. Take it any successful cryptocurrency, Ether or Bitcoin. Investors realising the true potential of such digital assets are the ones who make fortunes out of it. </p>

                    <h3> Why Should You Invest in Early Crypto Projects? </h3>
                    <p> The unexpected crypto market can lead you to enormous wealth, provided you opt for the investment after thorough research or else be ready to lose your capital. Locating the upcoming gem at an early stage can help you generate implausible returns. </p>
                    <h3>1. Ride The Early Wave </h3>
                    <p> The crypto market has been established thanks to pioneers such as Bitcoin and Ethereum. Because of rising adoption, the popularity of a potential crypto project spreads like wildfire resulting in a sudden price increment. The claimant for the maximum benefits becomes the one who boards the first wave. </p>
                    <h3>2. Diversified Portfolio </h3>
                    <p> Crypto Market is a high-risk, high-return game. It can generate incredible returns and also vanish your entire capital within a few hours. Thus, it is advisable that you invest after thorough research. Investing at the infancy stage diversifies your portfolio at an economical cost which can uphold your entire investment in the fall. </p>
                    <h3> High Yield </h3>
                    <p> Bitcoin has given a return of 4686% over the past 5 years. However, the return of even 50% is unimaginable in any traditional market. The data shows how fruitful it is to invest in a crypto asset. But because of its volatile nature, it becomes a high-risk- high-return asset class too. If you could locate a high-return cryptocurrency at an early stage, you can yield astonishing returns at a very economical cost. </p>

                    <h6 class="heading-6"> TechnoSavvy is an example of an excellent digital asset that can bring all the above-mentioned benefits. </h6>
                    
                    <h3> Why TechnoSavvy is a Lucrative Long-Term Investment?  </h3>
                    <p> TechnoSavvy has an excellent utility on TechnoApp, making it price inflationary in nature. </p>
                    <p> TechnoSavvy has an excellent utility on TechnoApp, making it price inflationary in nature. </p>
                    <p> This means the token's price appreciates with each trade being executed on the exchange. Apart from the benefits mentioned above, it brings privileged aid to early TechnoSavvy investors. </p>
                    <h6 class="heading-6"> Add more about capital appreciation of TechnoSavvy here (few lines atleast) </h6>
                    <p> Investing in TechnoSavvy in the initial stage can unlock mind-boggling staking benefits and grow your capital by many folds.   </p>
                    <p> Staking benefits include an assured cashback of 10X and a 50% reduced transaction fees.  </p>
                    <p> The growth of the native utility token is correlated with TechnoApp daily trading volume. Incredible benefits offered to the community encourage traders to trade consistently, generating continuous demand for the TechnoSavvy token. You can leverage your capital and grow exponentially by investing at this stage.  </p>

                    <h3> Final Words </h3>
                    <p> We all have heard the power of compounding. It works to its fullest when the investment is made at an early stage. TechnoApp is currently in its development phase, and breathtaking benefits such as cashback on each trade and the lowest transaction fees will lead it to an exponential rise. </p>
                    <p> TechnoSavvy growth is correlated with the TechnoApp. With increasing trading volume, capital invested in the native utility token is also expected to rise. </p>
                </div>
                <br>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog-col-4">
                    <div class="stay-connected head-bg">
                        <h6> Stay Connected </h6>
                        <div class="border-line"></div>
                        <ul>
                            <li><a href="https://www.facebook.com/TechnoApp" ><img src="/images/facebook-icon.png" alt="image"></a></li>
                            <li><a href="https://www.twitter.com/TechnoApp" ><img src="/images/twitter-icon.png" alt="image"></a></li>
                            <li><a href="https://www.linkedin.com/company/TechnoApp/" ><img src="/images/linkedin-icon.png" alt="image"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><img src="/images/youtube-icon.png" alt="image"></a></li>
                            <li><a href="https://t.me/nav_exm" ><img src="/images/telegram.png" alt="image"></a></li>
                        </ul>
                        <br>
                    </div>
                    <div class="latest-blog head-bg">
                        <h6> Latest Blog </h6>
                        <div class="border-line"></div>
                        <div class="row latest-blog-list top-blog">
                            <a href="best-altcoin-blog.html" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-1.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> 2022 Best Altcoin: Ground-Breaking Utility Makes TechnoSavvy an Inflationary Token  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="reasons-to-invest" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-2.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> 3 Reasons to Invest in Early Crypto Projects  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="an-introduction-to-TechnoApp" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-3.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="why-should-you-invest" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-4.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Why Should You Invest in Crypto Winter? </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="earn-high-returns" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-5.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Earn High Returns by Staking Crypto: TechnoSavvy Staking Benefit</p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a href="the-new-trends-blog.html" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-6.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> The new trends in crypto and blockchain technology  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="things-to-consider" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-7.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> Things to Consider Before Investing in Crypto  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="what-is-value" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-8.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> What is Value Variance Inflationary Token?  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                        <div class="row latest-blog-list">
                            <a asp-controller="blog" asp-action="what-makes-TechnoSavvy-gold" >
                                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                                    <img src="/images/blog-9.png" alt="image">
                                </div>
                                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                                    <p> What Makes TechnoSavvy A Gold Standard Coin?  </p>
                                    <span class="url-1"> October 31, 2022 </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- // blog section -->

  <!-- // Start Media Page -->


  <!-- ========= Footer Section ========= -->
    <section class="section-footer bg1">
        <div class="container">
        <div class="row">
            <div class="col-md-3 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> TechnoApp Community</div>
                <ul>
                    <li><a href="#"> TechnoApp Webinars</a></li>
                    <li><a href="#">Media Library </a></li>
                    <li><a href="#"> Airdrop Programe </a></li>
                    <li><a href="#">Referral Programe</a></li>
                    <li><a href="#">Press Release</a></li>
                </ul>
                </div>

            </div>
            </div>


            <div class="col-md-3 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title">Products & Services</div>
                <ul>
                    <li><a href="#"> Institutional Services </a></li>
                    <li><a href="#"> TechnoApp Academy</a></li>
                    <li><a href="#">TechnoApp Labs</a></li>
                    <li><a href="#">TechnoApp API</a></li>

                </ul>
                </div>


            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title">Policies</div>
                <ul>
                    <li><a href="#"> Terms of use </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#"> AML/KYC Policy </a></li>
                    <li><a href="#">Referral Policy</a></li>
                    <li><a href="#">Licences</a></li>
                </ul>
                </div>

            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> Support</div>
                <ul>

                    <li><a href="#"> Trading Rules </a></li>
                    <li><a href="#">Fees & Charges</a></li>

                    <li><a href="#">FAQs</a></li>
                </ul>
                </div>

            </div>
            </div>

            <div class="col-md-2 co-xs-12">
            <div class="footer-box">
                <div class="footer-list">
                <div class="footer-title"> Follow Us</div>
                <div class="social-link">
                    <span><a href="https://www.facebook.com/TechnoApp" > <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
                    <span><a href="https://www.twitter.com/TechnoApp" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
                    <span><a href="https://www.linkedin.com/company/TechnoApp/" ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a></span>
                    <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube </a></span>
                </div>
                </div>

            </div>
            </div>

        </div>
        <!-------------------------------------------------->
        <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Support</button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <div class="chat-box">
                <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button"
                    class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle"
                        aria-hidden="true"></i></button> </span></div>

            </div>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>

            </form>
        </div>
        <!-------------------------------------------------->
        </div>
        <div class="container">
        <div class="x__footer__content-center row">
            <div class="col col-md-12 col-12">
            <div class="x__copyright">
                <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
                <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>. All rights reserved. </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/vertical-tab.js"></script>

