
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->
    <section class="top-section">
        <div class="container-fluid">
        <div class="row">
            <div class="reward-div"> <a href="#"> <i class="fa fa-gift" aria-hidden="true"></i> Register now - Enjoy Welcome
                Rewards</a>
            </div>
        </div>

        </div>
    </section>
  <!----------------------menu section---------------------------->
    <section class="menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/images/b-logo.png"></a></div>

                <div class="col-md-7">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="menu">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Buy Crypto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Academy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> Trading Fees</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link sub-menu22 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23" class=" sub-menu23">
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/bank.png">
                                    </span><span>Institutional Access<p>TechnoApp offers unrivalled digital asset tailored<br>
                                        solutions for our Institutional clients </p></span></a></li>
                                <li><a class="dropdown-item" href="#"><span><img src="/images/api.png"></span> <span> TechnoApp
                                        APIs <p>Create, Connect, and Trade on the Go.<br> APIs to power your advanced trading.
                                        </p></span></a></li>

                                </div>

                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <spna><img src="/images/trade2.png"></spna><span> Strategic Trading <p> Create High-Profit
                                        Trading Strategies and <br>Trade Like a Pro. </p></span>
                                    </a></li>
                                <li><a class="dropdown-item" href="#"> <img src="/images/funds.png"> Strategic Funds</a></li>
                                </div>
                                <div class="col-md-4 col-12">
                                <li><a class="dropdown-item" href="#"><span><img src="/images/lab.png"></span><span> Labs <p>
                                        TechnoApp Labs Empowering the Web 3.0 </p></span></a></li>
                                </div>
                            </div>
                            </ul>
                        </li>
                        </ul>

                    </div>
                    </div>
                </nav>
                </div>
                <div class="col-md-4">
                <form>
                    <div id="top-navbar" class="top-navbar">
                    <div class="top-navbar">
                        <span class="login-top"><a asp-controller="login" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </a></span>
                        <span class="login-top"><a href="sign-up.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Signup </a></span>

                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ENG
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">
                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>

                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>


                                <div class="col-md-4 col-sm-4 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">English (India)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Bahasa Indonesia</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Español
                                            (Internacional)</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>
                        <span>|</span>
                        <span>
                        <div class="dropdown">
                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            USD
                            </button>
                            <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                            <div id="sub-menu23 " class=" sub-menu23">




                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CHF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CHF - FR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/BRL.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">BRL - R$</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd active">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/USD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">USD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/AUD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">AUD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CAD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CAD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CLP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CLP - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CNY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CNY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/CZK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">CZK - KČ</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>


                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/DKK.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DKK - KR</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/EUR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">EUR - €</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                </div>


                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/GBP.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">GBP - £</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MYR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MYR - RM</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>


                                    </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HKD.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HKD - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/HUF.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">HUF - FT</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/IDR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">IDR - RP</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>



                                <div class="col-md-3 col-sm-3 col-12">
                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/ILS.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">ILS - ₪</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">

                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/INR.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">INR - ₹</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>

                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/JPY.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">JPY - ¥</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/KRW.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">KRW - ₩</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                <li><a class="dropdown-item" href="#">
                                    <div class="css222-usd">
                                        <div class="form-check form-switch">
                                        <div class="css222-usd-img"><img src="/images/usd/MXN.png"></div>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">MXN - $</label>
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    </a></li>

                                </div>
                            </div>
                            </ul>

                        </div>
                        </span>

                        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>

                    </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h2> Referral Program </h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li> Home &nbsp; ></li>
                            <li> Referral Program </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <div class="page bg1">
        <section class="card-hero1">
        <div class="container">
        <div class="row"> 
        <div class="col-lg-7 col-md-12 col-sm-12 col-12  order-lg-0 order-md-2 order-sm-1 order-1">
         <div class="main-banner-content pt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-main aos-init new-text" data-aos="fade-up">
        <h4>
        <span>TechnoApp Referral Program</span><br>
        Invite your Friends &amp; Earn Free TechnoSavvy for them &amp; yourself.
        </h4>
        <p>
        TechnoApp’s Referral Program set forth basic Terms &amp; Conditions which is to be followed
        to avail TechnoApp referral bonus. User can refer to <a href="/en-us/Policy/ReferralPolicy" >TechnoApp Referral Policy</a> for detailed
        information. Come and Join TechnoApp Referral Program as It benefits Referrer and
        Referee both!!!
        </p>
        </div>
        </div>
        </div>
        <div class="col-lg-5 aos-init img1" data-aos="fade-up-right">
        <img src="/images/image-header.png" alt="" class="aos-init" data-aos="fade-up-right">
        </div>
        </div>
        </div>
        </section>
        </div>

        <section class="content bg2">
            <div class="container">
            <h6 class="aos-init aos-animate" data-aos="fade-up-right">Referral Bonus</h6>
            <p class="aos-init aos-animate" data-aos="zoom-in">
            User may avail Bonus as follows on referring a Friend:
            In order to avail Referral Bonus, User is required to refer or share his referral code within his community/circle and once such referred person becomes an active trader by
            making a transaction of at least $10 (USD) within a period of 30 days from the date of registration then both the users i.e., Referrer and Referee will get TechnoSavvy Tokens worth
            $1 (USD) in their wallets.
            </p>
            <h6 class="aos-init" data-aos="fade-up-left">PERPETUAL COMMISSIONS</h6>
            <p class="aos-init" data-aos="zoom-in-up">A registered user is eligible to earn more bonus in the form of Commissions which will be paid on monthly basis on fulfillment of certain conditions as.</p>
            <table id="customers" class="aos-init" data-aos="flip-up">
            <thead>
                <tr>
                    <th width="7%">S.No.</th>
                    <th width="43%">Condition</th>
                    <th width="50%">Commission</th>
                </tr>            
            </tbody>
            <tbody>
                <tr>
                    <td class="text-center"><b>1.</b></td>
                    <td>On referring 5000 Active Users</td>
                    <td>20% of Trading Fees will be paid as Commission</td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>2.</b></td>
                    <td>
                    On referring minimum 5000 Active Users and not more than
                    20,000
                    </td>
                    <td>30% of Trading Fees will be paid as Commission</td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>3.</b></td>
                    <td>
                    On referring minimum 20,000 Active Users and not more than
                    100,000
                    </td>
                    <td>40% of Trading Fees will be paid as Commission</td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>4.</b></td>
                    <td>On referring more than 100,000</td>
                    <td>50% of Trading Fees will be paid as Commission</td>
                    </tr>
            </tbody>
            </table>
            <p class="aos-init" data-aos="flip-right">
            For the payment of Perpetual Commissions, Active User must be a user who is executing a trade minimum of $10(USD) in a month on TechnoApp.<br><br>
            Any registered user who is referring less than 5000 Active Users, will not be eligible to earn any Perpetual Commission but will certainly earn TechnoSavvy Tokens referral bonus
            equivalent to $1(USD) on each active referee. Further, the same user will also be eligible to earn TechnoSavvy Tokens worth $10 (USD) on each 100 Active Referees.
            </p>
            </div>
            </section>

            <section class="content aos-init aos-animate bg1" data-aos="zoom-out-up">
                <div class="bg-refer ">
                <div class="container">
                <h5>How to refer?</h5>
                <h4>
                In order to refer TechnoApp within your community, please<br>
                follow below mentioned steps.
                </h4>
                <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">1</div>
                <p>Visit</p>
                <p><a href="/home/index">TechnoApp™</a></p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-left">
                <div class="bg-colume">
                <div class="number_4">2</div>
                <p>
                Register with TechnoApp<br>
                using Email id and<br>
                Password
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                 <div class="bg-colume">
                <div class="number_4">3</div>
                <p>
                Scroll Down to Referral<br>
                section. Generate and<br>
                copy your unique<br>
                Referral Link.
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">4</div>
                <p>
                Share the link within<br>
                your community so<br>
                that they can register<br>
                on TechnoApp.
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                <div class="bg-colume">
                <div class="number_4">5</div>
                <p>
                Make required<br>
                transaction using<br>
                existing wallet.
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">6</div>
                <p>
                Both of them receives<br>
                Referral Bonus in<br>
                their wallets.
                </p>
                </div>
                </div>
                <div class="col-12">
                <form class="newsletter-form">
                <input type="email" class="input-newsletter" placeholder="Get Referral Code">
                <button type="submit">Copy <i class="fa fa-files-o"></i></button>
                <div id="validator-newsletter" class="form-result"></div>
                </form>
                </div>
                </div>
                </div>
                </div>
                </section>

                <section class="content mb-5 bg1">
                    <div class="container">
                    <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up-right">
                    <p>One User can refer as many friends as he wants in order to generate more bonuses for themselves and their friends.</p>
                    <h6>When will the Bonus be paid</h6>
                    <p>Bonus will be added to the user’s respective wallets within a specific time period.</p>
                    </div>
                    </div>
                    </div>
                    </section>
    <!-- // policy page -->


  <!-- ========= Footer Section ========= -->
    <section class="section-footer bg1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> TechnoApp Community</div>
                    <ul>
                        <li><a href="#"> TechnoApp Webinars</a></li>
                        <li><a href="#">Media Library </a></li>
                        <li><a href="#"> Airdrop Programe </a></li>
                        <li><a href="#">Referral Programe</a></li>
                        <li><a href="#">Press Release</a></li>
                    </ul>
                    </div>

                </div>
                </div>


                <div class="col-md-3 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Products & Services</div>
                    <ul>
                        <li><a href="#"> Institutional Services </a></li>
                        <li><a href="#"> TechnoApp Academy</a></li>
                        <li><a href="#">TechnoApp Labs</a></li>
                        <li><a href="#">TechnoApp API</a></li>

                    </ul>
                    </div>


                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title">Policies</div>
                    <ul>
                        <li><a href="#"> Terms of use </a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#"> AML/KYC Policy </a></li>
                        <li><a href="#">Referral Policy</a></li>
                        <li><a href="#">Licences</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Support</div>
                    <ul>

                        <li><a href="#"> Trading Rules </a></li>
                        <li><a href="#">Fees & Charges</a></li>

                        <li><a href="#">FAQs</a></li>
                    </ul>
                    </div>

                </div>
                </div>

                <div class="col-md-2 co-xs-12">
                <div class="footer-box">
                    <div class="footer-list">
                    <div class="footer-title"> Follow Us</div>
                    <div class="social-link">
                    <span><a href="https://www.facebook.com/TechnoApp" > <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
                    <span><a href="https://www.twitter.com/TechnoApp" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
                    <span><a href="https://www.linkedin.com/company/TechnoApp/" ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a></span>
                    <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" ><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube </a></span>
                </div>
                    </div>

                </div>
                </div>

            </div>
        <!-------------------------------------------------->
        <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Support</button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <div class="chat-box">
                <div class="chat-top"> <span class="chat-title">TechnoApp Support box </span> <span><button type="button"
                    class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle"
                        aria-hidden="true"></i></button> </span></div>

            </div>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>

            </form>
        </div>
        <!-------------------------------------------------->
        </div>
        <div class="container">
        <div class="x__footer__content-center row">
            <div class="col col-md-12 col-12">
            <div class="x__copyright">
                <!--        <div class="x__copyright__logo"> <img src="/images/logo.png" alt="Exodus Logo"> </div>-->
                <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>. All rights reserved. </div>
            </div>
            </div>
        </div>
        </div>
    </section>
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!--lanuageModal  Modal -->

  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->


  <!--usdModal  Modal -->


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carosol.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/anchor-scroll.js"></script>

