@model vmDashboard

@{
    var Title = "Dash Board";
}
 
    @section Styles{
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/style.css">
}
<section class="dashboard-section bg2">
    <div class="container">
        <div class="row">
            <div class="css33-dasbord-box">

                <div class="css33-user-detail">
                    <div class="css33-user-img"><a asp-action="User-Profile" asp-controller="KYCUser"> <img src="~/images/user.png">  </a></div>
                    <div class="css33-detail"><span class="csss33name1">First Name: </span>  <span>Arnav</span></div>
                    <div class="css33-detail"> <span class="csss33name1">Last Name: </span>  <span>Chauhan</span></div>
                    <div class="css33-detail"> <span class="csss33name1">Email Id </span>  <span>arTechnoSavvyhauhan22@gmail.com</span></div>
                    <div class="css33-detail"> <span class="csss33name1">Conutry: </span>  <span>India</span></div>
                </div>
                <div class="css33-detail-kyc"><span class="csss33name1">KYC Status: </span>  <span class="css33-verify"> <small> Verifed</small><i class="fa fa-check-circle" aria-hidden="true"></i>  </span></div>
            </div>
        </div>
    </div>
</section>


<section class="dashboard-section bg1">
    <div class="container">
        <div class="row">
            <div class="market-title-div">
                <span class="market-title-h2">
                    Markets
                </span>
                <span>
                    <form>
                        <input type="text" class="market-search" placeholder="Search" name="search">
                        <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                    </form>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="css555-market-div">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div id="css55dashboard-tabs" class="css555-market-box">
                            <div class="css33-wallet-div mt-3 mb-3">
                                <span class="title">Top Gainer</span>

                            </div>
                            <div class="css55dashboard-tabs">
                                <span>
                                    <ul class="nav nav-tabs">


                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#margin11">Margin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BUSD11">BUSD</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#USDT11">USDT</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link " data-bs-toggle="tab" href="#BNB11">BNB</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BTC11">BTC</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ETH11">ETH </a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ALTS11">ALTS </a>
                                        </li>
                                    </ul>
                                </span>



                                <!-- Tab panes -->

                            </div>

                            <div class="market-tabs-content ">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="margin11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>

                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.0000566356</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.00002982</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00005465834</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.000543654</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000056872</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BUSD11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>

                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="USDT11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BNB11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>

                                    <div class="tab-pane  fade" id="BTC11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ETH11">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ALTS11">
                                        <div class="css55-dashboard-list">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00007895232</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000021467</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00002345254</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00085454</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000054256</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!---------------------------------------->
                    <div class="col-md-4 col-12">
                        <div id="css55dashboard-tabs" class="css555-market-box">
                            <div class="css33-wallet-div mt-3 mb-3">
                                <span class="title">Top Volume</span>

                            </div>
                            <div class="css55dashboard-tabs">
                                <span>
                                    <ul class="nav nav-tabs">


                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#margin22">Margin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BUSD22">BUSD</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#USDT22">USDT</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link " data-bs-toggle="tab" href="#BNB22">BNB</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BTC22">BTC</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ETH22">ETH </a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ALTS22">ALTS </a>
                                        </li>
                                    </ul>
                                </span>



                                <!-- Tab panes -->

                            </div>
                            <!------------------------------------------>
                            <div class="market-tabs-content ">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="margin22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.0000566356</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.00002982</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00005465834</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.000543654</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000056872</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BUSD22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="USDT22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BNB22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>

                                    <div class="tab-pane  fade" id="BTC22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ETH22">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ALTS22">
                                        <div class="css55-dashboard-list">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00007895232</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000021467</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00002345254</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00085454</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000054256</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!---------------------------------------->

                    <div class="col-md-4 col-12">
                        <div id="css55dashboard-tabs" class="css555-market-box">
                            <div class="css33-wallet-div mt-3 mb-3">
                                <span class="title">Most Purchased</span>

                            </div>
                            <div class="css55dashboard-tabs">
                                <span>
                                    <ul class="nav nav-tabs">


                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#margin33">Margin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BUSD33">BUSD</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#USDT33">USDT</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link " data-bs-toggle="tab" href="#BNB33">BNB</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#BTC33">BTC</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ETH33">ETH </a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#ALTS33">ALTS </a>
                                        </li>
                                    </ul>
                                </span>



                                <!-- Tab panes -->

                            </div>
                            <!------------------------------------------>
                            <div class="market-tabs-content ">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="margin33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.0000566356</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.00002982</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00005465834</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.000543654</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000056872</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BUSD33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BUSD</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="USDT33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/USDT</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="BNB33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BNB</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>

                                    <div class="tab-pane  fade" id="BTC33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/BTC</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ETH33">
                                        <div class="css55-dashboard-market">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <!------------------------------------------>
                                            <div class="css55-dashboard-list">
                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00007895232</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000021467</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00002345254</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li> <span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-up">0.00085454</li>
                                                    <li class="css44-down">+0.64%</li>
                                                </ul>

                                                <ul class="price-list">
                                                    <li><span class="css4price">1INCH </span><span>/ETH</span> <span class="css4x">3x</span></li>
                                                    <li class="css44-down">0.000054256</li>
                                                    <li class="css44-up">+0.64%</li>
                                                </ul>

                                            </div>
                                            <!------------------------------------------>
                                        </div>
                                    </div>
                                    <div class="tab-pane  fade" id="ALTS33">
                                        <div class="css55-dashboard-list">
                                            <ul class="price-ul">
                                                <li>Pair </li>
                                                <li>Price </li>
                                                <li>
                                                    Changes <span class="arrow-css55">
                                                        <a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> </a>
                                                    </span>
                                                </li>
                                            </ul>
                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00007895232</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000021467</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00002345254</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li> <span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-up">0.00085454</li>
                                                <li class="css44-down">+0.64%</li>
                                            </ul>

                                            <ul class="price-list">
                                                <li><span class="css4price">1INCH </span><span>/ALTS</span> <span class="css4x">3x</span></li>
                                                <li class="css44-down">0.000054256</li>
                                                <li class="css44-up">+0.64%</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!---------------------------------------->
                </div>
            </div>

        </div>

        <!---------------------------------------------------------------->

        <div class="row">
            @await Html.PartialAsync("partial/_WalletSummary",Model.WSummery)
            <div class="col-md-6 col-12">
                <div class="css33-wallet">
                    <div class="css33-wallet-div">
                        <span class="title">Tax Summary </span>
                        <span class="css33-wallet-list">
                            <span> <a href="#" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
                            <span> <a href="#"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></span>
                        </span>
                    </div>

                    <div class="css33-wallet-box">
                        <span class="css33-wallet-detail text-center">
                            <div class="sub-title-wallet">24 hr  </div>
                            <div class="css33-tax-list">
                                Rs. 0.00
                            </div>
                        </span>



                        <span class="css33-wallet-detail text-center">
                            <div class="sub-title-wallet">7 days   </div>
                            <div class="css33-tax-list">
                                Rs. 0.00
                            </div>
                        </span>

                        <span class="css33-wallet-detail text-center">
                            <div class="sub-title-wallet">30 days  </div>
                            <div class="css33-tax-list">
                                Rs. 0.00
                            </div>
                        </span>

                    </div>
                    <div class="css33-walle-Trans">
                        <span>Financial Year Balance </span>
                        <div class="css33inr">
                            <span>INR</span>
                            <span> 4,000.00 </span>
                        </div>
                    </div>

                    <a href="#" class="css33-wallet-btn" type="button">Details</a>
                </div>
            </div>
        </div>


        <!---------------------------------------------------------------->

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="css33-wallet">
                    <div class="css33-wallet-div">
                        <span class="title">Recent Trades   </span>
                        <span class="css33-wallet-list">
                            <span> <a href="#" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
                            <span> <a href="#"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></span>
                        </span>
                    </div>
                    <div id="css33-wallet-tabs" class="css33-wallet-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#twenty">24h</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#sevendays">7days  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#thirtydays"> 30days</a>
                            </li>

                        </ul>

                        <div class="tab-content css33-wallet-content">
                            <div class="tab-pane active" id="twenty">
                                <div class="css33-content-div">
                                    <div class="css33-buy-div">
                                        <div class="sub-title">Buy </div>
                                    </div>
                                    <div class="css33-sell-div">

                                        <div class="sub-title">Sell</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sevendays">
                                <div class="css33-content-div">
                                    <div class="css33-buy-div">
                                        <div class="sub-title">Buy </div>
                                    </div>
                                    <div class="css33-sell-div">

                                        <div class="sub-title">Sell </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="thirtydays">
                                <div class="css33-content-div">
                                    <div class="css33-buy-div">
                                        <div class="sub-title">Buy </div>
                                    </div>
                                    <div class="css33-sell-div">

                                        <div class="sub-title">Sell </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <a href="#" class="css33-wallet-btn" type="button">More</a>
                </div>
            </div>
            <!------------------------------------------------------------->
            @*@await Html.PartialAsync("_WalletTransaction",Model.WTrans)*@
        </div>

        <!---------------------------------------------------------------->
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="css33-member-div">
                    <span class="title">Referral Members  </span>
                    <div class="css33-link">
                        <span class="css33-input">  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="TechnoApp//profle.link//1789" disabled></span>
                        <span> <i class="fa fa-clipboard" aria-hidden="true"></i></span>
                    </div>
                    <div class="css33-earnto">
                        <span>
                            <div class="sub-title"> Earned Tokens  </div>
                            <div class="css33-token">
                                <span><img src="~/images/nav-icon.png"> </span>
                                <span class="css33-icon-name">
                                    500 TechnoSavvy <br> <small> $2345.2300 </small>
                                </span>
                            </div>
                        </span>
                        <span><a href="#" class="css-earnto-btn"><i class="fa fa-external-link" aria-hidden="true"></i>  Referral Policy</a></span>

                    </div>
                    <div class="css33-paid">
                        <div class="css33-paid44">
                            <span> Last Paid: </span>
                            <span class="csss55-TechnoSavvy">2000 TechnoSavvy<br><small> ₹ 16,00,000</small></span>
                        </div>

                        <div class="css33-paid44">
                            <span> Next Payout date: </span>
                            <span> 22 june 2023</span>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="css33-member-div">
                    <span class="title">Community Members </span>
                    <div class="css33-community-div">
                        <div class="css33-paid55">
                            <span> Total No. of community member </span>
                            <span> 09</span>
                        </div>

                        <div class="css33-paid55">
                            <span> Registrations  </span>
                            <span> 08</span>
                        </div>
                        <div class="css33-paid55">
                            <span> Payment Qualifed </span>
                            <span> 08</span>
                        </div>

                    </div>
                    <div class="css33-paid">
                        <div class="css33-paid44">
                            <span> One timer Amount: </span>
                            <span> 14574521</span>
                        </div>

                        <div class="css33-paid44">
                            <span> Recurring Amount: </span>
                            <span> 25682425</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="css33-member-div">
                    <div class="css33-wallet-div">
                        <span class="title">Watchlist</span>
                        <span class="css33-wallet-list">
                            <span> <a href="#" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
                            <span> <a href="#"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></span>
                        </span>
                    </div>

                    <div class="css33-watch-table">
                        <table class="table table-responsive">
                            <thead class="trasaction-table-title">
                                <tr>
                                    <th class="css566-table-text">Name</th>
                                    <th class="css566-table-text">Price</th>
                                    <th class="css566-table-text">24h</th>
                                    <th class="css566-table-text">7Days</th>
                                    <th class="css566-table-text"></th>


                                </tr>
                            </thead>
                            <tbody class="trasaction-table">
                                <tr>
                                    <td class="account-no">Bitcoin  </td>
                                    <td>$35,98</td>
                                    <td class="css44-up">-2.50%</td>
                                    <td class="css44-down"> -0.51%</td>
                                    <td><img src="~/images/1INCHBUSD.svg"></td>


                                </tr>


                                <tr>
                                    <td class="account-no">Bitcoin  </td>
                                    <td>$35,98</td>
                                    <td class="css44-up">-2.50%</td>
                                    <td class="css44-down"> -0.51%</td>
                                    <td><img src="~/images/1INCHBUSD.svg"></td>
                                </tr>
                                <tr>
                                    <td class="account-no">Bitcoin  </td>
                                    <td>$35,98</td>
                                    <td class="css44-down">-2.50%</td>
                                    <td> -0.51%</td>
                                    <td><img src="~/images/1INCHBUSD.svg"></td>
                                </tr>
                                <tr>
                                    <td class="account-no">Bitcoin  </td>
                                    <td>$35,98</td>
                                    <td>-2.50%</td>
                                    <td class="css44-down"> -0.51%</td>
                                    <td><img src="~/images/1INCHBUSD.svg"></td>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<!---------------------------------------------------------------------->
