
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->
 
  <!----------------------menu section---------------------------->
  
  <!-- ===== // Menu section ===== -->


  <!-- Start Academy page -->
  <section class="TechnoApp-sec bg1">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7" data-aos="fade-right" data-aos-duration="1500">
          <div class="TechnoApp-sec-text">
            <h1> TechnoApp Academy </h1>
            <p class="mb-5"> TechnoApp Academy is your one-stop solution to make you well acquainted with TechnoApp Crypto Trading
              Platform. The Academy is categorically designed for Novice, Intermediate and Advance Traders by Crypto
              Experts. </p>
          </div>
          <div class="css566-user-no pb-5">
            <span><strong> 11k+ </strong> Trusted Users </span>
          </div>
          <a href="academy-detail.html" >
            <button type="button" class="btn start-btn"> Start Here </button>
          </a>
        </div>
        <div class="col-lg-5 col-md-5" data-aos="fade-left" data-aos-duration="1500">
          <img src="../images/TechnoApp-about.png" alt="image">
        </div>
      </div>
    </div>
  </section>
  <!-- // Start Academy page -->

  <!-- trade on TechnoApp section -->   
  <section class="beginner-lesson bg2">
    <div class="container">

      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">Trade on TechnoApp</h2>
            <span class="text-center "> <div class="divider"></div> </span>
        </div></div>

      <div class="row">

        <div class="css566-slide">
          <div class="owl-slider">
            <div id="carousel" class="owl-carousel owl-loaded owl-drag">

              <div class="owl-stage-outer">
                <div class="owl-stage">
                  <div class="owl-item active">
                    <div class="beginner-box-1">
                      <img src="../images/trade-img-1.png" alt="image">
                      <div class="beginner-textarea">
                        <h5> Most Rewarding Crypto Trading Experience, TechnoApp Community </h5>
                        <p> TechnoApp is the most rewarding crypto exchange powered by its native utility token TechnoSavvy. </p>
                          <div id="demo" class="collapse">
                            <p> The exchange offers up to 0.10% of the trading volume as cashback to the community members. </p>
                          </div>
                          <a href="#" data-bs-toggle="collapse" data-bs-target="#demo"> Read More </a>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active">
                    <div class="beginner-box-1">
                      <img src="../images/trade-img-2.jpg" alt="image">
                      <div class="beginner-textarea">
                        <h5> How TechnoApp Provides an Augmented Liquidity Pool? </h5>
                        <p> The liquidity in any crypto market determines the profitability of any trade. The higher the
                          liquidity, </p>
                          <div id="demo1" class="collapse">
                            <p> the better price you will get as a buyer or a seller. </p>
                          </div>
                          <a href="#" data-bs-toggle="collapse" data-bs-target="#demo1"> Read More </a>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active">
                    <div class="beginner-box-1">
                      <img src="../images/trade-img-3.jpg" alt="image">
                      <div class="beginner-textarea">
                        <h5> How to Earn Maximum Cashback on TechnoApp exchange? </h5>
                        <p> Each time as a community member, you trade, you get an assured Cashback of up to 0.10% of trading </p>
                        <div class="collapse" id="demo5">
                          <p>volume. </p>
                        </div>
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#demo5"> Read More </a>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active">
                    <div class="beginner-box-1">
                      <img src="../images/trade-img-4.jpg" alt="image">
                      <div class="beginner-textarea">
                        <h5> Everything you need to know about the Next-Generation Crypto Exchange. </h5>
                        <p> TechnoApp aims to solve the complex crypto trading </p>
                          <div id="demo2" class="collapse">
                            <p> system with a simple process, enhance the participation of people in crypto without fearing higher impact costs. </p>
                          </div>
                          <a href="#" data-bs-toggle="collapse" data-bs-target="#demo2"> Read More </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
              <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- // trade on TechnoApp section -->

  

  <!-- blockchain glossary -->

  <section class="blockchain-glossary bg1">
    <div class="container">

      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center ">TechnoApp Glossary  </h2>
           <span class="text-center "> <div class="divider"></div> </span>
           <p class="text-center ">Get complete knowledge about the most rewarding features of the exchange. Cashback Rewards,<br>
            Zero Transaction Fees, High Liquidity, Low Impact Cost & Much More. </p>
        </div></div>


        <div class="row">
          <div class="col-md-4 col-12">
            <a href="#">
              <div class="css566-trade-box zoom-out">
                <div class="css566-trade-img">  <img src="../images/Cashback.png"> </div>
                <div class="css566-trade-text"> Cashback
                  <p> TechnoApp offers a positive Cashback of up to 0.10% of the transaction volume. </p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="css566-trade-box zoom-out ">
                <div class="css566-trade-img">  <img src="../images/uniqe-icon.png"> </div>
                <div class="css566-trade-text">Zero Transaction Fees 
                  <p> Trade on TechnoApp without any transaction fees. </p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="css566-trade-box zoom-out ">
                <div class="css566-trade-img">  <img src="../images/reduce.png"> </div>
                  <div class="css566-trade-text"> Low Impact Cost 
                  <p>Trade on TechnoApp to reduce your impact cost. You earn cashback instead of paying fees each time, every time. </p>
                </div>
              </div>
            </a>
           
          </div>
      
          <div class="col-md-4 col-12">
      <div class="blockchain-img"><img src="../images/blockchain-img.png" alt="image"></div>
          </div>
      
          <div class="col-md-4 col-12">
            <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">Augmented Liquidity Pool <p> Augmented Liquidity Pool help faster trade settlement at the most apt price.</p></div>
              <div class="css566-trade-img-right">  <img src="../images/liuidity-pool.png"> </div>
            
            </div></a>
      
            <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">Make money in Arbitrage Trading <p>Because of the Cashback benefits you get the arbitrage opportunity on the platform itself.</p></div>
              <div class="css566-trade-img-right">  <img src="../images/genrate-profile.png" alt="image"> </div>
            
            </div></a>
            <a href="#">
            <div class="css566-trade-box zoom-out">
              <div class="css566-trade-text">Get the capital appreciation benefit <p>The more you hold your Cashback bonus, the higher it will appreciate in value. </p></div>
              <div class="css566-trade-img-right">  <img src="../images/demand-icon.png" alt="image"> </div>
              
            </div></a>
      
          </div>
       
      
        </div>


    </div>
  </section>
  <!-- // blockchain glossary -->

  <!-- banner section -->
  <section class="bg2 pt-5">
    <div class="container banner-sec">
      <div class="row">
        <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-duration="1500">
          <div class="banner-sec-textarea">
            <div class="css566-invest-div">
              <h2> Invite Your Friend to Learn on <span> TechnoApp </span> </h2>
              <p>Learn on TechnoApp academy to reap the maximum benefit out of the exchange. <span> Refer your friend & Earn TechnoSavvy Instantly. </p>
                </div>

       
            <a asp-controller="referral" asp-action="Index" >
              <button type="button" class="btn get-started-btn"> Refer Now </button>
            </a>
            <!-- <a href="https://TechnoApp.com/en-us/Policy/ReferralPolicy" >
              <button type="button" class="btn get-started-btn"> Referral Policy </button>
            </a> -->
          </div>
        </div>
        <div class="col-lg-5 col-md-5" data-aos="fade-down" data-aos-duration="1500">
          <img src="../images/refer-and-earn.png" alt="image">
        </div>
      </div>
    </div>
  </section>
  <!-- // banner section -->


  <!-- About TechnoSavvy -->

  <section class="beginner-lesson bg2">
    <div class="container">
      <div class="row">
        <div class="css566-heading mb-3">
          <h2 class="text-center "> TechnoApp Insights </h2>
            <span class="text-center "> <div class="divider"></div> </span>
        </div>
        <div class="css566-slide">
          <div class="owl-slider">
            <div id="carousel1" class="owl-carousel owl-loaded owl-drag">

              <div class="owl-stage-outer">
                <div class="owl-stage">
                  <div class="owl-item active">
                    <div class="beginner-box-1 beginner-box-2">
                      <a asp-controller="blog" asp-action="what-makes-TechnoSavvy-gold" >
                        <img src="../images/about-TechnoSavvy-img-1.jpg" alt="image">
                      </a>
                      <div class="beginner-textarea">
                        <a asp-controller="blog" asp-action="what-makes-TechnoSavvy-gold" >
                          <h5> What Makes TechnoSavvy a Gold Standard Coin? </h5>
                        </a>
                        <p> TechnoSavvy, the native cryptocurrency of the world’s first revenue-positive crypto exchange, is regarded as
                          a Gold Standard Coin among cryptocurrency aficionados </p>
                        <!-- <a href="#"> Learn More </a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div class="owl-item active">
                    <div class="beginner-box-1 beginner-box-2">
                      <a asp-controller="blog" asp-action="earn-high-returns" >
                        <img src="../images/about-TechnoSavvy-img-2.jpg" alt="image">
                      </a>
                      <div class="beginner-textarea">
                        <a asp-controller="blog" asp-action="earn-high-returns" >
                          <h5> Earn Passive Income by Staking Crypto: TechnoSavvy Staking Benefit </h5>
                        </a>
                        <p> Earning crypto was limited to buying and selling the tokens to generate profit or get rewards for
                          mining the blocks. Now, earn passive income by staking </p>
                      </div>
                    </div>
                  </div> -->
                  <div class="owl-item active">
                    <div class="beginner-box-1 beginner-box-2">
                      <a asp-controller="blog" asp-action="reasons-to-invest" >
                        <img src="../images/about-TechnoSavvy-img-3.jpg" alt="image">
                      </a>
                      <div class="beginner-textarea">
                        <a asp-controller="blog" asp-action="reasons-to-invest" >
                          <h5> 3 Reasons to Invest in TechnoSavvy </h5>
                        </a>
                        <p> Crypto Market is not a get-rich-quick scheme. However, the right investment strategy and entering the
                          market at the right time can make you filthy rich </p>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active">
                    <div class="beginner-box-1 beginner-box-2">
                      <a asp-controller="blog" asp-action="what-is-value" >
                        <img src="../images/about-TechnoSavvy-img-4.jpg" alt="image">
                      </a>                      
                      <div class="beginner-textarea">
                        <a asp-controller="blog" asp-action="what-is-value" >
                          <h5> What is a Value Variance Inflationary Token? </h5>
                        </a>
                        <p> The prices of TechnoSavvy appreciate each time a trade is executed on the exchange. By holding it as a
                          long-term investment, you can get unimaginable returns because of its price inflationary nature. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
              <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- // About TechnoSavvy -->


    <!-- ========= Footer Section ========= -->
    <!-- ========= Footer Section ========= -->
        <!------------------------------->
        <!-- === // End Footer === -->
  <!--------------------------------------------------------------------->


  <!---------------------------------------------------------------------->
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="csssdilog33" class="modal-dialog">
    <div class="modal-content mod-sec221">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body combox55">
        <img src="../images/logo1.png" alt="" class="mb-3">
        <p b-cd26ewwikh=""> COMING SOON!</p>

        <p class="text33">We are almost here! Get ready to be amazed.<br>
          <span class="boldtexr34"> We follow Agile!</span>
          <br>We are committed to bring you an incredible Crypto Trading experience.
        </p>
      </div>

    </div>
  </div>
</div>


  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/academy-owl-carosol.js"></script>
  <script src="js/anchor-scroll.js"></script>
  <script src="js/header-fixed.js"></script>

  <!-- back to top button -->
  
  
  