
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
<!---------------------------------------------------------------------->
<section class="section-login bg2"> 
    <div class="container">
        <div class="row flex-nowrap">

            
            
            <!-- ========== Device and Activities ========== -->
            <div class="col-md-12 col-lg-12 col-xxl-12 py-3">
                <div class="wallet-right33"> 
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="wallet-tabdiv divice-text">
                            <div class="heading divicehead32"> <span><a class="nav-link" href="security.html"> <i class="fa fa-step-backward" aria-hidden="true"></i> </a> </span> 
                              <span>Account Session Logs </span></div>
                            <!-- <div class="css33wallettab"> 
                                <a href="#" class="csss77-histbtn"> History</a>
                            </div> -->
                        </div>
                    </div>
  
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="tab-content css77earn-estimate">
                            <div class="tab-pane active" id="simple-earn44"> 
                              
                                <div class="tab-content css77earn-estimate">
                                    <div class="tab-pane active" id="flexible44">
                                        <div class="css77-tranbox ">
                                            <div id="comunity-css566-box" class="comunity-css566-box">
                                                <div class="table-xscroll44 table-responsive acc-act-table">
                                                    <table class="table cssearn-table device-table">
                                                        <thead class="trasaction-table-title">
                                                            <tr>
                                                                <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Date </th>
                                                                <th nowrap="nowrap" colspan="2" class="css566-table-text text-center"> Timestamp </th>            
                                                                <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Country </th>
                                                                <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> City </th>
                                                                <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Source </th>
                                                                <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> IP Address </th>
                                                                <th nowrap="nowrap" rowspan="3" class="css566-table-text text-center"> Status </th>
                                                            </tr>
                                                            <tr class=" text-center">                        
                                                              <th nowrap="nowrap" class="css566-table-text text-center">From </th>
                                                              <th nowrap="nowrap" class="css566-table-text text-center">To</th>
                                                              <th nowrap="nowrap" class="css566-table-text text-center">In </th>
                                                              <th nowrap="nowrap" class="css566-table-text text-center">Out</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody class="trasaction-table">
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>  
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> Web </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged In </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                 
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                  
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> Web </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged In </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                  
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> Web </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged In </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                 
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                               
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                              
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> Web </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged In </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                                
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                            <tr>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 2023-01-17 </td>
                                                              <td class="text-center"> 10:25:30 </td>                                   
                                                              <td class="text-center"> 10:25:30 </td>                               
                                                              <td class="text-center"> India </td>
                                                              <td class="text-center"> Noida </td>
                                                              <td class="text-center"> iOS </td>
                                                              <td class="text-center"> 14.99.237.206 </td>
                                                              <td class="text-center"> Logged Out </td> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                
                                            </div>
                                        </div>
                                    </div>

                                  
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>

<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>

<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>


    <script src="js/header-fixed.js"></script>

    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
      </script>
   
  