
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
    <div class="container">
      <div class="login-box" id="login-tab">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="login-img"> <img src="images/login-img.png"> </div>
          </div>
          <div class="col-md-6 col-xs-12 pt-3">
            <div class="sign_up">
          <h1 class="heading ">Account Created</h1>

                 
          <div class="acc44divmain">
            <div class="acc44box-sep">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>            
                      </div>
          <h3 class="pb-3"> Your Account has been created successfully. Verify your account in jus few minutes.</h3>
       

        
          <button class="btn gent-btn mt-3 mb-3" type="button" onclick="location.href='country-residence.html'">Verify Your Entity </button>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!---------------------------------------------------------------------->


<!--------------------------------------------------------------------->
<!------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->

 

<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl-carosol.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/resendotp.js"></script>
  