
  <!-------------Outer-section---------------------->


  <!-----------------top section start ----------->
  
  <!----------------------menu section---------------------------->

  <!---------------------------------------------------------------------->
  <!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
  <!---------------------------------------------------------------------->
  <section class="section-wallet bg2">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div id="wallet-left33" class="col-md-2 col-md-2 col-lg-2  col-xxl-2 px-0 wallet-left-bg">
          <div class="d-flex flex-column align-items-center align-items-sm-start   text-white">

            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="wallet.html" class="nav-link align-middle">
                  <i class="fa fa-search" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Overview </span>
                </a>
              </li>

              <li class="nav-item">
                <a href="spot-wallet.html" class="nav-link  align-middle">
                  <i class="fa fa-credit-card" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Spot
                    Wallet</span></a>
              </li class="nav-item">

              <li class="nav-item"> <a href="funding-wallet.html" class="nav-link  align-middle ">
                  <i class="fa fa-money" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Funding
                    Wallet</span> </a>
              </li>

              <li class="nav-item"> <a href="earn-wallet.html" class="nav-link  align-middle">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Earn
                    Wallet</span> </a>
              </li>

              <li class="nav-item"> <a href="transaction.html" class="nav-link align-middle">
                  <i class="fa fa-table" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Transaction
                    History</span> </a>
              </li>

              <li class="nav-item"> <a href="account-statement.html" class="nav-link  align-middle     active">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Account
                    Statement</span> </a>
              </li>
            </ul>


          </div>
        </div>
        <!----------------------------------------------->

        <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
          <div class="wallet-right33">

            <div class="wallet-sectdiv33">
              <div id="wallet-tabdiv" class="wallet-tabdiv">
                <div class="heading">Account Statement</div>

              </div>

            </div>
            <div class="wallet-sectdiv33">
              <div id="wallet-tabdiv" class="wallet-tabdiv">
                <div class="css77-wallect-bal">
                  <div class="css77-wall-acc">

                    <span class="csss77-walinp">
                      <span id="id_password" class="css77-baldiv css77-trans mt-0 ">Account Id: kjuiy25754245 </span>
                      <span><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i> </span>
                    </span>
                  </div>
                  <div class="css33wallettab">
                    <span class="sell-btn-22">
                      <div class="dropdowndiv">
                        <button type="button" class="btn csss77-histbtn dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="true">
                          Export <i class="fa fa-external-link" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-css44 dropdown-widt878"
                          data-popper-placement="bottom-start">
                          <li><a class="dropdown-item " href="#">PDF </a></li>
                          <li><a class="dropdown-item" href="#">CSV </a></li>
                          <li><a class="dropdown-item" href="#">TXT </a></li>

                        </ul>
                      </div>

                    </span>
                  </div>

                </div>
              </div>
            </div>

            <div class="wallet-sectdiv33 mt-3">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="market-line-graph">            
                    <div id="volumemarket-graph" style="height: 250px"></div>
                  </div>
        
        
                </div>
        
                <div class="col-md-6 col-xs-12">
                  <div class="market-line-graph">            
                    <div id="smallvolume-piechart" style="height: 250px"></div>
                  </div>
                </div>
        
              </div>
        
            </div> 

            <div class="wallet-sectdiv33">


              <div id="wallet-tabdiv" class="wallet-tabdiv">
                <div class="sell-right-but">
                  <div class="css33-leftpan">
                    <span class="sell-btn-22">
                      <lable class="label857"> Wallet </lable>

                      <select class="form-select" aria-label="Default select example">
                        <option selected>All </option>
                        <option value="1">Earn</option>
                        <option value="1">Spot</option>
                        <option value="2">Funding</option>
                      </select>
                    </span>

                    <span class="sell-btn-22">
                      <lable class="label857">From</lable>
                      <input type="date" class="form-select  form-control2 cssform454"
                        aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                    </span>

                    <span class="sell-btn-22">
                      <lable class="label857">To</lable>
                      <input type="date" class="form-select  form-control2 cssform454"
                        aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                    </span>

                    <span class="sell-btn-22">
                      <lable class="label857">Estimated Value</lable>
                      <div class=" form-select2 form444">
                        <select class="my-select" aria-label="Default select example">
                          <option>Select Coin</option>
                          <option data-img-src="images/coin/bit.png">BTC</option>
                          <option data-img-src="images/coin/eth.png">ETH</option>
                          <option data-img-src="images/nav-icon.png">TechnoSavvy</option>
                          <option data-img-src="images/coin/usdc.png">USD</option>
                        </select>

                      </div>
                    </span>

                  </div>

                  <div class="css33-rightpan">
                    <span class="sell-btn-22">
                      <div class="css77tran-search ">
                        <form>
                          <input type="text" class="trans-search" placeholder="Search" name="search">
                          <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                    </span>

                    <span class="sell-btn-22"> <a href="#" class="csss77-histbtn"> Reset </a>
                    </span>
                  </div>
                </div>






              </div>
            </div>

            <!------------------------------------------->

            <div class="wallet-sectdiv33">
              <div class="fund-tabdiv">
                <div class="css7fundwal-div">
                  <div class="heading">Overview </div>

                </div>

                <div class="accOverview-div">
                  <div class="css88ovview-box">
                    <span class="css88text">Date </span>
                    <span class="css88date">12-19-2022 </span>

                  </div>



                  <div class="css88ovview-box">
                    <span class="css88text"> Account Type </span>
                    <span class="css88date"> Community </span>

                  </div>

                  <div class="css88ovview-box">
                    <span class="sell-btn-22 csswll-width">
                      <lable class="label857 "> Wallet </lable>
                      <select class="form-select  selewallet54" aria-label="Default select example">
                        <option selected="">All </option>
                        <option value="1">Earn</option>
                        <option value="1">Spot</option>
                        <option value="2">Funding</option>
                      </select>
                    </span>

                  </div>

                  <div class="css88ovview-box">
                    <span class="css88text">Amount</span>
                    <span class="css88date"> 1.123456 <span> ETH</span> </span>
                    <span> <small> = 19220.123456 <span>USD</span></small></span>
                  </div>

                  <div class="css88ovview-box bstrasnd342">
                    <span class="css88text">Spot</span>
                    <span class="css88date"> 0.123456 <span>ETH</span> </span>
                    <span> <small> = 18220.023456 <span>USD</span> </small></span>
                  </div>

                  <div class="css88ovview-box bstrasnd342">
                    <span class="css88text">Funding</span>
                    <span class="css88date"> 0.123456 <span>ETH</span> </span>
                    <span> <small> = 18220.023456 <span>USD</span></small></span>
                  </div>


                  <div class="css88ovview-box bstrasnd342">
                    <span class="css88text">Earn</span>
                    <span class="css88date"> 0.123456 <span>ETH</span> </span>
                    <span> <small> = 18220.023456 <span>USD</span></small></span>
                  </div>
                </div>

              </div>


              <div class="fund-tabdiv">
                <div class="css7fundwal-div">
                  <div class="heading">Spot </div>

                </div>


                <div class="csslk645ovview-box">
                  <span class="css88text">Total Value </span>
                  <span class="css88btc"><span>120.123456 ETH</span> /~ <span> 18220.123456 USDT </span> </span>
                </div>

                <div class="css88table  cssstatment-size">
                  <div id="comunity-css566-box" class="comunity-css566-box table-responsive">
                    <div class="acctable44">
                      <table class="table ">
                        <thead class="trasaction-table-title">
                          <tr>
                            <th nowrap="nowrap" class="css566-table-text">Coin</th>

                            <th nowrap="nowrap" class="css566-table-text text-right">Total </th>


                          </tr>
                        </thead>
                        <tbody class="trasaction-table">
                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/nav-icon.png"></span> TechnoSavvy </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>


                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/bit.png"></span> BTC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/eth.png"></span> ETH </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"> <span><img src="images/coin/usdc.png"></span> USD </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/tether.png"></span>USDC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>




                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>



              <div class="fund-tabdiv">
                <div class="css7fundwal-div">
                  <div class="heading">Funding</div>

                </div>


                <div class="csslk645ovview-box">
                  <span class="css88text">Total Value </span>
                  <span class="css88btc"><span>120.123456 ETH</span> /~ <span> 18220.123456 USD </span> </span>
                </div>

                <div class="css88table cssstatment-size">
                  <div id="comunity-css566-box" class="comunity-css566-box  table-responsive">
                    <div class="acctable44">
                      <table class="table ">
                        <thead class="trasaction-table-title">
                          <tr>
                            <th nowrap="nowrap" class="css566-table-text">Coin</th>

                            <th nowrap="nowrap" class="css566-table-text text-right">Total </th>


                          </tr>
                        </thead>
                        <tbody class="trasaction-table">
                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/nav-icon.png"></span> TechnoSavvy </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>


                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/bit.png"></span> BTC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/eth.png"></span> ETH </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"> <span><img src="images/coin/usdc.png"></span> USD </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/tether.png"></span>USDC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>




                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>


              <div class="fund-tabdiv">
                <div class="css7fundwal-div">
                  <div class="heading">Earn </div>

                </div>


                <div class="csslk645ovview-box">
                  <span class="css88text">Total Value </span>
                  <span class="css88btc"><span>120.123456 ETH</span> /~ <span> 18220.123456 USD </span> </span>
                </div>

                <div class="css88table  cssstatment-size">
                  <div id="comunity-css566-box" class="comunity-css566-box table-responsive">
                    <div class="acctable44">
                      <table class="table ">
                        <thead class="trasaction-table-title">
                          <tr>
                            <th nowrap="nowrap" class="css566-table-text">Coin</th>

                            <th nowrap="nowrap" class="css566-table-text text-right">Total </th>


                          </tr>
                        </thead>
                        <tbody class="trasaction-table">
                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/nav-icon.png"></span> TechnoSavvy </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>


                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/bit.png"></span> BTC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/eth.png"></span> ETH </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"> <span><img src="images/coin/usdc.png"></span> USD </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>

                          <tr>

                            <td>
                              <div class="coin-name-css46"><span><img src="images/coin/tether.png"></span>USDC </div>
                            </td>
                            <td>

                              <a class="tooltip">
                                <div class="css11coin-det">
                                  <span>12.123456 TechnoSavvy </span>
                                  <span> 123.123456 USD </span>
                                </div>
                                <span class="tooltiptext">
                                  <div class="cssacc22pop">
                                    <div> <span>Available Balance :</span> <span> 10.123456 TechnoSavvy</span></div>
                                    <div> <span>In Order :</span> <span>01.123456 TechnoSavvy</span> </div>

                                  </div>
                                </span>
                              </a>


                              <!--popup's close button-->

                            </td>

                          </tr>




                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!------------------------------------------>
          </div>
        </div>

        <!----------------------------------------------->
      </div>
    </div>



  </section>

  <!--------------------------------------------------------------------->
  <!--------------------------------------------------------------------->
  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <!-- Modal -->

  <!------------------------------->
  <!-- Modal -->
  <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="csssdilog33" class="modal-dialog">
      <div class="modal-content mod-sec221">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body combox55">
          <img src="images/logo1.png" alt="" class="mb-3">
          <p b-cd26ewwikh=""> COMING SOON!</p>

          <p class="text33">We are almost here! Get ready to be amazed.<br>
            <span class="boldtexr34"> We follow Agile!</span>
            <br>We are committed to bring you an incredible Crypto Trading experience.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------->
  <!-- Button trigger modal -->

  <!-- Modal -->

  <!---------------------------------------------------------->
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <!-- <script src="graph/echartgraphjava.js"></script> -->
  <script src="graph/echartsecond-graphjava.js"></script>
  <!-- <script src="graph/volume-grafhm.js"></script> -->
  <script src="graph/small-volume-paechart.js"></script>
  <script src="js/eyeopenclose.js"></script>
  <script src="js/header-fixed.js"></script>
  <script src="js/select.js" type="text/javascript"></script>
  <script src="js/images-select.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(".my-select").chosen({ width: "100%" });
  </script>

