
    <!-------------Outer-section---------------------->
    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <!-- // back to top button -->

    <!-------------------------------------------->
    <!-----------------top section start ----------->
     
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Referral Program </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                            <li> Referral Program </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <div class="bg1">
        <section class="card-hero1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12  order-lg-0 order-md-2 order-sm-1 order-1">
                        <div class="main-banner-content pt-5">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-main aos-init new-text"
                                data-aos="fade-up">
                                <h4>
                                    <span>TechnoApp Airdrop Program</span>
                                    <p>
                                        This TechnoApp Airdrop Program sets forth the rules on which user can earn free TechnoSavvy
                                        Tokens on completion of certain tasks.
                                    </p>
                                </h4>
                       
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 aos-init img1" data-aos="fade-up-right">
                        <img src="images/airdrop.png" alt="" class="aos-init" data-aos="fade-up-right">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!------------------------------------------>
    <section class="airdrop-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center" data-aos1="fade-up1" data-aos1-duration="1200">
                    <h3> Airdrop Tokens </h3>
                    <h5> TechnoApp is airdropping TechnoSavvy Tokens which <br> will be as follows: </h5>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-md-6 registration-col" data-aos1="fade-right" data-aos1-duration="1200">
                    <h2> On Registration with <span> TechnoApp : </span> </h2>
                    <p> Merely registering on TechnoApp platform can reward you <br> with 3 (Three) TechnoSavvy Tokens. </p>
                </div>
                <div id="airDrp" class="col-lg-6 col-md-6" data-aos1="fade-left" data-aos1-duration="1200">
                    <div class="step-to-earn">
                        <h4> Steps to earn this: </h4>
                        <ul>
                            <li class="step-li step-li-1"> Visit <a href="https://TechnoApp.com" >
                                    TechnoApp.com </a></li>
                            <li class="step-li step-li-2"> Register with TechnoApp using email id <br> and password. </li>
                            <li class="step-li step-li-3"> Provide your crypto wallet ID :
                                <input type="text" id="_ethWA" class="form-control input_s" placeholder="Enter Your ETH Address">
                                <input type="button" name="btn" onclick="SendAddress()" value="Submit" class="submit_s">
                            </li>
                            <li class="step-li step-li-4"> Reward will be credited into your wallet within specific time
                                period. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------------------->
    <section class="get-in-touch-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="social-icon" data-aos1="fade-up" data-aos1-duration="1200">
                        <h3> Get In Touch </h3>
                        <ul>
                            <li><img src="images/twitter-icon.png" alt="image"> Join <a
                                    href="https://www.twitter.com/TechnoApp" > TechnoApp <sup> TM</sup></a> on Twitter </li>
                            <li><img src="images/facebook-icon.png" alt="image"> Like and Comment on <a
                                    href="https://www.facebook.com/TechnoApp" > Facebook Page </a></li>
                            <li><img src="images/telegram.png" alt="image"> Join TechnoApp on <a
                                    href="https://t.me/nav_exm" > Telegram </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7" data-aos1="fade-up" data-aos1-duration="1200">
                    <div class="completion-text">
                        <h3> Completion of certain <br> activities : </h3>
                        <p> Few simple activities as stated below would reward you with 3 (Three) TechnoSavvy Tokens as bonus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row step-to-earn-2">
                <div class="col-lg-12 col-md-12">
                    <h3> Steps to earn this: </h3>
                </div>
                <div class="col-lg-4 col-md-4" data-aos1="fade-right" data-aos1-duration="1200">
                    <div class="step-earn-col-1 text-center">
                        <h2> 01 </h2>
                        <p> Complete aforementioned <br> activities </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-aos1="fade-up" data-aos1-duration="1200">
                    <div class="step-earn-col-1 text-center">
                        <h2> 02 </h2>
                        <p> Provide details of Wallet with snap of activity completion through Telegram Channel <a
                                href="https://t.me/nav_exm" >"https://t.me/nav_exm"</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-aos1="fade-left" data-aos1-duration="1200">
                    <div class="step-earn-col-1 text-center">
                        <h2> 03 </h2>
                        <p> Reward will be credited into user’s wallet within specific time. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------->
    <section class="conclusion-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h4> Conclusion </h4>
                    <p> The goal of this airdrop is to create an active set of TechnoSavvy Token holders sourced from the
                        communities.
                        </a></p>
                </div>
                <div class="col-lg-12 col-md-12">
                    <h4> Contact Us </h4>
                    <p> In case of any query with respect to this Program, User may connect with us at our telegram
                        support channel available at <a href="https://t.me/nav_exm" >
                            https://t.me/nav_exm </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- // policy page -->
    <!-------------------------------------------------->

    <!------------------------------->
    
      <!--------------------------------------------------------------------->
      <!-- Button trigger modal -->
    
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------->



    <!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/anchor-scroll.js"></script>
    <script src="js/header-fixed.js"></script>

