
    <!-------------Outer-section---------------------->


    <!----------------------menu section---------------------------->
  

    <!---------------------------------------------------------------------->

    <!---------------------------------------------------------------------->
    <section class="section-login  bg2">
        <div class="container">
            <div class="row">

                <!----------------------------------------------->
                <div class="appen-div5">
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="kyc-alphatabdiv">
                            <div class="headingappen">List of TechnoApp Serving Countries </div>
                            <div class="css99-hisbtn">
                                <span class="sell-btn-22">
                                    <div class="css77tran-search ">
                                        <form>
                                            <input type="text" class="trans-search" placeholder="Search" name="search">
                                            <button type="submit" class="mar-sea-btn"><i
                                                    class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
<!----------------alphbets shoting------------------------------------->
<div class="wallet-sectdiv33">
<ul class="list-unstyledalpha">
    <li><a href="#">A</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D</a></li>
    <li><a href="#">E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G</a></li>
    <li><a href="#">H</a></li>
    <li><a href="#">I</a></li>
    <li><a href="#">J</a></li>
    <li><a href="#">K</a></li>
    <li><a href="#">L</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">M</a></li>
    <li><a href="#">O</a></li>
    <li><a href="#">P</a></li>
    <li><a href="#">Q</a></li>
    <li><a href="#">R</a></li>
    <li><a href="#">S</a></li>
    <li><a href="#">T</a></li>
    <li><a href="#">U</a></li>
    <li><a href="#">V</a></li>
    <li><a href="#">W</a></li>
    <li><a href="#">X</a></li>
    <li><a href="#">Y</a></li>
    <li><a href="#">Z</a></li>
</ul>
</div>               <!----------------------------------------------->


                    <div class="wallet-sectdiv33">
                        <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">

                            <div id="feesdivcs34" class="table-xscroll44">
                                <table class="table  cssearn-table">
                                    <thead class="trasaction-table-title">
                                        <tr>
                                            <th nowrap="nowrap" rowspan="2" scope="rowgroup"
                                                class="css566-table-text text-center">Country</th>
                                          
                                            <th nowrap="nowrap" colspan="3" class="css566-table-text text-center">KYC
                                                Requirement  </th>

                                        </tr>
                                        <tr>
                                            <th nowrap="nowrap" class="css566-table-text text-center">Trade </th>
                                            <th nowrap="nowrap" class="css566-table-text text-center">Deposit</th>
                                            <th nowrap="nowrap" class="css566-table-text text-center">Withdrawal </th>


                                        </tr>
                                    </thead>

    <!--------------------------------->
    <tbody class="trasaction-table">

        <tr>
            <td> Afghanistan</td>          
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     


    </tbody>
    <!---------------------------------->

    <tbody class="trasaction-table">

        <tr>
            <td>Angola</td>
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
    </tbody>
    <!--------------------------------->
    <tbody class="trasaction-table">

        <tr>
            <td rowspan="7">Andorra</td>
            <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

    </tbody>
    <!--------------------------------->

         <!------------------------------------>

         <tbody class="trasaction-table">

            <tr>
                <td>Argentina</td>
                <td> KYC Not Required </td>
                <td> KYC Not Required </td>
                <td> After KYC</td>
            </tr>     
        </tbody>
        <!---------------------------------->

                 <!------------------------------------>

                 <tbody class="trasaction-table">

                    <tr>
                        <td>Armenia</td>
                        <td> KYC Not Required </td>
                        <td> KYC Not Required </td>
                        <td> After KYC</td>
                    </tr>     
        
                </tbody>
                <!---------------------------------->
  <!------------------------------------------------------------------------------------------>

  <tbody class="trasaction-table">

    <tr>
        <td>Austria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Azerbaijan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Bangladesh</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Barbados</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Benin</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Bhutan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Bolivia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Bosnia and Herzegovina</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Botswana</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Brazil</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Brunei</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Bulgaria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Burkina Faso</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Cameroon</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Central African Republic</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Chad</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Chile</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Comoros</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Congo (Congo-Brazzaville)</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Costa Rica</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Côte d'Ivoire</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Democratic Republic of the Congo</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Djibouti</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Dominica</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Dominican Republic</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Equatorial Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Eritrea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7"> Eswatini (fmr. "Swaziland")</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td> Ethiopia </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7"> Fiji </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td> Gabon </td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7"> Gambia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Ghana</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Greece</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Grenada</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!-------------------------------------------------------------->
<tbody class="trasaction-table">

    <tr>
        <td>Guatemala</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Guinea-Bissau</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Guyana</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Haiti</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Honduras</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Hungary</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>India</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Jordan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Kiribati</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Kuwait</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Latvia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Lebanon</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Lesotho</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Liberia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Libya</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Libya</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Madagascar</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>	Malawi</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>	Maldives</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Mali</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Marshall Islands</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Mauritania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Micronesia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Moldova</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Mongolia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Morocco</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Mozambique</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Myanmar (formerly Burma)</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Namibia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Nauru</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Nepal</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Niger</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">North Korea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">North Macedonia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Norway</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Oman</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Palau</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Palestine State</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
   
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Papua New Guinea</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Paraguay</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Peru</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Portugal</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Qatar</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Romania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Rwanda</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Saint Lucia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Saint Vincent and the Grenadines</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Samoa</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>São Tomé and Principe</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Saudi Arabia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Senegal</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Seychelles</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Sierra Leone</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Slovenia</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Solomon Islands</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Somalia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>South Africa</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>South Sudan</td>      
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Sri Lanka</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Sudan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Suriname</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Syria</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Tajikistan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Tanzania</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Timor-Leste</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Togo</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Tonga</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Trinidad and Tobago</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Tunisia</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Turkmenistan</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Tuvalu</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Uganda</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Ukraine</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Uruguay</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Vietnam</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td rowspan="7">Yemen</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     

</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Zambia</td>
        <td> KYC Not Required </td>
            <td> KYC Not Required </td>
            <td> After KYC</td>
        </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------>
<tbody class="trasaction-table">

    <tr>
        <td>Zimbabwe</td>
        <td> KYC Not Required </td>
        <td> KYC Not Required </td>
        <td> After KYC</td>
    </tr>     
</tbody>
<!------------------------------------------------------------------------------------------>

                                </table>

                            </div>


                        </div>
                    </div>


                    <!---------------------------------------->
                </div>
            </div>
    </section>

       <!-- ========= Footer Section ========= -->
    <!--------------------------------------------------------------------->
  <!------------------------------->
    <!--------------------------------------------------------------------->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
            <div class="modal-content mod-sec221">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body combox55">
                    <img src="images/logo1.png" alt="" class="mb-3">
                    <p b-cd26ewwikh=""> COMING SOON!</p>

                    <p class="text33">We are almost here! Get ready to be amazed.<br>
                        <span class="boldtexr34"> We follow Agile!</span>
                        <br>We are committed to bring you an incredible Crypto Trading experience.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------->
    

    <!---------------------------------------------------------------------->


    <!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/header-fixed.js"></script>
    
    <script src="js/tooltip.js"></script>
    
