
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-upload bg2">
 
    <div class="container">
      <div class="login-box" id="login-tab"> 
        <div class="person-ver">
            <div class="row">
            <h1 class="heading divenity44">
              <!-- <span><a href="country-residence.html"><i class="fa fa-step-backward" aria-hidden="true"></i>  </a></span>  -->
              <span> Verify your Entity Information
                </span></h1> 
                <ol class="steps">
                    <li class="step  is-active" data-step="1"> <a href="basic-information.html">
                      Basic Information</a>
                    </li>
                    <li class="step " data-step="2"> <a href="related-parties.html">
                      Related Parties</a>
                    </li>
                    <li class="step" data-step="3"> <a href="uploaded-document.html">
                      Upload Documents</a>
                    </li>
                    <li class="step" data-step="4"> <a href="fiat-enablement.html">
                      Fiat enablement (If required)</a>
                    </li>
                  </ol>
                  
</div>
   <div class="row">
    
          <div class="col-md-4 col-xs-12">
            <div class="css7-enity66div">
                <!----------------------------------------->
                <div class="title">1. Basic Information</div></div>  
            <div id="information-tabdiv" class="information-tabdiv">
                <ul class="nav nav-tabs">
                    <li class="nav-item">    
                      <a class="nav-link  ms-0 active" data-bs-toggle="tab" href="#account66"><i class="fa fa-info-circle" aria-hidden="true"></i> Account Information </a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#address66"><i class="fa fa-university" aria-hidden="true"></i> Entity Address </a>
                    </li> 

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#declaration66"><i class="fa fa-file-text" aria-hidden="true"></i> Source Declaration </a>
                      </li> 

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#information66"><i class="fa fa-paperclip" aria-hidden="true"></i> Additional Information</a>
                    </li> 
                  
                  </ul>
            
             
                  </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <div id="information-tabdiv" class="information-tabsumry44">                
                <div  class="tab-content ">
       
            <div class="tab-pane active" id="account66">
<div class="infodiv-box99">
<div class="ingotitle33b">Account Information </div>
    <div class="css7entityver">
        <!----------------------------------------->
      <form>
    <div class="row">              
        <div class="col-md-12 col-12">
          <label for="exampleFormControlInput1" class="form-label">Entity Name </label>
          <input type="text" class="form-control" placeholder=" ">
        </div>    
   
    </div>
    
    <div class="row">  
      <div class="col-md-12 col-12">
        <label for="exampleFormControlInput1" class="form-label">Registration Number <span class="commcss4">*</span></label>
        <p class="fromtextcs26">The Entity Registration Number you enter here should be same as defned in your
          Certifcate of Registration or Incorporation. As we may dependent on this registration
          number to retrieve public available information of your company. So, please ensure the
          registration number is consistent with number defned on certifcate.
          </p>
          <input type="test" class="form-control" placeholder=" ">
      </div></div>

       
    <div class="row">  
      <div class="col-md-12 col-12">
        <label for="exampleInputPassword1" class="form-label">Date of Incorporation <span class="commcss4">*</span></label>
        <input type="date" class="form-control" placeholder="Date of Birth">
      </div>
   
    
    </div>

    <span> <a href="#address66" class="upload-save-btn"> Save & Continue</a></span>
      </form>
    
    <!----------------------------------------->
    
        <!----------------------------------------->
    </div>
</div>
            </div>
            <div class="tab-pane fade" id="address66">
                <div class="infodiv-box99">
                    <div class="ingotitle33b">Entity Address</div>
                    <div class="css7entityver">
                        <!----------------------------------------->
                      <form>
                        <div class="cssentitytitle"> Registered Address </div>
                    
                    <div class="row">  
                      <div class="col-md-6 col-12">
                        <div class="form-group">
                          <label class="lable-name22"> Jurisdiction                    
                          </label>
                         
                          <select class="form-select" id="cmbIdioma">
                            <option value="Australia" selected>Australia</option>
                            <option value="United_Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="China">China</option>
                            <option value="American_Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                          </select>
                        
                
                                    </div> 
                      </div>
                      <div class="col-md-6 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">City </label>
                        <input type="text" class="form-control" placeholder=" ">
                      </div>
                   
                    
                    </div>
          
                    <div class="row">  
                      <div class="col-md-12 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">Street Address</label>
                        <input type="text" class="form-control" placeholder="First Floor, First ST Vincent Ltd Building">
                      </div>
                      </div>         
                    <div class="row">  
                      <div class="col-md-12 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">Zip Code</label>
                        <input type="text" class="form-control" placeholder="VC0100 ">
                      </div>
                      </div>
                    </form>
                    <form>
          
                      <div class="row">
                        <div class="cssentitytitle"> Operating Business Address </div>              
                      </div>
                      <div class="row">
                        <label for="exampleInputPassword1" class="lable-name22"> Please ensure that the Operating Business Address is same as the address defned in your Proof of Address document, uploaded within Upload documents section to verify your entity.</label>
                      <div class="divcss55busnex77">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                           Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                          No
                          </label>
                        </div></div>
                      </div>
                 
          
                 
                    
                    <div class="row">  
                      <div class="col-md-6 col-12">
                        <div class="form-group">
                          <label class="lable-name22"> Jurisdiction                    
                          </label>
                         
                          <select class="form-select" id="cmbIdioma">
                            <option value="Australia" selected>Australia</option>
                            <option value="United_Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="China">China</option>
                            <option value="American_Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                          </select>
                        
                
                                    </div> 
                      </div>
                      <div class="col-md-6 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">City </label>
                        <input type="text" class="form-control" placeholder=" ">
                      </div>
                   
                    
                    </div>
          
                    <div class="row">  
                      <div class="col-md-12 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">Street Address</label>
                        <input type="text" class="form-control" placeholder="First Floor, First ST Vincent Ltd Building">
                      </div>
                      </div>         
                    <div class="row">  
                      <div class="col-md-12 col-12">
                        <label for="exampleInputPassword1" class="lable-name22">Zip Code</label>
                        <input type="text" class="form-control" placeholder="VC0100 ">
                      </div>
                      </div>
          
          
                    <span> <a href="#" class="upload-save-btn">Save & Continue</a></span>
                      </form>
                    
                    <!----------------------------------------->
                    
                        <!----------------------------------------->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="declaration66">
                <div class="infodiv-box99">
                    <div class="ingotitle33b"> Source Declaration</div>
                    <div class="css7entityver">
                        <!----------------------------------------->
                      <form>
                        <div class="row">  
                          <div class="col-md-12 col-12">
          
                            <div class="form-group"> 
                              <label class="form-label">Source of Capital</label>
          
                              <div id="multiselectdrop" class="dropdown">
                                <label class="dropdown-label form-select"> </label>
                                
                                <div class="dropdown-list">
                               
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_21"/>
                                    <label for="checkbox-custom_21" class="checkbox-custom-label">Personal Savings
                              </label>
                                </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_22"/>
                                    <label for="checkbox-custom_22" class="checkbox-custom-label">Business Loan      
                                    </label>
                                          </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_23"/>
                                    <label for="checkbox-custom_23" class="checkbox-custom-label">Investors
                                    </label>
                                      </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_24"/>
                                    <label for="checkbox-custom_24" class="checkbox-custom-label">Asset/Property Sale    
                                    </label>
                                      </div>
          
                                      <div class="checkbox">
                                          <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_25"/>
                                          <label for="checkbox-custom_25" class="checkbox-custom-label">Gifts  
                                          </label>
                                            </div>
          
                                            <div class="checkbox ">
                                              <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_26"/>
                                              <label for="checkbox-custom_26" class="checkbox-custom-label">Others 
                                              </label>
                                              <span class="mutiinputfill77"><input type="text" class="form-control" placeholder="Enter More Details"> </span>
                                                </div>
          
                                </div>
                              </div>
                              </div>
                          
          
                        </div></div>
          
                        <div class="row">  
                          <div class="col-md-12 col-12">
          
                            <div class="form-group"> 
                              <label class="form-label">Source of Wealth</label>
          
                              <div id="multiselectdrop" class="dropdown">
                                <label class="dropdown-label form-select"> </label>
                                
                                <div class="dropdown-list">
                              
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_41"/>
                                    <label for="checkbox-custom_41" class="checkbox-custom-label">Income or Revenue from business activities
                              </label>
                                </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_42"/>
                                    <label for="checkbox-custom_42" class="checkbox-custom-label">Investment Activities
                                    </label>
                                          </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_43"/>
                                    <label for="checkbox-custom_43" class="checkbox-custom-label">Funding from Investors
                                    </label>
                                      </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_44"/>
                                    <label for="checkbox-custom_44" class="checkbox-custom-label">Family Wealth & Inheritance   
                                    </label>
                                      </div>
          
                               
          
                                            <div class="checkbox ">
                                              <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_45"/>
                                              <label for="checkbox-custom_45" class="checkbox-custom-label">Others 
                                              </label>
                                              <span class="mutiinputfill77"><input type="text" class="form-control" placeholder="Enter More Details"> </span>
                                                </div>
          
                                </div>
                              </div>
                              </div>
          
                         
                        </div></div>
          
                    
                        <div class="row">  
                          <div class="col-md-12 col-12">
          
                            <div class="form-group"> 
                              <label class="form-label">Source of Funds</label>
          
                              <div id="multiselectdrop" class="dropdown">
                                <label class="dropdown-label form-select"> </label>
                                
                                <div class="dropdown-list">
                             
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_51"/>
                                    <label for="checkbox-custom_51" class="checkbox-custom-label">Personal Savings
                              </label>
                                </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_52"/>
                                    <label for="checkbox-custom_52" class="checkbox-custom-label">Business Loan      
                                    </label>
                                          </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_53"/>
                                    <label for="checkbox-custom_53" class="checkbox-custom-label">Investors
                                    </label>
                                      </div>
                                  
                                  <div class="checkbox">
                                    <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_54"/>
                                    <label for="checkbox-custom_54" class="checkbox-custom-label">Asset/Property Sale    
                                    </label>
                                      </div>
          
                                      <div class="checkbox">
                                          <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_55"/>
                                          <label for="checkbox-custom_55" class="checkbox-custom-label">Gifts  
                                          </label>
                                            </div>
          
                                            <div class="checkbox ">
                                              <input type="checkbox" name="dropdown-group" class="check checkbox-custom" id="checkbox-custom_56"/>
                                              <label for="checkbox-custom_56" class="checkbox-custom-label">Others 
                                              </label>
                                              <span class="mutiinputfill77"><input type="text" class="form-control" placeholder="Enter More Details"> </span>
                                                </div>
          
                                </div>
                              </div>
                              </div>
          
          
                        </div></div>
          
                   
          
                    </form>
                    <span> <a href="#" class="upload-save-btn">Save & Continue </a></span>
                    
                    <!----------------------------------------->
                    
                        <!----------------------------------------->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="information66">
                <div class="infodiv-box99">
                    <div class="ingotitle33b"> Additional Information </div>
                    <div class="css7entityver">
                        <!----------------------------------------->
                      <form>
                    <div class="row">              
                        <div class="col-md-12 col-12">
                          <label for="exampleFormControlInput1" class="form-label">Purpose of Application </label>
                          <textarea class="form-control" placeholder="Trade of TechnoApp" row="2" id="floatingTextarea2"></textarea>
                        </div>    
                   
                    </div>
                    
                    <div class="row">  
                      <div class="col-md-12 col-12">
                        <label for="exampleFormControlInput1" class="form-label">Contact Number  </label>
                        <div class="form-group" >
                          <input type="number" id="mobile-number" class="form-control input_flag-l" placeholder="e.g. +1 702 123 4567">
                                                                 </div> 
                      </div>   
                    
                    </div>
                    <div class="row"> 
                    <div class="col-md-12 col-12">
                      <label for="exampleInputPassword1" class="lable-name22">Company Website (if have) </label>
                      <input type="text" class="form-control" placeholder="https://TechnoApp.com/ ">
                      <span class="suboption66"> Please ensure that the website of company is accessible otherwise, you can put 'NA' if you do
                        not have website.</span>
                    </div>
                    </div>
               
                    <span> <a href="#" class="upload-save-btn">Save</a></span>
                 
                      </form>
                      <p class="ps-0">  Click Continue to submit this section</p>
                      <!----------------------------------------->
                      <button class="btn gent-btn mt-3" type="button" onclick="location.href='related-parties.html'">Continue</button>
                  </div>
                    <!----------------------------------------->
          
                  </div>
                </div>
            </div>
            </div>
       
          </div>
        </div>
      
    
    </div></div>
    
    </div>
  </section>

<!---------------------------------------------------------------------->


<!------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->
 
<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/uploade-document.js"></script> 
    <script src="js/mutiselect.js"></script> 
    <script src="js/intlTelInput.js"></script> 
<script>
      $("#mobile-number").intlTelInput();
</script>


   
  