
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
<section id="myHeader" class="menu-section"> 
  <div class="container-fluid">
    <div class="row">
<div class="top-meu-box">
  <div class="top-menu-left">

    <div class="logo-top "> <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="images/b-logo.png"></a></div>

    <div class="menu-top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="menu">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse menu-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="https://TechnoApp.com/" > Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about-TechnoSavvy.html" >About TechnoSavvy</a>
              </li>
              <li class="nav-item wallet-top  dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false"> Buy </a>
                <ul class="dropdown-menu dropdown-menu-css44 top-navbar css-inline"
                  data-popper-placement="bottom-start">
                  <li><a class="dropdown-item   dropdown-item-css44" href="https://buy.TechnoSavvytoken.com/"
                      ><i class="fa fa-credit-card" aria-hidden="true"></i> Buy TechnoSavvy</a></li>
                  <li><a class="dropdown-item" asp-controller="login" asp-action="login" ><i class="fa fa-credit-card"
                        aria-hidden="true"></i> Buy Crypto</a></li>
                  <li><a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-search"
                        aria-hidden="true"></i> Deposit Crypto</a></li>
                  <li><a class="dropdown-item" asp-controller="login" asp-action="login"> <i class="fa fa-money" aria-hidden="true"></i>
                      Withdraw</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="academy.html" >Academy</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " asp-controller="market" asp-action="index">Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="index1.html">Trade</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg2" asp-controller="cashback" asp-action="Index">Cashback</a>
              </li>

            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="top-menu-right">
    <form >
      <div id="top-navbar" class="top-navbar">
        <div class="top-navbar">
          <span class="wallet-top">
            <div id="wallet-top" class="dropdown">
                <button type="button" class="btn  dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>    Wallet
                </button>
                <ul class="dropdown-menu dropdown-menu-css44 css-inline" data-popper-placement="bottom-end">
                  <li><a class="dropdown-item   dropdown-item-css44" href="wallet.html"><i class="fa fa-search" aria-hidden="true"></i> Overview</a></li>
                  <li><a class="dropdown-item" href="spot-wallet.html"><i class="fa fa-credit-card" aria-hidden="true"></i> Spot Wallet</a></li>
                  <li><a class="dropdown-item" href="funding-wallet.html"> <i class="fa fa-money" aria-hidden="true"></i> Funding Wallet</a></li>
                  <li><a class="dropdown-item" href="earn-wallet.html"><i class="fa fa-folder-open" aria-hidden="true"></i> Earn Wallet</a></li>
                  <li><a class="dropdown-item" href="transaction.html"><i class="fa fa-table" aria-hidden="true"></i> Transaction History</a></li>
                  <li><a class="dropdown-item" href="account-statement.html"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Account Statement</a></li>
                
                            </ul>
              </div>
          </span>
          <span class="wallet-top">
            <div class="dropdown">
                <button type="button" class="btn  dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-first-order" aria-hidden="true"></i>  Order
                </button>
                <ul class="dropdown-menu dropdown-menu-css44 css-inline" data-popper-placement="bottom-end">
                  <li><a class="dropdown-item   dropdown-item-css44" href="spotopen-orders.html"><i class="fa fa-file-text" aria-hidden="true"></i> Spot</a></li>
                  <li><a class="dropdown-item" href="p2p-order.html"><i class="fa fa-credit-card" aria-hidden="true"></i>P2P Order</a></li>
                  <li><a class="dropdown-item" href="cashback.html"><i class="fa fa-credit-card" aria-hidden="true"></i>Earn History</a></li>

                 </ul>
              </div>
          </span>
          <span class="wallet-top">
            <div id="wallet-top" class="dropdown">
                <button type="button" class="btn  dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-user-circle" aria-hidden="true"></i> <small>Nick Name</small>
                </button>
                <ul class="dropdown-menu dropdown-menu-css44 css-inline" data-popper-placement="bottom-end">
                  <li><a class="dropdown-item   dropdown-item-css44" href="dashboard.html"> <i class="fa fa-user" aria-hidden="true"></i>kavi***@@gmail.com</a></li>
                  <li><a class="dropdown-item   dropdown-item-css44" href="dashboard.html"> <i class="fa fa-th-large" aria-hidden="true"></i> Dashboard</a></li>
                  <li><a class="dropdown-item" href="security.html"> <i class="fa fa-lock" aria-hidden="true"></i> Security & Setting</a></li>                 
                  <li><a class="dropdown-item  kyc-menu" href="personal-identity.html">  <i class="fa fa-id-card" aria-hidden="true"></i> Profile<span class="css44-protic"><i class="fa fa-check kyc " aria-hidden="true"></i></span></a></li>
                  <li><a class="dropdown-item" asp-controller="policy" asp-action="referral-policy"> <i class="fa fa-user-plus" aria-hidden="true"></i> Referral</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                            </ul>
              </div>
          </span>
          <span class="profile-top"><a href="dashboard-notification-detail.html"><i class="fa fa-bell-o" aria-hidden="true"></i> </a></span>
          <span>
            <div class="dropdown">
              <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                ENG
              </button>

            </div>
          </span>

          <span>
            <div class="dropdown">
              <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                USD
              </button>
              <ul class="dropdown-menu megamenu drop55" aria-labelledby="navbarDropdown">
                <div id="sub-menu23 " class="sub-menu23">

                  <ul id="dropusadiv35" class="dropusadiv35">

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd  active">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/AUD.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckaud">AUD - $</label>                               
                          </div>
                        </div>
                      </a></li>


                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/BGN.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckbgn">BGN - BGN</label>                                  
                          </div>
                        </div>
                      </a></li>


                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/CAD.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckcad">CAD - $</label>                                  
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/CHF.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckchf">CHF - FR</label>                                   
                          </div>
                        </div>

                      </a></li>


                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/CNY.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckcny">CNY - ¥</label>                                  
                          </div>
                        </div>

                      </a></li>



                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/CZK.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckczk">CZK - KČ</label>                                  
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/DKK.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckdkk">DKK - KR</label>                                   
                          </div>
                        </div>

                      </a></li>



                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/EUR.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckeur">EUR - €</label>                                   
                          </div>
                        </div>

                      </a></li>


                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/GBP.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckgbp">GBP - £</label>                                   
                          </div>
                        </div>

                      </a></li>




                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/HKD.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckhkd">HKD - $</label>                                   
                          </div>
                        </div>
                      </a></li>



                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/HUF.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckhuf">HUF - FT</label>                                 
                          </div>
                        </div>
                      </a></li>


                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/ILS.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckils">ILS - ₪</label>                                   
                          </div>
                        </div>

                      </a></li>

                    <li><a class="dropdown-item" href="#">

                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/INR.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckinr">INR - ₹</label>                                   
                          </div>
                        </div>

                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/JPY.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckjpy">JPY - ¥</label>                                   
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/MXN.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckmxn">MXN - $</label>                                 
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/NOK.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecknok">NOK - $</label>                                    
                          </div>
                        </div>
                      </a></li>
                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/NZD.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecknzd">NZD - $</label>                                   
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/PLN.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckpln">PLN - zł</label>                               
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/RON.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckron">RON - RON</label>                                
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/RUB.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckrub">RUB - ₽</label>                                  
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/SAR.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecksar">SAR - SAR</label>                                 
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/SEK.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecksek">SEK - KR</label>                                 
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/SGD.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecksgd">SGD - S$</label>                                  
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/THB.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckthb">THB - ฿</label>                               
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/TRY.svg"></div>
                            <label class="form-check-label" for="flexSwitchChecktry">TRY - ₺</label>                                
                          </div>
                        </div>
                      </a></li>

                    <li><a class="dropdown-item" href="#">
                        <div class="css222-usd">
                          <div class="form-check form-switch">
                            <div class="css222-usd-img"><img src="images/currency/USD.svg"></div>
                            <label class="form-check-label" for="flexSwitchCheckusd">USD - $</label>                                  
                          </div>
                        </div>
                      </a></li>






























                  </ul>

                </div>
              </ul>
            </div>
          </span>
        
        
        <span><a href="light-theme/Index.html"><i class="fa fa-sun-o" aria-hidden="true"></i></a></span>
        
        </div>   

        </div>
    </form>
  </div>

</div>

  </div>
  </div>
  </section>
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
<!---------------------------------------------------------------------->
<section class="section-wallet bg2"> 
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div id="wallet-left33" class="col-md-2 col-md-2 col-lg-2  col-xxl-2 px-0 wallet-left-bg">
                <div class="d-flex flex-column align-items-center align-items-sm-start  sidebar text-white">
                
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"  id="nav_accordion">
           
                  
                    <li class="nav-item has-submenu">
                      <a class="nav-link" href="#">   <i class="fa fa-money" aria-hidden="true"></i> Spot Order <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                      <ul class="submenu collapse">
                                        <li><a class="nav-link" href="spotopen-orders.html"> <i class="fa fa-th-large" aria-hidden="true"></i>Open Order</a></li>
                          <li><a class="nav-link" href="order-history.html"> <i class="fa fa-th-large" aria-hidden="true"></i>  Order History </a> </li>
                          <li><a class="nav-link" href="trade-history.html"> <i class="fa fa-th-large" aria-hidden="true"></i>  Trade History </a> </li>
                      </ul>
                    </li>


                    <li class="nav-item">   <a href="p2p-order.html" class="nav-link">
                      <i class="fa fa-folder-open" aria-hidden="true"></i> <span class=" d-none d-sm-inline">P2P Order</span> </a>
              </li>

              <li class="nav-item has-submenu">
                <a class="nav-link  active " href="#">   <i class="fa fa-money" aria-hidden="true"></i> Earn History<i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                <ul class="submenu collapse show">
                                  <li><a class="nav-link active" href="cashback.html"> <i class="fa fa-th-large" aria-hidden="true"></i>Cashback</a></li>
                                       
                </ul>
              </li>

     


                </ul>
           
       
                </div>
            </div>
            <!----------------------------------------------->

            <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
                <div class="wallet-right33"> 
                  <div class="wallet-sectdiv33">
                    <div id="wallet-tabdiv" class="wallet-tabdiv">
                    <div class="heading">Cashback          </div>
                    <div class="css99-hisbtn">              
                      <a href="#" class="csss77-histbtn"> <i class="fa fa-download" aria-hidden="true"></i>Export</a>
                    </div>
                  </div>
                  </div>
  
  
                  <div class="wallet-sectdiv33">
                    <div id="wallet-tabdiv" class="wallet-tabdiv">
                      <div class="sell-right-but ">
                        <div class="css33-leftpan">
                          <span class="sell-btn-22">
                            <lable class="label857">Pair</lable>
                              <select class="form-select" aria-label="Default select example">
                                  <option selected="">All</option>
                                  <option value="1">BTC/USDT </option>
                                  <option value="2">ETH/USDT</option>
                                  <option value="3">TechnoSavvy/USDT</option>
                                  <option value="4">BTC/TechnoSavvy</option>
                                  <option value="5">ETH/TechnoSavvy</option>
                                  <option value="6">BUSD/TechnoSavvy</option>
                                  <option value="7">USDC/TechnoSavvy</option>
                                  <option value="8">BNB/TechnoSavvy</option>
                                  <option value="9">CHZ/TechnoSavvy</option>
                                  <option value="10">MATIC/TechnoSavvy</option>
                                  <option value="11"> LINK/TechnoSavvy</option>
                                  <option value="12">BTC/TechnoSavvy</option>
                                    <option value="13"> ETH/TechnoSavvy</option>
                                      <option value="14"> BUSD/TechnoSavvy</option>
                                        <option value="15"> USDC/TechnoSavvy</option>
                                          <option value="16">BNB/TechnoSavvy</option>
                                            <option value="17">CHZ/TechnoSavvy</option>
                                              <option value="18">MATIC/TechnoSavvy</option>
                                                <option value="19">LINK/TechnoSavvy</option>
                                                  <option value="20">DAI/TechnoSavvy</option>
                                                    <option value="21">WBTC/TechnoSavvy</option>
                                                      <option value="22">LUNC/TechnoSavvy</option>
                                                        <option value="23">TechnoSavvy/USDT</option>
                                                          <option value="24">BTC/USDT</option>
                                                            <option value="25">ETH/USDT</option>
                                                              <option value="26">BUSD/USDT</option>
                                                                <option value="27">USDC/USDT</option>
                                                                  <option value="28">BNB /USDT</option>
                                                                    <option value="29">CHZ/USDT</option>
                                                                      <option value="30">MATIC/USDT</option>
                                                                        <option value="31">LINK /USDT</option>
                                                                          <option value="32">DAI/USDT</option>
                                                                            <option value="33"> WBTC/USDT</option>
                                                                              <option value="34">LUNC/USDT</option>
                                                                                <option value="35">ETH/BTC</option>
                                                                                  <option value="36"> BTC/BUSD</option>
                                                                                    <option value="37">BTC/USDC</option>
                                                                                      <option value="38">BTC/BNB</option>
                                                                                        <option value="39"> BTC/CHZ</option>
                                                                                          <option value="40">BTC/MATIC</option>
                                                                                            <option value="41">BTC/LINK</option>
                                                                                              <option value="42">BTC/DAI</option>
                                                                                                <option value="43">BTC/WBTC</option>
                                                                                                  <option value="44"> BTC/WBTC</option>
                                                                                                    <option value="45"> BTC/LUNC</option>
                                  
                                </select>  
                          </span>
                          <span class="sell-btn-22">
                            <lable class="label857"> Side</lable>
                              <select class="form-select" aria-label="Default select example">
                                  <option selected="">All</option>
                                  <option value="1">Buy </option>
                                  <option value="2">Sell</option>
                               
                                </select>  
                          </span>
                          <span class="sell-btn-22">
                            <lable class="label857"> Order Type</lable>
                              <select class="form-select" aria-label="Default select example">
                                  <option selected="">All</option>
                                  <option value="8">FOK</option>
                                  <option value="3">ICE Berg</option>
                                  <option value="3">IOC</option>
                                  <option value="1">Limit Order</option>
                                  <option value="4">Loop</option>
                                  <option value="2">Market</option>
                                  <option value="7">OCO</option>
                                  <option value="5">Stop Limit</option>
                                  <option value="6">Stop Market</option>
                              
                                 
                                </select>  
                          </span>

                          <span class="sell-btn-22">
                            <lable class="label857"> Period</lable>
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">Past 24 hrs</option>
                                <option value="1">Past 3 Days</option>
                                <option value="1">Past 7 Days </option>
                                <option value="2">Past 15 Days</option>
                                <option value="2">Past 30 Days</option>
                             
                              </select> 
                          </span>
                                  
                          <span class="sell-btn-22">  
                            <lable class="label857">From</lable>
                            <input type="date" class="form-select  form-control2 cssform454" aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                                  
                          </span>
                          <span class="sell-btn-22">  
                            <lable class="label857">To </lable>
                            <input type="date" class="form-select  form-control2 cssform454" aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                                  
                          </span>
                
           
                      
                </div>
                <div class="css33-rightpan">   

                
                    <span class="sell-btn-22">   <a href="#" class="csss77-histbtn"> Reset </a>
                     
                    </span></div>
                                        </div>
                      </div></div>
  
   <!----------------------------------------------->
   
                      <div class="wallet-sectdiv33">
                          <div id="comunity-css566-box" class="comunity-css566-box table-responsive">
                              <div class="table-xscroll44b  hide-overflow">
                                <table class="table  cssearn-table">
                                  <thead class="trasaction-table-title">
                                      <tr>
                                              <th nowrap="nowrap" class="text-left css566-table-text">Date &amp; Time </th>
                                              <th nowrap="nowrap" class="css566-table-text">Order Id</th>
                                              <th nowrap="nowrap" class="css566-table-text">Pair</th>
                                              <th nowrap="nowrap" class="css566-table-text">Side</th>  
                                              <th  nowrap="nowrap" class="css566-table-text"> Total</th>                                     
                                             <th  nowrap="nowrap" class="css566-table-text"> Cashback (TechnoSavvy) <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="To avail this Cashback, become a Community Member.
                                              " data-bs-original-title="" title="">
                                                 <i class="fa fa-info-circle css-1circle" aria-hidden="true"></i>  </span></th> 
                                                 <th nowrap="nowrap"  class="css566-table-text"> Pool Refund  <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Contribution to the Community Pool.
                                                  " data-bs-original-title="" title="">
                                                     <i class="fa fa-info-circle css-1circle" aria-hidden="true"></i>  </span></th>                                                                        
                                                       
                                              <th nowrap="nowrap" class="css566-table-text">Trade Id </th>                   
                                              <th nowrap="nowrap" class="css566-table-text">Cashback status</th>            
                                            
                                          
                                     
                                         
                                      
                                      </tr>
                                  </thead>
                                  <tbody class="trasaction-table">
                          
                           
                        
                                           <tr>                               
                                            <td class="text-left"><div class="css5datet44">
                                              <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                             </div> </td>
                                             <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                             <td>BTC/USDT </td>
                                             <td><span class="css44-up">Buy</span></td>                                                                                 
                                              <td>20000.00 <small> USDT</small></td>
                                              <td> <div class="css5asset44">
                                                <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                               </div> </td>
                                              <td> <div class="css5asset44">
                                                <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                               </div> </td>                                           
                                          
                                              <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                              <td>In Process</td>
                                              </tr>
                        
                                          
                             
                                                <tr>                               
                                                  <td class="text-left"><div class="css5datet44">
                                                    <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                   </div> </td>
                                                   <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                   <td>BTC/USDT </td>
                                                   <td><span class="css44-up">Buy</span></td>                                                                                 
                                                    <td>20000.00 <small> USDT</small></td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                     </div> </td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                     </div> </td>                                          
                                                
                                                    <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                    <td>In Process</td>
                                                   </tr>
                             
                        
                                                   <tr>                               
                                                    <td class="text-left"><div class="css5datet44">
                                                      <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                     </div> </td>
                                                     <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                     <td>BTC/USDT </td>
                                                     <td><span class="css44-up">Buy</span></td>                                                                                 
                                                      <td>20000.00 <small> USDT</small></td>
                                                      <td> <div class="css5asset44">
                                                        <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                       </div> </td>
                                                      <td> <div class="css5asset44">
                                                        <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                       </div> </td>                                          
                                                  
                                                      <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                      <td>In Process</td>
                                                     </tr>
                                                     
                                                <tr>                               
                                                  <td class="text-left"><div class="css5datet44">
                                                    <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                   </div> </td>
                                                   <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                   <td>BTC/USDT </td>
                                                   <td><span class="css44-up">Buy</span></td>                                                                                 
                                                    <td>20000.00 <small> USDT</small></td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                     </div> </td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                     </div> </td>                                          
                                                
                                                    <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                    <td>In Process</td>
                                                   </tr>
                                                   
                                                <tr>                               
                                                  <td class="text-left"><div class="css5datet44">
                                                    <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                   </div> </td>
                                                   <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                   <td>BTC/USDT </td>
                                                   <td><span class="css44-up">Buy</span></td>                                                                                 
                                                    <td>20000.00 <small> USDT</small></td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                     </div> </td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                     </div> </td>                                          
                                                
                                                    <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                    <td>In Process</td>
                                                   </tr>
                                                   
                                                <tr>                               
                                                  <td class="text-left"><div class="css5datet44">
                                                    <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                   </div> </td>
                                                   <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                   <td>BTC/USDT </td>
                                                   <td><span class="css44-up">Buy</span></td>                                                                                 
                                                    <td>20000.00 <small> USDT</small></td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                     </div> </td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                     </div> </td>                                          
                                                
                                                    <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                    <td>In Process</td>
                                                   </tr>
                                                   
                                                <tr>                               
                                                  <td class="text-left"><div class="css5datet44">
                                                    <span> 25/12/2022 </span> <span> <small> 23:00:00</small></span>
                                                   </div> </td>
                                                   <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td>  
                                                   <td>BTC/USDT </td>
                                                   <td><span class="css44-up">Buy</span></td>                                                                                 
                                                    <td>20000.00 <small> USDT</small></td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> 0.005 ETH</small></span>
                                                     </div> </td>
                                                    <td> <div class="css5asset44">
                                                      <span>~ 5.00 TechnoSavvy</span> <span> <small> - 0.005 ETH</small></span>
                                                     </div> </td>                                          
                                                
                                                    <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                                    <td>In Process</td>
                                                   </tr>
                        
                          
                                  </tbody>
                              </table>
                          
                          </div>
                          
                 
          <!-- ==== Pagination ==== -->
          <div class="row pagination">
            <nav id="pagination-css" aria-label="Page navigation example">
              <ul id="test1" class="blade-pagination" data-current="4" data-total="8">
              </ul>
            </nav>
          </div>
          <!-- ==== // Pagination ==== -->
                                     </div>
                    </div>
  
  
    <!----------------------------------------------->
  
        <!----------------------------------------------------->             
        
                  
  
                  </div>
  
  
            </div>
            </div>

            <!----------------------------------------------->
        </div>

    


</section>

<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/dropdown-menu.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/tooltip.js"> </script>

  