
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-upload bg2">
 
    <div class="container">
      <div class="login-box" id="login-tab">   
        <div class="row">
    
        <div class="col-md-6 col-xs-12">
            <div class="person-ver">
          <h1 class="heading divenity44">
            <!-- <span><a href="account-verify.html"><i class="fa fa-step-backward" aria-hidden="true"></i>  </a></span>  -->
            <span>Verify Your Entity
            </span></h1>
<div class="css7-kycver">
    <!----------------------------------------->
    <form class=" ">

      <div class="form-group">
          <label class="lable-name22"> Registered Country                    
          </label>
         
          <select class="form-select" id="cmbIdioma">
            <option value="Australia" selected>Australia</option>
            <option value="United_Kingdom">United Kingdom</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="China">China</option>
            <option value="American_Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
          </select>
        

                    </div> 
    
<div class="css7-enity66div">
<div class="title"> Entity Verification</div>
<div class="cssresi22-list">
<ul>
<li> <a href="basic-information.html"> <span> <i class="fa fa-info-circle" aria-hidden="true"></i>  </span> <span>Basic Information </span></a> </li>
<li> <a href="related-parties.html"> <span>  <i class="fa fa-user" aria-hidden="true"></i></span> <span>Related Parties</span> </a></li>
<li>  <a href="upload-document.html"> <span> <i class="fa fa-file-text" aria-hidden="true"></i> </span> <span>Upload Documents </span></a></li>
<li>  <a href="fiat-enablement.html"> <span><i class="fa fa-money" aria-hidden="true"></i> </span> <span>Fiat Enablement (If required)</span> </a></li>
</ul>
</div>
</div>


<div class="css7-enity66div">
<div class="title"> Guidance</div>
<div class="cssresi22-list">
<ul>
<li>  <a href="#"> <span><i class="fa fa-youtube-play" aria-hidden="true"></i></span> <span>A guide to Entity Verification</span></a></li>

</ul>
</div>
</div>
     <button class="btn gent-btn mt-3" type="button" onclick="location.href='basic-information.html'">Continue </button>
       
      </form>

<!----------------------------------------->

    <!----------------------------------------->
</div>

    
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="login-img"> <img src="images/kyc.png"> </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!---------------------------------------------------------------------->

<!------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->
 

<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/country-select2.min.js"></script>
    <script src="js/country-script.js"></script>

   
  