
<!-------------Outer-section---------------------->

<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="dashboardheader-section bg2">
<div class="container">
<div class="row">
    <div class="css33-dasbord-box">
   
   <div class="css33-user-detail">
    <div class="css33-user-img"><img src="images/user.png">  </div> 
 <div class="css33-detail"><span class="csss33name1">Nick Name: </span>  <span>Sam</span></div>


 <div class="css33-detail">   <span class="csss33name1">User Id: </span>  <span><a href="#">1234567</a></span></div>
 <div class="css33-detail">
  <span class="csss33name1">Email Id: </span> 
  <span class="csss77-walinp">
    <span id="id_password" class="css77-baldiv">************ </span>
    <span><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i> </a></span>
  </span> 

</div>
 <div class="css33-detail"> <span class="csss33name1">Country: </span>  <span>India</span></div>
 </div>
 <div class="css33-detail-kyc"><span class="csss33name1">KYC Status: </span>  <span class="css33-verify dashboard-3"> <small>Rejected</small><i class="fa fa-times-circle" aria-hidden="true"></i>  </span></div>
</div>
</div></div></section>
<!---------------------------------------------------------------------->

<section class="dashboard-section bg1">
  <div class="container">
<div class="row">
  <div class="market-title-div">
    <span class="market-title-h2"> 
      Markets
    </span>  
   <span></span>
  </div>
</div>
  <!------------------------------------->
  <!------------------------------------->
  <div class="row">
<div class="css555-market-div">
  <div class="row">
    <div class="col-md-4 col-12">
      <div  id="css55dashboard-tabs" class="css555-market-box">
        <div class="css33-wallet-div mt-3 mb-3"> 
          <span class="title">Top Gainer</span>    
     
          </div>
      <div class="css55dashboard-tabs"> 
        <span> <ul class="nav nav-tabs">
    
       
    
         <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#USDT11">USDT</a>
        </li> 
       
           <li class="nav-item">
             <a class="nav-link " data-bs-toggle="tab" href="#TechnoSavvy11">TechnoSavvy</a>
           </li>
       
           <li class="nav-item">
             <a class="nav-link" data-bs-toggle="tab" href="#BTC11">BTC</a>
           </li>
    
            
           <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#ETH11">ETH </a>
          </li>
    
         
         </ul></span>
       
     
         
         <!-- Tab panes -->
       
       </div>
       <!------------------------------------------>
      <div class="market-tabs-content ">                             
        <div class="tab-content">
     
          <div class="tab-pane active" id="USDT11">
            <div class="css55-dashboard-market">
              <ul class="price-ul">
                <li>Pair </li>
                <li>Price </li>
                <li>Volume (24h) </li>
                <li>24h Change <span class="arrow-css66"> (%)  
              </span></li>
              </ul>
              <!------------------------------------------>
              <div class="css55-dashboard-list">
                <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
            
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
             </div>
            <!------------------------------------------>
            </div>
          </div>
          <div class="tab-pane  fade" id="TechnoSavvy11">
            <div class="css55-dashboard-market">
              <ul class="price-ul">
                <li>Pair </li>
                <li>Price </li>
                <li>Volume (24h) </li>
                <li>24h Change <span class="arrow-css66"> (%)  
              </span></li>
              </ul>
              <!------------------------------------------>
              <div class="css55-dashboard-list">
                <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
             </div>
            <!------------------------------------------>
            </div>
          </div>
          <div class="tab-pane  fade" id="BTC11">
            <div class="css55-dashboard-market">
              <ul class="price-ul">
                <li>Pair </li>
                <li>Price </li>
                <li>Volume (24h) </li>
                <li>24h Change <span class="arrow-css66"> (%)  
              </span></li>
              </ul>
              <!------------------------------------------>
              <div class="css55-dashboard-list">
                <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
             </div>
            <!------------------------------------------>
            </div>
          </div>
          <div class="tab-pane  fade" id="ETH11">
            <div class="css55-dashboard-market">
              <ul class="price-ul">
                <li>Pair </li>
                <li>Price </li>
                <li>Volume (24h) </li>
                <li>24h Change <span class="arrow-css66"> (%)  
              </span></li>
              </ul>
              <!------------------------------------------>
              <div class="css55-dashboard-list">
                <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-up">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
               <ul class="price-listdash">
                 <li><span class="css4price">1INCH </span><span>/USDT</span> </li>
                 <li class="css44-down">0.123456</li>
                 <li class="css44-vol">$13,000,000</li>
                 <li class="css44-down">-0.64%</li>
               </ul>
             
             </div>
            <!------------------------------------------>
            </div>
          </div>
    
     
        </div>
      
      </div>
    
    </div></div>
<!---------------------------------------->
<div class="col-md-4 col-12">
  <div  id="css55dashboard-tabs" class="css555-market-box">
    <div class="css33-wallet-div mt-3 mb-3"> 
      <span class="title">Top Volume</span>    
 
      </div>
  <div class="css55dashboard-tabs"> 
    <span> <ul class="nav nav-tabs">

   

     <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#USDT22">USDT</a>
    </li> 
   
       <li class="nav-item">
         <a class="nav-link " data-bs-toggle="tab" href="#TechnoSavvy22">TechnoSavvy</a>
       </li>
   
       <li class="nav-item">
         <a class="nav-link" data-bs-toggle="tab" href="#BTC22">BTC</a>
       </li>

        
       <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ETH22">ETH </a>
      </li>

     
     </ul></span>
   
 
     
     <!-- Tab panes -->
   
   </div>
   <!------------------------------------------>
  <div class="market-tabs-content ">                             
    <div class="tab-content">
     
      <div class="tab-pane active" id="USDT22">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
            <ul class="price-listdash">
             <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
             <li class="css44-up">0.123456</li>
             <li class="css44-vol">$13,000,000</li>
             <li class="css44-down">-0.64%</li>
           </ul>
         
           <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
          <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
          <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
          <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="TechnoSavvy22">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
            <ul class="price-listdash">
              <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
              <li class="css44-up">0.123456</li>
              <li class="css44-vol">$13,000,000</li>
              <li class="css44-down">-0.64%</li>
            </ul>
         
            <ul class="price-listdash">
              <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
              <li class="css44-up">0.123456</li>
              <li class="css44-vol">$13,000,000</li>
              <li class="css44-down">-0.64%</li>
            </ul>

              <ul class="price-listdash">
             <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
             <li class="css44-up">0.123456</li>
             <li class="css44-vol">$13,000,000</li>
             <li class="css44-down">-0.64%</li>
           </ul>
         
           <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
          <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="BTC22">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="ETH22">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>

 
    </div>
  
  </div>

</div></div>
<!---------------------------------------->
<div class="col-md-4 col-12">
  <div  id="css55dashboard-tabs" class="css555-market-box">
    <div class="css33-wallet-div mt-3 mb-3"> 
      <span class="title">My Most Purchased</span>    
 
      </div>
  <div class="css55dashboard-tabs"> 
    <span> <ul class="nav nav-tabs">

   

     <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#USDT33">USDT</a>
    </li> 
   
       <li class="nav-item">
         <a class="nav-link " data-bs-toggle="tab" href="#TechnoSavvy33">TechnoSavvy</a>
       </li>
   
       <li class="nav-item">
         <a class="nav-link" data-bs-toggle="tab" href="#BTC33">BTC</a>
       </li>

        
       <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ETH33">ETH </a>
      </li>

     
     </ul></span>
   
 
     
     <!-- Tab panes -->
   
   </div>
   <!------------------------------------------>
  <div class="market-tabs-content ">                             
    <div class="tab-content">
     
      <div class="tab-pane active" id="USDT33">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="TechnoSavvy33">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="BTC33">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>
      <div class="tab-pane  fade" id="ETH33">
        <div class="css55-dashboard-market">
          <ul class="price-ul">
            <li>Pair </li>
            <li>Price </li>
            <li>Volume (24h) </li>
            <li>24h Change <span class="arrow-css66"> (%)  
          </span></li>
          </ul>
          <!------------------------------------------>
          <div class="css55-dashboard-list">
                     <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                    <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
              <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
                   <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
               <ul class="price-listdash">
            <li> <span class="css4price">1INCH </span><span>/USDT</span> </li>
            <li class="css44-up">0.123456</li>
            <li class="css44-vol">$13,000,000</li>
            <li class="css44-down">-0.64%</li>
          </ul>
         
         </div>
        <!------------------------------------------>
        </div>
      </div>

 
    </div>
  
  </div>

</div></div>
<!---------------------------------------->
</div>
</div>

</div>

<!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-6 col-12">
<div class="css33-wallet wallet-summ-box1">
<div class="css33-wallet-div"> 
<span class="title">Wallet Summary </span>    
<span class="css33-wallet-list"> 
  <span> <a href="wallet.html" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
  <span> 
    <div class="dropdowndiv">
      <button type="button" class="btn btn-more-das44 dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-css44">
        <li><a class="dropdown-item dropdown-item-css44" href="#">Trade</a></li>
        <li><a class="dropdown-item" href="#">Deposit</a></li>
        <li><a class="dropdown-item" href="#">Withdraw</a></li>
      </ul>
    </div>
    
  
</span>
</div> 

<div class="css33-wallet-box">
<span class="css33-wallet-detail"> 
  <div class="sub-title-wallet"> Spot </div>
  <div class="css33-spot-list">
    <span class="token-det44">TechnoSavvy, ETH, USDT & Others </span>
    </div>
  <div class="token-totalcsss33"><span>Total: </span> <span class="css44-valuett">1.123145 <span>ETH</span> </div>
</span>



<span class="css33-wallet-detail"> 
  <div class="sub-title-wallet">Earned </div>
  <div class="css33-spot-list">
    <span  class="token-det44">TechnoSavvy, ETH, USDT & Others </span>
      </div>
      <div class="token-totalcsss33"><span>Total: </span> <span class="css44-valuett">2.123456 <span>ETH</span> </div>
</span>

<span class="css33-wallet-detail"> 
  <div class="sub-title-wallet"> Funding</div>
  <div class="css33-spot-list">
    <span  class="token-det44">TechnoSavvy, ETH, USDT & Others </span>
     </div>
     <div class="token-totalcsss33"><span>Total: </span> <span class="css44-valuett">3.654321 <span>ETH</span> </div>
</span>

</div>
<div class="css33-walle-Trans mt-1">
<span>Total Balance</span>
<div class="css33inr"><span>7.221463</span>
<span> ETH </span>
</div> </div>

<a href="wallet.html" class="css33-wallet-btn" type="button">Details</a>
</div></div>

<div class="col-md-6 col-12">
<div class="css33-wallet">
  <div class="css33-wallet-div"> 
  <span class="title">Cashback Summary </span>    
  <span class="css33-wallet-list"> 
    <span> <a href="cashback.html" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
    <span>    <div class="dropdowndiv">
      <button type="button" class="btn btn-more-das44 dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-css44">
        <li><a class="dropdown-item dropdown-item-css44" href="#">Transfer</a></li>
        <li><a class="dropdown-item" href="#">Withdraw</a></li>

      </ul>
    </div></span>
  </span>
  </div> 
  
  <div class="css33-wallet-box">
  <span class="css33-wallet-detail text-center"> 
    <div class="sub-title-wallet">24 hr  </div>
    <div class="css33-tax-list">
     800 <small>TechnoSavvy</small>
    </div>
  </span>
  
  
  
  <span class="css33-wallet-detail text-center"> 
    <div class="sub-title-wallet">7 days   </div>
    <div class="css33-tax-list">
      500 <small>TechnoSavvy</small>
    </div>
  </span>
  
  <span class="css33-wallet-detail text-center"> 
    <div class="sub-title-wallet">30 days  </div>
    <div class="css33-tax-list">
5000 <small>TechnoSavvy</small>
    </div>
  </span>
  
  </div>
  <div class="css33-walle-Trans">
    <span>Avoided & Disposed </span>
    <div class="css33inr TechnoSavvy-icon"><span>6500 TechnoSavvy</span>
    <!-- <span class="TechnoSavvy-icon">TechnoSavvy </span> -->
    </div> </div>

    <div class="css33-walle-Trans">
      <span>Avoided & Cashback to Pool</span>
      <div class="css33inr TechnoSavvy-icon"><span>6500 TechnoSavvy</span>
      <!-- <span class="TechnoSavvy-icon">TechnoSavvy </span> -->
      </div> </div>

      <div class="css33-Transcasg435 ">
        <span>Total Balance</span>
        <div class="css33inr TechnoSavvy-icon"><span>6500 TechnoSavvy</span>
        <!-- <span class="TechnoSavvy-icon">TechnoSavvy </span> -->
        </div> </div>

  
  <a href="cashback.html" class="css33-wallet-btn" type="button">Details</a>


  </div>
</div>
</div>


<!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-6 col-12">
    <div class="css33-wallet">
      <div class="css33-wallet-div"> 
      <span class="title">Recent Trades   </span>    
      <span class="css33-wallet-list"> 
        <span> <a href="#" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>

      </span>
      </div> 
      <div id="css33-wallet-tabs" class="css33-wallet-tabs"> 
  
    
        <div class="tab-content css33-wallet-content">
          <div class="tab-pane active" id="twenty"> 
            <div class="css33-content-div"> 
              <div id="comunity-css566-box" class="table-responsive  ">
                <div class="table-xscroll44 dash44hix">
                  <table class="table  cssearn-table">
                    <thead class="trasaction-table-title">
                        <tr>                        
                                <th nowrap="nowrap" class="css566-table-text">Pair</th>
                                <th nowrap="nowrap" class="css566-table-text">Side</th>                                                            
                                <th nowrap="nowrap" class="css566-table-text">Price</th> 
                                <th nowrap="nowrap" class="css566-table-text">Amount</th>  
                               <th nowrap="nowrap" class="css566-table-text"> Total</th>                  
                               <th nowrap="nowrap" class="css566-table-text"> Swap Trade Value</th>                              
                                <th nowrap="nowrap" class="css566-table-text">Trade Id </th>                   
                               
                            
                       
                           
                        
                        </tr>
                    </thead>
                    <tbody class="trasaction-table">
            
                        <tr>                               
                             <td>BTC/USDT </td>
                            <td nowrap="nowrap"><span class="css44-up">Buy</span></td>                                               
                            <td nowrap="nowrap">20000.00 <small> USDT</small></td>
                            <td nowrap="nowrap">1.00 <small> BTC</small></td>                                                  
                             <td nowrap="nowrap">20000.00 <small> USDT</small></td>                     
                             <td nowrap="nowrap"> - <small>  </small></td>     
                           <td nowrap="nowrap"> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                          
                             </tr>
          
                             <tr>                               
                              <td>BTC/USDT </td>
                            <td><span class="css44-up">Buy</span></td>                                               
                            <td>20000.00 <small> USDT</small></td>
                            <td>1.00 <small> BTC</small></td>                                                  
                             <td>20000.00 <small> USDT</small></td>                     
                             <td>2002.00 <small>USDT  </small></td>     
                           <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                          
                                </tr>
          
                                <tr>                               
                                  <td>BTC/USDT </td>
                                  <td><span class="css44-up">Buy</span></td>                                               
                                  <td>20000.00 <small> USDT</small></td>
                                  <td>1.00 <small> BTC</small></td>                                                  
                                   <td>20000.00 <small> USDT</small></td>                     
                                   <td> - <small>  </small></td>     
                                 <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                
                                  </tr>
               
                                  <tr>                               
                                    <td>BTC/USDT </td>
                                  <td><span class="css44-up">Buy</span></td>                                               
                                  <td>20000.00 <small> USDT</small></td>
                                  <td>1.00 <small> BTC</small></td>                                                  
                                   <td>20000.00 <small> USDT</small></td>                     
                                   <td>2002.00 <small>USDT  </small></td>     
                                 <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                
                                      </tr>
                                      <tr>                               
                                        <td>BTC/USDT </td>
                                      <td><span class="css44-up">Buy</span></td>                                               
                                      <td>20000.00 <small> USDT</small></td>
                                      <td>1.00 <small> BTC</small></td>                                                  
                                       <td>20000.00 <small> USDT</small></td>                     
                                       <td>2002.00 <small>USDT  </small></td>     
                                     <td> <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="">4fe73...</span>  </td> 
                                    
                                          </tr>
          
          
            
                    </tbody>
                </table>
            
            </div>
        
        
                       </div>
            </div>
          </div>
 
   
    </div>
      </div>
    
    
      
      <a href="trade-history.html" class="css33-wallet-btn" type="button">More</a>
      </div>
</div>
<!------------------------------------------------------------->
<div class="col-md-6 col-12">
<div class="css33-wallet">
  <div class="css33-wallet-div"> 
  <span class="title">Recent Transactions  </span>    
  <span class="css33-wallet-list"> 
    <span> <a href="transaction.html" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>

  </span>
  </div> 
  <div id="css33-wallet-tabs" class="css33-wallet-tabs"> 


    <div class="tab-content css33-wallet-content">
      <div class="tab-pane active" id="twenty22"> 
        <div class="css33-content-div"> 
          <div id="comunity-css566-box" class="table-responsive  ">
            <div class="table-xscroll44 dash44hix">
              <table class="table  cssearn-table">
                <thead class="trasaction-table-title">
                    <tr>                        
                            <th nowrap="nowrap" class="css566-table-text">Type</th>
                            <th nowrap="nowrap" class="css566-table-text">From Wallet</th>                                                            
                            <th nowrap="nowrap" class="css566-table-text">Asset</th> 
                            <th nowrap="nowrap" class="css566-table-text">Amount</th>  
                           <th nowrap="nowrap" class="css566-table-text"> To Wallet</th>                  
                           <th nowrap="nowrap" class="css566-table-text"> TxLD</th>                              
                            <th nowrap="nowrap" class="css566-table-text">Status </th>                   
                           
                        
                   
                       
                    
                    </tr>
                </thead>
                <tbody class="trasaction-table">
        
                    <tr>                               
                         <td>Deposit </td>
                        <td nowrap="nowrap">Spot Wallet</td>                                               
                        <td nowrap="nowrap">TechnoSavvy</td>
                        <td nowrap="nowrap">12.123456 <small> TechnoSavvy</small></td>                                                  
                        <td nowrap="nowrap">Spot Wallet</td>                     
                        <td nowrap="nowrap"><a href="#">123456</a></td> 
                       <td nowrap="nowrap"> Approved  </td> 
                      
                         </tr>
      
                         <tr>                               
                          <td>Deposit </td>
                          <td nowrap="nowrap">Spot Wallet</td>                                               
                          <td nowrap="nowrap">TechnoSavvy</td>
                          <td nowrap="nowrap">12.123456 <small> TechnoSavvy</small></td>                                                  
                           <td nowrap="nowrap">Spot Wallet</td>                     
                           <td nowrap="nowrap"><a href="#">123456</a></td>     
                         <td nowrap="nowrap"> Approved  </td> 
                            </tr>
      
                            <tr>                               
                              <td>Deposit </td>
                        <td nowrap="nowrap">Spot Wallet</td>                                               
                        <td nowrap="nowrap">TechnoSavvy</td>
                        <td nowrap="nowrap">12.123456 <small> TechnoSavvy</small></td>                                                  
                         <td nowrap="nowrap">Spot Wallet</td>                     
                         <td nowrap="nowrap"><a href="#">123456</a></td>     
                       <td nowrap="nowrap"> Approved  </td> 
                              </tr>
           
                              <tr>                               
                                <td>Deposit </td>
                                <td nowrap="nowrap">Spot Wallet</td>                                               
                                <td nowrap="nowrap">TechnoSavvy</td>
                                <td nowrap="nowrap">12.123456 <small> TechnoSavvy</small></td>                                                  
                                 <td nowrap="nowrap">Spot Wallet</td>                     
                                 <td nowrap="nowrap"><a href="#">123456</a></td>     
                               <td nowrap="nowrap"> Approved  </td> 
                                  </tr>
           
      
                                  <tr>                               
                                    <td>Deposit </td>
                                    <td nowrap="nowrap">Spot Wallet</td>                                               
                                    <td nowrap="nowrap">TechnoSavvy</td>
                                    <td nowrap="nowrap">12.123456 <small> TechnoSavvy</small></td>                                                  
                                     <td nowrap="nowrap">Spot Wallet</td>                     
                                     <td nowrap="nowrap"><a href="#">123456</a></td>     
                                   <td nowrap="nowrap"> Approved  </td> 
                                      </tr>
        
                </tbody>
            </table>
        
        </div>
    
    
                   </div>
        </div>
      </div>

</div>
  </div>


  
  <a href="transaction.html" class="css33-wallet-btn" type="button">More</a>
  </div>

</div>
</div>

<!---------------------------------------------------------------->
<div class="row">
<div class="col-md-4 col-12">
<div class="css33-member-div">
  
  <div class="css33-wallet-div"> 
    <span class="title">Referral Members  </span>   
    <span class="css33-wallet-list"> 
      <span> <a href="reward-center.html"  class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
    </span>
  </div>
  
<div class="css33-link"><span class="css33-input">  <input type="email" class="form-control" value="TechnoApp//profle.link//1789" id="myInput" aria-describedby="emailHelp" placeholder="TechnoApp//profle.link//1789" disabled></span>
  <span> <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a></span>
</div>
  <div class="css33-earntoreffr"> 
<span>
  <div class="sub-title"> Earned Tokens  </div>
  <div class="css33-token">
    <span><img src="images/nav-icon.png"> </span>
    <span class="css33-icon-name"> 500 TechnoSavvy <br> <small> $2345.2300 </small>
    </span>
  </div>
</span>
<span><a asp-controller="policy" asp-action="referral-policy" class="css-earnto-btn"><i class="fa fa-external-link" aria-hidden="true"></i>  Referral Policy</a></span>

  </div>
<div class="css33-paid">
<div class="css33-paid44">
<span> Last Paid: </span>
<span class="csss55-TechnoSavvy">2000 TechnoSavvy<br><small> $ 16,00,000</small></span>
</div>

<div class="css33-paid44">
  <span> Next Payout date: </span>
  <span> 22 June 2023</span>
  </div>
</div>


</div></div>

<div class="col-md-4 col-12">
<div class="css33-member-div">
  <span class="title">Community Members </span>   
  <div class="css33-community-div">
    <div class="css33-paid55">
      <span> Total No. of referee </span>
      <span> 09</span>
      </div>

      <div class="css33-paid55">
        <span> Registered  </span>
        <span> 08</span>
        </div>
        <div class="css33-paid55">
          <span> Payment Qualifed </span>
          <span> 08</span>
          </div>
  
  </div>
  <div class="css33-paid">
    <div class="css33-paid44">
    <span> One Time Commission: </span>
    <span> 1.123456 <small> TechnoSavvy</small></span>
    </div>
    
    <div class="css33-paid44">
      <span> Recurring Commission: </span>
      <span> 1.123456 <small> TechnoSavvy</small></span>
      </div>
    </div>

</div></div>

<div class="col-md-4 col-12">
<div class="css33-member-div">
  <div class="css33-wallet-div"> 
    <span class="title">Watchlist</span>    
    <span class="css33-wallet-list"> 
      <span> <a href="#" class="redirect44-btn"><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
      <span>     <div class="dropdown">
        <button type="button" class="btn btn-more-das44 dropdown-toggle" data-bs-toggle="dropdown">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-css44">
          <li><a class="dropdown-item dropdown-item-css44" href="#">Details</a></li>
          <li><a class="dropdown-item" href="#">Trade</a></li>
            </ul>
      </div></span>
    </span>
    </div> 
   
<div class="css33-watch-table">
  <table class="table table-responsive">
    <thead class="trasaction-table-title">
        <tr>
            <th nowrap="nowrap" class="css566-table-text">Coin</th>
            <th nowrap="nowrap" class="css566-table-text">Price</th>
            <th nowrap="nowrap" class="css566-table-text">24h</th>
            <th nowrap="nowrap" class="css566-table-text">Last 7 Days</th>
            <th nowrap="nowrap" class="css566-table-text"></th>
   
          
        </tr>
    </thead>
    <tbody class="trasaction-table">
        <tr>  
            <td class="account-no">BTC </td>
            <td>$1234.12</td>
            <td class="css44-up">-2.50%</td>
            <td class="css44-down"> -0.51%</td>
            <td><svg viewBox="0 0 500 100" class="chart">
  
              <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120
                   20,60
                   40,80
                   60,20
                   80,80
                   100,80
                   120,60
                   140,100
                   160,90
                   180,80
                   200, 110
                   220, 10
                   240, 70
                   260, 100
                   280, 100
                   300, 40
                   320, 0
                   340, 100
                   360, 100
                   380, 120
                   400, 60
                   420, 70
                   440, 80
                 "
               />
              
            </svg></td>
           
    
        </tr>
  
  
        <tr>
          <td class="account-no">ETH  </td>
          <td>$1234.12</td>
          <td class="css44-up">-2.50%</td>
            <td class="css44-down"> -0.51%</td>
            <td><svg viewBox="0 0 500 100" class="chart">
  
              <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120
                   20,60
                   40,80
                   60,20
                   80,80
                   100,80
                   120,60
                   140,100
                   160,90
                   180,80
                   200, 110
                   220, 10
                   240, 70
                   260, 100
                   280, 100
                   300, 40
                   320, 0
                   340, 100
                   360, 100
                   380, 120
                   400, 60
                   420, 70
                   440, 80
                 "
               />
              
            </svg></td>
        </tr>
        <tr>
          <td class="account-no">TechnoSavvy </td>
          <td>$1234.12</td>        
            <td class="css44-down">-2.50%</td>
            <td> -0.51%</td>
            <td><svg viewBox="0 0 500 100" class="chart">
  
              <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120
                   20,60
                   40,80
                   60,20
                   80,80
                   100,80
                   120,60
                   140,100
                   160,90
                   180,80
                   200, 110
                   220, 10
                   240, 70
                   260, 100
                   280, 100
                   300, 40
                   320, 0
                   340, 100
                   360, 100
                   380, 120
                   400, 60
                   420, 70
                   440, 80
                 "
               />
              
            </svg></td>
        </tr>
        <tr>
          <td class="account-no">Bitcoin  </td>
            <td>$35,98</td>
            <td>-2.50%</td>
            <td class="css44-down"> -0.51%</td>
            <td><svg viewBox="0 0 500 100" class="chart">
  
              <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120
                   20,60
                   40,80
                   60,20
                   80,80
                   100,80
                   120,60
                   140,100
                   160,90
                   180,80
                   200, 110
                   220, 10
                   240, 70
                   260, 100
                   280, 100
                   300, 40
                   320, 0
                   340, 100
                   360, 100
                   380, 120
                   400, 60
                   420, 70
                   440, 80
                 "
               />
              
            </svg></td>
        </tr>
        <tr>
          <td class="account-no">TechnoSavvy </td>
          <td>$1234.12</td>        
            <td class="css44-down">-2.50%</td>
            <td> -0.51%</td>
            <td><svg viewBox="0 0 500 100" class="chart">
  
              <polyline fill="none" stroke="#d5960f" stroke-width="10" points="
                   00,120
                   20,60
                   40,80
                   60,20
                   80,80
                   100,80
                   120,60
                   140,100
                   160,90
                   180,80
                   200, 110
                   220, 10
                   240, 70
                   260, 100
                   280, 100
                   300, 40
                   320, 0
                   340, 100
                   360, 100
                   380, 120
                   400, 60
                   420, 70
                   440, 80
                 "
               />
              
            </svg></td>
        </tr>    
        
       
    </tbody>
</table>

</div>
</div>

</div>
</div>

</div>
</section>

<!---------------------------------------------------------------------->

<!------------------------------------------------------------->




<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>


<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/eyeopenclose.js"></script>
<script src="js/header-fixed.js"></script>
<script src="js/tooltip.js"></script>

   
  