
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->

 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
<!---------------------------------------------------------------------->
<section class="section-wallet bg2"> 
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div id="wallet-left33" class="col-md-2 col-md-2 col-lg-2  col-xxl-2 px-0 wallet-left-bg">
                <div class="d-flex flex-column align-items-center align-items-sm-start   text-white">
                
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="deposit.html" class="nav-link align-middle  active">
                              <i class="fa fa-search" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Deposit </span>
                            </a>
                        </li>
                  
                        <li class="nav-item">
                            <a href="withdrawal.html" class="nav-link  align-middle">
                              <i class="fa fa-credit-card" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Withdrawal</span></a>
                      

       

            <li class="nav-item">   <a href="inter-wallet-transfer.html" class="nav-link  align-middle">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Internal Wallet Transfer</span> </a>
      </li>
                    </ul>
           
       
                </div>
            </div>
            <!----------------------------------------------->

            <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
               <div class="wallet-right33"> 
                <div class="wallet-userdiv33">
                  <span class="market-title-h2 headcss33"> 
                    <span> <a asp-controller="home" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                    <span>Deposit  <p>Select the token and the network, Enter the amount<br> you would like to deposit to your TechnoApp Account.</p></span> 
                  </span>  
               
                  <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
                </div>      
                <div class="css77-deposit-outer">
                  <div class="row">
                
                <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                
                    <div class="css77buy-box">
                        <form>
                          <div class="form-group mt-3">               
                            <label for="exampleInputSpend" class="lable-name22">Select Coin</label>
                  <div class="form-select3">
                            <select class="my-select " aria-label="Default select example">
                              <option >Select Coin</option>
                              <option data-img-src="images/coin/bit.png">BTC</option>
                              <option data-img-src="images/coin/eth.png">ETH </option>
                              <option data-img-src="images/nav-icon.png">TechnoSavvy </option>
                              <option data-img-src="images/coin/usdc.png">USDT</option>
                                            </select>
                            
                          </div></div>
                                      
                          <div class="form-group mt-3">               
                            <label for="exampleInputSpend" class="lable-name22">Deposit Network</label>
                            <div class="form-select3">
                              <select class="my-select " aria-label="Default select example">
                                <option >Select Coin</option>
                                <option>BTC Network</option>
                                <option>ETH Network</option>
                                <option>TechnoSavvy Network</option>
                                <option>USDT Network</option>
                                              </select>
                                              
                            </div>
                          </div> 
            
                          <div class="form-group mt-3">               
                            <label for="exampleInputSpend" class="lable-name22">Enter Amount</label>
                            <input type="text" class="form-control" placeholder="Min Deposit Amt. 0.00002 BTC" id="exampleInputSpend" aria-describedby="spndHelp">
                          </div>

                          <div class="form-group mt-3">               
                            <label for="exampleInputSpend" class="lable-name22">Remarks</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                          </div>
                             
                          <div class="form-group mt-3">    
                            <div class="cssdeposit44div"> 
                              <span class="dep-btn22"  data-bs-toggle="collapse" data-bs-target="#checkwallet"> Check Wallet </span>
                               <span  data-bs-toggle="collapse" data-bs-target="#checkwallet" class="dep-btn22"> Generate Wallet </span></div>
                            </div>
            
                            <div id="checkwallet" class="check-depdiv55 collapse">
                              <div class="css33check-text">Wallet Address </div>
                              <div class="css33checkqr-img"><img src="images/qr-code.png"> </div>
                              <div class="css33check-adress4">
                                <div class="form-group">
                            
                                  <div class="input-group input-group-copy">                    
                                    <input id="test1" type="text" readonly class="form-control" value="xdrhuyerbghuikojhuk"/>
                                    <span class="input-group-btn">
                                      <button class="btn btn-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <span>
            
                          <div class="position-relative mb-3">
                     
                          </div>
                          
            
                              <a href="deposit-accepted.html" class="btn gent-btn mt-4 " type="button"> I have Deposited</a></span>
                        </form>
                        </div>
                </div></div>
                
                
                </div>

</div>



</div>


            <!----------------------------------------------->
        </div>
    </div>
    


</section>

<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>



<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/header-fixed.js"></script>
    <script src="js/qrdropjs.js"></script>

    <script src="js/select.js" type="text/javascript"></script>
    <script src="js/images-select.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(".my-select").chosen({width:"100%"});
    </script>
 
   
  