
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
 
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
<!---------------------------------------------------------------------->
<section class="section-login bg2"> 
    <div class="container">
        <div class="row flex-nowrap">
          
            <!-- ========== Device and Activities ========== -->
            <div class="col-md-12 col-lg-12 col-xxl-12 py-3">
                <div class="wallet-right33"> 
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="wallet-tabdiv divice-text">
                          <div class="heading divicehead32"> <span><a class="nav-link" href="security.html"> <i class="fa fa-step-backward" aria-hidden="true"></i> </a> </span> 
                            <span>Device Management</span></div>
                        </div>
                    </div>

                   

                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="tab-content css77earn-estimate">
                            <div class="tab-pane active" id="simple-earn44"> 
                                
                         
                                <div class="tab-content css77earn-estimate">
                                    <div class="tab-pane active" id="flexible44">
                                        <div class="css77-tranbox ">
                                            <div id="comunity-css566-box" class="comunity-css566-box">
                                                <div class="table-xscroll44 table-responsive de-ma-table">
                                                    <table class="table cssearn-table device-table">
                                                        <thead class="trasaction-table-title">
                                                            <tr>
                                                                <th nowrap="nowrap" class="css566-table-text"> Device </th>
                                                                <th nowrap="nowrap" class="css566-table-text"> Date </th>            
                                                                <th nowrap="nowrap" class="css566-table-text"> Location </th>
                                                                <th nowrap="nowrap" class="css566-table-text"> IP Address </th>
                                                                <!-- <th nowrap="nowrap" class="css566-table-text"> Action </th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody class="trasaction-table">
                                                            <tr>
                                                                <td> Chrome V109.0.0.0 (Windows) </td>
                                                                <td> 2023-01-20 18:17:15 </td>
                                                                <td> Delhi India </td>
                                                                <td> 14.99.237.206 </td>
                                                                <!-- <td><a class="device-action-btn" href="#" data-bs-toggle="modal" data-bs-target="#detail-model4device">Delete</a> </td>  -->
                                                            </tr>
                                                            <tr>
                                                                <td> iPhone </td>
                                                                <td> 2023-01-20 14:45:15 </td>                        
                                                                <td> Delhi India </td>
                                                                <td> 14.99.237.206 </td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td> Mobile Safari V16.1 (iOS) </td>
                                                                <td> 2023-01-20 10:25:28 </td>                        
                                                                <td> Delhi India </td>
                                                                <td> 14.99.237.206 </td>
                                                               
                                                            </tr>
                                                            <tr>
                                                              <td> iPhone </td>
                                                              <td> 2023-01-20 14:45:15 </td>                        
                                                              <td> Delhi India </td>
                                                              <td> 14.99.237.206 </td>
                                                              
                                                          </tr>
                                                          <tr>
                                                              <td> Mobile Safari V16.1 (iOS) </td>
                                                              <td> 2023-01-20 10:25:28 </td>                        
                                                              <td> Delhi India </td>
                                                              <td> 14.99.237.206 </td>
                                                              
                                                          </tr>
                                                          <tr>
                                                            <td> Chrome V109.0.0.0 (Windows) </td>
                                                            <td> 2023-01-20 18:17:15 </td>
                                                            <td> Delhi India </td>
                                                            <td> 14.99.237.206 </td>
                                                           
                                                        </tr>
                                                        <tr>
                                                            <td> iPhone </td>
                                                            <td> 2023-01-20 14:45:15 </td>                        
                                                            <td> Delhi India </td>
                                                            <td> 14.99.237.206 </td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td> Mobile Safari V16.1 (iOS) </td>
                                                            <td> 2023-01-20 10:25:28 </td>                        
                                                            <td> Delhi India </td>
                                                            <td> 14.99.237.206 </td>
                                                             
                                                        </tr>
                                                        <tr>
                                                          <td> iPhone </td>
                                                          <td> 2023-01-20 14:45:15 </td>                        
                                                          <td> Delhi India </td>
                                                          <td> 14.99.237.206 </td>
                                                          
                                                      </tr>
                                                      <tr>
                                                          <td> Mobile Safari V16.1 (iOS) </td>
                                                          <td> 2023-01-20 10:25:28 </td>                        
                                                          <td> Delhi India </td>
                                                          <td> 14.99.237.206 </td>
                                                          
                                                      </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>
<!-- ====== Delete Button model popup ====== -->
<div class="modal fade" id="detail-model4device" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detail-model" aria-hidden="true">
  <div class="modal-dialog">
<div class="modal-content mod-sec221">  
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> </h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
  </div>
  <div class="modal-body">
    <div class="detail-model544">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center device-management-popup">
                <img src="images/delete-img.png" alt="image">
                <h5> Are you sure you want to delete the <span> selected trusted device: </span></h5>
                <p> Device: Chrome V92.0.4515.159 (Windows) </p>


                <div class="css7-kyc-btn">

                  <button class="btn model-dark-btn mt-3" type="button" onclick="location.href='security.html'">Cancel </button>
                  <button class="btn model-save-btn mt-3" type="button" onclick="location.href='device-management.html'"> Delete </button>
                 </div>    

            </div>
        </div>
    </div>
</div> </div></div></div>
<!-- ====== Delete Button model popup ====== -->


  <!-- ========= Footer Section ========= -->
 <!------------------------------->
  <!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->
      <!-- Modal -->
      <div class="modal fade" id="commingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="csssdilog33" class="modal-dialog">
          <div class="modal-content mod-sec221">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body combox55">
              <img src="images/logo1.png" alt="" class="mb-3">
              <p b-cd26ewwikh=""> COMING SOON!</p>
    
              <p class="text33">We are almost here! Get ready to be amazed.<br>
                <span class="boldtexr34"> We follow Agile!</span>
                <br>We are committed to bring you an incredible Crypto Trading experience.
              </p>
            </div>
    
          </div>
        </div>
      </div>
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->
 
<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/header-fixed.js"></script>


    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
      </script>
   
   

  