
<!-------------Outer-section---------------------->

<!-----------------top section start ----------->
<!-----------------top section start ----------->

<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
    <div class="container">
      <div class="login-box" id="login-tab">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="login-img"> <img src="~/images/login-img.png"> </div>
          </div>
     <div class="col-md-6 col-xs-12">
        <div class="login-form">
            <h1> Forget Password</h1>
    
            <div id="login-tab" class="login_area">
                <ul class="nav nav-tabs mb-4 " role="tablist">
                  <li class="nav-item">
                    <a class="nav-link  active" data-bs-toggle="tab" href="#email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#mobile"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile</a>
                  </li>
                </ul>
    
    
              <!-- Tab panes -->
                <div class="tab-content">
    
                  <div id="email" class="tab-pane  active show">
    
                  <div class="acc-log-box">
    <form class="was-validated" novalidate>
      <div class="form-group" style="position:relative">     
        <input type="text" class="form-control  " placeholder="Enter email" name="email"  required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <span class="eye112"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
      </div>


        <a href="new-password.html" class="btn  gent-btn" type="button"> Continue </a>
     
        </form>
    
                  </div>
                  </div>
    
                  <div id="mobile" class="tab-pane fade">
                    <div class="acc-log-box">
                        <form>
                          <div class="form-group" style="position:relative">
                            <input type="tel" id="mobile-number" class="form-control input_flag-l" placeholder="e.g. +1 702 123 4567">
                                                                   </div> 
    
                            <a href="new-password.html" class="btn gent-btn" type="button"> Continue </a>
                                   </form>
                        
                                      </div>
                  </div>
    
                </div>
            </div> 
    
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!---------------------------------------------------------------------->


<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
  