
  <!-------------Outer-section---------------------->
   

  <!-------------------------------------------->
    <!-----------------top section start ----------->
  
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Terms Of Use </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                            <li> Terms Of Use </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <section class="bg1">
        <div class="container">
        <div class="row cookies-div">
        <div class="col-lg-4 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-right">
        <img src="~/images/terms-condition.png" alt="~/images" class="mt-3" width="100%" height="auto">
        </div>
        <div class="col-lg-8 col-md-8 col-12 aos-init aos-animate" data-aos="fade-down-left">
        
        <div class="col-lg-12 col-md-12 mt-4 mb-3 topic-points">
        <h3> Topics </h3>
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#Definitions"> Definitions </a></li>
        <li><a href="#Pre-Requisite For Access"> Pre-Requisite For Access </a></li>
        <li><a href="#Service"> Service </a></li>
        <li><a href="#Registration And User Account"> Registration And User Account </a></li>
        <li><a href="#Confidentiality Policy"> Confidentiality Policy </a></li>
        <li><a href="#Investment Risk"> Investment Risk </a></li>
        <li><a href="#Limitation Of Liability"> Limitation Of Liability </a></li>
        <li><a href="#(AML) Anti Money Laundering And (KYC) Know-Your-Client Policy"> (AML) Anti Money Laundering And (KYC) Know-Your-Client Policy </a></li>
        <li><a href="#content-and-intellectual-property"> Content And Intellectual Property </a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="topic-scroll-box-1">
        <ul class="li-bullet-2">
        <li><a href="#User Rights And Responsibilities"> User Rights And Responsibilities </a></li>
        <li><a href="#Transfer Of Rights"> Transfer Of Rights </a></li>
        <li><a href="#Rules Of Electronic Trading"> Rules Of Electronic Trading </a></li>
        <li><a href="#Block From Use Of Services"> Block From Use Of Services </a></li>
        <li><a href="#Relevant Laws And Jurisdiction"> Relevant Laws And Jurisdiction </a></li>
        <li><a href="#Severability"> Severability </a></li>
        <li><a href="#Privacy"> Privacy </a></li>
        <li><a href="#Contact Us"> Contact Us </a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-12 col-md-9 col-12 2 aos-init" data-aos="fade-up-fade">
        <h6 class="introduction_div">Introduction</h6>
        <p>This Website is operated by NS Capital Holdings LLC. which shall include its licensor, subsidiaries
        and or affiliates.
        These Terms of Use are the Terms <strong> (“Terms”) </strong> on which you can make use of our website <a href="http://www.TechnoApp.com.en-ind/" class="url-1" > www.TechnoApp.com/en-IND </a>(“Online Platform”).
        By accessing, using the Online Platform, you agree to be bound by these Terms. We reserve the right to
        modify any Terms, at any point in the future, without prior notice to you. Your continued usage of the
        Online Platforms will serve as your acceptance of the revised Terms.</p>
        <p>You must read these Terms, in conjunction with our Privacy Policy which governs the collection and
        processing of personal data, and the Know Your Customer policy which sets out the terms regarding identity
        verification of our Users and the procedures followed for identification and reporting of
        prohibited/illegal activities.
        </p>
        <h6 id="Definitions">Definitions</h6>
        <ul>
        <li><strong>1. “Coin Wallet”</strong> means an online address accessible through the Online Platforms and
        controlled and operated by a User for storage of their digital assets.</li>
        <li><strong>2. “Content”</strong> means any information, text, graphics, or other materials uploaded by
        the Company or the Users, which is accessible on the Online Platforms.</li>
        <li><strong>3. “Digital Assets”</strong> refers to tokens i.e. TechnoSavvy. As well as cryptocurrencies including
        but not limited to Bitcoin, Litecoin, Ethereum, etc..</li>
        <li><strong>4. “Linked Bank Account”</strong> refers to bank account owned and operated by the User and
        held with a Scheduled Commercial Bank, whose details were provided by the User during the activation
        process as mentioned herein.</li>
        <li><strong>5. “User” </strong> is any natural or juristic person who uses the Online Platforms and avails
        the Services. Users may also be referred to as “you” or “your”.</li>
        <h6 id="Pre-Requisite For Access">Pre-requisite for Access</h6>
        <p>By accessing or using our site, you affirm and guarantee that you are at least 18 years of age, and
        that you have not previously been banned or removed from the site. You also affirm and guarantee that
        you will not access or use the site if the laws of your country or jurisdiction forbid your doing so in
        accordance with our Terms. You also affirm and guarantee that you will not use the site for any illegal
        activity, including money laundering and financial support of terrorism.</p>
        <h6 id="Service">Service</h6>
        <p>The Service operated by Company in the name of TechnoApp allows buyers (“Buyers”) and sellers (“Sellers”),
        to buy and sell digital assets.</p>
        <div class="border-sec">
        <p>The Service provided by TechnoApp also allows all registered users of the Service (“Members”) to:</p>
        <ul>
        <li>1. transfer digital assets to other Members or other users of digital assets outside the Website,
        </li>
        <li>2. send and receive digital assets, and</li>
        <li>3. buy and sell digital assets.</li>
        </ul>
        </div>
        <h6 id="Registration And User Account">Registration and User Account</h6>
        <ul class="li-bullet li-bullet-2">
        <li> Before You register on the Platform by creating an account with TechnoApp (“Account”) or use the
        Platform or Services at any time and from time to time, You represent and warrant that you (a) are at
        least 18 years old and competent to form a binding contract, (b) are an individual with full legal
        capacity and authority to enter into these Terms, and (c) have not previously been suspended or
        removed from using our Services and/or the Platform and /or any other platform owned / operated by
        TechnoApp or any other Crypto platform, (together, the “Eligibility Criteria”). If You do not meet the
        Eligibility Criteria, you shall not register on or use the Platform or Services.</li>
        <li> By accessing and using the Services and / or the Platform and / or any part thereof, you represent
        and warrant that you are not on any trade or economic sanctions lists, such as the UN Security Council
        Sanctions list, designated as a “Specially Designated National” by OFAC (Office of Foreign Assets
        Control of the U.S. Treasury Department) or placed on the U.S. Commerce Department’s “Denied Persons
        List”. In the event that are not permitted to trade on the Platform by applicable law, please
        discontinue the use of the Service or the Platform immediately.</li>
        <li> If any breach of the points (a) or (b) above is brought to the notice of TechnoApp, in addition to any
        rights and remedies that We have under these Terms or under any applicable laws, we may forthwith
        restrict / terminate Your access and use of the Platform / Service. The Parties agree that the Users
        shall be solely responsible for ensuring compliance with the above duty and responsibility and with
        the obligations to follow applicable laws.</li>
        <li> You hereby acknowledge and agree that You currently do not have more than one Account and shall
        only maintain one Account at all times.</li>
        <li> In order to create an Account, the User will be required to provide certain data, information or
        details as may be required by TechnoApp (which may include your identity, address, financial information,
        Crypto wallet related information, financial position, or transactions), through the Platform or
        otherwise, from time to time which could be during the time of registration, post registration, or
        before, during or after you undertake any activity or transaction on the Platform. You represent and
        warrant that: (a) all required data, information or details you provide to TechnoApp is truthful,
        authentic, complete and accurate; and (b) you will keep the data, information and details current and
        maintain the accuracy of such information.</li>
        <li> You may delete your own Account at any time, for any reason, by following the instructions on the
        Platform provided. However, the data and information provided by You may be retained by us for
        compliance with applicable laws and for cooperation with law enforcement authorities. </li>
        <li> You are responsible for maintaining the confidentiality and security of your account, password,
        activities that occur in or through your account and for restricting access to your computer or
        electronic device (including mobile device), as the case may be, and at all times, to prevent
        unauthorized access to / misuse of your account. You agree to accept responsibility for all activities
        that occur under your account or due to your failure to protect the credentials/ password or your
        device. You should take all necessary steps to ensure that the password is kept confidential and
        secure and should inform us immediately if you have any reason to believe that your password has
        become known to anyone else, or if the password is being, or is likely to be, used in an unauthorized
        manner. Without accepting any liability, We may at our sole discretion use reasonable endeavors to
        reset your account within a reasonable time.
        </li><li> Any data, information, instructions or transactions initiated, originated, transmitted or published
        from your account shall deem to be duly undertaken or authorized by you, and we shall not be liable
        for acting on any such data / information / instruction / transaction / sale / purchase / other
        request on the Platform. Any records created and maintained by TechnoApp or its third parties of the
        communications, transactions, instructions or operations made or performed, processed or effected
        through or in relation to your using of services or platform including from your account or in
        relation to keeping, using or withdrawing any Crypto by you or any person purporting to be you, acting
        on behalf or purportedly acting on your behalf, with or without your consent, shall be binding on you
        for all purposes whatsoever and shall be conclusive evidence of such communications, transactions,
        instructions or operations.
        </li>
        </ul>
        <h6 id="Confidentiality Policy">Confidentiality Policy</h6>
        <p>Your confidentiality is important to us. We share your information with third parties only as described
        in our <a asp-controller="policy" asp-action="privacy-policy" class="url-1" > Privacy Policy,</a> in cases where we are mandated to do so by law enforcement authorities, court
        orders, or legal accountability requirements.</p>
        <h6 id="Investment Risk">Investment Risk</h6>
        <p>We offer only information services, and do not advise specifically on any particular deals,
        transactions, or their repercussions in terms of law enforce. By making any transaction on the Platform,
        you declare sole responsibility, now and in perpetuity, for independently assessing the risks involved
        in the transaction. You thereby assert that you have sufficient knowledge, a well-functioning market,
        and sufficient professional advice or experience to make your own determination on the risks and rewards
        of any transaction. We offer no guarantees regarding the financial viability of any cryptocurrencies
        traded under these conditions, and we bear no fiduciary responsibility in our relationship with you. If
        at any point the Company offers trading recommendations, market commentary, or any other information,
        then any actions you take correspondingly remain incidental to our relationship with you and do not
        result in any responsibility being borne by us in relation to the verity of our statements or due
        diligence done on behalf of the Company or its representatives. We give no guarantees as to the accuracy
        or completeness of any such information we provide, nor to the tax law implications of any transaction.
        Investment in “Cryptocurrency/virtual currency” tokens carries significant risk. Buyers and fund
        managers expose themselves to the following risks: inherent risk, risk of loss, risk of theft,
        regulatory risk, risk of error, tax risks, and management risks. By sending cryptocurrency to a buyer’s
        address, you agree to this and accept these risks as well as the potential loss of all funds without the
        possibility of recovery.</p>
        <h6 id="Limitation Of Liability">Limitation of Liability</h6>
        <ul class="li-bullet li-bullet-2">
        <li> Notwithstanding anything to the contrary contained in these Terms, the Parties unconditionally
        agree that in no event shall TechnoApp or its affiliates, and their respective officers, partners,
        directors, agents, employees, third parties and suppliers be liable for lost revenue, receipts,
        profits, lost opportunity, loss of fiat currency, data or Cryptos or any remote, proximate, special,
        incidental or consequential damages arising out of or in connection with the use of our Platform,
        Service, Material or these Terms of Use.</li>
        <li> Notwithstanding anything to the contrary contained in these Terms, in no event shall TechnoApp or its
        affiliates, and their respective officers, partners, directors, agents, employees, third parties and
        suppliers be liable or responsible for any damages, claims, applications, losses, injuries, delays,
        accidents, costs, business interruption costs, or other expenses (including, without limitation,
        attorneys’ fees or the costs of any claim or suit), nor for any incidental, indirect, general,
        special, punitive, exemplary, or consequential damages, including without limitation loss of goodwill
        or business profits, loss of fiat currency, loss or theft of Cryptos or loss or theft of digital
        assets, work stoppage, data loss, computer failure or malfunction, or any other commercial or other
        losses arising out of or related to these Terms, the Privacy Policy, any service of TechnoApp, the use of
        the Platform, Service buy, sell or trading of your Cryptos by any other party authorized / not
        authorized by you (collectively, all of the foregoing items shall be referred to herein as “Losses”).
        The foregoing limitation of liability shall apply whether the alleged liability or Losses are based on
        contract, negligence, tort, strict liability, or any other basis, even if TechnoApp has been advised of
        or should have known of the possibility of such losses and damages, and without regard to the success
        or effectiveness of other remedies. </li>
        <li> TechnoApp shall not be liable, and the User shall assume any and all risks and liability, in
        connection with any force majeure event, including acts of God, labor disputes or other industrial
        disturbances, electrical, telecommunications, hardware, software or other utility failures, software
        or smart contract system bugs or weaknesses, earthquakes, storms or other nature-related events,
        blockages, embargoes, riots, acts or orders of government, actions of the government, change of laws,
        introduction of new law, acts of terrorism or war, epidemic, pandemic, lockdown, technological change,
        changes to any blockchain-related protocol, any actions or inactions of third parties and/or events
        experienced by third parties, e.g., bankruptcy of service providers, information security attacks on
        service providers, and fraud conducted by third parties, and such other similar events which are
        beyond reasonable control of TechnoApp. The User acknowledges that TechnoApp may engage the services of
        third party service providers in connection with the operation of the Platform or provision of
        Services, and agrees that TechnoApp shall not be liable to the User for any suspension, halt or
        interruption of the Platform, Service and/or the failure to execute any transaction on the Platform
        where such circumstances arise or result from any interruptions, errors, default or otherwise by any
        third party service providers of its services in connection with the operation of the Platform or
        provision of Services.</li>
        </ul>
        <h6 id="(AML) Anti Money Laundering And (KYC) Know-Your-Client Policy">(AML) Anti Money Laundering and
        (KYC) Know-Your-Client Policy</h6>
        <p>The company protects itself from any activities that aid in laundering money or any other illegal
        activity. The Company seeks to reasonably identify each user by cross checking user data in government
        databases, as well as third-party identification and authentication services. If a user or a user’s
        transactions are marked as suspicious by our internal mechanisms, the Company will seek additional
        confirmation of identity from the user and reserves the right to deny use of services until such time as
        additional documentation of identity is confirmed. By agreeing to our Terms, you acknowledge and
        understand that the Company may conduct such checks only with the cooperation of the user and with
        information provided by the user. Please see <a asp-controller="policy" asp-action="aml-policy"  class="url-1"> AML / KYC Policy </a> for further details.</p>

        <h6 id="content-and-intellectual-property"> Content And Intellectual Property </h6>
        <p>We own all proprietary and intellectual property rights on the Website (including all information,
        data, text, images, graphics, sound recordings, artwork, photographs, logos, icons, videos, and other
        materials and content relating to our business and our products and services). The Company retains
        exclusive rights, including all rights of intellectual property, and will have exclusive and
        unrestricted rights to distribute such correspondence content for any purpose, commercial or otherwise,
        without your approval or compensation offered to you.</p>
        
        <h6 id="User Rights And Responsibilities">User Rights and Responsibilities </h6>
        <p>In the context of your use of the services, you have no right to: violate or assist any other party in
        violating the laws or regulations of any self-regulatory organization or analogous entity of which you
        are a member; give false, inaccurate, or misleading information; violate copyrights, patents, trademarks
        or intellectual property rights held by TechnoApp or third parties; disseminate unwanted or unsanctioned
        advertisements or promotional materials, unwanted emails, spam, or other communications; repurpose or
        deconstruct any aspect of the site or services in an attempt to gain access to any source code,
        structural ideas or concepts, or algorithms; undertake any actions that place an excessive or
        disproportionate burden on our infrastructure, interfere with or intercept any systems, data, or
        information; transmit or load any materials to the site that may contain viruses, any other malware;
        attempt in any way to gain unsanctioned access to the site, to other user accounts, computer systems or
        networks connected to the site, through password analysis or any other means; transfer to another party
        any of the rights given to you under the current Terms of Use.</p>
        <h6 id="Transfer Of Rights">Transfer of Rights</h6>
        <p>A user account and Services provided to the user may not under any conditions be transferred and may
        only be used by the user. TechnoApp reserves the right to transfer or sell any or all rights, privileges
        and obligations to any other party, and the current Terms will remain in effect in the interest of
        TechnoApp’s assignees.
        </p><h6 id="Rules Of Electronic Trading">Rules of Electronic Trading</h6>
        <p>A transaction on the platform may fail for various reasons, including but not limited to, a change in
        the seller’s price, insufficient margin, or unforeseen technical difficulties. We make no claims about
        and do not guarantee that any transaction will be carried out successfully. The Company does not bear,
        under any circumstances, any responsibility for any losses or damages incurred as a result of an
        unsuccessful transaction. Furthermore, the Company under no circumstances bears responsibility for
        notifying you about the failure of a transaction. The user bears full responsibility for investigating
        and ascertaining the failure of any transaction initiated by the user. We reserve the right to act on
        your behalf according to your instructions or those of any party acting in your name without further
        investigation into the authenticity or identity of those acting or claiming to act and give instructions
        in your name, as long as the Condition is fulfilled wherein such instructions are accompanied by correct
        user account information. The company reserves the right to deny processing or cancel any transaction
        carried out on the platform in which the company suspects that money laundering, financial support of
        terrorism, fraud or any other criminal activity is in play, or if the Company suspects that the
        transaction is related to any other use that is prohibited by our Terms of Use.
        </p><h6 id="Block From Use Of Services">Block From Use Of Services</h6>
        <p><strong>The company has the right to: </strong></p>
        <ul class="li-bullet li-bullet-2">
        <li> suspend or block your access to information services; </li>
        <li> deactivate your user account in accordance with a court order, or if TechnoApp has reason to suspect
        the illicit use of your user account.</li>
        </ul>
        <p>You will be able to transfer the cryptocurrency associated with your account for a period of thirty
        (30) days after it is deactivated or revoked, as long as such transfer is not prohibited by law or for
        any other legal reason such as court order. If any transaction is pending at the time your user account
        is suspended or revoked, such transaction may be cancelled and/or refunded accordingly. You may not
        delete your user account in order to avoid investigation or to avoid payment due to the Company. By
        deleting your account, you give the Company permission to cancel or suspend delayed transactions and,
        after providing you with written notice, return funds related to such transactions to your wallet
        address. If you void the current Agreement or your access to our Services, or deactivate your user
        account, you will bear responsibility for all balances due as per the current Agreement. If a technical
        issue results in the failure of our systems or an error in the user account, the Company may temporarily
        suspend access to your user account until the issue has been resolved.</p>
        <h6 id="Relevant Laws And Jurisdiction">Relevant Laws and Jurisdiction</h6>
        <p>The current Terms and conditions for use by you of our information services will be regulated and
        interpreted in accordance with the laws of SVG. You agree that any legal action or civil claims
        arising from or related to the current Terms shall be taken only to courts within the SVG. By
        agreeing, you unconditionally agree and adhere exclusively to the decisions of SVG courts
        regarding any suits or claims arising from the current Terms. </p>
        <h6 id="Severability">Severability</h6>
        <p>If a clause of the current Terms is found to be illegal, inoperative, or for some reason null and void,
        then that clause shall be considered severed from the current Terms and will not affect the validity and
        application of any of the other clauses.
        </p><h6 id="Privacy">Privacy</h6>
        <p>Website respects your privacy. For details, please carefully read our <a asp-controller="policy" asp-action="privacy-policy"  class="url-1"> Privacy Policy</a>. By using the
        Website, you consent to our collection and use of certain personal data as set forth therein.</p>
        <h6 id="Contact Us">Contact Us</h6>
        <p>If You have any questions relating to these <a asp-controller="policy" asp-action="terms-of-use"  class="url-1"> Terms of Use</a>, your rights and obligations arising from
        these Terms of Use and/or Your use of the Website and the Service, or any other matter, please contact
        us at <a href="mailto:support@@TechnoApp.com" class="url-1">support@@TechnoApp.com </a> || <a href="mailto:compliance.finance@@TechnoApp.com" class="url-1"> compliance.finance@@TechnoApp.com</a>.</p>
        </ul></div>
        </div>
        </div>
        </section>
    <!-- // policy page -->

