
<!-------------Outer-section---------------------->

<!-----------------top section start ----------->
<!-----------------top section start ----------->
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
  <div class="container">
    <div class="login-box" id="login-tab">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="login-img"> <img src="~/images/login-img.png"> </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="beta-release-div">
            <div class="heading-beta"> TechnoApp <strong>BETA</strong> Release </div>
            <div class="text"> <span>As you are not a Beta Participant, 
              The system has logged you out. </span>
              <a asp-controller="home" asp-action="index" class="brtsbtncss22">  "Click here to Continue", </a>
          
            <span>Please be pateint till the next Public Release<br>
            Experience the Next Generation Features of TechnoApp on the<br>
            <a href="https://TechnoApp.com" > TechnoApp Simulation Site <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
            </div>
             </div>
        </div>
 
      </div>
    </div>
  </div>
</section>
