
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->
<!-----------------top section start ----------->
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<section class="section-login bg2">
    <div class="container">
      <div class="login-box  d-flex aligns-items-center justify-content-center" id="login-tab">
        <div class="row ">
          <div class="col-md-6 col-xs-12">
            <div class="login-img"> <img src="~/images/login-img.png"> </div>
          </div>
          <div class="col-md-6 col-xs-12 pt-3">
            <div class="sign_up">
          <h1 class="heading "> New Password</h1>
      
          <form class="was-validated" novalidate>

            <div class="form-group" style="position:relative">
              <input type="text" class="form-control" placeholder="New Password" id="validationTooltipPassword"  required>
                <div class="invalid-tooltip">
                Please choose a unique password.
              </div>
              <span class="eye112"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div>
          

            <div class="form-group" style="position:relative">
              <input type="text" class="form-control" placeholder="Confirm Password" id="validationTooltipPassword"  required>
              <div class="invalid-tooltip">
                Please confirm password.
              </div>
              <span class="eye112"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div>
           


            <div class="sign-two-btn22">
                <button class="btn sign-btn22 mt-3" type="button" onclick="location.href='forget-password.html'">Back </button>
                <button class="btn sign-btn22 mt-3" type="button" onclick="location.href='login.html'">Next </button>
            </div>
        
             
                
          </form>
        
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!---------------------------------------------------------------------->


<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<section class="section-footer bg1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> TechnoApp Community</div>
            <ul>
              <li><a href="#"> TechnoApp Webinars</a></li>
              <li><a href="#">Media Library </a></li>
              <li><a href="#"> Airdrop</a></li>
             <li><a href="#">Referral</a></li>
              <li><a href="#">Press Release</a></li>
                 </ul>
          </div>

        </div>
      </div>


      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Products & Services</div>
            <ul>
             <li><a href="#"> Institutional Services </a></li>
                      <li><a href="#"> TechnoApp Academy</a></li>
              <li><a href="#">TechnoApp Labs</a></li>
              <li><a href="#">TechnoApp API</a></li>
       
                          </ul>
          </div>
          
   
        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Policies</div>
            <ul>
              <li><a href="#"> Terms of Use </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#"> AML/KYC Policy </a></li>
              <li><a href="#">Referral Policy</a></li>
             <li><a href="#">Licences</a></li>
              <li><a asp-controller="policy" asp-action="disclaimer">Disclaimer</a></li>
             
           
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Support</div>
            <ul>
              
              <li><a href="#"> Trading Rules </a></li>
              <li><a href="#">Fees & Charges</a></li>
   
              <li><a href="#">FAQs</a></li>
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Follow Us</div>
         <div class="social-link"> 
          <span><a href="https://www.facebook.com/TechnoApp " target="blank"> <i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a></span>
          <span><a href="https://www.twitter.com/TechnoApp"  target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
          <span><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn </a></span>
          <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube </a></span>
         </div>
          </div>

        </div>
      </div>

    </div>
    <!-------------------------------------------------->
    <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i> Support</button>

<div class="chat-popup" id="myForm">
  <form action=" " class="form-container">
<div class="chat-box">
  <div class="chat-top"> <span class="chat-title">TechnoApp Support </span> <span><button type="button" class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle" aria-hidden="true"></i></button> </span></div>

</div>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    
  </form>
</div>
    <!-------------------------------------------------->
  </div>
  <div class="container">
    <div class="x__footer__content-center row">
      <div class="col col-md-12 col-12">
        <div class="x__copyright"> 
          <!--        <div class="x__copyright__logo"> <img src="~/images/logo.png" alt="Exodus Logo"> </div>-->
          <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>.  All rights reserved. </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!-- Modal -->

<!------------------------------->


<!--------------------------------------------------------------------->

<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
     
    <!-- Option 1: Bootstrap Bundle with Popper -->
     
     
    
     
    
   
  