
  <!-------------Outer-section---------------------->
    <!-- Back to top button -->

    <!-- // back to top button -->

  <!-------------------------------------------->
    <!-----------------top section start ----------->
    <!-- ===== // Menu section ===== -->


    <!-- ==== Page Name section ==== -->
    <section class="page-section a-inner-head bg1 pt-5">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="css566-heading mb-3">
                        <h1> Referral Program </h1>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="index-links">
                        <ul>
                            <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> &nbsp; ></li>
                            <li> Referral Program </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Page name section -->


    <!-- Start Policy Page -->
    <div class="page bg1">
        <section class="card-hero1">
        <div class="container">
        <div class="row"> 
        <div class="col-lg-7 col-md-12 col-sm-12 col-12  order-lg-0 order-md-2 order-sm-1 order-1">
         <div class="main-banner-content pt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-main aos-init new-text" data-aos="fade-up">
        <h4>
        <span>TechnoApp Referral Program</span><br>
        Invite your Friends &amp; Earn Free TechnoSavvy for them &amp; yourself.
        </h4>
        <p>
        TechnoApp’s Referral Program set forth basic Terms &amp; Conditions which is to be followed
        to avail TechnoApp referral bonus. User can refer to <a asp-controller="policy" asp-action="referral-policy" >TechnoApp Referral Policy</a> for detailed
        information. Come and Join TechnoApp Referral Program as it benefits Referrer and
        Referee both!!!
        </p>
        </div>
        </div>
        </div>
        <div class="col-lg-5 aos-init img1" data-aos="fade-up-right">
        <img src="~/images/image-header.png" alt="" class="aos-init" data-aos="fade-up-right">
        </div>
        </div>
        </div>
        </section>
        </div>

        <section class="content bg2">
            <div class="container">
            <h6 class="aos-init aos-animate" data-aos="fade-up-right">Referral Bonus</h6>
            <p class="aos-init aos-animate" data-aos="zoom-in">
            User may avail Bonus as follows on <strong> referring a Friend: </strong>
            In order to avail Referral Bonus, User is required to refer or share his referral code within his community/circle and once such referred person becomes an active trader by
            making a transaction of at least $10 (USD) within a period of 30 days from the date of registration then both the users i.e., Referrer and Referee will get TechnoSavvy Tokens worth
            $1 (USD) in their wallets.
            </p>
            <h6 class="aos-init" data-aos="fade-up-left">PERPETUAL COMMISSIONS</h6>
            <p class="aos-init" data-aos="zoom-in-up">A registered user is eligible to earn more bonus in the form of Commissions which will be paid on monthly basis on fulfillment of certain conditions as.</p>
            <table id="customers" class="aos-init" data-aos="flip-up">
            <thead>
                <tr>
                    <th width="7%">S.No.</th>
                    <th width="43%">Condition</th>
                    <th width="50%">Commission</th>
                </tr>            
            </tbody>
            <tbody>
                <tr>
                    <td class="text-center"><b>1.</b></td>
                    <td>On referring 5,000-9999 Active Users</td>
                    <td>Up to +20% of the “Referee’s Cashback” as commission</td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>2.</b></td>
                    <td> On referring 10,000-19,999 Active Users</td>
                    <td>Up to +30% of the “Referee’s Cashback” as commission</td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>3.</b></td>
                    <td>On referring 20,000-99,999 Active Users </td>
                    <td>Up to +40% of the “Referee’s Cashback” as commission </td>
                    </tr>
                    <tr>
                    <td class="text-center"><b>4.</b></td>
                    <td>On referring 100,000 or more Active Users</td>
                    <td>Up to +50% of the “Referee’s Cashback” as commission</td>
                    </tr>
            </tbody>
            </table>
            <p class="aos-init" data-aos="flip-right">
            For the payment of Perpetual Commissions, Active User must be a user who is executing a trade minimum of $10(USD) in a month on TechnoApp.<br><br>
            Any registered user who is referring less than 5000 Active Users, will not be eligible to earn any Perpetual Commission but will certainly earn TechnoSavvy Tokens referral bonus
            equivalent to $1(USD) on each active referee. Further, the same user will also be eligible to earn TechnoSavvy Tokens worth $10 (USD) on each 100 Active Referees.
            </p>
            </div>
            </section>

            <section class="content aos-init aos-animate bg1" data-aos="zoom-out-up">
                <div class="bg-refer ">
                <div class="container">
                <h5>How to refer and earn TechnoSavvy</h5>
                <h4>
                In order to refer and earn on TechnoApp within your community, please<br>
                follow below mentioned steps.
                </h4>
                <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">1</div>
                <p>Visit</p>
                <p><a href="https://TechnoApp.com/"  class="url-1">TechnoApp<sup>TM</sup></a></p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-left">
                <div class="bg-colume">
                <div class="number_4">2</div>
                <p>
                Register with TechnoApp<br>
                using Email id and<br>
                Password
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                 <div class="bg-colume">
                <div class="number_4">3</div>
                <p>
                Scroll Down to Referral<br>
                section. Generate and<br>
                copy your unique<br>
                Referral Link.
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">4</div>
                <p>
                Share the link within<br>
                your community so<br>
                that they can register<br>
                on TechnoApp.
                </p>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-down-right">
                <div class="bg-colume">
                <div class="number_4">5</div>
                <p> Referee transacted of $10 or more within 30 days from registration </p>
                <!-- <p> 
                Make required<br>
                transaction using<br>
                existing wallet.
                </p> -->
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up-right">
                <div class="bg-colume">
                <div class="number_4">6</div>
                <p> Both Referrer and Referee receives Referral Bonuses in their TechnoApp wallet </p>
                <!-- <p>
                Both of them receives<br>
                Referral Bonus in<br>
                their wallets.
                </p> -->
                </div>
                </div>
                <div class="col-12">
                  <!-- <form class="newsletter-form">
                    <input type="email" class="input-newsletter" placeholder="Get Referral Code">
                    <button type="submit">Copy <i class="fa fa-files-o"></i></button>
                    <div id="validator-newsletter" class="form-result"></div>
                  </form> -->
                  <div class="form-group second-input newsletter-form">
                    <input type="text" value="Get Referral Code" class="js-copytextarea input-newsletter">
                    <button type="submit" class="js-textareacopybtn">Copy <i class="fa fa-files-o"></i></button>
                    <!-- <p class="js-textareacopybtn"><i class="fa fa-copy"></i></p> -->
                  </div>
                </div>
                </div>
                </div>
                </div>
                </section>

                <section class="content mb-5 bg1">
                    <div class="container">
                    <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up-right">
                    <p>Referrer can refer to their community without any limit as he wants in order to generate more bonuses for themselves and thier community member.</p>
                    <h6>When will the Bonus be paid</h6>
                    <p>Bonus will be added to the user’s respective wallets on 10th of the following month for the eligible cashback period.</p>
                    </div>
                    </div>
                    </div>
                    </section>
    <!-- // policy page -->

