
<!-------------Outer-section---------------------->


<!-----------------top section start ----------->

<!----------------------menu section---------------------------->
<!----------------------menu section---------------------------->

<!---------------------------------------------------------------------->
<!-- <div class="section-toppopup">
  <div class="container">
    <div id="topbar"> Details you enter here should match as per your Govenrment-Issued ID.
    </div>
</div> -->
<!---------------------------------------------------------------------->
<section class="section-wallet bg2"> 
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div id="wallet-left33" class="col-md-2 col-md-2 col-lg-2  col-xxl-2 px-0 wallet-left-bg">
                <div class="d-flex flex-column align-items-center align-items-sm-start   text-white">
                
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="wallet.html" class="nav-link align-middle active">
                              <i class="fa fa-search" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Overview  </span>
                            </a>
                        </li>
                  
                        <li class="nav-item">
                            <a href="spot-wallet.html" class="nav-link  align-middle">
                              <i class="fa fa-credit-card" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Spot Wallet</span></a>
                        </li class="nav-item">
             
       <li class="nav-item">   <a href="funding-wallet.html" class="nav-link  align-middle">
        <i class="fa fa-money" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Funding Wallet</span> </a>
                        </li>

                        <li class="nav-item">   <a href="earn-wallet.html" class="nav-link  align-middle">
                          <i class="fa fa-folder-open" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Earn Wallet</span> </a>
                  </li>

                  <li class="nav-item">   <a href="transaction.html" class="nav-link align-middle">
                    <i class="fa fa-table" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Transaction History</span> </a>
            </li>

            <li class="nav-item">   <a href="account-statement.html" class="nav-link  align-middle">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Account Statement</span> </a>
      </li>
                    </ul>
           
       
                </div>
            </div>
            <!----------------------------------------------->

            <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
               <div class="wallet-right33"> 
<div class="wallet-sectdiv33">
  <div class="wallet-userdiv33">
    <div class="css22-walletleftpan ">
<div class="userdiv33-wal"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> </div>
<div class="iddiv33-wa"><span>User Name: Vivek Gupta</span>
  <span>Account Id : 687564351 </span>
  <span class="kyc22-text"> KYC Status:<span class="statusdiv33"> In Progress </span></span> 
 </div></div>
<div class="css33-rightpan">
<div class="logindiv33-wa">Last Login Session :11.09.2022 | 2:00 PM </div>
<div class="css3edit"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></div>
  </div></div>
</div>

<div class="wallet-sectdiv33">
<div id="wallet-tabdiv" class="wallet-tabdiv">
  <div class="heading"> Wallet Overview</div>
  <div class="css33wallettab"> 
    <ul class="nav nav-tabs">
      <li class="nav-item">    
        <a class="nav-link "  href="buy-crypto.html">Buy Crypto</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#deposit44">Deposit</a>
      </li> 


      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#transfer44">Transfer </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#withdraw44"> Withdraw</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link"  href="transaction.html"> Transaction History </a>
      </li> 
    
    </ul>

  </div>
</div>

</div>
<div id="wallet-tabdiv" class="wallet-sectdiv33">   <div class="wallet-tabdiv"><div class="css11-wallect-range">
 <div class="css33-leftpan">
  <div class="css88-wall-dflex">
    <span class="css77-abal">Total Portfolio Value (ETH)  </span>
    <span class="csss77-walinp">
      <span id="id_password" class="css77-baldiv">0.000021 ETH<small> = $ 1.00002 </small> </span>
      <span><a href="#"><i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i> </a></span>
    </span>
  </div>

  <div class="css88-wall-dflex">
    <span class="css77-abal">Crypto Holding </span>
    <span class="csss77-walinp">
     <div class="css77-valuecheck css77-overleng"> <span class="css77ethno" ><span>0.00021 ETH</span> <small> = $ 1.00001 </small> </span>
   <span class="css77-value24per"><span class="css44-down"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> - 2.42%  </span><span></span><small>(24h)</small></span>
  </div>  </span></div>

    <div class="css88-wall-dflex">
      <span class="css77-abal">Invested Value</span>
      <span class="csss77-walinp">
       <div class="css77-valuecheck"> <span class="css77ethno" ><span>0.00021 ETH</span> <small> = $ 1.00001 </small> </span>
     </div>
      </span></div>
      <div class="css88-wall-dflex">
        <span class="css77-abal">All time gain</span>
        <span class="csss77-walinp">
         <div class="css77-valuecheck css77-overleng"> <span class="css77ethno" ><span>$0.00012 </span> </span>
       <span class="css77-value24per  css44-up"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>  <small>+ 2.42% </small></span>
      </div>  </span></div>
    </div>

    <div class="css33-rightpan">
      <div class="css88-wall-dflex"> 
        <div class=" form-select2 form444"> 
        <select class="my-select" aria-label="Default select example">
          <option >Select Coin</option>
          <option data-img-src="~/images/1.png">BTC</option>
          <option data-img-src="~/images/2.png">ETH</option>
          <option data-img-src="~/images/nav-icon.png">TechnoSavvy</option>
          <option data-img-src="~/images/3.png">USDT</option>
                        </select>
    
      </div></div></div>
  </div>



</div></div></div>        

<div class="wallet-sectdiv33">

    
    <div id="wallet-tabdiv" class="tab-content tab-wall77">
        

      <div class="tab-pane active" id="buy44"> 
        <div class="row">
          <div class="col-md-5 col-12">
            <div class="css77asses-div">
          <div class="heading">My Assets </div>
          <div class="css77asses-table mt-3">
            
            <div id="comunity-css566-box" class="comunity-css566-box ">    
              <div class="mb-2 ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Hide Zero Balance
                </label>
              </div>
            </div>
              <div class="  css-heigh44">
              <table class="table table-responsive">
                <thead class="trasaction-table-title">
                    <tr>
                        <th class="css566-table-text">Assets</th>
          
                        <th class="css566-table-text text-right">Balance</th>
                                  
                 
                    </tr>
                </thead>
                <tbody class="trasaction-table">
                  <tr>
          
                    <td>   <div class="coin-name-css46"><span><img src="~/images/nav-icon.png"></span> TechnoSavvy </div></td>
                   <td><div class="coin-24change-css46  "><div class="css5waltab44">
                    <span> 12.400001  TechnoSavvy</span> <span> <small> ($ 24.88002)</small></span>
                   </div> </div></td>
                          
                </tr>
      
          
                    <tr>
          
                        <td>   <div class="coin-name-css46"><span><img src="~/images/1.png"></span> BTC </div></td>
                       <td><div class="coin-24change-css46  "><div class="css5waltab44">
                        <span> 12.44001 BTC</span> <span> <small> ($ 24.88002)</small></span>
                       </div> </div></td>
                              
                    </tr>
          
                    <tr>
          
                      <td>   <div class="coin-name-css46"><span><img src="~/images/2.png"></span> ETH </div></td>
                     <td><div class="coin-24change-css46  "><div class="css5waltab44">
                      <span> 12.44001 ETH</span> <span> <small> ($ 24.88002)</small></span>
                     </div> </div></td>
                          
                  </tr>
          
                  <tr>
          
                      <td>   <div class="coin-name-css46"> <span><img src="~/images/5.png"></span> USDT </div></td>
                     <td><div class="coin-24change-css46  "><div class="css5waltab44">
                      <span> 12.44001 USDT</span> <span> <small> ($ 24.88002)</small></span>
                     </div> </div></td>
                          
                  </tr>
         
                  <tr>
          
                    <td>   <div class="coin-name-css46"><span><img src="~/images/1.png"></span> BTC </div></td>
                   <td><div class="coin-24change-css46  "><div class="css5waltab44">
                    <span> 12.44001 BTC</span> <span> <small> ($ 24.88002)</small></span>
                   </div> </div></td>
                          
                </tr>
      
      
           
                </tbody>
            </table>     </div>      
          </div>
          </div>
            </div>
          
          </div>
          <div class="col-md-7 col-12">
            <div class="css77asses-div">
              <div class="heading">My Cashback</div>
          
              <div class="css33-earnto mt-3 css77wallet-cash"> 
                <span class="nav22cash"> 



                  <div class="textcasb">Total Cashback Earned</div>
                     <div class="css33-token csswallet77">
                    <span><img src="~/images/nav-icon.png"> </span>
                    <span class="css33-icon-name"> 500 TechnoSavvy <br> <small> $2345.2300 </small>
                    </span>
                  </div>                  
                </span>  
                <span class="nav22cash"><div class="css77-valuecheck css77-casgh mt-0"> <span class="css77ethno"><span>Price of TechnoSavvy</span> <small> $ 1.60001 </small> </span>
                  <span class="css77-value24per"><span class=" css44-down"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i><small>- 2.42% </small></span> <span> (24h)</span>
                 </div> </span>
                             
                  <span class="nav22cash css77-klmd css77-casgh">
                    <span class="css77-abal">All time gain</span>
                   <div class="css77-abklcheck ">                    
                  <span class="css77ethno"><span>+$0.00012 </span> </span>
                 <span class="css77-value24per"><i class="fa fa-long-arrow-up css44-up" aria-hidden="true"></i>
                   <small class=" css44-up">+ 2.42% </small>
                </span>
                </div>
              
              </span>
                
                  </div>
                  <div class="css-ref-btn">
                    <div class="css88asses-div">
                      <div class="heading">My Referrals </div>
                      <div class="css77asses-table mt-3">
                        <div id="comunity-css566-box" class="comunity-css566-box">  
                          <div class="btnref55"> <a href="" data-bs-toggle="modal" data-bs-target="#refferal-model" class="csss77-histbtn"> Expand</a></div>
                          <div class=" css-Rheigh44">     
                          <table class="table table-responsive">
                            <thead class="trasaction-table-title">
                                <tr>
                                    <th  nowrap="nowrap"  class="css566-table-text">Period</th>                      
                                    <th  nowrap="nowrap" class="css566-table-text text-right">Total Referrals</th>
                                    <th  nowrap="nowrap" class="css566-table-text text-right">TechnoSavvy Earn</th>
                                    <th  nowrap="nowrap" class="css566-table-text text-right">Value</th>
                                    <th  nowrap="nowrap" class="css566-table-text text-right">Status</th>
                                              
                             
                                </tr>
                            </thead>
                            <tbody class="trasaction-table">
                              <tr>                      
                              <td><div class=" ">12-01-2022-12-31-2022	 </div></td>
                               <td> <div class="coin-24change-css46  ">55</div></td>
                               <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                               <td><div class="coin-24change-css46  ">$2.000002</div></td>
                               <td><div class="coin-24change-css46  ">Transfered</div></td>
                                     
                            </tr>
                  
                        
                          <tr>                      
                            <td><div class=" ">12-01-2022-12-31-2022	 </div></td>
                             <td> <div class="coin-24change-css46  ">55</div></td>
                             <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                             <td><div class="coin-24change-css46  ">$2.000002</div></td>
                             <td><div class="coin-24change-css46  ">Pending</div></td>
                                   
                          </tr>
                      
                        
                          <tr>                      
                            <td><div class=" ">12-01-2022-12-31-2022	 </div></td>
                             <td> <div class="coin-24change-css46  ">55</div></td>
                             <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                             <td><div class="coin-24change-css46  ">$2.000002</div></td>
                             <td><div class="coin-24change-css46  ">Pending</div></td>
                                   
                          </tr>
                      
                            </tbody>
                        </table>      </div>  
                      </div>
                      </div>
                        </div>
                  </div>
          </div></div>
          </div>


      </div>
    
  
</div>
  </div>
</div>



</div>


          </div>   
            </div>

            <!----------------------------------------------->
        </div>
    </div>
    


</section>

<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<section class="section-footer bg1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> TechnoApp Community</div>
            <ul>
              <li><a href="#"> TechnoApp Webinars</a></li>
              <li><a href="#">Media Library </a></li>
              <li><a href="#"> Airdrop</a></li>
             <li><a href="#">Referral</a></li>
              <li><a href="#">Press Release</a></li>
                 </ul>
          </div>

        </div>
      </div>


      <div class="col-md-3 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Products & Services</div>
            <ul>
             <li><a href="#"> Institutional Services </a></li>
                      <li><a href="#"> TechnoApp Academy</a></li>
              <li><a href="#">TechnoApp Labs</a></li>
              <li><a href="#">TechnoApp API</a></li>
       
                          </ul>
          </div>
          
   
        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title">Policies</div>
            <ul>
              <li><a href="#"> Terms of Use </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#"> AML/KYC Policy </a></li>
              <li><a href="#">Referral Policy</a></li>
             <li><a href="#">Licences</a></li>
              <li><a asp-controller="policy" asp-action="disclaimer">Disclaimer</a></li>
             
           
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Support</div>
            <ul>
              
              <li><a href="#"> Trading Rules </a></li>
              <li><a href="#">Fees & Charges</a></li>
   
              <li><a href="#">FAQs</a></li>
                           </ul>
          </div>

        </div>
      </div>

      <div class="col-md-2 co-xs-12">
        <div class="footer-box">
          <div class="footer-list">
            <div class="footer-title"> Follow Us</div>
         <div class="social-link"> 
          <span><a href="https://www.facebook.com/TechnoApp " target="blank"> <i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a></span>
          <span><a href="https://www.twitter.com/TechnoApp"  target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> </span>
          <span><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn </a></span>
          <span><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube </a></span>
         </div>
          </div>

        </div>
      </div>

    </div>
    <!-------------------------------------------------->
    <button class="open-button" onclick="openForm()"><i class="fa fa-commenting-o" aria-hidden="true"></i> Support</button>

<div class="chat-popup" id="myForm">
  <form action=" " class="form-container">
<div class="chat-box">
  <div class="chat-top"> <span class="chat-title">TechnoApp Support </span> <span><button type="button" class="btn cancel" onclick="closeForm()"><i class="fa fa-times-circle" aria-hidden="true"></i></button> </span></div>

</div>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    
  </form>
</div>
    <!-------------------------------------------------->
  </div>
  <div class="container">
    <div class="x__footer__content-center row">
      <div class="col col-md-12 col-12">
        <div class="x__copyright"> 
          <!--        <div class="x__copyright__logo"> <img src="~/images/logo.png" alt="Exodus Logo"> </div>-->
          <div class="x__copyright__copy">Copyright ©2022 <a href="#"> TechnoApp</a>.  All rights reserved. </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------------------------------------------------------------->
<!-- Button trigger modal -->

<!------------------------------->


<!--------------------------refferal table expand model------------------------------------------->
<!-- Modal -->
<div class="modal fade" id="refferal-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detail-model" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button class="cross-btn"  data-bs-dismiss="modal" aria-label="Close"> <img src="~/images/cross.png" class="cross44" > </button>
        <div class="detail-model544">
          <div id="comunity-css566-box" class="comunity-css566-box">  
            
            <table class="table table-responsive">
              <thead class="trasaction-table-title">
                  <tr>
                      <th  nowrap="nowrap"  class="css566-table-text">Period</th>                      
                      <th  nowrap="nowrap" class="css566-table-text text-right">Total Referrals</th>
                      <th  nowrap="nowrap" class="css566-table-text text-right">TechnoSavvy Earn</th>
                      <th  nowrap="nowrap" class="css566-table-text text-right">Value</th>
                      <th  nowrap="nowrap" class="css566-table-text text-right">Status</th>
                                
               
                  </tr>
              </thead>
              <tbody class="trasaction-table">
                <tr>                      
                <td><div class="  ">12-01-2022-12-31-2022	 </div></td>
                 <td> <div class="coin-24change-css46  ">55</div></td>
                 <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                 <td><div class="coin-24change-css46  ">$2.000002</div></td>
                 <td><div class="coin-24change-css46  ">Transfered</div></td>
                       
              </tr>
    
              <tr>                      
                <td><div class="   ">12-01-2022-12-31-2022	 </div></td>
                 <td> <div class="coin-24change-css46  ">55</div></td>
                 <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                 <td><div class="coin-24change-css46  ">$2.000002</div></td>
                 <td><div class="coin-24change-css46  ">Transfered</div></td>
                       
              </tr>
              
              <tr>                      
                <td><div class="   ">12-01-2022-12-31-2022	 </div></td>
                 <td> <div class="coin-24change-css46  ">55</div></td>
                 <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                 <td><div class="coin-24change-css46  ">$2.000002</div></td>
                 <td><div class="coin-24change-css46  ">Transfered</div></td>
                       
              </tr>
              <tr>                      
                <td><div class="   ">12-01-2022-12-31-2022	 </div></td>
                 <td> <div class="coin-24change-css46  ">55</div></td>
                 <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                 <td><div class="coin-24change-css46  ">$2.000002</div></td>
                 <td><div class="coin-24change-css46  ">Transfered</div></td>
                       
              </tr>
              <tr>                      
                <td><div class="  ">12-01-2022-12-31-2022	 </div></td>
                 <td> <div class="coin-24change-css46  ">55</div></td>
                 <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
                 <td><div class="coin-24change-css46  ">$2.000002</div></td>
                 <td><div class="coin-24change-css46  ">Transfered</div></td>
                       
              </tr>
            <tr>                      
              <td><div class="  ">12-01-2022-12-31-2022	 </div></td>
               <td> <div class="coin-24change-css46  ">55</div></td>
               <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
               <td><div class="coin-24change-css46  ">$2.000002</div></td>
               <td><div class="coin-24change-css46  ">Pending</div></td>
                     
            </tr>
        
          
            <tr>                      
              <td><div class="  ">12-01-2022-12-31-2022	 </div></td>
               <td> <div class="coin-24change-css46  ">55</div></td>
               <td><div class="coin-24change-css46  ">0.250000 TechnoSavvy</div></td>
               <td><div class="coin-24change-css46  ">$2.000002</div></td>
               <td><div class="coin-24change-css46  ">Pending</div></td>
                     
            </tr>
        
              </tbody>
          </table>    
        </div>
         </div>
      </div>
    
    </div>
  </div>
</div>


<!--------------------------------------------------------------------->


<!---------------------------------------------------------------------->


<!---------------------------------------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Optional JavaScript; choose one of the two! -->
     
    <!-- Option 1: Bootstrap Bundle with Popper -->
     
     
    
    <script src="js/eyeopenclose.js"></script>
    <script src="js/select.js" type="text/javascript"></script>
    <script src="js/images-select.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(".my-select").chosen({width:"100%"});
    </script>

   
  