<div id="orderhistroy33" class="tab-pane">
   @* <div class="css44-hidebtn">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Hide Other Pairs
            </label>
        </div>
    </div>*@

    <div id="comunity-css566-box" class="comunity-trade3css566-box table-responsive placeholder-glow ">
        <div class="table-xscroll44 orderhix orderhixfull">
            <table class="table  cssearn-table">
                <thead class="trasaction-table-title">
                    <tr>
                        <th nowrap="nowrap" class=" text-left css566-table-text">Date &amp; Time </th>
                        @*<th nowrap="nowrap" class="css566-table-text">Pair</th>*@
                        <th nowrap="nowrap" class="css566-table-text">Order Id</th>
                        <th nowrap="nowrap" class="css566-table-text">Type </th>
                        <th nowrap="nowrap" class="css566-table-text">Side </th>
                        <th nowrap="nowrap" class="css566-table-text">Price </th>
                        <th nowrap="nowrap" class="css566-table-text">Amount </th>
                        <th nowrap="nowrap" class="css566-table-text"> Filled</th>
                        <th nowrap="nowrap" class="css566-table-text"> Total</th>
                        <th nowrap="nowrap" class="css566-table-text"> Asset Amount</th>
                        <th nowrap="nowrap" class="css566-table-text"> Swap Trade Value</th>
                        <th nowrap="nowrap" class="css566-table-text">Trigger Conditions</th>
                        <th nowrap="nowrap" class="css566-table-text">Status</th>
                    </tr>
                </thead>
                <tbody id="tbOrderHist" class="trasaction-table">
                     <tr>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                    </tr>
                     <tr>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                        <td><div class="placeholder placeholder-sm w-50"></div></td>
                    </tr>

                </tbody>
            </table>

        </div>
        <a asp-action="Orders-history" asp-controller="Wallet" class="ordersee33">See More </a>

    </div>
</div>