<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span>Convert & Withdraw</span>
            </span>
            <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
        </div>
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="css77-buyc-outer">

                    <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                        <div class="css77buy-box">                       
                                <form id="msform">
                                    <!-- progressbar -->

                                    <div class="shadow_TechnoSavvy">
                                        <ol class="progressdiv">
                                            <li class="step  is-complete" data-step="1">
                                                <a href="#">
                                                    Convert
                                                </a>
                                            </li>
                                            <li class="step is-active" data-step="2">
                                                <a href="#">
                                                    Convert<br> Confirmation
                                                </a>
                                            </li>
                                            <li class="step" data-step="3">
                                                <a href="#">
                                                    Withdraw
                                                </a>
                                            </li>
                                            <li class="step" data-step="4">
                                                <a href="#">
                                                    Withdraw <br>Summary
                                                </a>
                                            </li>
                                            <li class="step" data-step="5">
                                                <a href="#">
                                                    Confirmation
                                                </a>
                                            </li>

                                        </ol>
                                        <!-- -->

                                    </div>
                                    <!-- -->
                                    <!-- fieldsets -->
                                    <div class="row">
                                     
                                        <div class="form-card">
                                            <div class="css77buy-box">
                                                <!-- start asset div  -->
                                                <div class="assetseprate">
                                                    <div id="select100per" class="form-group mt-3">
                                                        <label for="exampleInputSpend" class="form-label">Withdraw as</label>
                                                        <div class="input-group mb-1">
                                                            <div class="form-select3">
                                                                <select class="my-select " aria-label="Withdraw">
                                                                    <option data-img-src="/images/coin/coin/USDT.png">USDT</option>
                                                                    <optgroup label="Token">
                                                                        <option data-img-src="/images/coin/coin/BNB.png">BNB</option>
                                                                        <option data-img-src="/images/coin/coin/BTC.png">BTC</option>
                                                                        <option data-img-src="/images/coin/coin/BUSD.png">BUSD</option>
                                                                        <option data-img-src="/images/coin/coin/CHZ.png">CHZ</option>
                                                                        <option data-img-src="/images/coin/coin/DAI.png">DAI</option>
                                                                        <option data-img-src="/images/coin/coin/ETH.png">ETH</option>
                                                                        <option data-img-src="/images/coin/coin/LINK.png">LINK</option>
                                                                        <option data-img-src="/images/coin/coin/LUNC.png">LUNC</option>
                                                                        <option data-img-src="/images/coin/coin/MATIC.png">MATIC</option>
                                                                        <option data-img-src="/images/coin/coin/TechnoSavvy.png">TechnoSavvy</option>
                                                                        <option data-img-src="/images/coin/coin/USDC.png">USDC</option>
                                                                        <option data-img-src="/images/coin/coin/USDT.png">USDT</option>
                                                                        <option data-img-src="/images/coin/coin/wBTC.png">wBTC</option>
                                                                    </optgroup>
                                                                    <optgroup label="Currency">
                                                                        <option>INR - ₹</option>
                                                                        <option>CHF - FR</option>
                                                                        <option>BRL - R$</option>
                                                                        <option>USD - $</option>
                                                                        <option>AUD - $</option>
                                                                        <option>CAD - $</option>
                                                                        <option>CLP - $</option>
                                                                        <option>CNY - ¥</option>
                                                                        <option>CZK - KČ</option>
                                                                        <option>DKK - KR</option>
                                                                        <option>EUR - €</option>
                                                                        <option>GBP - £</option>
                                                                        <option>MYR - RM</option>
                                                                        <option>HKD - $</option>
                                                                        <option>HUF - FT</option>
                                                                        <option>IDR - RP</option>
                                                                        <option>ILS - ₪</option>
                                                                        <option>INR - ₹</option>
                                                                        <option>JPY - ¥</option>
                                                                        <option>KRW - ₩</option>
                                                                        <option>MXN - $</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="5000.00">
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- start network div -->
                                                <div class="networkseprate">
                                                    <div class="form-group mt-3">
                                                        <label for="exampleInputSpend" class="form-label">
                                                            Network
                                                        </label>
                                                        <div class="form-select3">
                                                            <select class="my-select " aria-label="Network">
                                                                <option>Select Network</option>
                                                                <option data-img-src="/images/coin/coin/ETH.png">
                                                                    Ethereum Network
                                                                </option>
                                                                <option data-img-src="/images/coin/coin/BTC.png">BTC Network</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- wallet select start div -->
                                                <div class="walletselect66">
                                                    <div class="form-group mt-4">
                                                        <label class="form-label">Wallet Address</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="Select address from address book"
                                                                   aria-describedby="button-addon2">
                                                            <button type="button" class="btn book44cs" data-bs-toggle="collapse"
                                                                    data-bs-target="#bankdetail88" aria-expanded="true">
                                                                <i class="fa fa-book"
                                                                   aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>


                                                    <div id="bankdetail88" class="collapse">
                                                        <div id="widrtab44div " class="form-group">
                                                            <div id="multisediv" class="input-group mb-3">


                                                                <div class="dropdown-list">
                                                                    <div class="mx-2 my-2">
                                                                        <input type="search" class="form-control form-control-dark"
                                                                               placeholder="Search..." aria-label="Search">
                                                                    </div>
                                                                    <div class="selectdiv43">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox"  id="Waddress1">
                                                                        <label for="Waddress1" class="checkbox-custom-label">
                                                                                <div class="flexwsbox435">
                                                                                    <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span>
                                                                                </div>
                                                                                <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="selectdiv43">
                                                                        <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="Waddress2">
                                                                        <label for="Waddress2" class="checkbox-custom-label">
                                                                                <div class="flexwsbox435">
                                                                                    <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span>
                                                                                </div>
                                                                                <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="selectdiv43">
                                                                        <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="Waddress3">
                                                                        <label for="Waddress3" class="checkbox-custom-label">
                                                                                <div class="flexwsbox435">
                                                                                    <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span>
                                                                                </div>
                                                                                <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="selectdiv43">
                                                                        <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="Waddress4">
                                                                        <label for="Waddress4" class="checkbox-custom-label">
                                                                                <div class="flexwsbox435">
                                                                                    <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span>
                                                                                </div>
                                                                                <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!----------------------------------->
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="whitelist ">
                                                        <label class="form-check-label orange" for="whitelist ">
                                                            Add this address to whitelist
                                                        </label>
                                                    </div>
                                                    <!---------------============================================-------------------->
                                                    <div class="addlisdet3422">
                                                        <div class="adtext4328X">
                                                            <span class="tith4"> Address </span> <span class="texth5"> 0985462-JKL142VFR24KJ </span>
                                                        </div>
                                                        <div class="adtext4328X">
                                                            <span class="tith4">Network </span> <span class="texth5"> TechnoApp </span>
                                                        </div>
                                                        <div class="adtext4328X">
                                                            <span class="tith4">Whitelist </span> <span class="texth5"> Whitelisted </span>
                                                        </div>
                                                    </div>


                                                </div>
                                                <!-- wallet select end div  -->


                                            </div>

                                            <div class="dflexdiv">
                                                <a asp-controller="convert" asp-action="convertconfirmation" type="button" name="previous" class="d-dark  action-button">Previous</a>
                                                <a asp-controller="convert" asp-action="conwithdrawsummary" type="button" name="next" class="d-orange action-button float-right">Continue</a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                          
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-4 col-12">
                @await Html.PartialAsync("partial/_RightFAQ")

            </div>

        </div>

        <!----------------------------------------------->

    </div>
</section>
@section Scripts{

    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/select.min.js"></script>
        <script src="~/minjs/images-select.min.js"></script>
    }
    else
    {
        <script src="~/js/select.js"></script>
        <script src="~/js/images-select.js"></script>
    }


    <script type="text/javascript">
        $(document).ready(function () {
            LoadCurrIfNot();
            formateAll();
            $(".my-select").chosen({ width: "100%" });
        });
    </script>
}