@model vmSettingsMultiFactorMain
<div class="css55-security-box">
    <div class="css55-security-left">
        <span><i class="fa fa-google-plus" aria-hidden="true"></i> </span>
        <span>
            <div class="css55-security-title">
                Google Authenticator
                <p>Secure Your Account and Transactions</p>
            </div>
        </span>

    </div>
    <div class="css55-security-center"> <span>  <i class="fa fa-check-circle-o" aria-hidden="true"></i>  On</span></div>
    <div class="css55-security-right">
        <form asp-action="MultiFactorDisabled" asp-controller="Settings" id="formMultiDisable" data-ajax="true" data-ajax-method="POST" data-ajax-update="#gauth">
            <span>
                <a href="javascript:void(0)" class="css55-enable-btn">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" asp-for="IsMultiFactorEnabled" id="isDismulti" role="switch" />
                        <input type="hidden" asp-for="Email">

                    </div>
                </a>
            </span>
        </form>
    </div>
</div>