@model vmPaymentMethodSetup
@if (Model.SelectedPaymentMethod.IsNOT_NullorEmpty() && (Model.SelectedPaymentMethod == "BankTransfer" || Model.SelectedPaymentMethod == "UPI"))
{
    @Html.HiddenFor(x=>x.SelectedPaymentMethod)
    <div id="select100per" class="form-group mt-3">
        <label class="form-label lable-name">Choose Payment Method</label>

        <div class="form-select">
            @Model.SelectedPaymentMethod
        </div>
    </div>
}
else
{
    <div id="select100per" class="form-group mt-3">
        <label class="form-label lable-name">Choose Payment Method</label>
        <select class="form-select " aria-label="Payment Method" asp-for="SelectedPaymentMethod">
            <option value="">Select Payment Method</option>
            <option value="BankTransfer">Bank Transfer</option>
            <option value="UPI">UPI</option>
        </select>

    </div>
}