@model vmPaymentMethodSetup

<div class="bankgroupdiv">
    <div class="form-group mt-3">
        <label class="form-label lable-name">Account Name</label>
        <input type="text" class="form-control" asp-for="FullName"
               aria-describedby="spndHelp" readonly>
    </div>

    <div class="form-group mt-3">
        <label class="form-label lable-name">Account Number</label>
        <input type="text" class="form-control" placeholder="Account Number" asp-for="BankDeposit.AccountNumber"
               aria-describedby="spndHelp">
    </div>
    
    <div class="form-group mt-3">
        <label class="form-label lable-name">Bank Name</label>
        <input type="text" class="form-control" placeholder="Bank Name " asp-for="BankDeposit.BankName"
               aria-describedby="spndHelp">
    </div>

    <div class="form-group mt-3">
        <label class="form-label lable-name">IFSC Code</label>
        <input type="text" class="form-control" placeholder="IFSC Code " asp-for=" BankDeposit.IFSCCode"
               aria-describedby="spndHelp" >
    </div>
    <div class="form-group mt-3">
        <label class="form-label lable-name">Branch</label>
        <input type="text" class="form-control" placeholder="Branch " asp-for=" BankDeposit.BranchName"
               aria-describedby="spndHelp" >
    </div>

    <div class="row">
        <div class="page-upload-box">
            <div class="form-group uploaddflex w35per">
                <lable class="form-label"> Upload Void Cheque or Bank Statement</lable>
@*                 <span><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span> *@
                <div class="drop-zone">
                    <span class="drop-zone__prompt"> <i class="fa fa-upload" aria-hidden="true"></i> </span>
                    <input asp-for="BankDeposit.VoidCheque" type="file"   class="drop-zone__input" data-val="true"
                           data-val-required="The Void Cheque field is required.">
                </div>

            </div>
            <div class="uploadlist343 w65per">
                <h3>Instruction:</h3>
                <ul>
                 @*    <li> Upload the transaction proof from the bank Statement.</li>
                    <li>the amount and the transaction ID must be visible. </li> *@
                    <li>The image must be clear.</li>
                    <li>The size of image must be Max 200 KB. </li>
                    <li>format of the document must be in .jpg/.jpeg/.png/.pdf. </li>
                </ul>
            </div>
        </div>

    </div>

</div>