@{
    ViewData["Title"] = "TechnoApp Announcement: Stay Informed with Important Updates";
}
@section Header {
    <meta name="description" content=" TechnoApp latest announcements for crucial updates and information. Stay informed about important developments that shape your trading journey." />
}

<section class="page-section a-inner-head bg1 pt-5">
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="css566-heading mb-3">
                    <h1> Announcement </h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="index-links">
                    <ul>
                        <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a> </li>
                        <li>|</li>
                        <li>Announcement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tab-content-sec faq-sec bg1 pt-5 pb-5 press-release-page">
    <div class="container">
        <div class="row">
            <div class="mobile45 d-block d-lg-none">
                <button class="openbtn" onclick="openNav()"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <div>
                        <div class="inner-wrapper-sticky accordion accordion-flush tab-col actabdiv434 academy-tab-col" id="accordionFlushTopic">
                            <form class="positionrelative">
                                <input id="txtSearchTopicDesktop" type="search" class="market-search" autocomplete="off" placeholder="Search" name="search">
                                <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </form>
                            <div class="rigthscroll543" id="academyTopicDesktop">

                                <!-- Trade tab -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="marketpairtab">
                                        <button class="tablinks active" onclick="openCity(event, 'marketpair')" type="button">
                                            Exciting News: TechnoApp Introduces 10 New Market Pairs!
                                            <p>10 Oct, 2023 <span> 04:23:20 GMT </span></p>
                                        </button>
                                    </h2>
                                </div>
                                <!-- what is wallet tab -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="registrationopentab">
                                        <button class="tablinks" onclick="openCity(event, 'registrationopen')" type="button">
                                            TechnoApp Beta User Registration Now Open!
                                            <p> 20 Oct, 2023 <span> 07:23:20 GMT </span></p>
                                        </button>
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div></div>
            <div class="col-lg-4 col-md-4 col-xxl-3 academy-search d-none d-lg-block">
                    <div>
                        <div class="inner-wrapper-sticky accordion accordion-flush tab-col actabdiv434 academy-tab-col" id="accordionFlushTopic">
                            <form class="positionrelative">
                            <input id="txtSearchTopicDesktop" type="search" class="market-search" autocomplete="off" placeholder="Search" name="search">
                                <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </form>
                        <div id="academyTopicDesktop"  class="rigthscroll543">
                               
                                <!-- Trade tab -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="marketpairtab">
                                    <button class="tablinks active" onclick="openCity(event, 'marketpair')" type="button">
                                        Exciting News: TechnoApp Introduces 12 New Market Pairs!
                                        <p> 5 Oct, 2023 <span> 04:23:20 GMT </span></p>
                                    </button>
                                </h2>
                            </div>
                                <!-- what is wallet tab -->
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="registrationopentab">
                                    <button class="tablinks" onclick="openCity(event, 'registrationopen')" type="button">
                                        TechnoApp Beta User Registration Now Open!
                                        <p> 5 Oct, 2023 <span> 04:23:20 GMT </span></p>
                                    </button>
                                    </h2>                                  
                                </div>
                               
                            </div>
                        </div>
                    </div>
     </div>
      
         
            <!-- col 8 -->
            <div class="col-lg-8 col-md-8 col-xxl-9 academy-text557">
                <div class="col-8-tabs" id="content">
                    <!-- Home tab -->
                    <div id="marketpair" class="tabcontent tab-work">
                        <h1 class="heading-3">Exciting News: TechnoApp Introduces 12 New Market Pairs!
                            <p> <small>5 Oct, 2023 </small>  <small> 04:23:20 GMT </small></p>
                        </h1>
                        <p > This is a general announcement. Products and services referred  here may not be available in your region. </p>
                        <img src="~/images/Introduces-10-news.png" alt="image">
                        <p>We're thrilled to announce a major enhancement to your trading experience on TechnoApp: the introduction of 12 new market pairs!   </p>
                        <p>Market pairs are the cornerstone of any trading platform, and they open up exciting possibilities for trading various assets. With these 12 new market pairs, including BNB /USDT, ETH/USDT, TechnoSavvy/USDT and BUSD/USDT, among others, we're significantly expanding your trading options.  </p>
                        <p>This means more opportunities for diversification and profit potential, whether you're a seasoned trader or just getting started. We're dedicated to continuously improving your trading experience, so stay tuned for more updates, features, and opportunities. Join us on TechnoApp and seize the potential of these new market pairs to elevate your trading game in the dynamic world of cryptocurrency. </p>
                        <p>Thank you for continuous support & happy trading!</p>
                        <p> TechnoApp Team </p>
                    </div>
                    <!-- // Home tab -->
                    <!-- Benefits of trade tab -->
                    <div id="registrationopen" class="tabcontent tab-work">
                        <h1 class="heading-3">
                            TechnoApp Beta User Registration Now Open!
                            <p> <small>5 Oct, 2023 </small> <small> 04:23:20 GMT </small></p>
                        </h1>
                        <p>This is a general announcement. Products and services referred here may not be available in your region. </p>
                        <img src="~/images/TechnoApp-Beta-news.jpg" alt="image">
                        <p>We're thrilled to announce that TechnoApp's Beta User Registration is now live!  </p>
                        <p>This is an exciting opportunity for all traders and crypto enthusiasts. TechnoApp represents the future of navigation, combining cutting-edge technology and innovation to offer a seamless and exciting way to explore the world around you. With features like ZERO Swap Fees and CASHBACK Reward, TechnoApp is set to change the way we trade.  </p>
                        <p>To be part of this exclusive journey, all you need to do is visit our website at www.TechnoApp.com, sign up for the Beta program and start exploring while providing us with valuable feedback to shape the future of TechnoApp. But hurry, beta spots are limited, so don't miss this incredible opportunity!  </p>
                        <p>Join us as we revolutionize the world of navigation and embark on unforgettable adventures. </p>
                        <p>Thank you for continuous support & happy trading!</p>
                        <p> TechnoApp Team </p>
                    </div>
                    <!-- // Benefits of trade tab -->
                    <!-- What is Crypto Tab -->
   
                </div>
                <!-- // col 8 -->
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/vertical-tab.min.js"> </script>        
    }
    else
    {
        <script src="~/js/vertical-tab.js"> </script>        
    }

    <script>
        function openNav() {
            $("#mySidepanel").css({ "width": "400px" });
        }

        function closeNav() {
            $("#mySidepanel").css({ "width": "0px" });
        }
        function tablinks() {
            $("#mySidepanel").css({ "width": "0px" });
        }
        $('.tablinks').on('click', function () {
            $("#mySidepanel").css({ "width": "0px" });
        })
    </script>
   
    <script>
        bindaccordionSearch('txtSearchTopic', 'accordionFlushTopic');
        bindaccordionSearch('txtSearchTopicDesktop', 'academyTopicDesktop');

        $(function () {

            if (ta.length > 0)
                $('#' + ta + ' button').trigger('click');
            if (to.length > 0)
                openCity(event, to);
        });
    </script>
}
