@model vmBase
@{
    ViewData["Title"] = "TechnoSavvy Token | Native Utility Token of TechnoApp Exchange";
}

@section Header {
    <meta name="description" content="Unlock the power of TechnoSavvy Token, the native utility token of TechnoApp Exchange. Maximize benefits, trade seamlessly, and elevate your crypto experience." />
}

<section class="about-TechnoSavvy market-section bg2 placeholder-glow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-4">
                <h1><img src="../images/nav-icon.png" width="30" /> TechnoSavvy Token </h1>
            </div></div>
        <div class="row navpr432">
            <div class="col-lg-6 col-md-7">
                <div class="about-TechnoSavvy-col7">                    
                    <span> Utility Token </span>
                    <span> On <span class="p-0 m-0" id="wtList"><spna class="placeholder  placeholder-xs" style="width:50px"></spna></span> watchlists </span>
                </div>
                <div class="icon-tabs mt-4">
                    <ul class="about-TechnoSavvy-option d-flex justify-content-between flex-wrap g-4">
                        <li class="droplink44"><a id="WebURL"  href="https://www.TechnoSavvytoken.com/" target="_blank">TechnoSavvytoken.com</a></li>
                        <li class="select-li select-li2">
                            <div class="dropdowndiv">
                                <div type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false"> Community </div>
                                <ul class="dropdown-menu dropdown-menu-css44 dropdown-widt878">
                                    <li><a href="https://www.reddit.com/r/TechnoAppCommunity/" target="_blank">Reddit</a></li>
                                    <li><a href="https://www.facebook.com/TechnoApp" target="_blank">Facebook</a></li>
                                    <li><a href="https://twitter.com/TechnoApp" target="_blank">Twitter</a></li>
                                    <li><a href="https://t.me/TechnoAppExchange" target="_blank">Telegram</a></li>
                                </ul>
                            </div>                          
                        </li>
                        <li class="droplink44"><a href="https://etherscan.io/address/0x4a47Eb576463f02A6E7Ceb28F7dE2c503778EA53" target="_blank"><i class="fa fa-search " aria-hidden="true"></i> Explorers</a></li>
                        <li class="droplink44"><a id="whitePaper" href="~/images/WhitePaper-TechnoSavvy-Version-3.pdf" target="blank"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Whitepaper </a></li>

                    </ul>
                </div>
                <div class="form-group aboutTechnoSavvy-clipboard position-relative">
                    <a class="ercClipboard" href="https://etherscan.io/address/0x4a47Eb576463f02A6E7Ceb28F7dE2c503778EA53" target="_blank">
                        <p> ERC 20:- <span>0x4a47Eb57646...503778EA53</span> </p>                
                    </a>
                    <input type="text" value="0x4a47Eb576463f02A6E7Ceb28F7dE2c503778EA53" class="js-copytextarea erctextarea">
                    <button type="button"  class="js-textareacopybtn" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="0x4a47Eb576463f02A6E7Ceb28F7dE2c503778EA53"><i class="fa fa-files-o"></i></button>
                    <div class="copytext34 aboutcopy">Copied!</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="row">
                    <div class="col-sm-6 col-md-12 ">
                    <div class="col5-an-box1" id="aboutTechnoSavvyPrice">
                        <div class="an-d-class">
                          
                            <h4> <img src="../images/nav-icon.png" width="10" /> TechnoSavvy Price </h4>
                            <h5> $00 </h5>
                        </div>
                        <p> Floor Price $00 </p>
                    </div>
                    </div>                    
                    <div class="col-sm-6 col-md-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="csslowhigh88">
                                    <span class="css566-marlah">24h Low & High</span><span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The highest and lowest price paid for this asset in 24 hours." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                </div>
                                 <div id="lowHigh">                                  
                                    <div class="css566-marpro justify-content-end  col5-sec2 mt-1">
                                        <span class="css566-marchfl">Low: <span class="placeholder placeholder-xs" style="width:70px; height:10px"></span></span>
                                        <span class="placeholder placeholder-xs" style="width:100px; height:10px"></span>
                                        <span class="css566-marhi">High: <span class="placeholder placeholder-xs" style="width:70px; height:10px"></span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                  
                    </div>
                </div>
            </div>
        </div>


        <div class="row market-cap-sec mt-3">
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Market Cap</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The total market value of a cryptocurrency's circulating supply. It is analogous to the free-float capitalization in the stock market." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa" id="mktCap">
                        <div class="placeholder placeholder-xs" style="width:150px; "></div><br/>
                        <div class="placeholder placeholder-xs" style="width:100px;"></div>
                        @*<span> $453,911,947,323 </span><br>
                        <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Fully Diluted Market Cap</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Fully-diluted market cap (FDMC) = price x max supply. If max supply is null, FDMC = price x total supply. if max supply and total supply are infinite or not available, fully-diluted market cap shows." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa" id="fullyMktCap">
                        @*<span> $453,911,947,323 </span><br>
                        <span class="css44-down">-0.26% <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>*@
                        <div class="placeholder placeholder-xs" style="width:150px; height:8px"></div><br/>
                        <div class="placeholder  placeholder-xs" style="width:100px; height:8px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Volume 24h</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="A measure of how much of a cryptocurrency was traded in the last 24 hours." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa" id="valume24">
                        @*<span> $453,911,947,323 </span><br>
                        <span class="css44-up">+0.26% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>*@
                        <div class="placeholder  placeholder-xs" style="width:150px; height:8px"></div><br/>
                        <div class="placeholder  placeholder-xs" style="width:100px; height:8px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div mb-0 w-100">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Circulating Supply</span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The amount of coins that are circulating in the market and are in public hands. It is analogous to the flowing shares in the stock market." data-bs-original-title="" title=""> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div id="CirSupply" class="css566-marchfa d-flex align-items-center flex-wrap">
                        @*<span> 50,000,000 TechnoSavvy (0.0444%) </span>
                        <span class="nineright">90%</span>
                        <div class="progress about-TechnoSavvy-progress">
                            <div class="progress-bar" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>*@
                        <div class="placeholder  placeholder-xs" style="width:150px; height:8px"></div><br/>
                        <div class="placeholder  placeholder-xs" style="width:100%; height:8px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row  mt-3">
            <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">24h Volume / Market Cap </span>
                    </div>
                    <div class="css566-marchfa" id="volMCap">
                        @*<span class="css566-marlah dex-text">0.0645</span>*@
                        <div class="placeholder  placeholder-xs" style="width:100px; height:8px"></div>
                        
                    </div>
                </div>
            </div>

            @* <div class="col-lg-3 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Volume (24hours) </span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="A measure of how much of a cryptocurrency was traded in the last 24 hours."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa">
                        <span>368.93B TechnoSavvy </span>
                        <span> </span>
                    </div>
                </div>
            </div> *@

            <div class="col-lg-6 col-md-6">
                <div class="css566-martime-div">
                    <div class="css566-marPIt">
                        <span class="css566-marlah">Total Supply </span>
                        <span class="css566-maric" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The maximum number of coins coded to exist in the lifetime of the cryptocurrency. It is comparable to the maximum number of issuable shares in the stock market."> <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="css566-marchfa" id="totalSupply">
                        <div class="placeholder  placeholder-xs" style="width:100px; height:8px"></div>
                        @*<span>50,000,000 </span>*@
                        <span> </span>
                    </div>
                </div>
            </div>
        </div>      

        <div class="row  market-cap-sec2 mt-3">
            <div class="col-lg-12 col-md-12 about-pera-text">
                <p> TechnoSavvy is the native utility token of the TechnoApp exchange built on ERC- 20 standard. All the transactions on the exchange route through TechnoSavvy token itself. Which means it acts as the underlying currency of the exchange. Further, by staking the required amount of TechnoSavvy tokens, you become eligible for a cashback of up to 0.1% of the transaction value on the platform. </p>
                <p> The exciting utility of TechnoSavvy on TechnoApp ensures that it gets consistent demand. The equation of continuous demand and limited supply will create an exponential capital appreciation for the TechnoSavvy token after each settled trade. It makes TechnoSavvy an excellent crypto asset. </p>
                <p> TechnoApp’s vision is to provide the world’s most rewarding crypto trading experience. By becoming a community member, you can join hands with TechnoApp and enjoy the maximum benefits of the next-generation crypto exchange. </p>
            </div>
        </div>    
    </div>
    <div class="clearfix"></div>
    <div class="container">
     <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-sm-12 ">
                <div class="select-hours justify-content-right">
                    <form>
                        <select id="barTime" class="form-select float-right h-select">
                            <option selected data-du="3600" value="1Hrs">1 hrs</option>
                            <option data-du="28800" value="8Hrs">8 hrs </option>
                            <option data-du="86400" value="1Day">24 hrs </option>
                            <option data-du="259200" value="3Day">3 Day </option>
                            <option data-du="604800" value="7Day">7 Day </option>
                        </select>
                    </form>
                </div>
            </div>
        <div class="col-lg-8">
            <div id="lineGraph"></div>              
        </div>
        </div>
    </div>
</section>
 
 


@section Styles{

 }
@section Scripts{

    <script>
        var __q = 'USDT';
        var __b = 'TechnoSavvy';
        var __mCode = 'TechnoSavvyusdt';
        var __qf = '4';
        var __bf = '4';
        var __nf = '18';
        var __uf = '6';

    </script>
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/clipboard.min.js"></script>
        <script src="~/minjs/echarts.min.js"></script>
        <script src="~/minjs/GeneralConfig.min.js"></script>
        <script src="~/minjs/pabout2.min.js"></script>
        <script src="~/minjs/an-linegraph.min.js"></script>
    }
    else
    {
        <script src="~/js/clipboard.js"></script>
        <script src="~/js/echarts.min.js"></script>
        <script src="~/js/GeneralConfig.js"></script>
        <script src="~/js/pabout2.js"></script>
        <script src="~/js/Graph/an-linegraph.js"></script>
    }
    
    <script>

       

        loadFormatAll();
       
       
    </script>

  }




