@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-4-sidebar sidebar_inner">
    <div class="stay-connected head-bg">
        <h6> Stay Connected </h6>
        <div class="border-line"></div>
        <ul class="rightsocial78">
            <li><a href="https://www.facebook.com/TechnoApp" target="blank" ><img src="~/images/facebook-icon.png" alt="image"></a></li>
            <li><a href="https://www.twitter.com/TechnoApp" target="blank"><img src="~/images/twitter-icon.png" alt="image"></a></li>
            <li><a href="https://www.linkedin.com/company/TechnoApp/" target="blank"><img src="~/images/linkedin-icon.png" alt="image"></a></li>
            <li><a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="blank"><img src="/images/youtube-icon.png" alt="image"></a></li>
            <li><a href="https://t.me/TechnoAppExchange" target="blank"><img src="~/images/telegram.png" alt="image"></a></li>
        </ul>
        <br>
    </div>
    <div class="latest-blog head-bg">
        <h6> Latest Blog </h6>
        <div class="border-line"></div>
    </div>
    <div class="latest-blog head-bg">

            <div class="row latest-blog-list top-blog">
            <a asp-controller="blog" asp-action="what-is-TechnoSavvy">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/wht-TechnoSavvy3.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>What is TechnoSavvy: Why Is It a Good Investment?  </p>
                        <span class="url-1">Oct 05, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list top-blog">
            <a asp-controller="blog" asp-action="what-is-value">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/what-value.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> What is Value Variance Inflationary Token? </p>
                    <span class="url-1">Oct 27, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="earn-high-returns-staking-crypto">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/earn-hight-return.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> Earn High Returns by Staking Crypto: TechnoSavvy Staking Benefit  </p>
                    <span class="url-1">Oct 24, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="Most-Rewarding-Crypto-Trading-Experience">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Join45.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> Most Rewarding Crypto Trading Experience, Join the TechnoApp Community   </p>
                    <span class="url-1">Oct 21, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="an-introduction-to-TechnoApp">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/AnIntroduction.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> An Introduction to TechnoApp Trading Ecosystem and TechnoSavvy Token  </p>
                    <span class="url-1">Oct 19, 2023 </span>
                    </div>
                </a>
            </div>
            
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="fastest-growing-crypto-currency">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Fastest-Growing.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> Fastest Growing Cryptocurrency That Grows When You Trade!   </p>
                    <span class="url-1">Oct 17, 2023 </span>
                    </div>
                </a>
            </div>
        <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="crypto-arbitrage-opportunity">
                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Crypto-Arbitrage.jpg" alt="image">
                </div>
                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>Crypto Arbitrage Opportunity: Make Money on TechnoApp   </p>
                    <span class="url-1">Oct 15, 2023 </span>
                </div>
            </a>
        </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="most-rewarding-crypto-exchange">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Thing-You-Must.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>Things You Must Know About TechnoApp – World's Most Rewarding Crypto Exchange   </p>
                    <span class="url-1">Oct 11, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="how-trade-crypto-currency">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/How-to-trade.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> How to Trade Cryptocurrency for Free? </p>
                    <span class="url-1">Oct 08, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="best-crypto-currency-exchange">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/crypto-currency.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>  Best Cryptocurrency Exchange – TechnoApp   </p>
                    <span class="url-1">Oct 01, 2023 </span>
                    </div>
                </a>
            </div>          
            
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="exploring-exciting-utility">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Exploring.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>Exploring the Exciting Utility of TechnoSavvy </p>
                    <span class="url-1">Sep 29, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="crypto-trading-fees">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Crypto-trading-fees.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>Crypto Trading Fees: Minimize your trading costs with TechnoApp  </p>
                        <span class="url-1">Sep 25, 2023 </span>
                    </div>
                </a>
            </div>
            
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="how-preserve-your-capital-inflation">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/How-Preserve-Your.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p>How to Preserve Your Capital in Inflation Using TechnoSavvy   </p>
                        <span class="url-1">Sep 23, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="how-TechnoSavvy-encapsulates-traded-pair">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/How-TechnoSavvy.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> How TechnoSavvy Encapsulates the Traded Pair Value  </p>
                        <span class="url-1">Sep 21, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="TechnoSavvy-floor-price-fixed">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/TechnoSavvy-Floor.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> TechnoSavvy Floor Price is Fixed and Expected to Grow Above that Point  </p>
                        <span class="url-1">Sep 20, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="TechnoSavvy-velocity-real-TechnoApp">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/TechnoSavvyvelocity.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> Is TechnoSavvy Velocity Real on TechnoApp?  </p>
                        <span class="url-1">Sep 19, 2023 </span>
                    </div>
                </a>
            </div>
            <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="types-stakers">
                    <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Type-stakers.jpg" alt="image">
                    </div>
                    <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> Types of Stakers on TechnoApp</p>
                        <span class="url-1">Sep 18, 2023 </span>
                    </div>
                </a>
            </div>
        <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="endless-opportunities">
                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/Endlessopportunity.jpg" alt="image">
                </div>
                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> The Endless Opportunities with TechnoSavvy Token </p>
                    <span class="url-1">Sep 16, 2023 </span>
                </div>
            </a>
        </div>
        <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="how-become-community-member">
                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/become-community.jpg" alt="image">
                </div>
                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> How to Become TechnoApp Community Member </p>
                    <span class="url-1">Sep 14, 2023 </span>
                </div>
            </a>
        </div>
        <div class="row latest-blog-list">
            <a asp-controller="blog" asp-action="most-rewarding-crypto">
                <div class="col-lg-4 col-md-4 col-6 latest-blog-col-4">
                    <img src="~/images/TechnoApp-your-gateway.jpg" alt="image">
                </div>
                <div class="col-lg-8 col-md-8 pl-0 pr-0">
                    <p> TechnoApp: Your Gateway to the World's Most Rewarding Crypto Trades</p>
                    <span class="url-1">Sep 11, 2023 </span>
                </div>
            </a>
        </div>
      
        </div>
      
        
    </div>
 
@section Scripts{
     <script async src="~/js/shareblog.js" ></script>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}