
<!doctype html>
<html lang="en">
<head>
    <title> Emailer </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/Admin/Common/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?sec-nav tab-contentfamily=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font cdn -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body style="background:#ececec; margin:0px; padding:0px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
    <div style="max-width:700px; height:auto; margin:20px auto; padding:0px; background:#fff;border-radius:10px;text-align:center;overflow:hidden; background-image: url(https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/df4dc58b-cd1c-4708-103c-ad66b7494f00/public); background-size: cover;">

        <!-- Header section -->
        <div style="width:100%;font-size:12px;color:#fff;padding:12px 0px 12px 0px; background: #222c35;">
            <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/9521313e-2b2d-4d57-28b8-de551b703a00/public" style="position: relative; left: 11px;" alt="Logo">
        </div>
        <!-- // Header Section -->
        <div style="width:80%;  padding: 0px 50px;">
        <div style="width: 100%; text-align:center; padding:0px 10px; margin-top: 10px;">
            <!-- <h1 style="font-size:17px; letter-spacing: 0.5px; font-weight:bold;color:#fff;margin-top:0px; font-family: 'Poppins', sans-serif;">Welcome on NavExM || Next Generation <br> Crypto Exchange</h1> -->

            <p style="color:#d5d5d5;line-height:24px; font-family: 'Roboto', sans-serif;"> <span style="font-size: 20px; color: #fff;     line-height: 43px;"> World’s First Revenue-Positive Crypto Exchange </span> </p>
            
        </div>
        <div style="width:100%;text-align:center;margin-top:20px;margin-bottom:20px;">

            <h3 style="font-size: 17px; font-weight:bold;color:#fff;">Hi {##userName##},</h3>
            <p style="font-size:14px;color:#d5d5d5;line-height: 24px; font-family: 'Roboto', sans-serif;">Congratulations and welcome to NavExM Beta! We're excited to have you on board. Your account has been successfully created, and you're now a part of our growing community.</p>
            <p style="font-size:14px;color:#d5d5d5;line-height: 24px; font-family: 'Roboto', sans-serif;"> We're excited to invite you to be among the first to experience NavExM Exchange.  As an early adopter and valued member of our community, you have a unique opportunity to shape the future of our platform through beta testing.</p>
        </div>

        <div style="width: 70%; padding: 12px 0px; background-color: #202630; display: block; margin: auto; padding-left: 22px;">
            <h1 style="text-align: justify; font-size:17px; letter-spacing: 0.5px; font-weight:bold;color:#fff;margin-top:0px; font-family: 'Poppins', sans-serif;"> Gain exclusive entry to NavExM ahead of the public launch.</h1>
            <p style="color: #fff; text-align: justify; line-height: 15px; font-family: 'Roboto', sans-serif;">Get Started in Three Steps </p>
            <p style="color: #fff; text-align: justify; line-height: 15px; font-family: 'Roboto', sans-serif;">1. Hold 500 NavC Tokens </p>
            <p style="color: #fff; text-align: justify; line-height: 15px; font-family: 'Roboto', sans-serif;">2. Join the Beta Testing Waitlist  </p>
            <p style="color: #fff; text-align: justify; line-height: 15px; font-family: 'Roboto', sans-serif;"> 3.
                 Share Feedback to Earn More NavC Tokens </p>
           
        </div>

        <p style="color:#d5d5d5; line-height:24px; font-family: 'Roboto', sans-serif; font-size: 14px;">Thank you for being an integral part of our journey. Your participation matters, and we can't wait to have you on board!  </p>

         </div>
                <!----------------------------------------->

        <!---------------------------------------------->
        <!-- Footer Section -->
        <div style="width:100%; background-color: #000; padding: 15px 0px; margin-top: 10px;">
            <p style="font-size: 11px; color:#d5d5d5; line-height: 18px; font-family: 'Roboto', sans-serif; padding: 0px 50px 8px; letter-spacing: .5px; margin: 0;"> <span> Risk warning: </span> Cryptocurrency trading is subject to high market risk. NavExM will make best efforts to choose high-quality cryptos, but will not be responsible for any trading losses.  </p>

            <div style="width: 100%;text-align:left;">
                <p style="font-size: 14px; color: #fff; text-align: center; font-family: 'Roboto', sans-serif; margin: 0;">
                    <a href="https://navexm.com/" style="text-decoration: none; color: #f08516;"> NavExM </a> © 2022
                </p>
            </div>
        </div>

        <div style="width:100%;text-align:justify; background:#222c35; display:flex;">
            <div style="width:100%;font-size:12px;color:#fff;padding:12px 0px 12px 25px;">
                <p style="font-size: 16px; font-family: 'Roboto', sans-serif; margin: 0px 0px 12px;"> Connect With NavExM </p>
                <a href="https://www.facebook.com/Navexm-104357898921466" target="_blank" style="color:#fff; text-decoration-line: none;">
                    <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/9664e2ea-b62a-4952-e090-5ee31c4cd500/public" alt="image" style="width: 5%; height: auto; margin-right: 7px;">
                </a>
                <a href="https://instagram.com/navexm" target="_blank" style="color:#fff; text-decoration-line: none;"> 
                    <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/2900ebbd-37ce-4ff7-8a8a-1c126de1a000/public" alt="image" style="width: 5%; height: auto; margin-right: 7px;">
                </a>
                <a href="https://www.twitter.com/NavExM" target="_blank" style="color:#fff; text-decoration-line: none;">
                    <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/9f5625dc-2178-43a4-9476-a1b235bc2600/public" alt="image" style="width: 5%; height: auto; margin-right: 7px;">
                </a>
                <a href="https://www.linkedin.com/company/NavExM/" target="_blank" style="color:#fff; text-decoration-line: none;"> 
                    <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/4b940c04-f7b0-4f3b-0aea-5b2f2443c700/public" alt="image" style="width: 5%; height: auto; margin-right: 7px;">
                </a>
                <a href="https://www.youtube.com/channel/UCT0rYEpfAv-xZJDtxRBDE-Q" target="_blank" style="color:#fff; text-decoration-line: none;"> 
                    <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/ca19ad87-bf2b-4282-7a73-461e34d63d00/public" alt="image" style="width: 5%; height: auto; margin-right: 7px;">
                </a>
            </div>
            <div style="width:40%; font-size:12px; color:#fff; padding:12px 0px 12px 10px; position: relative;">
                <p style="font-size: 16px; font-family: 'Roboto', sans-serif; margin: 0px 0px 12px;"> Telegram Support </p>
                <p style="font-size: 16px; color: #fff; font-family: 'Roboto', sans-serif; margin: 0px; position: relative; left: 27%;">
                    <!-- <a href="https://t.me/nav_exm" style="text-decoration: none; color: #f08516;"> https://t.me/nav_exm </a> -->
                    <a href="https://t.me/NavExM_Support" target="_blank" style="color:#fff; text-decoration-line: none;">
                        <img src="https://imagedelivery.net/FMHgHd6IJK9LBaGkporw1w/575c8d28-1c71-464a-1352-7d291f97f800/public" alt="image" style="width: 14%; height: auto; margin-right: 7px;">
                    </a>
                </p>
            </div>
        </div>
        <!-- // Footer Section -->

    </div>

</body>

</html>
