@{
    Layout = "_LayoutPre";
    ViewData["Title"] = "Roadmap";
    
}
<section class="roadmap-section" >
        <div class="container">
          <div class="col-12">
            <h1>Roadmap</h1>
        </div>
        <div class="d-none d-lg-block">
          <div class="row g-5">
            <div class="col-md-8 col-xs-12">
         <div class="roadmap-box">         
            <div class="roadmap">
                <div class="roadmap-bg"><img src="~/pr/images/RoadMap-bg.png" class="img-fluid"></div>
                <div class="point stage1">
                  <div class="stageTxt" onclick="moveText(stageTxt1)">
                  <div class="point-index d-grey"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label">Public Release</div>
              <div id="stageTxt1" class="textroad44"> 
                <h3>Public Release</h3> 
                <p>    Public Release is the final phase of our project release lifecycle. All types of users can access end-to-end applications. Registered users can deposit their assets within the exchange, can initiate trade & then, can withdraw their assets from the exchange. All the community members of TechnoApp are eligible to avail maximum benefits (Cashback on each trade, zero transaction fees etc.) that was promised with them. All the Beta-Users who have successfully participated in our Pre-Beta Release phase & Bug Bounty programs, can redeem their rewards & bonus from the platform that was earned during Beta-Release. </p></div></div>
                </div>
                <div class="point stage2">
                  <div class="stageTxt" onclick="moveText(stageTxt2)">
                  <div class="point-index d-grey"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label">Public UAT</div>
                  <div id="stageTxt2" class="textroad44"> 
                    <h3>Public UAT</h3> 
                    <p>Public UAT, the phase of end users who can have access to end-to-end application after their enrolled participation in the Pre-Beta & Beta-Release phase of our platform.</p></div></div>
                </div>
                <div class="point stage3">
                  <div class="stageTxt" onclick="moveText(stageTxt3)">
                  <div class="point-index d-grey"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label">Beta-User Testing</div>
                  <div id="stageTxt3" class="textroad44"> 
                    <h3>Beta-User Testing</h3> 
                    <p>    Beta-user testing is a crucial step in the development process of a crypto project, as it helps identify and rectify issues before the product officially launches in the public. This allows developers & project team members to identify and address any issues, improve user experience, and ensure that the project functions as intended in a real-world environment. This phase will come with multiple options for the end users those who represent the project's target audience, known as "beta testers" or "beta users." Encourages beta-users to actively use the platform and report any bugs, glitches, or technical issues they encounter during their testing. This can include issues related to user interface, functionality, security, Feedback on platform performance & usability, Iterative development, Engagement & Communication and more. As a result of this phase, product official launch can be monitored that may include finalizing documentation, marketing materials, and user support resources. </p></div></div>
                </div>
                <div class="point stage4">
                  <div class="stageTxt  " onclick="moveText(stageTxt4)">
                  <div class="point-index d-orange"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label orange">User Acceptance Testing (UAT)</div>
                  <div id="stageTxt4" class="textroad44">
                    <h3>User Acceptance Testing (UAT)</h3> 
                  <p> UAT is the most crucial phase of Software Development Lifecycle. This phase is scheduled in our release lifecycle & this will be processed within the organization and in between the internal team of the project to ensure that the project aligns with user expectations and requirements. It helps identify and rectify potential issues before the project's official release for “Public UAT”, leading to a more reliable and user-friendly product.</p> </div></div></div>

                <div class="point stage5">
                  <div class="stageTxt" onclick="moveText(stageTxt5)">
                  <div class="point-index d-orange"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label orange">Pre-Beta Sale</div>
                  <div id="stageTxt5" class="textroad44"> 
                    <h3>Pre-Beta Sale</h3>  
                    <p>    This phase is for users that are bound by our SAFT contract which is specifically designed for the early investors or early buyers of the TechnoSavvy Token. This is the best chance phase for the users who wants to buy TechnoSavvy token at the best price which is $1.25 before the price goes up & can be eligible to become a community member to avail multiple benefits I.e., maximum cashback, zero transaction fees, referral bonuses & rewards that worths in dollar values just by holding TechnoSavvy Tokens in their wallets. Users can also avail rewards by reporting bugs via our “Buy Bounty Program”, this program encourages ethical hackers and security researchers to identify vulnerabilities in the project's code by offering rewards for responsible disclosure. </p></div></div>
                </div>
                <div class="point stage6">
                  <div class="stageTxt" onclick="moveText(stageTxt6)">
                  <div class="point-index d-orange"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
                  <div class="point-label orange">Security & Protection Audit</div>     
                  <div id="stageTxt6" class="textroad44"> 
                    <h3>Security & Protection Audit</h3>  
                    <p>    Security & Protection Audit has been scheduled with the project release lifecycle that is essential to identify and mitigate potential risks, enhance the project's security posture, and ensure that users' assets and data are safeguarded in the platform. This audit also considers the monitoring and addressing of security weaknesses, ensuring compliance with best practices, and maintaining the integrity of the project.  </p></div>  </div>               
                </div>
                <div class="point stage7">
                  <div class="stageTxt" onclick="moveText(stageTxt7)">
                    <div class="point-index d-green"><i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="point-label teal">
                        Security & Protection Testing</div>    
                    <div id="stageTxt7" class="textroad44">
                      <h3> Security & Protection Testing</h3>  
                      <p>     We have undergone this testing phase end to end monitor & addressed security risks in order to safeguard user funds, data, and the overall integrity of the project in the cryptocurrency ecosystem. Various Testing processes used to identify cyber-attacks & possible vulnerabilities in the project's software, network, infrastructure and to monitor the implemented controllers that ensures only authorized users can access specific functionalities and sensitive information of the platform. Major Assessment have been processed to monitor the project's network architecture and security measures that prevents the unauthorized access, data breaches, and Distributed Denial of Service (DDoS) attacks. As a result, security testing is crucial to identify potential weaknesses that includes sensitivity & value of assets involved in crypto projects. </p></div>       </div>           
                  </div>
                  <div class="point stage8">
                    <div class="stageTxt" onclick="moveText(stageTxt8)">
                    <div class="point-index d-green"><i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="point-label teal">Platform Development</div>    
                    <div id="stageTxt8" class="textroad44">
                      <h3>Platform Development</h3>  
                     <p>    User Interface is the most attractive part of the platform that ensures high-level interactivity & a user-friendly view. The UIs are designed in such a way that they are accessible to all types of devices & can fit to all screen-sizes as the Effective UI design contributes to user trust, engagement, and the overall success of the platform. </p> </div>    </div>              
                  </div>
                  <div class="point stage9">
                    <div class="stageTxt" onclick="moveText(stageTxt9)">
                    <div class="point-index d-green"><i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="point-label teal">First Infrastructure Solution</div>     
                    <div id="stageTxt9" class="textroad44" > 
                      <h3>First Infrastructure Solution</h3>  
                      <p> Our Infrastructure Solution is the core building blocks of wide range of elements, including consensus mechanisms, networking protocols, data storage methods, smart contract platforms, security features, and more. The infrastructure is designed in a way that can address technical challenges and requirements of the project, laying the groundwork for the successful implementation and functioning of the blockchain-based application or network. </p></div>  
                  </div>               
                  </div>
                  <div class="point stage10">
                    <div class="stageTxt" onclick="moveText(stageTxt10)">
                    <div class="point-index d-green"><i class="fa fa-check" aria-hidden="true"></i>                    </div>
                    <div class="point-label marfive teal">Research & Idea Validation</div>      
                    <div id="stageTxt10" class="textroad44">  
                      <h3>Research & Idea Validation </h3>  
                      <p>Research has been conducted for the thorough analysis & assessment of feasibility & viability of this blockchain project. The Idea has been validated after addressing market needs & dynamics, potential user base & competitive landscape. This project's USPs help in ensuring that it addresses a real need, has a solid technical foundation, complies with regulations, and can attract the necessary support from users, investors, and stakeholders.</p> </div> </div>               
                  </div>
                  <div class="point-color-list mt-3">
                    <ul>
                      <!-- <li class="completed">Achieved</li> -->
                      <li class="inporcess">In-process</li>
                      <li class="notMention">TBA</li>
                    </ul>
                  </div>
              </div></div>


            </div>

              <div class="col-md-4 col-xs-12">
           <div id="showroad-text" class="road-detail44">
            <h3>Research & Idea Validation </h3>  
            <p>Research has been conducted for the thorough analysis & assessment of feasibility & viability of this blockchain project. The Idea has been validated after addressing market needs & dynamics, potential user base & competitive landscape. This project's USPs help in ensuring that it addresses a real need, has a solid technical foundation, complies with regulations, and can attract the necessary support from users, investors, and stakeholders.</p>
               </div>
              </div>

            </div></div>
            <!-- mobile -->
            <div class="d-block d-lg-none">
              <div class="row">
                <div class="col-12">
                  <div class="roadmap-container">
                    <div class="timeline-block timeline-block-right">
                        <div class="marker fill1"></div>
                        <div class="timeline-content">
                          <h3 class="green">Research &amp; Idea Validation</h3>
                          <p>Research has been conducted for the thorough analysis &amp; assessment of feasibility &amp; viability of
                            this blockchain project. The Idea has been validated after addressing market needs &amp; dynamics,
                            potential user base &amp; competitive landscape. This project's USPs help in ensuring that it
                            addresses a real need, has a solid technical foundation, complies with regulations, and can
                            attract the necessary support from users, investors, and stakeholders.</p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-left">
                        <div class="marker fill1"></div>
                        <div class="timeline-content">
                          <h3 class="green">First Infrastructure Solution</h3>
                          <p> Our Infrastructure Solution is the core building blocks of wide range of elements, including
                            consensus mechanisms, networking protocols, data storage methods, smart contract platforms,
                            security features, and more. The infrastructure is designed in a way that can address technical
                            challenges and requirements of the project, laying the groundwork for the successful
                            implementation and functioning of the blockchain-based application or network. </p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker fill1"></div>
                        <div class="timeline-content">
                          <h3 class="green">Platform Development</h3>
                          <p> User Interface is the most attractive part of the platform that ensures high-level interactivity
                            &amp; a user-friendly view. The UIs are designed in such a way that they are accessible to all types
                            of devices &amp; can fit to all screen-sizes as the Effective UI design contributes to user trust,
                            engagement, and the overall success of the platform. </p>

                        </div>
                    </div>

                    <div class="timeline-block timeline-block-left">
                        <div class="marker fill1"></div>
                        <div class="timeline-content">
                          <h3 class="green"> Security &amp; Protection Testing</h3>
                          <p> We have undergone this testing phase end to end monitor &amp; addressed security risks in order to
                            safeguard user funds, data, and the overall integrity of the project in the cryptocurrency
                            ecosystem. Various Testing processes used to identify cyber-attacks &amp; possible vulnerabilities in
                            the project's software, network, infrastructure and to monitor the implemented controllers that
                            ensures only authorized users can access specific functionalities and sensitive information of the
                            platform. Major Assessment have been processed to monitor the project's network architecture and
                            security measures that prevents the unauthorized access, data breaches, and Distributed Denial of
                            Service (DDoS) attacks. As a result, security testing is crucial to identify potential weaknesses
                            that includes sensitivity &amp; value of assets involved in crypto projects. </p>

                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker fill3"></div>
                        <div class="timeline-content">
                          <h3 class="orange">Security &amp; Protection Audit <span >[In-process]</span></h3>
                          <p> Security &amp; Protection Audit has been scheduled with the project release lifecycle that is
                            essential to identify and mitigate potential risks, enhance the project's security posture, and
                            ensure that users' assets and data are safeguarded in the platform. This audit also considers the
                            monitoring and addressing of security weaknesses, ensuring compliance with best practices, and
                            maintaining the integrity of the project. </p>

                        </div>
                    </div>
                    <div class="timeline-block timeline-block-left">
                        <div class="marker fill3"></div>
                        <div class="timeline-content">
                          <h3 class="orange">Pre-Beta Sale <span >[In-process]</span></h3>
                          <p> This phase is for users that are bound by our SAFT contract which is specifically designed for
                            the early investors or early buyers of the TechnoSavvy Token. This is the best chance phase for the users
                            who wants to buy TechnoSavvy token at the best price which is $1.25 before the price goes up &amp; can be
                            eligible to become a community member to avail multiple benefits I.e., maximum cashback, zero
                            transaction fees, referral bonuses &amp; rewards that worths in dollar values just by holding TechnoSavvy
                            Tokens in their wallets. Users can also avail rewards by reporting bugs via our “Buy Bounty
                            Program”, this program encourages ethical hackers and security researchers to identify
                            vulnerabilities in the project's code by offering rewards for responsible disclosure. </p>

                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker fill3"></div>
                        <div class="timeline-content">
                          <h3 class="orange">User Acceptance Testing (UAT) <span >[In-process]</span></h3>
                          <p> UAT is the most crucial phase of Software Development Lifecycle. This phase is scheduled in our
                            release lifecycle &amp; this will be processed within the organization and in between the internal team
                            of the project to ensure that the project aligns with user expectations and requirements. It helps
                            identify and rectify potential issues before the project's official release for “Public UAT”,
                            leading to a more reliable and user-friendly product.</p>
                        </div>
                    </div>
                    <div class="timeline-block timeline-block-left">
                        <div class="marker fill2"></div>
                        <div class="timeline-content">
                          <h3>Beta-User Testing <span>[TBA]</span></h3>
                          <p> Beta-user testing is a crucial step in the development process of a crypto project, as it helps
                            identify and rectify issues before the product officially launches in the public. This allows
                            developers &amp; project team members to identify and address any issues, improve user experience, and
                            ensure that the project functions as intended in a real-world environment. This phase will come
                            with multiple options for the end users those who represent the project's target audience, known
                            as "beta testers" or "beta users." Encourages beta-users to actively use the platform and report
                            any bugs, glitches, or technical issues they encounter during their testing. This can include
                            issues related to user interface, functionality, security, Feedback on platform performance &amp;
                            usability, Iterative development, Engagement &amp; Communication and more. As a result of this phase,
                            product official launch can be monitored that may include finalizing documentation, marketing
                            materials, and user support resources. </p>

                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker fill2"></div>
                        <div class="timeline-content">
                          <h3>Public UAT <span>[TBA]</span></h3>
                          <p>Public UAT, the phase of end users who can have access to end-to-end application after their
                            enrolled participation in the Pre-Beta &amp; Beta-Release phase of our platform.</p>

                        </div>
                    </div>
                    <div class="timeline-block timeline-block-left">
                        <div class="marker fill2"></div>
                        <div class="timeline-content">
                          <h3>Public Release <span>[TBA]</span></h3>
                          <p> Public Release is the final phase of our project release lifecycle. All types of users can
                            access end-to-end applications. Registered users can deposit their assets within the exchange, can
                            initiate trade & then, can withdraw their assets from the exchange. All the community members of
                            TechnoApp are eligible to avail maximum benefits (Cashback on each trade, zero transaction fees etc.)
                            that was promised with them. All the Beta-Users who have successfully participated in our Pre-Beta
                            Release phase & Bug Bounty programs, can redeem their rewards & bonus from the platform that was
                            earned during Beta-Release. </p>

                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </section> 
    @section Scripts{
    <script>
        function moveText(e) {
            var x = $(e).html();
            $('#showroad-text').html();
            $('#showroad-text').html(x);
        }
        $('.timeline-content p').hide();
        $('.timeline-content h3').on('click', function () {
            var txt = $(this).parent().children('p');
            txt.slideToggle();
        })
    </script>
    }