<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span>Internal Transfer </span>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="css77-buyc-outer">
                    <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                        <div class="funding-form">
                            <form id="msform" autocomplete="off">
                                <!-------==========================================--------->
                                <div class="form-group">
                                    <label class="form-label"> From</label>
                                    <select class="form-select2 form-select" aria-label="Wallet">
                                        <option selected="">Select Wallet</option>
                                        <option value="1">Earn Wallet</option>
                                        <option value="2">Spot  Wallet</option>
                                        <option value="2">Funding  Wallet</option>
                                    </select>
                                </div>
                                <!-------==========================================--------->
                                <div id="select100per" class="form-group mt-3">
                                    <label class="form-label">Select the token you would like to transfer</label>
                                    <div class="input-group mb-3">
                                        <div class=" form-select3 ">
                                            <select class="my-select" aria-label="Transfer">
                                                <option data-img-src="images/coin/BNB.png">BNB</option>
                                                <option data-img-src="images/coin/BTC.png">BTC</option>
                                                <option data-img-src="images/coin/BUSD.png">BUSD</option>
                                                <option data-img-src="images/coin/CHZ.png">CHZ</option>
                                                <option data-img-src="images/coin/DAI.png">DAI</option>
                                                <option data-img-src="images/coin/ETH.png">ETH</option>
                                                <option data-img-src="images/coin/LINK.png">LINK</option>
                                                <option data-img-src="images/coin/LUNC.png">LUNC</option>
                                                <option data-img-src="images/coin/MATIC.png">MATIC</option>
                                                <option data-img-src="images/coin/TechnoSavvy.png">TechnoSavvy</option>
                                                <option data-img-src="images/coin/USDC.png">USDC</option>
                                                <option data-img-src="images/coin/USDT.png">USDT</option>
                                                <option data-img-src="images/coin/wBTC.png">wBTC</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter Amount">
                                    </div>
                                    <span class="sleft432 float-right"> Available Balance: 500 BNB</span>
                                </div>
                                <!-------==========================================--------->
                                <!-----------------tab div--------------------------->
                                <!-------==========================================--------->

                                <div class="form-group ">
                                    <!-------==========================================--------->
                                    <div id="widrtab44div">
                                        <label class="lable-name22"> Transfer to</label>
                                        <!-------==========================================--------->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#imgone11"> With in Wallet  </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#imgtwo11">Other TechnoApp User's Wallet </a>
                                            </li>
                                        </ul>
                                        <!-------==========================================--------->
                                        <div class="tab-content">
                                            <!-------==============tab first content============================--------->
                                            <div class="tab-pane active" id="imgone11">
                                                <!-------==========================================--------->
                                                <div class="form-group mt-4">
                                                    <label class="form-label">To</label>
                                                    <select class="form-select2 form-select" aria-label="Wallet">
                                                        <option selected="">Spot Wallet</option>
                                                        <option value="1">Funding Wallet</option>
                                                        <option value="2">Earn Wallet</option>
                                                    </select>
                                                </div>                                              
                                                <a class="gent-btn mt-3" type="button" asp-controller="internaltransfer" asp-action="internaltransferconfirmation"> Confirm </a>
                                             
                                            </div>
                                            <!-------==========================================--------->
                                            <!-------============second tab content==============================--------->

                                            <div class="tab-pane " id="imgtwo11">
                                                <!-------==========================================--------->
                                                <div class="form-group mt-4 dflexdiv">
                                                    <span class="csstime55-text text-left">You have additional <span class="orange">200 BNB </span> in your other wallets. Do you want to include them also? </span>

                                                    <span>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" data-bs-toggle="collapse" data-bs-target="#wallet3288" aria-expanded="true" checked>
                                                        </div>
                                                    </span>
                                                </div>

                                                <!-------==========================================--------->

                                                <div id="wallet3288" class="collapse">
                                                    <div class="selord43ews">
                                                        <div class="methdiv432 active">
                                                            <div class="form-check dflex20div">
                                                                <input class="form-check-input" type="checkbox" value="" id="spotwallet">
                                                                <label class="form-check-label" for="spotwallet">
                                                                    Spot Wallet
                                                                    <span>Include 300 INR balance of spot wallet.</span>
                                                                </label>
                                                            </div>
                                                            <div class="metfee">Avl bal: 3000 INR </div>
                                                        </div>

                                                        <div class="methdiv432">
                                                            <div class="form-check dflex20div">
                                                                <input class="form-check-input" type="checkbox" value="" id="earnwallet">
                                                                <label class="form-check-label" for="earnwallet">
                                                                    Earn Wallet
                                                                    <span>Include 300 INR balance of spot wallet.</span>
                                                                </label>
                                                            </div>
                                                            <div class="metfee">Avl bal: 3000 INR </div>
                                                        </div>

                                                        <div class="methdiv432">
                                                            <div class="form-check dflex20div">
                                                                <input class="form-check-input" type="checkbox" value="" id="fundwallet">
                                                                <label class="form-check-label" for="fundwallet">
                                                                    Fund Wallet
                                                                    <span>Include 300 INR balance of spot wallet.</span>
                                                                </label>
                                                            </div>
                                                            <div class="metfee">Avl bal: 3000 INR </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-------==========================================--------->
                                                <!-------==========================================--------->

                                                <div class="form-group mt-4">
                                                    <label class="form-label">Wallet Address</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Select address from address book" aria-describedby="button-addon2">
                                                        <button type="button" class="btn book44cs" data-bs-toggle="collapse" data-bs-target="#bankdetail88" aria-expanded="true"><i class="fa fa-book" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>

                                                <!-------==========================================--------->
                                                <div id="bankdetail88" class="collapse">
                                                    <div id="widrtab44div " class="form-group">
                                                        <div id="multisediv" class="input-group mb-3">


                                                            <div class="dropdown-list">
                                                                <div class="mx-2 my-2">
                                                                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                                                                </div>
                                                                <div class="selectdiv43">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id=" ">
                                                                        <label for="checkbox-custom_21" class="checkbox-custom-label">
                                                                            <div class="flexwsbox435"> <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span></div>
                                                                            <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="selectdiv43">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id=" ">
                                                                        <label for="checkbox-custom_21" class="checkbox-custom-label">
                                                                            <div class="flexwsbox435"> <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span></div>
                                                                            <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="selectdiv43">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id=" ">
                                                                        <label for="checkbox-custom_21" class="checkbox-custom-label">
                                                                            <div class="flexwsbox435"> <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span></div>
                                                                            <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="selectdiv43">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id=" ">
                                                                        <label for="checkbox-custom_21" class="checkbox-custom-label">
                                                                            <div class="flexwsbox435"> <span>ETH</span> <span class="smalltext">2354653jdfhgudfGDFgj12245824 </span></div>
                                                                            <div class="Csswd45r"> <span>Yogita ETH address</span></div>
                                                                        </label>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-------==========================================--------->
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id=" ">
                                                    <label class="form-check-label orange" for=" ">
                                                        Add this address to whitelist
                                                    </label>
                                                </div>
                                                <!-------==========================================--------->
                                                <div class="addlisdet3422">
                                                    <div class="adtext4328X">
                                                        <span class="tith4"> Address </span> <span class="texth5"> 0985462-JKL142VFR24KJ </span>
                                                    </div>
                                                    <div class="adtext4328X">
                                                        <span class="tith4">Network </span> <span class="texth5"> TechnoApp </span>
                                                    </div>
                                                    <div class="adtext4328X">
                                                        <span class="tith4">Whitelist </span> <span class="texth5"> Whitelisted </span>
                                                    </div>
                                                </div>                                                
                                                <a class="gent-btn mt-3" type="button" asp-controller="Internaltransfer" asp-action="internaltransfersummary"> Confirm</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-------==========================================--------->
                                <!---------------------------close tab div----------------->

                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12">
                @await Html.PartialAsync("partial/_RightFAQ")
            </div>
        </div>
        <!----------------------------------------------->
    </div>
</section>
@section Scripts{
      
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/select.min.js"></script>
        <script src="~/minjs/images-select.min.js"></script>
    }
    else
    {          
        <script src="~/js/select.js"></script>
        <script src="~/js/images-select.js"></script>
    }
   
   
    <script>
        LoadCurrIfNot();

        $(document).ready(function () {
            $(".my-select").chosen({ width: "100%" });
            formateAll();

        });
    </script>
    }