<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span>Internal Transfer</span>
            </span>

        </div>
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="css77-buyc-outer">
                    <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                        <div class="css77buy-box">
                            <div id="msform" class="confpenddiv">
                                <div class="modegred34">
                                    <!-------------------------------------------------------------------->
                                    <div class="vericond432"> <i class="fa fa-check d-green" aria-hidden="true"></i></div>
                                    <!-------------------------------------------------------------------->
                                    <h5 class="basegreen">Transfer Successfull!</h5>
                                    <!-------------------------------------------------------------------->
                                    <div class="specdivid mt-2">
                                        <span>Transaction ID </span>
                                        <span><a href="transaction.html">45bghjdf2145 </a></span>
                                    </div>
                                    <!-------------------------------------------------------------------->
                                    <div class="csstime55-dep mt-2 text-center">Transfer Confirmed for <span class="orange">5.00 ETH</span>!</div>
                                    <!-------------------------------------------------------------------->
                                    <div class="text-div44">
                                        <div class="csstime55-text cssfun44-div mt-3">
                                            Your transfer request for <span class="orange">3.00 ETH</span>. Check your wallet.
                                        </div>
                                    </div>
                                    <!-------------------------------------------------------------------->
                                </div>
                                <!-------------------------------------------------------------------->
                                <div class="dflexcenter2">
                                    <a class="btn withsumm-btn  mt-4 " type="button" asp-controller="wallet" asp-action="index">Acknowledge</a>
                                </div>
                                <!-------------------------------------------------------------------->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12">
                @await Html.PartialAsync("partial/_RightFAQ")
            </div>

        </div>

        <!----------------------------------------------->
    </div>
  
</section>