@model vmBase
@{
    ViewData["Title"] = "TechnoApp Cashback: Earn Rewards on Every Trade";   
}
@section Header {
    <meta name="description" content="Trade smart with TechnoApp Cashback! Earn rewards with every trade, ensuring you get more out of your crypto transactions. Start trading and earning today." />
}
<section class="page-section  bg1">
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12">
                <div class="css566-heading mb-3">
                    <h1> Cashback </h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12">
                <div class="index-links">
                    <ul>
                        <li><a asp-controller="home" asp-action="index" class="url-1"> Home </a></li>
                        <li>|</li>
                        <li class="url-1">Cashback</></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg1 page-section">
    <div class="container">
        <div class="row">
            <div class="disclimer-div">
                <div class="index-linkcounts">                   
                    <div class="cashdetai234 placeholder-glow" id="cashbackNavTop">
                        <div class="col-detnavtop">
                            <div class="row mb-3 align-items-center">
                                <div class="col-3">                                      
                                    <div  class="placeholder col-2 rounded-circle" style="width: 70px; height: 70px;"></div>                                      
                                </div>
                                <div class="col-3">                                    
                                    <div class="pl-5">
                                    <div  class="placeholder mb-2" style="width: 100px; height: 15px;"></div>
                                    <div  class="placeholder" style="width: 150px; height: 15px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-cashnav">
                            <div  class="placeholder mb-2" style="width: 100px; height: 15px;"></div>
                            <div  class="placeholder mb-2" style="width: 150px; height: 15px;"></div>
                            <div  class="placeholder" style="width: 200px; height: 15px;"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 padding-right55">
                <p>TechnoApp is the world's most rewarding crypto exchange offering Cashback on each trade to all its Community Members. Cashback rewards on the platform enable TechnoApp Community Members to gain more asset value on every trade. TechnoSavvy is the backbone of the TechnoApp trading engine, making all the benefits possible.</p>
                <p class="mt-4">
                    <small>  Visit <a asp-controller="academy" asp-action="detail" asp-route-tab="feature-heading" asp-route-name="featurecashback" class="url-1" target="_blank">TechnoApp Academy</a> for more information</small>
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="selcasdiv44">

                    <div id="cashback" style="height: 300px"></div>
                </div>
            </div>

            <div class="disclimer-div">
                <h2 id=" "><span><img src="../images/cashbackcommunity.png"></span> <span class="ps-3">TechnoSavvy Token </span> </h2>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 padding-right55">
                        <p>
                            TechnoSavvy is the native utility token of TechnoApp, which  encapsulates the traded asset value on TechnoApp.
                        </p>
                        <p>  The innovative trading engine of TechnoApp facilitates every trade (ETC/BTC or BTC/SOL or any other) on the exchange utilizing the TechnoSavvy token that generates huge demand for the token to settle every trade.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 padding-left55">
                        <p>
                            The high demand of TechnoSavvy and its limited supply leads to continuous capital appreciation. In return, TechnoApp rewards its Community Members for participating in the trading ecosystem.
                        </p>

                        <div class="examplediv34">
                            <p><i> The more the trade, the higher the demand for TechnoSavvy and the more value appreciation of the token.</i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="disclimer-div">
                <h2 id=" "><span><img src="../images/cashbacktoken.png"></span> <span class="ps-3">How TechnoSavvy  Appreciation Outcome</span></h2>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-right55">
                        <p>
                            As per <span class="d-inline-block opencss11" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="AMM is the acronym for the Automated Market Maker Algorithm. It will be used on TechnoApp to determine the working mechanism and the price of TechnoSavvy. 
                " data-bs-original-title="" title=""> AMM*   </span> (Automated Market Maker) Equation, that relies on a mathematical formula to price assets.
                        </p>
                        <p class="formuladiv33">X<sub>1</sub>*Y<sub>1</sub> = k</p>
                        <p>
                            Where, X<sub>1</sub> & Y<sub>1</sub> are the quantities of tokens (Token ‘A’ & Token ‘B’ respectively) in the liquidity pool.<br>
                            Where, k is a fixed constant, meaning the pool’s total liquidity (always must remain the same) And,
                        </p>
                        <p class="formuladiv33">
                            X<sub>2</sub> = Token A * X<sub>1</sub><br>
                            Y<sub>2</sub> = Token B * Y1<sub>1</sub><br>

                            X<sub>2</sub> = Y<sub>2</sub>
                        </p>
                        <p>Where X<sub>2</sub> & Y<sub>2</sub> are the equally weighted prices of two cryptocurrencies (Token ‘A’ & Token ‘B’ respectively) with different proportionate quantities (X<sub>1</sub>, Y<sub>1</sub>) in the pool that agreed to trade.</p>
                        <p>
                            Z is %age of change in liquidity of TechnoSavvy due to the value demand created by A (X<sub>2</sub>).
                            Therefore, the value of TechnoSavvy will increase by twice the Z after settlement.
                        </p>
                        <div class="formuladiv33">
                            <p> So, the equation is {TechnoSavvy +(2Z * TechnoSavvy)}</p>
                            <div class="smallfont33"> (TechnoSavvy’s price is considered before trade) </div>


                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
                        <p>Let us understand with the example</p>
                        <div class="examplediv34">
                            <p>
                                There is 10 ETH that agreed to be traded for 1 BTC and this trade results in a demand of 30,000 TechnoSavvy to settle. This demand of TechnoSavvy is 0.02% change in the liquidity pool for TechnoSavvy so the price of TechnoSavvy will increase and become 100.04% (after this trade.)
                                <div class="smallfont33">([{100+(2*0.02%*100)} =100.04%] = 100.04%) </div>
                            </p>
                         
                        </div>
                        <p>The equation shows the value of TechnoSavvy appreciates with every trade happening on the exchange. All the traders trading on TechnoApp contribute to the continuous price appreciation of TechnoSavvy.</p>
                        <p>Capital appreciation of TechnoSavvy is based on the total turnover of TechnoSavvy on TechnoApp and the value of the token is expected to grow rapidly. </p>
                        <p>The longer you will hold the TechnoSavvy token, the more yield you’ll earn. Cashback rewards are also offered in TechnoSavvy tokens, which means traders will get an excellent asset without spending more money.</p>
                        <p>
                            Due to its ground-breaking utility on the TechnoApp exchange, the TechnoSavvy token is expected to join the league of the top 20 cryptocurrencies.

                        </p>
                    </div>


                </div>
            </div>

            <div class="disclimer-div">
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-xs-12 col-sm-12 padding-right55">
                        <h2 id=" "><span><img src="../images/cashbackcrown.png"></span> <span class="ps-3">Why Community Members Only </span></h2>
                        <p>TechnoApp Community Members strengthen the TechnoApp Ecosystem and liquidity on the exchange. Thus, the cashback rewards are reserved for its Community Members only. Rewards earned by Non-Community Members are transferred to “Pool Refund”.</p>
                        <div class="examplediv34">
                            <p>“User must have TechnoSavvy tokens to gain TechnoSavvy token as cashback.”</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
                        <h2 id=" "><span><img src="../images/cashbackpool.png"></span> <span class="ps-3">Pool Refund </span></h2>

                        <p>Cashback earned by Non-Community Members is moved to the  Pool Refund. The pool refund is utilized for the benefit of Community Members. It ensures the consistent growth of TechnoApp ecosystem and encourages more people to join the community.</p>
                    </div>
                    <div id="pointuser2" class="col-md-12 specmuladiv33">  <p>To earn cashback, a user<sup><a href="#section2"> 2</a></sup> need to be a TechnoApp Community Member by purchasing and holding at least 500 TechnoSavvy tokens in their TechnoApp earn wallets.</p> </div>
                </div>

            </div>
            >
            <div class="disclimer-div">
                <h2 id=" "><span><img src="../images/cashbackcalculator.png"></span> <span class="ps-3">Cashback Calculation </span></h2>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-right55">
                        <p>TechnoApp rewards its Community Members with Cashback of up to 0.05% of the transaction value, which is distributed between the Takers and Makers, @@ 60% and 40%, respectively. Yes, Takers are given more. </p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-left55">
                        <p>Let’s understand it through an example:</p>
                        <div class="examplediv34">
                            <p>
                                If a transaction of $100,000 happens on TechnoApp, Takers can get a cashback of $30 TechnoSavvy ($100,000 * 0.05% * 60%).<br>
                                Cashback for Makers on the exchange will be $20 worth of TechnoSavvy ($100,000 * 0.05% * 40%).
                            </p>
                        </div>

                    </div>

                </div>
            </div>


            <div class="disclimer-div">
                <h2 id=" "><span><img src="../images/cashbackstaking.png"></span> <span class="ps-3">Staking Benefits</span></h2>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12  padding-right55">
                        <p>
                            TechnoApp is offering the early bird opportunity to the people believing in its vision. Traders can stake TechnoSavvy Tokens and get increased cashback rewards apart from the capital appreciation.
                        </p>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12  padding-left55"><p> On Staking  5,000 TechnoSavvy Tokens, traders can get an assured cashback of 0.05% of the trading volume for the first 5 transactions of the day. The cashback is increased to 0.1% on Staking 50,000 TechnoSavvy Tokens on unlimited trades.</p></div>
                </div>
            </div>

        </div>


        <div class="disclimer-div">
            <h2 class="mb-2">Cashback Limit & Condition</h2>
            <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                <div id="lcashback544" class="table-xscroll44">
                    <table class="table  cssearn-table">
                        <thead class="trasaction-table-title">
                            <tr>
                                <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text">Level</th>
                                <th nowrap="nowrap" rowspan="3" colspan="2" scope="rowgroup" class="css566-table-text text-left">Condition</th>
                                <th nowrap="nowrap" colspan="2" class="css566-table-text text-center w-50 orange">Cashback</th>

                            </tr>
                            <tr>
                                <th id="currentcycle1" nowrap="nowrap" class="css566-table-text text-center">Maker  </th>
                                <th nowrap="nowrap" class="css566-table-text text-center">Taker</th>
                            </tr>
                        </thead>
                        <tbody class="trasaction-table cashdic88">

                            <tr>
                                <td class="text-left">
                                    <span class="opencss11  float-left">Non-Community Members*</span>
                                </td>
                                <td colspan="2"  class="text-left">Users holding < 500 TechnoSavvy </td>
                             
                                <td class="text-center">0.00%  </td>
                                <td class="text-center">0.00%   </td>
                            </tr>

                            <tr>
                                <td class="text-left">
                                    <span class="opencss11  float-left">Community Members</span>
                                </td>
                                <td colspan="2" class="text-left">Users holding ≥ 500 TechnoSavvy in Earn wallet [Membership Staked] </td>

                                <td class="text-center">0.02%  </td>
                                <td class="text-center">0.03%   </td>
                            </tr>
                             <tr>
                                <td rowspan="2" class="text-left">
                                    <span  class="opencss11  float-left">Standard Stakers*</span>
                                </td>
                                <td rowspan="2" class="text-left">Staking ≥ 5,000 TechnoSavvy </td>
                                <td class="text-left">First 5 Transaction Per Day [24h] </td>
                                <td class="text-center">0.05%  </td>
                                <td class="text-center">0.05%   </td>
                            </tr>
                            <tr>
                               
                                <td class="text-left">After 5 Transactions </td>
                                <td class="text-center">0.02%  </td>
                                <td class="text-center">0.03%   </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <span class="opencss11  float-left">Premium Stakers</span>
                                </td>
                                <td colspan="2" class="text-left">Staking ≥ 50,000 TechnoSavvy </td>
                                <td class="text-center">0.10% </td>
                                <td class="text-center">0.10%   </td>
                            </tr>


                  
                 
                        </tbody>
                    </table>

                </div>
                <p><i>* Limited Offer</i></p>

            </div>
        </div>

        <div class="disclimer-div">
            <h2 class="mb-2"> Cashback Summary</h2>
            <div id="comunity-css566-box" class="comunity-css566-box table-responsive mb-3">
                <div class="table-xscroll44 cashtableh44">
                    <table class="table  cssearn-table placeholder-glow" id="cashBackTable">
                        <thead class="trasaction-table-title">
                            <tr>
                                <th nowrap="nowrap" rowspan="3" scope="rowgroup" class="css566-table-text">Market</th>
                                <th nowrap="nowrap" colspan="2" class="css566-table-text text-center w-50 orange">Cashback </th>

                            </tr>
                            <tr>
                                <th id="currentcycle1" nowrap="nowrap" class="css566-table-text text-center">Current <a href="#section2"><sup>1</sup></a> </th>
                                <th nowrap="nowrap" class="css566-table-text text-center">YTD</th>
                            </tr>
                        </thead>
                        <tbody class="trasaction-table">
                             <tr>
                                <td style="min-width: 200px;">
                                    <div class="row g-0 align-items-center">
                                        <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                        <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                    </div>
                                </td>
                                                      
                                <td>
                                    <div class="placeholder w-50 text-center" style="height: 15px;"></div>
                                </td>
                                <td>
                                    <div class="placeholder w-75 text-center" style="height: 15px;"></div>
                                </td>                                                     
                                                      
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <div class="row g-0 align-items-center">
                                        <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                        <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                    </div>
                                </td>
                                                      
                                <td>
                                    <div class="placeholder w-50 text-center" style="height: 15px;"></div>
                                </td>
                                <td>
                                    <div class="placeholder w-75 text-center" style="height: 15px;"></div>
                                </td>                                                     
                                                      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p id="section2" class="small-text44">
                <span>  <a href="#currentcycle1"> <sup>1</sup></a> Due at end of current cycle<br></span>
                <span> <a href="#pointuser2"> <sup>2</sup></a> User registered with full KYC (Know Your Customer)</span>
            </p>
        </div>


    </div>
</section>

@section Scripts{
    
    @if (ConfigEx.ShouldMini)
    {
        <script src="~/minjs/echarts.min.js"></script>    
        <script src="~/minjs/pcashback.min.js"></script>
    }
    else
    {
        <script src="~/js/echarts.min.js"></script>
        <script src="~/js/pCashBack.js"></script>
    }
    
    
    
    <script>


    </script>

}