@{
    ViewData["Title"] = "Stake Opportunity";
}
@section Header {
    <meta name="description" content="" />

}
<section class="stakingdiv99">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="stakingslide44">
                    <h1>TechnoApp Staking </h1>
                    <h3> Unlock the Benefits of Crypto’s Staking</h3>
                    <h4>Participate in TechnoApp's crypto staking program to earn rewards and enhance your cryptocurrency holdings. Join now for exciting opportunities!</h4>
                     
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="stkeimg5"> <img src="~/images/stake4.png" /></div>
        </div>
    </div>

        <div class="row px-2">
            
            @*Staking Opportunities secure*@
            <div id="comunity-css566-box" class="comunity-css566-box mt-5">
               <div class="row">
                   <div class="col-md-6">
                       <div class="headingappen px-0">Staking Opportunities</div>
                   </div>
                   <div class="col-md-6">
                        <div class="css33-rightpan">
                            <form  class="positionrelative" autocomplete="off">
                                <input type="search" class="market-search" placeholder="Search.." name="search"
                                       data-tab="StakingOpportunities">
                                <span class="searchbtn22"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </form>
                        </div>
                   </div>
               </div>               
                <div id="StakingOpportunities-main">
                    <div class="table-xscroll44 table-responsive mt-2 placeholder-glow">
                        <table class="table  cssearn-table">
                            <thead class="trasaction-table-title">
                                <tr>
                                    <th nowrap="nowrap" class="css566-table-text  text-left th-sticky-left">Token </th>
                                    <th nowrap="nowrap" class="css566-table-text">Minimum </th>
                                    <th nowrap="nowrap" class="css566-table-text">Maximum </th>
                                    <th nowrap="nowrap" class="css566-table-text">Days </th>
                                    <th nowrap="nowrap" class="css566-table-text">APY% </th>
                                    <th nowrap="nowrap" class="css566-table-text">Action </th>
                                </tr>
                            </thead>
                            <tbody id="StakingOpportunities" class="trasaction-table earn-wallet-tab-img">
                            
                                <tr>
                                    <td class="td-sticky-left">
                                        <div class="row g-0 align-items-center">
                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                        </div>
                                    </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div></td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div></td>
                                </tr>
                                <tr>
                                    <td class="td-sticky-left">
                                        <div class="row g-0 align-items-center">
                                            <div class="placeholder col-2 rounded-circle" style="width: 25px; height: 25px;"></div>
                                            <div class="placeholder col-5 ms-2" style=" height: 15px;"> </div>
                                        </div>
                                    </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div> </td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div></td>
                                    <td> <div class="placeholder w-50" style="height: 15px;"></div></td>
                                </tr>
                            </tbody>
                            <tfoot >
                                <tr>
                                    <td colspan="6">
                                        <div class="noheight54">
                                            <div class="norecord-div44">
                                                <span><img src="../images/no-data.png"></span>
                                                <span> No records found</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                     <div class="row">
                            <div class="col-12">
                                    <div class="my-navigation">
                                        <div class="simple-pagination-first"></div>
                                        <div class="simple-pagination-previous"></div>
                                        <div class="simple-pagination-page-numbers"></div>
                                        <div class="simple-pagination-next"></div>
                                        <div class="simple-pagination-last"></div>
                                    </div>
                                </div>
                        </div> 
                    </div>
                </div>
           @*Staking Opportunities secure end*@
            </div>
        <div class="row">
            <div class="stake-banner  mt-4  mb-4"><img src="/images/stakingcashback.png"> </div>
            <div class="bannertext33">
                <div class="headingappen pb-2">TechnoApp Staking: Your Path to a Personalized Savings Journey with High-Yield Returns </div>
                Experience a personalized savings journey with TechnoApp Staking, where you can earn interest on your preferred cryptocurrencies. Explore our range of flexible, Fixed, and Fixed + Extra products that offer competitive APRs with guaranteed returns.
            </div>
        </div>
        <!------------------------------------------>
        <div class="row mt-3">
            <div class="disclidiv33">
                <div class="headingdisclimer orange ">Disclaimer</div>
                <p> Use of TechnoApp Services is entirely at your own risk. All crypto Investment, including earnings, is highly speculative in nature and involves substantial risk of loss. Past, hypothetical, or simulated performance is not necessarily indicative of future results. There is no guarantee that your use of Staking product will result in profits or that will not result in full loss or losses.</p>
                <p>The value of digital currencies can go up or down and there can be a substantial risk in buying, selling, holding or trading digital currencies. You should carefully consider whether trading or holding digital currency is suitable for you based on your personal investment objective, financial circumstance and risk tolerance. TechnoApp does not provide any investment, legal or tax advice.     </p>
            </div>
        </div>
</div></section>

@section Scripts{
     @if (ConfigEx.ShouldMini)
        {           
        <script src="~/minjs/stakeopportunities.min.js"></script>
        }
        else
        {        
        <script src="~/js/stakeopportunities.js"></script>
        }
}