<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span> <a asp-controller ="stake" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                <span>Staking</span>
            </span>
            <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
        </div>
        <div class="row">

            <div class="csscenterscreen mt-4">

                <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">
                    <!--==============================================-->
                    <div class="css77withdrawl-box">
                        <!--==============================================-->
                        <h5 class="orange">Unstake TechnoSavvy</h5>
                        <!--==============================================-->
                        <div class="veriimg54"> <img src="/images/coin/coin/TechnoSavvy.png"></div>
                        <!--==============================================-->

                        <div class="notediv"> NOTE: Redemption of TechnoSavvy Tokens may impact your community status, that can be result onto your earned cashback & interest.</div>
                        <!--==============================================-->
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55"> Redemption Amount</div>
                            <div class="csssum-detail55  ">  5000.00 TechnoSavvy Tokens</div>
                        </div>
                        <!--==============================================-->
                        <div class="csstime55-text text-center orange mt-3">Are you sure, you want to unstake your TechnoSavvy tokens? </div>

                        <!--==============================================-->

                        <div class="dflexdiv">
                            <a class="btn withsumm-btn  d-dark   mt-4 " type="button" asp-controller="stake" asp-action="index"> Cancel</a>
                            <a class="btn  withsumm-btn  mt-4 " type="button" asp-controller="stake" asp-action="unstakeconfirmation">Unstake now </a>
                        </div>
                        <!--==============================================-->

                    </div>
                </div>

            </div>

            <!----------------------------------------------->
        </div>
        <!--==============================================-->
    </div>
</section>
