<section class="section-upload bg2">
    <div class="container">
        <div class="wallet-userdiv33">
            <span class="market-title-h2 headcss33">
                <span> <a asp-controller="stake" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                <span>Staking</span>
            </span>
            <!-- <span><a href="#" class="market-title-h4"></a> <i class="fa fa-pie-chart" aria-hidden="true"></i>  Market Overview </span> -->
        </div>
        <!--==============================================-->
        <div class="row">

            <div class="csscenterscreen mt-4">

                <div id="deposit-tabdiv" class="css77-buyc-div mt-4 mb-4">

                    <div class="css77withdrawl-box">
                        <!--==============================================-->
                        <div class="confpenddiv">
                            <!------------------------------>
                            <div class="modegred34">
                                <div class="vericond432"> <i class="fa fa-check d-green" aria-hidden="true"></i></div>
                            </div>
                            <!--------------------------------------->
                            <h5 class="orange"> Unstake Confirmed!</h5>
                            <!---------------------------->
                            <div class="csstime55-dep mt-2 text-center"> You have successfully unstaked your <span class="orange"> 500 TechnoSavvy </span> Tokens.</div>
                            <!------------------------->
                        </div>
                        <!--==============================================-->
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Subscription Date</div>
                            <div class="csssum-detail55 ">  2023-02-20 | 10:27</div>
                        </div>
                        <!--==============================================-->
                        <div class="css77-withdrawlS">
                            <div class="csssum-title55">Redemption Date</div>
                            <div class="csssum-detail55 ">  2023-02-20 | 10:27</div>
                        </div>
                        <!--==============================================-->

                        <div class="dflexcenter2">
                            <a class="btn withsumm-btn  mt-4 " type="button" asp-controller="stake" asp-action="index">Acknowledge</a>
                        </div>
                        <!--==============================================-->

                    </div>
                </div>

            </div>

            <!----------------------------------------------->
        </div>
        <!--==============================================-->
    </div>
</section>