@model vmBase

<section class="market-section bg2">
    <div class="container">
        <div class="row">
            <!---------------------------------------------------------------------->
            <!---------------------------------------------------------------------->
            <div id="market-tabs" class="market-tabs">
                <span>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link hide" data-bs-toggle="tab" href="#One"> One</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-bs-toggle="tab" href="#Two">Two </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#Three">Three</a>
                        </li>
                    </ul>
                </span>

                <span>
                    <form>
                        <input type="text" class="market-search" placeholder="Search" name="search">
                        <button type="submit" class="mar-sea-btn"><i class="fa fa-search"></i></button>
                    </form>
                </span>

                <!-- Tab panes -->

            </div>

            <div class="market-tabs-content  mt-3">
                <div class="tab-content">
                    <div class="tab-pane " id="One">
                        <div class="market-tab-box market-trade-css44">
                            This is in the Favorite Tab Div
                        </div>
                    </div>
                </div>
            </div>
            <div class="market-tabs-content  mt-3">
                <div class="tab-content">
                    <div class="tab-pane " id="Two">
                        <div class="market-tab-box market-trade-css44">
                            This is in the Favorite Tab Div
                        </div>
                    </div>
                </div>
            </div>
            <div class="market-tabs-content  mt-3">
                <div class="tab-content">
                    <div class="tab-pane " id="Three">
                        <div class="market-tab-box market-trade-css44">
                            This is in the 'Three' Tab Div
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
@* @section Scripts{
    <script src="~/js/onetimeLoad.js"></script>
 }*@