@{
    Layout = "_LayoutPre";
    ViewData["Title"] = "Roadmap";

}
<section class="roadmap-section">
    <div class="container">
        <div class="col-12">
             <h1>Roadmap</h1>
       
        </div>
        <div class="d-none d-lg-block">
            <div class="row g-5">
                <div class="col-md-8 col-xs-12">
         <div class="roadmap-box"> 
          <p> We're thrilled about the direction TechnoApp is heading, as outlined in the project roadmap we've crafted below. </p>        
            <div class="roadmap">
                <div class="roadmap-bg"><img src="../images/RoadMap-bg-3.png" class="img-fluid"></div>
                <div class="point stage1">
                  <div class="stageTxt" onclick="moveText(stageTxt1)">
                  <div class="point-index"> <img src="../images/location-white.png"></div>
                  <div class="point-label">Full Launch and Growth </div>
              <div id="stageTxt1" class="textroad44"> 
                <h3>Full Launch and Growth </h3> 
                <ul class="beta-list44"> 
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Incubators for Fostering Creative Ventures:</strong> Fostering creativity and innovation through the launch of incubators, providing resources and guidance for nurturing emerging ventures.</span></li> 
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span><strong> Multi-Currency and FIAT Support: </strong>Enabling transactions in various currencies and traditional FIAT, expanding financial flexibility and accommodating global business needs effectively.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> Increasing in the number of platform users by at least 500K</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Launch a comprehensive marketing campaign to attract new users and build brand awareness.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Expand customer support services to accommodate the growing user base.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Develop mobile applications for iOS and Android to reach a wider audience.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>   <span>Explore regulatory compliance and obtain necessary licenses in relevant jurisdictions.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously innovate and introduce new features to stay competitive in the evolving crypto market.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Foster a strong community through educational initiatives, events, and a transparent communication channel.</span>  </li>
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Enhance platform features based on user feedback and market trends.</span> </li> 
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Integrate additional cryptocurrencies and trading pairs to expand the available options. </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Implement advanced trading features such as limit orders, stop-loss orders, and margin trading.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously optimize the platform's performance, scalability, and security.</span> </li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Establish partnerships with reputable projects and exchanges to enhance liquidity and market access.</span> </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Strategic Marketing Campaigns to increase the user base and lift any restrictions on user registration.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Reaching at least 10M platform users </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Leaderboard System </span></li>
                </ul>
              </div></div>
                </div>

                <div class="point stage3">
                  <div class="stageTxt" onclick="moveText(stageTxt3)">
                  <div class="point-index">  <img src="../images/location-white.png"> </div>
                  <div class="point-label">TechnoApp Beta Launch </div>
                  <div id="stageTxt3" class="textroad44"> 
                    <h3>TechnoApp Beta Launch</h3> 
                    <ul class="beta-list44"> 
                     <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Roll out the beta version of TechnoApp to a limited number of users.</span></li> 
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Monitor system performance, scalability, and security during the beta phase.</span></li>                       
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Collect user data and analytics to gain insights into user behavior and preferences.</span></li>                       
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Continuously iterate and improve the platform based on user feedback and market demands.</span> </li>                      
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Bug bounty beta version special reward distribution</span> </li>

                    </ul></div></div>
                </div>
                <div class="point stage4">
                  <div class="stageTxt  " onclick="moveText(stageTxt4)">
                  <div class="point-index ">  <img src="../images/location-yellow.png"> </div>
                  <div class="point-working "></div>
                  <div class="point-label orange">Compliance & User Acceptance Testing (UAT): Pre-Beta Launch </div>
                  <div id="stageTxt4" class="textroad44">
                    <h3>Compliance & User Acceptance Testing (UAT): Pre-Beta Launch </h3> 
                  <p>Ensuring adherence to regulations and user satisfaction through rigorous testing, verifying functionality and compatibility before deployment. </p> 
                  <ul class="beta-list44"> 
                    <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> <strong> Compliance Auditing Initiated:</strong> Systematic review of processes for regulatory adherence, enhancing transparency and risk management. </span></li>
                    <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Technical Testing Initiated: </strong>Rigorous assessment of TechnoApp functionality and performance, identifying and rectifying potential technical issues. </span></li>                      
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Solution Integration Initiated:</strong> Seamless merging of components and systems, ensuring cohesive functionality and enhancing project efficiency </span></li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> <strong>Beta User Invite & Registration:</strong> Roll out the pre-beta version of TechnoApp to a limited number of users. Monitor system performance, scalability, and security during the beta phase.</span> </li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> <strong> Community Contest and Giveaways:</strong> Offer incentives for beta users to encourage active participation and testing. </span></li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> <strong> De-risking Initiated: </strong>Strategic measures undertaken to mitigate potential risks, ensuring project stability.</span></li>
                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span><strong> Operation team onboarding continued:</strong> Operation team onboarding advances, integrating roles, norms, and resources for effective collaboration and progress.</span> </li>
                    </ul>
                </div></div></div>
               
                <div class="point stage5">
                  <div class="stageTxt" onclick="moveText(stageTxt5)">
                  <div class="point-index "><img src="../images/location-green.png"></div>
                  <div class="point-label teal">Branding, Marketing & Community Development </div>
                  <div id="stageTxt5" class="textroad44"> 
                    <h3>Branding, Marketing & Community Development </h3>  
                   <ul  class="beta-list44">
                    <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Integration of social media platforms and forums for marketing activities</span> </li>
                    <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Brand Building:</strong> Cross Posting and Engagement in other Groups  </span>   </li>                  
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Airdrop Promotion & Referral Program Promotion</span> </li>                       
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Influencers Partnership to raise Awareness </span></li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Users Registration and 40K users on official TechnoApp.</span></li>            
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>10K+ Telegram and Twitter community</span> </li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Community Building on Facebook 1.5K+ & Continuous Engagement</span> </li>                      
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>TechnoSavvy Token Listing on coin vote sites</span></li>                       
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>AMA Events and Twitter Spaces</span> </li>
                   </ul>
                  </div></div>
                </div>
                <div class="point stage6">
                  <div class="stageTxt" onclick="moveText(stageTxt6)">
                  <div class="point-index ">  <img src="../images/location-green.png"></div>
                  <div class="point-label teal">Full Scale Development</div>     
                  <div id="stageTxt6" class="textroad44"> 
                    <h3>Full Scale Development</h3>  
                    <ul  class="beta-list44">
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Market Research:</strong> Gathering and analyzing data to understand market trends, user preferences, and competitive landscape, aiding informed business decisions.</span> </li>
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Team Onboarding:</strong> Integrated diverse experts, sharing roles, aligning goals, and providing tools to ensure collaborative success in a project-driven environment.</span> </li>                     
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Infrastructure and Data Center Setup Completed:</strong> The infrastructure and data center setup has been successfully completed, guaranteeing secure and reliable data management to facilitate seamless operations. </span>    </li>                 
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Mitigating Process Risks:</strong> The process of identifying, evaluating, and reducing potential impediments or hazards within a system to improve its effectiveness and achievement. </span>    </li>                
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong>SAFT (Simple Agreement for Future Tokens) initiative has commenced:</strong> SAFT program initiated, outlining terms for future token issuance, fostering investor confidence and project advancement. </span> </li></ul>
                  </div>  </div>               
                </div>
                <div class="point stage7">
                  <div class="stageTxt" onclick="moveText(stageTxt7)">
                    <div class="point-index"> <img src="../images/location-green.png"></div>                 
                    <div class="point-label teal">
                      Idea Maturity & Enhancement  </div>    
                    <div id="stageTxt7" class="textroad44">
                      <h3>Idea Maturity & Enhancement </h3>  
                      <p>The project was carefully cultivated and evolved into a more refined and valuable proposition through a process that encompassed critical thinking, creativity, validation, and strategic alignment, thus bringing the idea closer to realizing its full potential.</p>
                      <ul  class="beta-list44">
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Risk Identification </span></li> 
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Multi-Disciplinary Skill Identification: Recognized a diverse team with a range of skills and expertise to contribute to the further development of TechnoApp.</span> </li>
                          <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Ecosystem and Architecture Development</span> </li>

                        </ul>
                    </div>       </div>           
                  </div>
                  <div class="point stage8">
                    <div class="stageTxt" onclick="moveText(stageTxt8)">
                    <div class="point-index"><img src="../images/location-green.png"></div>                   
                    <div class="point-label teal">Idea was Conceived </div>    
                    <div id="stageTxt8" class="textroad44">
                      <h3>Idea was Conceived </h3>  
                      <p>Extensive research has been carried out to comprehensively analyze and evaluate the feasibility and sustainability of this blockchain project. The concept has been validated by taking into account market requirements and dynamics, potential user engagement, and the competitive environment. This project's unique selling points (USPs) are instrumental in guaranteeing that it fulfills a genuine demand, possesses a robust technical underpinning, adheres to regulatory standards, and is capable of garnering the essential support from users, investors, and stakeholders.</p>
                      <ul  class="beta-list44">
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>     <span><strong>MVP Development:</strong> The Minimum Viable Product (MVP) will be successfully developed and crafted, representing the essential core functionalities and features, embodying the fundamental concept of the idea.</span>  </li> 
                        <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>      <span><strong>Thorough Technical & Compliance Validation:</strong> A thorough technical and compliance validation will be completed in the future, encompassing both technical and compliance aspects, with careful assessment and finalization.</span> </li>                       

                        </ul> </div>    </div>              
                  </div>
           
                  <div class="point-color-list mt-3">
                    <ul>
                      <!-- <li class="completed">Achieved</li> -->
                      <li class="inporcess">In-process</li>
                      <li class="notMention">TBA</li>
                    </ul>
                  </div>
              </div></div>

          </div>

                <div class="col-md-4 col-xs-12">
                    <div id="showroad-text" class="road-detail44">
              <h3>Full Launch and Growth </h3>
              <ul class="beta-list44">
                <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Incubators for Fostering Creative Ventures:</strong> Fostering creativity and innovation through the launch of incubators, providing resources and guidance for nurturing emerging ventures.</span></li> 
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span><strong> Multi-Currency and FIAT Support: </strong>Enabling transactions in various currencies and traditional FIAT, expanding financial flexibility and accommodating global business needs effectively.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> Increasing in the number of platform users by at least 500K</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Launch a comprehensive marketing campaign to attract new users and build brand awareness.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Expand customer support services to accommodate the growing user base.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Develop mobile applications for iOS and Android to reach a wider audience.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>   <span>Explore regulatory compliance and obtain necessary licenses in relevant jurisdictions.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously innovate and introduce new features to stay competitive in the evolving crypto market.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Foster a strong community through educational initiatives, events, and a transparent communication channel.</span>  </li>
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Enhance platform features based on user feedback and market trends.</span> </li> 
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Integrate additional cryptocurrencies and trading pairs to expand the available options. </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Implement advanced trading features such as limit orders, stop-loss orders, and margin trading.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously optimize the platform's performance, scalability, and security.</span> </li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Establish partnerships with reputable projects and exchanges to enhance liquidity and market access.</span> </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Strategic Marketing Campaigns to increase the user base and lift any restrictions on user registration.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Reaching at least 10M platform users </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Leaderboard System </span></li>
              </ul>
            </div>
                </div>

            </div>
        </div>
        <!-- mobile -->
         <div class="d-block d-lg-none">
        <div class="row">
          <div class="col-12">
            <div class="roadmap-container">

              <div class="timeline-block timeline-block-right">
                <div class="marker fill1"></div>
                <div class="timeline-content">
                  <h3 class="green">Idea was Conceived </h3>
                  <div class="betalist-mob">
                    <p>Extensive research has been carried out to comprehensively analyze and evaluate the feasibility and 
                        sustainability of this blockchain project. The concept has been validated by taking into account market 
                        requirements and dynamics, potential user engagement, and the competitive environment. This project's
                        unique selling points (USPs) are instrumental in guaranteeing that it fulfills a genuine demand, 
                        possesses a robust technical underpinning, adheres to regulatory standards, and is capable of garnering
                        the essential support from users, investors, and stakeholders.</p>
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong>MVP Development:</strong>The Minimum Viable Product (MVP) will be successfully developed and crafted, representing the essential core functionalities and features, embodying the fundamental concept of the idea.</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong>Thorough Technical & Compliance Validation:</strong>A thorough technical and compliance validation will be completed in the future, encompassing both technical and compliance aspects, with careful assessment and finalization.</span> </li>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="timeline-block timeline-block-right">
                <div class="marker fill1"></div>
                <div class="timeline-content">
                  <h3 class="green">Idea Maturity & Enhancement </h>
                  <div class="betalist-mob">
                    <p> The project was carefully cultivated and evolved into a more refined and valuable proposition through a process that encompassed critical thinking, creativity, validation, and strategic alignment, thus bringing the idea closer to realizing its full potential. </p>
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Risk
                          Identification </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Multi-Disciplinary
                          Skill Identification: Recognized a diverse team with a range of skills and expertise to
                          contribute to the further development of TechnoApp.</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Ecosystem and
                          Architecture Development</span> </li>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker fill1"></div>
                <div class="timeline-content">
                  <h3 class="green">Full Scale Development </h3>
                  <div class="betalist-mob">
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Market
                            Research:</strong> Gathering and analyzing data to understand market trends, user
                          preferences, and competitive landscape, aiding informed business decisions.</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Team
                            Onboarding:</strong> Integrated diverse experts, sharing roles, aligning goals, and
                          providing tools to ensure collaborative success in a project-driven environment.</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong>
                            Infrastructure and Data Center Setup Completed:</strong> The infrastructure and data center setup has been successfully completed, guaranteeing secure and reliable data management to facilitate seamless operations. </span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Mitigating Process Risks:</strong> The process of identifying, evaluating, and reducing potential impediments or hazards within a system to improve its effectiveness and achievement. </span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong>SAFT
                            (Simple Agreement for Future Tokens) initiative has commenced:</strong> SAFT program
                          initiated, outlining terms for future token issuance, fostering investor confidence and
                          project advancement. </span> </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="timeline-block timeline-block-right">
                <div class="marker fill1"></div>
                <div class="timeline-content">
                  <h3 class="green">Branding, Marketing & Community Development </h3>
                  <div class="betalist-mob">
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Integration of
                          social media platforms and forums for marketing activities</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Brand
                            Building:</strong> Cross Posting and Engagement in other Groups </span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> Airdrop Promotion
                          & Referral Program Promotion</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Influencers
                          Partnership to raise Awareness </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Users Registration
                          and 40K users on official TechnoApp.</span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>10K+ Telegram and
                          Twitter community</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Community Building
                          on Facebook 1.5K+ & Continuous Engagement</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>TechnoSavvy Token Listing
                          on coin vote sites</span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>AMA Events and
                          Twitter Spaces</span> </li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker fill3"></div>
                <div class="timeline-content">
                  <h3 class="orange">Compliance & User Acceptance Testing (UAT): Pre-Beta Launch </h3>
                  <div class="betalist-mob">
                    <p>Ensuring adherence to regulations and user satisfaction through rigorous testing, verifying
                      functionality and compatibility before deployment. </p>
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong>
                            Compliance Auditing Initiated:</strong> Systematic review of processes for regulatory
                          adherence, enhancing transparency and risk management. </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Technical
                            Testing Initiated: </strong>Rigorous assessment of TechnoApp functionality and performance,
                          identifying and rectifying potential technical issues. </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Solution
                            Integration Initiated:</strong> Seamless merging of components and systems, ensuring
                          cohesive functionality and enhancing project efficiency </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong>Beta User
                            Invite & Registration:</strong> Roll out the pre-beta version of TechnoApp to a limited number
                          of users. Monitor system performance, scalability, and security during the beta phase.</span>
                      </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Community
                            Contest and Giveaways:</strong> Offer incentives for beta users to encourage active
                          participation and testing. </span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong>
                            De-risking Initiated: </strong>Strategic measures undertaken to mitigate potential risks,
                          ensuring project stability.</span></li>

                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span><strong> Operation team onboarding continued:</strong> Operation team onboarding advances, integrating roles, norms, and resources for effective collaboration and progress.</span> </li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="timeline-block timeline-block-right">
                <div class="marker fill2"></div>
                <div class="timeline-content">
                  <h3>TechnoApp Beta Launch</h3>
                  <div class="betalist-mob">
                    <ul class="beta-list44">
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Roll out the beta
                          version of TechnoApp to a limited number of users.</span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Monitor system
                          performance, scalability, and security during the beta phase.</span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Collect user data
                          and analytics to gain insights into user behavior and preferences.</span></li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously
                          iterate and improve the platform based on user feedback and market demands.</span> </li>
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Bug bounty beta
                          version special reward distribution</span> </li>

                    </ul>
                  </div>

                </div>
              </div>

              

              <div class="timeline-block timeline-block-right">
                <div class="marker fill2"></div>
                <div class="timeline-content">
                  <h3>Full Launch and Growth </h3>
                  <div class="betalist-mob">
                    <ul class="beta-list44">
                       <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span> <strong> Incubators for Fostering Creative Ventures:</strong> Fostering creativity and innovation through the launch of incubators, providing resources and guidance for nurturing emerging ventures.</span></li> 
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span><strong> Multi-Currency and FIAT Support: </strong>Enabling transactions in various currencies and traditional FIAT, expanding financial flexibility and accommodating global business needs effectively.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span> Increasing in the number of platform users by at least 500K</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Launch a comprehensive marketing campaign to attract new users and build brand awareness.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Expand customer support services to accommodate the growing user base.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Develop mobile applications for iOS and Android to reach a wider audience.</span> </li>                    
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>   <span>Explore regulatory compliance and obtain necessary licenses in relevant jurisdictions.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously innovate and introduce new features to stay competitive in the evolving crypto market.</span></li>                     
                  <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Foster a strong community through educational initiatives, events, and a transparent communication channel.</span>  </li>
                   <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Enhance platform features based on user feedback and market trends.</span> </li> 
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Integrate additional cryptocurrencies and trading pairs to expand the available options. </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Implement advanced trading features such as limit orders, stop-loss orders, and margin trading.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Continuously optimize the platform's performance, scalability, and security.</span> </li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Establish partnerships with reputable projects and exchanges to enhance liquidity and market access.</span> </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Strategic Marketing Campaigns to increase the user base and lift any restrictions on user registration.</span>  </li>                    
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span>  <span>Reaching at least 100K platform users </span></li>                     
                      <li> <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> </span> <span>Leaderboard System </span></li>
                    </ul>
                  </div>
                </div>
              </div>

             

             
              
              
           

             


            

            </div>
          </div>
        </div>
      </div>
    </div>
</section>
@section Scripts{
    <script>
       function moveText(e) {
      var x = $(e).html();
      $('#showroad-text').html();
      $('#showroad-text').html(x);
    }
    $('.timeline-content .betalist-mob').hide();
$('.timeline-content h3').on('click', function() {
    var txt = $(this).parent().children('.betalist-mob');
    txt.slideToggle();
});
    </script>
    }